<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title pb-2">{{'objective_score_modal_title' | translate}}</h4>
       
       
         <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      </div>
      <!-- Modal body -->
      <div class="modal-body form-body">
        <p class="head-details">{{'sm_objective_score_modal_brief' | translate}}</p>
       
        <!-- <div class="row">
            <div class="col-md-12">
               <h6>{{'frequency' | translate}} :{{objectiveMesureSource?.value?.review_frequency}} </h6>

                <h6>{{'objective' | translate}}</h6>
                <h5 class="mb-1">{{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.title}}</h5>

                <h5 class="mb-3" style="font-weight: 600;"><small>{{objectiveMesureSource?.value?.strategy_profile_objective?.strategy_profile_focus_area?.strategy_profile?.title}}<span class="ml-2 mr-2"><i class="fas fa-angle-right"></i></span>  {{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.focus_area?.title}} <span class="ml-2 mr-2"><i class="fas fa-angle-right"></i> </span> {{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.title}}</small></h5>
            </div>
        </div> -->
      <div class="row">
         <div class="col-xl-3 col-lg-4 col-sm-6">
            <h6>{{'frequency' | translate}}</h6>
            <p>{{objectiveMesureSource?.value?.review_frequency}}</p>
         </div>

         <div class="col-xl-3 col-lg-4 col-sm-6">
            <h6>{{'strategy_profile' | translate}}</h6>
            <p>{{objectiveMesureSource?.value?.strategy_profile_objective?.strategy_profile?.title}}</p>
         </div>

         <div class="col-xl-3 col-lg-4 col-sm-6">
            <h6>{{'objective' | translate}}</h6>
            <p>{{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.title}}</p>
            <!-- <h5 class="mb-3" style="font-weight: 600;"><small>{{objectiveMesureSource?.value?.strategy_profile_objective?.strategy_profile_focus_area?.strategy_profile?.title}}<span class="ml-2 mr-2"><i class="fas fa-angle-right"></i></span>  {{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.focus_area?.title}} <span class="ml-2 mr-2"><i class="fas fa-angle-right"></i> </span> {{objectiveMesureSource?.value?.strategy_profile_objective?.objective?.title}}</small></h5> -->
         </div>

         <div class="col-xl-3 col-lg-4 col-sm-6"
            *ngIf="objectiveMesureSource?.value?.strategy_profile_objective?.strategy_profile_focus_areas?.length > 0">
            <h5 class="cmn-head-style mb-3">{{'focus_area' | translate}}</h5>
            <ul class="arrowlist mt-0 p-0">
               <li *ngFor="let focus of objectiveMesureSource?.value?.strategy_profile_objective?.strategy_profile_focus_areas">
                  {{focus?.focus_area?.title}}</li>
            </ul>
         </div>
      </div>

       
        
        <div class="row">
            <!-- <div class="col-md-4">
                <h5 class="mb-3 text-red" style="font-weight: 600;">{{'minimum_value' | translate}} : {{objectiveMesureSource?.value?.strategy_profile_objectiveKpi?.minimum}}</h5>
            </div>

            <div class="col-md-4">
                <h5 class="mb-3 text-green" style="font-weight: 600;">{{'maximum_value' | translate}} : {{objectiveMesureSource?.value?.strategy_profile_objectiveKpi?.maximum}}</h5>
            </div> -->

            <div class="col-md-4">
                <h5 class="mb-3 text-blue" style="font-weight: 600;">{{'target' | translate}} : {{objectiveMesureSource?.value?.strategy_profile_objective?.target}} {{objectiveMesureSource?.value?.strategy_profile_objective?.target_unit_id?.title}}</h5>
            </div>
        </div>
        <form [formGroup]="form" *mobxAutorun>

         <div class="row">
            <div class="col-sm-12">
               <div class="form-group" >
                  <label>{{'sm_achieved_target' | translate}}<span class="form-error">*</span></label>
                  <input formControlName="actual_value" type="text" class="form-control" [placeholder]="'sm_enter_achieved_target' | translate">
                  <p class="form-error pt-1" *ngIf="formErrors && formErrors.review_frequencies">{{formErrors.review_frequencies}}</p>

               </div>
            </div>
        </div>

        <!-- <div *ngIf="objectiveMesureSource?.value?.strategy_profile_objectiveKpi?.kpi_calculation_type?.type == 'calculate'">
        <div class="row" *ngFor="let input of dataInputArray;let num = index">
            <div class="col-lg-8 col-sm-8" >
               <div class="form-group">
                  <div class="bg-main data-input-select-box">
                     {{input.title}}  {{dummy_array[num]}}
                     <span class="tag-data-input-select-box">{{num + 1}}</span>
                 </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-4">
               <div class="form-group">
                 <input type="text" (input)="changeData(num,dummy_array[num],$event)" class="form-control w-100" [(ngModel)]="input.value"  [ngModelOptions]="{standalone: true}" placeholder="Enter Value">
             </div>
            </div>
         </div>
      </div> -->


         <div class="row">
            <div class="col-sm-12">
               <div class="form-group">
                  <label>{{'justification' | translate}} </label>
                  <textarea class="form-control" formControlName="justification" rows="3" id="comment9" [placeholder]="'sm_justification_placeholder' | translate"></textarea>
               </div>
               <div class="form-group">
                <label class="label-style mb-0">{{'supported_files' | translate}}</label>

   <div class="scroll-documents" #uploadArea>
      <div class="thumb-pics-bg thumb-pics-col-3 clearfix thumb-pics-fix-text" style="padding-top: 0;">
         <div class="thumb-pics">
  
            <div class="form-group form-group-upload">
               <div class="darag-dropifile-upload">
                  <div class="d-flex justify-content-center align-items-center text-center">
                     <div>
                        <img src="/assets/images/drag-pic.png" alt="image" class="drag-pic-files">
                        <div class="drag-file-name"> {{'select_or_upload_your_file_here' | translate}} </div>
                        <div class="upload-btn-wrapper">                  
                           <button (click)="openFileUploadModal()" type="button" class="btn">{{'browse_files' | translate}}</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
  
            <div class="thumb-pics"  *ngFor="let docs of fileUploadPopupStore.displayFiles ;let i = index">
                <div class="upload-pics edit-option" data-toggle="modal">
                  <div *ngIf="docs.id && !docs.preview" class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImageUrl('document-version',docs?.token)+') no-repeat'}">
                  </div>
                    <div  *ngIf="docs.preview" class="browse-form-pic" [ngStyle]="{'background': 'url(' + docs?.preview + ') no-repeat 0 0 / cover'}">              
                  </div>
                   <div class="browse-form-name clearfix">
                    <div class="float-left">
                      <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:AppStore.noContentText}}.{{docs.ext}}
                      </h6>
                      <span *ngIf="docs.is_kh_document" class="mr-2 cmn-clr"><i class="fas fa-book"></i></span>
                      <span  *ngIf="!docs.is_kh_document" class="mr-2 cmn-clr"><i class="fas fa-laptop"></i></span>
                      <span>{{docs.size/1048576 | number:'0.2-2'}}MB</span>
                    </div>
                    <div class="browse-logo">
                      <img *ngIf="checkExtension(docs.ext,'image') != -1"
                          class="folder-picher" src="/assets/images/jpg-icone.png">
                      <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                          class="folder-picher" src="/assets/images/word-icone.png">
                      <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                          class="folder-picher" src="/assets/images/pdf-icone.png">
                      <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                          class="folder-picher" src="/assets/images/excel-icone.png">
                      <img *ngIf="checkExtension(docs.ext,'video') != -1"
                          class="folder-picher" src="/assets/images/md-video.png">
                      <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                          class="folder-picher" src="/assets/images/md-audio.png">
                      <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                          class="folder-picher" src="/assets/images/md-ppt.png">
                  </div>
                   </div>
                </div>
             </div>
  
  
      </div>
   </div>
  
   
                </div>
            </div>
         </div>
        
        
         <div class="row">
            <div class="col-sm-12">
               <div class="d-block justify-content-left border-0 mt-3">
                  <button type="button" data-toggle="modal"
                     class="btn btn-active" [disabled]="form.invalid || AppStore.loading" (click) = "save()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                  <button type="button" data-toggle="modal"
                   class="btn" [disabled]="form.invalid || AppStore.loading" (click) = "save(true)">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                  <button type="button" data-toggle="modal" (click) = "cancel()"
                     class="btn">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
               </div>
            </div>
         </div>
        </form>
      </div>
      <!-- Modal footer -->
   </div>
</div>

    <!------------------------------->
<!-- * Documetn Attach/Upload Common Component Starts Here -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #fileUploadModal>
 
   <app-file-upload-popup *ngIf = "fileUploadPopupStore.openPopup" ></app-file-upload-popup>
 
 </div>
 <!-- * Documetn Attach/Upload Common Component Ends Here -->+


