<app-project-scope-of-work-loader *ngIf="!ProjectMonitoringStore.scopeOfWorkLoaded"></app-project-scope-of-work-loader>


<div class="tab-pane" id="scpwrk">
<div class="common-tab-md tab-same-height clearfix" *ngIf="ProjectMonitoringStore.scopeOfWorks">
    <div class="tab-common-left-md">
      <div class=" issues-tab">
          <!-- tab menu start -->
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
          <li class="nav-item" > <a class="nav-link active" (click)="gotoSection('in_scope')" data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false">{{'In Scope' | translate}}</a>
          </li>
          <li class="nav-item" > <a class="nav-link" (click)="gotoSection('out_scope')" data-toggle="tab" role="tab" aria-controls="ipsum" aria-selected="false">{{'Out of Scope' | translate}}</a>
          </li>
          <li class="nav-item" > <a class="nav-link" (click)="gotoSection('assumption')" data-toggle="tab" role="tab" aria-controls="ipsum" aria-selected="false">{{'Assumptions' | translate}}</a>
          </li>
        </ul>
      </div><!-- tab menu end -->
    </div>
    <div class="tab-common-left-content-m bg-white cmn-bdr widg-padding-cmn min-height-83">
            <div class="row">
              
                <div class="col-md-12 edit-option">
                    <div class="bg-white">
                    
                        <div  *ngIf="selectedSection=='in_scope'" >
                            <div *ngIf="!nodataCheck(ProjectMonitoringStore.scopeOfWorks) && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3 d-flex align-items-center">
                            <h5 class="mb-0 w-100">{{'pm_project_scope' | translate}}</h5>
                            <div class="float-right text-right" style="width: 80px;">
                                <button *ngIf="ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back' && AuthStore.getActivityPermission(3700,'CREATE_PROJECT_MONITORING_SCOPE')"  data-toggle="modal" (click)="openNewScopeModal('in_scope')"
                                    class=" btn btn-small">{{'add' | translate}}</button>
                            </div>
                        </div>
                    <!-- <div class="clearfix mb-2">
                        <button type="button" class="btn btn-small float-right" data-toggle="modal" data-target="#add-inscope">Add</button>
                     </div> -->
    
                    <ul class="arrowlist pl-0 mt-0">
                        <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index" class="clearfix">
                            <span *ngIf="inScope.type == 'in_scope'">{{inScope.title}}</span>
                            <!-- <button *ngIf="inScope.type == 'in_scope' && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"  (click)="deleteIn(inScope.id)" type="button" 
                                class="btn btn-small float-right btn-small-delete"
                                style="border: none;"><i
                                    class="fas fa-trash"></i></button>
                                    <button *ngIf="inScope.type == 'in_scope' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"  (click)="editScope('in_scope',inScope)" type="button" 
                                    class="btn btn-small float-right btn-small-delete"
                                    style="border: none;"><i
                                        class="fas fa-pen"></i></button> -->
                                        <div class="edit-and-delete-small bg-white">
                                            <button type="button"
                                            *ngIf="inScope.type == 'in_scope' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"  (click)="editScope('in_scope',inScope)" class="btn-small-icon"
                                            style="border: none;"><i class="fas fa-pen"></i></button>
                                            <button type="button"
                                            *ngIf="inScope.type == 'in_scope' && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"  (click)="deleteIn(inScope.id)" class="btn-small-icon"
                                               style="border: none;"><i class="fas fa-trash"></i></button>
                                            </div>
                                <!-- <span *ngIf="inScope.type != 'in_scope'">NA</span>    -->
    
                        </li>
                    </ul>
                  
                        <ng-container>
                            <app-no-data *ngIf="nodataCheck(ProjectMonitoringStore.scopeOfWorks)" ></app-no-data>
                         </ng-container>
                    
                </div>  

                    <div *ngIf="selectedSection=='out_scope'">
                        <div *ngIf="!nodataCheckOutScope(ProjectMonitoringStore.scopeOfWorks) && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"
                        class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3 d-flex align-items-center">
                        <h5 class="mb-0 w-100">{{'pm_project_out_of_scope' | translate}}</h5>
                        <div class="float-right text-right" style="width: 80px;">
                            <button  data-toggle="modal" *ngIf="AuthStore.getActivityPermission(3700,'CREATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="openNewScopeModal('out_scope')"
                                class=" btn btn-small">{{'add' | translate}}</button>
                        </div>
                    </div>
                        <!-- <div class="clearfix mb-2">
                            <button type="button" class="btn btn-small float-right" (click)="openNewScopeModal('out_scope')">Add</button>
                         </div> -->

                         <ul class="arrowlist pl-0 mt-0">
                            <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index" class="clearfix">
                                <span *ngIf="inScope.type == 'out_scope'">{{inScope.title}}</span>
                                <!-- <button *ngIf="inScope.type == 'out_scope' && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="deleteOut(inScope.id)" type="button" 
                                    class="btn btn-small float-right btn-small-delete"
                                    style="border: none;"><i
                                        class="fas fa-trash"></i></button>
                                        <button *ngIf="inScope.type == 'out_scope' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') &&  ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="editScope('out_scope',inScope)" type="button" 
                                        class="btn btn-small float-right btn-small-delete"
                                        style="border: none;"><i
                                            class="fas fa-pen"></i></button> -->
                                            <div class="edit-and-delete-small bg-white">
                                                <button type="button"
                                                *ngIf="inScope.type == 'out_scope' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"  (click)="editScope('out_scope',inScope)" class="btn-small-icon"
                                                style="border: none;"><i class="fas fa-pen"></i></button>
                                                <button type="button"
                                                *ngIf="inScope.type == 'out_scope' && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="deleteOut(inScope.id)" class="btn-small-icon"
                                                   style="border: none;"><i class="fas fa-trash"></i></button>
                                                </div>
                                            <!-- <span *ngIf="inScope.type != 'out_scope'">NA</span>    -->
        
                            </li>
        
                        </ul>
                        
                            <ng-container>
                                <app-no-data *ngIf="nodataCheckOutScope(ProjectMonitoringStore.scopeOfWorks)" ></app-no-data>
                             </ng-container>
                        
                   </div>

                <div *ngIf="selectedSection=='assumption'">

                    <div *ngIf="!nodataCheckAssumption(ProjectMonitoringStore.scopeOfWorks) && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"
                    class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3 d-flex align-items-center">
                    <h5 class="mb-0 w-100">{{'pm_project_assumptions' | translate}}</h5>
                    <div class="float-right text-right" style="width: 80px;">
                        <button  data-toggle="modal" *ngIf="AuthStore.getActivityPermission(3700,'CREATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="openNewScopeModal('assumption')"
                            class=" btn btn-small">{{'add' | translate}}</button>
                    </div>
                </div>
                    <!-- <div class="clearfix mb-2">
                        <button type="button" class="btn btn-small float-right" (click)="openNewScopeModal('assumption')">Add</button>
                     </div> -->

                   <ul class="arrowlist pl-0 mt-0">
                    <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index" class="clearfix">
                        <span *ngIf="inScope.type == 'assumption'">{{inScope.title}}</span>
                        <!-- <button (click)="deleteAssump(inScope.id)" *ngIf="inScope.type == 'assumption'  && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" type="button" 
                            class="btn btn-small float-right btn-small-delete"
                            style="border: none;"><i
                                class="fas fa-trash"></i></button>
                                <button *ngIf="inScope.type == 'assumption' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" (click)="editScope('assumption',inScope)" type="button" 
                                class="btn btn-small float-right btn-small-delete"
                                style="border: none;"><i
                                    class="fas fa-pen"></i></button> -->

                                    <div class="edit-and-delete-small bg-white">
                                        <button type="button"
                                        *ngIf="inScope.type == 'assumption' && AuthStore.getActivityPermission(3700,'UPDATE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'"   (click)="editScope('assumption',inScope)" class="btn-small-icon"
                                        style="border: none;"><i class="fas fa-pen"></i></button>
                                        <button type="button"
                                        (click)="deleteAssump(inScope.id)" *ngIf="inScope.type == 'assumption'  && AuthStore.getActivityPermission(3700,'DELETE_PROJECT_MONITORING_SCOPE') && ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='draft' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type =='send-back'" class="btn-small-icon"
                                           style="border: none;"><i class="fas fa-trash"></i></button>
                                        </div>
                             <!-- <span *ngIf="inScope.type != 'assumption'">NA</span>    -->
                    </li>
                    
                </ul>
                
                    <ng-container>
                        <app-no-data *ngIf="nodataCheckAssumption(ProjectMonitoringStore.scopeOfWorks)" ></app-no-data>
                     </ng-container>
               
                </div>
            </div>
        </div>             
    </div>
   </div>
</div>   
</div>

<!-- add milestone -->

<div class="modal modal-style-1 popup-full-width fade" id="add-actionplan-popup" data-keyboard="false"
data-backdrop="static" #newScope>
   <app-add-scope-of-work [source] = "newScopeObject" *ngIf = "newScopeObject.type"></app-add-scope-of-work>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
  </div>