<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
  <div class="module-name-block module-name-block-space float-left">
    <a class="dropdown module-title">{{'template'|translate}}</a>
  </div>
  <app-sub-menu>-</app-sub-menu>  
</nav>

<main class="mt-3">
  <div class="container-fluid">
    <app-filter-menu></app-filter-menu>
    <div class="row">
      <div class="col-sm-12" *mobxAutorun>
        <div *ngIf="TemplateStore.templatesLoaded && TemplateStore.templateList.length > 0 && AuthStore.getActivityPermission(700,'DOCUMENT_TEMPLATE_LIST')">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let templates of TemplateStore.templateList | paginate: {currentPage: TemplateStore?.currentPage,itemsPerPage: TemplateStore?.itemsPerPage,  totalItems: TemplateStore?.totalItems};let num = index">
              <div class="workflow-lst-box template-list edit-and-delete-main bg-white">
                <div class="edit-option-show edit-option-show-small pointer" style="margin: 43px -4px 0 0;">
                  <a (click)="getTemplateDetails(templates.id)" title="Edit" *ngIf="AuthStore.getActivityPermission(700,'UPDATE_DOCUMENT_TEMPLATE')"><i class="fas fa-pen"></i></a>
                  <a (click)="deleteConfirm(templates.id,templates.status.title[0].pivot.title)" title="Delete" *ngIf="AuthStore.getActivityPermission(700,'DELETE_DOCUMENT_TEMPLATE')"><i class="fas fa-trash"></i></a>
                  <a (click)="downloadTemplate(templates.documents[0].document_template_id,templates.documents[0].id,templates.title,templates.documents[0])" title="Download" *ngIf="AuthStore.getActivityPermission(700,'DELETE_DOCUMENT_TEMPLATE')"><i class="fas fa-download"></i></a>
                  <a title="Activate" *ngIf="templates.status.id == AppStore.inActiveStatusId && AuthStore.getActivityPermission(700,'ACTIVATE_DOCUMENT_TEMPLATE')" (click)="activateConfirm(templates.id)"><i class="fas fa-check pointer"></i></a>
                  <a title="Deactivate" *ngIf="templates.status.id == AppStore.activeStatusId && AuthStore.getActivityPermission(700,'DEACTIVATE_DOCUMENT_TEMPLATE')" (click)="deactivateConfirm(templates.id)"><i class="fas fa-ban pointer"></i></a>
                </div>
                <h6 class="workflow-lst-box-head pointer div-middle" style="min-height: 60px;" (click)="gotoDetails(templates.id)">
                  <span class="issue-smoal-head-text">#{{templates.reference_code}}</span>
                  {{templates.title.length > 30 ?templates.title.substring(0,30)+'...':templates.title}}
                </h6>
                <div class="workflow-lst-content pointer p-0" (click)="gotoDetails(templates.id)">
                  <div class="box-inner-overflow">
                    <div class="template-pic-box" *ngIf="!(templates.documents.length > 0)"
                      [ngStyle]="{'background': ' url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover'}">
                      <div class="box-light-shadow"></div>
                    </div>
                    <div class="template-pic-box" *ngIf="templates.documents.length > 0" [ngStyle]="{'background': 'url(' + createImageUrl(templates.documents[0].token,'document-template-document') + ')'}"> <div class="box-light-shadow"></div>
                    </div>
                  </div>
                  <div class="box-cnt-one mt-2 pl-2 pr-2">
                    <h6>{{'document_type' | translate}}</h6>
                    <ng-container *ngFor="let doc_types of templates.document_type ; let i=index">
                      <label *ngIf="i<2" class="outline-tag mb-1" [title]="doc_types.title">{{(doc_types.title.length>9)? (doc_types.title | slice:0:9)+'..':(doc_types.title)}}</label>
                    </ng-container>
                    <label *ngIf="templates.document_type.length > 2" class="outline-tag mb-1 pointer" data-toggle="modal" data-target="#outline-tag-more-popup" (click)="openDoctype($event,templates.document_type)">View more</label>
                  </div>
                  <div class="row mb-1 pl-2 pr-2">
                    <div class="col-xl-12">
                      <hr class="mb-2 mt-2">
                      <div class="d-flex flex-row user-list-sm align-items-center">
                        <img width="30px" height="30px" [attr.src]="templates.created_by.image.token ? createImageUrl(templates.created_by.image.token,'user-profile-picture') : getDefaultImage('user-logo')" class="rounded-circle">
                        <div>
                          <h6>{{templates.created_by.first_name}}&nbsp;{{templates.created_by.last_name}}</h6>
                          <span>{{templates.created_by.designation}} | Created on {{getTimezoneFormatted(templates.created_at) | date:'medium'}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="float-right" *ngIf="TemplateStore.templatesLoaded && TemplateStore.templateList.length > 0"><b>{{'total_Items' | translate}}:{{TemplateStore?.totalItems}}</b></p>

          <div *ngIf="TemplateStore.totalItems > TemplateStore.itemsPerPage && TemplateStore?.templatesLoaded" class="col-sm-12">
            <ul class="pagination justify-content-center mt-3">
              <div class="list">
                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
              </div>
            </ul>
          </div>
        </div>

        <ng-container *mobxAutorun>
          <app-no-data [border]=false *ngIf="TemplateStore.templatesLoaded && TemplateStore.templateList.length == 0">
          </app-no-data>
        </ng-container>

        <ng-container *mobxAutorun>
          <div *ngIf="!TemplateStore.templatesLoaded">
            <app-kh-template-list-loader></app-kh-template-list-loader>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>

<!-- ---------------------Form Modal------------------------- -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
  <app-kh-template-add *ngIf="templateObject.type" [source]="templateObject"></app-kh-template-add>
</div>
<!--------------------- Ends Here---------------------------- -->

<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp>
  <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>
<!------------------- Delete Confirmation Modal End --------------------------->

<!-- ---------------------Doctype Modal------------------------- -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #docTypeModal>
  <app-kh-doc-type-view-more *ngIf="docTypeObject.type" [source]="docTypeObject.values"></app-kh-doc-type-view-more>
</div>
<!--------------------- Ends Here---------------------------- -->