<button type="button" class="close" data-dismiss="modal"><i class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">{{'rename_folder' | translate}}</h4>
      </div>
      <div class="modal-body form-body">
         <p class="head-details">Change the name of your folder to something easier to find and remember and make your tasks more smoother.
         </p>

    
         <form [formGroup]="renameForm">
         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                   <label for="name">{{'title' | translate }}<span class="form-error">*</span></label>
                   <div class="plain-select input-add-report">
                     <input type="text" class="form-control" placeholder="Enter Title" formControlName="title">
                     <p class="form-error" *ngIf="renameFormErros"> {{renameFormErros.title}}</p>
                   </div>
                 </div>
              </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
              <div class="d-block justify-content-left border-0 mt-3">
                <!-- <button type="submit" class="btn btn-active" (click)="save()"
                  [disabled]="renameForm.invalid || AppStore.loading">{{ AppStore.loading  ? 'Loading...' : 'Save' }}</button> -->
                <button type="button" data-toggle="modal" data-target="#signal-lost" class="btn"
                  (click)="save(true)"
                  [disabled]="renameForm.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                <button type="button" data-toggle="modal" data-target="#error-message" class="btn"
                  (click)="cancel()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
   </div>
</div>