<button type="button" class="close" (click)="closeFormModal()">
  <i class="lni-close"></i><span>{{ "esc" | translate }}</span>
</button>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">
        {{ 'risk_mitigation_action_plan' | translate }}
      </h4>
    </div>
    <!-- Modal body -->
    <div class="modal-body form-body">
      <p class="head-details">
        {{ 'risk_mitigation_action_plan_content_message' | translate }} 
      </p>
      <form [formGroup]="mitgationRiskForm" *mobxAutorun>
        <div class="row">

          <div class="col-lg-12 col-sm-12" [ngStyle] = "{'pointer-events' : ExecutiveAddSummarySource.type == 'Edit' ? 'none' : ''}">
            <div class="form-group mt-2">
              <label for="name">{{'summary_title' | translate}}<sup>*</sup></label>
              <div class="clearfix">
                  <div class="multiple-plain-ngselect">
                      <ng-select 
                          [placeholder]="'summary_title' | translate" [multiple]="false" searchable="true"
                          bindLabel="id" formControlName="summary_title"
                          (search)="searchSummaryTitle($event)" (clear)="getSummaryTitle()"
                          (open)="getSummaryTitle()" autocomplete="new-password"
                         >
                          <ng-option
                          [value]="type.id"
                          *ngFor="let type of QuickRiskStore.quickAssessmentDetailsReports.quick_risk_assessment_report_risks"
                        >
                          {{ type.title }}
                        </ng-option>
                      </ng-select>
                  </div>
              </div>
              <!-- <p class="form-error pt-1" *ngIf="mitgationRiskFormError && mitgationRiskFormError.risk_status_id">
                  {{mitgationRiskFormError.risk_status_id}}</p> -->
          </div>
          </div>

          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label for="title"
                >{{ "title" | translate
                }}<span class="form-error">*</span></label
              >
              <input
                type="text"
                formControlName="title"
                class="form-control"
                [attr.placeholder]="'title' | translate"
                id="cctitle"
              />
              <p class="form-error" *ngIf="mitgationRiskFormError">
                {{ mitgationRiskFormError.title }}
              </p>
            </div>
          </div>
          <!-- <div class="col-lg-12 col-sm-12">
            <div class="form-group add-kpi-textarea">
              <span style="float: right" class="text-grey"
                >{{
                  mitgationRiskForm?.value.description != null
                    ? getDescriptionLength()
                    : 0
                }}
                Characters</span
              >

              <label for="name">{{ "description" | translate }}
                <span class="form-error">*</span>
              </label>
              <ckeditor
                formControlName="description"
                id="description"
                [config]="config"
                (change)="descriptionValueChange($event)"
              ></ckeditor>
            </div>
          </div> -->
          <!-- <div class="col-lg-12 col-sm-12">
            <div class="form-group add-kpi-textarea">
              <span style="float: right" class="text-grey"
                >{{
                  mitgationRiskForm?.value.observation != null
                    ? getDescriptionLength()
                    : 0
                }}
                Characters</span
              >

              <label for="name">{{ "observation" | translate }}
                <span class="form-error">*</span>
              </label>
              <ckeditor
                formControlName="observation"
                id="observation"
                [config]="config"
                (change)="descriptionValueChange($event)"
              ></ckeditor>
            </div>
          </div> -->
    
          <!-- <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="title"
                >{{ "score" | translate
                }}<span class="form-error">*</span></label
              >
              <input
                type="text"
                formControlName="score"
                class="form-control"
                [attr.placeholder]="'score' | translate"
                id="cctitle"
              />
              <p class="form-error" *ngIf="mitgationRiskFormError">
                {{ mitgationRiskFormError.score }}
              </p>
            </div>
          </div> -->
          <!-- <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="name">{{'risk_areas' | translate}}</label>
              <div class="clearfix">
                  <div class="multiple-plain-ngselect">
                      <ng-select [placeholder]="'risk_area' | translate"
                          [multiple]="true" 
                          searchable="true" 
                          bindLabel="title"
                          formControlName="risk_area_ids" 
                          (search)="searchRiskArea($event)"
                          (clear)="getRiskArea()" 
                          (open)="getRiskArea()" 
                          autocomplete="new-password">
                          <ng-option
                          [value]="type"
                          *ngFor="let type of RiskAreaStore.allItems"
                        >
                          {{ type.title }}
                        </ng-option>

                      </ng-select>
                  </div>
              </div>
              <p class="form-error pt-1" *ngIf="mitgationRiskFormError && mitgationRiskFormError.risk_area_ids">
                  {{mitgationRiskFormError.risk_area_ids}}</p>
          </div>
          </div> -->
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="name">{{'risk_mitigation_owner' | translate}}<sup>*</sup></label>
              <div class="clearfix">
                  <div class="multiple-plain-ngselect">
                      <ng-select [items]="UsersStore.usersList" bindLabel="email"
                          [placeholder]="'risk_mitigation_owner' | translate " formControlName="risk_treatment_owner_id" [multiple]="false"
                          (clear)="getUsers()" (search)="searchUers($event)" multiple="false"
                          (open)="getUsers()">
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <img *ngIf = "item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                            <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage('user-logo')"/>
                            <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                         </ng-template>
                         <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="user-post-department-pic">
                               <img *ngIf = "item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                               <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage('user-logo')"/>
                            </div>
                            <div class="user-post-department-div">
                               <b>{{getStringsFormatted([item.first_name,item.last_name],35,' ') | titlecase}}</b>
                               <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],35,',')}}</p>
                            </div>
                         </ng-template>
                      </ng-select>
                  </div>
              </div>
              <p class="form-error pt-1" *ngIf="mitgationRiskFormError&&mitgationRiskFormError.risk_treatment_owner_id">
                  {{mitgationRiskFormError.risk_treatment_owner_id}}</p>
          </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="name">{{ "risk_mitigation_target_date" | translate }}<sup>*</sup></label>
              <div class="input-group date-picker input-clear-btn-main">
                <input
                  formControlName="target_date"
                  class="form-control bg-white"
                  placeholder="yyyy-mm-dd"
                  id="date"
                  [readonly]="true"
                  ngbDatepicker
                  #startInput="ngbDatepicker"
                /><span
                  *ngIf="mitgationRiskForm.value.target_date"
                  aria-hidden="true"
                  (click)="clear('target_date')"
                  style="border: none"
                  class="input-clear-btn"
                  >×</span
                >

                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="startInput.toggle()"
                    type="button"
                  >
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
              <p class="form-error pt-1" *ngIf="mitgationRiskFormError && mitgationRiskFormError.target_date">
                {{ mitgationRiskFormError.target_date[0] }}
              </p>
            </div>
          </div>
          <!-- <div class="row"> -->
           
         
          </div>
        <!-- </div> -->
      </form>

      <div class="row">
        <div class="col-sm-12">
          <div class="d-block justify-content-left border-0 mt-3">
            <button
              type="submit"
              class="btn btn-active"
              (click)="saveRiskMitigation()"
              [disabled]="mitgationRiskForm.invalid || AppStore.loading"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("save")
              }}
            </button>
            <button
              type="button"
              data-toggle="modal"
              data-target="#signal-lost"
              class="btn"
              (click)="saveRiskMitigation(true)"
              [disabled]="mitgationRiskForm.invalid || AppStore.loading"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("save_close")
              }}
            </button>
            <button
              type="button"
              data-toggle="modal"
              data-target="#error-message"
              class="btn"
              (click)="closeFormModal()"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("cancel")
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal footer -->
  </div>
</div>
