<div #plainDev></div>
<div class="bg-white">
<nav class="edit-bar" data-toggle="affix" #navBar>
    <app-sub-menu>-</app-sub-menu>
    <div class="module-name-block module-name-block-space float-left">
        <a class="dropdown module-title">{{'ms_audit_plans'|translate}}</a>
    </div>
</nav>
</div>
<main class="mt-3 acl-page">
   
    <div class="container-fluid" *mobxAutorun>
        <app-filter-menu></app-filter-menu>
        <div class="audit-program-box  audit-page-table-main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-width-table mb-3">
                    <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll" 
                        *ngIf="MsAuditPlansStore?.loaded && MsAuditPlansStore.allItems.length > 0 && AuthStore.getActivityPermission(5356,'MS_AUDIT_PROGRAM_LIST')">
                        <thead>
                            <tr>
                                <th class="border-top-0 issue-list-org-tab-three text-center" style="width:3%">#</th>
                                <!-- <th class="border-top-0 issue-list-org-tab-three pointer" style="width:7%" (click)="sortTitle('ms_audit_plans.reference_code')">
                                    <span>{{'ref_id' | translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='ms_audit_plans.reference_code'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th> -->
                                <th class="border-top-0 issue-list-org-tab-three pointer" style="width:39%" (click)="sortTitle('ms_audit_plans.title')">
                                    <span>{{'title' | translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='ms_audit_plans.title'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th>
                                <!-- <th class="border-top-0 issue-list-org-tab-three pointer" style="width:15%" (click)="sortTitle('ms_audit_plans.title')">
                                    <span>{{'audit_program' | translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='kpi_management_kpi_improvement_plans.title'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th> -->
                                <th class="border-top-0 pointer" width="20%" (click)="sortTitle('lead_auditor.first_name')">
                                    <span>{{'audit_leader' | translate}} </span>
                                <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='lead_auditor.first_name'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th> 
                                <!-- <th class="border-top-0 pointer" width="15%" (click)="sortTitle('auditee_lead.first_name')">
                                    <span>{{'auditee_leader' | translate}} </span>
                                <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='auditee_lead.first_name'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th>  -->
                                <!-- <th class="border-top-0 pointer" width="17%" (click)="sortTitle('ms_audit_plans.audit_plan_department')">
                                    <span>{{'department' | translate}} </span>
                                </th> -->
                                <th class="border-top-0 pointer" width="15%" (click)="sortTitle('ms_audit_plans.start_date')">
                                    <span>{{'start_date_time' | translate}} </span>
                                <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='ms_audit_plans.start_date'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th>
                                <th class="border-top-0 pointer" width="15%" (click)="sortTitle('ms_audit_plans.end_date')">
                                    <span>{{'end_date_time' | translate}}  </span>
                                <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="MsAuditPlansStore.orderItem=='ms_audit_plans.end_date'"
                                    [attr.src]="MsAuditPlansStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'" 
                                    class="sort-down-pics">
                                </th>

                                <th class="border-top-0 text-center" width="8%" >
                                    <span>{{'status' | translate}} </span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;" 
                                        
                                        class="sort-down-pics">
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *mobxAutorun>
                                <tr (click)="getDetails(row.id)" class="cursor-pointer edit-and-delete-main" 
                                    *ngFor="let row of MsAuditPlansStore?.allItems | paginate: { currentPage: MsAuditPlansStore?.currentPage, itemsPerPage: MsAuditPlansStore?.itemsPerPage, totalItems: MsAuditPlansStore?.totalItems};
                                    let num = index"   >
                                    <td style="text-align: center;">
                                        {{
                                            (MsAuditPlansStore?.currentPage - 1) *
                                            MsAuditPlansStore?.itemsPerPage +
                                            (num + 1)
                                        }}
                                    </td>
                                    <!-- <td style="padding: 0.75rem;">
                                        {{row.reference_code}}
                                    </td> -->
                                    <td style="padding: 0.75rem;">
                                        {{row.title}}
                                    </td>
                                    <td style="padding:0.75rem">
                                        <div class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg p-0">
                                        <img [attr.src]="row.lead_auditor_image_token? createImageUrl(row.lead_auditor_image_token):'/assets/images/user-demo.png'"
                                            class="rounded-circle rounde-hov" width="35px" height="35px"  onerror = "this.src='/assets/images/user-demo2.png'"> 
                                        <div class="pointer new-size-text text-left">
                                            <p class="mb-0">{{row.lead_auditor_first_name}} {{row.lead_auditor_last_name}}  </p>
                                            <span>{{row.lead_auditor_designation_title}}</span>
                                        </div>   
                                        </div>
                                    </td>
                                    <!-- <td style="padding:0.75rem">
                                        <div class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg p-0">
                                        <img [attr.src]="row.auditee_lead_image_token? createImageUrl(row.auditee_lead_image_token):'/assets/images/user-demo.png'"
                                            class="rounded-circle rounde-hov" width="35px" height="35px"  onerror = "this.src='/assets/images/user-demo2.png'"> 
                                        <div class="pointer new-size-text text-left">
                                            <p class="mb-0">{{row.auditee_lead_first_name}} {{row.auditee_lead_last_name}}  </p>
                                            <span>{{row.auditee_lead_designation_title}}</span>
                                        </div>   
                                        </div>
                                    </td> -->
                                    <!-- <td style="padding: 0.75rem;">
                                        {{row.audit_plan_department?row.audit_plan_department:AppStore.noContentText }}
                                    </td> -->
                                    <td style="padding: 0.75rem;">
                                        {{row.start_date| date: OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}
                                    </td>
                                    <td style="padding: 0.75rem;">
                                        {{row.end_date| date: OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}
                                        <!-- <div class="edit-option-show" >
                                            <a [attr.title]="'edit'|translate" (click) = "edit(row.id)" 
                                                *ngIf="AuthStore.getActivityPermission(5356,'UPDATE_MS_AUDIT_PLAN') && AuthStore.isRoleChecking('lead-auditor')" 
                                            ><i class="fas fa-pen pointer"></i></a> 
                                            <a [attr.title]="'delete'|translate" (click)="delete(row.id)"
                                                *ngIf="AuthStore.getActivityPermission(5356,'UPDATE_MS_AUDIT_PLAN') && AuthStore.isRoleChecking('lead-auditor')" 
                                            ><i class="fas fa-trash pointer"></i></a>
                                        </div> -->
                                    </td>
                                    <td class="text-center">
                                        <div [attr.class]="'dot-div '+row.ms_audit_plan_status_label+'-dot'">
                                        {{row.ms_audit_plan_status_title}}
                                        </div>
                                        <div *ngIf="(AuthStore.isRoleChecking('lead-auditor') || AuthStore.isRoleChecking('super-admin')) && (row.ms_audit_plan_status_type!='in-review' && row.ms_audit_plan_status_type!='approved')" class="edit-option-show" >
                                            <a [attr.title]="'edit'|translate" *ngIf = "AuthStore.getActivityPermission(1600,'UPDATE_MS_AUDIT_SCHEDULE') && row.ms_audit_plan_status_type!='rejected'" (click) = "edit(row.id)" 
                                                ><i class="fas fa-pen pointer"></i></a> 
                                            <a [attr.title]="'delete'|translate" *ngIf = "AuthStore.getActivityPermission(1600,'DELETE_MS_AUDIT_SCHEDULE')" (click)="delete(row.id)"
                                                ><i class="fas fa-trash pointer"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                    <p class="float-right" *ngIf="MsAuditPlansStore?.loaded && MsAuditPlansStore.totalItems > 0"><b>{{'total_Items' | translate}}:{{MsAuditPlansStore?.totalItems}}</b></p>
                    <ng-container *mobxAutorun>
                        <div *ngIf="!MsAuditPlansStore?.loaded">
                            <app-ms-audit-program-list-loader></app-ms-audit-program-list-loader>
                        </div>
                    </ng-container>
                    <app-no-data *ngIf = "MsAuditPlansStore.totalItems == 0 && MsAuditPlansStore.loaded" [border]='false'></app-no-data>
                    <div *ngIf="MsAuditPlansStore.totalItems > MsAuditPlansStore.itemsPerPage" class="col-sm-12">
                        <ul class="pagination justify-content-center mt-3">
                            <div class="list">
                                <pagination-controls [previousLabel]="'previous' | translate"  [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Form Modal -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
    <app-ms-audit-plans-add *ngIf = "MsAuditPlansObject.type" [source]="MsAuditPlansObject"></app-ms-audit-plans-add> 
</div>

<!-- Delete Confirmation Modal Start --->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>

