<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/strategy-management']"><a>{{'strategy_management' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'strategy_kpi_data_types' | translate}}</li>
        </ol>
    </nav>
    <table class="table-master table" *ngIf="StrategyKpiDataTypesMasterStore?.loaded && StrategyKpiDataTypesMasterStore.allItems.length > 0">
        <tr>
            <th style="width: 10%; text-align: center;">{{'sl' | translate}}</th>
            <th (click)="sortTitle('strategy_kpi_data_types.title')" class="border-top-0 issue-list-org-tab-three pointer" style="width: 30%;">
                <span>{{'strategy_kpi_data_types' | translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="StrategyKpiDataTypesMasterStore.orderItem=='strategy_kpi_data_types.title'" class="sort-down-pics pl-2" 
                [attr.src]="StrategyKpiDataTypesMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : StrategyKpiDataTypesMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>
        </tr>
        
        <ng-container *mobxAutorun>
            <tr class="edit-and-delete-main" *ngFor="let row of StrategyKpiDataTypesMasterStore?.allItems | paginate: {currentPage:StrategyKpiDataTypesMasterStore?.currentPage, itemsPerPage:StrategyKpiDataTypesMasterStore?.itemsPerPage,totalItems:StrategyKpiDataTypesMasterStore?.totalItems}; let num = index">
                <td style="text-align: center;">{{(StrategyKpiDataTypesMasterStore?.currentPage - 1) * StrategyKpiDataTypesMasterStore?.itemsPerPage + (num + 1)}}</td>
                <td><a>{{row.title}}</a></td>         
            </tr>
        </ng-container>
    </table>
    <ng-container *mobxAutorun>
        <div *ngIf="!StrategyKpiDataTypesMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data *ngIf = "StrategyKpiDataTypesMasterStore.allItems.length == 0 && StrategyKpiDataTypesMasterStore.loaded == true"></app-no-data>
   
    </ng-container>


    <div *ngIf="StrategyKpiDataTypesMasterStore.totalItems>StrategyKpiDataTypesMasterStore.itemsPerPage" class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> 
            </div>
        </ul>
    </div>
</div>


