<button type="button" class="close" (click)="closeFormModal()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>


<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
           
            <h4 class="modal-title">{{'cyber_add_ia' | translate}}</h4>            
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>

        <!-- Modal body -->
        <div class="modal-body form-body pt-0">
            <p class="head-details">{{'cyber_ia_desc' | translate}} </p>            
            <div class="audit-form-table w-100">
                        <div class="fix-table">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-0 impact-analysis-tbl">
                                <tbody>
                                    <tr>
                                        <th style="width: 15%;" rowspan="2">
                                            <!-- <label class="container2 float-left tabl-check-box-select mb-0">
                                          <input type="checkbox">
                                          <span class="checkmark"></span>Category
                                       </label> -->{{'category' | translate}}
                                        </th>
                                        <!-- <th style="width: 10%;" rowspan="2" class="text-center">Risk Impact</th>
                                        <th style="width: 21%;" rowspan="2" class="text-center">Qualitative Impact</th> -->
                                        <th style="width: 54%;" colspan="6" class="text-center">{{'cyber_quantitative' | translate}}</th>
                                        <!-- <th style="width: 18%;" colspan="2" class="text-center">Time</th>
                                        <th style="width: 18%;" colspan="2" class="text-center">Performance/Quality</th> -->
                                    </tr>
                                    <tr>

                                        <th class="text-center" colspan="2">{{'money' | translate}}<span class="form-error">*</span></th>
                                        <th class="text-center" colspan="2">{{'time' | translate}}({{'hour' | translate}})<span class="form-error">*</span></th>
                                        <th class="text-center" colspan="2">{{'cyber_performance_quality' | translate}}<span class="form-error">*</span></th>
                                        <!--  <th class="text-center">Loss</th>
                                        <th class="text-center">Profit</th>
                                        <th class="text-center">Loss</th> -->
                                    </tr>
                                    <tr *ngFor="let row of allCategories">

                                        <th>{{row?.category?.title}}
                                            
                                        </th>
                                        
                                        <td colspan="2">
                                            <div class="form-group mb-0">
                                                <input (keypress)="numberOnly($event)" [(ngModel)]="row.money" type="text" class="form-control" >
                                                <span *ngIf="row?.error?.money" class="text-danger">{{row?.error?.money}}</span>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="form-group mb-0">
                                                <input (keypress)="numberOnly($event)" [(ngModel)]="row.time" type="text" class="form-control" >
                                                <span *ngIf="row?.error?.time" class="text-danger">{{row?.error?.time}}</span>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="form-group mb-0">
                                                <input (keypress)="numberOnly($event)" [(ngModel)]="row.performance"  type="text" class="form-control" >
                                                <span *ngIf="row?.error?.performance" class="text-danger">{{row?.error?.performance}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                  



                                </tbody>
                            </table>
                            <!-- <p style="color: red;" *ngIf="formErrors"> {{formErrors.money}}</p>
                            <p style="color: red;" *ngIf="formErrors"> {{formErrors.time}}</p>
                            <p style="color: red;" *ngIf="formErrors"> {{formErrors.impact_analysis_details.performance}}</p> -->
                        </div>

                    </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            
                            <button  type="submit" class="btn btn-active" (click)="save()"
                            [disabled]="AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>

                            <button type="button" data-toggle="modal" data-target="#signal-lost"
                                class="btn" (click)="save(true)"
                                [disabled]="AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close')}}</button>
                            <button type="button" data-toggle="modal" data-target="#error-message"
                                class="btn"
                                (click)="closeFormModal()">{{ AppStore.loading  ? getButtonText('loading') :
                                getButtonText('cancel') }}</button>
                        </div>
                    </div>
                </div>
           
        </div>
        <!-- Modal footer -->
    </div>
</div>



