<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navigationBar *mobxAutorun>
    <app-sub-menu></app-sub-menu>
    <div class="module-name-block module-name-block-space float-left">
        <a class="dropdown module-title">{{'am_audit_findings'|translate}}</a>
    </div>
</nav>
<main class="mt-3 acl-page" *mobxAutorun>
    <div class="container-fluid" *ngIf="AmAuditFindingStore?.loaded && AmAuditFindingStore?.findings?.length > 0">
        <app-filter-menu></app-filter-menu>
        <div class="audit-program-box audit-page-table-main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-width-table mb-3">
                        <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                            <thead>
                                <tr>
                                    <th class="border-top-0 text-center" width="4%">#</th>
                                    <th (click)="sortTitle('findings.reference_code')" class="border-top-0 pointer"
                                        width="8%"><span>{{'reference_code' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="AmAuditFindingStore.orderItem=='findings.reference_code'"
                                            [attr.src]="AmAuditFindingStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <!-- findings.reference_code -->
                                    <th (click)="sortTitle('findings.title')" class="border-top-0 pointer" width="20%">
                                        <span>{{'finding' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="AmAuditFindingStore.orderItem=='findings.title'"
                                            [attr.src]="AmAuditFindingStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <!-- findings.title -->
                                    <th class="border-top-0" width="20%">{{'audit' | translate}}</th>
                                    <th class="border-top-0" width="22%">{{'test_plan' | translate}}</th>
                                    <!-- <th class="border-top-0" width="18%">{{'description' | translate}}</th> -->
                                    <th (click)="sortTitle('individual_audit_plan_department_title')"
                                        class="border-top-0 pointer" width="10%"><span>{{'department' |
                                            translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="AmAuditFindingStore.orderItem=='individual_audit_plan_department_title'"
                                            [attr.src]="AmAuditFindingStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th (click)="sortTitle('risk_rating_id')" class="border-top-0 text-center pointer"
                                        width="7%"><span>{{'risk_rating' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="AmAuditFindingStore.orderItem=='risk_rating_id'"
                                            [attr.src]="AmAuditFindingStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <!-- risk_rating_language.title -->
                                    <th (click)="sortTitle('finding_statuses.id')"
                                        class="border-top-0 text-center pointer" width="9%"><span>{{'status' |
                                            translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="AmAuditFindingStore.orderItem=='finding_status_id'"
                                            [attr.src]="AmAuditFindingStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <!-- finding_status_language.title -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let finding of AmAuditFindingStore?.findings | paginate: {currentPage:AmAuditFindingStore?.currentPage, itemsPerPage:AmAuditFindingStore?.itemsPerPage,totalItems:AmAuditFindingStore?.totalItems}; let num = index">
                                    <td class="pointer text-center" (click)="gotoDetails(finding)">
                                        {{(AmAuditFindingStore?.currentPage
                                        -1) * AmAuditFindingStore?.itemsPerPage + (num +
                                        1)}}</td>
                                    <td class="pointer" (click)="gotoDetails(finding)">#{{finding.reference_code}}</td>
                                    <td class="pointer" (click)="gotoDetails(finding)">
                                        <div [attr.title]="finding.title" class="elips-2">{{finding.title}}</div>
                                    </td>
                                    <td class="pointer" (click)="gotoDetails(finding)">
                                        <p [attr.title]="finding.am_audit_title?finding.am_audit_title:''"
                                            class="elips-2">
                                            {{finding.am_audit_title?finding.am_audit_title:AppStore.noContentText}}</p>
                                    </td>
                                    <td class="pointer" (click)="gotoDetails(finding)">
                                        <div [attr.title]="finding.test_plan_title" class="elips-2">
                                            {{finding.test_plan_title}}</div>
                                    </td>
                                    <!-- <td class="pointer" (click)="gotoDetails(finding)">
                                <p style="white-space:pre-line" class=" elips-2" [attr.title]="finding.description">
                                    {{finding.description?finding.description:AppStore.noContentText}}</p>
                            </td> -->
                                    <td class="pointer" (click)="gotoDetails(finding)">
                                        {{finding.individual_audit_plan_department_title?finding.individual_audit_plan_department_title:AppStore.noContentText}}
                                    </td>
                                    <td class="text-center">
                                        <div [ngClass]="'dot-div '+finding.label+'-dot'">{{finding.risk_rating}}</div>
                                    </td>
                                    <td class="pointer text-center">
                                        <div [ngClass]="'dot-div '+finding.finding_status_label">
                                            {{finding.finding_status_title}}</div>
                                        <div class="edit-option-show" style="margin: 30px 0 0 0; "
                                            *ngIf="finding.finding_status_type!='closed'">
                                            <!-- edit-and-delete starts -->
                                            <a (click)="editFinding(finding.id)"><i class="fas fa-pen"></i></a>
                                            <a (click)="deleteFinding(finding.id)"><i class="fas fa-trash"></i></a>
                                        </div><!-- edit-and-delete end -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="float-right bold mb-0"
                        *ngIf="AmAuditFindingStore?.loaded && AmAuditFindingStore.totalItems > 0">
                        {{'total_Items' | translate}}:{{AmAuditFindingStore?.totalItems}}</p>
                </div>
                <div *ngIf="AmAuditFindingStore.totalItems>AmAuditFindingStore.itemsPerPage" class="col-sm-12">
                    <ul class="pagination justify-content-center mt-3">
                        <div class="list">
                            <pagination-controls [previousLabel]="'previous' | translate"
                                [nextLabel]="'next' | translate" (pageChange)="pageChange($event)"
                                class="my-pagination"></pagination-controls>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="AmAuditFindingStore?.loaded && AmAuditFindingStore?.findings?.length==0">
        <app-no-data [border]="false"></app-no-data>
    </ng-container>
    <ng-container *mobxAutorun>
        <app-five-column-loader *ngIf="!AmAuditFindingStore?.loaded"></app-five-column-loader>
    </ng-container>
</main>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
    <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>

<!------------------- Delete Confirmation Modal End --------------------------->

<div class="modal modal-style-1 popup-full-width fade" id="new-audit-programme-popup" data-keyboard="false"
    data-backdrop="static" #formModal style=" overflow: hidden auto;">
    <app-am-audit-finding-modal *ngIf="findingObject.type" [source]="findingObject">
    </app-am-audit-finding-modal>
</div>