<div class="tab-pane" *ngIf="CyberIncidentIAStore?.imapctAnalysis?.data.length && CyberIncidentIAStore.loaded">
    <div class="mb-0">
        <div class="audit-page-table-main">
            <div class="row">
                <div class="col-sm-12">


                    <div class="full-width-table">
                        <table
                            class="table table-bordered ordinary-table audit-page-table cmn-table-style mb-0 impact-analysis-tbl table-scroll fixed-table">

                        </table>
                        <table
                            class="table table-bordered ordinary-table audit-page-table cmn-table-style mb-0 impact-analysis-tbl table-scroll">
                            <tbody>
                                <tr>
                                    <th rowspan="2" class="text-center" style="width: 4%;">#</th>
                                    <th rowspan="2" class="text-center" style="width: 16%;">{{'category' | translate}}</th>
                                    <th colspan="6" class="text-center" style="width: 60%;">{{'cyber_quantitative' | translate}}</th>
                                </tr>
                                <tr>
                                    <th class="text-center" colspan="2">{{'money' | translate}}</th>
                                    <th class="text-center" colspan="2">{{'time' | translate}}({{'hour' | translate}})</th>
                                    <th class="text-center" colspan="2">{{'cyber_performance_quality' | translate}}</th>
                                </tr>

                                <tr class="edit-and-delete-main" *ngFor="let row of CyberIncidentIAStore?.imapctAnalysis?.data; let i=index">
                                    <td class="text-center">{{i+1}}</td>

                                    <td class="text-center">{{row?.cyber_incident_impact_analysis_category_title}}</td>

                                  

                                    <td colspan="2" class="text-center">{{row?.money?row?.money:'0'}}</td>

                                    <td colspan="2" class="text-center">{{row?.time?row?.time:'0'}}</td>

                                    <td colspan="2" class="text-center">{{row?.performance?row?.performance:'0'}}</td>
                                </tr>
                                
                                <tr>
                                    <th colspan="2">Total</th>
                                    <td colspan="2" class="text-center bold"><span class="text-red">{{CyberIncidentIAStore?.imapctAnalysis?.money_total}}</span></td>
                                    <td colspan="2" class="text-center bold"><span class="text-red">{{CyberIncidentIAStore?.imapctAnalysis?.total_time}}</span></td>
                                    <td colspan="2" class="text-center bold"><span class="text-red">{{CyberIncidentIAStore?.imapctAnalysis?.total_performance}}%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row mt-3">
            <div class="col-md-12">
                <button type="button" class="btn btn-active"
                    onclick="window.location='incident-uca-impact-anlysics-details.php';">Save</button>
                <button type="button" class="btn">Cancel</button>
            </div>
        </div> -->

    </div>

    


</div>
<div class="row" *ngIf="CyberIncidentIAStore?.imapctAnalysis?.data?.length && CyberIncidentIAStore.loaded==true">
            <div class="col-xl-12">
               <div class="bg-white p-2">
                  <hr class="mb-2">
                      <app-user-popup-box
                          [source]=" getCreatedByPopupDetails(CyberIncidentIAStore?.imapctAnalysis?.created_by, CyberIncidentIAStore?.imapctAnalysis?.created_at)">
                      </app-user-popup-box>
               </div>
               
            </div>
        </div> 

<ng-container *mobxAutorun>
    <div *ngIf="!CyberIncidentIAStore?.loaded">
       <app-five-column-loader></app-five-column-loader>
     </div>
    <app-no-data *ngIf="CyberIncidentIAStore?.imapctAnalysis?.data?.length == 0 && CyberIncidentIAStore.loaded == true" [height]="false" [border]="false"></app-no-data>
</ng-container>
    <div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #addIAformModal>
        <app-add-cyber-incident-ia-modal *ngIf="iaAddObject.type" [source]="iaAddObject">
     
        </app-add-cyber-incident-ia-modal>
     
     </div>