
   <button type="button" class="close" (click)="resetSearch()" data-dismiss="modal"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
   <div class="modal-dialog modal-lg" *mobxAutorun>
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">{{'document_search' | translate}} </h4>
         </div>
         <!-- Modal body -->
         <div class="modal-body form-body">

            <p class="head-details">{{'document_search_desc' | translate}}</p>
            

           
           <div class="row">
                 <div class="col-md-12">
                     <div class="form-group">
                          <form class="form-control issue-select-process-search bg-white search-popup-new">
                            <input type="text" autocomplete="off" placeholder="Search.." (keyup)="searchData()" [(ngModel)] = "searchText" [ngModelOptions]="{standalone: true}"  name="search" class="search-process w-100">
                          </form>
                      </div>
                  </div>
            </div>
         <div class="row sm-row">
            <div class=" col-lg-12  col-sm-12 sm-col lg-outline-box" *ngFor="let docs of DocumentsStore.searchList| paginate: {currentPage:DocumentsStore.currentPage, itemsPerPage:DocumentsStore.itemsPerPage,totalItems:DocumentsStore.totalItems};let num=index ">
               <div (click)="gotoFile(docs?.is_folder,docs?.id,docs?.title)" class="cmn-bdr  widg-padding-cmn-small border-radius pointer active btm-space-10">                       
                  <div class="row align-items-center">
                     <div class="col-md-10 col-9">
                        <div class="d-flex align-items-center">
                           <div class="bg-main icon-bg-mapping" style="width:1px;">
                              <img  *ngIf="!docs?.is_folder"  [attr.src]="createImageUrl('document-version',docs?.token,45,45)" onerror="this.src='/assets/images/no-image-popup-icon.png'" class="img-fluid cmn-bdr">
                              <img *ngIf="docs?.is_folder" style="width: 45px; height: 45px;" src="/assets/images/folder-icone.png" class="folder-list-view">                           
                         </div>   
                           <div class="w-100 ml-3">
                              <h5 *ngIf="docs?.is_folder" class="cmn-head-style pt-1 mb-0">{{docs?.title}}</h5>
                              <h5 *ngIf="!docs?.is_folder" class="cmn-head-style pt-1 mb-0">V{{docs?.version}}/{{docs?.title}}</h5>
                              <span class="small-text">{{docs?.size/1048576 | number:'0.2-2'}}MB</span>                                    
                           </div>
                        </div>
                     </div>                           
                  </div>
               </div>   
            </div>
 
         </div>
         <ng-container *mobxAutorun>
            <app-no-data-list [source] = "searchEmptyList" *ngIf = "DocumentsStore.totalItems == 0 && DocumentsStore?.listLoaded"></app-no-data-list>       
          </ng-container>
   </div>
      </div>
   </div>

<!-- document-search-popup End -->
