<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/internal-audit']"><a>{{'internal_audit' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'audit_checklist_answer_key' | translate}}</li>
        </ol>
    </nav>

    <table class="table-master table" *ngIf="AuditCheckListAnswerKeyMasterStore?.loaded && AuditCheckListAnswerKeyMasterStore.allItems.length > 0">


        <tr>
            <th style="width: 5%; text-align: center;" >{{'sl' | translate}}</th>
            <th (click)="sortTitle('audit_checklist_answer_key_language.title')" class="border-top-0 issue-list-org-tab-three pointer" style="width: 83%;"><span>{{'audit_checklist_answer_key' | translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="AuditCheckListAnswerKeyMasterStore.orderItem=='audit_checklist_answer_key_language.title'" class="sort-down-pics pl-2" 
                [attr.src]="AuditCheckListAnswerKeyMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : AuditCheckListAnswerKeyMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>


            <th style="width: 12%; text-align: center;" >{{'status' | translate}}</th>

        </tr>
        <ng-container *mobxAutorun>



            <tr class="edit-and-delete-main"
                *ngFor="let row of AuditCheckListAnswerKeyMasterStore.allItems| paginate: {currentPage:AuditCheckListAnswerKeyMasterStore.currentPage, itemsPerPage:AuditCheckListAnswerKeyMasterStore.itemsPerPage,totalItems:AuditCheckListAnswerKeyMasterStore.totalItems};let num=index ">
                <td style="text-align: center;">{{(AuditCheckListAnswerKeyMasterStore.currentPage - 1) * AuditCheckListAnswerKeyMasterStore.itemsPerPage + (num + 1)}}</td>
                <td>{{row.title}}</td>
                <td style="padding:0.75rem;text-align: center;" >
                    <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                </td>
            </tr>
        </ng-container>
    </table>
    <ng-container *mobxAutorun>
        <div *ngIf="!AuditCheckListAnswerKeyMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data *ngIf = "AuditCheckListAnswerKeyMasterStore.allItems.length == 0 && AuditCheckListAnswerKeyMasterStore.loaded == true"></app-no-data>
   
    </ng-container>

    <div *ngIf="AuditCheckListAnswerKeyMasterStore.totalItems > AuditCheckListAnswerKeyMasterStore.itemsPerPage" class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate"  [nextLabel]="'next' | translate" (pageChange)="getItems($event)" class="my-pagination"></pagination-controls> 
            </div>
        </ul>
    </div>
</div>


