.btn-small1 {
    background: #fff;
    padding: 4px 14px;
    border-radius: 3px;
    border: 1px solid #08f;
    font-size: 12px;
    color: #08f;
    cursor: not-allowed;
    font-weight: 600;
    margin-right: 5px;
}