<nav class="edit-bar" data-toggle="affix" #navigationBar>
   <app-breadcrumb-menu></app-breadcrumb-menu>
   <app-sub-menu></app-sub-menu>
</nav>
<main class="mt-3 assesment-form-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="tab-content">
           
               <div class="tab-pane active" id="info" *mobxAutorun>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="upform">
                           <form>
                              <div class="upform-header"></div>
                              <div class="upform-main">

                                 <div class="input-block widget bg-white p-5 active">
                                    <h4>{{AssessmentStore.currentDate|date : OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</h4>
                                    <h2>{{'competency_assessment'|translate}} </h2>
                                    <div class="row" *ngIf="AssessmentStore.assessment_started">
                                       <div class="col-xl-4">
                                          <hr />
                                       </div>
                                    </div>
                           

                                    <div class="row" *mobxAutorun>
                                       <div class="col-sm-6">
                                          <div class="form-group" *ngIf="!AssessmentStore.assessment_started && !editAssessment">
                                             <label for="name">{{'user'|translate}}</label>
                                             <div class="clearfix">
                                                <div class="pointer multiple-plain-ngselect competency-assessment-user-drop">
                                                   <ng-select [items]="UsersStore.usersList" [attr.placeholder]="'user'|translate"
                                                      bindValue="id" bindLabel = "email"
                                                      [searchFn]="customSearchFn"
                                                      (clear)="getUsers()" (search)="searchUers($event)"
                                                      (open)="getUsers()" (change)="selectUser($event)">
                                                      <ng-template ng-label-tmp let-item="item">
                                                         <img *ngIf="item.image_token" class="ng-select-user-display" height="15" width="15"
                                                            [attr.src]="createImageUrl('user-profile-picture',item.image_token)" 
                                                            onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                         <img *ngIf="!item.image_token" class="ng-select-user-display" height="15" width="15"
                                                            [attr.src]="getDefaultImage('user-logo')"
                                                            onerror = "this.src='/assets/images/user-demo2.png'" />
                                                            <!-- ?item.first_name:item.name -->
                                                            <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],45,' ') | titlecase}}</b>
                                                      </ng-template>
                                                      <ng-template ng-option-tmp let-item="item" let-index="index">
                                                         <div class="user-post-department-pic">
                                                            <img *ngIf="item.image_token" class="ng-select-user-display" height="25" width="25"
                                                               [attr.src]="createImageUrl('user-profile-picture',item.image_token)" 
                                                               onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                            <img *ngIf="!item.image_token" class="ng-select-user-display" height="25" width="25"
                                                               [attr.src]="getDefaultImage('user-logo')" 
                                                               onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                         </div>
                                                         <div class="user-post-department-div">
                                                            <b>{{getStringsFormatted([item.first_name,item.last_name],45,' ') | titlecase}}</b> 
                                                            <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],45,',')}}</p>
                                                         </div>
                                                      </ng-template>
                                                   </ng-select>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <div>
                                      
                                    </div>
                                    <div class="row"
                                       *ngIf="AssessmentStore.assessment_started || editAssessment">
                                       <div class="col-xl-6">
                                          <div class="d-flex flex-row user-list-sm">
                                             <img
                                                [attr.src]="UsersStore.individualUser.image_token?createImageUrl('user-profile-picture',UsersStore.individualUser.image_token):getDefaultGeneralImage()"
                                                onerror="this.src='/assets/images/placeholder.png'" width="30px"
                                                height="30px" class="rounded-circle">
                                             <div>
                                                <h6>{{UsersStore.individualUser.name}}
                                                   {{UsersStore.individualUser.last_name}}</h6>
                                                <span>{{UsersStore.individualUser.designation.title}}</span>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- <a class="search-clear-btn" style="float: right;" (click) = "clearSelectedUser()">X</a> -->
                                    </div>

                                    <div class="input-control">
                                       <div
                                          *ngIf="!AssessmentStore.assessment_started && AssessmentStore.user_selected">
                                          <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes"
                                             type="radio" (click)="startAssessment()">
                                          <label for="toggle-on-q1" class="btn btn-lg start-btn"
                                             (click)="scrollToItem($event,'start')">{{'start'|translate}}</label></div>
                                    </div>
                                 </div>
                                 <div *ngFor="let group of DesignationMasterStore?.competencies;let num = index">
                                 

                                    <div *ngFor="let row of group.competencies;let ind = index" id="single-option">

                                       <div class="input-block  widget bg-white active"
                                          *ngIf="group.id == row.competency_group_id && AssessmentStore.assessment_started">
                                          <div class="upform-heading">
                                             <h5>{{num+1}} {{group.competency_group}}</h5>
                                          </div>

                                          <div class="label">

                                             {{num+1}}.{{ind+1}}.
                                             {{row.title}}</div>

                                          <div class="input-control perfomance-score"
                                             *ngIf="DesignationMasterStore?._competencyLoaded">

                                             <tr>
                                                <td [attr.id]="group.id+'_'+row.id+'_'+op"
                                                   *ngFor="let i of options;let op=index;"
                                                   (click)="getCount(num,ind,row.id,op+1,$event)">

                                                   <input [disabled]="!AssessmentStore.assessment_started"
                                                      [attr.id]="group.id+'_'+row.id+'_'+op" class="toggle toggle-right"
                                                      name="q2" value="no" type="radio">
                                                   <label [attr.id]="group.id+'_'+row.id+'_'+op"
                                                      [ngClass]="checkAnswerStatus(num,ind,op+1)?'btn btn-active':'btn'"
                                                      #input> {{op+1}}</label>
                                                </td>

                                             </tr>
                                          </div>


                                       </div>

                                    </div>
                                   

                                 </div>
                                 <div *ngIf="DesignationMasterStore?.competencies.length>0 && AssessmentStore.assessment_started" class="input-block  widget bg-white competency-result-box p-5 margin-bottom-210">
                                    <div class="col-sm-12">
                                       <div class="progress">
                                          <div class="progress-bar"
                                             [style.width.%]="((AssessmentStore.answered.length)/(DesignationMasterStore?.competencies[0]?.total_competency_count))*100">
                                          </div>
                                       </div>
                                       <p class="mt-1">{{'you_have_completed'|translate}}
                                          {{AssessmentStore.answered.length}}/{{DesignationMasterStore?.competencies[0]?.total_competency_count}}
                                          questions.</p>
                                       <h3 class="mt-4">{{'total_score'|translate}}:
                                          {{AssessmentStore.total_score}}/{{(DesignationMasterStore?.competencies[0]?.total_competency_count)*10}}
                                       </h3>
                                       <p class="form-error pt-1"
                                       *ngIf="formErrors">{{'take_new_assessment'|translate}}</p>
                                       <div class="result-buttons mt-4"> <a
                                             *ngIf="AssessmentStore.answered.length==DesignationMasterStore?.competencies[0]?.total_competency_count && AssessmentStore.assessment_started"
                                             href="#" data-toggle="modal"
                                             class="btn btn-active mr-2" (click)=submitAnswer()>{{AppStore.loading ? getButtonText('loading') : getButtonText('submit')}}</a> 
                                             <!-- <a
                                             *ngIf="AssessmentStore.assessment_started" (click)="editAnswer()"
                                             class="btn mr-2">{{AppStore.loading ? getButtonText('loading') : getButtonText('edit')}}</a> -->
                                          <a class="btn" (click)="cancel()">{{'cancel'|translate}}</a> </div>
                                    </div>
                                 </div>
                                 <div *ngIf="DesignationMasterStore?.competencies.length>0" class="assesment-footer d-flex align-items-center justify-content-between">
                                    <div class="container" style="max-width:900px">
                                       <div class="row ">
                                          <div class="col-sm-6">
                                             <p>{{AssessmentStore.answered.length}} {{'of'|translate}}
                                                {{DesignationMasterStore?.competencies[0]?.total_competency_count}}
                                                {{'answered'|translate}}</p>
                                             <div class="progress">
                                                <div class="progress-bar"
                                                   [style.width.%]="((AssessmentStore.answered.length)/(DesignationMasterStore?.competencies[0]?.total_competency_count))*100">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div *ngIf="DesignationMasterStore?.competencies.length==0 && AssessmentStore.assessment_started">
                                    <app-no-data></app-no-data>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<div class="modal modal-style-1 competency-result-popup fade" data-backdrop="static"
   data-keyboard="false" #resultModal>
   <div class="modal-dialog modal-lg modal-dialog-centered" *mobxAutorun>
      <div class="modal-content" *ngIf="AssessmentStore.total_result_loaded">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">{{'competency_assessment_result'|translate}}</h4>
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <div class="row d-flex justify-content-center">
               <div class="col-md-10">
                  <div class="competency-result-box">
                     <div class="row mb-5">
                        <div class="col-sm-6"> <img src="/assets/images/trophy.gif" class="img-fluid mx-auto" /> </div>
                        <div class="col-sm-6">
                           <h3> {{AssessmentStore.totalResult.total_score_percentage}}/100</h3>
                           <h4>{{AssessmentStore.currentDate|date : OrganizationGeneralSettingsStore.organizationSettings.date_format}}<br>
                              {{'competency_assessment'|translate}}
                           </h4>
                           <h5>{{'you_have_completed_assessment'|translate}}</h5>
                           <div class="row">
                              <div class="col-xl-12">
                                 <div class="d-flex flex-row user-list-sm">
                                  
                                    <img
                                       [attr.src]="AssessmentStore.totalResult.user.image.token?createImageUrl('user-profile-picture',AssessmentStore.totalResult.user.image.token):getDefaultGeneralImage()"
                                       onerror="this.src='/assets/images/placeholder.png'" width="30px" height="30px"
                                       class="rounded-circle">
                                    <div>
                                       <h6>{{AssessmentStore.totalResult.user.first_name}}
                                          {{AssessmentStore.totalResult.user.last_name}}</h6>
                                       <span>{{AssessmentStore.totalResult.user.designation}}</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12">
                           <ul class="assessment-progress-status" *ngIf="AssessmentStore.total_result_loaded">
                              <li
                                 *ngFor="let group of AssessmentStore.totalResult.competency_score;let num = index">
                                 <span class="progress-number">{{num+1}}</span>
                                 <span class="progress-name">{{group.competency_group.title}} / {{group.title}}</span>
                                 <span class="percentage-progress">{{group.pivot.score*10| number : '1.2-2'}}%</span>
                                 <div class="progress-scale-line progress-bar-animation" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                    [style.max-width.%]="group.pivot.score*10"></div>
                              </li>

                           </ul>
                        </div>
                     </div>



                     <!-- <div class="row">
                        <div class="col-sm-12"> <a class="btn mt-3">Download</a> </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #cancelPopup>
   <app-delete-popup [source]="cancelObject"></app-delete-popup>
 </div>
 
 <!------------------- Delete Confirmation Modal End --------------------------->

 <div class="modal modal-style-1 popup-full-width fade" id="detail" data-keyboard="false" data-backdrop="static"
    #detailModal>
    <app-designation-competency-modal *ngIf="designationCompetencyObject.type" [source]="designationCompetencyObject"></app-designation-competency-modal>
</div>