<div class="widget">
    <div class="widget-heading bg-white pt-1 pb-1" style="margin-bottom: 1px;">
      <h2>{{'theme' | translate}}</h2>
    </div>

    <!-- Nav tabs -->


    <div class="widget-body border-0" >
      <!-- [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(1300,'UPDATE_APP_THEME_SETTING') ? '' : 'none'}" *mobxAutorun -->

      <div class="row">

        <div class="col-sm-12">








          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-7">
                <h4>{{'footer_bg_colors'|translate}}</h4>
                <p>{{'footer_bg_colors_message'|translate}}</p>
              </div>

              <div class="col-sm-5 d-flex justify-content-end align-items-center">
                <label class="switch mr-5">
                  <input type="checkbox">
                  <span class="slider"></span>
                </label>
                <!-- <div class="costmz-color"> </div> -->
                <!-- color-theme starts -->
                <div class="color-theme">
                  <div class="costmz-color" [(colorPicker)]="color" [style.background]="color"> </div>
                  <!-- <div class="dropdown">
                    <button type="button" class="btn btn-primary language-btn btn-sm mr-2 btn-color-iso"
                      data-toggle="dropdown" aria-expanded="true"></button>
                    <ul class="dropdown-menu notification-menu clearfix">
                      <li data-css-name="red.css"><a class="dropdown-item box-red" href="#"></a> </li>
                      <li data-css-name="green.css"><a class="dropdown-item box-light-green" href="#"></a>
                      </li>
                      <li data-css-name="pink.css"><a class="dropdown-item box-pink" href="#"></a></li>
                      <li data-css-name="violet.css"><a class="dropdown-item box-violet" href="#"></a>
                      </li>
                      <li data-css-name="green.css"><a class="dropdown-item box-dark-green" href="#"></a>
                      </li>
                      <li data-css-name="blue.css"><a class="dropdown-item box-blue" href="#"></a></li>
                    </ul>
                  </div> -->
                </div>
                <div class="form-group hexa-color">
                  <!-- <input type="text" value="#0088FF" class="form-control" id="usr"> -->
                    <input  class="form-control color-header-new " [value]="color">
                </div>
                <!-- color-theme ends -->





                                        <!-- <div class="form-group hexa-color">

                        <input type="text" value="#ccccc" class="form-control" id="usr">
                        </div> -->

              </div>


            </div>

          </div>
          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-7">
                <h4>{{'footer'|translate}}</h4>
                <p>{{'footer_message'|translate}}</p>
              </div>

              <div class="col-sm-5 d-flex justify-content-end align-items-center">

                <!-- percentage -->
                <div class="col-sm-4 up-pic-cf mt-2" *ngIf="ThemeFooterSettingsStore.logo_preview_available">
                  <div class="upload-pics edit-option file-upload-loader">
                    <circle-progress class="browse-form-pic" [percent]=fileUploadProgress [title]=fileUploadProgress>
                    </circle-progress>
                  </div>
                </div>
                <!-- temp-image -->
                <div
                  [ngClass]="ThemeFooterSettingsStore.getFileDetailsByType('logo')?.is_deleted ? 'col-sm-4 up-pic-cf mt-2 image_deleted':'col-sm-4 up-pic-cf mt-2'"
                  *ngIf="ThemeFooterSettingsStore.getFileDetailsByType('logo')">
                  <div class="upload-pics edit-option">
                    <div class="browse-form-pic"
                      [ngStyle]="{'background': 'url(' + ThemeFooterSettingsStore.getFileDetailsByType('logo')?.preview + ') no-repeat 0 0 / cover'}">
                    </div>
                    <div class="browse-form-name clearfix">
                      <div class="float-left">
                        <h6 [attr.title]="ThemeFooterSettingsStore.getFileDetailsByType('logo')?.name">
                          {{ThemeFooterSettingsStore.getFileDetailsByType('logo')?.name.length > 20 ? ThemeFooterSettingsStore.getFileDetailsByType('logo')?.name.substring(0,20)+' ...' : ThemeFooterSettingsStore.getFileDetailsByType('logo')?.name}}
                        </h6>
                        <span>{{ThemeFooterSettingsStore.getFileDetailsByType('logo')?.size/1048576 | number:'0.2-2'}}MB</span>
                      </div>
                    </div>
                    <div class="edit-option-show">
                      <a (click)="ThemeFooterSettingsStore.unsetFileDetails('logo')"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </div>
                <!-- temp-image end-->
                
                <div class="costmz-logo d-flex justify-content-center align-items-center"> <img
                    src="assets\images\coz-logo.png" /> </div>


                <div class="choose_file">
                  <button type="button" class="btn ordinary-btn cursor-pointer">Add Attachment</button>
                  <input name="img" type="file" accept="image/*" (change)="onFileChange($event,'logo')">
                </div>

              </div>


            </div>

          </div>


          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-7">
                <h4>{{'text_color'|translate}}</h4>
                <p>{{'text_color_message'|translate}}</p>
              </div>

              <div class="col-sm-5 d-flex justify-content-end align-items-center">

                <div class="costmz-color"  [(colorPicker)]="color" [style.background]="color"> </div>


                <div class="form-group hexa-color">

                  <!-- <input type="text" value="#ccccc" class="form-control" id="usr"> -->
                  <input  class="form-control color-header-new " [value]="color">
                </div>

              </div>


            </div>

          </div>

          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-10">
                <h4>{{'©_Copy_Right'|translate}}</h4>
                <p>{{'copy_right_message'|translate}}</p>
              </div>

              <div class="col-sm-2 d-flex justify-content-end align-items-center">
                <input type="text" class="form-control" id="usr">

              </div>


            </div>

          </div>


          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-10">
                <h4>{{'web_URL'|translate}}</h4>
                <p>{{'web_URL_message'|translate}}</p>
              </div>

              <div class="col-sm-2 d-flex justify-content-end align-items-center">
                <input type="text" class="form-control" id="usr">

              </div>


            </div>

          </div>

          <div class="setting-item">
            <div class="row align-items-center">

              <div class="col-sm-10">
                <h4>{{'address'|translate}}</h4>
                <p>{{'address_message'|translate}}</p>
              </div>

              <div class="col-sm-2 d-flex justify-content-end align-items-center">
                <textarea class="form-control" rows="3" id="comment"></textarea>

              </div>


            </div>

          </div>








        </div>

      </div>





    </div>
  </div>