<div [ngClass]="showName?'d-flex flex-row user-list-sm user-box-smol-round rounde-hov-bg align-items-center':''" *ngIf="popupSource">
  <div [ngClass]="showName?'relative user-available-option':''">
    <img *ngIf="!showDepartment" data-toggle="modal" [attr.data-target]="'#user'+popupSource.id" data-ui-class="a-zoom"
      [attr.src]="popupSource.image_token?createImageUrl('user-profile-picture',popupSource.image_token):getDefaultImage('user-logo')"
      [attr.width]="showName ? '40px': '45px'" [attr.height]="showName ? '40px' : '45px'"
      class="rounded-circle rounde-hov details-show-popup cmn-bdr-img" (click)="addZoomClass()"
      onerror="this.src='/assets/images/user-demo2.png'">
    <img *ngIf="showDepartment" data-toggle="modal" [attr.data-target]="'#user'+popupSource.id" data-ui-class="a-zoom"
      [attr.src]="popupSource.image_token?createImageUrl('user-profile-picture',popupSource.image_token):getDefaultImage('user-logo')"
      width="40px" height="40px" class="rounded-circle rounde-hov details-show-popup cmn-bdr-img" (click)="addZoomClass()"
      onerror="this.src='/assets/images/user-demo2.png'">
    <span *ngIf="present"
      [class]="popupSource.present?'user-new-active user-new-active-two online':'user-new-active user-new-active-two offline'">
      <i class="far fa-times-circle"></i>
      <i class="far fa-check-circle"></i>
    </span>
  </div>
  <div class="modal user-details-show-pop animate" [attr.id]="'user'+popupSource.id" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true" #popupModal>
    <div class="modal-dialog" role="document" #dialog>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="user-pic-big">
            <img
              [attr.src]="popupSource.image_token?createImageUrl('user-profile-picture',popupSource.image_token):getDefaultImage('user-logo')"
              class="img-fluid" onerror="this.src='/assets/images/user-demo2.png'">
          </div>
        </div>
        <div class="modal-body">
          <div class="user-online-box">
            <span [ngClass]="popupSource.status_id==1?'user-online online':'user-online'"></span>
          </div>
          <div class="name-user-pop">
            <h4>{{popupSource.first_name}}
              {{popupSource.last_name}}</h4>
            <p>{{popupSource.designation}}</p>
          </div>
          <ul class="user-pop-contact">
            <li *ngIf="popupSource.department!=null"><a><i class="fas fa-briefcase"></i>{{popupSource.department}}</a>
            </li>
            <li *ngIf="popupSource.mobile!=null"><a><i class="fas fa-phone"></i> {{popupSource.mobile?popupSource.mobile:AppStore.noContentText}}</a></li>
            <li *ngIf="popupSource.email!=null"><a><i class="fas fa-envelope"></i> {{popupSource.email?popupSource.email:AppStore.noContentText}}</a></li>
          </ul>
          <div class="user-pop-btns clearfix mt-3" [ngStyle]="{'pointer-events': activateButtons ? 'default' : 'none'}">
            <button type="button" class="btn btn-active float-left"
              (click)="sendEmail()" *ngIf="popupSource.email">{{'send_email' | translate}}</button>
            <button type="button" [ngClass]="popupSource.email?'btn float-right':'btn'" data-dismiss="modal" (click)="gotoUser()" *ngIf="popupSource.id"
              [routerLink]="'/human-capital/users/'+this.popupSource.id">{{'view_detail' | translate}}</button>
          </div>


        </div>

      </div>
    </div>
  </div>

  <div *ngIf="showName">
    <h6 class="elips-1" [ngClass]="alignLeft ? 'text-left': '' ">{{popupSource.first_name}} {{popupSource.last_name}}</h6>
    <span *ngIf="popupSource.designation!=null" class="d-block pt-0"><span
      *ngIf="popupSource.created_at">{{popupSource.designation}} | Created on {{
      popupSource?.created_at | date:
      OrganizationGeneralSettingsStore.organizationSettings?.date_time_format : AppStore.appTimeZoneUTC}}</span>
    <span *ngIf="!popupSource.created_at">{{popupSource.designation}}</span></span>
    <span [class]="classIssue?'pt-0 d-block':''" *ngIf="showDepartment">{{popupSource.department}}</span>
  </div>
</div>