<!-- <app-sub-menu>-</app-sub-menu> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content">

                <div class="tab-pane tab-edit-class smoal-left-tab-page active show" id="project-tab-ten">
                    <div class="audit-program-box audit-page-table-main">
                        <div class="row">
                            <div class="col-sm-12 full-width-table">
                                <div class="fix-table">

                                    <table
                                        *ngIf="DeliverableMasterStore.loaded && DeliverableMasterStore.allItems.length>0"
                                        class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" width="2%">#</th>
                                                <th (click)="sortTitle('task_weightages')"
                                                    class="border-top-0 issue-list-org-tab-three pointer"
                                                    style="width: 30%;"><span>{{'item'| translate}}</span>
                                                    <img _ngcontent-twv-c17="" class="sort-down-pics pl-2"
                                                        [attr.src]=" DeliverableMasterStore.orderBy=='desc' ?
                                                        'assets/images/sort-up.png' :  DeliverableMasterStore.orderBy=='asc' ?
                                                        'assets/images/sort-down.png' :'assets/images/sort-empty.png' "></th>                                               
                                                <th class="border-top-0" width="10%">{{'target_date' | translate}}</th>
                                                <th class="border-top-0" width="20%">{{'responsible_user'| translate}}</th>
                                                <th class="border-top-0" width="14%">{{'status' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="edit-and-delete-main"
                                                *ngFor="let row of  DeliverableMasterStore?.allItems| paginate: {currentPage: DeliverableMasterStore?.currentPage, itemsPerPage: DeliverableMasterStore?.itemsPerPage,totalItems: DeliverableMasterStore?.totalItems}; let num = index">
                                                <td style="text-align : center;">{{( DeliverableMasterStore?.currentPage
                                                    -1) * DeliverableMasterStore?.itemsPerPage + (num + 1)}}</td>
                                                <td class="cursor-pointer">{{row.title}}</td>
                                                <td>{{row.target_date}}</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img onerror="this.src='/assets/images/user-demo2.png'"
                                                            [src]="createImagePreview('user-profile-picture', row?.project_manager_image_token)"
                                                            class="rounded-circle rounde-hov" width="30px"
                                                            height="30px">
                                                        
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img [src]="createImagePreview('user-profile-picture', row?.project_manager_image_token)"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>{{row.responsible_user_first_name}}
                                                                            {{row.responsible_user_last_name}}</h6>
                                                                        <span>{{row.responsible_user_designation}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="pointer">
                                                            <h6>{{row.responsible_user_first_name}}
                                                                {{row.responsible_user_last_name}}</h6>
                                                            <span>{{row.responsible_user_designation}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dot-div red-dot">
                                                        {{row.project_deliverable_status_language_title}}</div>
                                                    <div class="edit-option-show">
                                                        <a (click)=" editFormModal(row)"
                                                            [attr.title]="'edit' | translate"><i
                                                                class="fas fa-pen pointer"></i></a>
                                                        <a (click)="delete(row.id)"
                                                            [attr.title]="'delete' | translate"><i
                                                                class="fas fa-trash pointer"></i></a>

                                                    </div>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                    <div>
                                        <app-table-loader *ngIf="!DeliverableMasterStore.loaded"></app-table-loader>

                                    </div>
                                </div>

                                <div *ngIf="DeliverableMasterStore.totalItems>DeliverableMasterStore.itemsPerPage"
                                    class="col-sm-12">
                                    <ul class="pagination justify-content-center mt-3">
                                        <div class="list">
                                            <pagination-controls [previousLabel]="'previous' | translate"
                                                [nextLabel]="'next' | translate" (pageChange)="pageChange($event)"
                                                class="my-pagination"></pagination-controls>
                                        </div>
                                    </ul>
                                </div>


                                <div class="modal modal-style-1 popup-full-width fade" data-keyboard="false"
                                    data-backdrop="static" #formModal>

                                    <app-project-deliverable-modal [source]="DeliverableObject"
                                        *ngIf="DeliverableObject.type!=null"></app-project-deliverable-modal>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    <div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static"
        data-keyboard="false">
        <app-delete-popup [source]="popupObject"></app-delete-popup>
    </div>