
<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
   <app-breadcrumb-menu></app-breadcrumb-menu>
   <div class="module-name-block module-name-block-space float-left">
      <a class="dropdown module-title">{{'corporate_and_shared_services_division'|translate}}</a>
    </div>
    <app-sub-menu></app-sub-menu>
 </nav>
<main class="mt-3 acl-page">
   <div class="container-fluid">
     <div class="widget">

        <!-- <div class="ceo-db-top" data-toggle="affix">
           <div class="box-cnt-one tab-type-btn-small breadcrumb-db-top clearfix">
              <h6 class="mb-0">{{ 'corporate_and_shared_services_division' | translate}}</h6>
              <a [routerLink]="['/risk-management/ceo-dashboard']" class="breadcrumb-db-back-page"><i class="fas fa-arrow-left"></i>{{ 'back_to_dashboard' | translate}}</a>
           </div>
           
        </div> -->

        

        

        <div class="row sm-row">
           <div class="col-xl-5 col-lg-12 col-sm-12 sm-col">
              <div class="bg-white btm-space-10 ceo-db-first-box-one db-shadow">
                 <div class="row align-items-center">
                    <div class="col-md-4 border-right">
                       <div class="text-center">
                          <h5 class="mb-0">{{ 'risk' | translate}}</h5>
                          <h3 class="big-text-four">{{CeoRiskDashboardStore?.riskCount?.total_risk}}</h3>
                       </div>
                    </div>
                    <div class="col-md-8 text-center">
                       <div class="clearfix round-type-status-main-bg">
                          <div class="round-type-status-main">
                             <div class="open-close-status-db d-flex align-items-center status-open">
                                <div class="round-type-status-value db-light-light-color">
                                   <h6 class="mb-0">{{CeoRiskDashboardStore?.riskCount?.open_percentage}}%</h6>
                                </div>
                                <div class="round-type-status-bg db-light-light-color rounded-circle">
                                   <div class="round-type-status rounded-circle">
                                      <h5>{{ 'open' | translate}}</h5>
                                      <h6 class="mb-0">{{CeoRiskDashboardStore?.riskCount?.open}}</h6>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="round-type-status-main">
                             <div class="open-close-status-db open-close-status-db-right d-flex align-items-center status-closed">
                                <div class="round-type-status-bg db-light-light-color rounded-circle">
                                   <div class="round-type-status rounded-circle">
                                      <h5>{{ 'closed' | translate }}</h5>
                                      <h6 class="mb-0">{{CeoRiskDashboardStore?.riskCount?.close}}</h6>
                                   </div>
                                </div>
                                <div class="round-type-status-value db-light-light-color">
                                   <h6 class="mb-0">{{CeoRiskDashboardStore?.riskCount?.close_percentage}}%</h6>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>   
                 </div> 
              </div>
           </div>
           <div class="col-xl-7 col-lg-12 col-sm-12 sm-col">
              <div class="clearfix">
                 <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
                    <div class="left-line-type-text">
                       <span class="big-line-bdr-left bg-red"></span>
                       <h5>{{ 'extreme' | translate}}</h5>
                       <h6>{{extreme_count}}</h6>
                    </div>
                 </div>
                 <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
                    <div class="left-line-type-text">
                       <span class="big-line-bdr-left bg-orange"></span>
                       <h5>{{ 'significant' | translate}}</h5>
                       <h6>{{significant_count}}</h6>
                    </div>
                 </div>
                 <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
                    <div class="left-line-type-text">
                       <span class="big-line-bdr-left bg-yellow"></span>
                       <h5>{{ 'high' | translate}}</h5>
                       <h6>{{high_count}}</h6>
                    </div>
                 </div>
                 <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
                    <div class="left-line-type-text">
                       <span class="big-line-bdr-left bg-light-green"></span>
                       <h5>{{ 'moderate' | translate}}</h5>
                       <h6>{{moderate_count}}</h6>
                    </div>
                 </div>
                 <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow ceo-db-full-width-box">
                    <div class="left-line-type-text">
                       <span class="big-line-bdr-left bg-green"></span>
                       <h5>{{ 'low' | translate}}</h5>
                       <h6>{{low_count}}</h6>
                    </div>
                 </div>
              </div>
           </div>
        </div>

        <div class="row sm-row">
         <div class="col-lg-7 col-sm-12 sm-col">
            <div class="bg-white widg-padding-cmn btm-space-10 ceo-db-aut-three db-shadow">
               <h5 class="cmn-head-style">{{ 'top_open_risks' | translate}}</h5>
               <hr>

               <div class="">
                  <div >
                      <div class="item" style="height: 406px;">
                         <owl-carousel-o [options]="clientOptions" *ngIf="CeoRiskDashboardStore?.riskList?.length!=0">
                            <ng-container >
                                <ng-template carouselSlide>
                                    <div class="top-ten-risk-db-main">
                                        <div class="top-ten-risk-db" style="padding: 20px 20px;" *ngFor="let risk of CeoRiskDashboardStore?.riskList;let num=index" [routerLink]="['/risk-management/risks/'+risk.id]">
                                            <div class="d-flex align-items-center pointer">
                                                <h4>{{num+1}}</h4>
                                                <div class="middle-text-sec-risk-db w-100">
                                                    <p>{{risk?.title}}</p>
                                                </div>
                                                <div class="top-ten-right-left-line-type-text" style="width: 220px;">
                                                    <div class="left-line-type-text-main d-inline-block">
                                                        <div class="left-line-type-text">
                                                            <span class="big-line-bdr-left" [ngStyle]="{'background':risk.color_code}"></span>
                                                            <h5>{{risk.risk_rating}}</h5>
                                                            <h6>{{risk.risk_score}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                            <ng-container *ngIf="CeoRiskDashboardStore?.secondRiskList?.length!=0">
                                <ng-template carouselSlide>
                                    <div class="top-ten-risk-db-main">
                                        <div class="top-ten-risk-db" style="padding: 20px 20px;" *ngFor="let risk of CeoRiskDashboardStore.secondRiskList;let num=index" [routerLink]="['/risk-management/risks/'+risk.id]">
                                            <div class="d-flex align-items-center pointer">
                                                <h4>{{num+6}}</h4>
                                                <div class="middle-text-sec-risk-db w-100">
                                                    <p>{{risk?.title}}</p>
                                                </div>
                                                <div class="top-ten-right-left-line-type-text" style="width: 220px;">
                                                    <div class="left-line-type-text-main d-inline-block">
                                                        <div class="left-line-type-text">
                                                            <span class="big-line-bdr-left" [ngStyle]="{'background':risk.color_code}"></span>
                                                            <h5>{{risk.risk_rating}}</h5>
                                                            <h6>{{risk.risk_score}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                      </div>
                   </div>
                </div>




            </div>
         </div>
         <div class="col-lg-5 col-sm-12 sm-col">
            <div class="bg-white widg-padding-cmn btm-space-10 ceo-db-aut-four db-shadow">
               <h5 class="cmn-head-style">{{ 'department_wise_risk' | translate}} </h5>
               <hr>

               <div class="">
                <div class="chart-new-round-pic text-right">
                    <div id="corpChartdiv" style="width: 100%; height: 406px"></div>
                </div>
            </div>

            </div>
         </div>
      </div>

       

        


        <div class="row sm-row">
           <div class="col-sm-12 sm-col">
              <div class="bg-white widg-padding-cmn btm-space-10 pt-0 db-shadow">
                 <div class="row widget-heading line-tab">
                     <div class="col-lg-6 col-md-12">
                         <h2 class="ml-0"> {{ 'risk_heat_map' | translate}}  </h2>
                     </div>
                     <div class="col-lg-6 col-md-12">

                         <ul class="nav nav-tabs float-right">
                             <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#risk-heat-map-one">{{ 'by_category' | translate}}</a> </li>
                             <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#risk-heat-map-two">{{ 'by_source' | translate  }}</a> </li>
                             <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#risk-heat-map-three">{{ 'by_status' | translate  }}</a> </li>
                         </ul>
                     </div>
                 </div>

                 <div class="tab-content tab-content-body pt-3">
                  <div class="tab-pane active show" id="risk-heat-map-one">
                      <div
                          class="no-fixed-table risk-heatmap-category likelihood-risk-table bg-white risk-heat-map-aab">
                          <h6 class="risk-dashboard-heatmap-label text-center">{{'impact' | translate}}</h6>
                          <h6 class="risk-dashboard-heatmap-label label-lef-center text-rotate-tbl">Likelihood
                          </h6>
                          <table>
                              <tr *ngFor="let likelihood of LikelihoodStore.likelihoodDetails;let num=index">
                                  <td [ngClass]="'color-box-risk bg-'+map.color" [ngStyle]="{cursor:map.risk_count==0?'default':'pointer'}"
                                      *ngFor="let map of CeoRiskDashboardStore.riskHeatMap[num];let colm=index"><span [ngStyle]="{cursor:map.risk_count==0?'default':'pointer'}"
                                      class="count-risk" *ngIf="map.likelihood_id == likelihood.id">{{map.risk_count}}</span>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>

           
              </div>
           </div>
        </div>






  </div>

   </div>
 </main>