.pinned-projects-heading{
    padding: .5em .5em;
border: 1px solid #08f;
border-radius: .3em;
margin-bottom: 1.3em;
color: #08f;
width: fit-content;
}
.pinned-projects-heading:hover{
    background: rgba(255, 255, 255, 0.856);
}

.thumbtack-icon{
    z-index: 999;
}
.thumbtack-icon:hover{
    color: rgb(74, 169, 251) !important;
}

.thumbtack-icon.active{
    color: #08f !important;
}

.thumbtack-icon.active:hover{
    color: rgb(136, 199, 255) !important;
    rotate: 90deg;
}

.project-list-main .progress{
    background: #e9ecef;
}

.thumbtack-active{
    transform: rotate(45deg);
}

.thumbtack-transform{
    transition: all 500ms ease-in-out;
}
