<div class="widget mb-0">
    <!-- Nav tabs -->
    <div class="bg-white">
        <div class="row widget-heading">
            <div class="col-sm-12">
                <h2 class="m-0 pb-2">{{'turn_on_all_email_notifications' | translate}} / <span class="">{{'email_notification' | translate}}</span></h2>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 email-notification-settings">
            <div id="accordion" class="mt-2">
                <div class="card">
                    <div class="card-header" id="headingOne" >
                        <h3 data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                            {{'general' | translate}}
                            <label class="switch" [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(1300,'ACTIVATE_ALL_EMAIL_NOTIFICATIONS') ? '' : 'none'}">
                                <input type="checkbox" [checked]="EmailNotificationSettingsStore.emailNotificationSettings[0]?.is_enabled ? true : false"
                                (change) = "turnOffEmailNotification($event)">
                                <span class="slider"></span>
                            </label>
                        </h3>
                    </div>
                </div>
                <div class="card" *ngFor = "let notifications of EmailNotificationSettingsStore.emailNotificationSettings[0]?.module_groups; let i = index">
                    <div class="card-header" [attr.id]="i">
                        <div class="row">
                            <div class="col-sm-10 pointer" data-toggle="collapse" [attr.data-target]="'#'+i"
                                aria-expanded="false" [attr.aria-controls]="i" (click) = "openAccordionList(i)">
                                <h3>
                                    {{notifications.module_group}}
                                </h3>
                                <!-- <div class="directio-text">Enable, Disable Email Notification in Organization Mode</div> -->
                            </div>

                            <div class="col-sm-2">
                                <label class="switch mr-4 mt-2" [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(1300,'MODULE_GROUP_EMAIL_NOTIFICATIONS_ACTIVATE') ? '' : 'none'}">
                                    <input type="checkbox" [checked]="notifications.is_enabled ? true : false"
                                    (change) = "notificationsChanged($event,notifications)">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div [attr.id]="i" [ngClass]="activeIndex == i ? 'collapse show' : 'collapse'" [attr.aria-labelledby]="i" data-parent="#accordion">
                        <div class="card-body">
                            <div class="setting-item"  *ngFor = "let subNotifications of notifications.notifications">
                                <div class="row">

                                    <div class="col-sm-8">
                                        <h4>{{subNotifications.title}}</h4>
                                    </div>
                                    <div class="col-sm-4">

                                        <label class="switch" [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(1300,'EMAIL_NOTIFICATIONS_ACTIVATE') ? '' : 'none'}">
                                            <input type="checkbox" [checked]="subNotifications.is_enabled ? true : false"
                                            (change) = "subNotificationChange($event,subNotifications,notifications)">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>