<button type="button" class="close" (click)="closeFormModal()">
  <i class="lni-close"></i><span>{{ "esc" | translate }}</span>
</button>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">
        {{ 'new_executive_summary' | translate }}
      </h4>
    </div>
    <!-- Modal body -->
    <div class="modal-body form-body">
      <p class="head-details">
        {{ 'new_executive_description_reports' | translate }}
      </p>
      <form [formGroup]="exeutiveForm" *mobxAutorun>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label for="title"
                >{{ "title" | translate
                }}<span class="form-error">*</span></label
              >
              <input
                type="text"
                formControlName="title"
                class="form-control"
                [attr.placeholder]="'title' | translate"
                id="cctitle"
              />
              <p class="form-error" *ngIf="exeutiveFormErros">
                {{ exeutiveFormErros.title }}
              </p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12">
            <div class="form-group add-kpi-textarea">
              <span style="float: right" class="text-grey"
                >{{
                  exeutiveForm?.value.description != null
                    ? getDescriptionLength()
                    : 0
                }}
                Characters</span
              >

              <label for="name">{{ "description" | translate }}
                <span class="form-error">*</span>
              </label>
              <ckeditor id="description" (change)="descriptionValueChange($event)" [editor]="Editor" formControlName="description"></ckeditor>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
                <div class="Preview-checkbox clearfix" style="padding-top:9px;">
                    <label class="container2 float-left pl-4 font-normal mb-3" style="font-size: 14px; padding-top:2px;">
                        <input type="checkbox" (change)="setIsFirst($event)" 
                        [checked]="isFirst">
                        <span class="checkmark mt-1"></span> {{'is_first' | translate}}</label>
                </div>
            </div>
        </div>
          <div class="col-lg-12 col-sm-12">
          <div class="form-group marginTopM13" *ngIf="!isFirst">
            <label for="name"
              >{{ "after" | translate
              }}<span class="form-error">*</span></label
            >
            <div class="clearfix">
              <div
                class="multiple-plain-ngselect"
              >
                <ng-select
                  [placeholder]="'title' | translate"
                  [multiple]="false"
                  searchable="true"
                  (change)="titlePositionChange($event)"
                  (search)="searchExecutiveTitle($event)"
                  (clear)="getExecutiveTitle()"
                  (open)="getExecutiveTitle()"
                >
                  <ng-option
                    [value]="type"
                    [disabled] = "type.id == exeutiveForm.value.id ? 'true' : 'false'"
                    *ngFor="let type of ExecutiveStore?.executiveDetailsReports?.executive_summary_report_details"
                  >
                    {{ type.title }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12">
          <div class="d-block justify-content-left border-0 mt-3">
            <button
              type="submit"
              class="btn btn-active"
              (click)="saveExecuteSummary()"
              [disabled]="exeutiveForm.invalid || AppStore.loading"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("save")
              }}
            </button>
            <button
              type="button"
              data-toggle="modal"
              data-target="#signal-lost"
              class="btn"
              (click)="saveExecuteSummary(true)"
              [disabled]="exeutiveForm.invalid || AppStore.loading"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("save_close")
              }}
            </button>
            <button
              type="button"
              data-toggle="modal"
              data-target="#error-message"
              class="btn"
              (click)="closeFormModal()"
            >
              {{
                AppStore.loading
                  ? getButtonText("loading")
                  : getButtonText("cancel")
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal footer -->
  </div>
</div>
