
      <div class="widget">

         <div class="row mb-3">
            <div class="col-lg-8 col-sm-12 padding-right-0">
               <div class="bg-white widg-padding-cmn">

                  <div class="loder-section mb-3"><!-- loder head&text starts -->
                         <div class="loder-section-inner">
                           <div class="ph-item pl-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row">

                                 <div class="ph-col-4 big mr-2" style="height: 22px;"></div>
                                 <div class="ph-col-1 big" style="height: 22px;"></div>

                              </div>
                              <div class="ph-row">
                                 <div class="ph-col-6 big" style="height: 15px;"></div>
                                 <div class="ph-col-6 big empty" style="height: 15px;"></div>

                                 <div class="ph-col-12"></div>
                                 <div class="ph-col-12"></div>
                                 <div class="ph-col-6"></div>
                                 <div class="ph-col-6 empty"></div>

                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                       <div class="row">
                        <div class="col-lg-4 col-sm-6">

                           <div class="loder-section">
                              <div class="loder-section-inner">
                                <div class="ph-item">
                                  <div class="ph-col-12">
                                    <div class="ph-row mb-0">
                                      <div class="ph-col-6 big"></div>
                                      <div class="ph-col-6 empty big"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                           <div class="loder-section mb-3"><!-- loder user starts -->
                              <div class="loder-section-inner">
                                 <div class="ph-item">
                                    <div class="ph-col-2">
                                      <div class="ph-avatar-small mb-0"></div>
                                    </div>
                                    <div>
                                      <div class="ph-row pt-2 mb-0">

                                        <div class="ph-col-10 md"></div>
                                        <div class="ph-col-2 md empty"></div>
                                        <div class="ph-col-4 mb-0"></div>
                                        <div class="ph-col-8 empty mb-0"></div>
                                      </div>
                                    </div>
                                  </div>
                               </div>
                             </div>

                        </div>
                       </div>

               </div>
            </div>
            <div class="col-lg-4 col-sm-12">

               <div class="bg-white widg-padding-cmn-small h-100 mb-3">

                  <div class="loder-section pt-3 mb-0"><!-- loder head&text starts -->
                         <div class="loder-section-inner">
                           <div class="ph-item pl-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row">

                                 <div class="ph-col-4 big empty" style="height: 40px;"></div>
                                 <div class="ph-col-1 big empty" style="height: 40px;"></div>
                                 <div class="ph-col-2 big" style="height: 40px;"></div>
                                 <div class="ph-col-1 big empty" style="height: 40px;"></div>
                                 <div class="ph-col-4 big empty" style="height: 40px;"></div>

                              </div>
                             </div>
                           </div>
                         </div>
                       </div>
                  

                  <div class="d-flex justify-content-center mt-4 flex-wrap text-center">
                      <div class="mb-3 ml-3 mr-3 w-25">
                       
                        <div class="loder-section mb-0 w-100"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row mb-0">
                                   <div class="ph-col-1 empty big"></div>
                                   <div class="ph-col-10 big"></div>
                                   <div class="ph-col-1 empty big"></div>

                                   <div class="ph-col-3 mb-0 empty"></div>
                                   <div class="ph-col-6 mb-0"></div>
                                   <div class="ph-col-3 mb-0 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                      </div>
                      <div class="border-right mb-3"></div>
                      <div class="mb-3 ml-3 mr-3 w-25">
                       <div class="loder-section mb-0 w-100"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row mb-0">
                                   <div class="ph-col-1 empty big"></div>
                                   <div class="ph-col-10 big"></div>
                                   <div class="ph-col-1 empty big"></div>

                                   <div class="ph-col-3 mb-0 empty"></div>
                                   <div class="ph-col-6 mb-0"></div>
                                   <div class="ph-col-3 mb-0 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                      </div>
                      <div class="border-right mb-3"></div>
                      
                      <div class="border-right mb-3"></div>
                      <div class="ml-3 mr-3 w-25">
                       <div class="loder-section mb-0 w-100"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row mb-0">
                                   <div class="ph-col-1 empty big"></div>
                                   <div class="ph-col-10 big"></div>
                                   <div class="ph-col-1 empty big"></div>

                                   <div class="ph-col-3 mb-0 empty"></div>
                                   <div class="ph-col-6 mb-0"></div>
                                   <div class="ph-col-3 mb-0 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                      </div>  
                    </div>


                    <div class="loder-section pt-4 mb-0"><!-- loder head&text starts -->
                         <div class="loder-section-inner">
                           <div class="ph-item pl-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row">

                                 <div class="ph-col-4 big empty" style="height: 40px;"></div>
                                 <div class="ph-col-2 big mr-2" style="height: 40px;"></div>
                                 <div class="ph-col-2 big" style="height: 40px;"></div>

                              </div>
                             </div>
                           </div>
                         </div>
                       </div>


               </div>

            </div>
         </div>


         <div class="row">
            <div class="col-sm-12">
               <div class="bg-white widg-padding-cmn">

                  <div class="loder-section"><!-- loder head&text starts -->
                     <div class="loder-section-inner">
                       <div class="ph-item">
                         <div class="ph-col-12">
                           <div class="ph-row mb-0">
                             
                             <div class="ph-col-4 big mb-0"></div>
                             <div class="ph-col-8 empty big mb-0"></div>

                           </div>
                         </div>
                       </div>
                     </div>
                  </div>

                  <hr class="mt-2">

                  <div class="d-flex">
                     <div class="mr-3">
                        <div class="loder-section"><!-- loder user starts -->
                           <div class="loder-section-inner">
                              <div class="ph-item">
                                 <div class="pr-0">
                                   <div class="ph-avatar-small mb-0" style="width: 40px;"></div>
                                 </div>
                                 
                               </div>
                            </div>
                          </div>
                     </div>
                     <div class="w-100">

                        <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">
                                   <div class="ph-col-6 md mr-2"></div>
                                   <div class="ph-col-1 md"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                         <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">

                                   <div class="ph-col-4 mb-3"></div>
                                   <div class="ph-col-8 mb-3 empty"></div>
                                   <div class="ph-col-12"></div>
                                   <div class="ph-col-6"></div>
                                   <div class="ph-col-6 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                  </div>

                  <hr class="mb-4">

                  <div class="d-flex">
                     <div class="mr-3">
                        <div class="loder-section"><!-- loder user starts -->
                           <div class="loder-section-inner">
                              <div class="ph-item">
                                 <div class="pr-0">
                                   <div class="ph-avatar-small mb-0" style="width: 40px;"></div>
                                 </div>
                                 
                               </div>
                            </div>
                          </div>
                     </div>
                     <div class="w-100">

                        <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">
                                   <div class="ph-col-4 md mr-2"></div>
                                   <div class="ph-col-1 md"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                         <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">

                                   <div class="ph-col-3 mb-3"></div>
                                   <div class="ph-col-1 mb-3 empty"></div>
                                   <div class="ph-col-8 mb-3 empty"></div>
                                   <div class="ph-col-12"></div>
                                   <div class="ph-col-8"></div>
                                   <div class="ph-col-4 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                  </div>

                  <hr class="mb-4">

                  <div class="d-flex">
                     <div class="mr-3">
                        <div class="loder-section"><!-- loder user starts -->
                           <div class="loder-section-inner">
                              <div class="ph-item">
                                 <div class="pr-0">
                                   <div class="ph-avatar-small mb-0" style="width: 40px;"></div>
                                 </div>
                                 
                               </div>
                            </div>
                          </div>
                     </div>
                     <div class="w-100">

                        <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">
                                   <div class="ph-col-4 md"></div>
                                   <div class="ph-col-1 md mr-2"></div>
                                   <div class="ph-col-1 md"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                         <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">

                                   <div class="ph-col-4 mb-3"></div>
                                   <div class="ph-col-8 mb-3 empty"></div>
                                   <div class="ph-col-12"></div>
                                   <div class="ph-col-12"></div>
                                   <div class="ph-col-2"></div>
                                   <div class="ph-col-10 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                  </div>

                  <hr class="mb-4">

                  <div class="d-flex">
                     <div class="mr-3">
                        <div class="loder-section"><!-- loder user starts -->
                           <div class="loder-section-inner">
                              <div class="ph-item">
                                 <div class="pr-0">
                                   <div class="ph-avatar-small mb-0" style="width: 40px;"></div>
                                 </div>
                                 
                               </div>
                            </div>
                          </div>
                     </div>
                     <div class="w-100">

                        <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">
                                   <div class="ph-col-6 md mr-2"></div>
                                   <div class="ph-col-1 md"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                         <div class="loder-section"><!-- loder head&text starts -->
                           <div class="loder-section-inner">
                             <div class="ph-item">
                               <div class="ph-col-12">
                                 <div class="ph-row">

                                   <div class="ph-col-4 mb-3"></div>
                                   <div class="ph-col-8 mb-3 empty"></div>
                                   <div class="ph-col-12"></div>
                                   <div class="ph-col-6"></div>
                                   <div class="ph-col-6 empty"></div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                  </div>

                  

                  



               </div>
            </div>
         </div>



      </div>

