<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'compliance_status' | translate}}</h4>
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">

            <p class="head-details"></p>

            <form [formGroup]="form" *mobxAutorun>
                
                 <div class="row">
                    <div class="col-sm-12">
                       <div class="form-group">
                           <label for="name">{{'status' | translate}}<span class="form-error">*</span></label>
                           <div class="clearfix">
                             <div class="multiple-plain-ngselect ">
                                <ng-select
                                    placeholder="{{'select_status' | translate}}"
                                    [multiple]="false"
                                    formControlName="compliance_status_id"
                                    (search) = "searchComplianceStatus($event)"
                                    
                                    (open)="getComplianceStatus()"
                                    >
                                    <ng-option [value]="compliance_status_id.id" *ngFor="let compliance_status_id of ComplianceStatusMasterStore.statusList" >
                                        {{compliance_status_id.compliance_status_language?.length > 80 ? compliance_status_id.compliance_status_language?.substring(0,80)+' ...' : compliance_status_id.compliance_status_language}}
                                    </ng-option>
                                 </ng-select>
                                 <p style="color: red;" *ngIf="formErrors"> {{formErrors.compliance_status_id}}</p>
                             </div>
                         </div>
                        </div>
                       

                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span style="float: right;"><p class="text-grey mb-0">{{form?.value.comment != null ? form?.value.comment?.length : 0}} {{'characters' | translate}}</p></span>
                            <label>{{'enter_comment' | translate}}</label>
                            <textarea class="form-control" rows="4" id="comment11" formControlName = "comment"
                                placeholder="{{'enter_comment_here' | translate}}"></textarea>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group add-kpi-textarea">
                            <span style="float: right;"><p class="text-grey">{{form?.value.evidences != null ? form?.value.evidences?.length : 0}} {{'characters' | translate}}</p></span>
                            <label>{{'evidences' | translate}}</label>
                            <textarea class="form-control" rows="4" id="comment11" formControlName = "evidences"
                                placeholder="{{'evidences' | translate}}"></textarea>
                        </div>
                    </div>
                </div> -->
                <label for="name" class="label-style mb-0"> {{'attachments' | translate}}</label>
                           
                <div class="scroll-documents" #uploadArea>
                    <div class="row m-0 upload-section" style="padding-top: 0">
                        <div class="col-lg-4 col-sm-4 costmz-logo-new mt-2">

                            <div class="question-circle-inp"  style="margin-right: 7px;">
                                <i class="far fa-question-circle"></i>
                                <div class="message-password-inp">
                                    <p class="mb-0">{{'allowed_file_types' | translate}}
                                        {{OrganizationGeneralSettingsStore.organizationSettings?.support_file_allowed_types.toString()}}</p>
                                </div>
                            </div>
                            <div class="form-group form-group-upload">
                                <div class="darag-dropifile-upload">
                                    <div class="d-flex justify-content-center align-items-center text-center">
                                        <div>
                                            <img src="assets/images/drag-pic.png" class="drag-pic-files">
                                            <div class="drag-file-name"> {{'drag_drop_file_here' | translate}} </div>
                                            <div class="upload-btn-wrapper">
                                                <input type="file" multiple name="myfile"
                                                    (change)="onFileChange($event,'brochure')"
                                                    [accept]="checkAcceptFileTypes('brochure')" 
                                                    [disabled] = "checkLogoIsUploading()"
                                                    />
                                                <button class="btn">{{'browse_files' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [ngClass]="files.success? 'col-sm-4 col-lg-4 up-pic-cf mt-2 hide_loader' : 'col-sm-4 col-lg-4 up-pic-cf mt-2'"
                            *ngFor="let files of fileUploadsArray">
                            <div class="upload-pics edit-option file-upload-loader">
                                <circle-progress class="browse-form-pic" [percent]=files.uploadProgress
                                    [title]=files.uploadProgress>
                                </circle-progress>
                            </div>
                        </div>
                        <!-- [ngClass]="ComplianceRegisterStore.docDetails ? 'col-sm-3 col-lg-3 up-pic-cf mt-2 ':'col-sm-3 col-lg-3 up-pic-cf mt-2'" -->
                        <div class="col-sm-4 col-lg-4 up-pic-cf mt-2" *ngIf = "ComplianceRegisterStore.docDetails" >
                           
                            <div class="upload-pics edit-option">
                                <div *ngIf="ComplianceRegisterStore.docDetails" class="browse-form-pic"
                                    [ngStyle]="{'background': 'url(' + ComplianceRegisterStore.docDetails?.preview_url + ') no-repeat 0 0 / cover'}">
                                </div>
                                <div class="browse-form-name clearfix">
                                    <div class="float-left">
                                        <h6>{{ComplianceRegisterStore.docDetails?.name.length>15?ComplianceRegisterStore.docDetails?.name.substring(0,15)+' ...':ComplianceRegisterStore.docDetails?.name}}</h6>
                                        <span>{{ComplianceRegisterStore.docDetails?.size/1048576 | number:'0.2-2'}}MB</span>
                                    </div>
                                    <div class="browse-logo">
                                        <img *ngIf="checkExtension(ComplianceRegisterStore.docDetails?.ext,'excel') != -1"
                                            src="/assets/images/md-xl.png">
                                        <img *ngIf="checkExtension(ComplianceRegisterStore.docDetails?.ext,'image') != -1"
                                            src="/assets/images/md-jpg.png">
                                        <img *ngIf="checkExtension(ComplianceRegisterStore.docDetails?.ext,'doc') != -1"
                                            src="/assets/images/md-doc.png">
                                        <img *ngIf="checkExtension(ComplianceRegisterStore.docDetails?.ext,'pdf') != -1"
                                            src="/assets/images/md-pdf.png">
                                    </div>
                                </div>
                                <div class="edit-option-show">
                                    <a (click)="removeDocument(ComplianceRegisterStore.docDetails?.token)"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- || !ComplianceRegisterStore.docDetails -->
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="submit" class="btn btn-active" (click)="save()"
                                [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                            <button type="button" data-toggle="modal" data-target="#signal-lost"
                                class="btn" (click)="save(true)"
                                [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                            <button type="button" data-toggle="modal" data-target="#error-message"
                                class="btn"
                                (click)="cancel()">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
    </div>
</div>

