<button type="button" class="close" data-dismiss="modal" (click) = "closeFormModal()"><i class="lni-close"></i><span>esc</span></button>
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title pb-2">{{'maturity_matrix_plan'| translate}}</h4>
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>
                <!-- Modal body -->
                <form id="teamForm" [formGroup]="planForm">
                <div class="modal-body form-body">
                    <p class="head-details">{{'maturity_matrix_plan_brief' | translate}}</p>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label for="title">{{'title'| translate}}<span class="form-error">*</span></label>
                                     <div class="plain-select input-add-report">
                                         <input type="text" class="form-control" formControlName="title" 
                                         placeholder="{{'mm_plan_form_title_placeholder' | translate}}">
                                        
                                         <p style="color: red;" class="form-error pt-1" *ngIf="formErrors && formErrors.title">{{formErrors.title}}</p>
                                      </div>
                              </div>
                        </div>
                        
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label for="title">{{'description'| translate}}</label>
                                     <div class="plain-select input-add-report">
                                        <textarea  formControlName="description" class="form-control" rows="3" id="comment" [placeholder]="'mm_plan_form_description_description' | translate"></textarea>
                                      </div>
                              </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="name">{{'start_date' | translate}}<span class="form-error">*</span></label>
                                <div class="input-group">
                                 <input class="form-control" id="start_date" [placeholder]="'select_start_date' | translate"
                                        name="start_date" ngbDatepicker #s="ngbDatepicker"  formControlName = "start_date" [minDate]="{year: 1950, month: 1, day: 1}">
                                 <div class="input-group-append">
                                   <button class="btn btn-outline-secondary calendar" (click)="s.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                 </div>
    
                               </div>
                               <p class="form-error pt-1" *ngIf="formErrors && formErrors.start_date">{{formErrors.start_date}}</p>
    
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="name">{{'end_date' | translate}}<span class="form-error">*</span></label>
                                <div class="input-group">
                                 <input class="form-control" id="end_date" [placeholder]="'select_end_date' | translate"
                                        name="end_date" ngbDatepicker #e="ngbDatepicker" formControlName = "end_date" [minDate]="planForm.value.start_date">
                                 <div class="input-group-append">
                                   <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                 </div>
    
                               </div>
                               <p class="form-error pt-1" *ngIf="formErrors && formErrors.end_date">{{formErrors.end_date}}</p>
    
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label for="name">{{'assessor' | translate}}<sup>*</sup></label>
                                <div class="clearfix d-flex">
                                    <div class="multiple-plain-ngselect w-100">
                                        <ng-select
                                           [items]="UsersStore.usersList"
                                           formControlName = "responsible_user_ids"
                                           bindLabel = "email"
                                           labelForId = "id"
                                           [placeholder]="'select_assessor' | translate"
                                           multiple="true"
                                           [closeOnSelect]="false"
                                           (search) = "searchUers($event)"
                                           (clear) = "getUsers()"
                                           (open) = "getUsers()"
                                           [searchFn]="customSearchFn">
                                           <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                              <img *ngIf = "item.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                              <img *ngIf = "!item.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage('user-logo')"/>
                                              <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                                           </ng-template>
                                           <ng-template ng-option-tmp let-item="item" let-index="index">
                                              <div class="user-post-department-pic">
                                                 <img *ngIf = "item.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                 <img *ngIf = "!item.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage('user-logo')"/>
                                              </div>
                                              <div class="user-post-department-div">
                                                 <b>{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b>
                                                 <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],50,',')}}</p>
                                              </div>
                                           </ng-template>
                                        </ng-select>
                                     </div>
                                </div>
                                <p class="form-error pt-1" *ngIf="formErrors && formErrors.responsible_user_ids">{{formErrors.responsible_user_ids}}</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-block justify-content-left border-0 mt-3">
                                <button type="button" [disabled]="planForm.invalid || AppStore.loading" (click) = "save()" class="btn btn-active">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                                <button type="button" [disabled]="planForm.invalid || AppStore.loading" (click) = "save(true)" class="btn">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                                <button type="button" data-toggle="modal" (click) = "closeFormModal()" class="btn">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <!-- Modal footer -->
            </div>
        </div>