<app-no-data [border]="false"
   *ngIf="ImpactAnalysesStore.allItems.length == 0 && ImpactAnalysesStore.loaded==true"></app-no-data>
<div *ngIf="ImpactAnalysesStore.loaded">
   <!-- <div class="row"> -->
   <!-- <div class="col-sm-12"> -->

   <!-- Profille -->

   <div class="mb-3">
      <div class="audit-preplan-table slider-table slider-table-detils">
         <table class="table table-bordered ordinary-table cmn-table-style" style="width: 100%;">
            <tr *ngIf="ImpactAnalysesStore.allItems.length > 0">
               <th class="border-top-0 middle-text-table" width="13%">Impact</th>
               <th colspan="2" class="border-top-0 text-center" width="29%">Money
                  <div class="slider-table-head">
                     <span class="slider-info-icon-o">0</span>
                  </div>
               </th>
               <th colspan="2" class="border-top-0 text-center" width="29%">Time
                  <div class="slider-table-head">
                     <span class="slider-info-icon-o">0</span>
                  </div>
               </th>
               <th colspan="2" class="border-top-0 text-center" width="29%">Count
                  <div class="slider-table-head">
                     <span class="slider-info-icon-o">0</span>
                  </div>
               </th>
            </tr>


            <ng-container *mobxAutorun>
               <tr *ngFor="let impactDetails of ImpactAnalysesStore.allItems"
                  class="cursor-pointer tr-action edit-and-delete-main">

                  <td class="bg-table-head">{{impactDetails.finding_impact_analysis_category_title}}</td>
                  <td style="width: 14.5%;">

                     <div class="time-and-money-label slider-bg-graph-red progress-bar-animation float-right"
                        *ngIf="impactDetails.money<0" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="doller-icon"><i class="fas fa-dollar-sign"></i></span>
                           $ {{impactDetails.money}}
                        </div>
                     </div>
                  </td>

                  <td style="width: 14.5%;">
                     <div class="time-and-money-label slider-bg-graph-green progress-bar-animation float-left"
                        role="progressbar" *ngIf="impactDetails.money>0" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="doller-icon"><i class="fas fa-dollar-sign"></i></span>
                           $ {{impactDetails.money}}
                        </div>
                     </div>

                  </td>


                  <td style="width: 14.5%;">

                     <div class="time-and-money-label slider-bg-graph-red progress-bar-animation float-right"
                        *ngIf="impactDetails.time<0" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="time-icon"><i class="far fa-clock"></i></span>
                           {{impactDetails.time}} hour
                        </div>
                     </div>
                  </td>

                  <td style="width: 14.5%;">
                     <div class="time-and-money-label slider-bg-graph-green progress-bar-animation float-left"
                        *ngIf="impactDetails.time>0" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="time-icon"><i class="far fa-clock"></i></span>
                           {{impactDetails.time}} hour
                        </div>
                     </div>
                  </td>




                  <td style="width: 14.5%;">

                     <div class="time-and-money-label slider-bg-graph-red progress-bar-animation float-right"
                        *ngIf="impactDetails.count<0" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="time-icon"><i class="far fa-clock"></i></span>
                           $ {{impactDetails.count}}
                        </div>
                     </div>
                  </td>


                  <td style="width: 14.5%;">

                     <div class="time-and-money-label slider-bg-graph-green progress-bar-animation float-left"
                        *ngIf="impactDetails.count>0" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="max-width: 87%">
                        <div class="doller-text-sec doller-text-sec-animation-left">
                           <span class="time-icon"><i class="far fa-clock"></i></span>
                           $ {{impactDetails.count}}
                        </div>
                     </div>

                     <div class="edit-option-show">
                        <a *ngIf="AuthStore.getActivityPermission(1000,'FINDING_IMPACT_ANALYSIS_CATEGORY_DETAILS')"
                           title="Edit" (click)="editImpactAnalysis()"><i class="fas fa-pen pointer"></i></a>


                     </div>
                  </td>


               </tr>
               <tr *ngIf="ImpactAnalysesStore.loaded">
                  <td class="bg-table-head">Total</td>
                  <td colspan="2">
                     <p class="mb-0 bold text-center">{{ImpactAnalysesStore?.totalMoney}}</p>
                  </td>

                  <td colspan="2">
                     <p class="mb-0 bold text-center"> {{ImpactAnalysesStore?.totalTime}}</p>
                  </td>
                  <td colspan="2">
                     <p class="mb-0 bold text-center">{{ImpactAnalysesStore?.totalCount}}</p>
                  </td>
               </tr>
            </ng-container>
         </table>
      </div>
   </div>

   <!-- </div> -->
   <!-- </div> -->
</div>
<ng-container *mobxAutorun>
   <div *ngIf="!ImpactAnalysesStore.loaded">
      <app-audit-findings-details-ia></app-audit-findings-details-ia>
   </div>
</ng-container>