<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" scrollPoint #navBar>
   <app-breadcrumb-menu></app-breadcrumb-menu>
   <app-sub-menu></app-sub-menu>
</nav>

<main class="audit-program-details-page mt-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <!-- Profille -->
            <div class="widget">
               <div class="widget-body-light issuue-new-style p-0">
                        <div class="row">
                           <div class="col-sm-12 col-lg-12">
                              <div class="widg-padding-cmn bg-white">
                                 <div class="min-height-64">
                                 <div class="issue-top-sec">
                                    <div class="clearfix">
                                       <h5 class="d-inline-block cmn-head-style label-tag-style">
                                          {{ProjectTasksStore?.indivitualProjectTasks?.title}}</h5>
                                    </div>
                                    <div class="clearfix">
                                       <p class="label-tag-style mb-2"><i class="fas fa-calendar-alt date-pics-two"></i>
                                          {{ProjectTasksStore?.indivitualProjectTasks?.start_date
                                          |
                                          date:
                                          OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                          To
                                          {{ProjectTasksStore?.indivitualProjectTasks?.target_date
                                          |
                                          date:
                                          OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                          <span class="blinking">( {{getDaysRemaining()}} {{'days remaining' |
                                             translate}})</span>
                                       </p>
                                    </div>
                                    <!-- <div class="clearfix mb-2"> -->
                                    <!-- <span class="indication-text color-light-blue ml-0"><span class="round-dot"></span> BVG</span> -->
                                    <!-- <span class="indication-text color-red ml-0"><span class="round-dot"></span> 
                                                        {{ ProjectTasksStore?.indivitualProjectTasks?.task_priority?.title ? 
                                                            ProjectTasksStore?.indivitualProjectTasks?.task_priority?.title : AppStore.noContentText }}
                                                        </span>
                                                          </div> -->
                                    <p> {{ProjectTasksStore?.indivitualProjectTasks?.description ?
                                       ProjectTasksStore?.indivitualProjectTasks?.description : AppStore.noContentText
                                       }} </p>
                                 </div>
                                 <div class="row">

                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                       <h6>{{'category' | translate}}</h6>
                                       <p>{{ProjectTasksStore?.indivitualProjectTasks?.task_category ?
                                          ProjectTasksStore?.indivitualProjectTasks?.task_category?.title :
                                          AppStore.noContentText }}</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                       <h6>{{'priority' | translate}}</h6>
                                       <p>{{ProjectTasksStore?.indivitualProjectTasks?.task_priority ?
                                          ProjectTasksStore?.indivitualProjectTasks?.task_priority?.title :
                                          AppStore.noContentText }}</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                       <h6>{{'project' | translate}}</h6>
                                       <p>{{ProjectTasksStore?.indivitualProjectTasks?.project ?
                                          ProjectTasksStore?.indivitualProjectTasks?.project?.title :
                                          AppStore.noContentText }}</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                       <h6>{{'hours' | translate}}</h6>
                                       <p>{{ProjectTasksStore?.indivitualProjectTasks?.estimated_hours ?
                                          ProjectTasksStore?.indivitualProjectTasks?.estimated_hours :
                                          AppStore.noContentText }}</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                       <h6>{{'percentage' | translate}}</h6>
                                       <p>{{ProjectTasksStore?.indivitualProjectTasks?.percentage ?
                                          ProjectTasksStore?.indivitualProjectTasks?.percentage : AppStore.noContentText
                                          }}</p>
                                    </div>


                                 </div>

                                 <!-- <ul class="arrowlist m-0 p-0">
                                                           <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                                                           <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                                                       </ul> -->
                                 <div class="label-and-user-pic">
                                    <h6>{{'responsible_user'|translate}}</h6>
                                    <app-user-popup-box
                                       [source]="assignUserValues(ProjectTasksStore?.indivitualProjectTasks?.responsible_user)">
                                    </app-user-popup-box>
                                    <div *ngIf="!ProjectTasksStore?.indivitualProjectTasks?.responsible_user">
                                       {{AppStore.noContentText}}</div>
                                 </div>
                                 <h6>Watchers </h6>
                                 <ul *ngIf="ProjectTasksStore?.indivitualProjectTasks?.task_watchers?.length > 0"
                                    class="arci-user-tab-dtl workflow-lst-pics-loop clearfix mb-2 d-inline-block">
                                    <li class="rounde-hov-bg"
                                       *ngFor="let watchers of ProjectTasksStore?.indivitualProjectTasks?.task_watchers; let i = index">
                                       <app-user-popup-box [source]="getCreatedByPopupDetails(watchers)"
                                          [showName]="false">
                                       </app-user-popup-box>
                                    </li>
                                 </ul>
                                 <p *ngIf="ProjectTasksStore?.indivitualProjectTasks?.task_watchers?.length == 0">
                                    {{AppStore.noContentText}}
                                 </p>
                                 <!--  <h6 class="mb-2 mt-3">Attachement</h6>
                                                        <div class="thumb-pics-bg thumb-pics-col-4 clearfix">
                                                             <div class="thumb-pics">
                                                                <div class="upload-pics upload-pics-small edit-option">
                                                                   <div class="browse-form-pic" style="background: url(images/mba.jpg) no-repeat;">
                                                                   </div>
                                                                    <div class="browse-form-name clearfix">
                                                                     <div class="float-left">
                                                                      <h6>Certificate.png</h6>
                                                                      <span>96KB</span>
                                                                     </div>
                                                                     <div class="browse-logo">
                                                                       <img src="images/md-xl.png">
                                                                     </div>
                                                                    </div>
                                                                    <div class="edit-option-show-inner">
                                                                     <a href="#"><i class="fas fa-download"></i></a>
                                                                   </div>
                                                                 </div>
                                                              </div>
                                                             <div class="thumb-pics">
                                                                <div class="upload-pics upload-pics-small edit-option">
                                                                   <div class="browse-form-pic" style="background: url(images/mba.jpg) no-repeat;">
                                                                   </div>
                                                                    <div class="browse-form-name clearfix">
                                                                     <div class="float-left">
                                                                      <h6>Certificate.png</h6>
                                                                      <span>96KB</span>
                                                                     </div>
                                                                     <div class="browse-logo">
                                                                       <img src="images/md-xl.png">
                                                                     </div>
                                                                    </div>
                                                                    <div class="edit-option-show-inner">
                                                                     <a href="#"><i class="fas fa-download"></i></a>
                                                                   </div>
                                                                 </div>
                                                              </div>
                                                             </div> -->
</div>
                                 <div class="row">
                                    <div class="col-xl-12">
                                       <hr class="mb-2">
                                       <app-user-popup-box
                                          [source]=" getCreatedByPopupDetails(ProjectTasksStore?.indivitualProjectTasks?.created_by, ProjectTasksStore?.indivitualProjectTasks?.created_at)">
                                       </app-user-popup-box>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- <div class="col-sm-12 col-lg-4">

                                                    <div class="risk-rating-box bg-white p-3 mb-3">
                                                       <h6 class="text-left">Task Completion Status</h6>
                                                       <hr class="mt-0 mb-3">
                                                       <div
                                                       [ngClass]="ProjectTasksStore?.indivitualProjectTasks?.percentage > 50 ?'progress-circle progress-circle-big-one over50 p'+ProjectTasksStore?.indivitualProjectTasks?.percentage:'progress-circle progress-circle-big-one p'+ProjectTasksStore?.indivitualProjectTasks?.percentage">
                                                       <span>{{ ProjectTasksStore?.indivitualProjectTasks?.percentage>0 ? ProjectTasksStore?.indivitualProjectTasks?.percentage : 0}}%</span>
                                                       <div class="left-half-clipper">
                                                           <div class="first50-bar"></div>
                                                           <div class="value-bar"></div>
                                                       </div>
                                                   </div>

                                                    </div>

                                                    <div class="risk-rating-box bg-white text-left p-3 mb-3">
                                                       <div class="big-text-box-main task-details-box-inner clearfix mt-3">
                                                          <div class="big-text-box border-right">
                                                             <h4 class="big-text-one"><span class="big-text-one-icon"><i class="fas fa-hashtag"></i></span>2<span class="big-text-one-label">More<br> Days</span></h4>
                                                          </div>
                                                          <div class="big-text-box">
                                                             <h4 class="big-text-one"><span class="big-text-one-icon"><i class="far fa-clock"></i></span>4<span class="big-text-one-label">Hours<br> Spent</span></h4>
                                                          </div>
                                                          <div class="mdl-line"></div>
                                                          <div class="big-text-box text-center w-100 pt-3">
                                                             <h4 class="big-text-one"><span class="big-text-one-icon"><i class="fas fa-dollar-sign"></i></span>1500<span class="big-text-one-label">Money<br> Spent</span></h4>
                                                          </div>
                                                       </div>

                                                    </div>

                                                    <div class="risk-rating-box bg-white text-left p-3 mb-3">
                                                       <h6 class="text-left">Tag</h6>
                                                       <hr class="mt-0 mb-3">
                                                       
                                                       <div class="labels">
                                                          <label class="outline-tag">EDI Xiro</label>
                                                          <label class="outline-tag">ISORobot</label>
                                                          <label class="outline-tag">IA Management</label>
                                                       </div>

                                                    </div>

                                                 </div> -->
                        </div> 
               </div>
            </div>
         </div>
      </div>
   </div>
</main>