<div class="tab-pane tab-edit-class assessment-tab-user" id="top-tab-left-two" *mobxAutorun>
    <app-filter-menu></app-filter-menu>
    <div class="audit-program-box audit-page-table-main"
        *ngIf="AmAuditUniverseStore.risks?.length>0 && AmAuditUniverseStore.risk_loaded">
        <div class="row">
            <div class="col-sm-12">
                <div class="full-width-table mb-3">
                    <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                        <thead>
                            <tr>
                                <th class="border-top-0 text-center" width="4%">#</th>
                                <th (click)="sortTitle('risks.reference_code')" class="border-top-0 pointer"
                                    width="13%">
                                    <span>{{'reference_code'|translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                        *ngIf="AmAuditUniverseStore.riskOrderItem=='risks.reference_code'"
                                        [attr.src]="AmAuditUniverseStore.riskOrderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th (click)="sortTitle('risks.title')" class="border-top-0 pointer" width="53%">
                                    <span>{{'risk' | translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                        *ngIf="AmAuditUniverseStore.riskOrderItem=='risks.title'"
                                        [attr.src]="AmAuditUniverseStore.riskOrderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th (click)="sortTitle('department.title')" class="border-top-0 pointer" width="17%">
                                    <span>{{'departments'|translate}}</span>
                                    <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                        *ngIf="AmAuditUniverseStore.riskOrderItem=='department.title'"
                                        [attr.src]="AmAuditUniverseStore.riskOrderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <!-- <th (click)="sortTitle('risk_categories.title')" class="border-top-0" width="15%">
                                <span>{{'category'|translate}}</span>
                                <img _ngcontent-twv-c17="" style="margin-left: 6px;" *ngIf="AmAuditUniverseStore.riskOrderItem=='risk_categories.title'"
                                [attr.src]="AmAuditUniverseStore.riskOrderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"  class="sort-down-pics">
                            </th> -->
                                <th class="border-top-0 text-center pointer" width="13%">
                                    {{'last_audit_end_date'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let risk of AmAuditUniverseStore.risks | paginate: {id:'risk',currentPage:AmAuditUniverseStore?.riskCurrentPage, itemsPerPage:AmAuditUniverseStore?.riskItemsPerPage,totalItems:AmAuditUniverseStore?.riskTotalItems}; let num = index">
                                <td class="text-center">
                                    {{(AmAuditUniverseStore?.riskCurrentPage -1) *
                                    AmAuditUniverseStore?.riskItemsPerPage + (num + 1)}}</td>
                                <td>#{{risk.reference_code}}</td>
                                <td>{{risk.title}}</td>
                                <td>{{risk.departments}}</td>
                                <!-- <td>{{risk?.risk_category_title ? risk?.risk_category_title : AppStore.noContentText}}</td> -->
                                <!-- <td>{{risk?.last_audit_end_date ? risk?.last_audit_end_date : AppStore.noContentText}}</td> -->
                                <td *ngIf="risk.last_audit_end_date">{{risk.last_audit_end_date | date:
                                    OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</td>
                                <td *ngIf="!risk.last_audit_end_date">{{AppStore.noContentText}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="float-right bold mb-0"
                    *ngIf="AmAuditUniverseStore?.risk_loaded && AmAuditUniverseStore.riskTotalItems > 0">{{'total_Items'
                    | translate}}:{{AmAuditUniverseStore?.riskTotalItems}}</p>
                <div *ngIf="AmAuditUniverseStore.riskTotalItems>AmAuditUniverseStore.riskItemsPerPage"
                    class="col-sm-12">
                    <ul class="pagination justify-content-center mt-3">
                        <div class="list">
                            <pagination-controls id="risk" [previousLabel]="'previous' | translate"
                                [nextLabel]="'next' | translate" (pageChange)="getRisks($event)" class="my-pagination">
                            </pagination-controls>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ng-container *mobxAutorun>
        <app-no-data [border]="false" *ngIf="AmAuditUniverseStore.risk_loaded && AmAuditUniverseStore.risks?.length==0">
        </app-no-data>
    </ng-container>

    <ng-container *mobxAutorun>
        <div *ngIf="!AmAuditUniverseStore.risk_loaded">
            <app-am-audit-plan-loader></app-am-audit-plan-loader>
        </div>
    </ng-container>
</div>