<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
        <!-- <app-breadcrumb-menu></app-breadcrumb-menu> -->
        <!-- <div class="module-name-block module-name-block-space float-left">
            <a class="dropdown module-title">{{'checklist'|translate}}</a>
        </div> -->
        <!--quick fix-->
        <div class="module-name-block float-left drop-menu-left-head">
            <a class="nav-link current-page border-right-0 page-name-header" [routerLink]="['/ms-audit-management/findings']">
               <i class="fas fa-chevron-left"></i> {{'findings'| translate}} </a>
            <!-- <div class="dropdown-menu arrow-dropdown">
               <a class="dropdown-item" [routerLink]="item.path" *ngFor="let item of BreadCrumbMenuItemStore.breadCrumbMenuItems; let i = index">
                {{ item.name }}</a>
            </div> -->
         </div>

        <!-- START FOR SMALL SCREENS -->
        <div class="dropdown edit-dropdown d-lg-none">
            <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle" data-toggle="dropdown"><i
                class="fas fa-ellipsis-v"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item active" data-toggle="pill" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/ms-audit-management/findings/',AuditNonConfirmityStore.msAuditNonConfirmityId]">{{'info' | translate}}</a>
                    
                <a class="dropdown-item active" data-toggle="pill" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/ms-audit-management/findings'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/root-cause-analysis']">{{'rca' | translate}}</a>

                <a class="dropdown-item active" data-toggle="pill" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/ms-audit-management/findings/'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/corrective-action']">{{'ca' | translate}}</a>

                <!-- <a class="dropdown-item" 
                    [routerLink]="['/ms-audit-management/non-conformities/'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/score']"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'follow_up' | translate}}</a> -->
            </div>
        </div>
        <!-- END FOR SMALL SCREENS -->

        <!-- START FOR NORMAL SCREEN -->
        <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
            <li class="nav-item"> <a class="nav-link nav-link-show" data-toggle="tab" data-original-title="Customer"
                [routerLink]="['/ms-audit-management/findings/'+ AuditNonConfirmityStore.msAuditNonConfirmityId]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> {{'info' | translate}}</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link nav-link-show" [routerLink]="['/ms-audit-management/non-conformities/'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/score']"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >{{'follow_up' | translate}}</a>
            </li> -->

            <li class="nav-item"> <a class="nav-link nav-link-show" data-toggle="tab" data-original-title="Customer"
                [routerLink]="['/ms-audit-management/findings/'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/root-cause-analysis']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> {{'rca' | translate}}</a>
            </li>

            <li class="nav-item"> <a class="nav-link nav-link-show" data-toggle="tab" data-original-title="Customer"
                [routerLink]="['/ms-audit-management/findings/'+AuditNonConfirmityStore.msAuditNonConfirmityId+'/corrective-action']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> {{'ca' | translate}}</a>
            </li>
        </ul>

        <app-sub-menu></app-sub-menu>
        <!-- END BUTTONS -->
</nav>

<main class="audit-program-details-page mt-3" >
    <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-12">
                            <div class="tab-content">
                                    <router-outlet></router-outlet>
                            </div>
                    </div>
            </div>
    </div>
</main>