
<ng-container *mobxAutorun>
    <div *ngIf="!KpisStore.individualLoaded">
        <app-kpi-details-loader></app-kpi-details-loader>
    </div>
</ng-container>

<div class="tab-content" *mobxAutorun>
    <div class="row" *ngIf="KpisStore.individualLoaded  && AuthStore.getActivityPermission(5356,'KPI_MANAGEMENT_KPI_DETAILS') ">
        <div class="col-lg-8 col-sm-8 padding-right-0">
    
            <div class="bg-white widg-padding-cmn min-height-64 edit-and-delete-main">
                <div class="issue-top-sec">
                    <div class="clearfix">
                        <h5 class="d-inline-block cmn-head-style label-tag-style elips-1">
                            <span class="issue-smoal-head-text ">
                                #{{ KpisStore.individualKpiDetails?.reference_code ? KpisStore.individualKpiDetails?.reference_code : AppStore.noContentText }}
                            </span> {{ KpisStore.individualKpiDetails?.kpi?.title ?KpisStore.individualKpiDetails?.kpi?.title : AppStore.noContentText }} 
                            <span class="draft-tag label-tag-style-tag label-left-arow-tag ml-3" 
                                    [ngClass]="KpisStore.individualKpiDetails?.kpi_management_status?.label ? getColorKey() : ''"
                                    style="line-height: 16px; vertical-align: middle; margin-top: -5px; display: inline-block;"> {{ KpisStore.individualKpiDetails?.kpi_management_status?.type | titlecase}}</span></h5>
                    </div>

                    <p *ngIf="KpisStore.individualKpiDetails?.description" style="white-space: pre-wrap;">{{KpisStore.individualKpiDetails?.description}} </p>
                </div>


                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'kpi_calculation_type' | translate}} </h6>
                        <p>{{ KpisStore.individualKpiDetails?.calculation_type ? KpisStore.individualKpiDetails?.calculation_type?.kpi_calculation_type_language[0]?.pivot?.title : AppStore.noContentText }}</p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'time_frame_sla' | translate}} </h6>
                        <p *ngIf="KpisStore.individualKpiDetails?.time_frame>1">{{ KpisStore.individualKpiDetails?.time_frame? KpisStore.individualKpiDetails?.time_frame :  AppStore.noContentText  }}  {{'days' | translate}}  </p>
                        <p *ngIf="KpisStore.individualKpiDetails?.time_frame==1">{{ KpisStore.individualKpiDetails?.time_frame? KpisStore.individualKpiDetails?.time_frame :  AppStore.noContentText  }}  {{'day' | translate}}  </p>
                        <p *ngIf="!KpisStore.individualKpiDetails?.time_frame">{{ AppStore.noContentText  }} </p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'current_value' | translate}} </h6>
                        <p>{{ KpisStore.individualKpiDetails?.current_value? KpisStore.individualKpiDetails?.current_value :  AppStore.noContentText}} {{KpisStore.individualKpiDetails?.unit? KpisStore.individualKpiDetails?.unit?.title: AppStore.noContentText}}</p>
                    </div>
                <!-- </div> -->

                <!-- <div class="row"> -->
                    <div *ngIf="KpisStore.individualKpiDetails?.calculation_type?.type!='manual'" class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'formula' | translate}} </h6>
                        <p>{{KpisStore.individualKpiDetails?.formula ? KpisStore.individualKpiDetails?.formula: AppStore.noContentText}}</p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'target' | translate}} </h6>
                        <p>{{KpisStore.individualKpiDetails?.target? KpisStore.individualKpiDetails?.target: AppStore.noContentText}} {{KpisStore.individualKpiDetails?.unit? KpisStore.individualKpiDetails?.unit?.title: AppStore.noContentText}}</p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'unit' | translate}} </h6>
                        <p>{{ KpisStore.individualKpiDetails?.unit? KpisStore.individualKpiDetails?.unit?.title :  AppStore.noContentText  }}</p>
                    </div>
                    <div *ngIf="KpisStore.individualKpiDetails?.start_date" class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'start_date' | translate}} </h6>
                        <P>
                            {{ KpisStore.individualKpiDetails?.start_date | date:
                                OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}
                        </P>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6>{{'ms_types' | translate}}</h6>
                        <p *ngIf="KpisStore.individualKpiDetails?.ms_type_organization">
                            <span>
                                {{KpisStore.individualKpiDetails?.ms_type_organization?.ms_type?.title}}v {{KpisStore.individualKpiDetails?.ms_type_organization?.ms_type_version?.title}}
                            </span>
                        </p>
                        <p *ngIf="!KpisStore.individualKpiDetails?.ms_type_organization">{{AppStore.noContentText}}</p>
                    </div> -->
                <!-- </div> -->

                <!-- <div class="row"> -->
                    <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'kpi_review_frequency' | translate}} </h6>
                        <p>{{KpisStore.individualKpiDetails?.kpi_review_frequency?.title? KpisStore.individualKpiDetails?.kpi_review_frequency?.title: AppStore.noContentText}}</p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6"  [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_division ? 'none':'block'}">
                        <div>
                            <h6>{{'divisions' | translate}}</h6>
                            <div class="loop-cmn-p">
                                <p
                                    *ngFor=" let div of KpisStore.individualKpiDetails?.divisions ; let isLast=last">
                                    {{div.title}}{{isLast ? '' : ',' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6" [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_department ? 'none':'block'}">
                        <div>
                            <h6>{{'departments' | translate}}</h6>
                            <div class="loop-cmn-p">
                                <p
                                    *ngFor=" let dept of KpisStore.individualKpiDetails?.departments ; let isLast=last">
                                    {{dept.title}}{{isLast ? '' : ',' }}</p>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->

                <!-- <div class="row"> -->
                    <div class="col-xl-4 col-lg-6 col-sm-6" [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_section ? 'none':'block'}">
                        <div>
                            <h6>{{'sections' | translate}}</h6>
                            <div class="loop-cmn-p">
                                <p
                                    *ngFor=" let section of KpisStore.individualKpiDetails?.sections ; let isLast=last">
                                    {{section.title}}{{isLast ? '' : ',' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6"  [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section ? 'none':'block'}">
                        <div>
                            <h6>{{'sub_sections' | translate}}</h6>
                            <div class="loop-cmn-p">
                                <p
                                    *ngFor=" let sub_section of KpisStore.individualKpiDetails?.sub_sections ; let isLast=last">
                                    {{sub_section.title}}{{isLast ? '' : ',' }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <h6>{{'responsible_users' | translate}}</h6>

                        <div class="pb-3" *ngIf="KpisStore.individualKpiDetails?.responsible_users?.length > 3">
                            <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix" 
                                >
                                <li class="rounde-hov-bg"
                                *ngFor="let user of KpisStore.individualKpiDetails?.responsible_users;let i=index">
                                    <app-user-popup-box [showName]="false" [source]="getEmployeePopupDetails(user)"></app-user-popup-box>
                                </li>
                            </ul>
                        </div>
                        <div class="row" *ngIf="!(KpisStore.individualKpiDetails?.responsible_users?.length > 3)" >
                            <div class="col-xl-3 col-lg-4 col-sm-6 animation-pulse"
                                *ngFor="let user of KpisStore.individualKpiDetails?.responsible_users;let i=index">
                                    <div class="label-and-user-pic">
                                        <app-user-popup-box [source]="getEmployeePopupDetails(user)"></app-user-popup-box>
                                    </div>
                            </div>
                        </div>

                        <p *ngIf="KpisStore.individualKpiDetails?.responsible_users.length==0">
                            {{AppStore.noContentText}}
                        </p>
                    </div>
                </div>

                <div class="row" *ngIf="KpisStore.individualKpiDetails?.calculation_type?.type!='manual'">
                    <div class="col-md-12">
                        <h6> {{'data_inputs' | translate}} </h6>
                        <ng-container *ngIf="KpisStore.individualKpiDetails?.data_inputs?.length>0" >
                            <div class="bg-main data-input-select-box mt-2 col-md-6" *ngFor="let item of KpisStore.individualKpiDetails?.data_inputs; index as i ">
                                {{item?.title}} ( {{item?.variable}} )
                                <span class="tag-data-input-select-box">{{i+1}}</span>
                            </div>
                        </ng-container>
                        <p *ngIf="!KpisStore.individualKpiDetails?.data_inputs||KpisStore.individualKpiDetails?.data_inputs?.length==0"> {{ AppStore.noContentText }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="KpisStore.individualKpiDetails?.ms_type_organization" class="mb-2 mt-2" [ngStyle] = "{display: !OrganizationGeneralSettingsStore?.organizationSettings?.is_ms_type ? 'none':'block'}"> 
                            <h6 *ngIf="KpisStore.individualKpiDetails?.ms_type_organization">{{'ms_type' | translate}} & {{'clauses' | translate}} </h6>
                            <label class="outline-tag">{{KpisStore.individualKpiDetails?.ms_type_organization?.ms_type?.title}} <span>{{KpisStore.individualKpiDetails?.ms_type_organization?.ms_type_version?.title}}</span></label> 
                        </div>
                    </div>
                </div>

                <div calss="row">
                    <div class="">
                                <div class="audit-form-table w-100 mb-2">
                                    <div class="fix-table">
                                        <ng-container *ngIf="KpisStore.individualKpiDetails?.ms_type_clauses.length==0" >
                                            <app-context-no-data [sourceData] = "{
                                                noData:'no_items_available', border: false, imageAlign: 'left'
                                            }"></app-context-no-data>
                                        </ng-container>
                                        <table class="table table-bordered ordinary-table cmn-table-style mb-1" *ngIf="KpisStore.individualKpiDetails?.ms_type_clauses.length!=0">
                                            <tbody>
                                            <tr>
                                                <th class="border-top-0 text-center" width="8%">
                                                    #
                                                </th>
                                                <th class="border-top-0" width="10%">{{'clause_number'| translate}}</th>
                                                <th class="border-top-0" width="82%">{{'title'| translate}}</th>
                                            </tr>
                                            <tr *ngFor="let row of KpisStore.individualKpiDetails?.ms_type_clauses; let i= index;">
                                                <td class="text-center">
                                                    {{i+1}}
                                                </td>
                                                <td>{{row?.clause_number? row?.clause_number: AppStore.noContentText}}</td>
                                                <td>{{row?.title? row?.title: AppStore.noContentText}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
            
                                </div>
            
                    </div>
                </div>


                <h6>{{'support_files' | translate}}</h6>
                <div *ngIf = "KpisStore.individualKpiDetails?.documents.length==0">
                    <app-context-no-data [sourceData] = "{
                        noData:'no_attachments_found', border: false, imageAlign: 'left'
                    }"></app-context-no-data>
                </div>
                <div class="thumb-pics-bg thumb-pics-col-4 thumb-pics-fix-text clearfix" style="padding-top: 0">
                    <div class="thumb-pics" *ngFor="let docs of KpisStore.individualKpiDetails?.documents;let i = index">

                        <!-- System Files Starts Here -->
                        <div class="upload-pics edit-option" *ngIf="!docs.document_id"  (click) =  "viewDocument('kpi-document',docs,docs)">
                            <div class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImageUrl('kpi-document',docs?.token)+') no-repeat'}">
                            </div>
                            <div class="browse-form-name clearfix">
                            <div class="float-left">
                                <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                </h6>
                                <span>{{docs.size/1048576 | number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">{{'system' | translate}}</span>
                            </div>
                            <div class="browse-logo">
                                <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                    class="folder-picher" src="/assets/images/jpg-icone.png">
                                <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                    class="folder-picher" src="/assets/images/word-icone.png">
                                <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                    class="folder-picher" src="/assets/images/pdf-icone.png">
                                <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                    class="folder-picher" src="/assets/images/excel-icone.png">
                                <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                    class="folder-picher" src="/assets/images/md-video.png">
                                <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                    class="folder-picher" src="/assets/images/md-audio.png">
                                <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                    class="folder-picher" src="/assets/images/md-ppt.png">
                            </div>
                            </div>
                            <div class="edit-option-show-inner">
                                <a><i class="fas fa-download" (click) = "downloadDocumentFile('kpi-document',docs)"></i></a>
                            </div>
                        </div> 

    <!-- System Files Starts Here -->
    <!-- KnowledgeHub Files Starts Here -->
                        <div class="upload-pics edit-option" *ngIf="docs.document_id">
                            <div *ngFor="let mainDoc of docs?.kh_document?.versions" (click) =  "viewDocument('document-version',docs,mainDoc)">
                                <div *ngIf="mainDoc.is_latest">
                                <div  class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                </div>
                                    <div class="browse-form-name clearfix">
                                    <div class="float-left">
                                    <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                    </h6>
                                    <span>{{mainDoc.size/1048576 | number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">{{'knowledge_hub' | translate}}</span>
                                    </div>
                                    <div class="browse-logo">
                                    <img *ngIf="checkExtension(mainDoc.ext,'image') != -1"
                                        class="folder-picher" src="/assets/images/jpg-icone.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1"
                                        class="folder-picher" src="/assets/images/word-icone.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1"
                                        class="folder-picher" src="/assets/images/pdf-icone.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1"
                                        class="folder-picher" src="/assets/images/excel-icone.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'video') != -1"
                                        class="folder-picher" src="/assets/images/md-video.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1"
                                        class="folder-picher" src="/assets/images/md-audio.png">
                                    <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1"
                                        class="folder-picher" src="/assets/images/md-ppt.png">
                                </div>
                                    </div>
                                    <div class="edit-option-show-inner">
                                    <a><i class="fas fa-download" (click) = "downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                </div>
                                </div>
                            </div>

                        
                        </div>
    <!-- KnowledgeHub Files Ends Here -->

                        </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <hr class="mb-2">
                        <div *ngIf="KpisStore.individualKpiDetails?.created_by.first_name">
                            <app-user-popup-box
                                [source]=" getEmployeePopupDetails( KpisStore.individualKpiDetails?.created_by, KpisStore.individualKpiDetails?.created_at )">
                            </app-user-popup-box>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-sm-12">

            <div class="bg-white mb-3 widg-padding-cmn-small" >
                <h6>{{'KPI_achievement_score' | translate}}</h6>
                <hr>
                <div class="mb-3" *ngIf="KpisStore.individualKpiDetails?.achieved_value">
                    <div id="gaugeChartdiv">{{ GaugeChartChangeEnable?GaugeChart():'' }}</div>
                </div>
                <div class="chart-new-round-pic text-right" style="width: 100%;" *ngIf="!KpisStore.individualKpiDetails?.achieved_value">
                    <app-no-chart-data [source]="'gauge'">
                    </app-no-chart-data>
                </div>
            </div>

            <div class="bg-white widg-padding-cmn-small mb-3">
                <h6>{{'KPI_performance'| translate}}</h6>
                <hr class="mt-0 mb-3">
                <div >
                    <div class="text-center">
                        <h3 class="big-text-one" *ngIf="KpisStore.individualKpiDetails?.achieved_percentage!=null">
                            {{KpisStore.individualKpiDetails?.achieved_percentage!=null?KpisStore.individualKpiDetails?.achieved_percentage:AppStore.noContentText}} %
                        </h3>
                        <h3 class="big-text-one" *ngIf="KpisStore.individualKpiDetails?.achieved_percentage==null||KpisStore.individualKpiDetails?.achieved_percentage==undefined">
                            {{AppStore.noContentText}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="bg-white mb-3 widg-padding-cmn-small" >
                <h6>{{'score_by_frequency' | translate}}</h6>
                <hr>
                <div class="mb-3" *ngIf="barChartEnable">
                    <div id="barchartdiv" style="height:300px ;">{{ barChartChagneEnable?barChart():'' }}</div>
                </div>
                <div class="chart-new-round-pic text-right" *ngIf="!barChartEnable">
                    <app-no-chart-data [source]="'bar'">
                    </app-no-chart-data>
                </div>
            </div>
        </div>

    </div>
</div>


<!--approve and resumbit model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #approveModal>
    <app-approve [source]="approveAndReviewSub"></app-approve>
</div>

<!--revert model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #revertModal>
    <app-revert [source]="KpisStore.individualKpiDetails"></app-revert>
</div>

<!--work flow model -->
<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static" *mobxAutorun #workflowModal>
    <app-workflow-modal *ngIf="KpisStore.workflow_form_modal"></app-workflow-modal>
</div>

<!--work flow model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #workflowHistoryModal>
    <app-workflow-history-modal *ngIf="KpisStore.workflow_history_form_modal"></app-workflow-history-modal>
</div>

<!--Activity Logs model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #activityLogsModal>
    <app-kpi-actitvity-logs *ngIf="KpisStore.activity_log_form_modal" ></app-kpi-actitvity-logs>
</div>

<!-- Delete Confirmation Modal Start -->
<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
    <app-delete-popup [source] = "popupObject"></app-delete-popup>
</div>

<!-- File Preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
        class="lni-close"></i><span>{{'esc' | translate}}</span></button>
    <app-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)"></app-preview>
</div>
