<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
    <app-sub-menu>-</app-sub-menu>
    <div class="module-name-block module-name-block-space float-left">
        <a class="dropdown module-title">{{'risk_assessment'|translate}}</a>
    </div>
    <!-- <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link-show" [routerLink]="['/bcm/risk-assessment']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> {{'risk_assessment' | translate}}</a>
    </ul> -->
</nav>
<main class="mt-4 acl-page">
    <div class="container-fluid">
        <app-filter-menu></app-filter-menu>
        <div class="audit-program-box audit-page-table-main">
            <!-- <div class="row"> -->
                <!-- <div class="col-sm-12 full-width-table"> -->
                    <!-- <div class="audit-program-box audit-page-table-main"> -->
                        <div class="row" *mobxAutorun>
                            <div class="col-sm-12"
                                *ngIf="BcmRiskAssessmentStore.loaded && BcmRiskAssessmentStore.BcmRiskList.length!=0&&AuthStore.getActivityPermission(100,'BCM_RISK_LIST')">
                                <div class="full-width-table mb-3">
                                <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 text-center" width="3%">#</th>
                                            <th class="border-top-0 pointer" width="8%"
                                                (click)="setSort('business_continuity_plans.reference_code')">
                                                {{'ref_id'|translate}}
                                                <img *ngIf="BcmRiskAssessmentStore.orderItem == 'business_continuity_plans.reference_code'"
                                                    [attr.src]="BcmRiskAssessmentStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                                    class="sort-down-pics">
                                            </th>
                                            <th class="border-top-0 pointer" width="25%"
                                                (click)="setSort('business_continuity_plans.title')">{{'risk_title' |
                                                translate}}
                                                <img *ngIf="BcmRiskAssessmentStore.orderItem == 'business_continuity_plans.title'"
                                                    [attr.src]="BcmRiskAssessmentStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                                    class="sort-down-pics">
                                            </th>
                                            <th class="border-top-0" width="26%">{{'process' | translate}}</th>
                                            <th class="border-top-0" width="10%">{{'tier' | translate}}</th>
                                            <th class="border-top-0" width="17%">{{'department' | translate}}</th>
                                            <th class="border-top-0 text-center" width="11%">{{'status' | translate}}</th>
                                            <!-- <th class="border-top-0" width="10%">{{'assessment' | translate}}</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [attr.title]="'View '+bcp.title" class="edit-and-delete-main"
                                            *ngFor="let bcp of BcmRiskAssessmentStore.BcmRiskList| paginate: {currentPage:BcmRiskAssessmentStore?.currentPage, itemsPerPage:BcmRiskAssessmentStore?.itemsPerPage,totalItems:BcmRiskAssessmentStore?.totalItems};let ind=index">
                                            <td class="pointer text-center"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{(BcmRiskAssessmentStore?.currentPage - 1) *
                                                BcmRiskAssessmentStore?.itemsPerPage + (ind + 1)}}</td>
                                            <td class="pointer"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{bcp.reference_code}}</td>
                                            <td class="pointer"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{bcp.title}}</td>
                                            <td class="pointer"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{bcp.processes}}</td>
                                            <td class="pointer"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{bcp.bia_tire?bcp.bia_tire:AppStore.noContentText}}</td>
                                            <td class="pointer"
                                                (click)="AuthStore.getActivityPermission(100,'BCM_RISK_DETAILS') ? gotoAssessment(bcp.id) : ''">
                                                {{bcp.departments?bcp.departments:AppStore.noContentText}}</td>
                                            <td class="pointer text-center">
                                                <div [attr.class]="'dot-div '+bcp?.label+'-dot'">
                                                    {{bcp.risk_status_title}}</div>
                                                <div class="edit-option-show" style="margin: 30px 0 0 0; ">
                                                    <a *ngIf="AuthStore.getActivityPermission(100,'UPDATE_BCM_RISK')&&bcp.risk_status_id!=2"
                                                        (click)="editAssessment(bcp.id,bcp.process_ids)"
                                                        [attr.title]="'edit' | translate"><i class="fas fa-pen"></i></a>
                                                    <a *ngIf="AuthStore.getActivityPermission(100,'DELETE_BCM_RISK')"
                                                        (click)="deleteConfirm(bcp.id)"
                                                        [attr.title]="'delete' | translate"><i
                                                            class="fas fa-trash"></i></a>
                                                </div>
                                            </td>
                                            <!-- <td class="pointer">
                                            <a data-toggle="modal" class="btn" (click)="assessmentPerform(bcp.id)">Perform Now</a>
                                        </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                <p class="float-right bold mb-0" *ngIf="BcmRiskAssessmentStore.loaded && BcmRiskAssessmentStore.totalItems > 0">{{'total_Items' | translate}}:{{BcmRiskAssessmentStore?.totalItems}}</p>
                                <div *ngIf="BcmRiskAssessmentStore.totalItems>BcmRiskAssessmentStore.itemsPerPage"
                                    class="col-sm-12">
                                    <ul class="pagination justify-content-center mt-3">
                                        <div class="list">
                                            <pagination-controls [previousLabel]="'previous' | translate"
                                                [nextLabel]="'next' | translate" (pageChange)="pageChange($event)"
                                                class="my-pagination"></pagination-controls>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ng-container *mobxAutorun>
                            <app-no-data
                                *ngIf="BcmRiskAssessmentStore.loaded && BcmRiskAssessmentStore.BcmRiskList.length==0">
                            </app-no-data>
                        </ng-container>
                        <ng-container *mobxAutorun>
                            <app-bcm-table-loader *ngIf="!BcmRiskAssessmentStore.loaded"></app-bcm-table-loader>
                        </ng-container>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</main>

<div class="modal modal-style-1 fade popup-full-width small-step-form-popup" id="new-bcp" data-keyboard="false"
    data-backdrop="static" #formModal>
    <app-bcm-risk-assessment-modal *ngIf="riskAssessmentObject.type" [source]="riskAssessmentObject">
    </app-bcm-risk-assessment-modal>
</div>

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>