<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navigationBar *mobxAutorun>
  <app-breadcrumb-menu></app-breadcrumb-menu>
  <div class="dropdown edit-dropdown d-lg-none drop-menu-left-head">
    <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle"
      data-toggle="dropdown">{{AppStore.pageTitle}}<i class="fas fa-chevron-circle-down ml-2"></i></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item active" data-toggle="pill" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/audit-management/am-audits/',AmAuditsStore.auditId,'/am-audit-meetings/',auditMeetingId]">{{'info'
        |
        translate}}</a>
    </div>
  </div>


  <!-- END FOR SMALL SCREENS -->

  <!-- START FOR NORMAL SCREEN -->

  <ul class="nav nav-pills float-left  d-none d-lg-block" role="tablist">
    <li class="nav-item"> <a class="nav-link nav-link-show" data-toggle="tab" data-original-title="Customer"
        [routerLink]="['/audit-management/am-audits/',AmAuditsStore.auditId,'/am-audit-meetings/',auditMeetingId]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> {{'info' |
        translate}}</a>
    </li>

  </ul>
  <app-sub-menu></app-sub-menu>

</nav>
<main class="audit-program-details-page mt-3" *mobxAutorun>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="widget">

          <div class="row sm-row" *ngIf="AmAuditMeetingStore.individual_audit_meeting_loaded">
            <div class="col-lg-8 col-sm-12 sm-col mb-3">
              <div class="bg-white widg-padding-cmn">
                <div class="min-height-64">

                  <div class="issue-top-sec">
                    <div class="clearfix">
                      <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                          class="issue-smoal-head-text">#{{AmAuditMeetingStore.individualMeetingDetails?.reference_code}}</span>
                        {{AmAuditMeetingStore.individualMeetingDetails?.title}}
                         <!-- <span
                          [ngClass]="'draft-tag draft-tag-'+AmAuditMeetingStore.individualMeetingDetails?.status?.label+' label-tag-style-tag label-left-arow-tag d-inline-block status-tag-new-one'">{{AmAuditMeetingStore.individualMeetingDetails?.status?.title[0]?.pivot.title}}</span> -->
                      </h5>
                    </div>
                    <div class="clearfix">
                      <p class="label-tag-style"><i class="fas fa-calendar-alt date-pics-two"></i>
                        {{AmAuditMeetingStore.individualMeetingDetails?.start|
                        date:OrganizationGeneralSettingsStore.organizationSettings?.date_format}} -  {{AmAuditMeetingStore.individualMeetingDetails?.end|
                          date:OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</p>
                    </div>
                    <p style="white-space: pre-line;">{{AmAuditMeetingStore.individualMeetingDetails?.description}}</p>

                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-6">
                      <h6>{{'time'|translate}}</h6>
                      <p>{{AmAuditMeetingStore.individualMeetingDetails?.start | date: 'h:mm a'}} -
                        {{AmAuditMeetingStore.individualMeetingDetails?.end | date: 'h:mm a'}}</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <h6>{{'duration'|translate}}</h6>
                      <p>{{AmAuditMeetingStore.individualMeetingDetails?.duration}}hr</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <h6>{{'meeting_types'|translate}}</h6>
                      <p>{{getArrayFormatedString('type',AmAuditMeetingStore.individualMeetingDetails?.meeting_types)}}
                      </p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <h6>{{'audit_manager'|translate}}</h6>
                      <app-user-popup-box
                        [source]=" getOrganizerDetails(AmAuditMeetingStore.individualMeetingDetails?.organizer)">
                      </app-user-popup-box>

                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <h6>{{'participants'|translate}}</h6>
                      <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix mb-3">
                        <li class="rounde-hov-bg" *ngFor=" let participant of
                        AmAuditMeetingStore.individualMeetingDetails?.meeting_participants">
                          <app-user-popup-box [source]=" getParticipantsDetails(participant.user)" [showName]="false">
                          </app-user-popup-box>


                        </li>

                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12">
                    <hr class="mb-2">
                    <app-user-popup-box
                      [source]=" getCreatedByDetails(AmAuditMeetingStore.individualMeetingDetails?.created_by)">
                    </app-user-popup-box>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-4 col-sm-12 sm-col">
              <div class="bg-white widg-padding-cmn">
                <div class="min-height-83">

                  <h6>{{'documents'|translate}}</h6>
                  <hr class="mt-0 mb-3">
                  <div class="thumb-pics-bg thumb-pics-col-2 clearfix thumb-pics-fix-text" style="padding-top: 0"
                    *ngIf="AmAuditMeetingStore.individualMeetingDetails?.documents?.length>0">
                    <div class="thumb-pics"
                      *ngFor="let docs of AmAuditMeetingStore?.individualMeetingDetails?.documents;let i = index">

                      <!-- System Files Starts Here -->
                      <div class="upload-pics edit-option" *ngIf="!docs?.document_id"
                        (click)="viewDocument('audit-meeting',docs,docs)">
                        <div class="browse-form-pic"
                          [ngStyle]="{'background': 'url('+createImageUrl('audit-meeting',docs?.token)+') no-repeat'}">
                        </div>
                        <div class="browse-form-name clearfix">
                          <div class="float-left">
                            <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}
                            </h6>
                            <span>{{docs.size/1048576 |
                              number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">{{'system'|translate}}</span>
                          </div>
                          <div class="browse-logo">
                            <img *ngIf="checkExtension(docs.ext,'image') != -1" class="folder-picher"
                              src="/assets/images/jpg-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'doc') != -1" class="folder-picher"
                              src="/assets/images/word-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'pdf') != -1" class="folder-picher"
                              src="/assets/images/pdf-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'excel') != -1" class="folder-picher"
                              src="/assets/images/excel-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'video') != -1" class="folder-picher"
                              src="/assets/images/md-video.png">
                            <img *ngIf="checkExtension(docs.ext,'audio') != -1" class="folder-picher"
                              src="/assets/images/md-audio.png">
                            <img *ngIf="checkExtension(docs.ext,'ppt') != -1" class="folder-picher"
                              src="/assets/images/md-ppt.png">
                          </div>
                        </div>
                        <div class="edit-option-show-inner" style="margin: 0 -8px 0 0;">
                          <a><i class="fas fa-download" (click)="downloadDocumentFile('audit-meeting',docs)"></i></a>
                        </div>
                      </div>

                      <!-- System Files Starts Here -->
                      <!-- KnowledgeHub Files Starts Here -->
                      <div class="upload-pics edit-option" *ngIf="docs.document_id">

                        <div *ngFor="let mainDoc of docs?.kh_document?.versions"
                          (click)="viewDocument('document-version',docs,mainDoc)">
                          <div *ngIf="mainDoc.is_latest">
                            <div class="browse-form-pic"
                              [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                            </div>
                            <div class="browse-form-name clearfix">
                              <div class="float-left">
                                <h6>{{mainDoc.title}}
                                </h6>
                                <span>{{mainDoc.size/1048576 |
                                  number:'0.2-2'}}MB</span><span
                                  class="text-blue bold pl-2">{{'knowledge_hub'|translate}}
                                </span>
                              </div>
                              <div class="browse-logo">
                                <img *ngIf="checkExtension(mainDoc.ext,'image') != -1" class="folder-picher"
                                  src="/assets/images/jpg-icone.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1" class="folder-picher"
                                  src="/assets/images/word-icone.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1" class="folder-picher"
                                  src="/assets/images/pdf-icone.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1" class="folder-picher"
                                  src="/assets/images/excel-icone.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'video') != -1" class="folder-picher"
                                  src="/assets/images/md-video.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1" class="folder-picher"
                                  src="/assets/images/md-audio.png">
                                <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1" class="folder-picher"
                                  src="/assets/images/md-ppt.png">
                              </div>
                            </div>
                            <div class="edit-option-show-inner" style="margin: 0 -8px 0 0;">
                              <a><i class="fas fa-download"
                                  (click)="downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                            </div>
                          </div>
                        </div>


                      </div>
                      <!-- KnowledgeHub Files Ends Here -->

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal modal-style-1 popup-full-width fade" style="overflow: hidden auto; z-index: 999999;"
  data-keyboard="false" data-backdrop="static" #formModal *mobxAutorun>
  <app-am-audit-meeting-modal *ngIf="meetingObject.type" [source]="meetingObject"></app-am-audit-meeting-modal>
</div>

<div class="modal modal-style-1 fade" id="delete-popup" #deletePopup data-backdrop="static" data-keyboard="false">
  <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>


<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
  data-backdrop="static" #filePreviewModal *mobxAutorun>
  <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
      class="lni-close"></i><span>esc</span></button>
  <app-am-preview-modal *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
  </app-am-preview-modal>
</div>