<button type="button" class="close" (click)="close()" data-dismiss="modal"><i class="lni-close"></i><span>{{ 'esc' | translate }}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ 'add_user' | translate }}</h4>
        </div>
        <div class="modal-body form-body">
            <form [formGroup]="commonForm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{ 'user' | translate }}</label>
                        <div class="clearfix">
                            <div class="multiple-plain-ngselect select-new-width">
                                <ng-select [items]="UsersStore.usersList" bindLabel="email" [multiple]="false" [closeOnSelect]="true"
                                    [placeholder]="'select_user'|translate" formControlName="user_ids"
                                    (clear)="getUsers()" (search)="searchUers($event)" (open)="getUsers()">
                                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                        <img class="ng-select-user-display" *ngIf="item.image_token" height="15"
                                            width="15"
                                            [attr.src]="createImageUrl(item.image_token,'user-profile-picture')"
                                            onerror = "this.src='/assets/images/user-demo2.png'" />
                                        <img class="ng-select-user-display" *ngIf="!item.image_token"
                                            height="15" width="15" [attr.src]="getDefaultImage('user-logo')"
                                            onerror = "this.src='/assets/images/user-demo2.png'" />
                                        <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true"
                                            (click)="clear(item)" style="border:none;"
                                            class="ng-value-icon left">×</span>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                        <div class="user-post-department-pic">
                                            <img class="ng-select-user-display" *ngIf="item.image_token"
                                                height="25" width="25"
                                                [attr.src]="createImageUrl(item.image_token,'user-profile-picture')"
                                                onerror = "this.src='/assets/images/user-demo2.png'" />
                                            <img class="ng-select-user-display" *ngIf="!item.image_token"
                                                height="25" width="25"
                                                [attr.src]="getDefaultImage('user-logo')"
                                                onerror = "this.src='/assets/images/user-demo2.png'" />
                                        </div>
                                        <div class="user-post-department-div">
                                            <b>{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b>
                                            <p class="user-post-department-multiple">
                                                {{getStringsFormatted([item.designation_title,' '+item.department],50,',')}}</p>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-block justify-content-left border-0 mt-3">
                        <button type="submit" (click)="save()"
                            [disabled]="AppStore.loading" class="btn ordinary-btn mr-3 btn-active">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                    <button type="button" data-toggle="modal" data-target="#signal-lost"
                            class="btn" (click)="save(true)"
                            [disabled]="AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                    <button type="button" data-toggle="modal" data-target="#error-message"
                            class="btn ordinary-btn mr-2" (click)="cancel()">{{ 'cancel' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

