<ul class="arrowlist m-0 p-0">
  <div *ngFor = "let subItems of items" class="ml-4 mt-2">
    <li *ngIf = "!MeetingsStore.updateItem || (MeetingsStore.updateItem.id != subItems.id)" [attr.class] = "subItems.class">{{subItems.title}}
        <div class="arrowlist-edit-and-add">
          <a (click) = "addMinutesClicked(subItems)"><i class="fas fa-plus"></i></a>
          <a><i class="fas fa-pen" (click) = "editValue(subItems)"></i></a>
          <a (click) = "deleteMinutes(subItems,MeetingsStore.newMeetingsMom)"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      <div class="clearfix d-flex ml-5" *ngIf = "MeetingsStore.selectedMeeting && subItems.id == MeetingsStore.selectedMeeting.id">
          <input type="text" class="form-control w-100" 
            [(ngModel)]="subItems.text_box_value" 
            [placeholder]="'write_a_subtitle_of_minutes'|translate" 
            (keyup) = "keyboardEvent($event,subItems)"
            (keydown.enter)="addToMeetingAgenda(subItems)">
          <button class="btn multi-add-user ml-2" (click)="addToMeetingAgenda(subItems)" style="width: 38px;"><i class="fas fa-plus"></i></button>
          <button class="btn multi-add-user ml-2" (click)="cancelAgenda(subItems)" style="width: 38px;"><i class="fas fa-times"></i></button>
      </div>
      <app-mom-add-repeat-modal *ngIf = "subItems.meeting_minutes.length > 0" [details] = "subItems.meeting_minutes" [meetingMomTab]="meetingMomTab"></app-mom-add-repeat-modal>
  </div>
</ul>
