<div class="common-tab-md clearfix tab-same-height" *ngIf="RiskRegisterStore.individualLoaded">
    <div class="tab-common-left-md">
       <div class=" issues-tab">
          <!-- tab menu start -->
          <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
             <li class="nav-item"> <a  href="#review" class="nav-link active"
                   data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false">{{'issues' | translate}}</a>
             </li>
          </ul>
       </div><!-- tab menu end -->
    </div>


 
    <div class="tab-common-left-content-m bg-white cmn-bdr widg-padding-cmn min-height-83">
       <div class="tab-content">
          <!--Issue finding starts here-->
          <div class="tab-pane fade active show" id="review" role="tabpanel">
            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center">
                <h6 class="mb-0 w-100">{{'risk_issues' | translate}}</h6>
                <div class="text-right ml-2"  style="width: 100px;">
                    <button type="button" class="btn btn-small mr-0" (click)="selectIssues()">Add</button>                            
                </div>
            </div>
             <div class="audit-page-table-main"
             *ngIf="RiskRegisterStore.individualRiskRegisterDetails?.organization_issues != 0">
                <div class="row">
                   <div class="col-sm-12">
                      <div class="full-width-table">
                      <table 
                         class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                         <thead>
                            <tr>
                               <th class="border-top-0 text-center" width="2%">#</th>
                               <th class="border-top-0" width="8%">{{'ref_id' | translate}}</th>
                               <th class="border-top-0" width="20%">{{'issue' | translate}}</th>
                               <th class="border-top-0" width="20%">{{'issue_types' | translate}}</th>
                               <th class="border-top-0" width="19%">{{'issue_categories' | translate}}</th>
                               <th class="border-top-0" width="18%">{{'issue_domains' | translate}}</th>
                               <th class="border-top-0" width="13%">{{'departments' | translate}}</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr class="edit-and-delete-main" *ngFor="let row of RiskRegisterStore.individualRiskRegisterDetails?.organization_issues;let num = index">
                               <td class="text-center">{{num+1}}</td>
                               <td>{{row?.reference_code? row?.reference_code : AppStore.noContentText}}</td>
                               <td>{{row?.title ? row?.title : AppStore.noContentText}}</td>
                               <td><span *ngFor="let types of row?.organization_issue_types"
                                     class="risk-type-bx risk-type-bx-drop"><i><img
                                           [attr.src]="types.is_internal ? 'assets/images/internal.svg' : 'assets/images/external.svg'" style="width: 15px;">
                                     </i> {{types.title}}</span>
                                     <span *ngIf = "row?.organization_issue_types?.length == 0">{{AppStore.noContentText}}</span></td>
                                     <td >{{(row?.organization_issue_categories && row?.organization_issue_categories?.length > 0)? getArrayProcessed(row?.organization_issue_categories) :AppStore.noContentText }}</td>
                                     <td>{{(row?.organization_issue_domains && row?.organization_issue_domains?.length > 0) ? getArrayProcessed(row?.organization_issue_domains) : AppStore.noContentText}}</td>
                                     <td>{{(row?.organization_issue_departments && row?.organization_issue_departments.length > 0) ? getArrayProcessed(row?.organization_issue_departments) : AppStore.noContentText}}
                                  <div class="edit-option-show">
                                     <a *ngIf="AuthStore.getActivityPermission(1900,'DELETE_ISSUE_COMPLIANCE_REGISTER_MAPPING')"
                                        (click)="deleteIssueMapping(row?.id)" [attr.title]="'delete' | translate"><i
                                           class="fas fa-trash pointer"></i></a>
                                  </div>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                      
                   </div>
                </div>
             </div>
             <ng-container *mobxAutorun>
                <app-no-data
                   *ngIf="RiskRegisterStore.individualRiskRegisterDetails?.organization_issues == 0">
                </app-no-data>
             </ng-container>
          </div>
          <!--Risk mapping ends here-->
       </div>
    </div>
 </div>
 <ng-container *mobxAutorun>
   <app-event-risk-mapping-loader  *ngIf="!RiskRegisterStore.individualLoaded"></app-event-risk-mapping-loader>
</ng-container>
 
 
 <!-------------------Issue mapping popup starts here----------->
 <div class="modal modal-style-1 popup-full-width fade" id="issue-popup" data-keyboard="false" data-backdrop="static"
    #issueFormModal *mobxAutorun>
    <app-issues-modal *ngIf="IssueListStore.issue_select_form_modal" [issuesModalTitle]="modalObject">
    </app-issues-modal>
 </div>
 <!-------------------Issue mapping popup ends here------------->
 
 <!------------------- Delete Confirmation Modal Start --------------------------->
 <div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="deleteObject"></app-delete-popup>
 </div>
 <!------------------- Delete Confirmation Modal End --------------------------->
 
