<div class="assessment-user-box zoomInDown" style="cursor: auto;">
    <div class="row align-items-center">
        <div [ngClass]="date?'col-8':'col-9'">
            <div class="d-flex flex-row user-list-sm">
                <img *ngIf="imageUrl" [src]="imageUrl" width="30px" height="30px" class="rounded-circle">
                <div>
                    <h6 *ngIf="date" [attr.title]="title?.length>18?title:''">{{ title?.length>18?title.substring(0,18)+'...':title }}</h6>
                    <h6 class="m-0" *ngIf="!date" [attr.title]="title?.length>27?title:''">{{ title?.length>27?title.substring(0,27)+'...':title }}</h6>
                    <span *ngIf="subTitle">{{ subTitle }}</span>
                </div>
            </div>
        </div>
        <div [ngClass]="date?'col-4 text-right pl-0':'col-3 text-right pl-0'">
            <h4>{{ percentage }}%</h4>
            <span *ngIf="date">{{ date }}</span>
        </div>
    </div>
</div>