<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" scrollPoint #navBar>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    <app-sub-menu></app-sub-menu>
    <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link-show"
                [routerLink]="['/customer-engagement/complaint-action-plan/' + CustomerComplaintActionPlanStore.complaintActionPlanId]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'info' | translate}}</a>
    </ul>
</nav>

<main class="audit-program-details-page mt-3" *ngIf="CustomerComplaintActionPlanStore?.individualLoaded">
    <div class="container-fluid widget" *mobxAutorun>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 padding-right-0">
                        <div class="bg-white widg-padding-cmn">
                            <div class=" min-height-64">
                                <div class="widget-body-light issuue-new-style p-0">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="issue-top-sec">
                                                <div class="clearfix">
                                                    <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                                            class="issue-smoal-head-text">#
                                                            {{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.reference_code}}</span>
                                                        {{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.title}}<span
                                                        class="draft-tag label-tag-style-tag label-left-arow-tag ml-3"
                                                        [ngClass]="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_status?.color_code?.length > 0 ? getColorKey() : ''"
                                                        style="line-height: 16px; vertical-align: middle; margin-top: -5px; display: inline-block;">{{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_status?.language[0]?.pivot?.title}}</span>
                                                    </h5>  
                                                </div>
                                                <div class="clearfix">
                                                    <p class="label-tag-style"><i
                                                            class="fas fa-calendar-alt date-pics-two"></i>
                                                        {{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.start_date
                                                        |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        To
                                                        {{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.target_date
                                                        |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        <span  *ngIf="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_status?.type!='resolved' && CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_status?.type!='closed'" class="blinking">( {{getDaysRemaining()}}
                                                            {{'days remaining' | translate}} )
                                                        </span>
                                                     
                                                    </p>
                                                </div>
                                                <p style="white-space: pre-line;"
                                                    *ngIf="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.description">
                                                    {{CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.description}}
                                                </p>
                                            </div>
                                            <div class="label-and-user-pic">
                                                <h6>{{'responsible_user'|translate}}</h6>
                                                <app-user-popup-box
                                                    [source]="getCreatedByPopupDetails(CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.responsible_user)">
                                                </app-user-popup-box>
                                                <div
                                                    *ngIf="!CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.responsible_user">
                                                    {{AppStore.noContentText}}</div>
                                            </div>
                                            <div class="label-and-user-pic">
                                                <h6>{{'watchers' | translate}}</h6>
                                                <div class="pb-3" *ngIf="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_watchers?.length > 3">
                                                    <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix"
                                                        >
                                                        <li *ngFor="let watcher of CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan.customer_complaint_action_plan_watchers"
                                                            class="rounde-hov-bg">
                                                            <app-user-popup-box [source]="getWatcherPopupDetails(watcher)" [showName]="false" [activateButtons]="true">
                                                            </app-user-popup-box>
                                                        </li>
                                                    </ul>
                                                   </div>
                                                   <div class="row"  *ngIf="!(CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_watchers?.length > 3)">
                                                    <div class="col-xl-4 col-lg-6 col-sm-6"
                                                    *ngFor="let watcher of CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan.customer_complaint_action_plan_watchers; let i = index">
                                                        <div class="label-and-user-pic">
                                                            
                                                            <!-- <div> -->
                                                                <app-user-popup-box [source]="getWatcherPopupDetails(watcher)" [showName]="true" [activateButtons]="false">
                                                                </app-user-popup-box>
                                                            <!-- </div> -->
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                    <p *ngIf="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan.customer_complaint_action_plan_watchers?.length==0">
                                                        {{AppStore.noContentText}}</p>
                                            </div>
                                            <h6>{{'support_files' | translate}}</h6>
                                            <p
                                                *ngIf="CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.documents?.length == 0">
                                                {{AppStore.noContentText}}</p>
                                            <div class="thumb-pics-bg thumb-pics-col-4 thumb-pics-fix-text"
                                                style="padding-top: 0">
                                                <div class="thumb-pics"
                                                    *ngFor="let docs of CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.documents;let i = index">
                                                    <!-- System Files Starts Here -->
                                                    <div [ngClass]="AuthStore.getActivityPermission(1600,'PREVIEW_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE') ? 'upload-pics edit-option pointer' : 'upload-pics edit-option'" *ngIf="!docs.document_id">
                                                        <div class="browse-form-pic"
                                                            [ngStyle]="{'background': 'url('+createImageUrl('corrective-action',docs.token)+') no-repeat'}"
                                                            (click)="AuthStore.getActivityPermission(1600,'PREVIEW_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE') ? viewAttachments('corrective-action',docs): ''">
                                                        </div>
                                                        <div class="browse-form-name clearfix">
                                                            <div class="float-left">
                                                                <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                                                </h6>
                                                                <span>{{docs.size/1048576 |
                                                                    number:'0.2-2'}}MB</span><span
                                                                    class="text-blue bold pl-2">System</span>
                                                            </div>
                                                            <div class="browse-logo">
                                                                <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/jpg-icone.png">
                                                                <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/word-icone.png">
                                                                <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/pdf-icone.png">
                                                                <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/excel-icone.png">
                                                                <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-video.png">
                                                                <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-audio.png">
                                                                <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-ppt.png">
                                                            </div>
                                                        </div>
                                                        <div *ngIf="AuthStore.getActivityPermission(1600,'DOWNLOAD_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE')" class="edit-option-show-inner" style="margin: 0 -9px 0 0;">
                                                            <a><i class="fas fa-download"
                                                                    (click)="downloadDocument('corrective-action',docs)"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- KnowledgeHub Files Starts Here -->
                                                    <div [ngClass]="AuthStore.getActivityPermission(1600,'PREVIEW_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE') ? 'upload-pics edit-option pointer' : 'upload-pics edit-option'" *ngIf="docs.document_id">

                                                        <div *ngFor="let mainDoc of docs.kh_document.versions">
                                                            <div *ngIf="mainDoc.is_latest">
                                                                <div class="browse-form-pic"
                                                                    (click)="AuthStore.getActivityPermission(1600,'PREVIEW_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE') ? viewAttachments('document-version',docs,mainDoc) : ''"
                                                                    [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                                                </div>
                                                                <div class="browse-form-name clearfix">
                                                                    <div class="float-left">
                                                                        <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                                                        </h6>
                                                                        <span>{{mainDoc.size/1048576 |
                                                                            number:'0.2-2'}}MB</span><span
                                                                            class="text-blue bold pl-2">Knowledge
                                                                            Hub</span>
                                                                    </div>
                                                                    <div class="browse-logo">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'image') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/jpg-icone.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/word-icone.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/pdf-icone.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/excel-icone.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'video') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-video.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-audio.png">
                                                                        <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-ppt.png">
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="AuthStore.getActivityPermission(1600,'DOWNLOAD_CUSTOMER_COMPLAINT_ACTION_PLAN_DOCUMENT_FILE')" class="edit-option-show-inner" style="margin: 0 -9px 0 0;">
                                                                    <a><i class="fas fa-download"
                                                                            (click)="downloadDocument('document-version',docs,mainDoc)"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- KnowledgeHub Files Ends Here -->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6>{{'complaint'|translate}}</h6>
                                                    <p>#{{CustomerComplaintStore.indivitualCustomerComplaint?.reference_code}}
                                                        {{CustomerComplaintStore.indivitualCustomerComplaint?.title?CustomerComplaintStore.indivitualCustomerComplaint?.title:AppStore.noContentText}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6>{{'description'|translate}}</h6>
                                                    <p 
                                                        [innerHTML]="CustomerComplaintStore.indivitualCustomerComplaint?.description?CustomerComplaintStore.indivitualCustomerComplaint?.description:AppStore.noContentText">
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h6>{{'complaint_source' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.customer_complaint_source ?
                                                        CustomerComplaintStore.indivitualCustomerComplaint?.customer_complaint_source?.title :
                                                        AppStore.noContentText}}</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6>{{'complaint_type' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.customer_complaint_type?.language[0]?.pivot?.title}}</p>
                                                </div>
                                                <div class="col-md-4"
                                                    *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_division">
                                                    <h6>{{'divisions' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.division ? CustomerComplaintStore.indivitualCustomerComplaint?.division?.title : AppStore.noContentText}}
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-4" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_department">
                                                    <h6>{{'department' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.department ?
                                                        CustomerComplaintStore.indivitualCustomerComplaint?.department?.title :
                                                        AppStore.noContentText}}</p>
                                                </div>
                                                <div class="col-md-4" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_section">
                                                    <h6>{{'section' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.section ?
                                                        CustomerComplaintStore.indivitualCustomerComplaint?.section?.title :
                                                        AppStore.noContentText}}</p>
                                                </div>
                                                <div class="col-md-4" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section">
                                                    <h6>{{'sub_section' | translate}}</h6>
                                                    <p>{{CustomerComplaintStore.indivitualCustomerComplaint?.sub_section ?
                                                        CustomerComplaintStore.indivitualCustomerComplaint?.sub_section?.title :
                                                        AppStore.noContentText}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <hr class="mb-2">
                                    <!-- <div class="d-flex flex-row user-list-sm"> -->
                                    <app-user-popup-box
                                        [source]=" getCreatedByPopupDetails(CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.created_by, CustomerComplaintActionPlanStore.indivitualCustomerComplaintActionPlan?.created_at)">
                                    </app-user-popup-box>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12" >                 
                        <div class="bg-white widg-padding-cmn-small mb-3">
                            <h6>{{'corrective_action'|translate}} % {{'completed' | translate}}</h6>
                            <hr class="mt-0 mb-3">
                            <div
                                [ngClass]="CustomerComplaintActionPlanStore?.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_update.slice(-1)[0]?.percentage > 50 ?'progress-circle progress-circle-big-one over50 p'+CustomerComplaintActionPlanStore?.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_update.slice(-1)[0]?.percentage:'progress-circle progress-circle-big-one p'+CustomerComplaintActionPlanStore?.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_update.slice(-1)[0]?.percentage">
                                <span>{{CustomerComplaintActionPlanStore?.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_update.slice(-1)[0]?.percentage>0?CustomerComplaintActionPlanStore?.indivitualCustomerComplaintActionPlan?.customer_complaint_action_plan_update.slice(-1)[0]?.percentage:0}}%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>                
                        </div> 
                        
                        <div class="bg-white widg-padding-cmn-small mb-3">
                            <h6>
                                {{'days_remaining' | translate}}</h6>
                            <hr class="mt-0 mb-3">
                            <div class="clearfix mb-3">
                                <p class="dot-div-new dot-green mb-0 span-dot-color d-block"><span style="background: #028f14;"></span>{{'remaining_days'|translate}}
                                    ({{getDaysRemaining()}}{{' days'}})</p>
                                <p class="dot-div-new dot-red mb-0 span-dot-color d-block"><span style="background: #ffe6e6;"></span>{{'total_days'|translate}}
                                    ({{getTotaldays()}}{{' days'}})</p>
                                <!-- <div class="mb-3">
                                    <p class="dot-div-new mb-0 dot-green d-block font-normal">{{'remaining_days'|translate}}
                                        ({{getDaysRemaining()}}{{' days'}})
                                    </p><p class="dot-div-new dot-red d-block font-normal">{{'total_days'|translate}}
                                        ({{getTotaldays()}}{{' days'}})
                                    </p>
                                </div> -->
                            </div>
                            <div class="vertical-progress-v2">
                                <div class="progress-bg-sec">
                                    <div class="progress-inner-color"
                                        [style.height.%]="(getDaysRemaining()/getTotaldays())*100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<ng-container *mobxAutorun>
    <div *ngIf="!CustomerComplaintActionPlanStore?.individualLoaded">
        <app-corrective-action-loader></app-corrective-action-loader>
    </div>
</ng-container>

<!-----------------------Form Modal--------------------------->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
    <app-add-customer-complaint-action-plan *ngIf="customerComplaintActionPLanObject.type"
        [source]="customerComplaintActionPLanObject">
    </app-add-customer-complaint-action-plan>
</div>
<!-----------------------Form Modal--------------------------->

<!-- preview component for image preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <app-preview *ngIf="previewObject" [source]="previewObject">
    </app-preview>
</div>
<!-- preview modal end -->

<!-- update modal end -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #UpdateCAformModal>
    <app-customer-corrective-action-update-modal *ngIf="caUpdateObject.type" [source]="caUpdateObject">
    </app-customer-corrective-action-update-modal>
</div>
<!-- update modal end -->

<!-- history modal end -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #historyPopup>
    <app-customer-corrective-action-history-modal>
    </app-customer-corrective-action-history-modal>
</div>
<!-- history modal end -->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>
