<button type="button" (click)="closeFormModal()" class="close" data-dismiss="modal"><i class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">{{'lessons_learnt' | translate}}</h4>      
    </div>
    <!-- Modal body -->
    <form class="modal-body form-body" [formGroup]="form">
      <p class="head-details">Capture and document lessons learned across your organisation. Apply what you've learned from previous achievements & avoid past failures. </p>
      <div class="row">

        <div class="col-lg-12 col-sm-12">
          <div class="form-group">
            <label for="name">{{'title' | translate}}<sup>*</sup></label>
            <input formControlName="title" type="text" class="form-control" [placeholder]=" 'lesson_learnt_title_placeholder' | translate">
            <p class="form-error pt-1" *ngIf="formErrors && formErrors.title">{{formErrors.title}}</p>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">{{'description' | translate}}</label>
            <textarea formControlName="description" class="form-control" rows="3" id="comment" [placeholder]=" 'lesson_learnt_description_placeholder' | translate"></textarea>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">{{'recommendation' | translate}}</label>
            <textarea formControlName="recommendation" class="form-control" rows="3" id="comment" [placeholder]=" 'lesson_learnt_recom_placeholder' | translate"></textarea>
          </div>
        </div>

        <div class="col-lg-12 col-sm-12">
          <div class="form-group">
            <label for="name">{{'further_action_required' | translate}}<sup>*</sup></label>
            <div class="custom-control pt-2 custom-radio">
              <input type="radio"  class="custom-control-input" id="customRadio1" name="is_further_action_required" value="1" formControlName="is_further_action_required">
              <label class="custom-control-label" for="customRadio1" style="padding-top: 2px;">{{'yes' | translate}}</label>
              <span class="pl-5"><input type="radio" class="custom-control-input" id="customRadio2" name="is_further_action_required" value="0" formControlName="is_further_action_required">
                <label class="custom-control-label" for="customRadio2" style="padding-top: 2px;">{{'no' | translate}}</label></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <div class="d-block justify-content-left border-0 mt-3">
              <button type="submit" class="btn btn-active" (click)="save()" [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ? getButtonText('loading') : getButtonText('save') }}</button>
              <button type="button" class="btn" (click)="save(true)" [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ? getButtonText('loading') : getButtonText('save_close') }}</button>
              <button type="button" class="btn" (click)="cancel()">{{ AppStore.loading ? getButtonText('loading') : getButtonText('cancel') }}</button>
          </div>
      </div>
      </div>

    </form>
    <!-- Modal footer -->
  </div>
</div>