<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
   <app-sub-menu>-</app-sub-menu>
   <div class="module-name-block module-name-block-space float-left">
      <a class="dropdown module-title">{{'test_and_exrecises'|translate}}</a>
   </div>
   <!-- <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/bcm/test-and-exercise']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"> {{'test_and_exrecises' | translate}}</a>
   </ul> -->
</nav>
<main class="audit-program-details-page mt-3">
   <div class="container-fluid">
      <app-filter-menu></app-filter-menu>
      <!-- <a data-toggle="modal" data-target="#custom-date-popup">Custom date popup</a> -->
      <div class="row" *mobxAutorun>
         <div class="col-sm-12">
            <div class="tab-content">
               <!-- Profille -->
               <div class="tab-pane active" id="info">


                  <div class="audit-program-box audit-page-table-main">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="full-width-table mb-3">
                           <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll"
                              *ngIf="TestAndExerciseStore.loaded && TestAndExerciseStore.allItems.length!=0&&AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_LIST')">
                              <thead>
                                 <tr>
                                    <th class="border-top-0 text-center" width="2%">#</th>
                                    <th class="border-top-0 pointer" width="8%"
                                       (click)="setSort('test_and_exercises.reference_code')">{{'ref_id'|translate}}
                                       <img
                                          *ngIf="TestAndExerciseStore.orderItem == 'test_and_exercises.reference_code'"
                                          [attr.src]="TestAndExerciseStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                          class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 pointer" width="22%"
                                       (click)="setSort('test_and_exercises.title')">{{'title' | translate}}
                                       <img *ngIf="TestAndExerciseStore.orderItem == 'test_and_exercises.title'"
                                          [attr.src]="TestAndExerciseStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                          class="sort-down-pics">
                                    </th>

                                    <th class="border-top-0 pointer" width="10%"
                                       (click)="setSort('test_and_exercise_types.title')"> Type
                                       <img *ngIf="TestAndExerciseStore.orderItem == 'test_and_exercise_types.title'"
                                          [attr.src]="TestAndExerciseStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                          class="sort-down-pics">
                                    </th>

                                    <th class="border-top-0" width="20%">Date & Time</th>
                                    <th class="border-top-0" width="12%">Lead</th>

                                    <th class="border-top-0 text-center" width="8%">Status</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr class="pointer edit-and-delete-main"
                                    *ngFor="let bcp of TestAndExerciseStore.allItems| paginate: {currentPage:TestAndExerciseStore?.currentPage, itemsPerPage:TestAndExerciseStore?.itemsPerPage,totalItems:TestAndExerciseStore?.totalItems};let ind=index">
                                    <td class="text-center"
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       {{(TestAndExerciseStore?.currentPage - 1) * TestAndExerciseStore?.itemsPerPage +
                                       (ind + 1)}}</td>
                                    <td
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       {{bcp.reference_code}}</td>
                                    <td
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       {{bcp.title}}</td>

                                    <td
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       {{bcp.test_and_exercise_type_title}}</td>

                                    <td
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       {{bcp.start_date | date:
                                       OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}} to
                                       {{bcp.end_date | date:
                                       OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}</td>
                                    <td
                                       (click)="AuthStore.getActivityPermission(100,'TEST_AND_EXERCISE_DETAIL') ? redirectToDetailsPage(bcp.id) : ''">
                                       <div
                                          class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                          <img *ngIf="bcp.test_and_exercise_leader_image_token" data-toggle="modal"
                                             data-target="#user02" data-ui-class="a-zoom"
                                             [attr.src]="createImagePreview('user-profile-picture',bcp.test_and_exercise_leader_image_token)"
                                             width="30px" height="30px"
                                             class="rounded-circle rounde-hov details-show-popup"
                                             onerror="this.src='/assets/images/user-demo2.png'">
                                          <img *ngIf="!bcp.test_and_exercise_leader_image_token"
                                             [attr.src]="getDefaultImage('user-logo')" width="30px" height="30px"
                                             class="rounded-circle" onerror="this.src='/assets/images/user-demo2.png'">
                                          <div class="pointer">
                                             <h6
                                                [attr.title]="bcp?.test_and_exercise_leader_first_name+' '+bcp?.test_and_exercise_leader_last_name">
                                                {{getStringsFormatted([bcp?.test_and_exercise_leader_first_name,bcp?.test_and_exercise_leader_last_name],20,'
                                                ') | titlecase}}</h6>
                                             <span>{{bcp.test_and_exercise_leader_designation ? bcp.test_and_exercise_leader_designation :
                                                AppStore.noContentText}}</span>
                                          </div>
                                       </div>
                                    </td>
                                    <td class="text-center">
                                       <div [attr.class]="'dot-div '+bcp.label+'-dot'">
                                          {{bcp.test_and_exercise_status_title}}</div>
                                       <div class="edit-option-show" style="margin: 30px 0 0 0; "
                                          *ngIf="bcp.test_and_exercise_status_id!=2&&bcp.test_and_exercise_status_id!=3&&bcp.test_and_exercise_status_id!=4">
                                          <a *ngIf="AuthStore.getActivityPermission(100,'UPDATE_TEST_AND_EXERCISE')"
                                             (click)="editBcp(bcp.id)" [attr.title]="'edit' | translate"><i
                                                class="fas fa-pen"></i></a>
                                          <a *ngIf="AuthStore.getActivityPermission(100,'DELETE_TEST_AND_EXERCISE')"
                                             (click)="deleteConfirm(bcp.id)" [attr.title]="'delete' | translate"><i
                                                class="fas fa-trash"></i></a>
                                       </div>
                                    </td>

                                 </tr>
                              </tbody>
                           </table>
                           </div>
                           <p class="float-right bold mb-0" *ngIf="TestAndExerciseStore.loaded && TestAndExerciseStore.totalItems > 0">{{'total_Items' | translate}}:{{TestAndExerciseStore?.totalItems}}</p>
                           <div *ngIf="TestAndExerciseStore.totalItems>TestAndExerciseStore.itemsPerPage"
                              class="col-sm-12">
                              <ul class="pagination justify-content-center mt-3">
                                 <div class="list">
                                    <pagination-controls [previousLabel]="'previous' | translate"
                                       [nextLabel]="'next' | translate" (pageChange)="pageChange($event)"
                                       class="my-pagination"></pagination-controls>
                                 </div>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <ng-container *mobxAutorun>
                        <app-no-data *ngIf="TestAndExerciseStore.loaded && TestAndExerciseStore.allItems.length==0">
                        </app-no-data>
                     </ng-container>
                     <ng-container *mobxAutorun>
                        <app-bcm-table-loader *ngIf="!TestAndExerciseStore.loaded"></app-bcm-table-loader>
                     </ng-container>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<div class="modal modal-style-1 popup-full-width fade" style="overflow: auto;" id="new-bcp" data-keyboard="false"
   data-backdrop="static" #formModal>
   <app-test-and-exercise-add *ngIf="testObject.type" [source]="testObject"></app-test-and-exercise-add>
</div>

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
   <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>

<div class="modal modal-style-1 email-popup-new fade" data-backdrop="static" data-keyboard="false"
   id="email-notification-popup" #mailConfirmationPopup>
   <app-mail-send-popup [source]="mailConfirmationData"></app-mail-send-popup>
</div>