<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
     <!-- START TAB LIST  -->
     <div class="dropdown edit-dropdown d-lg-none drop-menu-left-head">
         <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle" data-toggle="dropdown">{{AppStore.pageTitle}}<i
               class="fas fa-chevron-circle-down ml-2"></i></a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
 
          <a class="dropdown-item active" [routerLink]="['info']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'info' |translate}}</a>
 
        
          <a class="dropdown-item" [routerLink]="['mapping']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'mapping' |translate}}</a>


          <a class="dropdown-item" [routerLink]="['investigator']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'investigator' | translate }} </a>


          <a class="dropdown-item" [routerLink]="['investigation']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'investigation' |translate}} </a>


          <a class="dropdown-item" [routerLink]="['root-cause-analysis']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'root_cause_analysis'  |translate}}  </a>

          <a class="dropdown-item" [routerLink]="['corrective-actions-list']" 
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'corrective_action' |translate }}</a>

          <a class="dropdown-item" [routerLink]="['report-list']" 
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'report' |translate }}</a>

          <!-- <a class="nav-link nav-link-show" >Report  </a> -->
 
         </div>
      </div>
      <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      
       <li class="nav-item">
          <a class="nav-link nav-link-show" [routerLink]="['info']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
          *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_DETAILS')">{{'info' | translate}}</a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['mapping']"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_MAPPING_LIST')">{{'mapping' | translate}}</a>
     </li>

     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['investigator']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
      *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_INVESTIGATOR_DETAIL')">{{'investigator' | translate}}</a>
  </li>


     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['investigation']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
      *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_INVESTIGATION_DETAIL')" >{{'investigation' | translate}} </a>
  </li>

  <li class="nav-item">
   <a class="nav-link nav-link-show" [routerLink]="['root-cause-analysis']" 
   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
   *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_ROOT_CAUSE_ANALYSIS_LIST')">{{'root_cause_analysis' | translate}}</a>
</li>

<li class="nav-item">
   <a class="nav-link nav-link-show" [routerLink]="['corrective-actions-list']" 
   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
   *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_CORRECTIVE_ACTION_LIST')">{{'corrective_action' | translate}} </a>
</li>

<li class="nav-item">
    <a class="nav-link nav-link-show" [routerLink]="['report-list']" 
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
    *ngIf="AuthStore.getActivityPermission(900,'INCIDENT_REPORT_LIST')">{{'report' | translate}}</a>
 </li>
      </ul>
 
      <!-- END TAB LIST -->
 
     <app-sub-menu></app-sub-menu>
 
 </nav>

 <main class="audit-program-details-page mt-3">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="widget">
                <div class="tab-content">
               <router-outlet></router-outlet>
                </div>
            </div>
          </div>
       </div>

    </div>
 </main>
