<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
    <!-- <app-breadcrumb-menu></app-breadcrumb-menu> -->
   <app-sub-menu>-</app-sub-menu>
</nav>
<main class="mt-3">
    <div class="container-fluid">
       <!-- Tab panes -->
       <div id="content-oc">
          <div class="strategy-mapping-tree">          
             <!-- start -->
             <div class="tab-content mapping-tab-content">
                <div id="menu1" class="tab-pane in active">
                  <div class="tree-scroll-new pt-3" style="min-height: 70vh;" #contentAreaStandard>
                     <div class="tree auto-width-tree clearfix stg-tree stg-role-tree">
                        <div class="btn-fixed-strategy-objective">
                           <button id="left-button-objective" type="button" class="btn-round-cmn btn-round-cmn-left"
                              (click)="moveTostandard('left')"></button>
                           <button id="right-button-objective" type="button" class="btn-round-cmn btn-round-cmn-right"
                              (click)="moveTostandard('right')"></button>
                        </div>
                        <ul class="clearfix" *ngIf="StrategyMappingStore?.individualLoaded" style="padding-top: 20px;">
                           <li>
                              <!-- <a class="oc-user-box cmn-bdr stg-child-box radius-15 relative"></a> -->
                              <div class="stg-role-name cmn-bdr-blue bg-white radius-15 mb-0">
                                 <div class="row align-items-center">
                                    <div class="col-md-12 col-12">
                                       <div class="d-flex align-items-center py-2">
                                          <div class="mr-3">
                  
                                             <img
                                                [attr.src]="StrategyMappingStore.getUserDetails?.image_token ? createImageUrl(StrategyMappingStore.getUserDetails?.image_token,'user-profile-picture') : getDefaultImage('user-logo')"
                                                width="55" height="60" class="img-fluid rounded-circle" alt="images"
                                                onerror="this.src='/assets/images/user-demo2.png'" />
                                          </div>
                                          <div class="w-100 ml-0">
                                             <h6 class="mb-1 elips-1">{{StrategyMappingStore.getUserDetails?.first_name}}
                                                {{StrategyMappingStore.getUserDetails?.last_name}}</h6>
                                             <span>{{StrategyMappingStore.getUserDetails?.designation?.title}}</span>
                                          </div>
                                          <div class="col-md-3 col-3">
                                             <div
                                                [ngClass]="StrategyMappingStore.getUserDetails?.assessment_score && StrategyMappingStore.getUserDetails?.assessment_score > 30 ? StrategyMappingStore.getUserDetails?.assessment_score > 70 ? 'round-status round-status-green' : 'round-status round-status-orange' : 'round-status round-status-red'">
                                                <span>{{StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage_fraction
                                                   ?
                                                   (StrategyMappingStore.getUserDetails?.assessment_score ?
                                                   StrategyMappingStore.getUserDetails?.assessment_score : '0') :
                                                   StrategyMappingStore.getUserDetails?.assessment_score ?
                                                   (StrategyMappingStore.getUserDetails?.assessment_score | number : '1.0-0') : '0'}} %
                                                </span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                  
                              <ul class="clearfix" *ngIf="StrategyMappingStore?.individualLoaded" style="padding-top: 20px;">
                                 <li>
                                    <a class="oc-user-box cmn-bdr stg-child-box radius-15 relative">
                                       <div
                                          class="controls-mapping-btn strategy-controls-mapping-btn strategy-controls-mapping-btn-role-details">
                                       </div>
                                       <span class="label-work-flow-audit mapping-label mapping-label-green">{{'strategy_profile'|
                                          translate}}</span>
                                       <div class="row align-items-center">
                                          <div class="col-md-9 col-9">
                                             <div class="d-flex align-items-center ">
                                                <div class="w-100 ml-3">
                                                   <h6 class="mb-0"
                                                      [attr.title]="StrategyMappingStore?.individualStrategyMapping?.title?.length > 20 ? StrategyMappingStore?.individualStrategyMapping?.title : ''">
                                                      {{StrategyMappingStore?.individualStrategyMapping?.title?.length > 20 ?
                                                      StrategyMappingStore?.individualStrategyMapping?.title?.substring(0,20)+'...' :
                                                      StrategyMappingStore?.individualStrategyMapping?.title }}
                                                   </h6>
                                                   <p class="mb-0">
                                                      {{StrategyMappingStore?.individualStrategyMapping?.start_date |
                                                      date:
                                                      OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}
                                                      - {{StrategyMappingStore?.individualStrategyMapping?.end_date |
                                                      date:
                                                      OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}
                                                   </p>
                                                   <!-- <span class="pointer stg-view">View More</span> -->
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-3 col-3">
                                             <div
                                                [ngClass]="StrategyMappingStore?.individualStrategyMapping?.score && StrategyMappingStore?.individualStrategyMapping?.score > 30 ? StrategyMappingStore?.individualStrategyMapping?.score > 70 ? 'round-status round-status-green round-status-child' : 'round-status round-status-orange round-status-child' : 'round-status round-status-red round-status-child'">
                                                <span>{{StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage_fraction
                                                   ?
                                                   (StrategyMappingStore?.individualStrategyMapping?.score ?
                                                   StrategyMappingStore?.individualStrategyMapping?.score : '0') :
                                                   StrategyMappingStore?.individualStrategyMapping?.score ?
                                                   (StrategyMappingStore?.individualStrategyMapping?.score | number : '1.0-0') :
                                                   '0'}} %</span>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                  
                                    <ul class="clearfix" *ngIf="StrategyMappingStore?.getStandardView?.length > 0"
                                       style="padding-top: 20px;">
                  
                                       <li *ngFor="let focus of StrategyMappingStore?.getStandardView; let num = index">
                                          <a
                                             [ngClass]="focus?.accountable_user_id == StrategyMappingStore.getUserDetails?.id ? 'oc-user-box cmn-bdr stg-child-box radius-15 active-box': 'oc-user-box cmn-bdr stg-child-box radius-15'">
                                             <span class="label-work-flow-audit mapping-label mapping-label-orange">{{focus?.is_type |
                                                translate}}</span>
                                             <div class="row align-items-center">
                                                <div class="col-md-9 col-9">
                                                   <div class="d-flex align-items-center ">
                                                      <div class="w-100 ml-3">
                                                         <h6 class="mb-0" [attr.title]="focus?.title?.length > 20 ? focus?.title : ''">
                                                            {{focus?.title?.length > 20 ?
                                                            focus?.title.substring(0,20)+' ...' :focus?.title}}</h6>
                  
                                                         <!-- <span class="pointer stg-view">View More</span> -->
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="col-md-3 col-3">
                                                   <div
                                                      [ngClass]="focus?.score && focus?.score > 30 ? focus?.score > 70 ? 'round-status round-status-green round-status-child' : 'round-status round-status-orange round-status-child' : 'round-status round-status-red round-status-child'">
                                                      <span>
                                                         {{StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage_fraction
                                                         ?
                                                         (focus?.score ? focus?.score : '0') :focus?.score ? (focus?.score | number :
                                                         '1.0-0') :
                                                         '0'}} %
                                                      </span>
                                                   </div>
                                                </div>
                                             </div>
                  
                                          </a>
                                          <ul [ngClass]="focus?.parent_array?.length > 0 ? 'role-border-connection-1' : ''"
                                             *ngIf="focus?.parent_array?.length > 0">
                                             <li *ngFor="let obj of focus?.parent_array; let objInd = index">
                                                <a
                                                   [ngClass]="obj?.accountable_user_id == StrategyMappingStore.getUserDetails?.id ? 'oc-user-box cmn-bdr stg-child-box radius-15 active-box': 'oc-user-box cmn-bdr stg-child-box radius-15'">
                                                   <span class="label-work-flow-audit mapping-label mapping-label-orange">{{obj?.is_type |
                                                      translate}}</span>
                                                   <div class="row align-items-center">
                                                      <div class="col-md-9 col-9">
                                                         <div class="d-flex align-items-center ">
                                                            <div class="w-100 ml-3">
                                                               <h6 class="mb-0" [attr.title]="obj?.title?.length > 20 ? obj?.title : ''">
                                                                  {{obj?.title?.length > 20 ? obj?.title?.substring(0,20)+'...' :
                                                                  obj?.title}}</h6>
                                                               <ul class="arrowlist m-0 p-0 role-area-list">
                                                                  <!-- <li>Investment and partnership</li> -->
                                                               </ul>
                                                               <!-- <span class="pointer stg-view">View More</span> -->
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-3 col-3">
                                                         <div
                                                            [ngClass]="obj?.actual_score && (obj?.actual_score > obj?.minimum) ? obj?.actual_score > obj?.maximum ? 'round-status round-status-green round-status-child' : 'round-status round-status-orange round-status-child' : 'round-status round-status-red round-status-child'">
                                                            <span>{{StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage_fraction
                                                               ?(obj?.actual_score ? obj?.actual_score : '0') :obj?.actual_score ?
                                                               (obj?.actual_score | number : '1.0-0') : '0'}} %
                                                            </span>
                                                         </div>
                                                      </div>
                                                   </div>
                  
                                                </a>
                                                <ul [ngClass]="obj?.child_array?.length > 0 ? 'role-border-connection-1' : ''"
                                                   *ngIf="obj?.child_array?.length > 0">
                                                   <li *ngFor="let init of obj?.child_array; let initInd = index">
                                                      <a
                                                         [ngClass]="init?.accountable_user_id == StrategyMappingStore.getUserDetails?.id ? 'oc-user-box cmn-bdr stg-child-box radius-15 active-box': 'oc-user-box cmn-bdr stg-child-box radius-15'">
                                                         <span
                                                            class="label-work-flow-audit mapping-label mapping-label-orange">{{'initiatives'
                                                            | translate}}</span>
                                                         <div class="row align-items-center">
                                                            <div class="col-md-9 col-9">
                                                               <div class="d-flex align-items-center ">
                                                                  <div class="w-100 ml-3">
                                                                     <h6 class="mb-0"
                                                                        [attr.title]="init?.title?.length > 20 ? init?.title : ''">
                                                                        {{init?.title?.length > 20 ? init?.title?.substring(0,20)+'...' :
                                                                        init?.title}}</h6>
                  
                                                                     <!-- <span class="pointer stg-view">View More</span> -->
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-md-3 col-3">
                                                               <div
                                                                  [ngClass]="init?.score && init?.score > 30 ? init?.score > 70 ? 'round-status round-status-green round-status-child' : 'round-status round-status-orange round-status-child' : 'round-status round-status-red round-status-child'">
                                                                  <span>
                                                                     {{StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage_fraction
                                                                     ?
                                                                     (init?.score ? init?.score : '0') :init?.score ? (init?.score |
                                                                     number : '1.0-0') : '0'}} %
                                                                  </span>
                                                               </div>
                                                            </div>
                                                         </div>
                  
                                                      </a>
                                                   </li>
                                                </ul>
                                             </li>
                                          </ul>
                                       </li>
                                    </ul>
                                    <ul class="clearfix" style="padding-top: 20px;"
                                       *ngIf="StrategyMappingStore.standardViewLoaded && StrategyMappingStore?.getStandardView.length == 0">
                                       <li>
                                          <a class="oc-user-box cmn-bdr stg-child-box radius-15">
                                             <div class="row align-items-center">
                                                <div class="col-md-12">
                                                   <div class="d-flex align-items-center ">
                                                      <div class="w-100 tree-img-border-hide">
                                                         <app-context-no-data [sourceData]="getNoDataSource('center',strategyEmptyList)">
                                                         </app-context-no-data>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </a>
                                       </li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
                </div>

             </div>
          </div>

       </div>
    </div>
 </main>



<!-------------------------------Form Modal--------------------------------------->
<div class="modal modal-style-1 popup-full-width fade" style="z-index:99999;overflow: auto;" data-keyboard="false"
    data-backdrop="static" #formModal>
    <app-strategy-profile-modal *ngIf="strategyProfileObject.type" [source]="strategyProfileObject">
    </app-strategy-profile-modal>
</div>