<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/mock-drill']"><a>{{'mock_drill' |
                    translate}}</a></li>
            <li class="breadcrumb-item active">{{'mock_drill_status' | translate}}</li>
        </ol>
    </nav>
    <!-- Nav tabs -->
    <table class="table-master table"
        *ngIf="MockDrillStatusMasterStore?.loaded && MockDrillStatusMasterStore.allItems.length > 0">
        <tr>
            <th style="width: 8%; text-align: center;">{{'sl' | translate}}</th>
            <th (click)="sortTitle('mock_drill_status.title')" class="border-top-0 issue-list-org-tab-three pointer"
                style="width: 82%;"><span>{{'title' |
                    translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="MockDrillStatusMasterStore.orderItem=='mock_drill_status.title'"
                    class="sort-down-pics pl-2" [attr.src]="MockDrillStatusMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : MockDrillStatusMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>
            <th style="width: 10%">{{'status' | translate}}</th>
        </tr>
        <ng-container *mobxAutorun>
            <tr class="edit-and-delete-main"
                *ngFor="let row of MockDrillStatusMasterStore.allItems | paginate: {currentPage:MockDrillStatusMasterStore?.currentPage, itemsPerPage:MockDrillStatusMasterStore?.itemsPerPage,totalItems:MockDrillStatusMasterStore?.totalItems}; let num = index">
                <td style="text-align: center;">
                    {{(MockDrillStatusMasterStore?.currentPage - 1) * MockDrillStatusMasterStore?.itemsPerPage + (num +
                    1)}}
                </td>
                <td><a>{{row.mock_drill_status_language_title}}</a>
                </td>
                <td style="padding:0.75rem;">
                    <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                    <!-- <div class="edit-option-show">
                        <a *ngIf="row.status_id == AppStore.inActiveStatusId && AuthStore.getActivityPermission(1100,'ACTIVATE_MOCK_DRILL_STATUS')"
                            (click)="activate(row.id)" [attr.title]="'activate' | translate"><i
                                class="fas fa-check pointer"></i></a>
                        <a *ngIf="row.status_id == AppStore.activeStatusId && AuthStore.getActivityPermission(1100,'DEACTIVATE_MOCK_DRILL_STATUS')"
                            (click)="deactivate(row.id)" [attr.title]="'deactivate' | translate"><i
                                class="fas fa-ban pointer"></i></a>
                    </div> -->
                </td>
            </tr>
        </ng-container>
    </table>

    <p class="float-right" *ngIf="MockDrillStatusMasterStore?.loaded && MockDrillStatusMasterStore.totalItems > 0">
        <b>{{'total_Items' | translate}}:{{MockDrillStatusMasterStore?.totalItems}}</b>
    </p>

    <ng-container *mobxAutorun>
        <div *ngIf="!MockDrillStatusMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data
            *ngIf="MockDrillStatusMasterStore.allItems.length == 0 && MockDrillStatusMasterStore.loaded == true">
        </app-no-data>
    </ng-container>

    <div class="col-sm-12" *ngIf="MockDrillStatusMasterStore.totalItems>MockDrillStatusMasterStore.itemsPerPage">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate"
                    (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
        </ul>
    </div>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>