<!-- <nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
  <app-breadcrumb-menu></app-breadcrumb-menu>
  <app-sub-menu></app-sub-menu>

</nav> -->
  <div *mobxAutorun>
    <div class="row user-main-sec" *ngIf="AssessmentsStore.individual_assessment_loaded">
      <div class="col-xl-3 col-lg-4 col-md-12 user-side-bar user-side-left work-flow-details-sec-left"
        style="z-index: 100;" #userSideBar>
        <div class="organization-profile-sidebar p-3">
          <div class="relative">
            <a class="curve-toggle curv-2" (click)="collapseSide()" #curveToggle></a>

            <!-- <div class="thump-pic-box-top"> -->
            <h5 class="cmn-head-style mb-1">
              #{{AssessmentsStore.individualAssessmentDetails.reference_code?AssessmentsStore.individualAssessmentDetails.reference_code:'#XXXX'}}<span
                class="draft-tag label-tag-style-tag label-left-arow-tag d-inline-block status-tag-new-one ml-3">
                {{AssessmentsStore.individualAssessmentDetails.business_assessment_status?.language[0]?.pivot?.title}}</span></h5>
            <!-- </div> -->
            <h5 class="cmn-head-style mb-2">{{AssessmentsStore.individualAssessmentDetails.title}}</h5>
            <div
              *ngIf="!AssessmentsStore.view_more &&AssessmentsStore.individualAssessmentDetails?.description?.length > 0 ">

              <div
                *ngIf="!AssessmentsStore.view_more &&AssessmentsStore.individualAssessmentDetails?.description?.length > 0"
                class="text-editor-content bullet-point-list mb-1"
                [innerHTML]="AssessmentsStore.individualAssessmentDetails.description?.length > 150?AssessmentsStore.individualAssessmentDetails.description?.substring(0,150)+'...':AssessmentsStore.individualAssessmentDetails.description">
              </div>

              <a *ngIf="AssessmentsStore.individualAssessmentDetails.description?.length > 150"
                (click)="viewMore('more')"
                class="view-more-pestel-box pointer view-more-doted">{{'view_more'|translate}}
              </a>

            </div>

            <div *ngIf="AssessmentsStore.individualAssessmentDetails?.description?.length==0">
              {{AppStore.noContentText}}
            </div>
            
            <div *ngIf="AssessmentsStore.view_more">

              <div class="text-editor-content bullet-point-list"
                [innerHTML]="AssessmentsStore.individualAssessmentDetails.description | safeHtml"></div>

              <a *ngIf="AssessmentsStore.individualAssessmentDetails.description.length > 150"
                (click)="viewMore('less')"
                class="view-more-pestel-box pointer view-more-doted">...{{'view_less'|translate}}</a>
            </div>

            <!-- <div class="d-flex align-items-center thump-pic-box pointer"
              *ngIf="AssessmentsStore.individualAssessmentDetails.document_version!=null">
              <div class="upload-pics-thump edit-option">
                <div class="edit-option-show-inner" style="margin: 18px -51px 0 0;">
                  <a><i class="fas fa-download"
                      (click)="downloadFileView()"></i></a>
                </div>
                <img
                  [attr.src]="AssessmentsStore.individualAssessmentDetails?.document_version?.token?createImageUrl(AssessmentsStore.individualAssessmentDetails.document_version.token,'document-version'):getDefaultImage('no-preview')"
                  (click)="viewDocument('document-version',AssessmentsStore.individualAssessmentDetails.document_version)"
                  class="img-fluid">
              </div>


              <div class="browse-form-name clearfix">
                <div class="float-left">
                  <h6
                    [attr.title]="AssessmentsStore.individualAssessmentDetails.document_version.title.length > 10 ? AssessmentsStore.individualAssessmentDetails.document_version.title:''">
                    {{AssessmentsStore.individualAssessmentDetails.document_version.title.length > 20 ?
                    AssessmentsStore.individualAssessmentDetails.document_version.title.substring(0,20)+' ...':
                    AssessmentsStore.individualAssessmentDetails.document_version.title}}</h6>
                  <span>{{AssessmentsStore.individualAssessmentDetails.document_version.size/1048576 |
                    number:'0.2-2'}}MB</span>
                </div>
                <div class="browse-logo" *ngIf="AssessmentsStore.individualAssessmentDetails.document_version!=null">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('excel') != -1"
                    src="/assets/images/md-xl.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('image') != -1"
                    src="/assets/images/md-jpg.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('doc') != -1"
                    src="/assets/images/md-doc.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('pdf') != -1"
                    src="/assets/images/md-pdf.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('video') != -1"
                    src="/assets/images/md-video.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('audio') != -1"
                    src="/assets/images/md-audio.png">
                  <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('ppt') != -1"
                    src="/assets/images/md-ppt.png">
                </div>
              </div>
            </div> -->


            <div class="thumb-pics-bg thumb-pics-col-1 thumb-pics-fix-text clearfix"
            style="padding-top: 0"
            *ngIf="AssessmentsStore.individualAssessmentDetails.document_version!=null">
            <div class="thumb-pics">
                <!-- System Files Starts Here -->
                <div class="upload-pics edit-option">
                  <img
                  [attr.src]="AssessmentsStore.individualAssessmentDetails?.document_version?.token?createImageUrl(AssessmentsStore.individualAssessmentDetails.document_version.token,'document-version'):getDefaultImage('no-preview')"
                  (click)="viewDocument('document-version',AssessmentsStore.individualAssessmentDetails.document_version)"
                  class="img-fluid browse-form-pic">
                    <!-- <div class="browse-form-pic"
                        [ngStyle]="{'background': 'url('+createImageUrl('corrective-action',docs.token)+') no-repeat'}"
                        (click)="viewDocument('document-version',AssessmentsStore.individualAssessmentDetails.document_version)">
                    </div> -->
                    <div class="browse-form-name clearfix">
                        <div class="float-left">
                          <h6 *ngIf = "AssessmentsStore.individualAssessmentDetails.document_version.title"
                          [attr.title]="AssessmentsStore.individualAssessmentDetails.document_version.title.length > 10 ? AssessmentsStore.individualAssessmentDetails.document_version.title:''">
                          {{AssessmentsStore.individualAssessmentDetails.document_version.title.length > 20 ?
                          AssessmentsStore.individualAssessmentDetails.document_version.title.substring(0,20)+' ...':
                          AssessmentsStore.individualAssessmentDetails.document_version.title}}</h6>
                        <span>{{AssessmentsStore.individualAssessmentDetails.document_version.size/1048576 |
                          number:'0.2-2'}}MB</span>
                              
                        </div>
                        <div class="browse-logo" *ngIf="AssessmentsStore.individualAssessmentDetails.document_version!=null">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('excel') != -1"
                            src="/assets/images/md-xl.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('image') != -1"
                            src="/assets/images/md-jpg.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('doc') != -1"
                            src="/assets/images/md-doc.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('pdf') != -1"
                            src="/assets/images/md-pdf.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('video') != -1"
                            src="/assets/images/md-video.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('audio') != -1"
                            src="/assets/images/md-audio.png">
                          <img class="img-fluid" style="width: 30px; height:32px;" *ngIf="checkExtension('ppt') != -1"
                            src="/assets/images/md-ppt.png">
                        </div>
                        <!-- <div class="browse-logo">
                            <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                class="folder-picher"
                                src="/assets/images/jpg-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                class="folder-picher"
                                src="/assets/images/word-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                class="folder-picher"
                                src="/assets/images/pdf-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                class="folder-picher"
                                src="/assets/images/excel-icone.png">
                            <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                class="folder-picher"
                                src="/assets/images/md-video.png">
                            <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                class="folder-picher"
                                src="/assets/images/md-audio.png">
                            <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                class="folder-picher"
                                src="/assets/images/md-ppt.png">
                        </div> -->
                    </div>
                    <div class="edit-option-show-inner" style="margin: 0 -9px 0 0;">
                        <a><i class="fas fa-download"
                          (click)="downloadFileView()"></i></a>
                    </div>
                </div>
               
            </div>
        </div>

            <!-- <h5 class="pt-2">{{AssessmentsStore.individualAssessmentDetails.title}}</h5> -->

            <!-- <div
              *ngIf="!AssessmentsStore.view_more &&AssessmentsStore.individualAssessmentDetails?.description?.length > 0 ">

              <div
                *ngIf="!AssessmentsStore.view_more &&AssessmentsStore.individualAssessmentDetails?.description?.length > 0"
                class="text-editor-content bullet-point-list"
                [innerHTML]="AssessmentsStore.individualAssessmentDetails.description?.length > 150?AssessmentsStore.individualAssessmentDetails.description?.substring(0,150)+'...':AssessmentsStore.individualAssessmentDetails.description">
              </div>

              <a *ngIf="AssessmentsStore.individualAssessmentDetails.description?.length > 150"
                (click)="viewMore('more')" class="view-more-pestel-box pointer view-more-doted">{{'view_more'|translate}}
                </a>
            </div>

          
            <div *ngIf="AssessmentsStore.view_more">

              <div class="text-editor-content bullet-point-list"
                [innerHTML]="AssessmentsStore.individualAssessmentDetails.description"></div>

              <a *ngIf="AssessmentsStore.individualAssessmentDetails.description.length > 150"
                (click)="viewMore('less')" class="view-more-pestel-box pointer view-more-doted">...{{'view_less'|translate}}</a>
            </div> -->
            
            <div class="mb-2 mt-3">
              <h6 *ngIf="AssessmentsStore.individualAssessmentDetails.ms_type_organizations.length>0">
                {{'ms_types'|translate}}</h6>
              <p *ngFor="let type of AssessmentsStore.individualAssessmentDetails.ms_type_organizations">
                {{type.ms_type.title}} <small>V.{{type.ms_type_version.title}}</small>
              </p>
            </div>


            <h6>{{'subsidiaries'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.organizations.length>0?getArrayFormatedString('title',AssessmentsStore.individualAssessmentDetails.organizations):AppStore.noContentText}}
            </p>

            <h6>{{'divisions'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.divisions.length>0?getArrayFormatedString('title',AssessmentsStore.individualAssessmentDetails.divisions):AppStore.noContentText}}
            </p>

            <h6>{{'departments'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.departments.length>0?getArrayFormatedString('title',AssessmentsStore.individualAssessmentDetails.departments):AppStore.noContentText}}
            </p>

            <h6>{{'sections'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.sections.length>0?getArrayFormatedString('title',AssessmentsStore.individualAssessmentDetails.sections):AppStore.noContentText}}
            </p>

            <h6>{{'sub_sections'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.sub_sections.length>0?getArrayFormatedString('title',AssessmentsStore.individualAssessmentDetails.sub_sections):AppStore.noContentText}}
            </p>

            <h6>{{'framework'|translate}}</h6>
            <p>
              {{AssessmentsStore.individualAssessmentDetails.business_assessment_framework.title?AssessmentsStore.individualAssessmentDetails.business_assessment_framework.title:AppStore.noContentText}}
            </p>




            <div class="row">
              <div class="col-xl-12">
                <hr>
                <div class="d-flex flex-row user-list-sm">
                  <img
                    [attr.src]="AssessmentsStore.individualAssessmentDetails.created_by.image.token?createImageUrl(AssessmentsStore.individualAssessmentDetails.created_by.image.token):getDefaultImage('user-logo')"
                    width="40px" height="40px" class="rounded-circle rounde-hov" (mouseenter)="mouseHover($event)">

                  <div class="user-dtl-popup box-user-dtl-new" [ngStyle]="{display:hover?'block':'none'}"
                    (mouseleave)="mouseOut($event)" #popup>
                    <div class="user-dtl-popup-head">
                      <a href="users.html" class="close-user-popup"><i class="lni-close"></i></a>
                      <div class="user-detail-smol-dtl clearfix">
                        <img
                          [attr.src]="AssessmentsStore.individualAssessmentDetails.created_by.image.token?createImageUrl(AssessmentsStore.individualAssessmentDetails.created_by.image.token):getDefaultImage('user-logo')"
                          class="rounded-circle user-pic-new">
                        <span class="online-user online"></span>
                        <div class="user-details">
                          <h6>{{AssessmentsStore.individualAssessmentDetails.created_by.first_name}}
                            {{AssessmentsStore.individualAssessmentDetails.created_by.last_name}}</h6>

                        </div>
                      </div>
                    </div>
                    <ul>
                      <li><a href="#"><i class="fas fa-user"></i>
                          {{AssessmentsStore.individualAssessmentDetails.created_by.designation}}</a></li>
                      <li *ngIf="AssessmentsStore.individualAssessmentDetails.created_by.mobile!=null"><a href="#"><i
                            class="fas fa-phone"></i>
                          {{AssessmentsStore.individualAssessmentDetails.created_by.mobile}}</a></li>
                      <li *ngIf="AssessmentsStore.individualAssessmentDetails.created_by.email!=null"><a href="#"><i
                            class="fas fa-envelope"></i>
                          {{AssessmentsStore.individualAssessmentDetails.created_by.email}}</a></li>
                    </ul>
                    <div class="btn-bg-popup">
                      <button type="button" data-toggle="modal" data-target="#signal-lost"
                        class="btn ordinary-btn mr-3 btn-active"
                        [attr.href]="'mailto:'+AssessmentsStore.individualAssessmentDetails.created_by.email">{{'send_email'|translate}}
                      </button>
                      <button type="button" data-toggle="modal" data-target="#signal-lost" class="btn ordinary-btn mr-3"
                        (click)="gotoUser(AssessmentsStore.individualAssessmentDetails.created_by.id)">{{'view_detail'|translate}}
                      </button>
                    </div>
                  </div>

                  <div>
                    <h6>{{AssessmentsStore.individualAssessmentDetails.created_by.first_name}}
                      {{AssessmentsStore.individualAssessmentDetails.created_by.last_name}}</h6>
                    <span>{{AssessmentsStore.individualAssessmentDetails.created_by.designation}} |
                      {{getTimezoneFormatted(AssessmentsStore.individualAssessmentDetails.created_at) | date:
                      OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}</span>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-12 user-right-details user-right-fill work-flow-details-sec-right"
        #userRightDetails>
        <div class="bg-white widg-padding-cmn d-flex align-items-center big-progress-bg mb-3 completed-questions-progress-main">
          <div class="overall-score text-center">
            <h3>{{AssessmentsStore.individualAssessmentDetails.score}}%<span></span></h3>
            <p class="bold">{{'overall_score'|translate}}</p>
          </div>
          <div class="big-progress completed-questions-progress">
            <div class="progress radius-30">
              <div class="progress-bar progress-bar-animation" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"
                [style.max-width.%]="(AssessmentsStore.individualAssessmentDetails.answered_checklist_count/AssessmentsStore.individualAssessmentDetails.total_checklist_count)*100">
              </div>
            </div>
            <span class="completed-questions-progress-label">You Have Completed
              {{AssessmentsStore.individualAssessmentDetails.answered_checklist_count}}/{{AssessmentsStore.individualAssessmentDetails.total_checklist_count}}
              Questions</span>
            <button type="button" class="btn float-right mt-2" style="margin-right: 0 !important;" (click)="confirmSubmit()"
            *ngIf="AssessmentsStore.individualAssessmentDetails.business_assessment_status.id==1">{{submitClicked?
            getButtonText('loading') : getButtonText('submit')}}</button>
          </div>

        </div>
        <p class="form-error pt-1" *ngIf="submitError">
          {{submitError}}
        </p>

        <div class="user-details-page m-0 accordion-multiple mb-4">
          <div class="user-settings access-settings">
            <div id="accordion">

              <div class="card access-main-card accordion-loop-inner"
                *ngFor="let doc of AssessmentsStore.individualAssessmentDetails.document_contents;let num=index">
                <div
                  [ngClass]="currentAssessment!=null && currentAssessment==doc.id?'card-header card-hov-effect':'card-header card-hov-effect bottom-space-accordion'"
                  (click)="getChecklist(doc.id,doc.document_version_content_id,num,doc.document_version_content.clause_number)">
                  <a [ngClass]="currentAssessment!=null && currentAssessment==doc.id?'card-link font-weight-bold full-line-click pl-0':'card-link font-weight-bold full-line-click pl-0 collapsed'"
                    data-toggle="collapse" [attr.href]="'#collapseOne'+num+'_'+doc.id" area-expanded="true">
                    {{doc.document_version_content?.clause_number}}. {{doc.document_version_content?.title}} <span
                      class="accordion-percentage-right bg-main score-bg-accordion text-light-blue" *ngIf="doc.score!=null && doc.is_checklist_applicable==1"><span
                        *ngIf="doc.is_completed==1" class="questions-attended-icon"><i style="color:#808080"
                          class="far fa-check-circle"></i></span>{{doc.score}}%</span>
                    <span class="accordion-percentage-right bg-main score-bg-accordion text-light-blue"><span *ngIf="doc.is_checklist_applicable!=1"
                        class="questions-attended-icon"><i class="fas fa-ban"></i></span>{{doc.score}}%</span>
                  </a>
                </div>
                <div [attr.id]="'collapseOne'+num+'_'+doc.id"
                  [ngClass]="currentAssessment!=null && currentAssessment==doc.id?'collapse show':'collapse'">
                  <div class="card-body pt-0 pb-2"> 
                    <p class="text-editor-content bullet-point-list" [innerHTML] = "doc.document_version_content.description| safeHtml"></p>
                  </div>
               
                  <div  *ngFor="let checklist of doc.checklist;let c=index">

                
                  <div class="card-body pt-0 pb-2">
                   
                    <div id="accordion-inner" class="sub-accordion">
                      <div class="card relative mb-0">
                        <div class="card-header bg-white">
                          <a [ngClass]="currentChecklist==checklist?.checklist?.id+'_'+doc.id?'card-link align-label-check-head full-line-click mgn-top-click':'card-link align-label-check-head full-line-click mgn-top-click collapsed'"
                            style="padding-left: 0px !important;" data-toggle="collapse"
                            (click)="setChecklistIndex(c,checklist)"
                            [attr.href]="'#company-col'+c+'_'+checklist?.checklist?.id">
                            ? {{c+1}}.{{checklist.checklist?.title}} <span class="accordion-percentage-right bg-main score-bg-accordion text-light-blue"
                              *ngIf="checklist.score!=null">{{checklist.score}}%</span>
                          </a>
                        </div>
                        <div [attr.id]="'company-col'+c+'_'+checklist.checklist?.id"
                          [ngClass]="currentChecklist==checklist.checklist?.id+'_'+doc.id?'collapse show':'collapse'"
                          data-parent="#accordion-inner">
                          <div class="card-body bg-white">
                            <h6>{{'answers'|translate}}<sup class="form-error pt-1">*</sup></h6>
                            <div class="d-flex align-items-center bg-light mb-3 widg-padding-cmn-small">
                              <div class="box-cnt-one w-100">
                                <button type="button" class="pointer"
                                  [ngClass]="checklist.business_assessment_framework_option?.id && checklist.business_assessment_framework_option.id==framework.id?'btn btn-small btn-active':'btn btn-small'"
                                  *ngFor="let framework of checklist.business_assessment?.business_assessment_framework?.business_assessment_framework_options;let f=index"
                                  (click)="setFramework(framework,num,c)">{{framework.title}}</button>
                                <p class="form-error pt-1"
                                  *ngIf="formErrors&&formErrors.business_assessment_framework_option_id">
                                  {{formErrors.business_assessment_framework_option_id}}
                                </p>

                              </div>
                              <div class="score-right-accodion text-center" style="width: 80px;" *ngIf="checklist?.score!=null">
                                <h4>{{'score'|translate}} : {{checklist?.business_assessment_framework_option?.score!=null?checklist?.business_assessment_framework_option?.score:checklist.score}}</h4>
                                <div class="progress progress-10">
                                   <div class="progress-bar progress-bar-animation" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="max-width: 30%"></div>
                                 </div>
                              </div>
                              <div class="score-right-accodion text-center" style="width: 80px;" *ngIf="checklist.score==null">
                                <h4>{{'score'|translate}} : {{checklist?.business_assessment_framework_option?.score?checklist?.business_assessment_framework_option?.score:0}}</h4>
                                <div class="progress progress-10">
                                   <div class="progress-bar progress-bar-animation" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="max-width: 30%"></div>
                                 </div>
                              </div>
                              <!-- <div class="score-right-accodion" *ngIf="checklist?.score!=null">
                                <h4>{{'score'|translate}} :
                                  {{checklist?.business_assessment_framework_option?.score!=null?checklist?.business_assessment_framework_option?.score:checklist.score}}
                                </h4>
                              </div>
                              <div class="score-right-accodion" *ngIf="checklist.score==null">
                                <h4>{{'score'|translate}} :
                                  {{checklist?.business_assessment_framework_option?.score?checklist?.business_assessment_framework_option?.score:0}}
                                </h4>
                              </div> -->
                            </div>

                            <h6 class="mt-2">{{'support_files'|translate}}</h6>

                            <div class="scroll-documents" #uploadArea>
                              <div class="thumb-pics-bg thumb-pics-col-3 clearfix thumb-pics-fix-text" style="padding-top: 0;">
                                <div class="thumb-pics">
                                  <div class="question-circle-inp" style="margin-right: 7px;">
                                    <i class="far fa-question-circle"></i>
                                    <div class="message-password-inp">
                                      <p class="mb-0">{{'allowed_file_types' | translate}}
                                        {{OrganizationGeneralSettingsStore.organizationSettings?.support_file_allowed_types.toString()}}
                                      </p>
                                    </div>
                                  </div>
                  
                                  <div class="form-group form-group-upload">
                                    <div class="darag-dropifile-upload">
                                      <div class="d-flex justify-content-center align-items-center text-center">
                                        <div>
                                          <img src="/assets/images/drag-pic.png" alt="image" class="drag-pic-files">
                                          <div class="drag-file-name"> Select or Upload Your File Here </div>
                                          <div class="upload-btn-wrapper">
                                            <button (click)="openFileUploadModal(checklist.id)" type="button" class="btn">{{'browse_files' |
                                              translate}}</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                  
                                <div [ngClass]="docs.is_deleted?'thumb-pics image_deleted':docs.verificationId == checklist.id?'thumb-pics':''" *ngFor="let docs of fileUploadPopupStore.displayFiles ;let i = index">
                                  <div class="upload-pics edit-option" data-toggle="modal" *ngIf="docs.verificationId == checklist.id">
                                    <div *ngIf="docs.id && !docs.preview" class="browse-form-pic"
                                      [ngStyle]="{'background': 'url('+createImageUrl(docs?.token,'document-version')+') no-repeat'}">
                                    </div>
                                    <div *ngIf="docs.preview" class="browse-form-pic"
                                      [ngStyle]="{'background': 'url(' + docs?.preview + ') no-repeat 0 0 / cover'}">
                                    </div>
                                    <div class="browse-form-name clearfix">
                                      <div class="float-left">
                                        <h6>
                                          {{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                        </h6>
                                        <span *ngIf="docs.is_kh_document" class="mr-2 cmn-clr"><i class="fas fa-book"></i></span>
                                        <span *ngIf="!docs.is_kh_document" class="mr-2 cmn-clr"><i class="fas fa-laptop"></i></span>
                                        <span>{{docs.size/1048576 | number:'0.2-2'}}MB</span>
                                      </div>
                                      <div class="browse-logo">
                                        <img *ngIf="checkExtension(docs.ext,'image') != -1" class="folder-picher"
                                          src="/assets/images/jpg-icone.png">
                                        <img *ngIf="checkExtension(docs.ext,'doc') != -1" class="folder-picher"
                                          src="/assets/images/word-icone.png">
                                        <img *ngIf="checkExtension(docs.ext,'pdf') != -1" class="folder-picher"
                                          src="/assets/images/pdf-icone.png">
                                        <img *ngIf="checkExtension(docs.ext,'excel') != -1" class="folder-picher"
                                          src="/assets/images/excel-icone.png">
                                        <img *ngIf="checkExtension(docs.ext,'video') != -1" class="folder-picher"
                                          src="/assets/images/md-video.png">
                                        <img *ngIf="checkExtension(docs.ext,'audio') != -1" class="folder-picher"
                                          src="/assets/images/md-audio.png">
                                        <img *ngIf="checkExtension(docs.ext,'ppt') != -1" class="folder-picher"
                                          src="/assets/images/md-ppt.png">
                                      </div>
                                    </div>
                                    <div class="edit-option-show">
                                      <a (click)="removeDocument(docs)"><i class="fas fa-trash"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <h6 class="mt-2">{{'comment'|translate}}</h6>
                            <div class="form-group">
                              <textarea class="form-control" rows="2" id="comment" [(ngModel)]="checklist.comment"
                                [placeholder]="'comment'|translate"></textarea>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.comment">
                                {{formErrors.comment}}
                              </p>
                            </div>

                            <h6 class="mt-2">{{'external_comments'|translate}}</h6>
                            <div class="form-group">
                              <textarea class="form-control" rows="2" id="external_comment" [(ngModel)]="checklist.external_comment"
                                [placeholder]="'comment'|translate"></textarea>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.external_comment">
                                {{formErrors.external_comment}}
                              </p>
                            </div>
                            <!-- <h6 class="mt-2">{{'action'|translate}}</h6>
                            <div class="form-group">
                              <textarea class="form-control" rows="2" id="action" [(ngModel)]="checklist.action"
                                [placeholder]="'comment'|translate"></textarea>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.action">
                                {{formErrors.action}}
                              </p>
                            </div> -->

                            <!-- Action Plan Add and Listing Starts -->
                            <div class="row">
                            
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <h6 class="mt-2">Action Plan <button type="button" data-toggle="modal" (click)="openActionPlanForm()"
                                      class="btn btn-small ml-2">Add</button></h6>
                            
                            
                                </div>
                              </div>
                            
                              <div class="col-md-12">
                            
                                <div class="panel-group panel-drop-sections panel-drop-white" id="jd" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-default" *ngFor="let action of checklist.actions;let num=index">
                                    <ng-container *ngIf="!action.is_deleted">
                                    <div  [ngClass]="action.accordionActive?'panel-heading active':'panel-heading'" (click)="setActiveAction(num)" role="tab" id="headingOne">
                                      <div class="panel-title">
                                        <a role="button" data-toggle="collapse"  [attr.href]="'#action'+'_'+num" aria-expanded="false" aria-controls="collapseOne"
                                          class="collapsed">
                                          <h5 class="width96pc mt-0">{{action.title}} <span class="drop-down-icone"><i
                                                class="fas fa-chevron-down"></i></span> </h5>
                                        </a>
                                      </div>
                                    </div>
                                    <div [attr.id]="'action'+'_'+num" class="drop-detail-sec panel-collapse collapse" role="tabpanel"
                                      aria-labelledby="headingOne">
                                      <div class="panel-body bg-white edit-and-delete-main">
                                        <div class="edit-option-show" style="margin: -18px 24px 0 0;">
                                          <!-- edit-and-delete starts -->
                                          <a  *ngIf="!action.is_new"(click)="editActionPlan(action)"><i class="fas fa-pen"></i></a>
                                          <a ><i class="fas fa-trash" (click)="deleteActionPlan(num)"></i></a>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">
                                            <p>{{action.description}}</p>
                                          </div>
                                          
                                          <div class="col-lg-4 col-sm-6">
                                            <div class="label-and-user-pic">
                                              <h6>Responsible User</h6>
                                              <div class="d-flex flex-row user-list-sm" *ngIf="action.responsible_users?.length>0">
                                                <app-user-popup-box
                                                    [source]=" getCreatedByPopupDetails(action.responsible_users[0])">
                                                </app-user-popup-box>
                                            </div>
                                            <div class="d-flex flex-row user-list-sm" *ngIf="action.display_user">
                                              <app-user-popup-box
                                                  [source]=" getCreatedByPopupDetails(action.display_user)">
                                              </app-user-popup-box>
                                          </div>
                                            <!-- <div class="d-flex flex-row user-list-sm" *ngIf="action.responsible_users">
                                              <app-user-popup-box
                                                  [source]=" getCreatedByPopupDetails(action.responsible_users)">
                                              </app-user-popup-box>
                                          </div> -->
                                              <!-- <div
                                                class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                <img src="images/round-7.png" class="rounded-circle rounde-hov details-show-popup" width="35px"
                                                  height="35px">
                            
                                                <div class="pointer new-size-text">
                                                  <h6>{{action.responsible_user.first_name}}</h6>
                                                  <span>{{action.responsible_user.designation_title}}</span>
                                                </div>
                                              </div> -->
                                            </div>
                                          </div>
                                        </div>
                            
                                        <div class="row">
                                          <div class="col-lg-4 col-sm-6">
                                            <h6>Start Date</h6>
                                            <p> {{action.start_date | date:
                                              OrganizationGeneralSettingsStore?.organizationSettings?.date_format}} </p>
                                            </div>
                                            
                                            <div class="col-lg-4 col-sm-6">
                                              <h6>Target Date</h6>
                                              <p> {{action.target_date | date:
                                                OrganizationGeneralSettingsStore?.organizationSettings?.date_format}} </p>
                                            
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                  </div>
                            
                                </div>
                              </div>
                            </div>
                             <!-- Action Plan Add and Listing Ends -->

                            <div class="row">
                              <div class="col-sm-12">
                                <div class="d-block justify-content-left border-0 mt-3">
                                  <button type="button" class="btn mr-3 btn-active pointer" *ngIf="AssessmentsStore.individualAssessmentDetails.business_assessment_status.type!='published' && AssessmentsStore.individualAssessmentDetails.business_assessment_status.type!='completed'"
                                    (click)="saveChecklist(checklist,num,c,doc)">{{ AppStore.loading ?
                                    getButtonText('loading') : getButtonText('save') }}</button>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div
                  *ngIf="!(doc.checklist) || !(doc.checklist.length>0) && AssessmentsStore.individual_assessment_loaded && AssessmentsStore.checklist_loaded"
                  [ngClass]="currentAssessment!=null && currentAssessment==doc.id?'collapse show':'collapse'">
                  <div class="card-body pt-0 pb-2">
                    <div id="accordion-inner" class="sub-accordion">


                      <!-- <app-no-data-list [source]="emptyAssessment" [border]="false"></app-no-data-list> -->

                    </div>
                  </div>
                </div>
                <app-checklist-child [childData]="doc?.child"
                  *ngIf="currentAssessment==doc.id && AssessmentsStore.getCheckData(doc?.child?doc?.child[0]?.clause_number:null)">
                </app-checklist-child>




              </div>
              <div>
                <app-no-data [border]="false"
                  *ngIf="AssessmentsStore.individual_assessment_loaded && AssessmentsStore.checklist_loaded && !(AssessmentsStore?.individualAssessmentDetails?.document_contents.length>0)">
                </app-no-data>
              </div>

            </div>


          </div>
        </div>
      
        <!-- <button class="btn btn-active" </button> -->

      </div>

    </div>
    <ng-container>
      <div *ngIf="!AssessmentsStore.individual_assessment_loaded">
          <app-assessment-detail-loader></app-assessment-detail-loader>
      </div>
  </ng-container>
  </div>

<div class="side-bar-round" (click)="unCollapseSide()" #sideBarRound>
  <figure class="w-100 d-block">
    <img width="100"
      [attr.src]="AuthStore.user?.image_token ? createImageUrl(AuthStore.user?.image_token) : getDefaultImage('user-logo')"
      class="d-block mx-auto img-fluid rounded-circle" onerror="this.src='/assets/images/user-demo2.png'">
  </figure>
</div>


<!-- preview component for image preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
  data-backdrop="static" #filePreviewModal *mobxAutorun>
  <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
      class="lni-close"></i><span>esc</span></button>
  <app-assessment-doc-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
  </app-assessment-doc-preview>
</div>
<!-- preview modal end -->

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
  <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>

<!------------------- Delete Confirmation Modal End --------------------------->

<!-- work-flow-popup Start -->
<div class="modal modal-style-1 popup-full-width fade" id="new-assessments-popup" data-keyboard="false"
  data-backdrop="static" #formModal>
  <app-assessment-modal *ngIf="assessmentObject.type" [source]="assessmentObject">

  </app-assessment-modal>
</div>
<!-- -------------------------------------------------------------- -->

<!-- * Documetn Attach/Upload Common Component Starts Here -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #fileUploadModal>
  <app-file-upload-popup *ngIf="fileUploadPopupStore.openPopup"></app-file-upload-popup>
</div>

<!-- Action plan form starts here -->

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #actionPlanModal>
  <app-assessment-action-plan-add [source]="actionPlanData" *ngIf="openActionPlanPopup"></app-assessment-action-plan-add>
</div>
<!-- Action plan form ends here -->