<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
     <div class="dropdown edit-dropdown d-lg-none drop-menu-left-head">
         <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle" data-toggle="dropdown">{{AppStore.pageTitle}}<i
               class="fas fa-chevron-circle-down ml-2"></i></a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
 
          <a class="dropdown-item" [routerLink]="['/internal-audit/anual-plan']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'by_auditor' | translate}}</a>
          <a class="dropdown-item" [routerLink]="['/internal-audit/anual-plan/by_department']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'by_department' | translate}} </a>

          <a class="dropdown-item" [routerLink]="['/internal-audit/anual-plan/by_year']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'by_year' | translate}} </a>
 
 
 
         </div>
      </div>
      <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      
       <li class="nav-item">
          <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/anual-plan']"
              routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">{{'by_auditor' | translate}}</a>
      </li>

      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/anual-plan/by_department']"
             routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">{{'by_department' | translate}} </a>
     </li>

     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/anual-plan/by_year']"
          routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">{{'by_year' | translate}}</a>
  </li>
     

      </ul>
 
     <app-sub-menu></app-sub-menu>
     <!-- <app-sub-menu-drop-down></app-sub-menu-drop-down> -->
 
 </nav>
 
 <main class="audit-program-details-page mt-3">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12 p-0">
            <app-annual-plan-by-department-and-year-loader *ngIf="ByYearsStore.loaded ==false && AuditPlanStore.loaded ==false"> 

            </app-annual-plan-by-department-and-year-loader>
              <div class="tab-content issuue-new-style p-0">
                <div class="tab-pane active tab-edit-class smoal-left-tab-page" id="assessment" *mobxAutorun>
                    <div class="widget" *ngIf="ByYearsStore.allItems.length > 0 && ByYearsStore.loaded ==true">
                        <div class="widget-body-light issuue-new-style p-0">

                            <div class="common-tab-md clearfix">
                                <div class="tab-common-left-md">
                                    <div class=" issues-tab">
                                        <!-- tab menu start -->
                                        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                                            <li class="nav-item" *ngFor="let year of ByYearsStore.allItems"> <a href=""
                                                    data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false"
                                                    [ngClass]="ByYearsStore.selectedItem == year.year ? 'nav-link active show':'nav-link'"
                                                    (click)="getAudit(year.year)">{{year.year}}<span>({{year.audit_plans}})</span></a>
                                            </li>

                                        </ul>
                                    </div><!-- tab menu end -->
                                </div>





                                <div class="tab-common-left-content-m">
                                    <div class="tab-content bg-white cmn-bdr p-3">
                                        <div class="tab-pane fade active show" id="review" role="tabpanel">

                                            <div class="row">

                                                <div class="col-sm-12 audit-program-box audit-page-table-main full-width-table">
                                                    <table class="table table-bordered ordinary-table table-hover issue-list-table-org mb-4"
                                                        *ngIf="AuditPlanStore?.loaded && AuditPlanStore.allItems.length > 0 && AuthStore.getActivityPermission(1600,'ANUAL_PLAN_BY_YEAR_LIST')">
                                                        <tr>
                                                            <th style="width: 5%; text-align: center;">{{'sl' | translate}}</th>
                                                            <th style="width: 8%;">
                                                                <span>{{'ref_no' | translate}}</span>

                                                            </th>
                                                            <th style="width: 13%;">
                                                                <span>{{'audit_program' | translate}}</span>


                                                            </th>

                                                            <th style="width: 20%;">
                                                                <span>{{'title' | translate}}</span>

                                                                </th>
                                                                <th>{{'audit_leader' | translate}}</th>
                                                                <th style="width: 12%;">

                                                                    <span>{{'start_date' | translate}}</span>


                                                                </th>
                                                                <th style="width: 12%;">
                                                                    <span> {{'end_date' | translate}}</span>



                                                                </th>

                                                                <th>{{'status' | translate}}</th>


                                                        </tr>
                                                        <ng-container *mobxAutorun>
                                                            <tr (click)="gotToAuditPlanDetails(row.id)"
                                                                *ngFor="let row of AuditPlanStore.allItems| paginate: {currentPage:AuditPlanStore.currentPage, itemsPerPage:AuditPlanStore.itemsPerPage,totalItems:AuditPlanStore.totalItems};let num=index "
                                                                class="cursor-pointer tr-action edit-and-delete-main">
                                                                <td style="text-align: center;" class="cursor-pointer">
                                                                    {{(AuditPlanStore.currentPage - 1) * AuditPlanStore.itemsPerPage + (num + 1)}}
                                                                </td>


                                                                <td class="cursor-pointer">
                                                                    #{{row.audit_plan_reference}}</td>
                                                                <td class="cursor-pointer" title="{{row.audit_program_title}}">
                                                                    {{row.audit_program_title.length > 20 ? row.audit_program_title.substring(0,20)+'
                                                                    ...' : row.audit_program_title}}
                                                                </td>
                                                                <td class="cursor-pointer" title="{{row.title}}">

                                                                    {{row.title.length > 20 ? row.title.substring(0,30)+' ...' : row.title}}
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex flex-row user-list-sm">
                                                                        <img *ngIf="row.audit_leader_image_token"
                                                                            [attr.src]="createImagePreview('user-profile-picture',row.audit_leader_image_token)"
                                                                            width="30px" height="30px" class="rounded-circle"
                                                                            onerror = "this.src='/assets/images/user-demo2.png'">
                                                                        <img *ngIf="!row.audit_leader_image_token"
                                                                            [attr.src]="getDefaultImage('user-logo')" width="30px" height="30px"
                                                                            class="rounded-circle"
                                                                            onerror = "this.src='/assets/images/user-demo2.png'">
                                                                        <div>
                                                                            <h6>{{row.audit_leader_first_name}}&nbsp;{{row.audit_leader_last_name}}
                                                                            </h6>
                                                                            <span _ngcontent-nws-c590=""
                                                                                wfd-id="801">{{row.audit_leader_designation}}</span>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="padding:0.75rem;">
                                                                    {{row.start_date | date:
                                                                    OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                                </td>

                                                                <td style="padding:0.75rem;">
                                                                    {{row.end_date | date:
                                                                    OrganizationGeneralSettingsStore.organizationSettings?.date_format}}

                                                                </td>

                                                                <td *ngIf="row.audit_plan_status_id == 1" class="dot-div red-dot">{{row.audit_plan_status_language_title}}</td>
                                                                <td *ngIf="row.audit_plan_status_id == 2" class="dot-div green-dot">{{row.audit_plan_status_language_title}}</td>
                                                                <td *ngIf="row.audit_plan_status_id == 3" class="dot-div orange-dot">{{row.audit_plan_status_language_title}}</td>
                                                            </tr>
                                                        </ng-container>
                                                    </table>

                                                    <ng-container *mobxAutorun>
                                                        <div *ngIf="!AuditPlanStore.loaded">
                                                            <app-auditable-item-loader></app-auditable-item-loader>
                                                        </div>

                                                        <app-no-data-list [source] = "yearEmptyList" *ngIf="AuditPlanStore.totalItems == 0 && AuditPlanStore.loaded == true">
                                                        </app-no-data-list>
                                                    </ng-container>


                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
     </div>

  </div>
</main>