


<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{'add_project_closure' | translate}}</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">

                <!-- <p class="head-details"></p> -->

                <form [formGroup]="form" *mobxAutorun>
                  <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                           <label>{{ "project" | translate }}<span class="form-error">*</span></label>
                           <div class="clearfix">
                              <div class="multiple-plain-ngselect">
                                 <ng-select 
                                 [placeholder]="'select_project' | translate" 
                                 [multiple]="false"
                                 [readonly] ="ProjectClosureStore.hideSubMenu"
                                 formControlName="project_id"
                                 (open)="getProjectList()" 
                                 (search)="searchProject($event)"
                                 (change)="changeProject($event)"
                                 bindLabel="title"
                                 >
                                 <ng-option [value]="item.id" *ngFor="let item of ProjectMonitoringStore.allItems">
                                     {{item.title}}
                                 </ng-option>
                             
                             </ng-select>
                             <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.project_id"> {{formErrors.project_id}} 
                             </p>
                              </div>
                           </div>
                        </div>
                        <div class="cmn-bdr mt-2 p-3 mb-3" *ngIf="ProjectMonitoringStore.individualLoaded && showProjectDetails" >
                           <div class="issue-top-sec">
                             <div class="clearfix">
                                 <h5 class="d-inline-block cmn-head-style label-tag-style"><span class="issue-smoal-head-text">#{{ProjectMonitoringStore.individualDetails?.reference_code }}</span>{{ProjectMonitoringStore.individualDetails?.title }}<span [ngClass]="'dot-div '+ProjectMonitoringStore.individualDetails?.project_monitoring_status?.label+'-dot'" style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;">
                                    {{ProjectMonitoringStore.individualDetails?.project_monitoring_status?.language[0]?.pivot?.title}}</span></h5>
                             </div>
                             <div class="clearfix">
                                 <p class="label-tag-style mb-2"><i class="fas fa-calendar-alt date-pics-two"></i>{{ProjectMonitoringStore.individualDetails?.start_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}} To {{ProjectMonitoringStore.individualDetails?.target_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</p>
                             </div>
                             <p class="mb-0" style="white-space: pre-wrap;">{{ProjectMonitoringStore.individualDetails?.description ? ProjectMonitoringStore.individualDetails?.description : AppStore.noContentText }}</p>
                         </div>
                         </div>
                    </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{'budget' | translate}}<span class="form-error">*</span></label>
                        <textarea class="form-control" rows="2" formControlName = "budget"
                        placeholder="{{'pm_closure_form_budget_placeholder' | translate}}"></textarea>  
                        <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.budget"> {{formErrors.budget}} 
                        </p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                        <label>{{'project_schedule' | translate}}<span class="form-error">*</span></label>
                        <textarea class="form-control" rows="2" formControlName = "project_schedule"
                        placeholder="{{'pm_closure_form_project_shedule_placeholder' | translate}}"></textarea>
                        <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.project_schedule"> {{formErrors.project_schedule}} 
                        </p>
                          </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="form-group">
                        <label>{{'project_output_quality' | translate}}<span class="form-error">*</span></label>
                        <textarea class="form-control" rows="2" formControlName = "project_output_quality"
                        placeholder="{{'pm_closure_form_project_quality_placeholder' | translate}}"></textarea>
                        <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.project_output_quality"> {{formErrors.project_output_quality}} 
                        </p>
                          </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="form-group">
                        <label>{{'scope_of_work' | translate}}<span class="form-error">*</span></label>
                        <textarea class="form-control" rows="2" formControlName = "scope_of_work"
                        placeholder="{{'pm_closure_form_scope_work_placeholder' | translate}}"></textarea>
                        <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.scope_of_work"> {{formErrors.scope_of_work}} 
                        </p>
                          </div>
                      </div>
                     <!-- <div class="col-sm-12">
                        <div class="form-group">
                           <label>{{ "project_closure_status" | translate }}<span class="form-error">*</span></label>
                           <div class="clearfix">
                              <div class="multiple-plain-ngselect">
                                 <ng-select 
                                 [placeholder]="'select_project_closure_status' | translate" 
                                 [multiple]="false"
                                 formControlName="project_monitor_closure_status_id"
                                 (open)="getProjectClosureStatus()" 
                                 (search)="searchProjectClosureStatus($event)"
                                 bindLabel="title"
                                 >
                                 <ng-option [value]="item.id" *ngFor="let item of ProjectClosureStatusMasterStore?.allItems">
                                     {{item.project_monitor_closure_status_language_title}}
                                 </ng-option>
                             
                             </ng-select>
                             <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.project_monitor_closure_status_id"> {{formErrors.project_monitor_closure_status_id}} 
                             </p>
                              </div>
                           </div>
                        </div>
                    </div>  -->

                    <div class="col-lg-12 col-sm-12">
                      <div class="form-group add-kpi-textarea">
                        <label for="name">{{'pm_lesson_learned' | translate }}<span class="form-error">*</span></label>
                        <div class="d-flex popup-select-two"> <input type="text" class="form-control w-100"
                                [placeholder]="'pm_lesson_learned_placeholder' | translate" formControlName="lesson_learned_titles">
                            <button class="btn multi-add-user ml-2" (click)="addLessonLearned()" style="width: 42px;"
                                [disabled]="!form.value.lesson_learned_titles"><i class="fas fa-plus"></i></button>
                        </div>
      
                        <ul class="arrowlist pl-0 mt-2" *ngIf="ProjectClosureStatusMasterStore.lessonLearnedList?.length>0">
      
                            <li class="clearfix" *ngFor="let item of ProjectClosureStatusMasterStore.lessonLearnedList;let j=index">{{item.title}}
                                <Button type="button" (click) = "removeLessonLearned(j)" class="btn btn-small float-right btn-small-delete" style="border: none;"><i class="fas fa-trash"></i></Button>
                            </li>
      
                        </ul>
                        <p class="form-error pt-1" *ngIf="formErrors && formErrors.lesson_learned_titles">
                            {{formErrors.lesson_learned_titles}}
                        </p>
                    </div>
                  </div>
                  </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-block justify-content-left border-0 mt-3">
                                <button type="submit" class="btn btn-active" (click)="save()"
                                    [disabled]="form.invalid || AppStore.loading">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                    class="btn" (click)="save(true)"
                                    [disabled]="form.invalid || AppStore.loading">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                                <button type="button" data-toggle="modal" data-target="#error-message"
                                    class="btn"
                                    (click)="cancel()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
        </div>
    </div>





