<main class="mt-3">
    <div class="container-fluid">
        <div class="widget">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="bg-white widg-padding-cmn">
                        <div class="min-height-64">

                            <div class="loder-section mb-1">
                                <!-- loder head&text starts -->
                                <div class="loder-section-inner">
                                    <div class="ph-item pl-0">
                                        <div class="ph-col-12 pr-0">
                                            <div class="ph-row mb-1">

                                                <div class="ph-col-4 big" style="height: 22px;"></div>
                                                <div class="ph-col-1 big ml-3" style="height: 22px;"></div>

                                            </div>
                                            <div class="ph-row">
                                                <div class="ph-col-3 big mr-3" style="height: 15px;"></div>
                                                <div class="ph-col-3 big" style="height: 15px;"></div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-8 big mb-2"></div>
                                                        <div class="ph-col-4 big mb-2 empty"></div>

                                                        <div class="ph-col-2"></div>
                                                        <div class="ph-col-10 empty"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-6 big mb-2"></div>
                                                        <div class="ph-col-6 big mb-2 empty"></div>

                                                        <div class="ph-col-2"></div>
                                                        <div class="ph-col-10 empty"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-6 big mb-0"></div>
                                                        <div class="ph-col-6 big mb-0 empty"></div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ph-item">

                                                <div class="ph-col-1 pr-0 pt-1">

                                                    <div class="p-0 mr-2 mb-2 user-pic-round rounded-circle"
                                                        style="width: 40px; height: 40px;"></div>
                                                </div>
                                                <div>
                                                    <div class="ph-row pt-2 mb-0">

                                                        <div class="ph-col-10 md"></div>
                                                        <div class="ph-col-2 md empty"></div>
                                                        <div class="ph-col-4 mb-0"></div>
                                                        <div class="ph-col-8 empty mb-0"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-6 big mb-0"></div>
                                                        <div class="ph-col-6 big mb-0 empty"></div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ph-item">

                                                <div class="ph-col-1 pr-0 pt-1">

                                                    <div class="p-0 mr-2 mb-2 user-pic-round rounded-circle"
                                                        style="width: 40px; height: 40px;"></div>
                                                </div>
                                                <div>
                                                    <div class="ph-row pt-2 mb-0">

                                                        <div class="ph-col-10 md"></div>
                                                        <div class="ph-col-2 md empty"></div>
                                                        <div class="ph-col-4 mb-0"></div>
                                                        <div class="ph-col-8 empty mb-0"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-2 big mb-2"></div>
                                                        <div class="ph-col-10 big mb-2 empty"></div>

                                                        <div class="ph-col-12"></div>
                                                        <div class="ph-col-8"></div>
                                                        <div class="ph-col-4 empty"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-3 big mb-2"></div>
                                                        <div class="ph-col-1 big mb-2 empty"></div>
                                                        <div class="ph-col-8 big mb-2 empty"></div>

                                                        <div class="ph-col-12"></div>
                                                        <div class="ph-col-6"></div>
                                                        <div class="ph-col-6 empty"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="loder-section mb-3">
                                        <!-- loder head&text starts -->
                                        <div class="loder-section-inner">
                                            <div class="ph-item pl-0">
                                                <div class="ph-col-12 pr-0">
                                                    <div class="ph-row">

                                                        <div class="ph-col-2 big mb-2"></div>
                                                        <div class="ph-col-10 big mb-2 empty"></div>

                                                        <div class="ph-col-12"></div>
                                                        <div class="ph-col-6"></div>
                                                        <div class="ph-col-1"></div>
                                                        <div class="ph-col-1 empty"></div>
                                                        <div class="ph-col-4 empty"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="common-tab-md clearfix bg-body-color-menu mb-3">
                                        <div class="tab-common-left-md">

                                            <div
                                                class="loder-section user-profile-sec cmn-bdr border-right-none mbl-border-right-show active">
                                                <!-- loder head&text starts -->
                                                <div class="loder-section-inner">
                                                    <div class="ph-item pl-3 pt-3 pr-3 pb-1">
                                                        <div class="ph-col-12">
                                                            <div class="ph-row mb-0">

                                                                <div class="ph-col-10 md"></div>
                                                                <div class="ph-col-2 md empty"></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- loder head&text end -->

                                            <div
                                                class="loder-section user-profile-sec cmn-bdr border-top-none mbl-border-right-show">
                                                <!-- loder head&text starts -->
                                                <div class="loder-section-inner">
                                                    <div class="ph-item pl-3 pt-3 pr-3 pb-1">
                                                        <div class="ph-col-12">
                                                            <div class="ph-row mb-0">

                                                                <div class="ph-col-8 md"></div>
                                                                <div class="ph-col-4 md empty"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- loder head&text end -->


                                            <div
                                                class="loder-section user-profile-sec cmn-bdr border-top-none mbl-border-right-show">
                                                <!-- loder head&text starts -->
                                                <div class="loder-section-inner">
                                                    <div class="ph-item pl-3 pt-3 pr-3 pb-1">
                                                        <div class="ph-col-12">
                                                            <div class="ph-row mb-0">

                                                                <div class="ph-col-8 md"></div>
                                                                <div class="ph-col-1 md"></div>
                                                                <div class="ph-col-2 empty md"></div>
                                                                <div class="ph-col-1 empty md"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- loder head&text end -->

                                            <div
                                                class="loder-section user-profile-sec cmn-bdr border-top-none mbl-border-right-show">
                                                <!-- loder head&text starts -->
                                                <div class="loder-section-inner">
                                                    <div class="ph-item pl-3 pt-3 pr-3 pb-1">
                                                        <div class="ph-col-12">
                                                            <div class="ph-row mb-0">

                                                                <div class="ph-col-10 md"></div>
                                                                <div class="ph-col-2 md empty"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- loder head&text end -->

                                            <div
                                                class="loder-section user-profile-sec cmn-bdr border-top-none mbl-border-right-show">
                                                <!-- loder head&text starts -->
                                                <div class="loder-section-inner">
                                                    <div class="ph-item pl-3 pt-3 pr-3 pb-1">
                                                        <div class="ph-col-12">
                                                            <div class="ph-row mb-0">

                                                                <div class="ph-col-8 md"></div>
                                                                <div class="ph-col-4 md empty"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- loder head&text end -->



                                        </div>
                                        <div class="tab-common-left-content-m bg-white cmn-bdr widg-padding-cmn-small ml-minus-1"
                                            style="min-height: 250px;">

                                            <div class="loader-table loader-table-line mb-3">

                                                <table class="mb-1 bg-white">

                                                    <tr class="bg-white">
                                                        <th style="width: 5%;">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-0 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 big"></div>
                                                                                <div class="ph-col-10 big"></div>
                                                                                <div class="ph-col-1 big"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </th>
                                                        <th style="width: 65%;">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-0 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 big"></div>
                                                                                <div class="ph-col-10 big"></div>
                                                                                <div class="ph-col-1 big"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </th>

                                                        <th style="width: 30%;">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-0 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 big empty"></div>
                                                                                <div class="ph-col-10 big"></div>
                                                                                <div class="ph-col-1 big empty"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </th>

                                                    </tr>
                                                    <tr class="bg-white">
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 empty"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-6"></div>
                                                                                <div class="ph-col-1 empty"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-12"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-4 empty"></div>
                                                                                <div class="ph-col-4"></div>
                                                                                <div class="ph-col-4 empty"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-white">
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 empty"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-6"></div>
                                                                                <div class="ph-col-1 empty"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-4"></div>
                                                                                <div class="ph-col-8 empty"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-4 empty"></div>
                                                                                <div class="ph-col-4"></div>
                                                                                <div class="ph-col-4 empty"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-white">
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">
                                                                                <div class="ph-col-1 empty"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-2"></div>
                                                                                <div class="ph-col-6"></div>
                                                                                <div class="ph-col-1 empty"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-6"></div>
                                                                                <div class="ph-col-6 empty"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                        <td class="bg-white">
                                                            <div class="loder-section user-profile-sec">
                                                                <!-- loder head&text starts -->
                                                                <div class="loder-section-inner">
                                                                    <div class="ph-item pb-2 pl-3 pr-3 pt-3">
                                                                        <div class="ph-col-12 pr-0">
                                                                            <div class="ph-row mb-0">

                                                                                <div class="ph-col-4 empty"></div>
                                                                                <div class="ph-col-4"></div>
                                                                                <div class="ph-col-4 empty"></div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- loder head&text end -->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr class="mb-2">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="loder-section-inner">
                                        <div class="ph-item pl-0">
                                            <div class="ph-col-1 pr-0 pt-1">

                                                <div class="p-0 mr-2 mb-0 user-pic-round rounded-circle"
                                                    style="width: 40px; height: 40px;"></div>
                                            </div>
                                            <div>
                                                <div class="ph-row pt-2 mb-0">
                                                    <div class="ph-col-6 md"></div>
                                                    <div class="ph-col-6 md empty"></div>
                                                    <div class="ph-col-10 mb-0"></div>
                                                    <div class="ph-col-2 empty mb-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>