<div class="tab-pane" id="branches" *ngIf="UserRoleStore.loaded && UserRoleStore.userRoleDetails.length>0 && AuthStore.getActivityPermission(200,'USER_ROLES_AND_RESPONSIBILITIES')">
    <div class="row">
        <div class="col-sm-12" *mobxAutorun>
            <!-- <div class="widget-body-light right-block user-box-adjut-screen" *mobxAutorun> -->
            <!-- <div class="row"> -->
            <!-- <div class="col-sm-12"> -->
            <div class="panel-group panel-drop-sections panel-drop-white" id="rr" role="tablist"
                aria-multiselectable="true">
                <div class="panel panel-default"
                    *ngFor="let row of UserRoleStore.userRoleDetails | paginate: {currentPage:UserRoleStore?.currentPage, itemsPerPage:UserRoleStore?.itemsPerPage,totalItems:UserRoleStore?.totalItems};let num = index">
                    <div class="pointer"
                        [ngClass]="row.is_accordion_active == true ? 'panel-heading active' : 'panel-heading'"
                        role="tab" id="headingOne">
                        <div class="panel-title">
                            <a role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne"
                                (click)="getUserRole(row.id,num)">
                                <h5 class="width96pc mt-0" [attr.title]="row.title.length>50?row.title:''">
                                    {{row.title.length>85?row.title.substring(0,85)+'...':row.title|titlecase}} <span
                                        class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                            </a>
                        </div>
                    </div>
                    <div [ngClass]="row.is_accordion_active == true ? 'drop-detail-sec panel-collapse collapse show' : 'drop-detail-sec panel-collapse collapse'"
                        role="tabpanel" aria-labelledby="headingOne" *ngIf="UserRoleStore?.individual_role_loaded">
                        <div class="panel-body bg-white edit-and-delete-main">

                            <div class="row" *ngIf="UserRoleStore?.individualRoleDetails?.description">
                                <div class="col-sm-12">
                                    <p>{{UserRoleStore?.individualRoleDetails?.description}}
                                    </p>

                                </div>
                            </div>

                            <div class="row mt-4 user-box-list-sec"
                                *ngIf="UserRoleStore?.individualRoleDetails?.accountable_user.length>0">
                                <div class="col-sm-12">
                                    <!-- <div class="headig-highlite">
                                                    <h6><span class="pulse-effect mr-2"><i class="fas fa-hand-holding-usd"></i></span>{{'accountable_user'|translate}}</h6>
                                                  </div> -->
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.accountable_user.length==1">{{'accountable_user'|translate}}</h6>
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.accountable_user.length>1">{{'accountable_users'|translate}}</h6>
                              
                                </div>


                                <div [ngClass]="accountable.id==UsersStore.user_id?'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse user-highlight':'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse'"
                                    *ngFor="let accountable of UserRoleStore?.individualRoleDetails?.accountable_user;let a=index">
                                    <!-- <div class="d-flex flex-row user-list-sm user-box-smol-round rounde-hov-bg pb-0">

                                        <img
                                            [attr.src]="accountable.image.token?createImageUrl('user-profile-picture',accountable.image.token):'/assets/images/user-demo2.png'"
                                            width="30px" height="30px" class="rounded-circle rounde-hov"
                                            (mouseenter)="mouseHover($event,a,'accountable')">

                                        <div *ngIf="a==activeIndex && activeType=='accountable'" class="user-dtl-popup"
                                            [ngStyle]="{display:hover?'block':'none'}" (mouseleave)="mouseOut($event)"
                                            #popup>
                                            <div class="user-dtl-popup-head">
                                                <a class="pointer" class="close-user-popup"></a>
                                                <div class="user-detail-smol-dtl clearfix">
                                                    <img [attr.src]="accountable.image.token?createImageUrl('user-profile-picture',accountable.image.token):'/assets/images/user-demo2.png'"
                                                        class="rounded-circle user-pic-new">

                                                    <span class="online-user online"></span>
                                                    <div class="user-details">
                                                        <h6>{{accountable.first_name}}
                                                            {{accountable.last_name}}</h6>
                                                        <span>{{accountable.designation}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><a href="#"><i class="fas fa-user"></i>
                                                        {{accountable.designation}}</a></li>
                                                <li><a href="#"><i class="fas fa-phone"></i>
                                                        {{accountable.mobile}}</a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                        {{accountable.email}}</a></li>
                                            </ul>
                                            <div class="btn-bg-popup">
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3 btn-active">Send Email</button>
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                            </div>
                                        </div>

                                        <div>
                                            <h6 [ngClass]="accountable.id==UsersStore.user_id?'blinking-text-blue':''">{{accountable.first_name}} {{accountable.last_name}}</h6>
                                            <span [ngClass]="accountable.id==UsersStore.user_id?'blinking-text-blue':''">{{accountable.designation}}</span>
                                        </div>
                                     
                                    </div> -->
                                    <app-user-popup-box [source]="getPopupDetails(accountable,row)"></app-user-popup-box>
                   
                                </div>

                                <!-- <div [ngClass]="accountable.id==UsersStore.user_id?'col-sm-6 col-lg-3 col-xl-3 animation-pulse user-highlight':'col-sm-6 col-lg-3 col-xl-3 animation-pulse'"
                                    *ngFor="let accountable of UserRoleStore?.individualRoleDetails?.accountable_user">
                                    <div class="d-flex flex-row user-list-sm">
                                        <img [attr.src]="accountable.image.token?createImageUrl('user-profile-picture',accountable.image.token):'/assets/images/user-demo2.png'"
                                            width="30px" height="30px" class="rounded-circle">
                                        <div>
                                            <h6>{{accountable.first_name}} {{accountable.last_name}}</h6>
                                            <span>{{accountable.designation}}</span>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                            <div class="row mt-3 user-box-list-sec"
                                *ngIf="UserRoleStore?.individualRoleDetails?.responsible_user.length>0">
                                <div class="col-sm-12">
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.responsible_user.length==1">{{'responsible_user'|translate}}</h6>
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.responsible_user.length>1">{{'responsible_users'|translate}}</h6>
                                </div>
                                <div [ngClass]="responsible.id==UsersStore.user_id?'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse user-highlight':'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse'"
                                    *ngFor="let responsible of UserRoleStore?.individualRoleDetails?.responsible_user;let r=index">
                                    <!-- <div class="d-flex flex-row user-list-sm user-box-smol-round rounde-hov-bg pb-0">

                                        <img
                                            [attr.src]="responsible.image.token?createImageUrl('user-profile-picture',responsible.image.token):'/assets/images/user-demo2.png'"
                                            width="30px" height="30px" class="rounded-circle rounde-hov"
                                            (mouseenter)="mouseHover($event,r,'responsible')">

                                        <div *ngIf="r==activeIndex && activeType=='responsible'" class="user-dtl-popup"
                                            [ngStyle]="{display:hover?'block':'none'}" (mouseleave)="mouseOut($event)"
                                            #popup>
                                            <div class="user-dtl-popup-head">
                                                <a class="pointer" class="close-user-popup"></a>
                                                <div class="user-detail-smol-dtl clearfix">
                                                    <img [attr.src]="responsible.image.token?createImageUrl('user-profile-picture',responsible.image.token):'/assets/images/user-demo2.png'"
                                                        class="rounded-circle user-pic-new">

                                                    <span class="online-user online"></span>
                                                    <div class="user-details">
                                                        <h6>{{responsible.first_name}}
                                                            {{responsible.last_name}}</h6>
                                                        <span>{{responsible.designation}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><a href="#"><i class="fas fa-user"></i>
                                                        {{responsible.designation}}</a></li>
                                                <li><a href="#"><i class="fas fa-phone"></i>
                                                        {{responsible.mobile}}</a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                        {{responsible.email}}</a></li>
                                            </ul>
                                            <div class="btn-bg-popup">
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3 btn-active">Send Email</button>
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                            </div>
                                        </div>

                                        <div>
                                            <h6>{{responsible.first_name}} {{responsible.last_name}}</h6>
                                            <span>{{responsible.designation}}</span>
                                        </div>
                                        
                                    </div> -->
                                    <app-user-popup-box [source]="getPopupDetails(responsible,row)"></app-user-popup-box>
                                </div>



                            </div>

                            <div class="row mt-2 user-box-list-sec"
                                *ngIf="UserRoleStore?.individualRoleDetails?.consulted_user.length>0">
                                <div class="col-sm-12">
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.consulted_user.length==1">{{'consulted_user'|translate}}</h6>
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.consulted_user.length>1">{{'consulted_users'|translate}}</h6>
                               
                                </div>
                                <div [ngClass]="consulted.id==UsersStore.user_id?'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse user-highlight':'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse'"
                                    *ngFor="let consulted of UserRoleStore?.individualRoleDetails?.consulted_user;let c=index">
                                    <!-- <div class="d-flex flex-row user-list-sm user-box-smol-round rounde-hov-bg pb-0">

                                        <img
                                            [attr.src]="consulted.image.token?createImageUrl('user-profile-picture',consulted.image.token):'/assets/images/user-demo2.png'"
                                            width="30px" height="30px" class="rounded-circle rounde-hov"
                                            (mouseenter)="mouseHover($event,c,'consulted')">

                                        <div *ngIf="c==activeIndex && activeType=='consulted'" class="user-dtl-popup"
                                            [ngStyle]="{display:hover?'block':'none'}" (mouseleave)="mouseOut($event)"
                                            #popup>
                                            <div class="user-dtl-popup-head">
                                                <a class="pointer" class="close-user-popup"></a>
                                                <div class="user-detail-smol-dtl clearfix">
                                                    <img [attr.src]="consulted.image.token?createImageUrl('user-profile-picture',consulted.image.token):'/assets/images/user-demo2.png'"
                                                        class="rounded-circle user-pic-new">

                                                    <span class="online-user online"></span>
                                                    <div class="user-details">
                                                        <h6>{{consulted.first_name}}
                                                            {{consulted.last_name}}</h6>
                                                        <span>{{consulted.designation}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><a href="#"><i class="fas fa-user"></i>
                                                        {{consulted.designation}}</a></li>
                                                <li><a href="#"><i class="fas fa-phone"></i>
                                                        {{consulted.mobile}}</a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                        {{consulted.email}}</a></li>
                                            </ul>
                                            <div class="btn-bg-popup">
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3 btn-active">Send Email</button>
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                            </div>
                                        </div>

                                        <div>
                                            <h6>{{consulted.first_name}} {{consulted.last_name}}</h6>
                                            <span>{{consulted.designation}}</span>
                                        </div>
                                        
                                    </div> -->
                                    <app-user-popup-box [source]="getPopupDetails(consulted,row)"></app-user-popup-box>
                                    
                                </div>

                            </div>
                            <div class="row mt-2 user-box-list-sec"
                                *ngIf="UserRoleStore?.individualRoleDetails?.informed_user.length>0">
                                <div class="col-sm-12">
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.informed_user.length==1">{{'informed_user'|translate}}</h6>
                                    <h6 class="head-highlight" *ngIf="UserRoleStore?.individualRoleDetails?.informed_user.length>1">{{'informed_users'|translate}}</h6>
                                </div>
                                <div [ngClass]="informed.id==UsersStore.user_id?'col-sm-6 col-lg-3 col-xl-3 pointer animation-pulse user-highlight':'col-sm-6 col-lg-3 col-xl-3 poniter animation-pulse'"
                                    *ngFor="let informed of UserRoleStore?.individualRoleDetails?.informed_user; let i= index">
                                    <app-user-popup-box [source]="getPopupDetails(informed,row)"></app-user-popup-box>
                                    <!-- <div class="d-flex flex-row user-list-sm user-box-smol-round rounde-hov-bg pb-0">

                                        <img
                                            [attr.src]="informed.image.token?createImageUrl('user-profile-picture',informed.image.token):'/assets/images/user-demo2.png'"
                                            width="30px" height="30px" class="rounded-circle rounde-hov"
                                            (mouseenter)="mouseHover($event,i,'informed')">

                                        <div *ngIf="i==activeIndex && activeType=='informed'" class="user-dtl-popup"
                                            [ngStyle]="{display:hover?'block':'none'}" (mouseleave)="mouseOut($event)"
                                            #popup>
                                            <div class="user-dtl-popup-head">
                                                <a class="pointer" class="close-user-popup"></a>
                                                <div class="user-detail-smol-dtl clearfix">
                                                    <img [attr.src]="informed.image.token?createImageUrl('user-profile-picture',informed.image.token):'/assets/images/user-demo2.png'"
                                                        class="rounded-circle user-pic-new">

                                                    <span class="online-user online"></span>
                                                    <div class="user-details">
                                                        <h6>{{informed.first_name}}
                                                            {{informed.last_name}}</h6>
                                                        <span>{{informed.designation}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><a href="#"><i class="fas fa-user"></i>
                                                        {{informed.designation}}</a></li>
                                                <li><a href="#"><i class="fas fa-phone"></i>
                                                        {{informed.mobile}}</a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                        {{informed.email}}</a></li>
                                            </ul>
                                            <div class="btn-bg-popup">
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3 btn-active">Send Email</button>
                                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                            </div>
                                        </div>

                                        <div>
                                            <h6>{{informed.first_name}} {{informed.last_name}}</h6>
                                            <span>{{informed.designation}}</span>
                                        </div>
                                        
                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <div class="col-sm-12" *ngIf="UserRoleStore?.userRoleDetails.length>UserRoleStore?.itemsPerPage">
                <pagination-controls [previousLabel]="'previous' | translate"  [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> 
            </div>
        </div>
    </div>
</div>
<ng-container *mobxAutorun>
    <app-no-data *ngIf="UserRoleStore.loaded && UserRoleStore.userRoleDetails.length==0"></app-no-data>
  </ng-container>
<div *ngIf="!UserRoleStore.loaded">
    <app-user-report-loader></app-user-report-loader>
</div>