 <div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
</nav>
<main class="mt-3 settings-page app-costomization-page user-details-page mb-4">
    <div class="container-fluid">
        <!-- first -->
        <div class="row">
            <div class="col-md-12">
                <div class="my-profile-banner">
                    <!-- <img src="/assets/images/myprofile-bg.png"  class="my-profile-banner"/> -->
                    <!-- <a class="camera-icon"><i class="fa fa-camera" aria-hidden="true"></i></a> -->
                    <div class="d-flex user-img-section">
                        <div class="mr-3">
                            <div class="user-pic">
                                <img [attr.src]="MyProfileProfileStore.profile?.image_token?createImageUrl(MyProfileProfileStore.profile?.image_token):'/assets/images/user-demo.png'"
                                                                    onerror="this.src='/assets/images/user-demo.png'"
                                                                    class="rounded-circle">
                                <a (click)="editProfile()" class="edit-btn "><i class="fas fa-edit"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="bold">{{MyProfileProfileStore.profile?.name}} {{MyProfileProfileStore.profile?.last_name}}</h4>
                            <h5>{{MyProfileProfileStore.profile?.designation.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second -->
        <div class="row widget-heading line-tab mb-2 " *mobxAutorun>
            <div class="col-md-12 ">
                <div class="bg-white clearfix my-profile-main-tab">
                    <ul class="nav nav-tabs float-right">
                        <!-- <li class="nav-item"> <a class="nav-link " data-toggle="tab" [routerLink]="['/my-account/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'dashboard' | translate}}</a> </li> -->
                        <li class="nav-item"> <a class="nav-link " data-toggle="tab" [routerLink]="['/my-account/profile']"  >{{'profile' | translate}}</a> </li>
                        <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" [routerLink]="['/my-account/tasks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'task' | translate}}</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" [routerLink]="['/my-account/activities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'activities' | translate}}</a> </li> -->
                        <li class="nav-item" *ngIf = "OrganizationModulesStore.checkOrganizationSubModulesPermission(200,7101)"> <a class="nav-link" data-toggle="tab" [routerLink]="['/my-account/profile/settings']"  >{{'settings' | translate}}</a> </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
        <!-- third end -->
        <div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
            <app-profile-edit-modal *ngIf="profileObject.type == 'Edit'" [source]="profileObject">
            </app-profile-edit-modal>
        </div>
    </div>
</main>