<div #plainDev></div>
<nav style="z-index:999" class="edit-bar" data-toggle="affix" #navBar>
    <app-breadcrumb-menu></app-breadcrumb-menu>
   <app-sub-menu>-</app-sub-menu>
   <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId]"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Info</a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/project-team']"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Project Team</a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/strategic-alignment']"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Strategic Alignment</a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/scopes']"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scope Of Work</a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/risk-management']"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Risk Management</a>
      </li>
     <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/milestone']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Milestone</a>
     </li>
     <li *ngIf="ProjectMonitoringStore.isBudgeted" class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/budgets']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Budget &amp; Payment</a>
   </li>

     <!-- <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/in-scope']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">In Scope</a>
     </li>
     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/out-scope']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Out Scope</a>
   </li>
   <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/assumptions']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Assumptions</a>
   </li> -->


     <!-- <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/stakeholders']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Stakeholders</a>
     </li>
     <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/documents']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Document</a>
     </li>
     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/budgets']"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Budget</a>
   </li> -->
   <li *ngIf="ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type == 'approved' || ProjectMonitoringStore.individualDetails?.project_monitoring_status?.type=='closed'" class="nav-item drop-tab-menu-list-hdr"><a class="nav-link full-screen-click" >More <i class="fas fa-chevron-down"></i></a>
      <ul class="nav nav-pills" role="tablist">
         <!-- <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/stakeholders']"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Stakeholders</a></li> -->
            <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/milestone-progress']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Milestone Progress</a></li>
         <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/documents']"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Document</a></li>
         <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/issues-list']"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Issues</a></li>
            <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/change-request']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Change Request</a></li>
         <li class="nav-item"><a class="nav-link full-screen-click" [routerLink]="['/project-monitoring/projects/'+ProjectMonitoringStore.selectedProjectId+'/project-closure']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Project Closure</a></li>
              
      </ul>
  </li>
   </ul>
   <ul class="nav nav-pills edit-icons float-right d-none d-xl-block pt-2" role="tablist">
      <li>
          <button (click)="openPreviewModal()" type="button"  class="btn btn-small">Preview</button>
      </li>
      </ul>
</nav>
<main class="audit-program-details-page mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="tab-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- privew modal -->
<div class="modal modal-style-1 popup-full-width fade"  data-keyboard="false"
data-backdrop="static" #preview>
   <app-projecct-monitoring-preview [source] ="previewObject" *ngIf="previewObject.type">
       
   </app-projecct-monitoring-preview>
</div>