<div class="ml-4" *ngFor="let row of children">
    <div class="custom-control white-cbox custom-checkbox">
        <input 
        type="checkbox" 
        class="custom-control-input" 
        [name]="generateIdforString(row?.id)" 
        [id]="generateIdforString(row?.id)"
        [checked]="checkedItem(row?.id)"
        (change)="changeCheckItemStatus($event, row?.id)">
        <label class="custom-control-label align-label-check smoothe-slide" [for]="generateIdforString(row?.id)"> {{row?.clause_number}} {{row?.title}}</label>
    </div>
    <app-ms-clause-loop [children]="row?.children"></app-ms-clause-loop>
</div>