<div #plainDev></div>

<nav class="edit-bar" data-toggle="affix" #navBar>
    <app-sub-menu>-</app-sub-menu>
    <div class="module-name-block module-name-block-space float-left">
        <a class="dropdown module-title">{{'complaints'|translate}}</a>
    </div>
    <!-- <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
            <li class="nav-item">
                <a class="nav-link nav-link-show" [routerLink]="['/customer-engagement/complaint']"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'complaints' | translate}}</a>
        </ul> -->
</nav>

<main class="mt-3 control-list-page">
    <app-filter-menu></app-filter-menu>
    <div class="container-fluid">
        <div class="audit-program-box audit-page-table-main">
            <div class="row" *mobxAutorun>
                <div class="col-sm-12">
                    <div class="full-width-table mb-3">

                        <table *ngIf="CustomerComplaintStore.allItems.length > 0 && CustomerComplaintStore.loaded"
                            class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                            <thead>
                                <tr>
                                    <!-- <th class="border-top-0" width="3%">#</th> -->
                                    <th style="width: 3%; text-align: center;">{{'sl' | translate}}</th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width: 8%;"
                                        (click)="sortTitle('customer_complaint_language.reference_code')">
                                        <span>{{'ref_id' | translate}}</span>&nbsp;
                                        <img _ngcontent-twv-c17=""
                                            *ngIf="CustomerComplaintStore.orderItem=='customer_complaint_language.reference_code'"
                                            [attr.src]="CustomerComplaintStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>

                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width: 41%;"
                                        (click)="sortTitle('customer_complaints.title')">
                                        <span>{{'title' | translate}}</span>&nbsp;
                                        <img _ngcontent-twv-c17=""
                                            *ngIf="CustomerComplaintStore.orderItem=='customer_complaints.title'"
                                            [attr.src]="CustomerComplaintStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width: 13%;"
                                        (click)="sortTitle('customer_complaint_type_language.title')">
                                        <span>{{'complaint_type' | translate}}</span>&nbsp;
                                        <img _ngcontent-twv-c17=""
                                            *ngIf="CustomerComplaintStore.orderItem=='customer_complaint_type_language.title'"
                                            [attr.src]="CustomerComplaintStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width: 13%;"
                                        (click)="sortTitle('customer_complaints.receiving_date')">
                                        <span>{{'receiving_date' | translate}}</span>&nbsp;
                                        <img _ngcontent-twv-c17=""
                                            *ngIf="CustomerComplaintStore.orderItem=='customer_complaints.receiving_date'"
                                            [attr.src]="CustomerComplaintStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 text-center" style="width: 8%;">{{'status' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="AuthStore.getActivityPermission(1900,'CUSTOMER_COMPLAINT_DETAILS') ? 'pointer edit-and-delete-main' : 'edit-and-delete-main'"
                                    (click)="AuthStore.getActivityPermission(100,'CUSTOMER_COMPLAINT_DETAILS') ? gotoCustomerComplaintDetails(row.id) : ''"
                                    *ngFor="let row of CustomerComplaintStore.allItems| paginate: {currentPage:CustomerComplaintStore.currentPage, itemsPerPage:CustomerComplaintStore.itemsPerPage,totalItems:CustomerComplaintStore.totalItems};let num=index ">
                                    <td style="text-align: center;">{{(CustomerComplaintStore.currentPage - 1) *
                                        CustomerComplaintStore.itemsPerPage + (num + 1)}}</td>
                                    <td>{{row.reference_code}}</td>
                                    <td>{{row.title}}</td>
                                    <td>{{row.customer_complaint_type}}</td>
                                    <td>{{row.receiving_date | date:
                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</td>

                                    <td class="text-center" style="padding:0.75rem;">
                                        <div
                                            [ngClass]="row.customer_complaint_status_color_code ? 'dot-div '+row.customer_complaint_status_color_code+'-dot' : ''">
                                            {{row.customer_complaint_status_title}}</div>

                                        <div class="edit-option-show" style="margin: 30px 0 0 0;" *ngIf="row.customer_complaint_status_type == 'new'">
                                            <a *ngIf="AuthStore.getActivityPermission(1600,'UPDATE_CUSTOMER_COMPLAINT')"
                                                (click)="editCustomerComplaint(row.id)"
                                                [attr.title]="'edit' | translate"><i class="fas fa-pen"></i></a>
                                            <a *ngIf="AuthStore.getActivityPermission(1600,'DELETE_CUSTOMER_COMPLAINT')"
                                                (click)="delete(row.id)" [attr.title]="'delete' | translate"><i
                                                    class="fas fa-trash"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <p class="float-right bold mb-0" *ngIf="CustomerComplaintStore.loaded && CustomerComplaintStore.totalItems > 0">{{'total_Items' | translate}}:{{CustomerComplaintStore?.totalItems}}</p>
                    <ng-container *mobxAutorun>
                        <div *ngIf="!CustomerComplaintStore.loaded">
                            <app-seven-column-loader></app-seven-column-loader>
                        </div>
                        <app-no-data
                            *ngIf="CustomerComplaintStore.allItems.length == 0 && CustomerComplaintStore.loaded == true">
                        </app-no-data>
                    </ng-container>


                    <div *ngIf="CustomerComplaintStore.totalItems>CustomerComplaintStore.itemsPerPage"
                        class="col-sm-12">
                        <ul class="pagination justify-content-center mt-3">
                            <div class="list">
                                <pagination-controls class="my-pagination" [previousLabel]="'previous' | translate"
                                    [nextLabel]="'next' | translate" (pageChange)="pageChange($event)">
                                </pagination-controls>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-----------------------Form Modal--------------------------->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
    <app-add-customer-complaint *ngIf="customerComplaintObject.type" [source]="customerComplaintObject">
    </app-add-customer-complaint>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>