      <div class="widget">


         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="cmn-bdr bg-white mb-3 p-3">
                  <div class="row align-items-center">
                     <div class="col-lg-8 col-sm-8">
                        <div class="loder-section-inner">
                           <div class="ph-item p-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row mb-0 relative">
                                 <div class="ph-col-8 big mb-0"></div>
                                 <div class="ph-col-4 empty big mb-0"></div>

                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                            <div class="loder-section-inner">
                               <div class="ph-item p-0" style="background: none;">
                                  <div class="ph-col-12 pr-0">
                                     <div class="ph-picture-md mb-0" style="height: 60px;"></div>
                                   </div>
                                </div>
                            </div>
                         </div>
                     </div>
                  </div>

               </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               <div class="cmn-bdr bg-white mb-3 p-3">
                  <div class="row align-items-center">
                     <div class="col-lg-8 col-sm-8">
                        <div class="loder-section-inner">
                           <div class="ph-item p-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row mb-0 relative">
                                 <div class="ph-col-8 big mb-0"></div>
                                 <div class="ph-col-4 empty big mb-0"></div>

                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                            <div class="loder-section-inner">
                               <div class="ph-item p-0" style="background: none;">
                                  <div class="ph-col-12 pr-0">
                                     <div class="ph-picture-md mb-0" style="height: 60px;"></div>
                                   </div>
                                </div>
                            </div>
                         </div>
                     </div>
                  </div>

               </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               <div class="cmn-bdr bg-white mb-3 p-3">
                  <div class="row align-items-center">
                     <div class="col-lg-8 col-sm-8">
                        <div class="loder-section-inner">
                           <div class="ph-item p-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row mb-0 relative">
                                 <div class="ph-col-8 big mb-0"></div>
                                 <div class="ph-col-4 empty big mb-0"></div>

                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                            <div class="loder-section-inner">
                               <div class="ph-item p-0" style="background: none;">
                                  <div class="ph-col-12 pr-0">
                                     <div class="ph-picture-md mb-0" style="height: 60px;"></div>
                                   </div>
                                </div>
                            </div>
                         </div>
                     </div>
                  </div>

               </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               <div class="cmn-bdr bg-white mb-3 p-3">
                  <div class="row align-items-center">
                     <div class="col-lg-8 col-sm-8">
                        <div class="loder-section-inner">
                           <div class="ph-item p-0">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row mb-0 relative">
                                 <div class="ph-col-8 big mb-0"></div>
                                 <div class="ph-col-4 empty big mb-0"></div>

                               </div>
                             </div>
                           </div>
                         </div>

                     </div>
                     <div class="col-lg-4 col-sm-4">
                        <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                            <div class="loder-section-inner">
                               <div class="ph-item p-0" style="background: none;">
                                  <div class="ph-col-12 pr-0">
                                     <div class="ph-picture-md mb-0" style="height: 60px;"></div>
                                   </div>
                                </div>
                            </div>
                         </div>
                     </div>
                  </div>

               </div>
            </div>
            
         </div>

         <div class="bg-white p-4">
            <div class="row">
               <div class="col-lg-6 col-sm-12 mb-5">
                  <div class="mb-4" style="border-bottom: 1px solid #ccc;">
                  <div class="loder-section-inner">
                     <div class="ph-item p-0">
                       <div class="ph-col-12 pr-0">
                         <div class="ph-row mb-0 relative">

                           <div class="ph-col-4 big"></div>
                           <div class="ph-col-6 empty big"></div>
                           <div class="ph-col-2 big"></div>

                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="loder-section-inner">
                  <div class="ph-item p-0">
                    <div class="ph-col-12">
                      <div class="ph-row mb-0 relative">

                        <div class="ph-col-1"></div>
                        <div class="ph-col-10"></div>
                        <div class="ph-col-1 empty"></div>

                        <div class="ph-col-10"></div>
                        <div class="ph-col-2 empty"></div>

                        <div class="ph-col-8"></div>
                        <div class="ph-col-4 empty"></div>

                      </div>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-lg-6 col-sm-12 mb-5">
                  <div class="mb-4" style="border-bottom: 1px solid #ccc;">
                  <div class="loder-section-inner">
                     <div class="ph-item p-0">
                       <div class="ph-col-12 pr-0">
                         <div class="ph-row mb-0 relative">

                           <div class="ph-col-4 big"></div>
                           <div class="ph-col-6 empty big"></div>
                           <div class="ph-col-2 big"></div>

                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="loder-section-inner">
                  <div class="ph-item p-0">
                    <div class="ph-col-12">
                      <div class="ph-row mb-0 relative">

                        <div class="ph-col-1"></div>
                        <div class="ph-col-10"></div>
                        <div class="ph-col-1 empty"></div>

                        <div class="ph-col-10"></div>
                        <div class="ph-col-2 empty"></div>

                        <div class="ph-col-8"></div>
                        <div class="ph-col-4 empty"></div>

                      </div>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-lg-6 col-sm-12 mb-5">
                  <div class="mb-4" style="border-bottom: 1px solid #ccc;">
                  <div class="loder-section-inner">
                     <div class="ph-item p-0">
                       <div class="ph-col-12 pr-0">
                         <div class="ph-row mb-0 relative">

                           <div class="ph-col-4 big"></div>
                           <div class="ph-col-6 empty big"></div>
                           <div class="ph-col-2 big"></div>

                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="loder-section-inner">
                  <div class="ph-item p-0">
                    <div class="ph-col-12">
                      <div class="ph-row mb-0 relative">

                        <div class="ph-col-1"></div>
                        <div class="ph-col-10"></div>
                        <div class="ph-col-1 empty"></div>

                        <div class="ph-col-10"></div>
                        <div class="ph-col-2 empty"></div>

                        <div class="ph-col-8"></div>
                        <div class="ph-col-4 empty"></div>

                      </div>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-lg-6 col-sm-12 mb-5">
                  <div class="mb-4" style="border-bottom: 1px solid #ccc;">
                  <div class="loder-section-inner">
                     <div class="ph-item p-0">
                       <div class="ph-col-12 pr-0">
                         <div class="ph-row mb-0 relative">

                           <div class="ph-col-4 big"></div>
                           <div class="ph-col-6 empty big"></div>
                           <div class="ph-col-2 big"></div>

                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="loder-section-inner">
                  <div class="ph-item p-0">
                    <div class="ph-col-12">
                      <div class="ph-row mb-0 relative">

                        <div class="ph-col-1"></div>
                        <div class="ph-col-10"></div>
                        <div class="ph-col-1 empty"></div>

                        <div class="ph-col-10"></div>
                        <div class="ph-col-2 empty"></div>

                        <div class="ph-col-8"></div>
                        <div class="ph-col-4 empty"></div>

                      </div>
                    </div>
                  </div>
                </div>
               </div>


            </div>

         </div>


         </div>

