<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'cancel_meeting_plan' | translate}}</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="clearfix">
                                <label class="float-left">{{'description' | translate}}</label>
                                <span class="float-right">
                                    <p class="text-grey mb-0">{{form?.value.reason != null ?
                                        form?.value.reason?.length : 0}}
                                        {{'characters' | translate}}</p>
                                </span>
                            </div>
                            <textarea class="form-control" rows="3" id="comment11"
                                [placeholder]="'write_a_short_reason_of_the_cancel_meeting_plan'|translate" formControlName="reason"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="submit" class="btn btn-active" (click)="save()"
                                [disabled]="form.invalid || AppStore.loading">{{AppStore.loading ?
                                getButtonText('loading') : getButtonText('save') }}</button>
                            <button type="button" data-toggle="modal" data-target="#signal-lost" class="btn"
                                (click)="save(true)" [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ?
                                getButtonText('loading') : getButtonText('save_close') }}</button>
                            <button type="button" data-toggle="modal" data-target="#error-message" class="btn"
                                (click)="cancel()">{{ AppStore.loading ? getButtonText('loading') :
                                getButtonText('cancel') }}</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- Modal footer -->
    </div>
</div>