<ng-container *mobxAutorun>
    <div class="common-tab-md tab-same-height clearfix" *ngIf="BpmProcessMappingStore?.loaded">
        <div class="tab-common-left-md">
            <div class=" issues-tab">

                <!-- tabs -->

                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100,21901)"
                        class="nav-item">
                        <a (click)="gotoSection('issue')" href="#review" class="nav-link active" data-toggle="tab"
                            role="tab" aria-controls="lorem" aria-selected="false">{{'issues' | translate}}</a>
                    </li>
                    <li
                        class="nav-item">
                        <a (click)="gotoSection('control')" href="#tab-one" class="nav-link " data-toggle="tab"
                            role="tab" aria-controls="ipsum" aria-selected="false">{{'controls' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100, 2901)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('product')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'products' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(3300,54301)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('asset')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'assets' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100,3201)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('service')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'services' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(2500,40401)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('compliance')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'compliance' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(1900,34801)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('incident')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'incident' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(1600,28101)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('meeting')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'meeting' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(3400,56301)"
                        class="nav-item">
                        <a class="nav-link" (click)="gotoSection('training')" data-toggle="tab" role="tab"
                            aria-controls="ipsum" aria-selected="false">{{'training' | translate}}</a>
                    </li>
                    <li *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(3800,73501)"
                    class="nav-item">
                    <a class="nav-link" (click)="gotoSection('kpi')" data-toggle="tab" role="tab"
                        aria-controls="ipsum" aria-selected="false">{{'kpi' | translate}}</a>
                </li>
                </ul>
            </div>
        </div>

        <div class="tab-common-left-content-m bg-white cmn-bdr widg-padding-cmn-small min-height-83">
            <div class="tab-content">

                <!-- tab contents -->

                <div *ngIf="selectedSection=='issue'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.issues.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                   
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.issues.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_issue_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectIssues()" data-toggle="modal" class="btn btn-small">{{'select' |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.issues.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <thead>
                                    <tr>
                                        <th class="border-top-0 text-center" width="8%">#</th>
                                        <th class="border-top-0" width="12%">{{'ref_id' | translate}}</th>
                                        <th class="border-top-0" width="20%">{{'issue' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'issue_types' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'issue_categories' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'issue_domains' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'departments' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="edit-and-delete-main"
                                        *ngFor="let row of BpmProcessMappingStore.mappingItemList?.issues;let num = index">
                                        <td class="text-center">{{num+1}}</td>
                                        <td>{{row?.reference_code? row?.reference_code : AppStore.noContentText}}
                                        </td>
                                        <td>{{row?.title ? row?.title : AppStore.noContentText}}</td>
                                        <td><span *ngFor="let types of row?.organization_issue_types"
                                                class="risk-type-bx risk-type-bx-drop"><i><img
                                                        [attr.src]="types.is_internal ? 'assets/images/internal.svg' : 'assets/images/external.svg'"
                                                        style="width: 15px;">
                                                </i> {{types.title}}</span>
                                            <span
                                                *ngIf="row?.organization_issue_types?.length == 0">{{AppStore.noContentText}}</span>
                                        </td>
                                        <td>{{(row?.organization_issue_categories &&
                                            row?.organization_issue_categories?.length > 0)?
                                            getArrayProcessed(row?.organization_issue_categories)
                                            :AppStore.noContentText }}</td>
                                        <td>{{(row?.organization_issue_domains &&
                                            row?.organization_issue_domains?.length > 0) ?
                                            getArrayProcessed(row?.organization_issue_domains).length > 50 ?
                                            getArrayProcessed(row?.organization_issue_domains).substring(0,40)+'...' :
                                            getArrayProcessed(row?.organization_issue_domains) :
                                            AppStore.noContentText}}</td>
                                        <td>{{(row?.organization_issue_departments &&
                                            row?.organization_issue_departments.length > 0) ?
                                            getArrayProcessed(row?.organization_issue_departments) :
                                            AppStore.noContentText}}
                                            <div class="edit-option-show">
                                                <a *ngIf="AuthStore.getActivityPermission(1900,'DELETE_ISSUE_INCIDENT_MAPPING')"
                                                    (click)="deleteIssueMapping(row?.id)"
                                                    [attr.title]="'delete' | translate"><i
                                                        class="fas fa-trash pointer"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.issues.length == 0" style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    
                </div>

                <div *ngIf="selectedSection=='product'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.products.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.products.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_product_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectProducts()" data-toggle="modal" class="btn btn-small">{{'select' |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.products.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="10%">{{'sl' | translate}}
                                    </th>
                                    <th class="border-top-0" width="55%">{{'title' |
                                        translate}}</th>
                                    <th class="border-top-0" width="35%">{{'product_category' |
                                        translate}}
                                    </th>
                                    <!-- <th class="border-top-0" width="9%">{{'member_count' |
                          translate}}</th>
                      <th class="border-top-0" width="9%">{{'location' | translate}}
                      </th> -->
                                </tr>
                                <tr *ngFor="let prod of BpmProcessMappingStore.mappingItemList?.products; let list=index"
                                    class="edit-and-delete-main">
                                    <td class="text-center">{{list+1}}</td>
                                    <td> {{prod?.title}}
                                    </td>
                                    <td>
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"
                                                (click)="deleteProductMapping(prod.id)"><i
                                                    class="fas fa-trash pointer"></i></a>
                                        </div>
                                        {{prod?.product_category?.title ? prod?.product_category?.title : AppStore.noContentText}}
                                    </td>
                                    <!-- <td>{{prod.member_count}}</td>
                      <td>{{prod.location_title?prod.location_title:AppStore.noContentText}}
                      </td> -->
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.products?.length == 0" style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='asset'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.processAssets.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">
                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.processAssets.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_asset_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectAssests()" data-toggle="modal" class="btn btn-small">{{'select' |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.processAssets.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="10%">#
                                    </th>
                                    <th class="border-top-0" width="90%">{{'title' |
                                        translate}}</th>
                                </tr>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.processAssets; let list=index">
                                    <td class="text-center">{{list+1}}</td>
                                    <td>
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate" (click)="deleteAssetMapping(obj.id)"><i
                                                    class="fas fa-trash pointer"></i></a>
                                        </div>
                                        {{obj?.title}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.processAssets.length == 0"
                            style="height: 300px">

                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='service'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.services.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.services.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_service_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectServiceMapping()" data-toggle="modal" class="btn btn-small">{{'select'
                                    | translate}}</a>
                            </div>
                        </div>

                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.services.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="10%">#</th>
                                    <th class="border-top-0" width="55%">{{'title' | translate}}</th>
                                    <th class="border-top-0" width="35%">{{'service_category' | translate}}</th>
                                </tr>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.services; let list=index">
                                    <td class="text-center">{{list+1}}</td>
                                    <td>{{obj.title}}</td>
                                    <td>
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"
                                                (click)="deleteServiceMapping(obj.id)"><i
                                                    class="fas fa-trash pointer"></i></a>
                                        </div>
                                        {{obj?.service_category?.title ? obj?.service_category?.title : AppStore.noContentText}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.services?.length == 0" style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='compliance'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.compliances.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.compliances.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_compliance_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectComplianceMapping()" data-toggle="modal"
                                    class="btn btn-small">{{'select' | translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.compliances.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="10%">#</th>
                                    <th class="border-top-0" width="58%">{{'title' | translate}}</th>
                                    <th class="border-top-0" width="16%">{{'expiry_date' | translate}}</th>
                                    <th class="border-top-0 text-center" width="16%">{{'status' | translate}}</th>
                                </tr>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.compliances; let list=index">
                                    <td class="text-center">{{list+1}}</td>
                                    <td>{{obj?.title ? obj?.title : AppStore.noContentText}}</td>
                                    <td>{{obj?.document_version[0]?.expiry_date ? obj?.document_version[0]?.expiry_date : AppStore.noContentText}}
                                    <td class="text-center">
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"
                                                (click)="deleteComplianceMapping(obj.id)"><i
                                                    class="fas fa-trash pointer"></i></a>
                                        </div>
                                        <div *ngIf="obj?.document_compliance_status_updates[0]?.compliance_status.label"
                                            [attr.class]="'dot-div '+obj?.document_compliance_status_updates[0]?.compliance_status.label">
                                            {{obj?.document_compliance_status_updates[0]?.compliance_status.language[0]?.pivot?.title ? obj?.document_compliance_status_updates[0]?.compliance_status?.language[0]?.pivot?.title : AppStore.noContentText}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.compliances?.length == 0"
                            style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='incident'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.incidents.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.incidents.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_incident_message'|translate}}</h5>
                                <a (click)="selectIncidentMapping()" data-toggle="modal"
                                    class="btn btn-small">{{'select' |
                                    translate}}</a>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.incidents.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="9%">#</th>
                                    <th class="border-top-0" width="10%">{{'ref_id' |
                                        translate}}</th>
                                    <th class="border-top-0" width="41%">{{'title' |
                                        translate}}</th>
                                    <th class="border-top-0" width="15%">{{'date_time' |
                                        translate}}</th>
                                    <!-- <th class="border-top-0" width="15%">{{'category' |
                                    translate}}</th> -->
                                    <th class="border-top-0 text-center" width="10%">{{'status' |
                                        translate}}</th>
                                </tr>

                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.incidents; let list=index">
                                    <td class="text-center">{{list+1}}</td>
                                    <td>{{obj?.reference_code}}</td>
                                    <td>{{obj?.title ? obj?.title : AppStore.noContentText}}</td>
                                    <td *ngIf="obj.incident_at && obj.incident_at != '0000-00-00 00:00:00'">
                                        {{obj?.incident_at |
                                        date: OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}
                                    </td>
                                    <td *ngIf="!obj.incident_at || obj.incident_at == '0000-00-00 00:00:00'">
                                        {{AppStore.noContentText}}</td>
                                    <!-- <td>{{obj.incident_categories ? obj.incident_categories :AppStore.noContentText}}</td> -->

                                    <td class="text-center">
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"><i class="fas fa-trash pointer"
                                                    (click)="deleteIncidentMapping(obj.id)"></i></a>
                                        </div>
                                        <div *ngIf="obj.incident_status.type"
                                            [attr.class]="'dot-div '+obj?.incident_status.label+'-dot'">
                                            {{obj?.incident_status?.type}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.incidents.length == 0"
                            style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='meeting'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.mrm.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.mrm.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_meeting_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectMeetingMapping()" data-toggle="modal" class="btn btn-small">{{'select'
                                    |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.mrm.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="9%">#</th>
                                    <th class="border-top-0" width="10%">{{'ref_id' |
                                        translate}}</th>
                                    <th class="border-top-0" width="48%">{{'title' |
                                        translate}}</th>
                                    <th class="border-top-0" width="33%">
                                        <span> {{'start_date/time' |
                                            translate}}&nbsp;&nbsp;-&nbsp;&nbsp;{{'end_date/time' |
                                            translate}} </span>
                                    </th>
                                </tr>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.mrm; let list=index">
                                    <td class="text-center">{{list+1}}</td>
                                    <td>{{obj?.reference_code}}</td>
                                    <td>{{obj?.title ? obj?.title : AppStore.noContentText}}</td>
                                    <td>
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"><i class="fas fa-trash pointer"
                                                    (click)="deleteMeetingMapping(obj.id)"></i></a>
                                        </div>
                                        {{obj?.start | date:
                                        OrganizationGeneralSettingsStore?.organizationSettings?.date_time_format}}&nbsp;&nbsp;-&nbsp;&nbsp;{{obj.end
                                        | date:
                                        OrganizationGeneralSettingsStore?.organizationSettings?.date_time_format}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.mrm?.length == 0" style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='training'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.trainings.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.trainings.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_training_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectTrainingMapping()" data-toggle="modal"
                                    class="btn btn-small">{{'select' |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.trainings.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <tr>
                                    <th class="border-top-0 text-center" width="9%">#</th>
                                    <th class="border-top-0" width="28%">{{'title' | translate}}</th>
                                    <th class="border-top-0" width="18%">{{'category' | translate}}</th>
                                    <th class="border-top-0" width="18%">{{'trainer' | translate}}</th>
                                    <th class="border-top-0" width="17%">{{'start_date' | translate}}</th>
                                    <th class="border-top-0 text-center" width="10%">{{'status' | translate}}</th>
                                </tr>
                                <tr class="edit-and-delete-main"
                                    *ngFor="let obj of BpmProcessMappingStore.mappingItemList?.trainings; let list=index">
                                    <td class="text-center">{{list+1}}</td>

                                    <td>{{obj?.title ? obj?.title : AppStore.noContentText}}</td>

                                    <td>{{obj?.training_category?.title ? obj?.training_category?.title
                                        :AppStore.noContentText}}</td>

                                    <td>{{obj?.trainer ? obj?.trainer :AppStore.noContentText}}</td>

                                    <td>{{obj?.start_date | date:
                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                        <p *ngIf="!obj.start_date"> {{AppStore.noContentText}}</p>
                                    </td>

                                    <td class="text-center">
                                        <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"><i class="fas fa-trash pointer"
                                                    (click)="deleteTrainingMapping(obj.id)"></i></a>
                                        </div>
                                        <div *ngIf="obj.training_status.label"
                                            [attr.class]="'dot-div '+obj?.training_status.label+'-dot'">
                                            {{obj?.training_status?.language[0]?.pivot?.title}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.trainings?.length == 0"
                            style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='kpi'"
                    [ngClass]="BpmProcessMappingStore.mappingItemList?.kpis.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">

                    <div class="p-3">
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.kpis.length>0"
                            class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                            <h5>{{'map_bpm_process_with_kpi_message'|translate}}</h5>
                            <div class="float-right">
                                <a (click)="selectKPIMapping()" data-toggle="modal" class="btn btn-small">{{'select' |
                                    translate}}</a>
                            </div>
                        </div>
                        <div class="audit-form-table w-100 risk-form-mapping-table form-table-scroll"
                            *ngIf="BpmProcessMappingStore.mappingItemList?.kpis.length> 0">
                            <table class="table table-bordered ordinary-table cmn-table-style mb-2 word-break">
                                <thead>
                                    <tr>
                                        <th class="border-top-0 text-center" width="3%">#</th>
                                        <!-- <th class="border-top-0" width="12%">{{'kpi_code' | translate}}</th> -->
                                        <th class="border-top-0" width="97%">{{'title' | translate}}</th>
                                        <!-- <th class="border-top-0" width="15%">{{'department' | translate}}</th> -->
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="edit-and-delete-main"
                                        *ngFor="let row of BpmProcessMappingStore.mappingItemList?.kpis;let num = index">
                                        <td class="text-center">{{num+1}}</td>
                                        <!-- <td>{{row?.reference_code? row?.reference_code : AppStore.noContentText}}
                                        </td> -->
                                        <td> 
                                            <div class="edit-option-show">
                                            <a [attr.title]="'delete'|translate"><i class="fas fa-trash pointer"
                                                    (click)="deleteKpiMapping(row.id)"></i></a>
                                        </div>
                                        {{row?.title ? row?.title : AppStore.noContentText}}
                                    </td>
                                        
                                        <!-- <td>{{(row?.organization_issue_categories &&
                                            row?.organization_issue_categories?.length > 0)?
                                            getArrayProcessed(row?.organization_issue_categories)
                                            :AppStore.noContentText }}</td> -->
                                        
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="BpmProcessMappingStore.mappingItemList?.kpis.length == 0" style="height: 300px">
                            <app-no-data [height]=true [border]=false></app-no-data>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedSection=='control'" 
                [ngClass]="BpmProcessMappingStore.mappingItemList?.controls.length==0?'tab-pane fade active show':'tab-pane fade active show'"
                    id="tab-one" role="tabpanel">
                    
                    <div *ngIf="BpmProcessMappingStore.mappingItemList?.controls.length>0"
                        class="processes-issue audit-processes-issue clearfix bg-white cmn-bdr mb-3">
                        <h5>{{'map_bpm_process_with_controls_message'|translate}}</h5>
                        <div class="float-right">
                            <a (click)="selectcontrolsMapping()" data-toggle="modal"
                                class="btn btn-small">{{'select' |
                                translate}}</a>
                        </div>
                    </div>
                            <table class="table table-bordered ordinary-table cmn-table-style mb-4"
                            *ngIf="BpmProcessMappingStore.loaded && BpmProcessMappingStore.mappingItemList?.controls?.length>0 ">
                            <tr>
                                <th class="border-top-0 text-center" width="2%">#</th>
                                <th class="border-top-0" width="10%">{{'ref_id' |
                                    translate}}
                                </th>
                                <th class="border-top-0" width="88%">{{'title' | translate}}
                                </th>
                        
                            </tr>
                            <tr class="edit-and-delete-main"
                            *ngFor="let cntrl of BpmProcessMappingStore.mappingItemList?.controls; let list=index">
                                <td class="text-center">{{list+1}}</td>
                                <td>{{cntrl?.reference_code}}</td>
                                <td>
                                    <div class="edit-option-show pointer" style="margin:6px 0 0 0">

                                        <a [attr.title]="'delete'|translate"
                                            (click)="deleteControlMapping(cntrl.id)"><i class="fas fa-trash"></i></a>
                                    </div>
                                    {{cntrl?.issues_title ? cntrl?.issues_title : cntrl.title}}
                                </td>
                            </tr>
                        </table>
                        <ng-container *mobxAutorun>
                            <app-no-data *ngIf="BpmProcessMappingStore.loaded && BpmProcessMappingStore.mappingItemList?.controls?.length == 0"
                                [border]=false>
                            </app-no-data>
                        </ng-container>
                    </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *mobxAutorun>
    <div *ngIf="!BpmProcessMappingStore.loaded">
        <app-risk-mapping-loader></app-risk-mapping-loader>
    </div>
</ng-container>

<!---------- Delete Confirmation Modal ------------>
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>

<!----------mapping popups----------->
<div class="modal modal-style-1 popup-full-width fade" id="issue-popup" data-keyboard="false" data-backdrop="static"
    #issueFormModal *mobxAutorun>
    <app-issues-modal *ngIf="IssueListStore.issue_select_form_modal" [issuesModalTitle]="modalObject">
    </app-issues-modal>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="project-popup" data-keyboard="false" data-backdrop="static"
    #productFormModal *mobxAutorun>
    <app-product-modal *ngIf="BusinessProductsStore.product_select_form_modal" [productModalTitle]="modalObject">
    </app-product-modal>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #assetsFormModal *mobxAutorun>
    <app-asset-mapping *ngIf="AssetRegisterStore?.assets_select_form_modal" [assetModalTitle]="modalObject">
    </app-asset-mapping>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="issue-popup" data-keyboard="false" data-backdrop="static"
    #serviceFormModal *mobxAutorun>
    <app-service-modal *ngIf="BusinessServiceStore.service_select_form_modal" [serviceModalTitle]="modalObject">
    </app-service-modal>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #complianceFormModal *mobxAutorun>
    <app-compliance-mapping *ngIf="ComplianceRegisterStore?.compliance_select_form_modal"
        [complianceModalTitle]="modalObject">
    </app-compliance-mapping>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #incidentFormModal *mobxAutorun>
    <app-incident-mapping *ngIf="IncidentStore?.incident_select_form_modal" [incidentModalTitle]="modalObject">
    </app-incident-mapping>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #meetingFormModal *mobxAutorun>
    <app-meeting-mapping *ngIf="MeetingsStore.meeting_select_form_modal" [meetingModalTitle]="modalObject">
    </app-meeting-mapping>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #trainingFormModal *mobxAutorun>
    <app-training-mapping *ngIf="TrainingsStore.training_select_form_modal" [trainingModalTitle]="modalObject">
    </app-training-mapping>
</div>
<div class="modal modal-style-1 popup-full-width fade" id="kpi-popup" data-keyboard="false" data-backdrop="static"
    #kpiFormModal *mobxAutorun>
    <app-kpi-mapping *ngIf="KpisStore.kpi_select_form_modal" [kpiModalTitle]="modalObject">
    </app-kpi-mapping>
</div>
<!-- -------Control Choose Popup -->
<div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #controlsFormModal *mobxAutorun>
    <app-control-popup *ngIf=" ControlStore.control_select_form_modal" [controlsModalTitle]="modalObject">
    </app-control-popup>
</div>
<!-- -------Control Choose Popup -->