<main class="mt-3 acl-page" *mobxAutorun>
    
    <div class="container-fluid">
        <app-filter-menu></app-filter-menu>
        <div class="audit-program-box audit-page-table-main">
            <div class="row" *ngIf="TrainingsStore.loaded">
                <div class="col-sm-12">
                    <div class="full-width-table mb-3">

                    <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll"
                        *ngIf="TrainingsStore.loaded && TrainingsStore?.trainingsList.length>0 && AuthStore.getActivityPermission(1900,'TRAINING_LIST')">
                        <thead>
                            <tr>
                                <th class="border-top-0 text-center" width="2%">#</th>
                                <th class="border-top-0 pointer" width="30%"
                                    (click)="setTrainingSort('trainings.title')">
                                    {{'title' | translate}}
                                    <img *ngIf="TrainingsStore.orderItem == 'trainings.title'"
                                        [attr.src]="TrainingsStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th class="border-top-0 pointer" width="17%"
                                    (click)="setTrainingSort('training_categories.title')">{{'category' | translate}}
                                    <img *ngIf="TrainingsStore.orderItem == 'training_categories.title'"
                                        [attr.src]="TrainingsStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th class="border-top-0 pointer" width="15%"
                                    (click)="setTrainingSort('trainings.trainer')">{{'trainer'
                                    | translate}}
                                    <img *ngIf="TrainingsStore.orderItem == 'trainings.trainer'"
                                        [attr.src]="TrainingsStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th class="border-top-0 pointer" width="12%"
                                    (click)="setTrainingSort('trainings.start_date')"> {{'start_date' |
                                    translate}}
                                    <img *ngIf="TrainingsStore.orderItem == 'trainings.start_date'"
                                        [attr.src]="TrainingsStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                        class="sort-down-pics">
                                </th>
                                <th class="border-top-0" width="14%"> {{'venue_weburl' |
                                    translate}}
                                </th>
                                <th class="border-top-0 text-center" width="10%">{{'status' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="AuthStore.getActivityPermission(1900,'TRAINING_DETAILS') ? 'pointer edit-and-delete-main' : 'edit-and-delete-main'"
                                *ngFor="let row of TrainingsStore?.trainingsList | paginate: {currentPage:TrainingsStore?.currentPage, itemsPerPage:TrainingsStore?.itemsPerPage,totalItems:TrainingsStore?.totalItems}; let num = index">
                                <td class="text-center">{{(TrainingsStore?.currentPage -1) * TrainingsStore?.itemsPerPage + (num + 1)}}</td>
                               
                                <td (click)="getDetails(row.id)">{{row.title}}
                                    <p *ngIf="!row.title"> {{AppStore.noContentText}}</p>
                                </td>
                                <td (click)="getDetails(row.id)">{{row.training_category_title}}
                                    <p *ngIf="!row.training_category_title"> {{AppStore.noContentText}}</p>
                                </td>
                                <td (click)="getDetails(row.id)">{{row.trainer}}
                                    <p *ngIf="!row.trainer"> {{AppStore.noContentText}}</p>
                                </td>
                                <td (click)="getDetails(row.id)">{{row?.start_date | date:
                                    OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                    <p *ngIf="!row.start_date"> {{AppStore.noContentText}}</p>
                                </td>
                                <td (click)="getDetails(row.id)">{{row?.web_url || row?.venue ? row?.web_url ||
                                    row?.venue : AppStore.noContentText}}

                                </td>
                                <td class="text-center">
                                    <div *ngIf="row.training_status_title"
                                        [attr.class]="'dot-div '+row?.training_status_label+'-dot'">
                                        {{row?.training_status_title}}</div>
                                    <p *ngIf="!row.training_status_title">{{AppStore.noContentText}}</p>
                                    <div class="edit-option-show" style="margin: 30px 0 0 0; ">
                                        <!-- edit-and-delete starts -->
                                        <a *ngIf="row.training_status_type != 'completed' && row.training_status_title != 'cancelled' && 
                                        AuthStore.getActivityPermission(5017,'UPDATE_TRAINING')"
                                            (click)="getTraining(row.id)"><i class="fas fa-pen"></i></a>
                                        <a *ngIf="AuthStore.getActivityPermission(5018,'DELETE_TRAINING')" 
                                        (click)="delete(row.id)"><i class="fas fa-trash"></i></a>
                                    </div><!-- edit-and-delete end -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="float-right" *ngIf="TrainingsStore?.loaded && AuthStore.getActivityPermission(1900,'TRAINING_LIST') && TrainingsStore.totalItems > 0"><b>{{'total_Items' | translate}}:{{TrainingsStore?.totalItems}}</b></p>
                </div>
                </div>

                <div *ngIf="AuthStore.getActivityPermission(1900,'TRAINING_LIST') && TrainingsStore.totalItems > TrainingsStore.itemsPerPage" class="col-sm-12">
                    <ul class="pagination justify-content-center mt-3">
                        <div class="list">
                            <pagination-controls [previousLabel]="'previous' | translate"
                                [nextLabel]="'next' | translate" (pageChange)="getItems($event)" class="my-pagination">
                            </pagination-controls>
                        </div>
                    </ul>
                </div>

            </div>
            <ng-container>
                <div *ngIf="!TrainingsStore.loaded">
                    <app-seven-column-loader></app-seven-column-loader>
                </div>
            </ng-container>
            <ng-container>
                <app-no-data *ngIf="TrainingsStore.loaded && TrainingsStore?.trainingsList.length==0"
                    [border]=false>
                </app-no-data>
            </ng-container>
        </div>
    </div>
</main>

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #TrainingFormModal>
    <app-training-modal *ngIf="TrainingModalObject.type" [source]="TrainingModalObject"></app-training-modal>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>
<!------------------- Delete Confirmation Modal End --------------------------->