    <!-- <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content delete-popup-content">
        <div class="modal-body form-body">
          <div class="d-flex">
             <div class="exclamation-icon-two">
                <i class="fas fa-exclamation-circle"></i>
             </div>
             <div class="w-100">
                <h2>Lost Connection</h2>
                <p>Your Internet Session was interrupted. Please check your Internet connection.</p>
             </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content alert-msg-box">
         <!-- <button type="button" class="close small-close-poup" data-dismiss="modal"><i class="fa fa-times"></i></button> -->
        <!-- Modal body -->
        <div class="modal-body form-body">
          <form class="alert-msg-box-content">
             <div class="popup-icon-cls">
                <!-- <i class="fas fa-exclamation-circle"></i> -->
                <img src="assets/images/connection-lost-popup-icon.png" class="img-fluid">
             </div>
             <h2>Connection has been lost!</h2>
             <p>Your Internet Session was interrupted. Please check your Internet connection.</p>
             <!-- <p>Please re-establish the connection, then click<br> Retry or click Cancel to exit.</p> -->
             <!-- <div class="mt-2 mb-3">
                <button type="button" class="btn btn-active">Retry</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
             </div> -->
          </form>
        </div>
        <!-- Modal footer --> 
      </div>
    </div>