<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/bpm']">
                <a>{{'bpm' | translate}}</a>
            </li>
            <li class="breadcrumb-item active">{{'storage_locations' | translate}}</li>
        </ol>
    </nav>

    <div class="audit-form-table w-100 not-fixed-table mb-0">
        <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll"
        *ngIf="StorageLocationMasterStore?.loaded && StorageLocationMasterStore.StorageLocation.length > 0">
        <tr>
            <th style="width: 5%; text-align: center;">{{'sl' | translate}}</th>
            <th style="width: 83%;" (click)="sortTitle('storage_locations.title')"
                class="border-top-0 issue-list-org-tab-three pointer" >
                <span>{{'storage_locations' | translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="StorageLocationMasterStore.orderItem=='storage_locations.title'" class="sort-down-pics pl-2" [attr.src]="StorageLocationMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : StorageLocationMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>
            <!-- <th>{{'description' | translate}}</th> -->
            <th style="width: 12%; text-align: center;">{{'status' | translate}}</th>
        </tr>
        <ng-container *mobxAutorun>
            <tr class="edit-and-delete-main pointer"
            (click)=" getStorageLocation(row.id)"  [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(2800,'UPDATE_STORAGE_LOCATION') ? '' : 'none'}"
                *ngFor="let row of StorageLocationMasterStore?.StorageLocation | paginate: {currentPage:StorageLocationMasterStore?.currentPage, itemsPerPage:StorageLocationMasterStore?.itemsPerPage,totalItems:StorageLocationMasterStore?.totalItems}; let num = index">
                <td style="text-align: center;">{{(StorageLocationMasterStore?.currentPage - 1) *
                    StorageLocationMasterStore?.itemsPerPage + (num + 1)}}</td>

                <td>{{row.title}}</td>

                <td style="padding:0.75rem; text-align: center;">
                    <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                    <div class="edit-option-show">
                        <a *ngIf="AuthStore.getActivityPermission(1100,'UPDATE_STORAGE_LOCATION')"
                            (click)=" getStorageLocation(row.id)" [attr.title]="'edit' | translate"><i
                                class="fas fa-pen pointer"></i></a>
                        <a *ngIf="AuthStore.getActivityPermission(1100,'DELETE_STORAGE_LOCATION')"
                            (click)="delete(row.id)" [attr.title]="'delete' | translate"><i class="fas fa-trash pointer"></i></a>
                        <a *ngIf="row.status_id == AppStore.inActiveStatusId && AuthStore.getActivityPermission(1100,'ACTIVATE_STORAGE_LOCATION')"
                            (click)="activate(row.id)" [attr.title]="'activate' | translate"><i class="fas fa-check pointer"></i></a>
                        <a *ngIf="row.status_id == AppStore.activeStatusId && AuthStore.getActivityPermission(1100,'DEACTIVATE_STORAGE_LOCATION')"
                            (click)="deactivate(row.id)" 
                            ><i class="fas fa-ban pointer"></i></a>
                    </div> 
                </td>
                <!-- <td>{{row.description}}</td>-->
            </tr>
        </ng-container>
    </table>

    </div>
    <p class="float-right" *ngIf="StorageLocationMasterStore?.loaded && StorageLocationMasterStore.totalItems > 0"><b>{{'total_Items' | translate}}:{{StorageLocationMasterStore?.totalItems}}</b></p>

    <ng-container *mobxAutorun>
        <div *ngIf="!StorageLocationMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data
            *ngIf="StorageLocationMasterStore.StorageLocation.length == 0 && StorageLocationMasterStore.loaded == true">
        </app-no-data>

    </ng-container>

    <div *ngIf="StorageLocationMasterStore.totalItems>StorageLocationMasterStore.itemsPerPage"
        class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate"
                    (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
        </ul>
    </div>
</div>

<!-- Modal part -->

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>

    <app-storage-locations-modal *ngIf="storageLocationsObject.type"
        [source]="storageLocationsObject">

    </app-storage-locations-modal>

</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>

<div class="modal modal-style-1 email-popup-new fade" data-backdrop="static" data-keyboard="false"
    id="email-notification-popup" #mailConfirmationPopup>
    <app-mail-send-popup [source]="mailConfirmationData"></app-mail-send-popup>
</div>