<div class="container-fluid">
<div class="bg-white p-3">
    <div class="row modal-dialog modal-lg modal-dialog-centered">
        <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="bg-white p-3">

            <div class="row">
                <div class="col-lg-9 col-sm-7">
                <div class="loder-section"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                    <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                        <div class="ph-row mb-0">

                            <div class="ph-col-8 big " style="height: 25px;"></div>
                            <div class="ph-col-4 big empty " style="height: 25px;"></div>
                            
                            
                        </div>

                        </div>
                    </div>
                    </div>
                </div>
                </div>

            
            </div>


    <div class="cmn-bdr mb-3 p-4"> 
        <div class="row">
            <div class="col-sm-5 col-lg-5">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-4  big "></div>
                            <div class="ph-col-1  big "></div>
                            <div class="ph-col-1 big empty "></div>
                            <div class="ph-col-6 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-1 "></div>
                            <div class="ph-col-2  "></div>
                            <div class="ph-col-1  "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-1  big "></div>
                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-1 big empty "></div>
                            <div class="ph-col-8 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-2 "></div>
                            <div class="ph-col-1 empty  "></div>
                            <div class="ph-col-1  empty "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-2 big  "></div>
                            <div class="ph-col-6 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-2 "></div>
                            <div class="ph-col-1 empty  "></div>
                            <div class="ph-col-1  empty "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-sm-6">   
                <div class="loder-section user-profile-sec mt-2"><!-- loder head&text single starts -->
                    <div class="loder-section-inner">
                    <div class="ph-item">
                        <div class="ph-col-12">
                        <div class="ph-row mb-0">
                            
                            <div class="ph-col-1 big"></div>
                            <div class="ph-col-4  big"></div>
                            <div class="ph-col-6  empty big"></div>
                            <div class="ph-col-1  empty big"></div>

                        </div>
                        </div>
                    </div>
                    </div>
                </div><!-- loder head&text single end -->
                </div>
            </div>

        <div class="row pb-3">
            <div class="col-lg-4 col-sm-5">
                <div class="loader-border ">
                <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item pb-0">
                            <div class="ph-col-12 pr-0">
                                <div class="ph-picture-md mb-0"></div>
                            </div>
                        </div>
                    </div>
                    </div><!-- loder pic end -->

                    <div class="loder-section pt-3 pb-3"><!-- loder starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item pl-3">
                        <div>
                            <div class="ph-row mb-0" style="padding-top: 1px;">
                                <div class="ph-col-10 "></div>
                                <div class="ph-col-2 empty"></div>
                                <div class="ph-col-10 "></div>
                                <div class="ph-col-2 empty "></div>
                                <div class="ph-col-4 mb-0"></div>
                                <div class="ph-col-8 empty mb-0"></div>
                            </div>
                            </div>
                            <div class="ph-col-2">
                            <div class="ph-avatar-doc mb-0"></div>
                            </div>
                        
                        </div>
                    </div>
                    </div>
                </div>
                </div>

            </div>

            <hr>
            <div class="row">
            <div class="col-lg-6 col-sm-6">
            <div class="loder-section-inner">
                <div class="ph-item pl-0">
                    <div class="ph-col-1 pr-0 pt-1">
                    
                    <div class="p-0 mr-2  user-pic-round rounded-circle" style="width: 40px; height: 40px;"></div>
                </div>
                    <div>
                    <div class="ph-row pt-2 mb-0">
                        <div class="ph-col-6 md"></div>
                        <div class="ph-col-6 md empty"></div>
                        <div class="ph-col-4 mb-0"></div>
                        <div class="ph-col-8 empty mb-0"></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>

    <div class="cmn-bdr mb-3 p-4"> 
        <div class="row">
            <div class="col-sm-5 col-lg-5">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-4  big "></div>
                            <div class="ph-col-1  big "></div>
                            <div class="ph-col-1 big empty "></div>
                            <div class="ph-col-6 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-1 "></div>
                            <div class="ph-col-2  "></div>
                            <div class="ph-col-1  "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-1  big "></div>
                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-1 big empty "></div>
                            <div class="ph-col-8 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-2 "></div>
                            <div class="ph-col-1 empty  "></div>
                            <div class="ph-col-1  empty "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="loder-section pb-2"><!-- loder head&text starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item  pl-0">
                        <div class="ph-col-12 pr-0">
                            <div class="ph-row mb-0">

                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-2  big "></div>
                            <div class="ph-col-2 big  "></div>
                            <div class="ph-col-6 big empty "></div>
                            
                            
                            </div>

                            <div class="ph-row ">

                            <div class="ph-col-2 "></div>
                            <div class="ph-col-1 empty  "></div>
                            <div class="ph-col-1  empty "></div>
                            <div class="ph-col-8 empty "></div>
                            
                            
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-sm-6">   
                <div class="loder-section user-profile-sec mt-2"><!-- loder head&text single starts -->
                    <div class="loder-section-inner">
                    <div class="ph-item">
                        <div class="ph-col-12">
                        <div class="ph-row mb-0">
                            
                            <div class="ph-col-1 big"></div>
                            <div class="ph-col-4  big"></div>
                            <div class="ph-col-6  empty big"></div>
                            <div class="ph-col-1  empty big"></div>

                        </div>
                        </div>
                    </div>
                    </div>
                </div><!-- loder head&text single end -->
                </div>
            </div>

        <div class="row pb-3">
            <div class="col-lg-4 col-sm-5">
                <div class="loader-border ">
                <div class="loder-section picher-loader-sec"><!-- loder pic starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item pb-0">
                            <div class="ph-col-12 pr-0">
                                <div class="ph-picture-md mb-0"></div>
                            </div>
                        </div>
                    </div>
                    </div><!-- loder pic end -->

                    <div class="loder-section pt-3 pb-3"><!-- loder starts -->
                    <div class="loder-section-inner">
                        <div class="ph-item pl-3">
                        <div>
                            <div class="ph-row mb-0" style="padding-top: 1px;">
                                <div class="ph-col-10 "></div>
                                <div class="ph-col-2 empty"></div>
                                <div class="ph-col-10 "></div>
                                <div class="ph-col-2 empty "></div>
                                <div class="ph-col-4 mb-0"></div>
                                <div class="ph-col-8 empty mb-0"></div>
                            </div>
                            </div>
                            <div class="ph-col-2">
                            <div class="ph-avatar-doc mb-0"></div>
                            </div>
                        
                        </div>
                    </div>
                    </div>
                </div>
                </div>

            </div>

            <hr>
            <div class="row">
            <div class="col-lg-6 col-sm-6">
            <div class="loder-section-inner">
                <div class="ph-item pl-0">
                    <div class="ph-col-1 pr-0 pt-1">
                    
                    <div class="p-0 mr-2  user-pic-round rounded-circle" style="width: 40px; height: 40px;"></div>
                </div>
                    <div>
                    <div class="ph-row pt-2 mb-0">
                        <div class="ph-col-6 md"></div>
                        <div class="ph-col-6 md empty"></div>
                        <div class="ph-col-4 mb-0"></div>
                        <div class="ph-col-8 empty mb-0"></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>


        </div>
        </div>
    </div>

</div>
</div>