<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    <app-sub-menu></app-sub-menu>
    <!-- <app-sub-menu-drop-down></app-sub-menu-drop-down> -->
</nav>
<main class="audit-program-details-page mt-3"
    *ngIf="CorrectiveActionsStore?.correctiveActionDetails && CorrectiveActionsStore.individualLoaded">
    <div class="container-fluid widget" *mobxAutorun>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 padding-right-0">
                        <div class="bg-white widg-padding-cmn">
                            <div class=" min-height-64">
                                <div class="widget-body-light issuue-new-style p-0">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="issue-top-sec">
                                                <div class="clearfix">
                                                    <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                                            class="issue-smoal-head-text">#
                                                            {{CorrectiveActionsStore?.correctiveActionDetails?.reference_code}}</span>
                                                        {{CorrectiveActionsStore?.correctiveActionDetails?.title}}
                                                        <span class="draft-tag label-tag-style-tag label-left-arow-tag"
                                                            style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;"
                                                            *ngFor="let sts of  CorrectiveActionsStore.correctiveActionDetails?.corrective_action_status?.language">
                                                            {{sts?.pivot?.title}}</span>
                                                    </h5>
                                                </div>
                                                <div class="clearfix">
                                                    <p class="label-tag-style mb-2"><i
                                                            class="fas fa-calendar-alt date-pics-two"></i>
                                                        {{CorrectiveActionsStore?.correctiveActionDetails?.start_date |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        To
                                                        {{CorrectiveActionsStore?.correctiveActionDetails?.target_date |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        <span
                                                            *ngIf="CorrectiveActionsStore?.correctiveActionDetails?.corrective_action_status?.type!='resolved' && CorrectiveActionsStore?.correctiveActionDetails?.corrective_action_status?.type!='closed'"
                                                            class="blinking">( {{getDaysRemaining()}}
                                                            {{'days remaining' | translate}} )
                                                        </span>
                                                        <!-- <span class="ml-2 mr-2"
                                            *ngIf="FindingCorrectiveActionStore.correctiveActionDetails?.corrective_action_status?.type!='resolved'&&FindingCorrectiveActionStore.correctiveActionDetails?.corrective_action_status?.type!='closed'">|</span> -->
                                                        <span class="small-text pt-1 pl-2"
                                                            *ngIf="CorrectiveActionsStore?.correctiveActionDetails?.corrective_action_status?.type!='resolved' && CorrectiveActionsStore?.correctiveActionDetails?.corrective_action_status?.type!='closed'">{{CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage?CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage:0}}
                                                            %
                                                            {{'completed' | translate}}
                                                        </span>
                                                    </p>
                                                </div>
                                                <p style="white-space: pre-wrap;">
                                                    {{CorrectiveActionsStore?.correctiveActionDetails?.description}}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="label-and-user-pic">
                                                        <h6>{{'responsible_user' | translate}}</h6>
                                                        <app-user-popup-box
                                                            [source]="assignUserValues(CorrectiveActionsStore.correctiveActionDetails?.responsible_user)">
                                                        </app-user-popup-box>
                                                    </div>
                                                </div>



                                                <div class="col-sm-12">
                                                    <h6 class="mt-3">{{'support_files' | translate}}</h6>
                                                    <p
                                                        *ngIf="CorrectiveActionsStore?.correctiveActionDetails?.documents.length==0">
                                                        {{AppStore.noContentText}}</p>

                                                    <div class="thumb-pics-bg thumb-pics-col-4 thumb-pics-fix-text clearfix"
                                                        style="padding-top: 0">
                                                        <div class="thumb-pics pointer"
                                                            *ngFor="let docs of CorrectiveActionsStore?.correctiveActionDetails?.documents;let i = index">

                                                            <!-- System Files Starts Here -->
                                                            <!-- <div class="upload-pics edit-option"
                                                                *ngIf="!docs.document_id"
                                                                (click)="viewDocument('corrective-action',docs,docs)"> -->
                                                            <div [ngClass]="AuthStore.getActivityPermission(100,'PREVIEW_FINDING_CORRECTIVE_ACTION_DOCUMENT_FILE') ? 'upload-pics upload-pics-small edit-option pointer' : 'upload-pics upload-pics-small edit-option'"
                                                                *ngIf="!docs.document_id"
                                                                (click)="AuthStore.getActivityPermission(100,'PREVIEW_FINDING_CORRECTIVE_ACTION_DOCUMENT_FILE') ? viewDocument('corrective-action',docs,docs): ''">
                                                                <div class="browse-form-pic"
                                                                    [ngStyle]="{'background': 'url('+createImageUrl('corrective-action',docs?.token)+') no-repeat'}">
                                                                </div>
                                                                <div class="browse-form-name clearfix">
                                                                    <div class="float-left">
                                                                        <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                                                        </h6>
                                                                        <span>{{docs.size/1048576 |
                                                                            number:'0.2-2'}}MB</span><span
                                                                            class="text-blue bold pl-2">System</span>
                                                                    </div>
                                                                    <div class="browse-logo">
                                                                        <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/jpg-icone.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/word-icone.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/pdf-icone.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/excel-icone.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-video.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-audio.png">
                                                                        <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                                                            class="folder-picher"
                                                                            src="/assets/images/md-ppt.png">
                                                                    </div>
                                                                </div>
                                                                <div class="edit-option-show-inner"
                                                                    *ngIf="AuthStore.getActivityPermission(900,'DOWNLOAD_FINDING_CORRECTIVE_ACTION_DOCUMENT')">
                                                                    <a><i class="fas fa-download"
                                                                            (click)="downloadDocumentFile('corrective-action',docs)"></i></a>
                                                                </div>
                                                            </div>

                                                            <!-- System Files Starts Here -->
                                                            <!-- KnowledgeHub Files Starts Here -->
                                                            <div class="upload-pics edit-option pointer"
                                                                *ngIf="docs.document_id">

                                                                <div *ngFor="let mainDoc of docs.kh_document.versions"
                                                                    (click)="viewDocument('document-version',docs,mainDoc)">
                                                                    <div *ngIf="mainDoc.is_latest">
                                                                        <div class="browse-form-pic"
                                                                            [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                                                        </div>
                                                                        <div class="browse-form-name clearfix">
                                                                            <div class="float-left">
                                                                                <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                                                                </h6>
                                                                                <span>{{mainDoc.size/1048576 |
                                                                                    number:'0.2-2'}}MB</span><span
                                                                                    class="text-blue bold pl-2">Knowledge
                                                                                    Hub</span>
                                                                            </div>
                                                                            <div class="browse-logo">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'image') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/jpg-icone.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/word-icone.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/pdf-icone.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/excel-icone.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'video') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/md-video.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/md-audio.png">
                                                                                <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1"
                                                                                    class="folder-picher"
                                                                                    src="/assets/images/md-ppt.png">
                                                                            </div>
                                                                        </div>
                                                                        <div class="edit-option-show-inner"
                                                                            *ngIf="AuthStore.getActivityPermission(900,'DOWNLOAD_FINDING_CORRECTIVE_ACTION_DOCUMENT')">
                                                                            <a><i class="fas fa-download"
                                                                                    (click)="downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- KnowledgeHub Files Ends Here -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6>{{'finding'|translate}}</h6>
                                                    <p>#{{CorrectiveActionsStore?.correctiveActionDetails?.findings.reference_code}}
                                                        {{CorrectiveActionsStore?.correctiveActionDetails?.findings.title?CorrectiveActionsStore?.correctiveActionDetails?.findings.title:AppStore.noContentText}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6>{{'finding_description'|translate}}</h6>
                                                    <p class="pt-1"
                                                        [innerHTML]="CorrectiveActionsStore?.correctiveActionDetails?.findings.description?CorrectiveActionsStore?.correctiveActionDetails?.findings.description:AppStore.noContentText">
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h6>{{'risk_rating' | translate}}</h6>
                                                    <p
                                                        [attr.class]="'dot-div-new mb-0 dot-'+CorrectiveActionsStore?.correctiveActionDetails?.findings.risk_rating?.label">
                                                        {{CorrectiveActionsStore?.correctiveActionDetails?.findings?.risk_rating?.language[0]?.pivot?.title}}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6>{{'finding_category' | translate}}</h6>
                                                    <p>{{CorrectiveActionsStore?.correctiveActionDetails?.findings.finding_category?.title}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <hr class="mb-2">
                                        <app-user-popup-box
                                            [source]=" getCreatedByPopupDetails(CorrectiveActionsStore?.correctiveActionDetails?.created_by, CorrectiveActionsStore?.correctiveActionDetails?.created_at)">
                                        </app-user-popup-box>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="bg-white widg-padding-cmn-small mb-3">
                            <h6>{{'corrective_action'|translate}} % {{'completed' | translate}}</h6>
                            <hr class="mt-0 mb-3">
                            <div
                                [ngClass]="CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage > 50 ?'progress-circle progress-circle-big-one over50 p'+CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage:'progress-circle progress-circle-big-one p'+CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage">
                                <span>{{CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage>0?CorrectiveActionsStore?.correctiveActionDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage:0}}%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white widg-padding-cmn-small mb-3 pb-2">
                            <h6>
                                {{'days_remaining' | translate}}</h6>
                            <hr class="mt-0 mb-3">
                            <div class="clearfix">
                                <div class="dot-and-text mt-4">
                                    <p class="dot-div-new mb-0 dot-green d-block font-normal">
                                        {{'remaining_days'|translate}}
                                        ({{getDaysRemaining()}}{{' days'}})
                                    </p>
                                    <p class="dot-div-new mb-0 dot-red d-block font-normal">{{'total_days'|translate}}
                                        ({{getTotaldays()}}{{' days'}})
                                    </p>
                                </div>
                            </div>
                            <div class="vertical-progress-v2">
                                <div class="progress-bg-sec">
                                    <div class="progress-inner-color" [style.height.%]="(40/100)*100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<ng-container *mobxAutorun>
    <div *ngIf="!CorrectiveActionsStore.individualLoaded">
        <app-corrective-action-loader></app-corrective-action-loader>
    </div>
</ng-container>

<!-- file preview modal call -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <button type="button" class="close" (click)="closePreviewModal($event)"><i
            class="lni-close"></i><span>esc</span></button>
    <app-audit-plan-preview-modal *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
    </app-audit-plan-preview-modal>
</div>

<!-- calling add Corrective Action modal -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #addCAformModal>
    <app-ca-add-modal *ngIf="actionPlanObject.type" [source]="actionPlanObject">
    </app-ca-add-modal>
</div>

<!-- ---------update----------- -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #UpdateCAformModal>
    <app-corrective-action-update-modal *ngIf="caUpdateObject.type" [source]="caUpdateObject">
    </app-corrective-action-update-modal>
</div>

<!-- ---------history--------- -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #historyPopup>
    <app-corrective-action-history-modal></app-corrective-action-history-modal>
</div>


<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>