<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" >{{'update_ms_audit_schedule' | translate}}</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <p class="mb-2">{{'kpi_approval_and_comments_can_help_the_user_to_update_the_kpi_score' | translate}}</p> -->
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">{{'start_date/time' | translate}}<span
                                    class="form-error">*</span></label>
                            <div class="input-group">
                                <input class="form-control" formControlName="new_date" [owlDateTime]="dt1"
                                    [owlDateTimeTrigger]="dt1" 
                                    [min]="minDate"
                                    [max]="maxDate"
                                    [placeholder]="'new_date/time' | translate" style="background-color: white;">
                                <owl-date-time [hour12Timer]="true" #dt1></owl-date-time>
                                <div class="input-group-append">
                                    <button [owlDateTimeTrigger]="dt1" class="btn btn-outline-secondary calendar"
                                        type="button"><i class="fas fa-calendar-alt"></i></button>
                                </div>
                            </div>
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.new_date">
                                {{formErrors.new_date}}
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">{{'end_date/time' | translate}}<span
                                    class="form-error">*</span></label>
                            <div class="input-group">
                                <input class="form-control" formControlName="new_end_date" [owlDateTime]="dt2"
                                    [owlDateTimeTrigger]="dt2" 
                                    [min]="minEndDateTimeValidator()"
                                    [max]="maxDate"
                                    [placeholder]="'end_date/time' | translate" style="background-color: white;">
                                <owl-date-time [hour12Timer]="true" #dt2></owl-date-time>
                                <div class="input-group-append">
                                    <button [owlDateTimeTrigger]="dt2" class="btn btn-outline-secondary calendar"
                                        type="button"><i class="fas fa-calendar-alt"></i></button>
                                </div>
                            </div>
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.new_end_date">
                                {{formErrors.new_end_date}}
                            </p>

                        </div>
                    </div>

                    
                    <!-- <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name"> {{'ms_audit_schedule_status' | translate}}<span class="form-error">*</span></label>
                            <div class="clearfix">
                                <div class="multiple-plain-ngselect">
                                    <ng-select [placeholder]="'select_ms_audit_schedule_status' | translate" 
                                        [multiple]="false"
                                        [items]="allStatusSchedule" formControlName="ms_audit_schedule_status_id"
                                        bindLabel="title" (open)="getMsAuditScheduleStatus()"
                                        (search)="searchMsAuditScheduleStatus($event)">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            {{item?.title?.length > 100 ? (item.title | slice:0:100)+' ...' : item.title}}
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            {{item?.title?.length > 100 ? (item.title | slice:0:100)+' ...' : item.title}}
                                        </ng-template>
                                    </ng-select>
                                    <p class="pt-1 form-error ng-star-inserted" style="color: red;" *ngIf="formErrors && formErrors.ms_audit_schedule_status_id">
                                        {{formErrors.ms_audit_schedule_status_id}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="clearfix">
                                <label class="float-left">{{'reason' | translate}}</label>
                                <span class="float-right">
                                    <p class="text-grey mb-0">{{form?.value.reason != null ?
                                        form?.value.reason?.length : 0}}
                                        {{'characters' | translate}}</p>
                                </span>
                            </div>
                            <textarea 
                                class="form-control" 
                                rows="3" 
                                id="comment1111"
                                [placeholder]="'write_a_short_comment_of_update_ms_audit_schedule'|translate" 
                                formControlName="reason"></textarea>
                        </div>
                        <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.reason"> {{formErrors.reason}}</p>
                    </div>

                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="button" data-toggle="modal" data-target="#signal-lost" class="btn"
                                (click)="save(true)" [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ?
                                getButtonText('loading') : getButtonText('update_close') }}</button>
                            <button type="button" data-toggle="modal" data-target="#error-message" class="btn"
                                (click)="cancel()">{{ AppStore.loading ? getButtonText('loading') :
                                getButtonText('cancel') }}</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- Modal footer -->
    </div>
</div>