
<button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered" *mobxAutorun>
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">{{title | translate | titlecase}}</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body form-body">
         <p>{{body}}</p>
          <div class="row" *ngIf="ProjectWorkflowStore.type=='revert'">
              <div class="col-sm-12">
                <div class="form-group">
                 
                    <label for="name">{{'revert_to_level' | translate}}<sup>*</sup></label>
                    <div class="clearfix">
                      <div class="multiple-plain-ngselect">
                        <ng-select [placeholder]="'select_level' | translate" name="test"  [(ngModel)]="level">
                          <ng-option [value]="i" *ngFor="let i of levelArray">
                            L{{i}}
                          </ng-option>
                        </ng-select>
                        <p class="form-error pt-1" *ngIf="formErrors&&formErrors.revert_to_level">
                          {{formErrors.revert_to_level[0]}}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- starts -->
          <div *ngIf="ProjectWorkflowStore.type=='revert' || ProjectWorkflowStore.type=='reject'">
         <div class="row mb-3" *ngFor="let cmt of comementObj; let num = index">

            <div class="col-lg-4 col-sm-6">
               <div class="form-group mb-0">
                  <div class="Preview-checkbox clearfix">
                     <label class="container2 remember-txt float-left pl-4">
                     <input type="checkbox" [(ngModel)]="cmt.checked">
                     <span class="checkmark" style="margin-top: 1px;"></span> {{cmt.title}}</label>
                     </div>
                  </div>   
            </div>
            <div class="col-lg-8 col-sm-6">
               <div class="form-group" *ngIf="cmt.checked">
                  <textarea class="form-control" rows="3" id="comment6" [placeholder]="'enter_comment' | translate" [(ngModel)]="cmt.commets"></textarea>
               </div>
            </div>
           
         </div>
      </div>
        <div class="row" *ngIf="ProjectWorkflowStore.type=='approve' || ProjectWorkflowStore.type =='submit'" >
         <div class="col-sm-12">
            <div class="form-group add-kpi-textarea">
               <label>{{'comments' | translate}}</label>
               <textarea class="form-control" rows="11" id="comment6" [placeholder]="'Write short comments of the project' | translate" [(ngModel)]="comments"></textarea>
            </div>
            <p class="form-error" *ngIf="formErrors">{{formErrors.message}}</p>
         </div>
        </div>
   
        
        
         <div class="row">
            <div class="col-sm-12">
               <div class="d-block justify-content-left border-0 mt-3">
                  <button type="button" data-toggle="modal" data-target="#signal-lost"
                  class="btn ordinary-btn mr-3"  (click)="save(true)"
                  [disabled]="AppStore.loading || ProjectWorkflowStore.type == 'revert'&& !validationCheck()&&!comments">{{ AppStore.loading  ? getButtonText('loading') : getButtonText(title) }}</button> 
                
                  <button type="button" data-toggle="modal" data-target="#error-message"
                  class="btn ordinary-btn mr-2"
                  (click)="cancel()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal footer -->
   </div>
</div>
