<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/bcm']"><a>{{'bcm' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'test_and_exercise_action_plan_status' | translate}}</li>
        </ol>
    </nav>

    <table class="table-master table"
    *ngIf="TestAndExerciseActionPlanStatusMasterStore?.loaded && TestAndExerciseActionPlanStatusMasterStore.allItems.length > 0">
    <tr>
        <th style="width: 5%; text-align: center;">{{'sl' | translate}}</th>
        <th (click)="sortTitle('test-and-exercise-action-plan-statuses.title')"
            class="border-top-0 issue-list-org-tab-three pointer" style="width: 30%;">
            <span>{{'test_and_exercise_action_plan_status' | translate}}</span>
            <img _ngcontent-twv-c17="" *ngIf="TestAndExerciseActionPlanStatusMasterStore.orderItem=='test-and-exercise-action-plan-statuses.title'" class="sort-down-pics pl-2" [attr.src]="TestAndExerciseActionPlanStatusMasterStore.orderBy=='desc' ? 
            'assets/images/sort-up.png' : TestAndExerciseActionPlanStatusMasterStore.orderBy=='asc' ? 
            'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
        </th>
        <th style="width: 7%;">{{'status' | translate}}</th>
    </tr>
    <ng-container *mobxAutorun>
        <tr class="edit-and-delete-main"
            *ngFor="let row of TestAndExerciseActionPlanStatusMasterStore?.allItems | paginate: {currentPage:TestAndExerciseActionPlanStatusMasterStore?.currentPage, itemsPerPage:TestAndExerciseActionPlanStatusMasterStore?.itemsPerPage,totalItems:TestAndExerciseActionPlanStatusMasterStore?.totalItems}; let num = index">
            <td style="text-align: center;">{{(TestAndExerciseActionPlanStatusMasterStore?.currentPage - 1) *
                TestAndExerciseActionPlanStatusMasterStore?.itemsPerPage + (num + 1)}}</td>
            <td>{{row.title}}</td>
            <td style="padding:0.75rem;">
                <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                <div class="edit-option-show">
                    <a *ngIf="row.status_id == AppStore.inActiveStatusId && AuthStore.getActivityPermission(2800,'ACTIVATE_TEST_AND_EXERCISE_ACTION_PLAN_STATUS')"
                        (click)="activate(row.id)" [attr.title]="'activate' | translate"><i class="fas fa-check pointer"></i></a>
                    <a *ngIf="row.status_id == AppStore.activeStatusId && AuthStore.getActivityPermission(2800,'DEACTIVATE_TEST_AND_EXERCISE_ACTION_PLAN_STATUS')"
                        (click)="deactivate(row.id)" [attr.title]="'deactivate' | translate"><i class="fas fa-ban pointer"></i></a>
                </div> 
            </td>
        </tr>
    </ng-container>
</table>
<p class="float-right" *ngIf="TestAndExerciseActionPlanStatusMasterStore?.loaded && TestAndExerciseActionPlanStatusMasterStore.totalItems > 0"><b>{{'total_Items' | translate}}:{{TestAndExerciseActionPlanStatusMasterStore?.totalItems}}</b></p>

    <ng-container *mobxAutorun>
        <div *ngIf="!TestAndExerciseActionPlanStatusMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data *ngIf = "TestAndExerciseActionPlanStatusMasterStore.totalItems == 0 && TestAndExerciseActionPlanStatusMasterStore.loaded == true"></app-no-data>
    </ng-container>

    <div *ngIf="TestAndExerciseActionPlanStatusMasterStore.totalItems>TestAndExerciseActionPlanStatusMasterStore.itemsPerPage" class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate"  [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> 
            </div>
        </ul>
    </div>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>
<!------------------- Delete Confirmation Modal End --------------------------->


