    <button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>esc</span></button>
    <div class="modal-dialog modal-full modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- <h4 class="modal-title mb-2">Preview</h4> -->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">

                <div class="row">
                    <div class="col-lg-8 col-sm-12 mb-3">

                        <div class="bg-white">
                            <div class="issue-top-sec">
                                <div class="d-flex flex-wrap justify-content-between">
                                    <h5 class="d-inline-block cmn-head-style label-tag-style">
                                        <span class="issue-smoal-head-text">{{ProjectMonitoringStore.individualDetails?.reference_code }}</span> {{ProjectMonitoringStore.individualDetails?.title }} 
                                        <span [ngClass]="'dot-div '+ProjectMonitoringStore.individualDetails?.project_monitoring_status?.label+'-dot'">{{ProjectMonitoringStore.individualDetails?.project_monitoring_status?.language[0]?.pivot?.title}}</span>
                                    </h5>

                                    <!-- edit-and-delete end -->
                                    <!-- <div class="btn-toolbar two-btnz mb-2">
                                        <button type="button"><i class="fas fa-eye"></i> Preview</button>
                                        <button type="button"><i class="fas fa-list"></i> Workflow</button>
                                    </div> -->
                                </div>
                                <div class="clearfix">
                                    <p class="label-tag-style mb-2"><i class="fas fa-calendar-alt date-pics-two"></i>{{ProjectMonitoringStore.individualDetails?.start_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}} - {{ProjectMonitoringStore.individualDetails?.target_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}} </p>
                                </div>
                                <p style="white-space: pre-wrap;">{{ProjectMonitoringStore.individualDetails?.description ? ProjectMonitoringStore.individualDetails?.description : AppStore.noContentText }}
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <h6>{{'pm_project_type'|translate}}</h6>
                                    <p>{{ ProjectMonitoringStore.individualDetails?.project_type?.is_budgeted == 1? 'Budgeted' : 'Non-budgeted'}}</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <h6>{{'project_contract_type'|translate}}</h6>
                                    <p>{{ProjectMonitoringStore.individualDetails?.project_contract_type ? ProjectMonitoringStore.individualDetails?.project_contract_type?.language[0]?.pivot?.title : AppStore.noContentText }}</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <h6>Owner Department</h6>
                                    <p>{{ProjectMonitoringStore.individualDetails?.departments ? ProjectMonitoringStore.individualDetails?.departments[0]?.title : AppStore.noContentText }}</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <h6>{{'projects_location'|translate}} </h6>
                                    <p>{{ProjectMonitoringStore.individualDetails?.location ? ProjectMonitoringStore.individualDetails?.location.title : AppStore.noContentText }}</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <h6> {{'project_priority'|translate}}</h6>
                                    <p>{{ProjectMonitoringStore.individualDetails?.project_priority ? ProjectMonitoringStore.individualDetails?.project_priority?.language[0]?.pivot?.title : AppStore.noContentText }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>{{'pm_expected_outcomes'|translate}}</h6>
                                    <ul *ngIf="ProjectMonitoringStore.expectedOutcomes?.length > 0" class="arrowlist mt-0 p-0">
                                        <li *ngFor="let expectedOutcome of ProjectMonitoringStore.expectedOutcomes;let num = index">
                                            {{expectedOutcome.title}}
                                        </li>
                                       
                                    </ul>
                                    <div class="col-md-6 text-left">
                                        <ng-container *mobxAutorun>
                                            <app-context-no-data  *ngIf="ProjectMonitoringStore.expectedOutcomes?.length == 0" [sourceData]="noDataSourceOutcome"></app-context-no-data>
                                          </ng-container>
                                      </div>
                                </div>
                                <div class="col-sm-12">
                                    <h6>{{'pm_deliverables'|translate}}</h6>
                                    <ul *ngIf="ProjectMonitoringStore.deliverables?.length > 0" class="arrowlist mt-0 p-0">
                                        <li *ngFor="let deliverable of ProjectMonitoringStore.deliverables;let num = index">{{deliverable.title}}
                                        </li>
                                    </ul>
                                    <div class="col-md-6 text-left">
                                        <ng-container *mobxAutorun>
                                            <app-context-no-data  *ngIf="ProjectMonitoringStore.deliverables?.length == 0" [sourceData]="noDataSourceDeli"></app-context-no-data>
                                          </ng-container>
                                      </div>
                                </div>
                                <div class="col-sm-12">
                                    <h6>Strategic Alignment</h6>
                                    <div class="common-tab-md clearfix bg-body-color-menu mb-3 tab-same-height">
                                       <div class="tab-common-left-md">
                                           <div class=" issues-tab">
                                               <!-- tab menu start -->
                                               <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                                                   <li (click)="selectTheme(i,f.id)" *ngFor="let f of ProjectMonitoringStore.strategicAlignment;let i = index" class="nav-item"> <a [ngStyle]="{'background-color' : f.theme?.label}"  [ngClass]="selectedThemePos == i ? 'nav-link text-white  active show' : 'nav-link text-white '" data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="true" data-original-title="" title="">Theme 1 </a>
                                                   </li>
                                                  
                                               </ul>
                                           </div>
                                           <!-- tab menu end -->
                                       </div>


                                       <div class="tab-common-left-content-m bg-white cmn-bdr p-0">
                                        <ng-container  *mobxAutorun>
                                              <app-report-no-data *ngIf="ProjectMonitoringStore.strategicAlignment?.length == 0" [height]="false" [source]="themeNodata"  [border]="false"></app-report-no-data>
                                         </ng-container>
                                           <div *ngIf = "ProjectMonitoringStore.strategicAlignment?.length > 0 && AuthStore.getActivityPermission(3700,'PROJECT_STRATEGIC_ALIGNMENT_LIST')" class="tab-content">
                                               <div  *ngFor="let f of ProjectMonitoringStore.strategicAlignment;let i = index"  [ngClass]="selectedThemePos == i ? 'tab-pane theme1 fade active show' : 'tab-pane theme1 fade'" id="strategic-tab-one" role="tabpanel">
                                                <div [ngStyle]="{'background-color' : f.theme?.label}" class="widg-padding-cmn-small  profile-widg-padding tab-content-body border-none  edit-and-delete-main ">

                                                    <h6>Objectives</h6>
                                                    <div class="row">
                                                         <div class="col-md-12">

                                                            <div class="panel-group panel-drop-sections panel-drop-white" id="jd" role="tablist" aria-multiselectable="true">
                                                                  <div class="panel panel-default" *ngFor=" let o of f.project_strategic_objectives;let ind = index">
                                                                      <div [ngClass]="selectedObjectiveIndex == ind ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne">
                                                                         <div class="panel-title" >
                                                                            <a role="button" data-toggle="collapse" [attr.aria-expanded]="selectedObjectiveIndex == ind ? 'true' : 'false'"  aria-expanded="false" aria-controls="collapseOne" (click)="selectObjectiveIndexChange(ind,o.id)"
                                                                            [ngClass]="selectedObjectiveIndex == ind ? '' : 'collapsed'">
                                                                               <h5 class="width96pc mt-0">{{o.objective?.language[0].pivot?.title ? o.objective?.language[0].pivot?.title : AppStore.noContentText}}<span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                                                                            </a>
                                                                         </div>
                                                                      </div>
                                                                      <div [attr.id]="'objective'+ind" [ngClass]="selectedObjectiveIndex == ind ? 'drop-detail-sec panel-collapse collapse show' : 'drop-detail-sec panel-collapse collapse'" role="tabpanel" aria-labelledby="headingOne" data-parent="#strategic-acd-01">
                                                                         <div class="panel-body bg-white">
                                                                            <ul class="arrowlist mt-0 p-0 mb-0">
                                                                                <li *ngFor="let k of o.project_strategic_kpis">{{k.kpi?.language[0].pivot?.title ? k.kpi?.language[0].pivot?.title : AppStore.noContentText}}</li>
                                                                                
                                                                            </ul>
                                                                         </div>
                                                                      </div>
                                                                   </div>
                                                                
                                                                     
                                                                     
                                                                  </div>


                                                         </div>
                                                      </div>

                                                </div>
                                               </div>
                                             
                                           </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    <h6>Scope  of work</h6>
                                    <div class="common-tab-md clearfix bg-body-color-menu mb-3 tab-same-height">
                                       <div class="tab-common-left-md">
                                           <div class=" issues-tab">
                                               <!-- tab menu start -->
                                               <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                                                <li class="nav-item" > <a class="nav-link active" (click)="gotoSection('in_scope')" data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false">{{'In scope' | translate}}</a>
                                                </li>
                                                <li class="nav-item" > <a class="nav-link" (click)="gotoSection('out_scope')" data-toggle="tab" role="tab" aria-controls="ipsum" aria-selected="false">{{'Out of scope' | translate}}</a>
                                                </li>
                                                <li class="nav-item" > <a class="nav-link" (click)="gotoSection('assumption')" data-toggle="tab" role="tab" aria-controls="ipsum" aria-selected="false">{{'Assumptions' | translate}}</a>
                                                </li>
                                               </ul>
                                           </div>
                                           <!-- tab menu end -->
                                       </div>


                                       <div class="tab-common-left-content-m bg-white cmn-bdr widg-padding-cmn-small" style="min-height: 230px;">
                                           <div class="tab-content">
                                               <div *ngIf="selectedSection=='in_scope'" class="tab-pane fade active show" id="scope-tab-one" role="tabpanel">

                                                    <ul class="arrowlist mt-0 p-0">
                                                        <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index">
                                                            <span *ngIf="inScope.type == 'in_scope'">{{inScope.title}}</span>
                                                        </li>
                                                    </ul>
                                                    <ng-container>
                                                        <app-report-no-data *ngIf="ProjectMonitoringStore.scopeOfWorks?.length == 0" [height]="false" [source]="noInscope"  [border]="false"></app-report-no-data>
                                                    </ng-container>

                                               </div>
                                               <div  *ngIf="selectedSection=='out_scope'" class="tab-pane fade active show" id="scope-tab-two" role="tabpanel">
                                                    <ul class="arrowlist mt-0 p-0">
                                                        <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index"><span *ngIf="inScope.type == 'out_scope'">{{inScope.title}}</span></li>
                                                        
                                                    </ul>
                                                    <ng-container>
                                                        <app-report-no-data *ngIf="ProjectMonitoringStore.scopeOfWorks?.length == 0" [height]="false" [source]="noOutscope"  [border]="false"></app-report-no-data>
                                                    </ng-container>
                                                </div>
                                                <div *ngIf="selectedSection=='assumption'" class="tab-pane fade active show" id="scope-tab-three" role="tabpanel">
                                                    <ul class="arrowlist mt-0 p-0">
                                                        <li *ngFor="let inScope of ProjectMonitoringStore.scopeOfWorks;let num = index"><span *ngIf="inScope.type == 'assumption'">{{inScope.title}}</span></li>
                                                    </ul>
                                                    <ng-container>
                                                        <app-report-no-data *ngIf="ProjectMonitoringStore.scopeOfWorks?.length == 0" [height]="false" [source]="noAssumption"  [border]="false"></app-report-no-data>
                                                    </ng-container>
                                                </div> 
                                           </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    <h6>Risk Management</h6>
                                    <div class="audit-form-table w-100 not-fixed-table mb-3">
                                        <table *ngIf="RiskStore.allItems?.length > 0" class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                          <thead>
                                             <tr>
                                                <th class="border-top-0" width="4%">#</th>
                                                <th class="border-top-0" width="40%">Risk</th>
                                                <th class="border-top-0 text-center" width="16%">Risk Rating</th>
                                                <th class="border-top-0" width="40%">Risk Resolving Plan</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                           <tr *ngFor="let items of RiskStore.allItems| paginate: {currentPage:RiskStore.currentPage, itemsPerPage:RiskStore.itemsPerPage,totalItems:RiskStore.totalItems};let num=index">
                                              <td class="text-center">{{(num + 1)}}</td>
                                              <td>{{items.title? items.title : 'NA'}}</td>
                                              <td class="text-center"><div [ngClass] = "'dot-div '+items.label+'-dot'">{{items.risk_rating_title? items.risk_rating_title : 'NA'}}</div></td>
                                              <td style="white-space: pre-wrap;">{{items.risk_resolving_plan? items.risk_resolving_plan : 'NA'}}</td>
                                           </tr>
                                       
                                          </tbody>
                                       </table>
                                       <ng-container  *mobxAutorun>
                                          <app-no-data-list *ngIf="RiskStore.allItems?.length == 0" [source]="riskNodata"  [border]="false" [height]="false" ></app-no-data-list>
        
                                     </ng-container>
                                     </div>
                                </div>

                                <div class="col-sm-12">
                                    <h6>Budget & Payment Allocation</h6>
                                    <div class="audit-form-table w-100 not-fixed-table mb-3">
                                        <table *ngIf="BudgetStore.payment?.length > 0" class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                          <thead>
                                             <tr>
                                                <th class="border-top-0" width="4%">#</th>
                                                <th class="border-top-0" width="8%">Year</th>
                                                <th class="border-top-0" width="30%">Milestone</th>
                                                <th class="border-top-0" width="10%">Budget</th>
                                                <th class="border-top-0" width="8%">Q1</th>
                                                <th class="border-top-0" width="8%">Q2</th>
                                                <th class="border-top-0" width="8%">Q3</th>
                                                <th class="border-top-0" width="8%">Q4</th>
                                                <th class="border-top-0" width="16%">Total</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                           <tr *ngFor="let pay of BudgetStore.payment;let num = index" >
                                            <td class="pointer text-center">{{num+1}}</td>
                                            <td  class="pointer">{{pay.year}}</td>
                                              <td class="pointer">{{pay.project_milestone_title}}</td>
                                              <td class="pointer">{{pay.total ? pay.total : 0}}</td>
                                              <td class="pointer">{{pay.q1 ? pay.q1 : 0}}</td>
                                              <td class="pointer">{{pay.q2 ? pay.q2 : 0}}</td>
                                              <td class="pointer">{{pay.q3 ? pay.q3 : 0}}</td>
                                              <td class="pointer">{{pay.q4 ? pay.q4 : 0}}</td>
                                              <td class="pointer">{{pay.payment_total}}
                                           </tr>
                                           <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td colspan="4" class="text-center">Grand Total</td>
                                              <td>{{getGrandTotal()}}</td>
                                           </tr>
                                           
                                           
                                          </tbody>
                                       </table>
                                       <ng-container  *mobxAutorun>
                                       
                                          <app-report-no-data *ngIf="BudgetStore.payment?.length == 0"[source]="paymentNodata"  [border]="false" [height]="false"></app-report-no-data>
    
                                     </ng-container>
                                     </div>
                                    
                                </div>
                            </div>



                        </div>
                        
                    </div>
                    <div class="col-lg-4 col-sm-12 cmn-bdr-left-sm-hide">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                    <h6>Stakeholder</h6>
                                    <div class="audit-form-table w-100 not-fixed-table mb-3">
                                        <table *ngIf="StakeholderStore.allItems?.length > 0" class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                          <thead>
                                             <tr>
                                                <th class="border-top-0" width="4%">#</th>
                                                <th class="border-top-0" width="96%">Stakeholder</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                           <tr *ngFor="let items of StakeholderStore.allItems;let num = index">
                                              <td class="text-center">{{num+1}}</td>
                                              <td>{{items.title}}</td>
                                           </tr>
                                          </tbody>
                                       </table>
                                       <ng-container  *mobxAutorun>
                                          <app-report-no-data *ngIf="StakeholderStore.allItems?.length == 0" [source]="stakeholderNodata"  [border]="false" [height]="false" ></app-report-no-data>
                                             </ng-container>
                                     </div>
                                </div>

                                <div class="col-sm-12">
                                    <h6>Milestone</h6>
                                    <div class="audit-form-table w-100 not-fixed-table mb-3">
                                        <table *ngIf="ProjectMilestoneStore.milesstones?.length > 0 && AuthStore.getActivityPermission(3700, 'PROJECT_MILESTONE_LIST')" class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                          <thead>
                                             <tr>
                                                <th class="border-top-0" width="4%">#</th>
                                                <th class="border-top-0" width="66%">Milestone</th>
                                                <th class="border-top-0" width="30%">Finish Date</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                           <tr *ngFor="let milestone of ProjectMilestoneStore.milesstones;let num = index; let last = last">
                                              <td class="text-center">{{num+1}}</td>
                                              <td>{{milestone.title}}</td>
                                              <td>{{milestone.due | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</td>
                                           </tr>
                                          
                                          </tbody>
                                       </table>
                                       <ng-container  *mobxAutorun>
                                          <app-report-no-data *ngIf="ProjectMilestoneStore.milesstones?.length == 0" [height]="false" [source]="mileStoneNodata"  [border]="false"></app-report-no-data>
                                             </ng-container>
                                     </div>
                                </div>

                                <div class="col-sm-12">
                                    <h6>Project Team</h6>
                                    <div  class="cmn-bdr bg-white widg-padding-cmn-small mb-3">
                                        <div *ngIf="ProjectTeamStore?.projectManagers?.project_manager && ProjectTeamStore.projectAssistantManagers?.project_assistant_managers && ProjectTeamStore.projectMembers?.project_members">
                                            <div class="label-and-user-pic">
                                                <h5>Project Manager</h5>
                                                <div class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                  <app-user-popup-box [source]="getPopupDetails(ProjectTeamStore?.projectManagers?.project_manager)" [showName] = "true" [activateButtons] = "false"></app-user-popup-box>
  
                                                </div>
                                            </div>
  
  
                                            <h5>Assistant Managers</h5>
                                            <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix mb-3">
                                             <li *ngFor="let item of ProjectTeamStore?.projectAssistantManagers?.project_assistant_managers" class="rounde-hov-bg">
                                                 <a>
                                                  <app-user-popup-box [source]="getPopupDetails(item)" [showName] = "false" [activateButtons] = "false"></app-user-popup-box></a>
                                                 
                                             </li>
                                         </ul>
  
                                         <h5>Project Memebers</h5>
                                            <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix mb-3">
                                             <li *ngFor="let item of ProjectTeamStore?.projectMembers?.project_members" class="rounde-hov-bg">
                                                 <a>
                                                  <app-user-popup-box [source]="getPopupDetails(item)" [showName] = "false" [activateButtons] = "false"></app-user-popup-box>                                                </a>
                                                 
                                             </li>
                                         </ul>
                                        </div>
                                        <ng-container  *mobxAutorun>
                                            <app-report-no-data *ngIf="!ProjectTeamStore?.projectManagers?.project_manager" [height]="false" [source]="noDataSourceTeam"  [border]="false"></app-report-no-data>
          
                                       </ng-container>

                                       <hr class="cmn-bdr-top-2">

                                       <h5>External Users</h5>
                                       <div *ngIf="ExternalUsersStore?.allItems?.length > 0">
                                       <div *ngFor="let item of ExternalUsersStore?.allItems" class="cmn-bdr widg-padding-cmn-small border-radius mb-2">
                                          <div class="row sm-row">
                                            <div class="col-lg-6 col-sm-6 sm-col">
                                                <h5>{{ item?.name }}</h5>
                                                <p>{{ item?.phone_number }}</p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 sm-col">
                                                <h5>Designation</h5>
                                                <p>{{ item?.designation ? item?.designation : AppStore.noContentText }}</p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 sm-col">
                                                <h5>Email</h5>
                                                <p>{{ item?.email }}</p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 sm-col">
                                                <h5>Company Name</h5>
                                                <p>{{ item?.company }} </p>
                                            </div>
                                          </div>
                                       </div>
                                    </div>
                                    <ng-container  *mobxAutorun>
                                          <app-report-no-data *ngIf="ExternalUsersStore?.allItems?.length == 0" [height]="false" [source]="noDataSource"  [border]="false"></app-report-no-data>
        
                                     </ng-container>
                                       <a *ngIf="ExternalUsersStore?.allItems?.length > 2" class="view-more-pestel-box text-center">View More</a>


                                    </div>
                                </div>



                        </div>

                    </div>
                </div>
                
                

                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="button"  class="btn btn-active">Save</button>
                            <button type="button"  class="btn">Save &amp; Close</button>
                            <button type="button" data-toggle="modal"  class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- Modal footer -->
        </div>
    </div>
