<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
     <!-- START TAB LIST  -->
     <div class="dropdown edit-dropdown d-lg-none drop-menu-left-head">
         <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle" data-toggle="dropdown">{{AppStore.pageTitle}}<i
               class="fas fa-chevron-circle-down ml-2"></i></a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
 
          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs',AuditProgramMasterStore.auditProgramId]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'info' | translate}}</a>
 
        
          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/auditable-items']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'auditable_items' | translate}}</a>


          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/auditors']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'auditor' | translate}} </a>


          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/audit-plan']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'audit_plans' | translate}}  </a>


          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/audits']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'audits' | translate}}  </a>

          <a class="dropdown-item" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/findings']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'findings' | translate}}  </a>
 
         </div>
      </div>
      <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      
       <li class="nav-item">
          <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs',AuditProgramMasterStore.auditProgramId]"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'info' | translate}} </a>
      </li>
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/auditable-items']"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'auditable_items' | translate}}</a>
     </li>

     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/auditors']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'auditor' | translate}}</a>
  </li>


     <li class="nav-item">
      <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/audit-plan']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'audit_plans' | translate}} </a>
  </li>

  <li class="nav-item">
   <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/audits']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'audits' | translate}}  </a>
</li>

<li class="nav-item">
   <a class="nav-link nav-link-show" [routerLink]="['/internal-audit/audit-programs/'+AuditProgramMasterStore.auditProgramId+'/findings']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'findings' | translate}}  </a>
</li>

     
   
 
      </ul>
 
      <!-- END TAB LIST -->
 
     <app-sub-menu></app-sub-menu>
     <!-- <app-sub-menu-drop-down></app-sub-menu-drop-down> -->
 
 </nav>
 
 <main class="audit-program-details-page mt-3">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12">
              <div class="tab-content issuue-new-style p-0">
                <router-outlet></router-outlet>
              </div>
           </div>
        </div>
 
     </div>
  </main>