<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
    <app-breadcrumb-menu></app-breadcrumb-menu>
   <app-sub-menu>-</app-sub-menu>
   <ul class="nav nav-pills float-left d-none d-lg-block" role="tablist">
      <li class="nav-item">
         <a class="nav-link nav-link-show" [routerLink]="['/strategy-management/strategy-profiles/'+StrategyStore.strategyProfileId]"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'info' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/strategy-management/strategy-profiles/'+StrategyStore.strategyProfileId+'/focus-areas']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="OrganizationModulesStore.checkIndividualSubModule(3200,53001)">{{'focus_area' | translate}}</a>
     </li>
     <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/strategy-management/strategy-profiles/'+StrategyStore.strategyProfileId+'/objectives']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="OrganizationModulesStore.checkIndividualSubModule(3200,53101)">{{'objectives' | translate}}</a>
     </li>
     <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/strategy-management/strategy-profiles/'+StrategyStore.strategyProfileId+'/initiatives']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'initiatives' | translate}}</a>
     </li>
     <li class="nav-item">
        <a class="nav-link nav-link-show" [routerLink]="['/strategy-management/strategy-profiles/'+StrategyStore.strategyProfileId+'/action-plans']"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'milestone_action_plan' | translate}}</a>
     </li>
   </ul>
</nav>
<main class="audit-program-details-page mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="tab-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>