<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    <ul class="nav nav-pills float-left  d-none d-lg-block" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/project-management/project-time-trackers']" data-toggle="pill" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
               >{{'info' | translate}}</a>
        </li>
    </ul>
    <app-sub-menu></app-sub-menu>
</nav>
<app-time-tracker-details-loader *ngIf="!TimeTrackerStore?.individualLoaded" ></app-time-tracker-details-loader>
<main 
 class="audit-program-details-page mt-3"  *mobxAutorun>
 <div class="container-fluid mb-3"  *ngIf="TimeTrackerStore?.individualLoaded">
    <div class="row">
       <div class="col-lg-9 col-sm-12 padding-right-0">
          <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow min-height-83">
             <h5 class="cmn-head-style m-0">{{'user_wise' | translate}}</h5>
             <hr>
             <div class="w-100">
                <div class="no-fixed-table" *ngIf="TimeTrackerStore.users.length > 0">
                   <table class="table table-bordered ordinary-table cmn-table-style mb-2">
                      <tr>
                         <th class="border-top-0 text-center" width="3%">#</th>
                         <th class="border-top-0" width="84%">{{'resources' | translate}}</th>
                         <th class="border-top-0 text-center" width="13%">{{'man_days' | translate}}</th>
                      </tr>
                      <tr *ngFor="let item of TimeTrackerStore?.users; let num=index">
                         <td class="text-center">{{num+1}}</td>
                         <td class="pointer">
                           <app-user-popup-box  [source]="getPopupDetails(item)"></app-user-popup-box>
                           
                          
                              <p *ngIf="!item?.resource_first_name">{{AppStore.noContentText}}</p>
                         </td>
                         <td class="text-center">{{item?.total_days}}</td>
                      </tr>
                      
                   </table>
                   
                </div>
                <div *ngIf="TimeTrackerStore.users?.length==0">
                  <app-no-data></app-no-data>
                </div>
             </div>
          </div>
          
       </div>
       <div class="col-lg-3 col-sm-12">
          <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow">
             <h5 class="cmn-head-style m-0"> {{'total_time_spend_for_project' | translate}}</h5>
             <hr>
             <div class="text-center ia-db-finding-department db-md-screen-center">
                <div class="w-100">
                   <a *ngIf="TimeTrackerStore?.projectTime.length"
                   (click)="openTimeTrackerDetailsModal()">
                      <h6 class="mb-0 text-green text-20">{{TimeTrackerStore?.projectTime[0]?.project_time}}</h6>
                      <p class="mb-0 text-black">{{'days' | translate}}</p>
                   </a>
                   <a *ngIf="TimeTrackerStore?.projectTime.length==0" >
                    
                     <p class="mb-0 text-black">NA</p>
                  </a>
                </div>
             </div>
          </div>
          <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow">
             <h5 class="cmn-head-style m-0"> {{'activity_wise' | translate}}</h5>
             <hr>
             <div class="text-center ia-db-finding-department db-md-screen-center grc-audit-box-two-height">
                <div class="w-100">
                   <div *ngIf="TimeTrackerStore?.activities.length" id="activity-pie" style="height: 185px;"></div>
                   <app-no-chart-data *ngIf="TimeTrackerStore?.activities.length==0" [source]="activityChart"></app-no-chart-data>
                </div>
             </div>
          </div>
       </div>
    </div>
   
 </div>
 <div class="modal modal-style-1 popup-full-width fade" id="process-popup" data-keyboard="false" data-backdrop="static"
    #detailModal *mobxAutorun>
    <app-project-time-tracker-details [source] ="timeTrackerDetailsObject" *ngIf="timeTrackerDetailsObject.id" ></app-project-time-tracker-details>
    
   </div>
   

</main>
<div class="modal modal-style-1 popup-full-width fade" id="time-tracker" data-keyboard="false" data-backdrop="static"
#addTimeTrackerModal >
<app-add-time-tracker [source] ="timeTrackerObject" *ngIf="timeTrackerObject.type" >
 </app-add-time-tracker>
</div>
