<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
   
    <ul class="nav nav-pills float-left  d-none d-lg-block" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/asset-management/asset-maintenance-schedules/'+AssetMaintenanceScheduleStore?.individualSchedule?.id]" data-toggle="pill" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
               >{{'info' | translate}}</a>
        </li>
    </ul>
    <app-sub-menu></app-sub-menu>
</nav>
<main class="audit-program-details-page mt-3" *mobxAutorun>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="row" *ngIf="AssetMaintenanceScheduleStore.individual_maintenance_schedule_loaded">
                        <div class="col-lg-12 col-sm-12 padding-right-0">
                            <div class="bg-white widg-padding-cmn">
                                <div class="min-height-64">
                                    <div class="issue-top-sec">
                                        <div class="clearfix">
                                            <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                                    class="issue-smoal-head-text">#{{AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance?.reference_code}}</span> {{AssetMaintenanceScheduleStore?.individualSchedule?.title}}
                                                    <!-- <span
                                                    [ngClass]="'draft-tag draft-tag-'+AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_status?.label+' label-left-arow-tag'">
                                                    {{AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_status?.language[0]?.pivot?.title}}</span> -->

													<span>
														<div
															[ngClass]="'dot-div '+AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_status?.label+' ml-3'">
															
															{{AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_status?.language[0]?.pivot?.title}}
														</div>
													</span>

                                            </h5>
                                        </div>
                                       
                                        <!-- <p style="white-space: pre-line;">{{AssetScheduleStore.individualSchedule.description}}</p> -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <h6>{{'scheduled_date'|translate}}</h6>
                                            <p>{{AssetMaintenanceScheduleStore.individualSchedule.scheduled_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <h6>{{'actual_date'|translate}}</h6>
                                            <p *ngIf="AssetMaintenanceScheduleStore.individualSchedule.actual_date">{{AssetMaintenanceScheduleStore.individualSchedule.actual_date}}</p>
                                            <p *ngIf="!AssetMaintenanceScheduleStore.individualSchedule.actual_date">NA</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <h6>{{'frequency_title'|translate}}</h6>
                                            <p>{{AssetMaintenanceScheduleStore.individualSchedule?.asset_maintenance?.asset_maintenance_schedule_frequency?AssetMaintenanceScheduleStore.individualSchedule?.asset_maintenance?.asset_maintenance_schedule_frequency?.language[0]?.pivot?.title:'NA'}} 
												<span *ngIf="AssetMaintenanceScheduleStore.individualSchedule?.asset_maintenance?.asset_maintenance_schedule_frequency?.type!='adhoc'">({{AssetMaintenanceScheduleStore.individualSchedule?.frequency_title?AssetMaintenanceScheduleStore.individualSchedule?.frequency_title:'NA'}})</span></p>
                                        </div>


										<div class="col-lg-4 col-sm-6">
                                            <h6>{{'asset_title_schedule'|translate}}</h6>
                                            <p>{{AssetMaintenanceScheduleStore.individualSchedule?.asset_maintenance?.asset?.title}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <h6>{{'asset_maintenance_title'|translate}}</h6>
                                            <p >{{AssetMaintenanceScheduleStore.individualSchedule?.asset_maintenance?.title}}</p>
                                            
                                        </div>
                                       

                                        <div class="col-sm-12" *ngIf="AssetMaintenanceScheduleStore?.individualSchedule?.responsible_users.length">
                                            <h6>{{'corrective_action_responsible_user'|translate}}</h6>

                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6"
                                                    *ngFor="let responsible of AssetMaintenanceScheduleStore?.individualSchedule?.responsible_users; let i = index">
                                                    <div class="label-and-user-pic">

                                                
                                                        <app-user-popup-box
                                                            [source]="getCreatedByPopupDetails(responsible)"
                                                            [showName]="true">
                                                        </app-user-popup-box>
                                                       
                                                    </div>
                                                </div>
                                               


                                            </div>
                                           

                                        </div>

                                        <div class="col-sm-12" *ngIf="AssetMaintenanceScheduleStore?.individualSchedule?.supplier?.id">
                                            <h6>{{'supplier'|translate}}</h6>
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-6">
                                                    <div class="label-and-user-pic">

                                                       
                                                        <app-user-popup-box
                                                            [source]="getCreatedByPopupDetails(AssetMaintenanceScheduleStore?.individualSchedule?.supplier,true)"
                                                            [showName]="true">
                                                        </app-user-popup-box>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                           

                                        </div>

                                        <div class="col-lg-12 col-sm-12"
														*ngIf="AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update">
														<h6>{{'comment'|translate}}</h6>
														<p style="white-space: pre-line;">
															{{AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update?.comment?AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update?.comment:AppStore.noContentText}}
														</p>
										</div>

                                        <div class="col-lg-12 col-sm-12"
														*ngIf="AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update && AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update?.documents?.length>0">
														<h6 class="mb-2">{{'attachments'|translate}}</h6>
														<!-- <div class="row m-0 upload-section" style="padding-top: 0">
															<div class="col-sm-4 up-pic-cf mt-2"
																*ngFor="let document of AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update?.documents">
																<div class="upload-pics edit-option">
																	<div class="browse-form-pic"
																		[ngStyle]="{'background': 'url(' + createImagePreview('maintenance-schedule',document.token) + '), url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover'}"
																		(click)="viewDocument(document,AssetMaintenanceScheduleStore?.individualSchedule,AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update)">
																	</div>
																	<div class="browse-form-name clearfix">
																		<div class="float-left">
																			<h6
																				[attr.title]="document.title.length > 10 ? document.title:''">
																				{{document.title.length > 10 ?
																				document.title.substring(0,10)+' ...':
																				document.title}}
																			</h6>
																			<span>{{document.size/1048576 |
																				number:'0.2-2'}}MB</span>
																		</div>
																		<div class="browse-logo">
																			<img *ngIf="checkExtension(document.ext,'image') != -1"
																				src="/assets/images/md-jpg.png">
																			<img *ngIf="checkExtension(document.ext,'doc') != -1"
																				src="/assets/images/md-doc.png">
																			<img *ngIf="checkExtension(document.ext,'pdf') != -1"
																				src="/assets/images/pdf-icone.png">
																			<img *ngIf="checkExtension(document.ext,'excel') != -1"
																				src="/assets/images/md-xl.png">
																			<img *ngIf="checkExtension(document.ext,'video') != -1"
																				src="/assets/images/md-video.png">
																			<img *ngIf="checkExtension(document.ext,'audio') != -1"
																				src="/assets/images/md-audio.png">
																			<img *ngIf="checkExtension(document.ext,'ppt') != -1"
																				src="/assets/images/md-ppt.png">

																		</div>
																	</div>
																	<div class="edit-option-show">
																		<a [attr.title]="'download'|translate"
																			(click)="downloadDocument(document,AssetMaintenanceScheduleStore?.individualSchedule,AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update)"><i
																				class="fas fa-download"></i></a>
																	</div>
																</div>
															</div>
														</div> -->

														<div class="thumb-pics-bg thumb-pics-col-5 thumb-pics-fix-text clearfix" style="padding-top: 0">
															<div class="thumb-pics" *ngFor="let document of AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update?.documents">

																<div class="upload-pics edit-option" *ngIf="!document.document_id"  (click)="viewDocument(document,AssetMaintenanceScheduleStore?.individualSchedule,AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update)">
																	<div class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImagePreview('maintenance-schedule',document.token)+') no-repeat'}">
																	</div>
																	 <div class="browse-form-name clearfix">
																	  <div class="float-left">
																	   <h6>{{document.title.length > 10 ?
																		document.title.substring(0,10)+' ...':
																		document.title}}
																	   </h6>
																	   <span>{{document.size/1048576 | number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">System</span>
																	  </div>
																	  <div class="browse-logo">
																	   <img *ngIf="checkExtension(document.ext,'image') != -1"
																		   class="folder-picher" src="/assets/images/jpg-icone.png">
																	   <img *ngIf="checkExtension(document.ext,'doc') != -1"
																		   class="folder-picher" src="/assets/images/word-icone.png">
																	   <img *ngIf="checkExtension(document.ext,'pdf') != -1"
																		   class="folder-picher" src="/assets/images/pdf-icone.png">
																	   <img *ngIf="checkExtension(document.ext,'excel') != -1"
																		   class="folder-picher" src="/assets/images/excel-icone.png">
																	   <img *ngIf="checkExtension(document.ext,'video') != -1"
																		   class="folder-picher" src="/assets/images/md-video.png">
																	   <img *ngIf="checkExtension(document.ext,'audio') != -1"
																		   class="folder-picher" src="/assets/images/md-audio.png">
																	   <img *ngIf="checkExtension(document.ext,'ppt') != -1"
																		   class="folder-picher" src="/assets/images/md-ppt.png">
																   </div>
																	 </div>
																	 <div class="edit-option-show">
																	   <a><i class="fas fa-download" (click) = "downloadDocument(document,AssetMaintenanceScheduleStore?.individualSchedule,AssetMaintenanceScheduleStore?.individualSchedule?.latest_asset_maintenance_schedule_update)"></i></a>
																	</div>
																  </div> 

															</div>
														</div>







													</div>

                                       
                                    </div>

									<ul class="arrowlist pl-0 mt-0 mb-0 subheadings-border-right"
														*ngIf="AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_shutdowns?.length>0">
														<h6 class="mb-2">{{'shutdowns'|translate}}</h6>
														<li class="clearfix edit-option"
															*ngFor="let shutdown of AssetMaintenanceScheduleStore?.individualSchedule?.asset_maintenance_schedule_shutdowns;let s=index">
															<div class="edit-option-show-inner"
																style="margin: 32px 0 0 0;top:-17px"
																>
																<a *ngIf="shutdown?.asset_maintenance_status?.type!='completed'" data-toggle="modal"
																	(click)="openShutdownReviewModal(shutdown.id,AssetMaintenanceScheduleStore?.individualSchedule?.id,shutdown,shutdown?.latest_asset_maintenance_schedule_shutdown_update?.documents)"
																	style="cursor: pointer"><i
																		class="fas fa-pen-alt"></i></a>

																		<a data-toggle="modal"
																		(click)="openMaintenanceShutdownistory(shutdown.id)"
																		style="cursor: pointer"><i
																			class="fas fa-history"></i></a>
															</div>
															<!-- <div class="edit-option-show-inner"
																style="margin: 32px 0 0 0;right:70px;top:-17px"
																>
																<a data-toggle="modal"
																	(click)="openMaintenanceShutdownistory(shutdown.id)"
																	style="cursor: pointer"><i
																		class="fas fa-history"></i></a>
															</div> -->
															<h5 class="mb-0 font-normal">{{shutdown.title}}
																<span>
																	<div
																		[ngClass]="'dot-div '+shutdown.asset_maintenance_status?.label+' ml-3'">
																		{{shutdown.asset_maintenance_status?.language[0]?.pivot?.title}}
																	</div>
																</span>
																<!-- <span class="outline-tag active ml-1"
                                  [ngClass]="'dot-div '+shutdown?.asset_maintenance_status?.label"
                                  style="padding: 2px 3px; font-size: 11px;">{{shutdown.asset_maintenance_status?.language[0]?.pivot?.title}}</span> -->
															</h5>

															<p style="white-space: pre-line;">{{shutdown.actual_start_date?shutdown.actual_start_date:shutdown.start_date |
																date :
																OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
																- {{shutdown.actual_end_date?shutdown.actual_end_date:shutdown.end_date
																| date :
																OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
																<span class="border-right"></span> <span
																	class="pl-2">Daily Downtime
																	({{shutdown.start_date+' '+shutdown.downtime_from|
																	date: 'hh:mm aa'}} to {{shutdown.end_date+'
																	'+shutdown.downtime_to| date: 'hh:mm
																	aa'}})</span><br>
																{{shutdown.description}}
															</p>
															<!-- <div
                                      *ngIf="!AssetMaintenanceStore?.shutdownLoaded&& currentScheduleIndex!=null?getShutdowns(schedule.id,shutdown.id):''">
                                    </div> -->
															<div class="row">
																<div class="col-lg-4 col-sm-6"
																	*ngFor="let attachement of shutdown?.latest_asset_maintenance_schedule_shutdown_update?.documents">
																	<div class="d-flex mb-3 pointer">
																		<!-- <a data-toggle="modal" > -->
																		<!-- <div class="browse-form-pic"  [ngStyle]="{'background': 'url(' + createImagePreview('maintenance-shutdown',attachement.token) + '), url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover'}"
                                      (click)="viewDocument(attachement,schedule,AssetMaintenanceStore?.assetMaintenanceShutdowns[0],shutdown.id)">
                                               </div> -->
																		<!-- </a> -->
																		<img [attr.src]="createImagePreview('maintenance-shutdown',attachement.token)"
																			class="img-fluid"
																			style="width: 60px;height: 40px;"
																			(click)="viewDocument(attachement,AssetMaintenanceScheduleStore?.individualSchedule,shutdown?.latest_asset_maintenance_schedule_shutdown_update,shutdown.id)">
																		<div class="w-100 ml-2">
																			<p class="pl-2"
																				[attr.title]="attachement.title.length > 25 ? attachement.title:''">
																				{{attachement.title.length > 25 ?
																				attachement.title.substring(0,25)+'...':
																				attachement.title}}
																				<br>{{attachement.size/1048576 |
																				number:'0.2-2'}}MB
																			</p>
																		</div>
																	</div>
																</div>
															</div>

														</li>


													</ul>


                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-xl-12">
                                        <hr class="mb-2">
                                        <div class="d-flex flex-row user-list-sm p-0">
                                            <app-user-popup-box
                                                [source]=" getCreatedByPopupDetails(AssetMaintenanceScheduleStore?.individualSchedule?.created_by)">
                                            </app-user-popup-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-sm-12">
                            <div class="bg-white widg-padding-cmn-small mb-3">
                                <h6>{{'justify'|translate}}</h6>
                                <hr class="mt-0 mb-3">
                                <p style="white-space: pre-line;">{{AssetScheduleStore.individualSchedule.justify?AssetScheduleStore.individualSchedule.justify:AppStore.noContentText}}</p>
                            </div>

                            <div class="bg-white widg-padding-cmn-small mb-3">
                                <h6>{{'method'|translate}}</h6>
                                <hr class="mt-0 mb-3">
                                <p style="white-space: pre-line;">{{AssetScheduleStore.individualSchedule.method?AssetScheduleStore.individualSchedule.method:AppStore.noContentText}}</p>
                            </div>

                            <div class="bg-white widg-padding-cmn-small mb-3">
                                <h6>{{'comment'|translate}}</h6>
                                <hr class="mt-0 mb-3">
                                <p style="white-space: pre-line;">{{AssetScheduleStore.individualSchedule.comment?AssetScheduleStore.individualSchedule.comment:AppStore.noContentText}}</p>
                            </div>
                        </div> -->
                    </div>

					<app-asset-maintenance-schedule-details-loader *ngIf="!AssetMaintenanceScheduleStore.individual_maintenance_schedule_loaded">
					</app-asset-maintenance-schedule-details-loader>

                </div>
            </div>
        </div>
       
    </div>
</main>

<!-- preview component for image preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
	data-backdrop="static" #filePreviewModal *mobxAutorun>
	<button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
			class="lni-close"></i><span>{{'esc'|translate}}</span></button>
	<app-asset-item-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
	</app-asset-item-preview>
</div>
<!-- preview modal end -->

<div class="modal modal-style-1 popup-full-width fade show" id="shut-down-preview-popup" data-keyboard="false"
	data-backdrop="static" #shutdownReview *mobxAutorun>
	
	<app-maintenance-shutdown-review *ngIf="shutdownReviewOpened" [source]="shutdownObject">
	</app-maintenance-shutdown-review>
</div>

<div class="modal modal-style-1 popup-full-width fade show" id="maintenance-review-popup" data-keyboard="false"
	data-backdrop="static" #maintenanceReview *mobxAutorun>
	<app-asset-maintenance-review *ngIf="maintenanceReviewOpened" [source]="scheduleObject">
	</app-asset-maintenance-review>
</div>

<div class="modal modal-style-1 popup-full-width fade show" id="maintenance-historypopup" data-keyboard="false"
	data-backdrop="static" #maintenanceHistory *mobxAutorun>
	<app-asset-maintenance-schedule-history *ngIf="maintenanceHistoryOpened" [source]="historyObject">
	</app-asset-maintenance-schedule-history>
</div>

<div class="modal modal-style-1 popup-full-width fade show" id="shutdown-historypopup" data-keyboard="false"
	data-backdrop="static" #shutdownHistory *mobxAutorun>
	<app-asset-maintenance-shutdown-history *ngIf="shutdownHistoryOpened" [source]="shutdownHistoryObject">
	</app-asset-maintenance-shutdown-history>
</div>
