
<ng-container>
    <div class="ml-4" *ngFor="let data of childData;let num = index">
        <div class="custom-control white-cbox custom-checkbox">
           <input (change)="getOrganisationMsTypeData(data,type,'child')" [checked]="AuditNonConfirmityStore.checkSelectedStatuss(data,type)" type="checkbox" class="custom-control-input" [id]="generateIdforString(type.id.toString()+mainParent?.id.toString()+childParent?.id.toString()+data.id.toString())" [name]="generateIdforString(type.id.toString()+mainParent?.id.toString()+childParent?.id.toString()+data.id.toString())">
           <label class="custom-control-label align-label-check smoothe-slide" [for]="generateIdforString(type.id.toString()+mainParent?.id.toString()+childParent?.id.toString()+data.id.toString())">{{data.clause_number}}.{{data.title}}</label>
        </div>
        <app-non-confirmity-inner-documents *ngIf = "data.children.length > 0" [source] = "data.children" [type]="type" [index] = "num+1"></app-non-confirmity-inner-documents>

        </div>
</ng-container>