<button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i
    class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-xl modal-dialog-centered" *mobxAutorun>
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'locations_modal_title' | translate}} {{locationModalTitle?.component ? locationModalTitle?.component : 'item'}}</h4>

        </div>
        <!-- Modal body -->
        <div class="modal-body form-body add-profie-org-pup">
            <!-- Review and select location to link them with management review meeting plans. -->
            <p class="head-details">{{'locations_modal_message' | translate}} {{locationModalTitle?.component ? locationModalTitle?.component : 'item'}}.</p>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="name">{{'search' | translate}}</label>
                        <!-- <form class="form-control issue-select-process-search bg-white">
                            <input type="text" placeholder="Search.." (change)="searchIssue($event,'text')"
                                name="search" class="search-process">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form> -->
                        <form class="form-control issue-select-process-search bg-white search-popup-new" (submit) = "searchLocation($event)">
                            <input type="text" [(ngModel)] = "searchText" [placeholder]="'search_dot' | translate" name="search" (keyup) = "searchLocation($event)" class="search-process" autocomplete="off">                           
                            <a class="search-clear-btn" (click) = "clear()" *ngIf = "searchText">X</a>
                            <button type="submit" (click) = "searchLocation($event)" style="right: -10px  !important;"><i class="fa fa-search"></i></button>
                          </form>
                    </div>
                </div>
            </div>

                
                
              
                

            <div class="audit-form-table w-100">
                <table class="table table-bordered ordinary-table table-hover issue-list-table-org mb-4">
                    <thead>
                        <tr>
                            <th class="border-top-0 issue-list-org-tab-one" width="7%">
                                <!-- <div class="container2"> -->
                                    <label class="container2 float-left" style="margin-top: 2px; padding-left: 22px;"><input type="checkbox" id="selectall"
                                        (change)="selectAlllocations($event)"/>
                                        <span class="checkmark"></span>#</label>
                                 
                                <!-- </div> -->
                            </th>
                            <!-- <th class="border-top-0 issue-list-org-tab-two pointer"
                            (click)="sortTitle('location_title')" width="15%">{{'sl' | translate}}
                                <img [attr.src]="LocationMasterStore.orderBy=='desc' ? 
                                'assets/images/sort-up.png' : LocationMasterStore.orderBy=='asc' ? 
                                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
                            </th> -->
                            <th class="border-top-0 issue-list-org-tab-three pointer" width="83%"
                                >{{'location' | translate}} 
                                <!-- <img
                                    *ngIf="IssueListStore.orderItem == 'organization_issues.title'"
                                    [attr.src]="IssueListStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                    class="sort-down-pics"> -->
                                </th>
                            <th style="width: 10%;" class="text-center" >{{'status' | translate}}</th>
                            
                           
                        </tr>
                    </thead>

                    <ng-container *mobxAutorun>



                        <tr class="edit-and-delete-main"
                            *ngFor="let row of LocationMasterStore.allItems| paginate: {currentPage:LocationMasterStore.currentPage, itemsPerPage:LocationMasterStore.itemsPerPage,totalItems:LocationMasterStore.totalItems};let num=index ">
                            <td style="text-align: center;">
                                <!-- <div class="container2"> -->
                                    <label class="container2 float-left" style="margin-top: 2px; padding-left: 22px;"><input class="pointer" type="checkbox" [checked]="locationPresent(row.id)"
                                            (change)="locationSelected(row)" class="case" name="case" />
                                        <span
                                            class="checkmark"></span>{{(LocationMasterStore.currentPage - 1) * LocationMasterStore.itemsPerPage + (num + 1)}}</label>
                                <!-- </div> -->
                                <!-- {{(LocationMasterStore.currentPage - 1) * LocationMasterStore.itemsPerPage + (num + 1)}} -->
                            </td>
                            <td><a class="cursor-pointer">{{row.title}}</a></td>
                            <td class="text-center">
                                <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                            </td>
            
                        </tr>
                    </ng-container>
                    
                    <!-- <tbody>

                        
                        <tr [attr.title]="'View '+il.issues_title"
                            *ngFor="let il of IssueListStore.issueListDetails | paginate: {id:'issue-modal',currentPage:IssueListStore?.currentPage, itemsPerPage:IssueListStore?.itemsPerPage,totalItems:IssueListStore?.totalItems};let num = index">

                            <td>
                            
                                <div class="container2">
                                    <label><input class="pointer" type="checkbox" [checked]="issuePresent(il.id)"
                                            (change)="issueSelected(il)" class="case" name="case" />
                                        <span
                                            class="checkmark"></span>{{(IssueListStore?.currentPage - 1) * IssueListStore?.itemsPerPage + (num + 1)}}</label>
                                </div>
                            </td>
                            <td>{{il.reference_code}}</td>
                            <td>
                                {{il.issues_title}}
                            </td>
                            <td>
                                <span *ngFor="let types of il.issue_types_list"
                                    class="risk-type-bx risk-type-bx-drop">
                                    <i><img
                                            [attr.src]="types == 'Internal' ? 'assets/images/risk-type-icon.png' : 'assets/images/risk-type-icon-two.png'">{{types}}</i>&nbsp;
                                </span>
                            </td>
                            <td [attr.title]="il.issue_categories">
                                {{ il.issue_categories.length > 25 ? il.issue_categories.substring(0,25)+'...' : il.issue_categories }}
                            </td>
                            <td [attr.title]="il.issue_domains">
                                {{ il.issue_domains?.length > 25 ? il.issue_domains.substring(0,25)+'...' : il.issue_domains }}
                            </td>
                            <td class="edit-and-delete-main">
                                {{il.departments}}

                            </td>

                        </tr>


                    </tbody> -->

                </table>
                <app-no-data-list *ngIf="LocationMasterStore?.loaded && LocationMasterStore.allItems.length == 0"  [source]="emptyLocation"></app-no-data-list>
                <!-- <div *ngIf="IssueListStore.loaded && IssueListStore.issueListDetails.length == 0"
                    class="no-policy-demo-text bg-white d-flex align-items-center w-100 mt-2" style="height: 200px">
                    <div class="no-policy-demo">
                        <div class="no-file-icon">
                            <i class="far fa-file"></i>
                        </div>
                        <h6 class="bold mb-0">No Issues Has Been Reported</h6>
                    </div>
                </div> -->
                <div class="col-sm-12" *ngIf="LocationMasterStore?.totalItems > LocationMasterStore?.itemsPerPage">
                    <ul class="pagination justify-content-center mt-3">
                        <div class="list">
                            <pagination-controls (pageChange)="pageChange($event)" id="issue-modal" class="my-pagination">
                            </pagination-controls>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="d-block justify-content-left border-0 mt-5">
                <button type="button" data-toggle="modal"
                    class="btn mr-3 btn-active" (click)="save()" [disabled]="selectedLocations.length==0">{{AppStore.loading?getButtonText('loading'):getButtonText('add')}}</button>
                <button type="button" data-toggle="modal" class="btn mr-3"
                    (click)="save(true)" [disabled]="selectedLocations.length==0">{{AppStore.loading?getButtonText('loading'):getButtonText('add_close')}}</button>
                <button type="button" data-toggle="modal" class="btn mr-2"
                (click)="cancel()">{{AppStore.loading?getButtonText('loading'):getButtonText('cancel')}}</button>
            </div>

        
        <!-- Modal footer -->
    </div>
</div>