<div #plainDev></div>
<div class="bg-white">
    <nav class="edit-bar" data-toggle="affix" #navBar>
        <app-sub-menu>-</app-sub-menu>
        <div class="module-name-block module-name-block-space float-left">
            <a class="dropdown module-title">{{'kpi_score'|translate}}</a>
        </div>
    </nav>
</div>
<main class="mt-3 acl-page">
    <app-filter-menu></app-filter-menu>
    <div class="container-fluid" *mobxAutorun>
        <div class="audit-program-box  audit-page-table-main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-width-table">
                        <table class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll"
                            *ngIf="KpiScoreStore?.loaded && KpiScoreStore.allItems.length > 0 && AuthStore.getActivityPermission(5356,'KPI_MANAGEMENT_KPI_SCORE_LIST')">
                            <thead>
                                <tr>
                                    <th class="border-top-0 issue-list-org-tab-three text-center" style="width:3%">#
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width:39%"
                                        (click)="sortTitle('kpis.title')">
                                        <span>{{'title' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='kpis.title'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width:12%"
                                        (click)="sortTitle('kpi_management_kpi_scores.date')">
                                        <span>{{'date' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='kpi_management_kpi_scores.date'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width:6%"
                                        (click)="sortTitle('kpi_management_kpi_scores.score')">
                                        <span>{{'score' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='kpi_management_kpi_scores.score'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width:15%"
                                        (click)="sortTitle('updated_user.first_name')">
                                        <span>{{'updated_by' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='updated_user.first_name'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            onerror="this.src='/assets/images/user-demo2.png'" class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 issue-list-org-tab-three pointer" style="width:15%"
                                        (click)="sortTitle('review_user.first_name')">
                                        <span>{{'reviewed_by' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='review_user.first_name'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                    <th class="border-top-0 pointer text-center" style="width:10%"
                                        (click)="sortTitle('kpi_management_kpi_score_status_language.title')">
                                        <span>{{'status' | translate}}</span>
                                        <img _ngcontent-twv-c17="" style="margin-left: 6px;"
                                            *ngIf="KpiScoreStore.orderItem=='kpi_management_kpi_score_status_language.title'"
                                            [attr.src]="KpiScoreStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                            class="sort-down-pics">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *mobxAutorun>
                                    <tr class="edit-and-delete-main"
                                        [class.cursor-pointer]="AuthStore.getActivityPermission(5356,'KPI_MANAGEMENT_KPI_SCORE_DETAILS')"
                                        *ngFor="
                                    let row of KpiScoreStore?.allItems
                                        | paginate
                                        : {
                                            currentPage: KpiScoreStore?.currentPage,
                                            itemsPerPage: KpiScoreStore?.itemsPerPage,
                                            totalItems: KpiScoreStore?.totalItems
                                            };
                                    let num = index
                                    "
                                        (click)="AuthStore.getActivityPermission(5356,'KPI_MANAGEMENT_KPI_SCORE_DETAILS')? getDetails(row.id): ''">
                                        <td style="text-align: center;">
                                            {{
                                            (KpiScoreStore?.currentPage - 1) *
                                            KpiScoreStore?.itemsPerPage +
                                            (num + 1)
                                            }}
                                        </td>
                                        <!-- <td style="padding:0.75rem">{{row.reference_code?row.reference_code:AppStore.noContentText}}</td> -->
                                        <td style="padding: 0.75rem;">{{row.kpi_title}}</td>
                                        <td style="padding:0.75rem" *ngIf="row.date">{{row.date | date:
                                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</td>
                                        <td style="padding: 0.75rem;" class="mt-3" *ngIf="!row.date">
                                            {{AppStore.noContentText}}</td>
                                        <td class="text-center" style="padding: 0.75rem;">{{row.score? row.score: 0}}
                                        </td>
                                        <td style="padding:0.75rem">
                                            <div *ngIf="row.updated_by_first_name"
                                                class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg p-0">
                                                <img [attr.src]="row.updated_by_image_token?createImageUrl(row.updated_by_image_token):'/assets/images/user-demo.png'"
                                                    class="rounded-circle rounde-hov" width="35px" height="35px"
                                                    onerror="this.src='/assets/images/user-demo2.png'">
                                                <div class="pointer new-size-text text-left">
                                                    <p class="mb-0">{{row.updated_by_first_name}}
                                                        {{row.updated_by_last_name}} </p>
                                                    <span>{{row.updated_by_designation}}</span>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="!row.updated_by_first_name">{{ AppStore.noContentText
                                                }}</ng-container>
                                        </td>
                                        <td style="padding: 0.75rem;">
                                            <div *ngIf="row.reviewed_by_first_name"
                                                class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg p-0">
                                                <img [attr.src]="row.created_by_image_token?createImageUrl(row.reviewed_by_image_token):'/assets/images/user-demo.png'"
                                                    class="rounded-circle rounde-hov" width="35px" height="35px"
                                                    onerror="this.src='/assets/images/user-demo2.png'">
                                                <div class="pointer new-size-text text-left">
                                                    <p class="mb-0">{{row.reviewed_by_first_name}}
                                                        {{row.reviewed_by_last_name}} </p>
                                                    <span>{{row.reviewed_by_designation}}</span>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="!row.reviewed_by_first_name">{{ AppStore.noContentText
                                                }}</ng-container>
                                        </td>
                                        <td class="text-center" style="padding:0.75rem">
                                            <div
                                                [attr.class]="'dot-div '+row.kpi_management_kpi_score_status_label+'-dot'">
                                                {{row.kpi_management_kpi_score_status_title }}
                                            </div>
                                            <div *ngIf="workFlowUpdateButtonDisable(row)"
                                                class="edit-option-show edit-option-full-time-show">
                                                <a *ngIf="AuthStore.getActivityPermission(5356,'UPDATE_KPI_MANAGEMENT_KPI_SCORE')"
                                                    (click)="updateScoreOpenModal(row)"
                                                    [attr.title]="'update'|translate">
                                                    <i class="fas fa-edit"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <p class="float-right" *ngIf="KpiScoreStore?.loaded && KpiScoreStore.totalItems > 0">
                            <b>{{'total_Items' | translate}}:{{KpiScoreStore?.totalItems}}</b></p>
                        <ng-container *mobxAutorun>
                            <div *ngIf="!KpiScoreStore?.loaded">
                                <app-kpi-list-loader></app-kpi-list-loader>
                            </div>
                        </ng-container>
                        <app-no-data *ngIf="KpiScoreStore.totalItems == 0 && KpiScoreStore.loaded"
                            [border]='false'></app-no-data>
                        <div *ngIf="KpiScoreStore.totalItems > KpiScoreStore.itemsPerPage" class="col-sm-12">
                            <ul class="pagination justify-content-center mt-3">
                                <div class="list">
                                    <pagination-controls [previousLabel]="'previous' | translate"
                                        [nextLabel]="'next' | translate" (pageChange)="pageChange($event)"
                                        class="my-pagination"></pagination-controls>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--work flow model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #updateScoreModal>
    <app-score-modal *ngIf="scoreModal" [source]="popupScorueObject"></app-score-modal>
</div>