<div class="pl-3 mt-1 pt-1" *ngFor="let recursiveData of sourceData">
    <div class="edit-option-btn edit-option-btn-inner">
        
          <h6>{{recursiveData.clause_number}} <span style="font-weight: normal;">{{recursiveData.title}}:</span>
          </h6>
          <!-- <div [innerHTML] ="recursiveData.description | safeHtml"></div> -->
                   <h6 *ngIf="recursiveData.checklists.length" class="mt-3">{{'checklists' | translate}}</h6>
                   <div class="delete-bullet-point">
                    <ul class="ml-0 pl-0 mt-0 mb-0" style="list-style-type:none" *ngFor="let checklist of recursiveData.checklists;let recursive_checklist_num = index">
                        <li>{{checklist.title}}
                            <label class="container2 float-left"
                            style="margin-top: 2px; padding-left: 22px;">
                            <input type="checkbox" [id]="checklist.id" [name]="checklist.title"
                            [checked] = "checkSelectedStatus(checklist.id)"
                                (change)="selectCheckList($event,checklist, recursive_checklist_num,recursiveData.clause_number)">
                            <span class="checkmark"></span>
                        </label>   
                        </li>
                    </ul>
                   </div>               
          </div>

    <app-mstype-checklist-recursive-modal  [sourceData]="recursiveData.children" *ngIf="recursiveData.children"></app-mstype-checklist-recursive-modal >
 
 </div> 