<main class="audit-program-details-page mt-3">
    <div class="container-fluid">
        <div class="row" *ngIf="BiaMatrixStore.tierConfig.length!=0">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="assessment">
                        <div class="widget">
                            <div class="audit-program-box audit-page-table-main">
                                <div class="row">
                                    <div class="col-sm-12 full-width-table">
                                        <table
                                            class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0" width="5%">#</th>
                                                    <th class="border-top-0" width="40%">Tier Name</th>
                                                    <th class="border-top-0" width="55%">BIA Scale Associated</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer edit-and-delete-main" *ngFor="let bia of BiaMatrixStore.tierConfig;let num=index;">
                                                    <td class="pointer" onclick="window.location='#';"> {{num+1}}</td>
                                                    <td class="pointer" onclick="window.location='#';"> {{bia.tier_name}}</td>
                                                    <td class="pointer" onclick="window.location='#';"> {{bia.bia_scale.from}}-{{bia.bia_scale.to}} {{bia.bia_scale.time_scale.title}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *mobxAutorun>
            <app-no-data *ngIf="BiaMatrixStore.tierConfig.length==0"></app-no-data>
        </ng-container>
    </div>
</main>


<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #tierConfigModal>
    <app-tier-config-new *ngIf = "biaRatingObject.type" [source] = "biaRatingObject"></app-tier-config-new>  
</div>