
/* green-css starts */

.iso-robot-color a:hover {
  color: green;
}
.iso-robot-color .bg-dark {
  background: #015b01 !important;
}
.iso-robot-color .top-bar .language-btn {
  background: #003200 !important;
  color: #fff !important;
}
.iso-robot-color #sidebar-wrapper-menu {
  background-color: rgba(0, 44, 0, 0.8) !important;
}
.iso-robot-color .menu-collape-area ul li a:hover {
  background: green !important;
}
.iso-robot-color #sidebar-wrapper-menu .side-bar-header {
  background: green !important;
}
.iso-robot-color .user-toggle-cmn {
  background: #015b01 !important;
}
.iso-robot-color #return-to-top {
  background-color: rgba(0, 128, 0, 0.8) !important;
}
.iso-robot-color #return-to-top:hover {
  background: green !important;
} 
.iso-robot-color .edit-bar .nav-item .nav-link.active {
  color: green !important;
}
.iso-robot-color .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #003200  !important;
}
.iso-robot-color .filter-select-wrapper>.item {
  color: green !important;
  border: 1px solid green !important;
}
.iso-robot-color .filter-select-wrapper>.item>button {
  color: green !important;
}
.iso-robot-color .edit-bar .edit-icons li a:hover {
  color: green !important;
}
.iso-robot-color .ordinary-btn:hover {
  background: green !important;
  border-color: green !important;
  color: #fff !important;
}
.iso-robot-color .btn {
  color: green !important;
  border: 1px solid green !important;
}
.iso-robot-color .btn-active {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .multi-add-user:hover {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .upload-btn-wrapper input[type=file]:hover + button {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: green !important;
}










.iso-robot-color .filter-fill .filter-btn-active {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .switch input:checked + .slider {
  background-color: green !important;
}
.iso-robot-color .filter-fill .btn-info:not(:disabled):not(.disabled):active, .iso-robot-color .filter-fill .btn-info:not(:disabled):not(.disabled).active {
  background: green !important;
}
.iso-robot-color .switch input:checked + .slider:before {
  border-color: green !important;
  background: url(../images/switch-check-green.png) 7px center no-repeat #fff !important;
  background-size: 56% !important;
}
.iso-robot-color .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background: green !important;
} 
.iso-robot-color .paraia-multi-select>.dropdown>.items>.item:hover {
  background: #015b01 !important;
}
.iso-robot-color .filter-save-btn .btn:hover {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .star.selected i {
  color: green !important;
} 
.iso-robot-color .star:hover i {
  color: green !important;
}
.iso-robot-color .module-setting .module-set-box .module-set-head i:hover {
  color: green !important;
}
.iso-robot-color .container2 input:checked ~ .checkmark {
  background: green !important;
}
.iso-robot-color .modal-style-1 .modal-content .modal-header {
  background: -moz-linear-gradient(left, green 0%, #0eba36 100%);
  background: -webkit-linear-gradient(left, green 0%, #0eba36 100%);
  background: linear-gradient(to right, green 0%, #0eba36 100%);
}
.iso-robot-color .modal-style-1 .modal-content .modal-header .close {
  background: green;
}
.iso-robot-color .radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before, .iso-robot-color .radio-btns-new .verygood[type="radio"]:checked + label > .fa-check-circle:before {
  color: green !important;
}
.iso-robot-color .radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before, .iso-robot-color .radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
  color: green !important;
}
.iso-robot-color .radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before, .iso-robot-color .radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
  color: green !important;
}
.iso-robot-color .organization-multi-stup-form button:hover {
  background: green !important;
}
.iso-robot-color .organization-multi-stup-form .step.active {
  color: green !important;
}
.iso-robot-color .organization-multi-stup-form .step.active .multi-form-nbr {
  background: green !important;
}
.iso-robot-color .organization-multi-stup-form .step.finish {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .organization-multi-stup-form .step.finish .multi-form-nbr {
  color: green !important;
  background: #fff !important;
}
.iso-robot-color .user-details-page .user-beginer-block .beginner-icon {
  background: green !important;
}
.iso-robot-color .user-beginer-block .progress-bar {
  background: green;
}
.iso-robot-color .smoal-tab .nav-tabs .nav-link.active, .iso-robot-color .smoal-tab .nav-tabs .nav-item.show .nav-link {
  border-color: green !important;
}
.iso-robot-color .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background: green !important;
}
.iso-robot-color .show-more .read-more-trigger {
  border-color: green !important;
  color: green !important;
}
.iso-robot-color .show-more .read-more-trigger:hover {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .pagination .page-link.active, .iso-robot-color .pagination .page-link:hover {
  color: green !important;
}
.iso-robot-color .plus-btn-cmn-style {
  background: green !important;
}
.iso-robot-color .accordian-boxed .card-body span.active {
  border: 1px solid green !important;
  background: green !important;
}
.iso-robot-color .user-list-sm:hover h6, .iso-robot-color .user-list-sm:hover span {
  color: green !important;
}
.iso-robot-color .arrow-dropdown a.active {
  color: green !important;  
}
.iso-robot-color .edit-bar .arrow-dropdown a:hover::before {
  color: green !important; 
}
.iso-robot-color .user-dtl-popup ul li a:hover {
  color: green !important;
}
.iso-robot-color .assesment-footer .progress-bar {
  background: green !important;
}
.iso-robot-color .assesment-form-page .start-btn {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .assesment-form-page input[type=radio].toggle:checked + label {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .assesment-form-page input[type=radio].toggle + label:hover {
  background: green !important;
  color: #fff !important;
}
.iso-robot-color .owl-chat-slider .customNavigation .btn {
  border: none !important;
  color: green !important;
}
.iso-robot-color .owl-chat-slider .item .btn:hover {
  background: green !important;
}
.iso-robot-color .chat-btm-icones li a:hover {
  color: green !important;
}
.iso-robot-color .btn-send-chat {
  background: green !important;
  border-color: green !important;
}
.iso-robot-color .chat-box-header {
  background: #015b01 !important;
}
.iso-robot-color .assesment-form-page .assesment-footer {
  background: #013c01 !important;
}
.iso-robot-color {
  
}
.iso-robot-color {
  
}
.iso-robot-color {
  
}
.iso-robot-color {
  
}
.iso-robot-color {
  
}
.iso-robot-color {
  
}

/* green-css ends */
