/*rtl*/
/*common*/
html[dir=rtl] .pl-2,
html[dir=rtl] .px-2 {
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}

html[dir=rtl] .ml-2,
html[dir=rtl] .mx-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

html[dir=rtl] .pr-4,
html[dir=rtl] .px-4 {
  padding-left: 1.5rem !important;
  padding-right: 0 !important;
}

html[dir=rtl] .mr-5,
html[dir=rtl] .mx-5 {
  margin-left: 3rem !important;
  margin-right: inherit !important;
}

html[dir=rtl] .pl-3,
html[dir=rtl] .px-3 {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}

html[dir=rtl] .mr-2,
html[dir=rtl] .mx-2 {
  margin-left: 0.5rem !important;
  margin-right: inherit !important;
}

html[dir=rtl] .mr-1,
html[dir=rtl] .mx-1 {
  margin-left: 0.25rem !important;
  margin-right: inherit !important;
}

html[dir=rtl] .ml-auto {
  margin-right: auto !important;
  margin-left: inherit !important;
}

html[dir=rtl] .acl-page table th,
html[dir=rtl] .acl-page table td {
  text-align: right;
}

html[dir=rtl] .ordinary-table th,
html[dir=rtl] .ordinary-table td {
  text-align: right;
}

html[dir=rtl] .input-group > .form-control:not(:last-child),
html[dir=rtl] .input-group > .custom-select:not(:last-child) {
  border-radius: 0px 5px 5px 0px !important;
}

html[dir=rtl] body {
  text-align: right;
}

html[dir=rtl] .float-left {
  float: right !important;
}
html[dir=rtl] .float-right {
  float: left !important;
}
html[dir=rtl] .text-left {
  text-align: right !important;
}
html[dir=rtl] .text-right {
  text-align: left !important;
}
html[dir=rtl] .border-left {
  border-right: 1px solid #dee2e6 !important;
  border-left: none !important;
}
html[dir=rtl] .pagination i {
  transform: rotate(180deg);
}
html[dir=rtl] .media .media-body,
html[dir=rtl] .media .media-content {
  text-align: right;
  margin-right: 5px;
}
html[dir=rtl] .edit-bar {
  padding-left: 15px;
}
html[dir=rtl] .checkmark {
  margin: 0px 5px;
}
html[dir=rtl] .brudcrumb ul li {
  float: right;
}
html[dir=rtl] .brudcrumb ul li.right-arow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .options-box {
  margin-right: 0 !important;
}
html[dir=rtl] .thumb-pics {
  float: right !important;
}
html[dir=rtl] .pl-4 {
  padding-left: 0 !important;
  padding-right: 1.5rem;
}
html[dir=rtl] .pr-2 {
  padding-right: 0 !important;
  padding-left: 0.5rem;
}
html[dir=rtl] .ml-3 {
  margin-left: 0px !important;
  margin-right: 1rem;
}
html[dir=rtl] .fa-arrow-right,
html[dir=rtl] .fa-arrow-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .cmn-bdr-left {
  border-left: none !important;
  border-right: 1px solid #cbd6e2;
}
@media (min-width: 768px) {
  html[dir=rtl] .cmn-bdr-left-md-top-sm {
    border-left: none !important;
    border-right: 1px solid #cbd6e2;
  }
}
html[dir=rtl] ul.dot-list {
  padding-left: auto !important;
  padding-right: 15px;
}
@media (min-width: 768px) {
  html[dir=rtl] .db-small-space-boxes .cmn-bdr-left-md-top-mobile {
    border-left: none !important;
    border-right: 1px solid #cbd6e2;
  }
}
html[dir=rtl] .custom-control {
  padding-left: 0 !important;
  padding-right: 1.5rem;
}
html[dir=rtl] .custom-control .custom-control-label {
  margin-left: 10px !important;
}
html[dir=rtl] .custom-control .custom-control-label::before {
  right: -1.5rem;
  left: auto !important;
}
html[dir=rtl] .mrm-report-header-texts {
  padding: 20px 12% 0 0 !important;
}
html[dir=rtl] .mrm-report-header-texts .date-pics-two {
  margin: -4px 0px 0 10px !important;
}
html[dir=rtl] .ordinary-table td .btn {
  float: none !important;
}
html[dir=rtl] .video-dtl-box {
  padding-right: 0 !important;
  padding-left: 15px;
}
html[dir=rtl] .user-guid-lists {
  text-align: right;
}
html[dir=rtl] .user-guid-lists .user-guide-head-logos {
  min-width: 40px;
  text-align: center;
}
html[dir=rtl] .user-guid-lists .user-guide-right {
  right: auto !important;
  left: 20px;
}
html[dir=rtl] .alert-dismissible .close {
  right: auto !important;
  left: 0;
}
html[dir=rtl] .activity-log-small {
  padding-right: 0px;
  position: relative;
}
html[dir=rtl] .activity-log-small li {
  padding-right: 15px;
  background: none;
}
html[dir=rtl] .activity-log-small li::before {
  content: url("../images/activity-bullet2.png");
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .border-left-none {
  border-left: 1px solid #D3D3D3 !important;
  border-right: none !important;
}
html[dir=rtl] .indication-label {
  margin-left: 10px !important;
}
html[dir=rtl] .tab-right-end-btn {
  margin: auto !important;
  margin-bottom: 15px !important;
}
html[dir=rtl] .multiple-select {
  float: right !important;
}

/*custom*/
html[dir=rtl] body {
  padding-left: 0px;
}
@media (min-width: 1200px) {
  html[dir=rtl] body {
    padding-right: 60px;
  }
}
html[dir=rtl] .notifications-head .btn {
  margin-left: 15px !important;
}
html[dir=rtl] .dropdown-item {
  text-align: right;
}
html[dir=rtl] .chat-box-header {
  padding-left: 0px;
}
html[dir=rtl] .notification-texts {
  text-align: right;
  margin-right: 15px;
}
html[dir=rtl] .user-drop-down {
  text-align: right;
}
html[dir=rtl] .side-menu-lg-logo {
  margin-left: auto !important;
}
html[dir=rtl] .owl-carousel,
html[dir=rtl] .bx-wrapper {
  direction: ltr;
}
html[dir=rtl] .owl-carousel .owl-item {
  direction: rtl;
}
html[dir=rtl] .owl-carousel .owl-item .tab-content b {
  margin-right: 0 !important;
  margin-left: 5px;
}
html[dir=rtl] .quick-info {
  text-align: right;
}
html[dir=rtl] .quick-info i {
  float: right !important;
  margin-left: 5px;
}
html[dir=rtl] .cmn-head-style {
  text-align: right;
}
html[dir=rtl] .ia-db-finding-sec {
  text-align: right;
}
html[dir=rtl] .ia-db-finding-sec .dot-div-new {
  padding-left: 15px !important;
  padding-right: 0;
}
html[dir=rtl] .ia-db-finding-sec .dot-div-new::before {
  left: auto !important;
  right: 0;
}
html[dir=rtl] .ia-db-finding-sec .dot-div-new span {
  margin-left: 5px;
  margin-right: 0px;
}
html[dir=rtl] .ia-db-finding-sec .dot-div-new.db-status {
  padding-right: 0 !important;
}
html[dir=rtl] .abt-module-description {
  text-align: right;
}
html[dir=rtl] .drop-tab-menu-list-hdr a {
  text-align: right !important;
}
html[dir=rtl] .edit-icons a i {
  float: left;
  margin-right: 5px !important;
  margin-top: 2px !important;
}
html[dir=rtl] .filter-select-wrapper {
  text-align: right;
}
html[dir=rtl] .all-popup {
  text-align: right;
}
html[dir=rtl] .user-right-fill {
  left: 15px;
  right: auto !important;
}
html[dir=rtl] .vm-box {
  margin-left: auto !important;
  margin-right: 60px;
  padding-right: 60px;
  width: auto !important;
}
html[dir=rtl] .vm-box .vm-icon-bx {
  left: auto !important;
  right: -60px;
}
html[dir=rtl] .organization-profile-sidebar {
  text-align: right;
  position: relative;
}
html[dir=rtl] .organization-profile-sidebar .loder-section-inner {
  right: -15px !important;
}
html[dir=rtl] .organization-profile-sidebar .relative {
  position: static !important;
}
html[dir=rtl] .tab-content {
  text-align: right;
}
html[dir=rtl] .select-new-width {
  float: right;
}
html[dir=rtl] .multi-add-user {
  float: left;
}
html[dir=rtl] .left-border-and-space {
  border-right: 1px solid #cbd6e2 !important;
  padding-right: 15px !important;
  border-left: none !important;
}
html[dir=rtl] .exclamation-icon-two {
  margin: -8px 0px 0 10px !important;
}
html[dir=rtl] .chat-box .chating-area {
  text-align: right;
}
html[dir=rtl] .documennt-list .mr-3 {
  margin-right: 0px !important;
  margin-left: 1rem;
}
html[dir=rtl] .Certificates-box-pic {
  width: 60px !important;
}
html[dir=rtl] #nav-icon1 {
  right: 18px;
  right: 18px;
  left: auto;
}
html[dir=rtl] .dot-div::before {
  margin-left: 10px;
  margin-right: auto;
}
html[dir=rtl] .edit-bar .nav {
  padding: 0 !important;
  margin: 0 !important;
  padding-left: 5px !important;
}
html[dir=rtl] .edit-bar .nav-item {
  float: right;
}
html[dir=rtl] .dropdown-menu-right {
  left: 0;
  right: auto;
}
html[dir=rtl] .notifications-head .btn {
  margin-left: 10px;
}
html[dir=rtl] .top-bar .dual-collapse2 .notification li .language-btn {
  margin-left: 15px;
}
html[dir=rtl] .top-bar .notification li {
  margin-left: 5px;
  margin-right: 0px;
}
html[dir=rtl] #sidebar-wrapper2.active {
  left: 0;
  right: inherit !important;
}
html[dir=rtl] #sidebar-wrapper2-inner {
  left: -343px;
  right: inherit !important;
}
html[dir=rtl] #sidebar-wrapper2-inner.active {
  left: 0 !important;
}
html[dir=rtl] .inner-chat-head h6 {
  float: right;
}
html[dir=rtl] .chat-left-side {
  float: right;
}
html[dir=rtl] .chat-right-side {
  float: left;
}
html[dir=rtl] .chat-menu-section li {
  float: right;
  list-style-type: none;
  padding-right: 15px;
}
html[dir=rtl] .msg-right {
  float: left;
}
html[dir=rtl] .msg-right::before {
  width: 0;
  height: 0;
  content: "";
  top: 0px;
  left: -10px;
  position: absolute;
  border-style: solid;
  border-width: 14px 0px 0px 14px;
  border-color: #fff transparent transparent transparent;
}
html[dir=rtl] .msg-right::after {
  display: none;
}
html[dir=rtl] .msg-left {
  float: right;
}
html[dir=rtl] .msg-left::before {
  width: 0;
  height: 0;
  content: "";
  top: 0px;
  left: inherit;
  right: -10px;
  position: absolute;
  border-style: solid;
  border-width: 14px 14px 0px 0px;
  border-color: #ffffff transparent transparent transparent;
}
html[dir=rtl] .chat-box .mCSB_scrollTools .mCSB_draggerContainer {
  right: 18px;
}
html[dir=rtl] #sidebar-wrapper-menu {
  right: 0;
  left: auto;
}
html[dir=rtl] #sidebar-wrapper-menu .side-bar-header {
  float: left;
}
html[dir=rtl] .menu-collape-area {
  margin-top: 10px;
  overflow: hidden;
}
html[dir=rtl] .menu-collape-area ul {
  padding: 0;
}
html[dir=rtl] .menu-collape-area ul li a {
  padding: 10px;
  display: block;
  width: 230px;
  padding-right: 15px;
  font-size: 15px;
  text-align: right;
}
html[dir=rtl] .menu-collape-area ul li a i {
  font-size: 16px;
  margin-right: 6px;
  margin-left: 4px;
}
html[dir=rtl] .menu-collape-area .submenu a {
  padding-right: 30px !important;
}
html[dir=rtl] .menu-collape-area .card-link:before {
  float: left !important;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 10px;
  content: "\f078";
  transition: all 0.25s;
  font-weight: 900;
}
html[dir=rtl] .menu-collape-area .card-link.collapsed:before {
  float: left !important;
  content: "\f077";
}
html[dir=rtl] .mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-left: 0px !important;
}
html[dir=rtl] .user-toggle-cmn {
  display: block;
  background: #031f41;
  padding: 10px 7px 5px 7px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
html[dir=rtl] .main-menu.active a {
  width: 250px;
}
html[dir=rtl] .affix {
  left: 0px;
  right: 60px;
}
html[dir=rtl] .help-site-link {
  left: 30px;
}
html[dir=rtl] .sidenav {
  left: 0 !important;
  right: inherit;
}
html[dir=rtl] .side-menu-toggles-main,
html[dir=rtl] .side-menu-toggles {
  left: 0;
  right: inherit;
}
html[dir=rtl] .side-menu-toggles-main .left-arow-side-toggle,
html[dir=rtl] .side-menu-toggles .left-arow-side-toggle {
  border-radius: 0 10px 10px 0;
}
html[dir=rtl] .side-menu-toggles-main .left-arow-side-toggle i,
html[dir=rtl] .side-menu-toggles .left-arow-side-toggle i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .side-menu-toggles-main:hover .left-arow-side-toggle i,
html[dir=rtl] .side-menu-toggles:hover .left-arow-side-toggle i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main:hover .side-menu-toggles,
html[dir=rtl] .side-menu-toggles:hover .side-menu-toggles {
  right: inherit;
  left: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main .side-menu-toggles,
html[dir=rtl] .side-menu-toggles .side-menu-toggles {
  position: relative;
  right: inherit;
  left: -33px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main.active .side-menu-toggles,
html[dir=rtl] .side-menu-toggles.active .side-menu-toggles {
  right: 0;
}
html[dir=rtl] .side-menu-toggles-main.active .left-arow-side-toggle i,
html[dir=rtl] .side-menu-toggles.active .left-arow-side-toggle i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .filter-fill .filter-page-inner {
  float: left;
  border-radius: 0 10px 10px 0;
}
html[dir=rtl] .filter-fill .closebtn-filter {
  left: -24px !important;
  right: auto;
}
html[dir=rtl] .filter-fill .quick-content-area {
  text-align: right;
}
html[dir=rtl] .site-feedback h5 {
  text-align: right;
}
html[dir=rtl] .form-body {
  text-align: right;
}
html[dir=rtl] .organization-multi-stup-form .step {
  float: right;
}
html[dir=rtl] .organization-multi-stup-form .multi-add-user {
  margin-right: 9px !important;
  margin-left: 0 !important;
}
html[dir=rtl] #header-sroll-form {
  left: 0;
  right: 60px;
}
html[dir=rtl] #header-sroll-form .multi-form-nbr {
  margin-left: 10px;
}
html[dir=rtl] .tab-type-btn-small {
  text-align: right;
  padding-left: 7px;
}
html[dir=rtl] .tab-type-btn-small .outline-tag i {
  margin-left: 5px;
  margin-right: 0px;
}
html[dir=rtl] .form-group {
  text-align: right;
}
html[dir=rtl] .form-group .multiple-plain-ngselect ng-select[multiple=true] .ng-select-container {
  padding: 4px 0.75rem 0 0.75rem;
}
html[dir=rtl] .selectator_element.multiple {
  padding-left: 30px !important;
  padding-right: 10px !important;
  padding-bottom: 5px !important;
  text-align: right;
}
html[dir=rtl] .plain-select::after {
  left: 24px;
  right: inherit;
}
html[dir=rtl] .selectator_options .selectator_option {
  text-align: right;
}
html[dir=rtl] .multiple .selectator_selected_items .selectator_selected_item {
  padding: 3px 5px 2px 20px;
}
html[dir=rtl] .multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
  left: 0;
  right: inherit;
  margin: 0 5px 0 0 !important;
}
html[dir=rtl] .input-group > .input-group-append > .btn {
  border-radius: 5px 0 0 5px;
  border: 1px solid #ced4da !important;
  border-right: 0 !important;
}
html[dir=rtl] .select-width-plus {
  float: right;
}
html[dir=rtl] .multiple-plain-ngselect .ng-select .ng-select-container::after {
  z-index: 2;
  left: 24px;
  right: inherit;
}
html[dir=rtl] .risk-journey-block .risk-journey-details {
  float: left;
}
html[dir=rtl] .risk-journey-block .journey-title-box {
  float: right;
}
html[dir=rtl] .widget {
  text-align: right;
  width: 100%;
}
html[dir=rtl] .label-tag-style-tag {
  /* float: left !important; */
  margin: 0 15px 0 15px;
}
html[dir=rtl] .arci-user-tab-dtl li {
  float: right;
}
html[dir=rtl] .arrowlist li {
  background: none !important;
  padding-right: 20px;
  padding-left: 0;
  text-align: right;
  position: relative;
}
html[dir=rtl] .arrowlist li::before {
  content: url("../images/arrow-list-1.svg");
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] ul.arrowlist {
  margin-top: 20px;
  padding-left: 0px;
  margin-right: 0 !important;
  padding-right: 0;
  margin-top: 20px;
  padding-left: 0px;
  margin-right: 15px !important;
  padding-right: 0;
}
html[dir=rtl] ul.banking-issue {
  margin-right: 0 !important;
}
html[dir=rtl] .banking-issue li a {
  padding-right: 20px;
  padding-left: 0;
  float: right;
  background: none;
  position: relative;
}
html[dir=rtl] .banking-issue li a::before {
  right: 0;
  position: absolute;
  content: url("../images/arrow-list-1.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
html[dir=rtl] .banking-issue li:hover a {
  background: none !important;
}
html[dir=rtl] .banking-issue li:hover a::before {
  right: 5px;
}
html[dir=rtl] .label-tag-style {
  float: right;
  margin-left: 10px;
}
html[dir=rtl] .panel-drop-sections .panel-heading .drop-down-icone {
  left: 15px;
  right: inherit;
}
html[dir=rtl] .panel-drop-sections .width96pc {
  text-align: right;
}
html[dir=rtl] .panel-drop-sections .panel-body {
  text-align: right;
}
html[dir=rtl] .risk-score-indication {
  right: 0;
  top: 6px;
}
html[dir=rtl] .accordion-score-right {
  left: 55px;
  right: inherit;
}
html[dir=rtl] .edit-option-show {
  left: 15px;
  right: inherit;
}
html[dir=rtl] .issue-smoal-head-text {
  font-size: 15px;
  border-left: 1px solid #d9e2eb;
  border-right: none;
  padding-left: 5px;
  margin-left: 5px;
}
html[dir=rtl] .risk-score-box h5 {
  padding-right: 35px;
  padding-left: 0;
}
html[dir=rtl] .user-list-sm img {
  margin-right: 0;
  margin-left: 10px;
}
html[dir=rtl] .risk-matrix-table-left .ordinary-table {
  border: none !important;
}
html[dir=rtl] .risk-matrix-table-left table td {
  text-align: left;
}
html[dir=rtl] .risk-matrix-table-left table td span {
  left: -30px;
  right: inherit;
}
html[dir=rtl] .risk-matrix-table-bottom .ordinary-table {
  border: none !important;
}
html[dir=rtl] .risk-table-graph-left {
  right: -18px;
  top: 20%;
}
html[dir=rtl] .tab-common-left-md {
  float: right;
}
html[dir=rtl] .vertical-tab {
  padding-right: 0;
}
html[dir=rtl] .vertical-tab li.nav-item {
  margin: 0 0 0 -1px !important;
}
html[dir=rtl] .nav-tabs--left .nav-link {
  text-align: right !important;
}
html[dir=rtl] .nav-tabs--left .nav-link.active {
  box-shadow: 3px 5px 10px #edf2f6;
  margin: 0;
  margin-right: 0px;
  border: 1px solid #ced4da !important;
  border-right-color: #ced4da;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #ced4da;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #ced4da;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0;
  border-bottom: none !important;
  border-left: none !important;
  margin-left: -1px;
  text-align: right;
}
html[dir=rtl] .list-right-score-new {
  left: 0;
  right: inherit;
}
html[dir=rtl] .list-and-btn li {
  padding-left: 130px;
  padding-right: 0;
}
html[dir=rtl] .list-and-btn li .info-text {
  display: inline-block;
}
html[dir=rtl] .indication-text {
  margin-right: 10px;
  margin-left: 20px;
}
html[dir=rtl] .divide-style h3 label {
  margin: -3px 9px 0 0px;
}
html[dir=rtl] .risk-treatment-top-box {
  float: right;
}
html[dir=rtl] .close-text-box {
  left: 3px;
  right: inherit;
}
html[dir=rtl] .processes-issue h5 {
  float: right;
}
html[dir=rtl] .processes-issue .btn {
  float: left;
}
html[dir=rtl] .processes-issue img {
  width: 32px;
  margin-left: 10px;
}
html[dir=rtl] .input-two-col input {
  margin-right: 0;
  margin-left: 2%;
}
html[dir=rtl] .small-tab-small-main .small-tab-small {
  float: right;
}
html[dir=rtl] .small-tab-md-main .small-tab-small .vertical-tab {
  margin-right: 0;
}
html[dir=rtl] .left-line-type-text {
  position: relative;
  padding-left: 0px;
  padding-right: 10px;
}
html[dir=rtl] .left-line-type-text .big-line-bdr-left {
  right: 0;
  left: inherit;
}
html[dir=rtl] .left-line-type-text h6 {
  text-align: right;
}
html[dir=rtl] .likelihood-risk-table .color-box-risk {
  text-align: center !important;
}
html[dir=rtl] .nav-tabs {
  padding-right: 0;
}
html[dir=rtl] .robo-chat {
  left: 8px;
  right: inherit;
}
html[dir=rtl] .round-question-bg {
  float: right;
}
html[dir=rtl] .round-question-details {
  float: left;
}
html[dir=rtl] .stup-root-cause::before {
  left: inherit;
  right: 35px;
}
html[dir=rtl] .accordion-tab .list-group-item.active {
  border: 1px solid #ced4da !important;
  border-left: none !important;
  margin-left: -1px;
}
html[dir=rtl] .accordion-tab .head-main-list-tab.active a {
  box-shadow: 3px 5px 10px #edf2f6;
  text-align: right !important;
}
html[dir=rtl] .accordion-tab .head-main-list-tab a {
  text-align: right;
}
html[dir=rtl] .accordion-tab .head-main-list-tab a .drop-down-icone {
  position: absolute;
  left: 10px;
  right: inherit;
}
html[dir=rtl] .users-page-list .user-list-lg .user-details {
  padding-left: 0px;
  padding-right: 15px;
}
html[dir=rtl] .current-page i {
  float: left;
  margin-right: 5px;
  margin-top: 2.5px;
}
html[dir=rtl] .zui-scroller {
  margin-left: 0 !important;
  margin-right: 305px;
}
html[dir=rtl] .zui-wrapper .competency-matrix-select {
  left: auto !important;
  right: 0px;
}
html[dir=rtl] .zui-wrapper .zui-sticky-col {
  left: auto !important;
  right: 0px;
}
html[dir=rtl] .zui-wrapper .zui-sticky-col2 {
  left: auto !important;
  right: 56px;
}
html[dir=rtl] .search-popup-new button {
  left: 0 !important;
  right: auto !important;
}
html[dir=rtl] .cmn-bdr-right {
  border-left: 1px solid #cbd6e2 !important;
  border-right: none !important;
}
html[dir=rtl] .work-flow-btm-sec-left::before {
  left: auto !important;
  right: 30px;
}
html[dir=rtl] .small-slect-btn .form-control {
  padding: 4px 20px 4px 30px !important;
}
html[dir=rtl] .info-box h2,
html[dir=rtl] .info-box p {
  text-align: right !important;
}
html[dir=rtl] .usr-documents-list .status {
  left: auto !important;
  right: 0;
}
html[dir=rtl] .usr-documents-list .doc-icon {
  margin-left: 15px;
}
html[dir=rtl] .user-list-sm span {
  text-align: right;
  float: none !important;
}
html[dir=rtl] .audit-calandar-right {
  border-left: none !important;
  border-right: 1px solid #eef3f6;
}
html[dir=rtl] .audit-calandar-right .activity-box .month {
  padding: 6px 0px 6px 10px !important;
  border-right: none !important;
  border-left: 3px solid #0088ff;
}
html[dir=rtl] .audit-calandar-left {
  padding-left: 0;
  padding-right: 15px !important;
}
html[dir=rtl] .audit-calandar-left .user-calender-head label {
  float: right !important;
}
html[dir=rtl] .audit-calandar-left .user-calender-head .calender-drop {
  float: left !important;
}
html[dir=rtl] .template-list .workflow-lst-content {
  text-align: right;
}
html[dir=rtl] .level-compliance .top-ten-risk-db strong {
  float: right;
}
html[dir=rtl] .folder-options {
  border-left: 1px solid #ced4da;
  border-right: none !important;
}
html[dir=rtl] .workflow-lst-box-head,
html[dir=rtl] .workflow-lst-content {
  text-align: right;
}
html[dir=rtl] .user-details-page .add-button-outlined {
  right: auto !important;
  left: 0;
}
html[dir=rtl] .user-details-page .right-block h5 span {
  padding-right: 0 !important;
  padding-left: 10px;
}
html[dir=rtl] .edit-bar .active-tag {
  float: right !important;
}
html[dir=rtl] .flow-audit-dafm::after {
  left: auto !important;
  right: 15px;
}
html[dir=rtl] .document-new-tabs .folder-options-main-ul .folder-menu-link::after {
  right: auto !important;
  left: 8px;
}
html[dir=rtl] .pdca-performance-main .pdca-performance .arrowlist li label {
  right: auto !important;
  left: 0px;
}
html[dir=rtl] .report-footer-logo {
  float: right !important;
  margin-right: 40px;
}
html[dir=rtl] .book-page-no {
  right: auto !important;
  left: -40px;
}
html[dir=rtl] .book-buttons {
  float: left !important;
}
html[dir=rtl] .book-buttons #bb-nav-prev {
  float: right;
  margin-left: 5px;
}
@media (min-width: 768px) {
  html[dir=rtl] .work-flow-loop-main-right {
    padding-right: 0 !important;
    padding-left: 50px;
  }
  html[dir=rtl] .work-flow-loop-main-right .work-flow-loop-round {
    left: auto !important;
    right: -37px;
  }
  html[dir=rtl] .work-flow-loop-main-left {
    padding-right: 50px;
    padding-left: 0 !important;
  }
  html[dir=rtl] .work-flow-loop-main-left .work-flow-loop-round {
    right: auto !important;
    left: -37px;
  }
}
html[dir=rtl] .in-ex-icon-with-text {
  padding-left: 5px !important;
}
html[dir=rtl] .in-ex-icon-with-text img {
  margin: -2px 3px 0 5px !important;
}
html[dir=rtl] .panel-drop-sections .panel-heading .width96pc .small-text {
  padding-left: 10px;
}
html[dir=rtl] .work-flow-review-approval p {
  text-align: right !important;
}
html[dir=rtl] .view-more-pestel-box {
  text-align: right;
}
html[dir=rtl] .ceo-db-top .small-type-db-btns {
  text-align: left !important;
}
html[dir=rtl] .ceo-db-top .box-cnt-one {
  padding: 7px 15px 0 15px !important;
}
html[dir=rtl] .organization-multi-stup-form {
  text-align: right;
}
html[dir=rtl] .project-list-main .progress-circle {
  margin-left: 15px;
}
html[dir=rtl] .cmn-text-one-hl {
  padding-left: auto !important;
  padding-right: 15px;
}
html[dir=rtl] .smoal-left-tab-page .dot-div-new {
  padding-left: 0 !important;
  padding-right: 15px;
  margin-right: 10px;
}
html[dir=rtl] .smoal-left-tab-page .dot-div-new::before {
  left: auto !important;
  right: 0px;
}
html[dir=rtl] .pm-boxes-main .middle-text-sec-risk-db {
  padding-right: 15px !important;
}
html[dir=rtl] .pm-risk-boxes-main .top-ten-risk-db .left-line-type-text .dot-div-new {
  margin-right: 0 !important;
}
html[dir=rtl] .discussion-content-sec-left {
  float: right !important;
  width: auto !important;
}
html[dir=rtl] .discussion-content-sec-right {
  width: auto !important;
}
html[dir=rtl] .comment-btns-cmn i {
  margin-left: 5px;
}
html[dir=rtl] .trainining-history-box .controls-mapping-btn {
  right: auto !important;
  left: 20px;
}
html[dir=rtl] .training-right-main .top-ten-risk-db h4.border-right {
  border-right: none !important;
  border-left: 1px solid #dee2e6 !important;
}
html[dir=rtl] .pestel-box-main-right .view-more-pestel-box {
  text-align: left !important;
}
html[dir=rtl] .modal-body .pestel-box ul {
  text-align: right;
  position: relative;
}
html[dir=rtl] .modal-body .pestel-box ul li {
  background: none;
  padding-right: 20px;
}
html[dir=rtl] .modal-body .pestel-box ul li::before {
  position: absolute;
  right: 0;
  content: url("../images/arrow-list-1.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .assesment-history-page .card-header .card-link::before {
  float: left !important;
}
html[dir=rtl] .competency-matrix-main-new .zui-table {
  border-left: solid 1px #bac8d8;
}
html[dir=rtl] .audit-work-flow-number {
  margin-right: 0 !important;
  margin-left: 15px;
}
html[dir=rtl] .audit-work-flow::after {
  left: auto !important;
  right: 15px;
}
html[dir=rtl] .issue-top-sec .label-tag-style-tag {
  float: right !important;
  margin-left: 5px !important;
}
html[dir=rtl] .issue-top-sec .label-tag-style-tag .issue-smoal-head-text {
  margin-right: 0 !important;
}
html[dir=rtl] .issue-top-sec .label-left-arow-tag {
  float: left !important;
}
html[dir=rtl] .icon-with-text-small-tab .nav-tabs .nav-item .nav-link i {
  margin-left: 5px;
}
html[dir=rtl] .issue-smoal-head-text {
  margin-right: 0 !important;
}
html[dir=rtl] .settings-page .access-main-card .card-header a {
  padding-right: 30px;
  padding-left: 0px !important;
}
html[dir=rtl] .settings-page .access-main-card .card-header a::before {
  float: left !important;
}
html[dir=rtl] .settings-page .access-main-card .card-header .custom-control {
  left: auto !important;
  right: 20px;
}
html[dir=rtl] .settings-page .setting-item .switch,
html[dir=rtl] .settings-page .email-notification-settings .switch {
  float: left !important;
}
html[dir=rtl] .settings-page .setting-item .item-check {
  padding-right: 30px;
  padding-left: 0 !important;
}
html[dir=rtl] .settings-page .setting-item .item-check .checkmark {
  right: 0;
  left: auto !important;
}
html[dir=rtl] .settings-page .panel-with-switch .small-switch-checkbox {
  right: auto !important;
  left: 50px;
}
html[dir=rtl] .settings-page .panel-drop-sections .panel-with-switch .width96pc {
  padding-right: 20px !important;
}
html[dir=rtl] .rfi-discussion-box-main {
  padding-top: 35px;
}
html[dir=rtl] .auditor-wise-name span {
  text-align: right;
}
html[dir=rtl] .audit-plan-nbr {
  left: 50px;
  right: auto !important;
}
html[dir=rtl] .login-page .forgot-box-bg,
html[dir=rtl] .login-page .login-block {
  text-align: right;
}
@media (min-width: 768px) {
  html[dir=rtl] .login-page .forgot-box-bg,
html[dir=rtl] .login-page .login-block {
    float: left;
    margin-left: 20%;
    margin-top: 5%;
  }
}
html[dir=rtl] .login-page .forgot-box-bg .trouble-receiving img,
html[dir=rtl] .login-page .login-block .trouble-receiving img {
  margin-left: 5px;
}
html[dir=rtl] .bpm-cnt-section .owl-vertical-slider .owl-carousel {
  right: -32%;
  margin-right: -50px;
  left: auto !important;
  margin-left: 0 !important;
}
html[dir=rtl] .bpm-cnt-section .bpm-tbl-bg td {
  text-align: center;
}
html[dir=rtl] .bpm-cnt-section .detailes-bpm-box {
  text-align: right;
}
html[dir=rtl] .bpm-cnt-section .bpm-table {
  top: 0 !important;
}
html[dir=rtl] .small-menu-top-left {
  left: 20px;
  right: auto !important;
}
html[dir=rtl] .execute-cheklist-ftr {
  text-align: right;
}
html[dir=rtl] .folder-page-main .tab-common-left-mds {
  float: right !important;
}
html[dir=rtl] .my-profile-banner .user-img-section {
  left: auto !important;
  right: -8px;
}
html[dir=rtl] .organization-page .accordion-percentage-right {
  right: auto !important;
  left: 45px;
}
html[dir=rtl] .organization-page .card-header a::before {
  float: left !important;
}
html[dir=rtl] .assesment-list-result-main .table-result-page td:first-child {
  text-align: center;
}
html[dir=rtl] .assesment-list-result-main .table-result-page td {
  padding: 5px !important;
}
html[dir=rtl] .user-details-graph-bg {
  padding: 63px 60px 50px 20px !important;
}
html[dir=rtl] .user-details-graph-bg .user-details-graph {
  border-right: 1px solid #0088FF52;
  border-left: none !important;
}
html[dir=rtl] .user-details-graph-bg .user-details-graph li .graph-percentage {
  right: auto !important;
  left: -45px;
}
html[dir=rtl] .user-guid-pic-dtl {
  text-align: right;
}
html[dir=rtl] .curve-toggle.curv-2 {
  right: auto !important;
  left: 0px !important;
  top: 0px !important;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .new-search-v2 {
  left: -15px;
  right: auto !important;
}
html[dir=rtl] .new-search-v2 .search-clear-btn {
  left: 48px;
  right: auto !important;
}
html[dir=rtl] .new-search-v2 .form-control-submit {
  left: 0;
  right: auto !important;
}
html[dir=rtl] .new-search-v2 .sb-search-open .search-label {
  left: 0;
  right: auto !important;
  border-radius: 7px 0px 0px 7px !important;
}
html[dir=rtl] .new-search-v2 .form-group input.form-control {
  padding: 10px 10px 10px 56px;
}
html[dir=rtl] .org-customer-tbl-new table tr td .fas-icon {
  float: right;
  margin-left: 10px;
}
html[dir=rtl] .org-customer-tbl-new table tr td p {
  float: none !important;
  width: auto !important;
  display: inline-block;
}
html[dir=rtl] .organization-page .arrowlist {
  margin-right: 0px !important;
}
html[dir=rtl] .side-bar-round {
  right: 8px;
  left: auto !important;
}
html[dir=rtl] .audit-program-details-page .arrowlist {
  margin-right: 0 !important;
}
html[dir=rtl] .language-head {
  margin-right: 0 !important;
}
html[dir=rtl] .bullet-point-list ul li {
  background: none;
  padding-right: 20px;
  position: relative;
}
html[dir=rtl] .bullet-point-list ul li::before {
  position: absolute;
  right: 0;
  content: url("../images/arrow-list-1.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .product-listing h6 {
  text-align: right;
}
html[dir=rtl] .form-next-page-btns {
  float: right !important;
}
html[dir=rtl] .value-with-text-box span {
  left: 0;
}
html[dir=rtl] .thumb-view-left-side-box {
  float: right !important;
}
html[dir=rtl] .popup-full-width .close {
  left: 33px;
  right: auto !important;
}
html[dir=rtl] .welcome-screen .modal-dialog .modal-content .modal-close {
  left: 80px;
  right: auto !important;
}
html[dir=rtl] .upload-pics:hover .edit-option-show {
  right: auto !important;
}
html[dir=rtl] .upload-pics .edit-option-show-inner {
  right: auto !important;
  left: 15px;
}
html[dir=rtl] .edit-option-show {
  /*margin-top: -10px !important;*/
}
html[dir=rtl] .pestel-box-main-right .pestel-box {
  text-align: right;
}
html[dir=rtl] .pestel-box-main-right .pestel-box li {
  background-position: right;
  padding-left: 0;
  padding-right: 30px;
}
html[dir=rtl] .pestel-box-main-right .pestel-box .view-more-pestel-box {
  text-align: right !important;
}
@media (min-width: 768px) {
  html[dir=rtl] .pestel-box-main-right .pestle-clr-box {
    float: right;
  }
}
html[dir=rtl] .pestel-box-main-left .pestel-box {
  text-align: left;
}
html[dir=rtl] .pestel-box-main-left .pestel-box li {
  background-position: left;
  padding-right: 0;
  padding-left: 30px;
}
html[dir=rtl] .pestel-box-main-left .pestel-box .view-more-pestel-box {
  text-align: left !important;
}
@media (min-width: 768px) {
  html[dir=rtl] .pestel-box-main-left .pestle-clr-box {
    float: left;
  }
}
html[dir=rtl] .diamond-box-left {
  right: 30px;
  float: left;
}
html[dir=rtl] .organization-page .product-listing h2,
html[dir=rtl] .organization-page .product-listing h3 {
  text-align: right;
}
html[dir=rtl] .folder-box-document img {
  margin-left: 5px !important;
}
html[dir=rtl] .checkmark {
  right: 0;
  left: auto !important;
}
html[dir=rtl] .issuue-new-style .left-box-issue-details {
  border-right: none !important;
  border-left: 2px solid #f3f8fb;
}
html[dir=rtl] .work-flow-new-cmn-head-user.work-flow-new-cmn .l-number-rounde {
  right: -12px;
  left: auto !important;
}
html[dir=rtl] .label-work-flow-audit {
  right: 20px;
  left: auto !important;
}
html[dir=rtl] .work-flow-new-cmn .l-number-rounde {
  right: -12px;
  left: auto !important;
}
html[dir=rtl] .work-flow-audit-new .l-number-rounde {
  right: -12px;
  left: auto !important;
}
html[dir=rtl] .completed-questions-progress {
  padding-right: 30px;
  padding-left: 0 !important;
}
html[dir=rtl] .completed-questions-progress .completed-questions-progress-label {
  float: right;
  margin-top: 20px;
}
html[dir=rtl] .overall-score {
  border-right: none !important;
  border-left: 1px solid #ccc;
}
html[dir=rtl] .user-details-page .user-settings .card {
  text-align: right;
}
html[dir=rtl] .user-details-page .user-settings .card .card-header .questions-attended-icon {
  margin-left: 8px;
  margin-right: 0 !important;
}
html[dir=rtl] .initiaves-dtl-boxes-main.initiaves-dtl-boxes-last-plus .initiaves-dtl-boxes-right::after {
  transform: rotate(180deg);
  right: -14px;
  left: auto !important;
}
html[dir=rtl] .initiaves-dtl-boxes-main.initiaves-dtl-boxes-last-plus .budget-initives-sec {
  border-right: 1px solid #cbd6e2;
  border-left: none !important;
}
html[dir=rtl] .initiaves-dtl-boxes-main.initiaves-dtl-boxes-last-plus .initiaves-dtl-boxes-left::after {
  right: 25px;
  left: auto !important;
}
html[dir=rtl] .introduction-page .padding-right-0 {
  padding-right: 15px !important;
}
@media (min-width: 768px) {
  html[dir=rtl] .bb-bookblock .scroller .report-frame .col-md-4 .row {
    display: block;
  }
  html[dir=rtl] .bb-bookblock .scroller .report-frame .col-md-4 .row .col-md-8 {
    float: left;
  }
  html[dir=rtl] .bb-bookblock .scroller .report-frame .col-md-4 .row .col-md-4 {
    float: right;
  }
}
html[dir=rtl] .accordion-with-check .width96pc {
  padding-right: 48px;
  padding-left: 0 !important;
}
html[dir=rtl] .check-align-2 {
  right: 20px;
  left: auto !important;
}
html[dir=rtl] .select-width-plus {
  width: calc(100% - 52px);
}

/*# sourceMappingURL=styles-rtl.css.map */


/* report style start */
html[dir=rtl] .pdf-menu-accodion {
  right: 60px;
}
html[dir=rtl] .pdf-zoom-header-main {
    left: unset;
    right: 140px;
}
html[dir=rtl] .pdf-new-style-pagination.pdf-v2-report-html {
    padding-left: 0;
    padding-right: 140px;
}
html[dir=rtl] .pdf-inner-no-border-accodion .panel-default>.panel-heading a:after {
    right: unset;
    left: 0;
}



@media screen and (max-width: 1199.98px) {
  html[dir=rtl] .pdf-menu-accodion {
    left: unset;
    right: 0;
  }
}

@media screen and (max-width: 1023.98px) and (min-width: 320px) {
  html[dir=rtl] .pdf-zoom-header-main {
      margin-right: 0;
      margin-left: 35px;
  }
  html[dir=rtl] .pdf-new-style-pagination.pdf-v2-report-html {
    margin-right: 0;
    margin-left: 35px;
  }

}

@media screen and (max-width: 1199.98px) {
  html[dir=rtl] .pdf-zoom-header-main {
      margin-right: 0;
      margin-left: 35px;
  }
  html[dir=rtl] .pdf-new-style-pagination.pdf-v2-report-html {
    margin-right: 0;
    margin-left: 35px;
  }
}


@media screen and (max-width: 1279.98px) and (min-width: 1024px) {
  html[dir=rtl] .pdf-new-style-pagination.pdf-v2-report-html {
      margin-left: 30px;
      margin-right: 0;
  }
  html[dir=rtl] .pdf-zoom-header-main {
    margin-right: 0px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1399.98px) and (min-width: 1280px) {

  html[dir=rtl] .pdf-new-style-pagination.pdf-v2-report-html {
      margin: 0 0px 0 80px;
      float: left;
  }
  html[dir=rtl] .pdf-zoom-header-main {
      margin: 0 0px 0 80px;
      float: left;
  }

}
/* report style end */


/* style start */
html[dir=rtl] .step-qoc-box:first-child:before {
    width: 50%;
}
html[dir=rtl] .step-qoc-box:last-child:after {
    width: 0;
}
html[dir=rtl] .step-qoc-box:first-child:before {
    width: 0;
}
html[dir=rtl] .step-qoc-box:last-child:after {
    width: 50%;
}
html[dir=rtl] .step-qoc-user-box, html[dir=rtl] .step-qoc-user-box-slider {
    right: unset;
    left: -34%;
}
html[dir=rtl] .two-user-pic {
    margin-left: -22px !important;
}
html[dir=rtl] .two-user-pic {
    margin-left: 0 !important;
    margin-right: -22px !important;
}
html[dir=rtl] .drop-tab-menu-list-hdr ul {
  padding: 10px 0 !important;
}
html[dir=rtl] .folder-view-search .has-search .text-search {
    right: unset;
    left: 13px;
}
html[dir=rtl] .small-tab-foder {
    float: left;
}
html[dir=rtl] .document-pop-header .col-md-3.pr-0 {
  padding-right: 15px !important;
  padding-left: 0 !important;
}
html[dir=rtl] .document-details-qoc .small-tab-icons ul li {
  margin-left: 0;
  margin-right: 12px;
}
html[dir=rtl] .outline-tag {
  margin-right: 0;
  margin-left: 5px;
}
html[dir=rtl] .btn {
    margin-right: 0px!important;
    margin-left: 5px !important;
}
html[dir=rtl] .user-post-department-div {
    padding-left: 0px;
    padding-right: 10px;
}
html[dir=rtl] .multiple-plain-ngselect .ng-clear-wrapper {
    right: unset;
    left: 22px;
}
html[dir=rtl] .form-group .multiple-plain-ngselect ng-select[multiple=true] .ng-select-container, html[dir=rtl] .multiple-plain-ngselect .ng-select .ng-select-container {
    padding-right: 0.75rem !important;
    padding-left: 50px;
}
html[dir=rtl] .ng-select-user-display {
    margin-right: 0px;
    margin-left: 3px;
}
html[dir=rtl] .ng-select-container .ng-value.ng-star-inserted b {
  padding-left: 0px !important;
  padding-right: 3px;
}
html[dir=rtl] .custom-select {
  background-position: 0.35rem;
}
html[dir=rtl] .cmn-bdr.px-3 {
  padding-left: 1rem !important;
}
html[dir=rtl] .issue-list-table-org .container2 {
    padding-left: 0;
    padding-right: 25px;
}
html[dir=rtl] .padding-right-0 {
    padding-right: 15px;
    padding-left: 0;
}
html[dir=rtl] .edit-icons a i.lni-close {
    margin-left: 0 !important;
}


html[dir=rtl] .slider-user-guide-menu .nav .nav-item .nav-link:before {
    right: unset;
    left: -21px;
    border-left: none;
    border-right: 20px solid #08f;
}
html[dir=rtl] .slider-user-guide-menu .nav .nav-item .nav-link:after {
    right: unset;
    left: -20px;
    border-left: none;
    border-right: 20px solid #fff;
}
html[dir=rtl] .slider-user-guide-menu .nav .nav-item .nav-link {
    padding: 5px 40px 5px 20px;
}
html[dir=rtl] .slider-user-guide-menu .nav .nav-item .nav-link.active:after {
    border-left-color: none !important;
    border-right-color: #08f!important;
}
html[dir=rtl] .slider-user-guide-menu-scroll {
    padding-right: 0;
    padding-left: 21px;
}
html[dir=rtl] .competency-matrix-new .row100 td {
    text-align: center;
}
html[dir=rtl] .curve-toggle {
    right: unset;
    left: -1px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
html[dir=rtl] .user-side-bar-sw {
    left: unset;
    right: 0;
}
html[dir=rtl] .user-side-bar-hd {
    left: unset;
    right: -300px;
}

/* side menu style start */
html[dir=rtl] .menu-collape-area ul li a i {
    margin-right: 2px;
    margin-left: 7px;
    float: right;
}
html[dir=rtl] #sidebar-wrapper-menu .menu-collape-area .submenu, html[dir=rtl] #sidebar-wrapper-menu .menu-collape-area li a span {
    display: block;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0;
}
html[dir=rtl] #sidebar-wrapper-menu.active .menu-collape-area .submenu, html[dir=rtl] #sidebar-wrapper-menu.active .menu-collape-area li a span {
  opacity: 1;
}
/* side menu style end */




@media screen and (max-width: 767.98px) {
  html[dir=rtl] .padding-right-0 {
      padding-left: 15px;
  }

}

@media screen and (max-width: 1023.98px) and (min-width: 768px) {
  html[dir=rtl] .padding-right-0 {
      padding-right: 0;
      padding-left: 15px;
  }
  html[dir=rtl] .vertical-tab li.nav-item {
    margin: 0 0 0 -3px!important;
 }


}

/* style end */
/* Megha Styling */
html[dir=rtl] .dot-div-new:before{
  left: unset;
  right: 0;
}
html[dir=rtl] .dot-div-new.db-status span{
  margin: -4px 0px 0px 10px;
}
html[dir=rtl] .oc-tab-menu{
  float: right !important;
}
html[dir=rtl] .filter-select-wrapper>.item>button{
  margin-right: 7px;
}
html[dir=rtl] .risk-matrix-table-bottom table tr td{
  text-align: center !important;
}
html[dir=rtl] .risk-table-graph-left{
  top: 36% !important;
}
html[dir=rtl] .status-tag-new-two {
  right: inherit;
  left: 0px;
  border-radius: 0 0 40px 0;
  padding: 2px 20px 3px 12px;
}
html[dir=rtl] #sidebar-wrapper-menu .menu-collape-area .submenu .collapse {
  height: 0;
}
html[dir=rtl] #sidebar-wrapper-menu:hover .menu-collape-area .submenu .collapse {
  height: auto;
}
html[dir=rtl] .calculation-main-cls .outline-tag {
  padding-left: 30px;
}
html[dir=rtl] .padding-left-0 {
  padding-left: 15px;
  padding-right: 0;
}
html[dir=rtl] .dot-div-new.span-dot-color span{
  margin: -2px 0px 0px 5px;
}
html[dir=rtl] .dot-div-new{
  padding-left: 0;
  padding-right: 18px
}
html[dir=rtl] .dot-div-new.span-dot-color{
  padding-left: 15px;
  padding-right: 0;
}
html[dir=rtl] .risk-rating-box-color.border-left-none{
  border-right: none;
  border-left: 2px solid #616161 !important;
}
html[dir=rtl] .work-flow-review-approval p.text-center{
  text-align: center !important;
}
html[dir=rtl] .data-input-select-box{
  padding: 10px 55px 10px 20px;
}
html[dir=rtl] .tag-data-input-select-box:after {
  right: unset;
  left: -9px;
  border-right: 10px solid #08f;
  border-left: 0;
}
html[dir=rtl] .tag-data-input-select-box{
  left: unset;
  right: 0;
}
html[dir=rtl] .cmn-bdr-left-sm-hide {
  border-right: 1px solid #cbd6e2!important;
}
html[dir=rtl] .header-back-line h6{
  padding-right: 30px;
}
html[dir=rtl] .maturity-matrix-table table tr td{
  text-align: right;
}
html[dir=rtl] .border-right {
  border-left: 1px solid #dee2e6!important;
  border-right: 0 !important;
}