@charset "UTF-8";
html[dir=rtl] body {
  padding: 0 60px 0 0;
}
html[dir=rtl] .float-left {
  float: right !important;
}
html[dir=rtl] .float-right {
  float: left !important;
}
html[dir=rtl] .pl-2,
html[dir=rtl] .px-2 {
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}
html[dir=rtl] .ml-2,
html[dir=rtl] .mx-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}
html[dir=rtl] .pr-4,
html[dir=rtl] .px-4 {
  padding-left: 1.5rem !important;
  padding-right: 0 !important;
}
html[dir=rtl] .mr-5,
html[dir=rtl] .mx-5 {
  margin-left: 3rem !important;
  margin-right: inherit !important;
}
html[dir=rtl] .pl-3,
html[dir=rtl] .px-3 {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}
html[dir=rtl] .mr-2,
html[dir=rtl] .mx-2 {
  margin-left: 0.5rem !important;
  margin-right: inherit !important;
}
html[dir=rtl] .mr-1,
html[dir=rtl] .mx-1 {
  margin-left: 0.25rem !important;
  margin-right: inherit !important;
}
html[dir=rtl] .ml-auto,
html[dir=rtl] .mx-auto {
  margin-right: auto !important;
  margin-left: inherit !important;
}
html[dir=rtl] .text-left {
  text-align: right !important;
}
html[dir=rtl] .text-right {
  text-align: left !important;
}
html[dir=rtl] .border-left {
  border-right: 1px solid #dee2e6 !important;
  border-left: none !important;
}
html[dir=rtl] #nav-icon1 {
  right: 18px;
}
html[dir=rtl] .acl-page table th,
html[dir=rtl] .acl-page table td {
  text-align: right;
}
html[dir=rtl] .ordinary-table th,
html[dir=rtl] .ordinary-table td {
  text-align: right;
}
html[dir=rtl] .dot-div::before {
  margin-left: 10px;
  margin-right: auto;
}
html[dir=rtl] .edit-bar .nav {
  padding: 0 !important;
  margin: 0 !important;
}
html[dir=rtl] .dropdown-menu-right {
  left: 0;
  right: auto;
}
html[dir=rtl] .notifications-head .btn {
  margin-left: 10px;
}
html[dir=rtl] .top-bar .dual-collapse2 .notification li .language-btn {
  margin-left: 15px;
}
html[dir=rtl] #sidebar-wrapper2.active {
  left: 0;
  right: inherit !important;
}
html[dir=rtl] #sidebar-wrapper2-inner {
  left: -343px;
  right: inherit !important;
}
html[dir=rtl] #sidebar-wrapper2-inner.active {
  left: 0 !important;
}
html[dir=rtl] .inner-chat-head h6 {
  float: right;
}
html[dir=rtl] .chat-left-side {
  float: right;
}
html[dir=rtl] .chat-right-side {
  float: left;
}
html[dir=rtl] .chat-menu-section li {
  float: right;
  list-style-type: none;
  padding-right: 15px;
}
html[dir=rtl] .msg-right {
  float: left;
}
html[dir=rtl] .msg-right::before {
  width: 0;
  height: 0;
  content: "";
  top: 0px;
  left: -10px;
  position: absolute;
  border-style: solid;
  border-width: 14px 0px 0px 14px;
  border-color: #fff transparent transparent transparent;
}
html[dir=rtl] .msg-right::after {
  display: none;
}
html[dir=rtl] .msg-left::before {
  width: 0;
  height: 0;
  content: "";
  top: 0px;
  left: inherit;
  right: -10px;
  position: absolute;
  border-style: solid;
  border-width: 14px 14px 0px 0px;
  border-color: #ffffff transparent transparent transparent;
}
html[dir=rtl] .chat-box .mCSB_scrollTools .mCSB_draggerContainer {
  right: 18px;
}
html[dir=rtl] .msg-left {
  float: right;
}
html[dir=rtl] #sidebar-wrapper-menu {
  right: 0;
  left: auto;
}
html[dir=rtl] #sidebar-wrapper-menu .side-bar-header {
  float: left;
}
html[dir=rtl] #nav-icon1 {
  right: 18px;
  left: auto;
}
html[dir=rtl] .top-bar .notification li {
  margin-left: 5px;
  margin-right: 0px;
}
html[dir=rtl] .menu-collape-area {
  margin-top: 10px;
  overflow: hidden;
}
html[dir=rtl] .menu-collape-area ul {
  padding: 0;
}
html[dir=rtl] .menu-collape-area ul li a {
  color: #fff;
  padding: 10px;
  display: block;
  width: 230px;
  padding-right: 15px;
  font-size: 15px;
  text-align: right;
}
html[dir=rtl] .menu-collape-area ul li a i {
  font-size: 16px;
  margin-right: 6px;
  margin-left: 4px;
}
html[dir=rtl] .menu-collape-area .submenu a {
  padding-right: 30px !important;
}
html[dir=rtl] .menu-collape-area .card-link:before {
  float: left !important;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 10px;
  content: "";
  color: #fff;
  transition: all 0.25s;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
html[dir=rtl] .menu-collape-area .card-link.collapsed:before {
  float: left !important;
  content: "";
}
html[dir=rtl] .mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-left: 0px !important;
}
html[dir=rtl] .user-toggle-cmn {
  display: block;
  background: #031f41;
  padding: 10px 7px 5px 7px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
html[dir=rtl] .main-menu.active a {
  width: 250px;
}
html[dir=rtl] .affix {
  left: 0px;
  right: 60px;
}
html[dir=rtl] .help-site-link {
  left: 30px;
}
html[dir=rtl] .sidenav {
  left: 0 !important;
  right: inherit;
}
html[dir=rtl] .side-menu-toggles-main {
  left: 0;
  right: inherit;
}
html[dir=rtl] .side-menu-toggles-main .left-arow-side-toggle {
  border-radius: 0 10px 10px 0;
}
html[dir=rtl] .side-menu-toggles-main .left-arow-side-toggle i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
html[dir=rtl] .side-menu-toggles-main:hover .left-arow-side-toggle i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main .side-menu-toggles {
  position: relative;
  right: inherit;
  left: -33px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main:hover .side-menu-toggles {
  right: inherit;
  left: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .side-menu-toggles-main.active .side-menu-toggles {
  right: 0;
}
html[dir=rtl] .side-menu-toggles-main.active .left-arow-side-toggle i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] .filter-fill .filter-page-inner {
  float: left;
  border-radius: 0 10px 10px 0;
}
html[dir=rtl] .filter-fill .closebtn-filter {
  left: -24px !important;
  right: auto;
}
html[dir=rtl] .filter-fill .quick-content-area {
  text-align: right;
}
html[dir=rtl] .site-feedback h5 {
  text-align: right;
}
html[dir=rtl] .form-body {
  text-align: right;
}
html[dir=rtl] .organization-multi-stup-form .step {
  float: right;
}
html[dir=rtl] #header-sroll-form {
  left: 0;
  right: 60px;
}
html[dir=rtl] #header-sroll-form .multi-form-nbr {
  margin-left: 10px;
}
html[dir=rtl] .tab-type-btn-small {
  text-align: right;
}
html[dir=rtl] .form-group {
  text-align: right;
}
html[dir=rtl] .selectator_element.multiple {
  padding-left: 30px !important;
  padding-right: 10px !important;
  padding-bottom: 5px !important;
  text-align: right;
}
html[dir=rtl] .plain-select::after {
  left: 24px;
  right: inherit;
}
html[dir=rtl] .selectator_options .selectator_option {
  text-align: right;
}
html[dir=rtl] .multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
  left: 0;
  right: inherit;
  margin: 0 5px 0 0 !important;
}
html[dir=rtl] .multiple .selectator_selected_items .selectator_selected_item {
  padding: 3px 5px 2px 20px;
}
html[dir=rtl] .input-group > .input-group-append > .btn {
  border-radius: 5px 0 0 5px;
  border: 1px solid #ced4da !important;
  border-right: 0 !important;
}
html[dir=rtl] .input-group > .form-control:not(:last-child),
html[dir=rtl] .input-group > .custom-select:not(:last-child) {
  border-radius: 0px 5px 5px 0px !important;
}
html[dir=rtl] .select-width-plus {
  float: right;
}
html[dir=rtl] .multiple-plain-ngselect .ng-select .ng-select-container::after {
  z-index: 2;
  left: 24px;
  right: inherit;
}
html[dir=rtl] .form-group .multiple-plain-ngselect ng-select[multiple=true] .ng-select-container {
  padding: 4px 0.75rem 0 0.75rem;
}
html[dir=rtl] .organization-multi-stup-form .multi-add-user {
  margin-right: 9px !important;
  margin-left: 0 !important;
}
html[dir=rtl] .tab-type-btn-small .outline-tag i {
  margin-left: 5px;
  margin-right: 0px;
}
html[dir=rtl] .risk-journey-block .risk-journey-details {
  float: left;
}
html[dir=rtl] .risk-journey-block .journey-title-box {
  float: right;
}
html[dir=rtl] .widget {
  text-align: right;
}
html[dir=rtl] .edit-bar .nav-item {
  float: right;
}
html[dir=rtl] .label-tag-style-tag {
  float: right !important;
  margin: 0 0 0 20px;
}
html[dir=rtl] .arci-user-tab-dtl li {
  float: right;
}
html[dir=rtl] .arrowlist li {
  background: url(../images/arrow-list.png) no-repeat 100% 6px !important;
  padding-right: 30px;
  padding-left: 0;
  float: right;
}
html[dir=rtl] ul.arrowlist {
  margin-top: 20px;
  padding-left: 0px;
  margin-right: 0 !important;
  float: right;
  padding-right: 0;
}
html[dir=rtl] .banking-issue li a {
  background: url(../images/arrow-list.png) no-repeat 100% 6px !important;
  padding-right: 30px;
  padding-left: 0;
  float: right;
}
html[dir=rtl] ul.banking-issue {
  margin-right: 0 !important;
}
html[dir=rtl] .label-tag-style {
  float: right;
}
html[dir=rtl] .panel-drop-sections .panel-heading .drop-down-icone {
  left: 15px;
  right: inherit;
}
html[dir=rtl] .risk-score-indication {
  right: 0;
  top: 6px;
}
html[dir=rtl] .accordion-score-right {
  left: 55px;
  right: inherit;
}
html[dir=rtl] .edit-option-show {
  left: 15px;
  right: inherit;
}
html[dir=rtl] .issue-smoal-head-text {
  font-size: 15px;
  border-left: 1px solid #d9e2eb;
  border-right: none;
  padding-left: 5px;
  margin-left: 5px;
}
html[dir=rtl] .risk-score-box h5 {
  padding-right: 35px;
  padding-left: 0;
}
html[dir=rtl] .panel-drop-sections .width96pc {
  text-align: right;
}
html[dir=rtl] .panel-drop-sections .panel-body {
  text-align: right;
}
html[dir=rtl] ul.arrowlist {
  margin-top: 20px;
  padding-left: 0px;
  margin-right: 0 !important;
  float: right;
  padding-right: 0;
}
html[dir=rtl] .user-list-sm img {
  margin-right: none;
  margin-left: 10px;
}
html[dir=rtl] .risk-matrix-table-left .ordinary-table {
  border: none !important;
}
html[dir=rtl] .risk-matrix-table-bottom .ordinary-table {
  border: none !important;
}
html[dir=rtl] .risk-table-graph-left {
  right: -18px;
  top: 20%;
}
html[dir=rtl] .risk-matrix-table-left table td {
  text-align: left;
}
html[dir=rtl] .risk-matrix-table-left table td span {
  left: -30px;
  right: inherit;
}
html[dir=rtl] .tab-common-left-md {
  float: right;
}
html[dir=rtl] .vertical-tab {
  padding-right: 0;
}
html[dir=rtl] .nav-tabs--left .nav-link.active {
  box-shadow: 3px 5px 10px #edf2f6;
  margin: 0;
  margin-right: 0px;
  border: 1px solid #ced4da !important;
  border-right-color: #ced4da;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #ced4da;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #ced4da;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0;
  border-bottom: none !important;
  border-left: none !important;
  margin-left: -1px;
  text-align: right;
}
html[dir=rtl] .nav-tabs--left .nav-link {
  text-align: right !important;
}
html[dir=rtl] .list-right-score-new {
  left: 0;
  right: inherit;
}
html[dir=rtl] .list-and-btn li {
  padding-left: 130px;
  padding-right: 0;
}
html[dir=rtl] .list-and-btn li .info-text {
  display: inline-block;
}
html[dir=rtl] .indication-text {
  margin-right: 10px;
}
html[dir=rtl] .divide-style h3 label {
  margin: -3px 9px 0 0px;
}
html[dir=rtl] .risk-treatment-top-box {
  float: right;
}
html[dir=rtl] .close-text-box {
  left: 3px;
  right: inherit;
}
html[dir=rtl] .processes-issue h5 {
  float: right;
}
html[dir=rtl] .input-two-col input {
  margin-right: 0;
  margin-left: 2%;
}
html[dir=rtl] .small-tab-small-main .small-tab-small {
  float: right;
}
html[dir=rtl] .small-tab-md-main .small-tab-small .vertical-tab {
  margin-right: 0;
}
html[dir=rtl] .vertical-tab li.nav-item {
  margin: 0 0 0 -1px !important;
}
html[dir=rtl] .left-line-type-text .big-line-bdr-left {
  right: 0;
  left: inherit;
}
html[dir=rtl] .left-line-type-text {
  position: relative;
  padding-left: 0px;
  padding-right: 10px;
}
html[dir=rtl] .likelihood-risk-table .color-box-risk {
  text-align: center !important;
}
html[dir=rtl] .border-right {
  border-left: 1px solid #dee2e6 !important;
  border-right: none !important;
}
html[dir=rtl] .nav-tabs {
  padding-right: 0;
}
html[dir=rtl] .tab-type-btn-small {
  padding-right: 7px;
}
html[dir=rtl] .robo-chat {
  left: 8px;
  right: inherit;
}
html[dir=rtl] .left-line-type-text h6 {
  text-align: right;
}
html[dir=rtl] .round-question-bg {
  float: right;
}
html[dir=rtl] .round-question-details {
  float: left;
}
html[dir=rtl] .stup-root-cause::before {
  left: inherit;
  right: 35px;
}
html[dir=rtl] .processes-issue .btn {
  float: left;
}
html[dir=rtl] .processes-issue img {
  width: 32px;
  margin-left: 10px;
}
html[dir=rtl] .accordion-tab .list-group-item.active {
  border: 1px solid #ced4da !important;
  border-left: none !important;
  margin-left: -1px;
}
html[dir=rtl] .accordion-tab .head-main-list-tab.active a {
  box-shadow: 3px 5px 10px #edf2f6;
  text-align: right !important;
}
html[dir=rtl] .accordion-tab .head-main-list-tab a {
  text-align: right;
}
html[dir=rtl] .accordion-tab .head-main-list-tab a .drop-down-icone {
  position: absolute;
  left: 10px;
  right: inherit;
}

/*# sourceMappingURL=style-rtl.css.map */
