a:hover {
  color: #1a496a;
}
.menu-collape-area ul li a {
  color: #fff;
}
.menu-collape-area .card-link:before {
  color: #fff;
}
.menu-collape-area ul li a:hover:before {
  color: #fff;
}
#sidebar-wrapper-menu .side-bar-header {
  background: #012d4b;
}
#sidebar-wrapper-menu.active .side-bar-header {
  background: #012d4b;
}
.bg-dark {
  background: #1a496a !important;
}
.top-bar .notification a i {
  color: #fff;
}
.top-bar .language-btn {
  background: #38383657 !important;
}
.user-box-header .dropdown-menu a:hover span {
  color: #1a496a !important;
}
body {
  background: #f5f6f7;
}
.bg-main {
  background: #f5f6f7 !important;
}
.actvitylog-dtl-round {
  border-color: #f5f6f7;
}
.edit-bar .nav-item .nav-link.active {
  background-color: #f5f6f7;
  color: #43a8a4;
}
.edit-bar .nav-item .nav-link:hover {
  color: #43a8a4;
}
.main-menu .submenu .collapse li a.active {
  background: #1a496a;
}
.edit-bar .edit-icons li a:hover {
  color: #43a8a4;
}
.nav-pills.edit-icons li a.active {
  color: #43a8a4;
}
#sidebar-wrapper-menu {
  background-color: #1a496a;
}
.left-menu-main .card-link.active,
.main-menu .submenu .collapse li a.active,
.menu-collape-area ul li a.active {
  background: transparent;
  color: #43a8a4;
}
/*.edit-bar .edit-icons li a {
    color: #43a8a4;
}*/
/*.edit-bar .nav-item .nav-link {
    color: #43a8a4;
}*/
.menu-collape-area ul li a:hover {
  background: transparent;
  color: #43a8a4;
}
.left-menu-main .card-link.active {
  background: transparent;
  color: #43a8a4;
}
.menu-collape-area li:hover .card-link:before {
  color: #43a8a4;
}
.menu-collape-area li:hover .card-link {
  background: transparent;
  color: #43a8a4;
}
.left-menu-main .card-link {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/*.menu-collape-area .card-link i {
    color: #fff;
}*/
.menu-collape-area .card-link.active:before {
  color: #43a8a4;
}
.icon-with-text-small-tab .nav-tabs .nav-item .nav-link.active {
  border-color: #1a496a !important;
  background: #1a496a !important;
}

/* btn type style start */
a.btn:not([href]):not([tabindex]) {
  color: #43a8a4;
}
.btn.ordinary-btn {
  color: #43a8a4 !important;
}
.btn {
  color: #43a8a4;
  border: 1px solid #43a8a4;
}
.btn:hover {
  background: #43a8a4 !important;
  border-color: #43a8a4 !important;
}
.btn-small {
  border: 1px solid #43a8a4;
  color: #43a8a4;
}
.btn-small:hover {
  background: #43a8a4;
  border-color: #43a8a4;
}
.btn-active {
  background: #43a8a4 !important;
}
.oc-edit .oc-box-option-icon:hover {
  color: #43a8a4;
}
.new-search-v2 .search-label:hover {
  color: #43a8a4;
}
.filter-fill .filter-save-btn .btn-active {
  border-color: #43a8a4;
}
.upload-btn-wrapper .btn {
  border-bottom-color: #43a8a4;
}
.upload-btn-wrapper .btn:hover {
  color: #43a8a4 !important;
}
.upload-btn-wrapper input[type="file"]:hover + button {
  color: #43a8a4 !important;
}
.oc-upload-image-show .upload-btn-wrapper input[type="file"]:hover + button {
  background: #43a8a4 !important;
  border-color: #43a8a4 !important;
}
.user-img-section .user-pic .edit-btn {
  background: #43a8a4;
}
.user-img-section .user-pic .edit-btn:hover {
  background: #d1ae4e;
}

/* step-form-small theme style start */
.step-form-small #msform .action-button {
  border-color: #43a8a4;
}
.step-form-small #msform .action-button {
  color: #43a8a4;
}
.step-form-small #msform .action-button:hover {
  background: #43a8a4;
  border-color: #43a8a4;
}
.step-form-small #progressbar li.active:before,
.step-form-small #progressbar li.active:after {
  background: #43a8a4;
  color: #43a8a4;
}
/* step-form-small theme style end */

.choose-file-btn .btn {
  border-color: #43a8a4;
  color: #43a8a4 !important;
}
.choose-file-btn:hover .btn {
  background: #43a8a4 !important;
}
.choose-file-btn input[type="file"]:hover + button {
  background: #43a8a4 !important;
}

.my-pagination .ngx-pagination .current {
  background: #d1ae4e;
}

.tab-type-btn-small .outline-tag {
  background: #fff;
  color: #43a8a4 !important;
  border-color: #43a8a4 !important;
}
.tab-type-btn-small .outline-tag.active {
  background: #43a8a4 !important;
  color: #fff !important;
  border-color: #43a8a4 !important;
}
.tab-type-btn-small .outline-tag:hover {
  background: #43a8a4 !important;
  color: #fff !important;
  border-color: #43a8a4 !important;
}
.nbr-box-small:hover {
  border-color: #43a8a4;
  color: #43a8a4;
}
.nbr-box-small.active {
  border-color: #43a8a4;
  background: #43a8a4;
}
.user-box-big-plus {
  background: #43a8a4;
}
/* btn type style end */

.head-details a {
  color: #43a8a4;
}
.head-details a:hover {
  color: #43a8a4;
}
.start-audit-page .assesment-footer {
  background: #1a496a;
}
.container2 input:checked ~ .checkmark {
  background-color: #43a8a4;
}
.chat-box-header {
  background: #1a496a;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #1a496a;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #1a496a;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #0e3c98;
}

.edit-option-show a:hover .fas,
.edit-option-show a:hover i {
  color: #43a8a4;
}
.edit-option-show a:hover span {
  color: #43a8a4;
}
.edit-option-show-fix a:hover {
  color: #43a8a4 !important;
}
.edit-small .edit-small-icon a:hover {
  color: #43a8a4;
}
.user-details-page .add-button-outlined:hover {
  color: #1a496a;
  border-color: #1a496a;
}
.user-details-page .add-button-outlined:hover i {
  color: #1a496a;
}
.user-details-page .add-button-outlined i:hover {
  color: #1a496a;
}
.side-menu-toggles-main .left-arow-side-toggle {
  background-color: #1a496a;
}
.user-toggle-cmn {
  background: #1a496a;
}
#return-to-top {
  background-color: rgba(13, 45, 110, 0.8);
}
#return-to-top:hover {
  background: #1a496a;
}
.question-circle-inp:hover i {
  color: #1a496a;
}
.eye-icon-pswd:hover {
  color: #1a496a !important;
}
.user-list-sm:hover h6,
.user-list-sm:hover span {
  color: #1a496a;
}
@keyframes blinkingTextblue {
  0% {
    color: #1a496a;
  }
  49% {
    color: #1a496a;
  }
  60% {
    color: #33475b;
  }
  99% {
    color: #33475b;
  }
  100% {
    color: #1a496a;
  }
}
.user-highlight .blinking-text-blue {
  animation: blinkingBlue 1s infinite;
}
@keyframes blinkingBlue {
  0% {
    color: #1a496a;
  }
  49% {
    color: #1a496a;
  }
  60% {
    color: #33475b;
  }
  99% {
    color: #33475b;
  }
  100% {
    color: #1a496a;
  }
}
.user-highlight .user-list-sm img {
  -webkit-box-shadow: 0px 0px 10px #1a496a38;
  -moz-box-shadow: 0px 0px 10px #1a496a38;
  box-shadow: 0px 0px 10px #1a496a38;
}

.user-details-page .user-beginer-block .beginner-icon {
  background: #1a496a;
}
.progress-bar {
  background-color: #1a496a;
}
.line-tab .nav-link.active {
  border-color: #1a496a !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #43a8a4 !important;
}
.user-details-page .read-more {
  color: #1a496a;
}
.pagination .page-link.active,
.pagination .page-link:hover {
  color: #1a496a;
}
.selectator_options .selectator_option.active {
  background-color: #1a496a;
}
.nav-tabs--left .nav-link:hover {
  color: #43a8a4 !important;
}
.switch input:checked + .slider:before {
  border: 1px solid #43a8a4;
}
.switch input:checked + .slider {
  background-color: #43a8a4;
}
.card-hov-effect:hover .pointer h3,
.card-hov-effect:hover .pointer .directio-text,
.card-hov-effect:hover .card-link {
  color: #1a496a;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1a496a;
}
.confirm-star .fas {
  color: #1a496a;
}
.organization-multi-stup-form .step {
  background-color: #f5f6f7;
}
.organization-multi-stup-form .step:hover {
  color: #43a8a4;
  cursor: pointer;
}
.organization-multi-stup-form .step:hover .multi-form-nbr {
  background: #43a8a4;
}
.organization-multi-stup-form .step.active {
  color: #43a8a4;
  border-top-color: #43a8a4 !important;
}
.organization-multi-stup-form .step.active .multi-form-nbr {
  background: #43a8a4;
}
.organization-multi-stup-form .step.finish {
  color: #43a8a4;
  border-top-color: #43a8a4 !important;
}
.organization-multi-stup-form .step.finish.active {
  color: #43a8a4;
}
.organization-multi-stup-form .step.finish .multi-form-nbr {
  background: #43a8a4;
}
.Preview-block .remember-txt:hover {
  color: #1a496a;
}
.filter-fill .filter-page-inner {
  background: rgb(13, 45, 110, 0.9);
}
.filter-fill .filter-btn-active {
  background: #43a8a4;
  border: 1px solid #43a8a4;
}
.filter-fill .filtr-btn:hover {
  background: #43a8a4 !important;
  border: 1px solid #43a8a4 !important;
}
.btn-new-icon.active {
  background: #43a8a4;
}
.help-site-link {
  color: #1a496a;
}
.help-site-link:hover {
  color: #43a8a4;
}
.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
  color: #43a8a4 !important;
}
.v2-help-drop-main .panel-drop-sections .panel-heading.active .width96pc {
  color: #43a8a4 !important;
}
.accordian-boxed .card-body span.active {
  border: 1px solid #1a496a;
  background: #1a496a;
}
.assesment-form-page input[type="radio"].toggle:checked + label {
  background: #1a496a;
  border-color: #1a496a !important;
}
.assesment-form-page .start-btn {
  background: #1a496a;
  border-color: #1a496a !important;
}
.assesment-form-page .start-btn:hover {
  background: #1a496a !important;
}
.assesment-form-page input[type="radio"].toggle + label:hover {
  background: #1a496a;
  border-color: #1a496a !important;
}
.modal-style-1 .modal-content .modal-header {
  background: #1a496a;
  background: -moz-linear-gradient(left, #1a496a 0%, #43a8a4 100%);
  background: -webkit-linear-gradient(left, #1a496a 0%, #43a8a4 100%);
  background: linear-gradient(to right, #1a496a 0%, #43a8a4 100%);
}
.modal-style-1 .modal-content .modal-header .close {
  background: #1a496a;
}

.dollar-icon-border {
  border: 2px solid #1a496a;
}
.text-light-blue {
  color: #43a8a4 !important;
}
.view-more-pestel-box {
  color: #43a8a4 !important;
}
.outline-tag:hover {
  color: #1a496a !important;
  border-color: #1a496a !important;
}
.outline-tag:hover span {
  color: #1a496a !important;
}
.outline-tag.view-more-tag:hover {
  background: #1a496a !important;
}
.view-more-tag {
  color: #1a496a;
}
.menu-drop-tab-top .nav-trash:hover {
  color: #1a496a !important;
}
.login-forget:hover {
  color: #1a496a !important;
}
.forgot-box h3 {
  color: #1a496a;
}
.forgot-link {
  color: #1a496a !important;
}
.btn-reload-otp:hover {
  color: #1a496a !important;
}
.verification-box p a {
  color: #1a496a !important;
}
.active-text {
  color: #1a496a;
}
.accordion-tab .list-group-item.active a {
  color: #1a496a;
}
.star.selected i {
  color: #1a496a;
}
.table-master td a {
  color: #1a496a;
}
.new-search-v2 .form-group.sb-search-open .search-label,
.new-search-v2 .no-js .sb-search .search-label {
  background: #43a8a4;
  border: 1px solid #43a8a4;
}
.filter-select-wrapper > .item {
  color: #1a496a;
  border: 1px solid #1a496a;
}
.filter-select-wrapper > .item > button {
  color: #1a496a;
}
.edit-option-show-inner a:hover .fas {
  color: #1a496a;
}
.md-name {
  color: #1a496a;
}
.edit-bar .module-name-block a:hover {
  color: #43a8a4;
}
.arrow-dropdown a.active {
  color: #1a496a;
}
.edit-bar .arrow-dropdown a:hover::before {
  color: #1a496a;
}
.welcome-screen .modal-dialog .abt-module-description h4 {
  color: #1a496a;
}
.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
  background: #1a496a;
}
.radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before,
.radio-btns-new
  .verygood[type="radio"]:checked
  + label
  > .fa-check-circle:before {
  color: #1a496a;
}
.radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before,
.radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
  color: #1a496a;
}
.radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before,
.radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
  color: #1a496a;
}
.vm-box .vm-icon-bx {
  background: -moz-linear-gradient(258deg, #00c8b1 0%, #1a496a 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1a496a),
    color-stop(100%, #43a8a4)
  );
  background: -webkit-linear-gradient(258deg, #1a496a 0%, #43a8a4 100%);
  background: -o-linear-gradient(258deg, #1a496a 0%, #43a8a4 100%);
  background: -ms-linear-gradient(258deg, #1a496a 0%, #43a8a4 100%);
  background: linear-gradient(192deg, #1a496a 0%, #43a8a4 100%);
}
.loader-round {
  border-top-color: #1a496a;
}
a.oc-user-box .status {
  background: #1a496a;
}
a.oc-user-box img {
  border-color: #1a496a;
}
.oc-btns-arow {
  color: #1a496a;
  border: 1px solid #1a496a;
}
.oc-btns-arow:hover {
  background: #1a496a;
}
.oc-tab-menu li a.active {
  color: #1a496a;
  border-color: #1a496a;
}
.oc-tab-menu li a.active:hover {
  color: #1a496a;
  border-color: #1a496a;
}
.oc-upload-image-show-pic {
  border-color: #1a496a;
}
.bottom-bordered-blue {
  border-bottom-color: #1a496a;
}
.image-edit-icom-oc:hover {
  background: #1a496a;
}
.issue-list-table-org .container2 input:checked ~ .checkmark {
  background-color: #1a496a;
  border-color: #1a496a;
}
.issuue-new-style .draft-tag:before {
  border-left-color: #1a496a;
  border-bottom-color: #1a496a;
}
.issuue-new-style .draft-tag:after {
  background: #1a496a;
  border-color: #1a496a;
}
.work-flow-btm-sec-right h3 {
  color: #1a496a;
}
.outline-tag.active {
  background: #fff;
  border-color: #1a496a;
  color: #1a496a;
}
.btn-in-ex-new:hover {
  background: #1a496a !important;
  border-color: #1a496a;
}
.btn-in-ex-new.active {
  background: #1a496a;
  border-color: #1a496a;
}
.outline-tag.active span {
  color: #1a496a !important;
}
.uploaded-files a:hover {
  background: #1a496a;
}
.uploaded-files a.active {
  background: #1a496a;
}
.btn-send-chat {
  border-color: #43a8a4;
}
.chat-btm-icones li a:hover {
  color: #1a496a;
}
.owl-chat-slider .item .btn:hover {
  background: #1a496a !important;
}
.owl-chat-slider .customNavigation .btn {
  color: #1a496a !important;
}
.upload-file-chat span:hover {
  color: #1a496a;
  border-color: #1a496a;
}
.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
  background: #1a496a;
  border-color: #ffd0e5;
}
.introjs-helperNumberLayer {
  background: #1a496a;
}
.users-page-list .user-list-lg:hover .user-details h6 {
  color: #1a496a;
}
.users-page-list .user-list-lg:hover .user-details span {
  color: #1a496a;
}
.user-details-show-pop .user-pop-contact li a:hover {
  color: #1a496a;
}
.header-new-popup .popup-link-icon a:hover {
  color: #1a496a;
}
.cantroller-preview a:hover {
  background: #1a496a;
}
.popup-slider-control a:hover {
  color: #1a496a !important;
}
.assessment-user-box h4 {
  background: -webkit-linear-gradient(#1a496a, #048b7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.assesment-history-page .result-box-full h3 {
  background: -webkit-linear-gradient(#1a496a, #048b7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.score-divide h3 {
  background: -webkit-linear-gradient(#1a496a, #048b7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.assesment-form-page .competency-result-box .progress .progress-bar {
  background: #1a496a;
  background: -moz-linear-gradient(left, #1a496a 0%, #048b7b 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #1a496a),
    color-stop(100%, #048b7b)
  );
  background: -webkit-linear-gradient(left, #1a496a 0%, #048b7b 100%);
  background: -o-linear-gradient(left, #1a496a 0%, #048b7b 100%);
  background: -ms-linear-gradient(left, #1a496a 0%, #048b7b 100%);
  background: linear-gradient(to right, #1a496a 0%, #048b7b 100%);
}
.competency-result-popup .competency-result-box h3 {
  background: -webkit-linear-gradient(#1a496a, #048b7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zui-wrapper .zui-table tr.active td:first-child {
  border-left: 5px solid #1a496a;
}
body .main-skill {
  background: rgb(0, 77, 68, 15%) !important;
}
.zui-wrapper .zui-table tr.active td {
  background: rgb(0, 77, 68, 15%) !important;
}
tbody tr:hover {
  background: rgb(0, 77, 68, 8%) !important;
}
.zui-wrapper .zui-table tr:hover td {
  background: rgb(0, 77, 68, 8%) !important;
}
.form-control:focus {
  border-color: #03c8b1;
  box-shadow: 0 0 0 0.2rem rgb(0 77 68 / 25%);
}
.paraia-multi-select > .dropdown > .items > .item:hover {
  background-color: #1a496a;
}
.feedback-icon-main .feedback-icon.active {
  color: #1a496a;
}
.notifications-options .dropdown-toggle:hover {
  background: #1a496a;
}
.notifications-options.show .dropdown-toggle {
  background: #1a496a;
}
.small-close-round {
  color: #1a496a;
}
.paperclip-type-inp [type="file"] + label.btn-1:hover {
  color: #1a496a;
}
.assesment-form-page .assesment-footer {
  background: #43a8a4;
}
.likelihood-risk-table .color-box-risk:hover .count-risk {
  background: #43a8a4;
}
.color-box-risk .count-risk.active {
  background: #43a8a4 !important;
}
.color-box-risk:hover .count-risk {
  background: #43a8a4;
}
.btn-small-green:hover {
  background: #1a496a !important;
  color: #fff !important;
  border-color: #1a496a !important;
}
.my-pagination .ngx-pagination .current {
  background: #43a8a4;
}

.widget .widget-heading h2 span {
  color: #1a496a;
}

/* btn-clr-select starts */
.btn-clr-select .form-control:hover {
  background: #43a8a4;
  color: #fff;
}
.btn-clr-select .form-control option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select .form-control:hover option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select .form-control {
  border-color: #43a8a4;
  color: #43a8a4;
}
.btn-clr-select .plain-select:after {
  color: #43a8a4;
}
.btn-clr-select .plain-select:hover:after {
  color: #fff;
}
/* btn-clr-select end */

/* btn-clr-select-fill starts */
.btn-clr-select-fill .form-control:hover {
  background: #43a8a4;
  color: #fff;
}
.btn-clr-select-fill .form-control option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select-fill .form-control:hover option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select-fill .form-control {
  border-color: #43a8a4;
  background: #43a8a4;
  color: #fff;
}
.btn-clr-select-fill .plain-select:after {
  color: #fff;
}
.btn-clr-select-fill .plain-select:hover:after {
  color: #fff;
}
/* btn-clr-select-fill end */

.activities-nbr {
  background: #43a8a4;
}
.activities-main:before {
  background: #43a8a4;
}
.report-link i.active {
  color: #43a8a4;
}
.report-link a:hover {
  color: #43a8a4 !important;
}

.question-icon {
  color: #43a8a4 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #43a8a4;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #43a8a4;
}
.custom-control-label::before {
  border-color: #43a8a4;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #f3f8fb, 0 0 0 0.2rem rgb(250 242 218);
}
.round-question h2 {
  background: #43a8a4;
}

.three-dots-dropdown.btn:hover {
  background: transparent !important;
  border-color: transparent !important;
  color: #43a8a4 !important;
}
.three-dots-dropdown.btn:hover i {
  color: #43a8a4 !important;
}

.tmline > li > .tmline-badge {
  border-color: #43a8a4;
  color: #43a8a4;
}
.tmline:before {
  background-color: #43a8a4;
}
.tmline .add-tmlinr .tmline-btn {
  background: #43a8a4;
}
.tmline .add-tmlinr .tmline-btn:hover {
  background: #43a8a4;
}
.btn-tic {
  background: #43a8a4;
}
.organization-multi-stup-form button:hover {
  background: #43a8a4;
}
.progress-round.blue .progress-bar {
  border-color: #43a8a4;
}
.progress-round .progress-value {
  color: #43a8a4;
}
.risk-treatment-btn {
  color: #43a8a4;
}
.indication-label-blue {
  color: #43a8a4 !important;
  border-color: #43a8a4 !important;
}
.divide-style h3 {
  background: -webkit-linear-gradient(#f3f8fb, #43a8a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progress-circle span {
  color: #43a8a4;
}
.progress-circle.over50 .first50-bar {
  background-color: #43a8a4;
}
.value-bar {
  border-color: #43a8a4;
}

.bg-light-blue {
  background: #43a8a4 !important;
}

.processes-issue {
  background: #fff5d6;
  border-color: #43a8a4;
}
.tree-btn-loop-workflow .btn:after {
  border-color: #43a8a4;
}
.audit-workflow-user-box:before {
  border-color: #43a8a4;
}
.work-flow-review-approval:after {
  background: #43a8a4;
}
.document-new-tabs .nav-tabs .nav-link.active,
.document-new-tabs .nav-tabs .nav-item.show .nav-link {
  color: #43a8a4 !important;
  background: #fff5d6;
}
.folder-options-main-ul li:hover .folder-menu-link {
  color: #43a8a4;
  background: #fff5d6;
}

.slider-user-guide-menu .nav .nav-item:first-child .nav-link {
  border-left-color: #43a8a4;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active {
  background: #43a8a4 !important;
  border-color: #43a8a4 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link:before {
  border-left-color: #43a8a4;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active:after {
  border-left-color: #43a8a4 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link {
  border-color: #43a8a4;
}
.slider-user-guide-menu .nav .nav-item .nav-link:hover {
  color: #43a8a4;
}
.notifications-list li.indication:before {
  background: #43a8a4;
  border-color: #ffeebc;
}

.curve-small-tab .nav-tabs .nav-item .nav-link.active {
  border-color: #43a8a4 !important;
  background: #fff9e8 !important;
  color: #43a8a4 !important;
}

.pdf-page-height .pdf-page-section {
  border-color: #43a8a4;
}
.pdf-page-height .maindiv .holder:last-child .pdf-page-section {
  border-color: #43a8a4;
}

.small-tab-icons .nav-tabs .nav-link.active,
.small-tab-icons .nav-tabs .nav-item.show .nav-link {
  background: #43a8a4 !important;
}
.form-group .btn-light.bg-primary {
  background: #43a8a4 !important;
}

.small-close-poup:hover {
  color: #43a8a4 !important;
}
.folder-options-main-ul li .folder-menu-link.active,
.folder-options-main-ul li:hover .folder-menu-link {
  background: #ffeaf0;
  color: #43a8a4;
}
.header-back-line .btn-plus:hover {
  color: #43a8a4;
  border-color: #43a8a4;
}
.question-icon {
  color: #43a8a4 !important;
}
.bb-custom-wrapper nav span,
.menu-button {
  background: #43a8a4 !important;
}
.content .round-question h2,
.round-question h2 {
  background: #43a8a4;
}
.edit-and-delete-small .btn-small-icon:hover {
  color: #43a8a4;
}
.tag-data-input-select-box {
  background: #43a8a4;
}
.tag-data-input-select-box:after {
  border-left: 10px solid #43a8a4;
}
.close-data-input-select-box:hover {
  color: #43a8a4;
}
.controls-mapping-btn span:hover {
  color: #43a8a4;
}
.profile-main-right .slider-inner-box-strategy:hover {
  border-color: #43a8a4 !important;
}
.ngx-pagination .current {
  color: #43a8a4 !important;
}
.active-box {
  border-color: #43a8a4 !important;
}
.cmn-bdr-blue {
  border-color: #43a8a4 !important;
}
.stg-role-chart .oc-user-pic.img-active img.user-pic-bdr {
  border-color: #43a8a4 !important;
}
.active-box-functional {
  border-color: #43a8a4 !important;
}
.edit-dropdown .dropdown-menu .dropdown-item.active,
.edit-dropdown .dropdown-menu .dropdown-item:hover {
  color: #43a8a4;
}
.theme-border-color,
.theme-border-color-bottom,
.theme-border-color-left,
.theme-border-color-right,
.theme-border-color-top {
  border-color: #43a8a4;
}
.initiaves-dtl-boxes-nbr {
  border-color: #43a8a4;
}
.initiaves-dtl-boxes-left:after {
  border-color: #43a8a4;
}
.rca-msg-btn {
  color: #43a8a4;
  border-color: #43a8a4;
}
.risk-journey-block .journey-title-box .journey-title-box-inner {
  border-color: #43a8a4;
}
.stup-root-cause.risk-journey-block:before {
  background: #43a8a4;
}
.risk-journey-block .journey-title-box:after {
  background: #43a8a4;
}
.risk-journey-block .risk-journey-details {
  border: 1px solid #43a8a4;
}
.risk-journey-block .question-blue {
  background: #ddd0ab;
}
.edit-btn-table:hover {
  color: #43a8a4;
  border-color: #43a8a4;
}
.lg-outline-box .active,
.lg-outline-box .cmn-bdr:hover {
  border-color: #43a8a4 !important;
}
.float-left.three-dots-dropdown i {
  color: #43a8a4;
}
.auto-complete-search .autocomplete-items div:hover {
  background-color: #43a8a4;
}
.close-page-smol .close-page .lni-close:hover {
  color: #43a8a4;
}
.star:hover i {
  color: #43a8a4;
}
.user-box-header .dropdown-menu a:hover span,
.user-box-header .user-sign-out a:hover {
  color: #43a8a4 !important;
}
.msg-nbr-tab-btn.bg-light-blue:after {
  border-top-color: #43a8a4;
}
.delete-bullet-point ul li:hover {
  color: #43a8a4;
}
.blue-border {
  border-color: #43a8a4 !important;
}
.animate-tooltip {
  border-color: #43a8a4;
}
.animate-tooltip:after {
  border-top-color: #43a8a4;
}
.link-text:hover {
  color: #43a8a4 !important;
}
.new-check-box .container2:hover {
  color: #43a8a4 !important;
}

/* fixed color start */
.btn-red {
  background: #c6001d !important;
  border-color: #c6001d !important;
  color: #fff !important;
}
.btn-red:hover {
  background: #c6001d !important;
  border-color: #c6001d !important;
  opacity: 0.9;
}
.btn-gray {
  background: #cbd6e2 !important;
  border-color: #cbd6e2 !important;
  color: #33475b !important;
}
.btn-gray:hover {
  background: #cbd6e2 !important;
  border-color: #cbd6e2 !important;
  color: #33475b !important;
  opacity: 0.9;
}
.btn-accept {
  background: #128d4f !important;
  border-color: #128d4f !important;
}
.btn-accept:hover {
  background: #128d4f !important;
  border-color: #128d4f !important;
}
.btn-reject {
  background: #da2002 !important;
  border-color: #da2002 !important;
}
.btn-reject:hover {
  background: #da2002 !important;
  border-color: #da2002 !important;
}
.btn-orange {
  background: #ff8b17 !important;
  border-color: #ff8b17 !important;
  color: #fff !important;
}
.btn-orange:hover {
  background: #ff8b17 !important;
  border-color: #ff8b17 !important;
  color: #fff !important;
  opacity: 0.9;
}
.btn-green {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-green:hover {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
  opacity: 0.9;
}
.btn-yellow {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}
.btn-yellow:hover {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
  opacity: 0.9;
}

.btn-green-hov {
  border-color: #3db472 !important;
  color: #3db472 !important;
}
.btn-green-hov:hover {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-green-hov.active {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-red-hov {
  border-color: #c6001d !important;
  color: #c6001d !important;
}
.btn-red-hov:hover {
  background: #c6001d !important;
  border-color: #c6001d !important;
  color: #fff !important;
}
.btn-red-hov.active {
  background: #c6001d !important;
  border-color: #c6001d !important;
  color: #fff !important;
}
.btn-yellow-hov {
  border-color: #ddc205 !important;
  color: #ddc205 !important;
}
.btn-yellow-hov:hover {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}
.btn-yellow-hov.active {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}
.btn-orange-hov {
  border-color: #ffa500 !important;
  color: #ffa500 !important;
}
.btn-orange-hov:hover {
  background: #ffa500 !important;
  border-color: #ffa500 !important;
  color: #fff !important;
}
.btn-orange-hov.active {
  background: #ffa500 !important;
  border-color: #ffa500 !important;
  color: #fff !important;
}
.btn-light-green-hov {
  border-color: #0dbf00 !important;
  color: #0dbf00 !important;
}
.btn-light-green-hov:hover {
  background: #0dbf00 !important;
  border-color: #0dbf00 !important;
  color: #fff !important;
}
.btn-light-green-hov.active {
  background: #0dbf00 !important;
  border-color: #0dbf00 !important;
  color: #fff !important;
}

.btn-light-green {
  background: #0dbf00 !important;
  border-color: #0dbf00 !important;
  color: #fff !important;
}
.btn-light-green:hover {
  background: #0dbf00 !important;
  border-color: #0dbf00 !important;
  color: #fff !important;
  opacity: 0.8;
}

.draft-tag-red {
  color: #ff0505 !important;
  border-color: #ff0505 !important;
}
.draft-tag-red:before {
  border-color: #ff0505 !important;
}
.draft-tag-red:after {
  border-color: #ff0505 !important;
  background: #ff0505 !important;
}
.draft-tag-green {
  color: #22b112 !important;
  border-color: #22b112 !important;
}
.draft-tag-green:before {
  border-color: #22b112 !important;
}
.draft-tag-green:after {
  border-color: #22b112 !important;
  background: #22b112 !important;
}

.draft-tag-yellow {
  color: #ffdf00 !important;
  border-color: #ffdf00 !important;
}
.draft-tag-yellow:before {
  border-color: #ffdf00 !important;
}
.draft-tag-yellow:after {
  border-color: #ffdf00 !important;
  background: #ffdf00 !important;
}

.draft-tag-orange {
  color: #f7941d !important;
  border-color: #f7941d !important;
}
.draft-tag-orange:before {
  border-color: #f7941d !important;
}
.draft-tag-orange:after {
  border-color: #f7941d !important;
  background: #f7941d !important;
}

.draft-tag-violet {
  color: #df20df !important;
  border-color: #df20df !important;
}
.draft-tag-violet:before {
  border-color: #df20df !important;
}
.draft-tag-violet:after {
  border-color: #df20df !important;
  background: #df20df !important;
}

.draft-tag-blue {
  color: #0000ff !important;
  border-color: #0000ff !important;
}
.draft-tag-blue:before {
  border-color: #0000ff !important;
}
.draft-tag-blue:after {
  border-color: #0000ff !important;
  background: #0000ff !important;
}

/* fixed color end */

/* rtl theme style start */
html[dir="rtl"]
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item:first-child
  .nav-link {
  border-left-color: #43a8a4;
}
html[dir="rtl"]
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item
  .nav-link:before {
  border-right-color: #43a8a4;
}
html[dir="rtl"]
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item
  .nav-link.active:after {
  border-right-color: #43a8a4 !important;
}
html[dir="rtl"] .tag-data-input-select-box:after {
  border-right: 10px solid #43a8a4;
}
html[dir="rtl"]
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item
  .nav-link.active.visited:after {
  border-right-color: #43a8a4 !important;
}
html[dir="rtl"]
  .relative
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item
  .nav-link.active.visited:after {
  border-right-color: #43a8a4 !important;
}
html[dir="rtl"]
  .slider-user-guide-menu-main
  .slider-user-guide-menu
  .nav
  .nav-item
  .nav-link.active.visited:before {
  border-right-color: #43a8a4 !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}
.rtl .form-group {
  text-align: right;
}

.rtl .float-right {
  float: left;
}
.rtl .float-left {
  float: right;
}

.rtl .select-width-plus {
  float: right;
  width: 90%;
  margin-left: 10px;
}

.rtl .widget {
  text-align: right;
  width: 100%;
  text-align: right;
}

.rtl .vm-box .vm-icon-bx {
  left: auto !important;
  right: -60px;
}

.rtl .vm-box {
  margin-left: auto !important;
  margin-right: 60px;
  padding-right: 60px;
  width: auto !important;
  padding-left: 0 !important;
}

body .rtl .arrowlist li {
  background: none !important;
  padding-right: 20px;
  padding-left: 0;
  text-align: right;
  position: relative;
}
body .rtl .arrowlist li::before {
  /* content: url("/assets/images/arrow-list-1.svg");
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); */

  content: "";
  position: absolute;
  background: url(/assets/images/arrow-list-1.svg) no-repeat;
  right: 0;
  top: 6px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 13px;
  height: 10px;
  background-size: 13px;
}

/* rtl theme style end */
