
a:hover {
    color: #0363b0;
}
.menu-collape-area ul li a {
    color: #fff;
}
.menu-collape-area .card-link:before {
    color: #fff;
}
.menu-collape-area ul li a:hover:before {
    color: #fff;
}
#sidebar-wrapper-menu .side-bar-header {
  background: #0363b0;
}
#sidebar-wrapper-menu.active .side-bar-header {
    background: #0363b0;
}
.bg-dark {
    background: #1d3649 !important;
}
.top-bar .notification a i {
    color: #fff;
}
.top-bar .language-btn {
    background: #084f88 !important;
}
.top-bar .language-btn:hover {
    background: #0363b0 !important;
}
.user-box-header .dropdown-menu a:hover span {
    color: #0363b0 !important;
}
body {
  background: #f5f6f7;
}
.bg-main {
    background: #f5f6f7 !important;
}
.actvitylog-dtl-round {
    border-color: #f5f6f7;
}
.edit-bar .nav-item .nav-link.active {
    background-color: #f5f6f7;
    color: #0363b0;
}
.main-menu .submenu .collapse li a.active {
    background: #0363b0;
}
.edit-bar .edit-icons li a:hover {
    color: #0363b0;
}
#sidebar-wrapper-menu {
    background-color: #1d3649;
}
.left-menu-main .card-link.active, .main-menu .submenu .collapse li a.active, .menu-collape-area ul li a.active {
    background: #0363b0;
}
.menu-collape-area ul li a:hover {
    background: #0363b0;
}
.left-menu-main .card-link.active {
    background: #0363b0;
}
.left-menu-main .card-link.active {
    color: #fff;
}
.menu-collape-area .card-link.active:before {
    color: #fff;
}
.icon-with-text-small-tab .nav-tabs .nav-item .nav-link.active {
  border-color: #0363b0 !important;
  background: #0363b0;
}
/* btn type style start */
a.btn:not([href]):not([tabindex]) {
    color: #0363b0;
}
.btn.ordinary-btn {
  color: #0363b0 !important;
}
.btn {
    color: #0363b0;
    border: 1px solid #0363b0;
}
.btn:hover {
    background: #084f88 !important;
    border-color: #084f88 !important;
}
.btn-small {
    border: 1px solid #084f88;
    color: #084f88;
}
.btn-small:hover {
    background: #084f88;
    border-color: #084f88;
}
.btn-active {
    background: #084f88 !important;
    border-color: #084f88 !important; 
}

.upload-btn-wrapper .btn:hover {
    background: #084f88 !important;
}
.upload-btn-wrapper input[type=file]:hover + button {
  background: #084f88 !important;
}
.tab-type-btn-small .outline-tag {
    background: #fff;
    color: #084f88 !important;
    border-color: #084f88 !important;
}
.tab-type-btn-small .outline-tag.active {
    background: #084f88 !important;
    color: #fff !important;
    border-color: #084f88 !important;
}
.tab-type-btn-small .outline-tag:hover {
    background: #084f88 !important;
    color: #fff !important;
    border-color: #084f88 !important;
}
.nbr-box-small:hover {
  border-color: #084f88;
  color: #084f88;
}
.nbr-box-small.active {
  border-color: #084f88;
  background: #084f88;
}
/* btn type style end */
.head-details a {
    color: #0363b0;
}
.head-details a:hover {
    color: #0363b0;
}
.start-audit-page .assesment-footer {
    background: #1d3649;
}
.container2 input:checked~.checkmark {
    background-color: #0363b0;
}
.chat-box-header {
    background: #1d3649;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #D8D9DA;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #D8D9DA; 
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #efefef;
}
.main-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #1c3874;
}
.main-menu .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .main-menu .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #1c3874; 
  }
  .main-menu .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #101f3f;
}


.edit-option-show a:hover .fas {
    color: #0363b0;
}
.user-details-page .add-button-outlined:hover {
    color: #0363b0;
    border-color: #0363b0;
}
.user-details-page .add-button-outlined:hover i {
    color: #0363b0;
}
.user-details-page .add-button-outlined i:hover {
    color: #0363b0;
}
.side-menu-toggles-main .left-arow-side-toggle {
    background-color: #0363b0;
}
.user-toggle-cmn {
    background: #0363b0;
}
#return-to-top {
  background-color: rgb(23 44 60 / 80%);
}
#return-to-top:hover {
    background: #0363b0;
}
.question-circle-inp:hover i {
    color: #0363b0;
}
.eye-icon-pswd:hover {
    color: #0363b0 !important;
}
.user-list-sm:hover h6, .user-list-sm:hover span {
    color: #0363b0;
}
@keyframes blinkingTextblue {
    0%{     color: #0363b0;    }
    49%{    color: #0363b0; }
    60%{    color: #33475b; }
    99%{    color: #33475b;  }
    100%{   color: #0363b0;    }
}
.user-highlight .blinking-text-blue {
    animation:blinkingBlue 1s infinite;
}
@keyframes blinkingBlue{
    0%{     color: #0363b0;    }
    49%{    color: #0363b0; }
    60%{    color: #33475b; }
    99%{    color: #33475b;  }
    100%{   color: #0363b0;    }
}
.user-highlight .user-list-sm img {
  -webkit-box-shadow: 0px 0px 10px #d5106738; 
  -moz-box-shadow:    0px 0px 10px #d5106738;  
  box-shadow:         0px 0px 10px #d5106738; 
}

.user-details-page .user-beginer-block .beginner-icon {
    background: #0363b0;
}
.progress-bar {
    background-color: #0363b0;
}
.line-tab .nav-link.active {
    border-color: #0363b0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #0363b0 !important;
}
.user-details-page .read-more {
    color: #0363b0;
}
.pagination .page-link.active, .pagination .page-link:hover {
    color: #0363b0;
}
.selectator_options .selectator_option.active {
    background-color: #0363b0;
}
.nav-tabs--left .nav-link:hover {
    color: #0363b0 !important;
}
.switch input:checked + .slider:before {
    border: 1px solid #0363b0;
}
.switch input:checked + .slider {
    background-color: #0363b0;
}
.card-hov-effect:hover .pointer h3, .card-hov-effect:hover .pointer .directio-text, .card-hov-effect:hover .card-link {
    color: #0363b0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0363b0;
}
.confirm-star .fas {
    color: #0363b0;
}
.organization-multi-stup-form .step {
    background-color: #f5f6f7;
}
.organization-multi-stup-form .step.active {
    color: #0363b0;
}
.organization-multi-stup-form .step.active .multi-form-nbr {
    background: #0363b0;
}
.organization-multi-stup-form .step.finish {
    background-color: #0363b0;
}
.organization-multi-stup-form .step.finish.active {
    background-color: #084f88;
    border-color: #084f88 !important;
}
.organization-multi-stup-form .step.finish .multi-form-nbr {
    color: #0363b0;
    background: #fff;
}
.Preview-block .remember-txt:hover {
    color: #0363b0;
}
.filter-fill .filter-page-inner {
    background: rgb(23 44 60 / 80%);
}
.filter-fill .filter-btn-active {
    background: #0363b0;
    border: 1px solid #0363b0;
}
.filter-fill .filtr-btn:hover {
    background: #0363b0 !important;
    border: 1px solid #0363b0 !important;
}
.btn-new-icon.active {
    background: #0363b0;
}
.help-site-link {
    color: #0363b0;
}
.help-site-link:hover {
    color: #0363b0;
}
.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
    color: #0363b0 !important;
}
.accordian-boxed .card-body span.active {
    border: 1px solid #0363b0;
    background: #0363b0;
}
.assesment-form-page input[type=radio].toggle:checked + label {
    background: #0363b0;
    border-color: #0363b0 !important;
}
.assesment-form-page .start-btn {
    background: #0363b0;
    border-color: #0363b0 !important;
}
.assesment-form-page .start-btn:hover {
    background: #0363b0 !important;
}
.assesment-form-page input[type=radio].toggle + label:hover {
    background: #0363b0;
    border-color: #0363b0 !important;
}
.modal-style-1 .modal-content .modal-header {
    background: #1d3649;
    background: -moz-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: -webkit-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: linear-gradient(to right, #0363B2 0%, #1d3649 100%);
}
.modal-style-1 .modal-content .modal-header .close {
    background: #0363b0;
}
.draft-tag {
    color: #0363b0;
    border-top: 1px solid #0363b0;
    border-right: 1px solid #0363b0;
    border-bottom: 1px solid #0363b0;
}
.draft-tag:before {
    border-left: 1px solid #0363b0;
    border-bottom: 1px solid #0363b0;
}
.draft-tag:after {
    background: #0363b0;
    border: 1px solid #0363b0;
}
.dollar-icon-border {
    border: 2px solid #0363b0;
}
.text-light-blue {
    color: #0363b0 !important;
}
.view-more-pestel-box {
    color: #0363b0 !important;
}
.outline-tag:hover {
    color: #0363b0 !important;
    border-color: #0363b0 !important;
}
.outline-tag:hover span {
    color: #0363b0 !important;
}
.outline-tag.view-more-tag:hover {
    background: #0363b0 !important;
}
.view-more-tag {
    color: #0363b0;
}
.menu-drop-tab-top .nav-trash:hover {
    color: #0363b0 !important;
}
.login-forget:hover {
    color: #0363b0 !important;
}
.forgot-box h3 {
    color: #0363b0;
}
.forgot-link {
    color: #0363b0 !important;
}
.btn-reload-otp:hover {
    color: #0363b0 !important;
}
.verification-box p a {
    color: #0363b0 !important;
}
.active-text {
    color: #0363b0;
}
.accordion-tab .list-group-item.active a {
    color: #0363b0;
}
.star.selected i {
    color: #0363b0;
}
.table-master td a {
    color: #0363b0;
}
.new-search-v2 .form-group.sb-search-open .search-label, .new-search-v2 .no-js .sb-search .search-label {
    background: #0363b0;
    border: 1px solid #0363b0;
}
.filter-select-wrapper>.item {
    color: #0363b0;
    border: 1px solid #0363b0;
}
.filter-select-wrapper>.item>button {
    color: #0363b0;
}
.edit-option-show-inner a:hover .fas {
    color: #0363b0;
}
.md-name {
    color: #0363b0;
}
.edit-bar .module-name-block a:hover {
    color: #0363b0;
}
.arrow-dropdown a.active {
    color: #0363b0;
}
.edit-bar .arrow-dropdown a:hover::before {
    color: #0363b0;
}
.welcome-screen .modal-dialog .abt-module-description h4 {
    color: #0363b0;
}
.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
    background: #0363b0;
}
.radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .verygood[type="radio"]:checked + label > .fa-check-circle:before {
    color: #0363b0;
}
.radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
    color: #0363b0;
}
.radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
    color: #0363b0;
}
.vm-box .vm-icon-bx {
    background: -moz-linear-gradient(258deg, #0363B2 0%, #1d3649 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0363B2), color-stop(100%, #1d3649));
    background: -webkit-linear-gradient(258deg, #0363B2 0%, #1d3649 100%);
    background: -o-linear-gradient(258deg, #0363B2 0%, #1d3649 100%);
    background: -ms-linear-gradient(258deg, #0363B2 0%, #1d3649 100%);
    background: linear-gradient(192deg, #0363B2 0%, #1d3649 100%);
}
.loader-round {
    border-top-color: #0363b0;
}
a.oc-user-box .status {
    background: #0363b0;
}
a.oc-user-box img {
    border-color: #0363b0;
}
.oc-btns-arow {
    color: #0363b0;
    border: 1px solid #0363b0;
}
.oc-btns-arow:hover {
    background: #0363b0;
}
.oc-tab-menu li a.active {
    color: #0363b0;
    border-color: #0363b0;
}
.oc-tab-menu li a.active:hover {
    color: #0363b0;
    border-color: #0363b0;
}
.oc-upload-image-show-pic {
    border-color: #0363b0;
}
.bottom-bordered-blue {
    border-bottom-color: #0363b0;
}
.image-edit-icom-oc:hover {
    background: #0363b0;
}
.issue-list-table-org .container2 input:checked ~ .checkmark {
    background-color: #0363b0;
    border-color: #0363b0;
}
.issuue-new-style .draft-tag:before {
    border-left-color: #0363b0;
    border-bottom-color: #0363b0;
}
.issuue-new-style .draft-tag:after {
    background: #0363b0;
    border-color: #0363b0;
}
.work-flow-btm-sec-right h3 {
    color: #0363b0;
}
.outline-tag.active {
    background: #fff;
    border-color: #0363b0;
    color: #0363b0;
}
.btn-in-ex-new:hover {
    background: #0363b0 !important;
    border-color: #0363b0;
}
.btn-in-ex-new.active {
    background: #0363b0;
    border-color: #0363b0;
}
.outline-tag.active span {
    color: #0363b0 !important;
}
.uploaded-files a:hover {
    background: #0363b0;
}
.uploaded-files a.active {
    background: #0363b0;
}
.btn-send-chat {
    border-color: #084f88;
}
.chat-btm-icones li a:hover {
    color: #0363b0;
}
.owl-chat-slider .item .btn:hover {
    background: #0363b0 !important;
}
.owl-chat-slider .customNavigation .btn {
    color: #0363b0 !important;
}
.upload-file-chat span:hover {
    color: #0363b0;
    border-color: #0363b0;
}
.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
    background: #0363b0;
    border-color: #084f88;
}
.introjs-helperNumberLayer {
    background: #0363b0;
}
.users-page-list .user-list-lg:hover .user-details h6 {
    color: #0363b0;
}
.users-page-list .user-list-lg:hover .user-details span {
    color: #0363b0;
}
.user-details-show-pop .user-pop-contact li a:hover {
    color: #0363b0;
}
.header-new-popup .popup-link-icon a:hover {
    color: #0363b0;
}
.cantroller-preview a:hover {
    background: #0363b0;
}
.popup-slider-control a:hover {
    color: #0363b0 !important;
}
.assessment-user-box h4 {
    background: -webkit-linear-gradient(#0363B2, #1d3649);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-history-page .result-box-full h3 {
    background: -webkit-linear-gradient(#0363B2, #1d3649);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.score-divide h3 {
    background: -webkit-linear-gradient(#0363B2, #1d3649);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-form-page .competency-result-box .progress .progress-bar {
    background: #0363B2;
    background: -moz-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #0363B2), color-stop(100%, #1d3649));
    background: -webkit-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: -o-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: -ms-linear-gradient(left, #0363B2 0%, #1d3649 100%);
    background: linear-gradient(to right, #0363B2 0%, #1d3649 100%);
}
.competency-result-popup .competency-result-box h3 {
    background: -webkit-linear-gradient(#0363B2, #1d3649);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zui-wrapper .zui-table tr.active td:first-child {
    border-left: 5px solid #0363b0;
}
/*body .main-skill {
    background: #ffe6f2 !important;
}
.zui-wrapper .zui-table tr.active td {
    background: #ffeef6 !important;
}
tbody tr:hover {
    background: #fff5fa !important;
}
.zui-wrapper .zui-table tr:hover td {
    background: #fff5fa;
}*/
/*.form-control:focus {
    border-color: #ffa7ce;
    box-shadow: 0 0 0 0.2rem rgba(156, 0, 69, 0.25);
}*/
.paraia-multi-select>.dropdown>.items>.item:hover {
    background-color: #0363b0;
}
.feedback-icon-main .feedback-icon.active {
    color: #0363b0;
}
.notifications-options .dropdown-toggle:hover {
  background: #0363b0;
}
.notifications-options.show .dropdown-toggle {
  background: #0363b0;
}
.small-close-round {
    color: #0363b0;
}
.paperclip-type-inp [type="file"] + label.btn-1:hover {
  color: #0363b0;
}
.assesment-form-page .assesment-footer {
    background: #031f41;
}
.likelihood-risk-table .color-box-risk:hover .count-risk {
    background: #0363b0;
}
.color-box-risk .count-risk.active {
    background: #0363b0 !important;
}
.color-box-risk:hover .count-risk {
    background: #0363b0;
}


/* fixed color start */
.btn-red {
    background: #C6001D !important;
    border-color: #C6001D !important;
    color: #fff !important;
}
.btn-red:hover {
    background: #C6001D !important;
    opacity: 0.9;
}
.btn-gray {
    background: #CBD6E2 !important;
    border-color: #CBD6E2 !important;
    color: #33475B !important;
}
.btn-gray:hover {
    background: #CBD6E2 !important;
    border-color: #CBD6E2 !important;
    color: #33475B !important;
    opacity: 0.9;
}
.btn-accept {
    background: #128D4F !important;
    border-color: #128D4F !important;
}
.btn-accept:hover {
    background: #128D4F !important;
    border-color: #128D4F !important;
}
.btn-reject {
    background: #da2002 !important;
    border-color: #da2002 !important;
}
.btn-reject:hover {
    background: #da2002 !important;
    border-color: #da2002 !important;
}

/* fixed color end */

