
a:hover {
    color: var(--my-var);
}
#sidebar-wrapper-menu .side-bar-header {
  background: var(--my-var);
}
#sidebar-wrapper-menu.active .side-bar-header {
    background: var(--my-var);
}
.bg-dark {
    background: var(--my-var1) !important;
    /*background: #fff !important;*/
}
.top-bar .language-btn {
    background: var(--my-var) !important;
}
.user-box-header .dropdown-menu a:hover span {
    color: var(--my-var2) !important;
}
body {
  background: var(--my-var3); 
}
.edit-bar .nav-item .nav-link.active {
    background-color: var(--my-var4);
    color: var(--my-var);
}
.main-menu .submenu .collapse li a.active {
    background: var(--my-var);
}
.edit-bar .edit-icons li a:hover {
    color: var(--my-var);
}
#sidebar-wrapper-menu {
    background-color: var(--my-var5);
}
.menu-collape-area ul li a:hover {
    background: var(--my-var);
}
.left-menu-main .card-link.active {
    background: var(--my-var);
}
a.btn:not([href]):not([tabindex]) {
    color: var(--my-var);
}
.btn.ordinary-btn {
  color: var(--my-var) !important;
}
.btn {
    color: var(--my-var);
    border: 1px solid var(--my-var);
}
.btn:hover {
    background: var(--my-var) !important;
    border-color: var(--my-var) !important;
}
.btn-active {
    background: var(--my-var) !important;
}
.upload-btn-wrapper .btn:hover {
    background: var(--my-var) !important;
}
.upload-btn-wrapper input[type=file]:hover + button {
  background: var(--my-var) !important;
}
.head-details a {
    color: var(--my-var);
}
.head-details a:hover {
    color: var(--my-var);
}
.container2 input:checked~.checkmark {
    background-color: var(--my-var);
}
.chat-box-header {
    background: var(--my-var1);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: var(--my-var24);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: var(--my-var); 
  }

.edit-option-show a:hover .fas {
    color: var(--my-var);
}
.user-details-page .add-button-outlined:hover {
    color: var(--my-var);
    border-color: var(--my-var);
}
.user-details-page .add-button-outlined:hover i {
    color: var(--my-var);
}
.user-details-page .add-button-outlined i:hover {
    color: var(--my-var);
}
.side-menu-toggles-main .left-arow-side-toggle {
    background-color: var(--my-var1);
}
.user-toggle-cmn {
    background: var(--my-var1);
}
#return-to-top {
  background-color: var(--my-var6);
}
#return-to-top:hover {
    background: var(--my-var);
}
.question-circle-inp:hover i {
    color: var(--my-var);
}
.eye-icon-pswd:hover {
    color: var(--my-var) !important;
}
.user-list-sm:hover h6, .user-list-sm:hover span {
    color: var(--my-var);
}
@keyframes blinkingTextblue {
    0%{     color: var(--my-var);    }
    49%{    color: var(--my-var); }
    60%{    color: var(--my-var7); }
    99%{    color: var(--my-var7);  }
    100%{   color: var(--my-var);    }
}
.user-highlight .blinking-text-blue {
    animation:blinkingBlue 1s infinite;
}
@keyframes blinkingBlue{
    0%{     color: var(--my-var);    }
    49%{    color: var(--my-var); }
    60%{    color: var(--my-var7); }
    99%{    color: var(--my-var7);  }
    100%{   color: var(--my-var);    }
}
.user-highlight .user-list-sm img {
  -webkit-box-shadow: 0px 0px 10px var(--my-var8); 
  -moz-box-shadow:    0px 0px 10px var(--my-var8);  
  box-shadow:         0px 0px 10px var(--my-var8); 
}

.user-details-page .user-beginer-block .beginner-icon {
    background: var(--my-var);
}
.progress-bar {
    background-color: var(--my-var);
}
.line-tab .nav-link.active {
    border-color: var(--my-var) !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--my-var) !important;
}
.user-details-page .read-more {
    color: var(--my-var);
}
.pagination .page-link.active, .pagination .page-link:hover {
    color: var(--my-var);
}
.selectator_options .selectator_option.active {
    background-color: var(--my-var);
}
.nav-tabs--left .nav-link:hover {
    color: var(--my-var) !important;
}
.switch input:checked + .slider:before {
    border: 1px solid var(--my-var);
}
.switch input:checked + .slider {
    background-color: var(--my-var);
}
.card-hov-effect:hover .pointer h3, .card-hov-effect:hover .pointer .directio-text, .card-hov-effect:hover .card-link {
    color: var(--my-var);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--my-var);
}
.confirm-star .fas {
    color: var(--my-var);
}
.organization-multi-stup-form .step {
    background-color:var(--my-var3);
}
.organization-multi-stup-form .step.active {
    color: var(--my-var);
}
.organization-multi-stup-form .step.active .multi-form-nbr {
    background: var(--my-var);
}
.organization-multi-stup-form .step.finish {
    background-color: var(--my-var);
}
.organization-multi-stup-form .step.finish.active {
    background-color: var(--my-var9);
    border-color: var(--my-var10) !important;
}
.organization-multi-stup-form .step.finish .multi-form-nbr {
    color: var(--my-var);
    background: var(--my-var10);
}
.Preview-block .remember-txt:hover {
    color: var(--my-var);
}
.filter-fill .filter-page-inner {
    background: var(--my-var11);
}
.filter-fill .filter-btn-active {
    background: var(--my-var);
    border: 1px solid var(--my-var);
}
.btn-new-icon.active {
    background: var(--my-var);
}
.help-site-link {
    color: var(--my-var);
}
.help-site-link:hover {
    color: var(--my-var);
}
.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
    color: var(--my-var) !important;
}
.accordian-boxed .card-body span.active {
    border: 1px solid var(--my-var);
    background: var(--my-var);
}
.assesment-form-page input[type=radio].toggle:checked + label {
    background: var(--my-var);
    border-color: var(--my-var) !important;
}
.assesment-form-page .start-btn {
    background: var(--my-var);
    border-color: var(--my-var) !important;
}
.assesment-form-page .start-btn:hover {
    background: var(--my-var) !important;
}
.assesment-form-page input[type=radio].toggle + label:hover {
    background: var(--my-var);
    border-color: var(--my-var) !important;
}
.modal-style-1 .modal-content .modal-header {
    background: var(--my-var12);
    background: -moz-linear-gradient(left, var(--my-var12) 0%, var(--my-var13) 100%);
    background: -webkit-linear-gradient(left, var(--my-var12) 0%, var(--my-var13) 100%);
    background: linear-gradient(to right, var(--my-var12) 0%, var(--my-var13) 100%);
}
.modal-style-1 .modal-content .modal-header .close {
    background: var(--my-var);
}
.draft-tag {
    color: var(--my-var);
    border-top: 1px solid var(--my-var);
    border-right: 1px solid var(--my-var);
    border-bottom: 1px solid var(--my-var);
}
.draft-tag:before {
    border-left: 1px solid var(--my-var);
    border-bottom: 1px solid var(--my-var);
}
.draft-tag:after {
    background: var(--my-var);
    border: 1px solid var(--my-var);
}
.dollar-icon-border {
    border: 2px solid var(--my-var);
}
.text-light-blue {
    color: var(--my-var) !important;
}
.view-more-pestel-box {
    color: var(--my-var) !important;
}
.outline-tag:hover {
    color: var(--my-var) !important;
    border-color: var(--my-var) !important;
}
.outline-tag:hover span {
    color: var(--my-var) !important;
}
.outline-tag.view-more-tag:hover {
    background: var(--my-var) !important;
}
.view-more-tag {
    color: var(--my-var);
}
.menu-drop-tab-top .nav-trash:hover {
    color: var(--my-var) !important;
}
.login-forget:hover {
    color: var(--my-var) !important;
}
.forgot-box h3 {
    color: var(--my-var);
}
.forgot-link {
    color: var(--my-var) !important;
}
.btn-reload-otp:hover {
    color: var(--my-var) !important;
}
.verification-box p a {
    color: var(--my-var) !important;
}
.active-text {
    color: var(--my-var);
}
.accordion-tab .list-group-item.active a {
    color: var(--my-var);
}
.star.selected i {
    color: var(--my-var);
}
.table-master td a {
    color: var(--my-var);
}
.new-search-v2 .form-group.sb-search-open .search-label, .new-search-v2 .no-js .sb-search .search-label {
    background: var(--my-var);
    border: 1px solid var(--my-var);
}
.filter-select-wrapper>.item {
    color: var(--my-var);
    border: 1px solid var(--my-var);
}
.filter-select-wrapper>.item>button {
    color: var(--my-var);
}
.edit-option-show-inner a:hover .fas {
    color: var(--my-var);
}
.md-name {
    color: var(--my-var);
}
.edit-bar .module-name-block a:hover {
    color: var(--my-var);
}
.arrow-dropdown a.active {
    color: var(--my-var);
}
.edit-bar .arrow-dropdown a:hover::before {
    color: var(--my-var);
}
.welcome-screen .modal-dialog .abt-module-description h4 {
    color: var(--my-var);
}
.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
    background: var(--my-var);
}
.radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .verygood[type="radio"]:checked + label > .fa-check-circle:before {
    color: var(--my-var);
}
.radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
    color: var(--my-var);
}
.radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
    color: var(--my-var);
}
.vm-box .vm-icon-bx {
    background: -moz-linear-gradient(258deg, var(--my-var14) 0%, var(--my-var15) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--my-var14)), color-stop(100%, var(--my-var15)));
    background: -webkit-linear-gradient(258deg, var(--my-var14) 0%, var(--my-var15) 100%);
    background: -o-linear-gradient(258deg, var(--my-var14) 0%, var(--my-var15) 100%);
    background: -ms-linear-gradient(258deg, var(--my-var14) 0%, var(--my-var15) 100%);
    background: linear-gradient(192deg, var(--my-var14) 0%, var(--my-var15) 100%);
}
.loader-round {
    border-top-color: var(--my-var);
}
a.oc-user-box .status {
    background: var(--my-var);
}
a.oc-user-box img {
    border-color: var(--my-var);
}
.oc-btns-arow {
    color: var(--my-var);
    border: 1px solid var(--my-var);
}
.oc-btns-arow:hover {
    background: var(--my-var);
}
.oc-tab-menu li a.active {
    color: var(--my-var);
    border-color: var(--my-var);
}
.oc-tab-menu li a.active:hover {
    color: var(--my-var);
    border-color: var(--my-var);
}
.oc-upload-image-show-pic {
    border-color: var(--my-var);
}
.bottom-bordered-blue {
    border-bottom-color: var(--my-var);
}
.image-edit-icom-oc:hover {
    background: var(--my-var);
}
.issue-list-table-org .container2 input:checked ~ .checkmark {
    background-color: var(--my-var);
    border-color: var(--my-var);
}
.issuue-new-style .draft-tag:before {
    border-left-color: var(--my-var);
    border-bottom-color: var(--my-var);
}
.issuue-new-style .draft-tag:after {
    background: var(--my-var);
    border-color: var(--my-var);
}
.work-flow-btm-sec-right h3 {
    color: var(--my-var);
}
.outline-tag.active {
    background: var(--my-var10);
    border-color: var(--my-var);
    color: var(--my-var);
}
.btn-in-ex-new:hover {
    background: var(--my-var) !important;
    border-color: var(--my-var);
}
.btn-in-ex-new.active {
    background: var(--my-var);
    border-color: var(--my-var);
}
.outline-tag.active span {
    color: var(--my-var) !important;
}
.uploaded-files a:hover {
    background: var(--my-var);
}
.uploaded-files a.active {
    background: var(--my-var);
}
.btn-send-chat {
    border-color: var(--my-var);
}
.chat-btm-icones li a:hover {
    color: var(--my-var);
}
.owl-chat-slider .item .btn:hover {
    background: var(--my-var) !important;
}
.owl-chat-slider .customNavigation .btn {
    color: var(--my-var) !important;
}
.upload-file-chat span:hover {
    color: var(--my-var);
    border-color: var(--my-var);
}
.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
    background: var(--my-var);
    border-color: var(--my-var16);
}
.introjs-helperNumberLayer {
    background: var(--my-var);
}
.users-page-list .user-list-lg:hover .user-details h6 {
    color: var(--my-var);
}
.users-page-list .user-list-lg:hover .user-details span {
    color: var(--my-var);
}
.user-details-show-pop .user-pop-contact li a:hover {
    color: var(--my-var);
}
.header-new-popup .popup-link-icon a:hover {
    color: var(--my-var);
}
.cantroller-preview a:hover {
    background: var(--my-var);
}
.popup-slider-control a:hover {
    color: var(--my-var) !important;
}
.assessment-user-box h4 {
    background: -webkit-linear-gradient(var(--my-var17), var(--my-var18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-history-page .result-box-full h3 {
    background: -webkit-linear-gradient(var(--my-var17),var(--my-var18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.score-divide h3 {
    background: -webkit-linear-gradient(var(--my-var17), var(--my-var18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-form-page .competency-result-box .progress .progress-bar {
    background: var(--my-var12);
    background: -moz-linear-gradient(left, var(--my-var12) 0%, var(--my-var25) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, var(--my-var12)), color-stop(100%, var(--my-var25)));
    background: -webkit-linear-gradient(left, var(--my-var12) 0%, var(--my-var25) 100%);
    background: -o-linear-gradient(left, var(--my-var12) 0%, var(--my-var25) 100%);
    background: -ms-linear-gradient(left, var(--my-var12) 0%, var(--my-var25) 100%);
    background: linear-gradient(to right, var(--my-var12) 0%, var(--my-var25) 100%);
}
.competency-result-popup .competency-result-box h3 {
    background: -webkit-linear-gradient(var(--my-var17), var(--my-var18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zui-wrapper .zui-table tr.active td:first-child {
    border-left: 5px solid var(--my-var);
}
body .main-skill {
    background: var(--my-var3) !important;
}
.zui-wrapper .zui-table tr.active td {
    background: var(--my-var19) !important;
}
tbody tr:hover {
    background: var(--my-var20) !important;
}
.zui-wrapper .zui-table tr:hover td {
    background: var(--my-var3);
}
.form-control:focus {
    border-color: var(--my-var21);
    box-shadow: 0 0 0 0.2rem var(--my-var26);
}
.paraia-multi-select>.dropdown>.items>.item:hover {
    background-color: var(--my-var);
}
.feedback-icon-main .feedback-icon.active {
    color: var(--my-var);
}
.notifications-options .dropdown-toggle:hover {
  background: var(--my-var);
}
.notifications-options.show .dropdown-toggle {
  background: var(--my-var);
}
.small-close-round {
    color: var(--my-var);
}
.paperclip-type-inp [type="file"] + label.btn-1:hover {
  color: var(--my-var);
}


/* fixed color start */
.btn-red {
    background: var(--my-var22) !important;
    border-color: var(--my-var22) !important;
    color: var(--my-var10) !important;
}
.btn-red:hover {
    background: var(--my-var22) !important;
    opacity: 0.9;
}
.btn-gray {
    background: var(--my-var23) !important;
    border-color: var(--my-var23) !important;
    color: var(--my-var27) !important;
}
.btn-gray:hover {
    background: var(--my-var23) !important;
    border-color: var(--my-var23) !important;
    color: var(--my-var27) !important;
    opacity: 0.9;
}

/* fixed color end */
