
a:hover {
  color: #f17320;
}
.menu-collape-area ul li a {
  color: #fff;
}
.menu-collape-area .card-link:before {
  color: #fff;
}
.menu-collape-area ul li a:hover:before {
  color: #fff;
}
#sidebar-wrapper-menu .side-bar-header {
background: #f17320;
}
#sidebar-wrapper-menu.active .side-bar-header {
  background: #f17320;
}
.bg-dark {
  background: #4c4c4c !important;
}
.top-bar .notification a i {
  color: #fff;
}
.top-bar .language-btn {
  background: #000 !important;
}
.user-box-header .dropdown-menu a:hover span {
  color: #f17320 !important;
}
body {
background: #f5f6f7;
}
.bg-main {
  background: #FBFBFB !important;
}
.actvitylog-dtl-round {
  border-color: #f5f6f7;
}
.edit-bar .nav-item .nav-link.active {
  background-color: #f5f6f7;
  color: #f17320;
}
.edit-bar .nav-item .nav-link:hover {
  color: #f17320;
}
.main-menu .submenu .collapse li a.active {
  background: #f17320;
}
.edit-bar .edit-icons li a:hover {
  color: #f17320;
}
.nav-pills.edit-icons li a.active {
  color: #f17320;
}
#sidebar-wrapper-menu {
  /* background-color: rgb(0 0 0 / 90%); */
  background: #231f1f;
}
.left-menu-main .card-link.active, .main-menu .submenu .collapse li a.active, .menu-collape-area ul li a.active {
  background: transparent;
  color: #f17320;
}
.menu-collape-area ul li a:hover {
  background: transparent;
  color: #f17320;
}
.left-menu-main .card-link.active {
  background: #f17320;
}
.left-menu-main .card-link.active {
  color: #fff;
}
.menu-collape-area .card-link.active:before {
  color: #fff;
}
.icon-with-text-small-tab .nav-tabs .nav-item .nav-link.active {
border-color: #f17320 !important;
background: #f17320 !important;
}

/* btn type style start */
a.btn:not([href]):not([tabindex]) {
  color: #f17320;
}
.btn.ordinary-btn {
color: #f17320 !important;
}
.btn {
  color: #f17320;
  border: 1px solid #f17320;
}
.btn:hover {
  background: #f17320 !important;
  border-color: #f17320 !important;
}
.btn-small {
  border: 1px solid #f17320;
  color: #f17320;
}
.btn-small:hover {
  background: #f17320;
  border-color: #f17320;
}
.btn-active {
  background: #f17320 !important;
}
.oc-edit .oc-box-option-icon:hover {
  color: #f17320;
}
.filter-fill .filter-save-btn .btn-active {
  border-color: #f17320;
}
.upload-btn-wrapper .btn {
  border-bottom-color: #f17320;
}
.upload-btn-wrapper .btn:hover {
  color: #f17320 !important;
}
.upload-btn-wrapper input[type=file]:hover + button {
color: #f17320 !important;
}
.oc-upload-image-show .upload-btn-wrapper input[type=file]:hover+button {
  background: #f17320 !important;
  border-color: #f17320 !important;
}
.user-img-section .user-pic .edit-btn {
  background: #f17320;
}
.user-img-section .user-pic .edit-btn:hover {
  background: #8d8f90;
}

.choose-file-btn .btn {
  border-color: #f17320;
  color: #f17320 !important;
}
.choose-file-btn:hover .btn {
  background: #f17320 !important;
}
.choose-file-btn input[type=file]:hover+button {
  background: #f17320 !important;
}

/* step-form-small theme style start */
.step-form-small #msform .action-button {
  border-color: #f17320;
}
.step-form-small #msform .action-button {
  color: #f17320;
}
.step-form-small #msform .action-button:hover {
  background: #f17320;
  border-color: #f17320;
}
.step-form-small #progressbar li.active:before, .step-form-small #progressbar li.active:after {
  background: #f17320;
  color: #f17320;
}
/* step-form-small theme style end */

.my-pagination .ngx-pagination .current {
  background: #8d8f90;
}

.tab-type-btn-small .outline-tag {
  background: #fff;
  color: #f17320 !important;
  border-color: #f17320 !important;
}
.tab-type-btn-small .outline-tag.active {
  background: #f17320 !important;
  color: #fff !important;
  border-color: #f17320 !important;
}
.tab-type-btn-small .outline-tag:hover {
  background: #f17320 !important;
  color: #fff !important;
  border-color: #f17320 !important;
}
.nbr-box-small:hover {
border-color: #f17320;
color: #f17320;
}
.nbr-box-small.active {
border-color: #f17320;
background: #f17320;
}
.user-box-big-plus {
 background: #f17320;
}
/* btn type style end */

.head-details a {
  color: #f17320;
}
.head-details a:hover {
  color: #f17320;
}
.start-audit-page .assesment-footer {
  background: #f17320;
}
.container2 input:checked~.checkmark {
  background-color: #f17320;
}
.chat-box-header {
  background: #000;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #777;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background-color: #777; 
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #8d8f90;
}

.new-search-v2 .search-label:hover {
  color: #f17320;
}


.edit-option-show a:hover .fas, .edit-option-show a:hover i {
  color: #f17320;
}
.edit-option-show a:hover span {
color: #f17320;
}
.edit-option-show-fix a:hover {
  color: #f17320 !important;
}
.edit-small .edit-small-icon a:hover {
 color: #f17320;
}
.user-details-page .add-button-outlined:hover {
  color: #f17320;
  border-color: #f17320;
}
.user-details-page .add-button-outlined:hover i {
  color: #f17320;
}
.user-details-page .add-button-outlined i:hover {
  color: #f17320;
}
.side-menu-toggles-main .left-arow-side-toggle {
  background-color: #f17320;
}
.user-toggle-cmn {
  background: #4c4c4c;
}
#return-to-top {
background-color: rgb(0 0 0 / 90%);
}
#return-to-top:hover {
  background: #f17320;
}
.question-circle-inp:hover i {
  color: #f17320;
}
.eye-icon-pswd:hover {
  color: #f17320 !important;
}
.user-list-sm:hover h6, .user-list-sm:hover span {
  color: #f17320;
}
@keyframes blinkingTextblue {
  0%{     color: #f17320;    }
  49%{    color: #f17320; }
  60%{    color: #33475b; }
  99%{    color: #33475b;  }
  100%{   color: #f17320;    }
}
.user-highlight .blinking-text-blue {
  animation:blinkingBlue 1s infinite;
}
@keyframes blinkingBlue{
  0%{     color: #f17320;    }
  49%{    color: #f17320; }
  60%{    color: #33475b; }
  99%{    color: #33475b;  }
  100%{   color: #f17320;    }
}
.user-highlight .user-list-sm img {
-webkit-box-shadow: 0px 0px 10px #f1732038; 
-moz-box-shadow:    0px 0px 10px #f1732038;  
box-shadow:         0px 0px 10px #f1732038; 
}

.user-details-page .user-beginer-block .beginner-icon {
  background: #f17320;
}
.progress-bar {
  background-color: #f17320;
}
.line-tab .nav-link.active {
  border-color: #f17320 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #f17320 !important;
}
.user-details-page .read-more {
  color: #f17320;
}
.pagination .page-link.active, .pagination .page-link:hover {
  color: #f17320;
}
.selectator_options .selectator_option.active {
  background-color: #f17320;
}
.nav-tabs--left .nav-link:hover {
  color: #f17320 !important;
}
.switch input:checked + .slider:before {
  border: 1px solid #f17320;
}
.switch input:checked + .slider {
  background-color: #f17320;
}
.card-hov-effect:hover .pointer h3, .card-hov-effect:hover .pointer .directio-text, .card-hov-effect:hover .card-link {
  color: #f17320;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f17320;
}
.confirm-star .fas {
  color: #f17320;
}
.organization-multi-stup-form .step {
  background-color: #f5f6f7;
}
.organization-multi-stup-form .step:hover {
  color: #f17320;
  cursor: pointer;
}
.organization-multi-stup-form .step:hover .multi-form-nbr {
  background: #f17320;
}
.organization-multi-stup-form .step.active {
  color: #4c4c4c;
  border-top-color: #4c4c4c !important;
}
.organization-multi-stup-form .step.active .multi-form-nbr {
  background: #4c4c4c;
}
.organization-multi-stup-form .step.finish {
  color: #4c4c4c;
  border-top-color: #4c4c4c !important;
}
.organization-multi-stup-form .step.finish.active {
  color: #4c4c4c;
}
.organization-multi-stup-form .step.finish .multi-form-nbr {
  background: #4c4c4c;
}
.Preview-block .remember-txt:hover {
  color: #f17320;
}
.filter-fill .filter-page-inner {
  /* background-color: rgb(0 0 0 / 90%); */
  background: #54595f;
}

.filter-fill .filter-btn-active {
  background: #f17320;
  border: 1px solid #f17320;
}
.filter-fill .filtr-btn:hover {
  background: #f17320 !important;
  border: 1px solid #f17320 !important;
}
.btn-new-icon.active {
  background: #f17320;
}
.help-site-link {
  color: #f17320;
}
.help-site-link:hover {
  color: #f17320;
}
.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
  color: #f17320 !important;
}
.v2-help-drop-main .panel-drop-sections .panel-heading.active .width96pc {
  color: #f17320 !important;
}
.accordian-boxed .card-body span.active {
  border: 1px solid #f17320;
  background: #f17320;
}
.assesment-form-page input[type=radio].toggle:checked + label {
  background: #f17320;
  border-color: #f17320 !important;
}
.assesment-form-page .start-btn {
  background: #f17320;
  border-color: #f17320 !important;
}
.assesment-form-page .start-btn:hover {
  background: #f17320 !important;
}
.assesment-form-page input[type=radio].toggle + label:hover {
  background: #f17320;
  border-color: #f17320 !important;
}
.modal-style-1 .modal-content .modal-header {
  background: #f17320;
  background: -moz-linear-gradient(left, #f17320 0%, #000 100%);
  background: -webkit-linear-gradient(left, #f17320 0%, #000 100%);
  background: linear-gradient(to right, #f17320 0%, #000 100%);
}
.modal-style-1 .modal-content .modal-header .close {
  background: #f17320;
}

.dollar-icon-border {
  border: 2px solid #f17320;
}
.text-light-blue {
  color: #f17320 !important;
}
.view-more-pestel-box {
  color: #4c4c4c !important;
}
.outline-tag:hover {
  color: #f17320 !important;
  border-color: #f17320 !important;
}
.outline-tag:hover span {
  color: #f17320 !important;
}
.outline-tag.view-more-tag:hover {
  background: #f17320 !important;
}
.view-more-tag {
  color: #f17320;
}
.menu-drop-tab-top .nav-trash:hover {
  color: #f17320 !important;
}
.login-forget:hover {
  color: #f17320 !important;
}
.forgot-box h3 {
  color: #f17320;
}
.forgot-link {
  color: #f17320 !important;
}
.btn-reload-otp:hover {
  color: #f17320 !important;
}
.verification-box p a {
  color: #f17320 !important;
}
.active-text {
  color: #f17320;
}
.accordion-tab .list-group-item.active a {
  color: #f17320;
}
.star.selected i {
  color: #f17320;
}
.table-master td a {
  color: #f17320;
}
.new-search-v2 .form-group.sb-search-open .search-label, .new-search-v2 .no-js .sb-search .search-label {
  background: #f17320;
  border: 1px solid #f17320;
}
.filter-select-wrapper>.item {
  color: #f17320;
  border: 1px solid #f17320;
}
.filter-select-wrapper>.item>button {
  color: #f17320;
}
.edit-option-show-inner a:hover .fas {
  color: #f17320;
}
.md-name {
  color: #f17320;
}
.edit-bar .module-name-block a:hover {
  color: #f17320;
}
.arrow-dropdown a.active {
  color: #f17320;
}
.edit-bar .arrow-dropdown a:hover::before {
  color: #f17320;
}
.welcome-screen .modal-dialog .abt-module-description h4 {
  color: #f17320;
}
.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
  background: #f17320;
}
.radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .verygood[type="radio"]:checked + label > .fa-check-circle:before {
  color: #f17320;
}
.radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
  color: #f17320;
}
.radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
  color: #f17320;
}
.vm-box .vm-icon-bx {
  background: -moz-linear-gradient(258deg, #f17320 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f17320), color-stop(100%, #000));
  background: -webkit-linear-gradient(258deg, #f17320 0%, #000 100%);
  background: -o-linear-gradient(258deg, #f17320 0%, #000 100%);
  background: -ms-linear-gradient(258deg, #f17320 0%, #000 100%);
  background: linear-gradient(192deg, #f17320 0%, #000 100%);
}
.loader-round {
  border-top-color: #f17320;
}
a.oc-user-box .status {
  background: #f17320;
}
a.oc-user-box img {
  border-color: #f17320;
}
.oc-btns-arow {
  color: #f17320;
  border: 1px solid #f17320;
}
.oc-btns-arow:hover {
  background: #f17320;
}
.oc-tab-menu li a.active {
  color: #f17320;
  border-color: #f17320;
}
.oc-tab-menu li a.active:hover {
  color: #f17320;
  border-color: #f17320;
}
.oc-upload-image-show-pic {
  border-color: #f17320;
}
.bottom-bordered-blue {
  border-bottom-color: #f17320;
}
.image-edit-icom-oc:hover {
  background: #f17320;
}
.issue-list-table-org .container2 input:checked ~ .checkmark {
  background-color: #f17320;
  border-color: #f17320;
}
.issuue-new-style .draft-tag:before {
  border-left-color: #f17320;
  border-bottom-color: #f17320;
}
.issuue-new-style .draft-tag:after {
  background: #f17320;
  border-color: #f17320;
}
.work-flow-btm-sec-right h3 {
  color: #f17320;
}
.outline-tag.active {
  background: #fff;
  border-color: #f17320;
  color: #f17320;
}
.btn-in-ex-new:hover {
  background: #f17320 !important;
  border-color: #f17320;
}
.btn-in-ex-new.active {
  background: #f17320;
  border-color: #f17320;
}
.outline-tag.active span {
  color: #f17320 !important;
}
.uploaded-files a:hover {
  background: #f17320;
}
.uploaded-files a.active {
  background: #f17320;
}
.btn-send-chat {
  border-color: #f17320;
}
.chat-btm-icones li a:hover {
  color: #f17320;
}
.owl-chat-slider .item .btn:hover {
  background: #f17320 !important;
}
.owl-chat-slider .customNavigation .btn {
  color: #f17320 !important;
}
.upload-file-chat span:hover {
  color: #f17320;
  border-color: #f17320;
}
.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
  background: #f17320;
  border-color: #ffd0e5;
}
.introjs-helperNumberLayer {
  background: #f17320;
}
.users-page-list .user-list-lg:hover .user-details h6 {
  color: #f17320;
}
.users-page-list .user-list-lg:hover .user-details span {
  color: #f17320;
}
.user-details-show-pop .user-pop-contact li a:hover {
  color: #f17320;
}
.header-new-popup .popup-link-icon a:hover {
  color: #f17320;
}
.cantroller-preview a:hover {
  background: #f17320;
}
.popup-slider-control a:hover {
  color: #f17320 !important;
}
.assessment-user-box h4 {
  background: -webkit-linear-gradient(#f17320, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.assesment-history-page .result-box-full h3 {
  background: -webkit-linear-gradient(#f17320, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.score-divide h3 {
  background: -webkit-linear-gradient(#f17320, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.assesment-form-page .competency-result-box .progress .progress-bar {
  background: #f17320;
  background: -moz-linear-gradient(left, #f17320 0%, #000 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f17320), color-stop(100%, #000));
  background: -webkit-linear-gradient(left, #f17320 0%, #000 100%);
  background: -o-linear-gradient(left, #f17320 0%, #000 100%);
  background: -ms-linear-gradient(left, #f17320 0%, #000 100%);
  background: linear-gradient(to right, #f17320 0%, #000 100%);
}
.competency-result-popup .competency-result-box h3 {
  background: -webkit-linear-gradient(#f17320, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zui-wrapper .zui-table tr.active td:first-child {
  border-left: 5px solid #f17320;
}
body .main-skill {
  background: rgb(143, 21, 56, 15%) !important;
}
.zui-wrapper .zui-table tr.active td {
  background: rgb(143, 21, 56, 15%) !important;
}
tbody tr:hover {
  background: rgb(143, 21, 56, 8%) !important;
}
.zui-wrapper .zui-table tr:hover td {
  background: rgb(143, 21, 56, 8%) !important;
}
.form-control:focus {
  border-color: #da859d;
  box-shadow: 0 0 0 0.2rem rgb(143 21 56 / 25%);
}
.paraia-multi-select>.dropdown>.items>.item:hover {
  background-color: #f17320;
}
.feedback-icon-main .feedback-icon.active {
  color: #f17320;
}
.notifications-options .dropdown-toggle:hover {
background: #f17320;
}
.notifications-options.show .dropdown-toggle {
background: #f17320;
}
.small-close-round {
  color: #f17320;
}
.paperclip-type-inp [type="file"] + label.btn-1:hover {
color: #f17320;
}
.assesment-form-page .assesment-footer {
  background: #777;
}
.likelihood-risk-table .color-box-risk:hover .count-risk {
  background: #f17320;
}
.color-box-risk .count-risk.active {
  background: #f17320 !important;
}
.color-box-risk:hover .count-risk {
  background: #f17320;
}
.btn-small-green:hover {
  background: #f17320 !important;
  color: #fff !important;
  border-color: #f17320 !important;
}
.my-pagination .ngx-pagination .current {
  background: #f17320;
}





.widget .widget-heading h2 span {
  color: #f17320;
}

/* btn-clr-select starts */
.btn-clr-select .form-control:hover {
background: #f17320;
color: #fff;
}
.btn-clr-select .form-control option {
background: #fff;
color: #33475b;
}
.btn-clr-select .form-control:hover option {
background: #fff;
color: #33475b;
}
.btn-clr-select .form-control {
border-color: #f17320;
color: #f17320;
}
.btn-clr-select .plain-select:after {
  color: #f17320;
}
.btn-clr-select .plain-select:hover:after {
color: #fff;
}
/* btn-clr-select end */

/* btn-clr-select-fill starts */
.btn-clr-select-fill .form-control:hover {
background: #f17320;
color: #fff;
}
.btn-clr-select-fill .form-control option {
background: #fff;
color: #33475b;
}
.btn-clr-select-fill .form-control:hover option {
background: #fff;
color: #33475b;
}
.btn-clr-select-fill .form-control {
border-color: #f17320;
background: #f17320;
color: #fff;
}
.btn-clr-select-fill .plain-select:after {
  color: #fff;
}
.btn-clr-select-fill .plain-select:hover:after {
color: #fff;
}
/* btn-clr-select-fill end */
.activities-nbr {
background: #f17320;
}
.activities-main:before {
  background: #f17320;
}
.report-link i.active {
  color: #f17320;
}
.report-link a:hover {
  color: #f17320 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f17320;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f17320;
}
.custom-control-label::before {
  border-color: #f17320;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #f3f8fb, 0 0 0 0.2rem rgb(250 242 218);
}
.round-question h2 {
  background: #f17320;
}
.three-dots-dropdown.btn:hover {
  background: transparent !important;
  border-color: transparent !important;
  color: #f17320 !important;
}
.three-dots-dropdown.btn:hover i {
  color: #f17320 !important;
}

.tmline>li>.tmline-badge {
  border-color: #f17320;
  color: #f17320;
}
.tmline:before {
  background-color: #f17320;
}
.tmline .add-tmlinr .tmline-btn {
  background: #f17320;
}
.tmline .add-tmlinr .tmline-btn:hover {
  background: #f17320;
}
.btn-tic {
  background: #f17320;
}
.organization-multi-stup-form button:hover {
  background: #f17320;
}
.progress-round.blue .progress-bar {
  border-color: #f17320;
}
.progress-round .progress-value {
  color: #f17320;
}
.risk-treatment-btn {
  color: #f17320;
}
.indication-label-blue {
  color: #f17320 !important;
  border-color: #f17320 !important;
}
.divide-style h3 {
  background: -webkit-linear-gradient(#f3f8fb, #f17320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progress-circle span {
  color: #f17320;
}
.progress-circle.over50 .first50-bar {
  background-color: #f17320;
}
.value-bar {
  border-color: #f17320;
}

.bg-light-blue {
background: #777 !important;
}


.processes-issue {
  background: #ffe9f3;
  border-color: #f17320;
}
.tree-btn-loop-workflow .btn:after {
  border-color: #f17320;
}
.audit-workflow-user-box:before {
  border-color: #f17320;
}
.work-flow-review-approval:after {
  background: #f17320;
}
.document-new-tabs .nav-tabs .nav-link.active, .document-new-tabs .nav-tabs .nav-item.show .nav-link {
  color: #f17320 !important;
  background: #ffe9f3;
}
.folder-options-main-ul li:hover .folder-menu-link {
  color: #f17320;
  background: #ffe9f3;
}
.slider-user-guide-menu .nav .nav-item:first-child .nav-link {
  border-left-color: #f17320;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active {
  background: #f17320 !important;
  border-color: #f17320 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link:before {
  border-left-color: #f17320;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active:after {
  border-left-color: #f17320 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link {
  border-color: #f17320;
}
.slider-user-guide-menu .nav .nav-item .nav-link:hover {
  color: #f17320;
}
.notifications-list li.indication:before {
  background: #f17320;
  border-color: #ffa2cb;
}

.curve-small-tab .nav-tabs .nav-item .nav-link.active {
  border-color: #f17320 !important;
  background: #ffe4f0 !important;
  color: #f17320 !important;
}

.pdf-page-height .pdf-page-section {
  border-color: #f17320;
}
.pdf-page-height .maindiv .holder:last-child .pdf-page-section {
  border-color: #f17320;
}

.small-tab-icons .nav-tabs .nav-link.active, .small-tab-icons .nav-tabs .nav-item.show .nav-link {
  background: #f17320 !important;
}
.form-group .btn-light.bg-primary {
  background: #f17320 !important;
}


.small-close-poup:hover {
  color: #f17320 !important;
}
.folder-options-main-ul li .folder-menu-link.active, .folder-options-main-ul li:hover .folder-menu-link {
  background: #ffeaf0;
  color: #f17320;
}
.header-back-line .btn-plus:hover {
  color: #f17320;
  border-color: #f17320;
}
.question-icon {
  color: #f17320 !important;
}
.bb-custom-wrapper nav span, .menu-button {
  background: #f17320 !important;
}
.content .round-question h2, .round-question h2 {
  background: #f17320;
}
.edit-and-delete-small .btn-small-icon:hover {
  color: #f17320;
}
.tag-data-input-select-box {
  background: #f17320;
}
.tag-data-input-select-box:after {
  border-left: 10px solid #f17320;
}
.close-data-input-select-box:hover {
  color: #f17320;
}
.controls-mapping-btn span:hover {
  color: #f17320;
}
.profile-main-right .slider-inner-box-strategy:hover {
  border-color: #f17320 !important;
}
.ngx-pagination .current {
  color: #f17320 !important;
}
.active-box {
  border-color: #f17320 !important;
}
.cmn-bdr-blue {
  border-color: #f17320 !important;
}
.stg-role-chart .oc-user-pic.img-active img.user-pic-bdr {
  border-color: #f17320 !important;
}
.active-box-functional {
  border-color: #f17320 !important;
}
.edit-dropdown .dropdown-menu .dropdown-item.active, .edit-dropdown .dropdown-menu .dropdown-item:hover {
  color: #f17320;
}
.theme-border-color, .theme-border-color-bottom, .theme-border-color-left, .theme-border-color-right, .theme-border-color-top {
  border-color: #f17320;
}
.initiaves-dtl-boxes-nbr {
  border-color: #f17320;
}
.initiaves-dtl-boxes-left:after {
  border-color: #f17320;
}
.rca-msg-btn {
  color: #f17320;
  border-color: #f17320;
}
.risk-journey-block .journey-title-box .journey-title-box-inner {
  border-color: #f17320;
}
.stup-root-cause.risk-journey-block:before {
  background: #f17320;
}
.risk-journey-block .journey-title-box:after {
  background: #f17320;
}
.risk-journey-block .risk-journey-details {
  border: 1px solid #f17320;
}
.risk-journey-block .question-blue {
  background: #dda5be;
}
.edit-btn-table:hover {
  color: #f17320;
  border-color: #f17320;
}
.lg-outline-box .active, .lg-outline-box .cmn-bdr:hover {
  border-color: #f17320 !important;
}
.float-left.three-dots-dropdown i {
  color: #f17320;
}
.auto-complete-search .autocomplete-items div:hover {
  background-color: #f17320;
}
.close-page-smol .close-page .lni-close:hover {
  color: #f17320;
}
.star:hover i {
  color: #f17320;
}
.user-box-header .dropdown-menu a:hover span, .user-box-header .user-sign-out a:hover {
  color: #f17320 !important;
}
.msg-nbr-tab-btn.bg-light-blue:after {
  border-top-color: #f17320;
}
.delete-bullet-point ul li:hover {
  color: #f17320;
}
.blue-border {
  border-color: #f17320 !important;
}

/* fixed color start */
.btn-red {
  background: #C6001D !important;
  border-color: #C6001D !important;
  color: #fff !important;
}
.btn-red:hover {
  background: #C6001D !important;
  opacity: 0.9;
}
.btn-gray {
  background: #CBD6E2 !important;
  border-color: #CBD6E2 !important;
  color: #33475B !important;
}
.btn-gray:hover {
  background: #CBD6E2 !important;
  border-color: #CBD6E2 !important;
  color: #33475B !important;
  opacity: 0.9;
}
.btn-accept {
  background: #128D4F !important;
  border-color: #128D4F !important;
}
.btn-accept:hover {
  background: #128D4F !important;
  border-color: #128D4F !important;
}
.btn-reject {
  background: #da2002 !important;
  border-color: #da2002 !important;
}
.btn-reject:hover {
  background: #da2002 !important;
  border-color: #da2002 !important;
}

.btn-red {
background: #C6001D !important;
border-color: #C6001D !important;
color: #fff !important;
}
.btn-red:hover {
background: #C6001D !important;
opacity: 0.9;
}
.btn-gray {
background: #CBD6E2 !important;
border-color: #CBD6E2 !important;
color: #33475B !important;
}
.btn-gray:hover {
background: #CBD6E2 !important;
color: #33475B !important;
opacity: 0.9;
}
.btn-orange {
background: #ff8b17 !important;
border-color: #ff8b17 !important;
color: #fff !important;
}
.btn-orange:hover {
background: #ff8b17 !important;
color: #fff !important;
opacity: 0.9;
}
.btn-green {
background: #3db472 !important;
border-color: #3db472 !important;
color: #fff !important;
}
.btn-green:hover {
background: #3db472 !important;
color: #fff !important;
opacity: 0.9;
}
.btn-yellow {
background: #ddc205 !important;
border-color: #ddc205 !important;
color: #fff !important;
}
.btn-yellow:hover {
background: #ddc205 !important;
color: #fff !important;
opacity: 0.9;
}

.btn-green-hov {
border-color: #3db472 !important;
color: #3db472 !important;
}
.btn-green-hov:hover {
background: #3db472 !important;
border-color: #3db472 !important;
color: #fff !important;
}
.btn-green-hov.active {
background: #3db472 !important;
border-color: #3db472 !important;
color: #fff !important;
}
.btn-red-hov {
border-color: #C6001D !important;
color: #C6001D !important;
}
.btn-red-hov:hover {
background: #C6001D !important;
border-color: #C6001D !important;
color: #fff !important;
}
.btn-red-hov.active {
background: #C6001D !important;
border-color: #C6001D !important;
color: #fff !important;
}
.btn-yellow-hov {
border-color: #ddc205 !important;
color: #ddc205 !important;
}
.btn-yellow-hov:hover {
background: #ddc205 !important;
border-color: #ddc205 !important;
color: #fff !important;
}
.btn-yellow-hov.active {
background: #ddc205 !important;
border-color: #ddc205 !important;
color: #fff !important;
}
.btn-orange-hov {
  border-color: #ffa500 !important;
  color: #ffa500 !important;
}
.btn-orange-hov:hover {
  background: #ffa500 !important;
  border-color: #ffa500 !important;
  color: #fff !important;
}
.btn-orange-hov.active {
  background: #ffa500 !important;
  border-color: #ffa500 !important;
  color: #fff !important;
}
.btn-light-green-hov {
  border-color: #0DBF00 !important;
  color: #0DBF00 !important;
}
.btn-light-green-hov:hover {
  background: #0DBF00 !important;
  border-color: #0DBF00 !important;
  color: #fff !important;
}
.btn-light-green-hov.active {
  background: #0DBF00 !important;
  border-color: #0DBF00 !important;
  color: #fff !important;
}

.btn-light-green {
  background: #0DBF00 !important;
  border-color: #0DBF00 !important;
  color: #fff !important;
}
.btn-light-green:hover {
  background: #0DBF00 !important;
  color: #fff !important;
  opacity: 0.8;
}

.draft-tag-red {
color: #ff0505 !important;
border-color: #ff0505 !important;
}
.draft-tag-red:before {
border-color: #ff0505 !important;
}
.draft-tag-red:after {
border-color: #ff0505 !important;
background: #ff0505 !important;
}
.draft-tag-green {
color: #22B112 !important;
border-color: #22B112 !important;
}
.draft-tag-green:before {
border-color: #22B112 !important;
}
.draft-tag-green:after {
border-color: #22B112 !important;
background: #22B112 !important;
}

.draft-tag-yellow {
color: #ffdf00 !important;
border-color: #ffdf00 !important;
}
.draft-tag-yellow:before {
border-color: #ffdf00 !important;
}
.draft-tag-yellow:after {
border-color: #ffdf00 !important;
background: #ffdf00 !important;
}

.draft-tag-orange {
color: #f7941d !important;
border-color: #f7941d !important;
}
.draft-tag-orange:before {
border-color: #f7941d !important;
}
.draft-tag-orange:after {
border-color: #f7941d !important;
background: #f7941d !important;
}

.draft-tag-violet {
color: #df20df !important;
border-color: #df20df !important;
}
.draft-tag-violet:before {
border-color: #df20df !important;
}
.draft-tag-violet:after {
border-color: #df20df !important;
background: #df20df !important;
}

.draft-tag-blue {
color: #0000ff !important;
border-color: #0000ff !important;
}
.draft-tag-blue:before {
border-color: #0000ff !important;
}
.draft-tag-blue:after {
border-color: #0000ff !important;
background: #0000ff !important;
}


/* fixed color end */

/* rtl theme style start */
html[dir=rtl] .slider-user-guide-menu-main .slider-user-guide-menu .nav .nav-item:first-child .nav-link {
  border-left-color: #f17320;
}
html[dir=rtl] .slider-user-guide-menu-main .slider-user-guide-menu .nav .nav-item .nav-link:before {
  border-right-color : #f17320;
}
html[dir=rtl] .slider-user-guide-menu-main .slider-user-guide-menu .nav .nav-item .nav-link.active:after {
  border-right-color: #f17320!important;
}
html[dir=rtl] .tag-data-input-select-box:after {
  border-right: 10px solid #f17320;
}

/* rtl theme style end */

