
a:hover {
    color: #760b3a;
}
.menu-collape-area ul li a {
    color: #fff;
}
.menu-collape-area .card-link:before {
    color: #fff;
}
.menu-collape-area ul li a:hover:before {
    color: #fff;
}
#sidebar-wrapper-menu .side-bar-header {
  background: #760b3a;
}
#sidebar-wrapper-menu.active .side-bar-header {
    background: #760b3a;
}
.bg-dark {
    background: #4c1830 !important;
}
.top-bar .notification a i {
    color: #fff;
}
.top-bar .language-btn {
    background: #38383657 !important;
}
.user-box-header .dropdown-menu a:hover span {
    color: #760b3a !important;
}
body {
  background: #f5f6f7;
}
.bg-main {
    background: #FBFBFB !important;
}
.actvitylog-dtl-round {
    border-color: #f5f6f7;
}
.edit-bar .nav-item .nav-link.active {
    background-color: #f5f6f7;
    color: #760b3a;
}
.edit-bar .nav-item .nav-link:hover {
    color: #760b3a;
}
.main-menu .submenu .collapse li a.active {
    background: #760b3a;
}
.edit-bar .edit-icons li a:hover {
    color: #760b3a;
}
.nav-pills.edit-icons li a.active {
    color: #760b3a;
}
#sidebar-wrapper-menu {
    background-color: rgba(24, 51, 86, 0.90);
}
.left-menu-main .card-link.active, .main-menu .submenu .collapse li a.active, .menu-collape-area ul li a.active {
    background: #144789;
}
.menu-collape-area ul li a:hover {
    background: #144789;
}
.left-menu-main .card-link.active {
    background: #144789;
}
.left-menu-main .card-link.active {
    color: #fff;
}
.menu-collape-area .card-link.active:before {
    color: #fff;
}
.icon-with-text-small-tab .nav-tabs .nav-item .nav-link.active {
  border-color: #79123f !important;
  background: #79123f !important;
}

/* btn type style start */
a.btn:not([href]):not([tabindex]) {
    color: #79123f;
}
.btn.ordinary-btn {
  color: #79123f !important;
}
.btn {
    color: #79123f;
    border: 1px solid #79123f;
}
.btn:hover {
    background: #79123f !important;
    border-color: #79123f !important;
}
.btn-small {
    border: 1px solid #79123f;
    color: #79123f;
}
.btn-small:hover {
    background: #79123f;
    border-color: #79123f;
}
.btn-active {
    background: #79123f !important;
}
.oc-edit .oc-box-option-icon:hover {
    color: #79123f;
}
.filter-fill .filter-save-btn .btn-active {
    border-color: #79123f;
}
.upload-btn-wrapper .btn {
    border-bottom-color: #79123f;
}
.upload-btn-wrapper .btn:hover {
    background: #79123f !important;
}
.upload-btn-wrapper input[type=file]:hover + button {
  color: #79123f !important;
}
.oc-upload-image-show .upload-btn-wrapper input[type=file]:hover+button {
    background: #79123f !important;
    border-color: #79123f !important;
}
.user-img-section .user-pic .edit-btn {
    background: #79123f;
}
.user-img-section .user-pic .edit-btn:hover {
    background: #8d8f90;
}

.choose-file-btn .btn {
    border-color: #79123f;
    color: #79123f !important;
 }
 .choose-file-btn:hover .btn {
    background: #79123f !important;
  }
  .choose-file-btn input[type=file]:hover+button {
    background: #79123f !important;
  }

.my-pagination .ngx-pagination .current {
    background: #8d8f90;
}

.tab-type-btn-small .outline-tag {
    background: #fff;
    color: #79123f !important;
    border-color: #79123f !important;
}
.tab-type-btn-small .outline-tag.active {
    background: #79123f !important;
    color: #fff !important;
    border-color: #79123f !important;
}
.tab-type-btn-small .outline-tag:hover {
    background: #79123f !important;
    color: #fff !important;
    border-color: #79123f !important;
}
.nbr-box-small:hover {
  border-color: #79123f;
  color: #79123f;
}
.nbr-box-small.active {
  border-color: #79123f;
  background: #79123f;
}
.user-box-big-plus {
   background: #79123f;
}
/* btn type style end */

.head-details a {
    color: #760b3a;
}
.head-details a:hover {
    color: #760b3a;
}
.start-audit-page .assesment-footer {
    background: #760b3a;
}
.container2 input:checked~.checkmark {
    background-color: #760b3a;
}
.chat-box-header {
    background: #680724;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #144789;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #144789; 
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #8d8f90;
}

.new-search-v2 .search-label:hover {
    color: #760b3a;
}


.edit-option-show a:hover .fas, .edit-option-show a:hover i {
    color: #760b3a;
}
.edit-option-show a:hover span {
  color: #760b3a;
}
.edit-option-show-fix a:hover {
    color: #760b3a !important;
}
.user-details-page .add-button-outlined:hover {
    color: #760b3a;
    border-color: #760b3a;
}
.user-details-page .add-button-outlined:hover i {
    color: #760b3a;
}
.user-details-page .add-button-outlined i:hover {
    color: #760b3a;
}
.side-menu-toggles-main .left-arow-side-toggle {
    background-color: #760b3a;
}
.user-toggle-cmn {
    background: #760b3a;
}
#return-to-top {
  background-color: rgba(24, 51, 86, 0.90);
}
#return-to-top:hover {
    background: #760b3a;
}
.question-circle-inp:hover i {
    color: #760b3a;
}
.eye-icon-pswd:hover {
    color: #760b3a !important;
}
.user-list-sm:hover h6, .user-list-sm:hover span {
    color: #760b3a;
}
@keyframes blinkingTextblue {
    0%{     color: #760b3a;    }
    49%{    color: #760b3a; }
    60%{    color: #33475b; }
    99%{    color: #33475b;  }
    100%{   color: #760b3a;    }
}
.user-highlight .blinking-text-blue {
    animation:blinkingBlue 1s infinite;
}
@keyframes blinkingBlue{
    0%{     color: #760b3a;    }
    49%{    color: #760b3a; }
    60%{    color: #33475b; }
    99%{    color: #33475b;  }
    100%{   color: #760b3a;    }
}
.user-highlight .user-list-sm img {
  -webkit-box-shadow: 0px 0px 10px #760b3a38; 
  -moz-box-shadow:    0px 0px 10px #760b3a38;  
  box-shadow:         0px 0px 10px #760b3a38; 
}

.user-details-page .user-beginer-block .beginner-icon {
    background: #760b3a;
}
.progress-bar {
    background-color: #760b3a;
}
.line-tab .nav-link.active {
    border-color: #760b3a !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #760b3a !important;
}
.user-details-page .read-more {
    color: #760b3a;
}
.pagination .page-link.active, .pagination .page-link:hover {
    color: #760b3a;
}
.selectator_options .selectator_option.active {
    background-color: #760b3a;
}
.nav-tabs--left .nav-link:hover {
    color: #760b3a !important;
}
.switch input:checked + .slider:before {
    border: 1px solid #760b3a;
}
.switch input:checked + .slider {
    background-color: #760b3a;
}
.card-hov-effect:hover .pointer h3, .card-hov-effect:hover .pointer .directio-text, .card-hov-effect:hover .card-link {
    color: #760b3a;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #760b3a;
}
.confirm-star .fas {
    color: #760b3a;
}
.organization-multi-stup-form .step {
    background-color: #f5f6f7;
}
.organization-multi-stup-form .step:hover {
    color: #760b3a;
    cursor: pointer;
}
.organization-multi-stup-form .step:hover .multi-form-nbr {
    background: #760b3a;
}
.organization-multi-stup-form .step.active {
    color: #760b3a;
    border-top-color: #760b3a !important;
}
.organization-multi-stup-form .step.active .multi-form-nbr {
    background: #760b3a;
}
.organization-multi-stup-form .step.finish {
    color: #760b3a;
    border-top-color: #760b3a !important;
}
.organization-multi-stup-form .step.finish.active {
    color: #760b3a;
}
.organization-multi-stup-form .step.finish .multi-form-nbr {
    background: #760b3a;
}
.Preview-block .remember-txt:hover {
    color: #760b3a;
}
.filter-fill .filter-page-inner {
    background-color: rgba(24, 51, 86, 0.90);
}

.filter-fill .filter-btn-active {
    background: #760b3a;
    border: 1px solid #760b3a;
}
.filter-fill .filtr-btn:hover {
    background: #760b3a !important;
    border: 1px solid #760b3a !important;
}
.btn-new-icon.active {
    background: #760b3a;
}
.help-site-link {
    color: #760b3a;
}
.help-site-link:hover {
    color: #760b3a;
}
.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
    color: #760b3a !important;
}
.v2-help-drop-main .panel-drop-sections .panel-heading.active .width96pc {
    color: #760b3a !important;
}
.accordian-boxed .card-body span.active {
    border: 1px solid #760b3a;
    background: #760b3a;
}
.assesment-form-page input[type=radio].toggle:checked + label {
    background: #760b3a;
    border-color: #760b3a !important;
}
.assesment-form-page .start-btn {
    background: #760b3a;
    border-color: #760b3a !important;
}
.assesment-form-page .start-btn:hover {
    background: #760b3a !important;
}
.assesment-form-page input[type=radio].toggle + label:hover {
    background: #760b3a;
    border-color: #760b3a !important;
}
.modal-style-1 .modal-content .modal-header {
    background: #760b3a;
    background: -moz-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: -webkit-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: linear-gradient(to right, #760b3a 0%, #450015 100%);
}
.modal-style-1 .modal-content .modal-header .close {
    background: #760b3a;
}

.dollar-icon-border {
    border: 2px solid #760b3a;
}
.text-light-blue {
    color: #760b3a !important;
}
.view-more-pestel-box {
    color: #760b3a !important;
}
.outline-tag:hover {
    color: #760b3a !important;
    border-color: #760b3a !important;
}
.outline-tag:hover span {
    color: #760b3a !important;
}
.outline-tag.view-more-tag:hover {
    background: #760b3a !important;
}
.view-more-tag {
    color: #760b3a;
}
.menu-drop-tab-top .nav-trash:hover {
    color: #760b3a !important;
}
.login-forget:hover {
    color: #760b3a !important;
}
.forgot-box h3 {
    color: #760b3a;
}
.forgot-link {
    color: #760b3a !important;
}
.btn-reload-otp:hover {
    color: #760b3a !important;
}
.verification-box p a {
    color: #760b3a !important;
}
.active-text {
    color: #760b3a;
}
.accordion-tab .list-group-item.active a {
    color: #760b3a;
}
.star.selected i {
    color: #760b3a;
}
.table-master td a {
    color: #760b3a;
}
.new-search-v2 .form-group.sb-search-open .search-label, .new-search-v2 .no-js .sb-search .search-label {
    background: #760b3a;
    border: 1px solid #760b3a;
}
.filter-select-wrapper>.item {
    color: #760b3a;
    border: 1px solid #760b3a;
}
.filter-select-wrapper>.item>button {
    color: #760b3a;
}
.edit-option-show-inner a:hover .fas {
    color: #760b3a;
}
.md-name {
    color: #760b3a;
}
.edit-bar .module-name-block a:hover {
    color: #760b3a;
}
.arrow-dropdown a.active {
    color: #760b3a;
}
.edit-bar .arrow-dropdown a:hover::before {
    color: #760b3a;
}
.welcome-screen .modal-dialog .abt-module-description h4 {
    color: #760b3a;
}
.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
    background: #760b3a;
}
.radio-btns-new .verygood[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .verygood[type="radio"]:checked + label > .fa-check-circle:before {
    color: #760b3a;
}
.radio-btns-new .good[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .good[type="radio"]:checked + label > .fa-check-circle:before {
    color: #760b3a;
}
.radio-btns-new .bad[type="radio"]:checked + .fa-check-circle:before, .radio-btns-new .bad[type="radio"]:checked + label > .fa-check-circle:before {
    color: #760b3a;
}
.vm-box .vm-icon-bx {
    background: -moz-linear-gradient(258deg, #450015 0%, #760b3a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #450015), color-stop(100%, #760b3a));
    background: -webkit-linear-gradient(258deg, #450015 0%, #760b3a 100%);
    background: -o-linear-gradient(258deg, #450015 0%, #760b3a 100%);
    background: -ms-linear-gradient(258deg, #450015 0%, #760b3a 100%);
    background: linear-gradient(192deg, #450015 0%, #760b3a 100%);
}
.loader-round {
    border-top-color: #760b3a;
}
a.oc-user-box .status {
    background: #760b3a;
}
a.oc-user-box img {
    border-color: #760b3a;
}
.oc-btns-arow {
    color: #760b3a;
    border: 1px solid #760b3a;
}
.oc-btns-arow:hover {
    background: #760b3a;
}
.oc-tab-menu li a.active {
    color: #760b3a;
    border-color: #760b3a;
}
.oc-tab-menu li a.active:hover {
    color: #760b3a;
    border-color: #760b3a;
}
.oc-upload-image-show-pic {
    border-color: #760b3a;
}
.bottom-bordered-blue {
    border-bottom-color: #760b3a;
}
.image-edit-icom-oc:hover {
    background: #760b3a;
}
.issue-list-table-org .container2 input:checked ~ .checkmark {
    background-color: #760b3a;
    border-color: #760b3a;
}
.issuue-new-style .draft-tag:before {
    border-left-color: #760b3a;
    border-bottom-color: #760b3a;
}
.issuue-new-style .draft-tag:after {
    background: #760b3a;
    border-color: #760b3a;
}
.work-flow-btm-sec-right h3 {
    color: #760b3a;
}
.outline-tag.active {
    background: #fff;
    border-color: #760b3a;
    color: #760b3a;
}
.btn-in-ex-new:hover {
    background: #760b3a !important;
    border-color: #760b3a;
}
.btn-in-ex-new.active {
    background: #760b3a;
    border-color: #760b3a;
}
.outline-tag.active span {
    color: #760b3a !important;
}
.uploaded-files a:hover {
    background: #760b3a;
}
.uploaded-files a.active {
    background: #760b3a;
}
.btn-send-chat {
    border-color: #760b3a;
}
.chat-btm-icones li a:hover {
    color: #760b3a;
}
.owl-chat-slider .item .btn:hover {
    background: #760b3a !important;
}
.owl-chat-slider .customNavigation .btn {
    color: #760b3a !important;
}
.upload-file-chat span:hover {
    color: #760b3a;
    border-color: #760b3a;
}
.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
    background: #760b3a;
    border-color: #ffd0e5;
}
.introjs-helperNumberLayer {
    background: #760b3a;
}
.users-page-list .user-list-lg:hover .user-details h6 {
    color: #760b3a;
}
.users-page-list .user-list-lg:hover .user-details span {
    color: #760b3a;
}
.user-details-show-pop .user-pop-contact li a:hover {
    color: #760b3a;
}
.header-new-popup .popup-link-icon a:hover {
    color: #760b3a;
}
.cantroller-preview a:hover {
    background: #760b3a;
}
.popup-slider-control a:hover {
    color: #760b3a !important;
}
.assessment-user-box h4 {
    background: -webkit-linear-gradient(#760b3a, #450015);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-history-page .result-box-full h3 {
    background: -webkit-linear-gradient(#760b3a, #450015);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.score-divide h3 {
    background: -webkit-linear-gradient(#760b3a, #450015);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.assesment-form-page .competency-result-box .progress .progress-bar {
    background: #760b3a;
    background: -moz-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #760b3a), color-stop(100%, #450015));
    background: -webkit-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: -o-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: -ms-linear-gradient(left, #760b3a 0%, #450015 100%);
    background: linear-gradient(to right, #760b3a 0%, #450015 100%);
}
.competency-result-popup .competency-result-box h3 {
    background: -webkit-linear-gradient(#760b3a, #450015);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zui-wrapper .zui-table tr.active td:first-child {
    border-left: 5px solid #760b3a;
}
body .main-skill {
    background: rgb(143, 21, 56, 15%) !important;
}
.zui-wrapper .zui-table tr.active td {
    background: rgb(143, 21, 56, 15%) !important;
}
tbody tr:hover {
    background: rgb(143, 21, 56, 8%) !important;
}
.zui-wrapper .zui-table tr:hover td {
    background: rgb(143, 21, 56, 8%) !important;
}
.form-control:focus {
    border-color: #da859d;
    box-shadow: 0 0 0 0.2rem rgb(143 21 56 / 25%);
}
.paraia-multi-select>.dropdown>.items>.item:hover {
    background-color: #760b3a;
}
.feedback-icon-main .feedback-icon.active {
    color: #760b3a;
}
.notifications-options .dropdown-toggle:hover {
  background: #760b3a;
}
.notifications-options.show .dropdown-toggle {
  background: #760b3a;
}
.small-close-round {
    color: #760b3a;
}
.paperclip-type-inp [type="file"] + label.btn-1:hover {
  color: #760b3a;
}
.assesment-form-page .assesment-footer {
    background: #760b3a;
}
.likelihood-risk-table .color-box-risk:hover .count-risk {
    background: #760b3a;
}
.color-box-risk .count-risk.active {
    background: #760b3a !important;
}
.color-box-risk:hover .count-risk {
    background: #760b3a;
}
.btn-small-green:hover {
    background: #760b3a !important;
    color: #fff !important;
    border-color: #760b3a !important;
}
.my-pagination .ngx-pagination .current {
    background: #760b3a;
}





.widget .widget-heading h2 span {
    color: #760b3a;
}

/* btn-clr-select starts */
.btn-clr-select .form-control:hover {
  background: #760b3a;
  color: #fff;
}
.btn-clr-select .form-control option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select .form-control:hover option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select .form-control {
  border-color: #760b3a;
  color: #760b3a;
}
.btn-clr-select .plain-select:after {
    color: #760b3a;
}
.btn-clr-select .plain-select:hover:after {
  color: #fff;
}
/* btn-clr-select end */

/* btn-clr-select-fill starts */
.btn-clr-select-fill .form-control:hover {
  background: #760b3a;
  color: #fff;
}
.btn-clr-select-fill .form-control option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select-fill .form-control:hover option {
  background: #fff;
  color: #33475b;
}
.btn-clr-select-fill .form-control {
  border-color: #760b3a;
  background: #760b3a;
  color: #fff;
}
.btn-clr-select-fill .plain-select:after {
    color: #fff;
}
.btn-clr-select-fill .plain-select:hover:after {
  color: #fff;
}
/* btn-clr-select-fill end */
.activities-nbr {
  background: #760b3a;
}
.activities-main:before {
    background: #760b3a;
}
.report-link i.active {
    color: #760b3a;
}
.report-link a:hover {
    color: #760b3a !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #760b3a;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #760b3a;
}
.custom-control-label::before {
    border-color: #760b3a;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #f3f8fb, 0 0 0 0.2rem rgb(250 242 218);
}
.round-question h2 {
    background: #760b3a;
}

/* fixed color start */
.btn-red {
    background: #C6001D !important;
    border-color: #C6001D !important;
    color: #fff !important;
}
.btn-red:hover {
    background: #C6001D !important;
    opacity: 0.9;
}
.btn-gray {
    background: #CBD6E2 !important;
    border-color: #CBD6E2 !important;
    color: #33475B !important;
}
.btn-gray:hover {
    background: #CBD6E2 !important;
    border-color: #CBD6E2 !important;
    color: #33475B !important;
    opacity: 0.9;
}
.btn-accept {
    background: #128D4F !important;
    border-color: #128D4F !important;
}
.btn-accept:hover {
    background: #128D4F !important;
    border-color: #128D4F !important;
}
.btn-reject {
    background: #da2002 !important;
    border-color: #da2002 !important;
}
.btn-reject:hover {
    background: #da2002 !important;
    border-color: #da2002 !important;
}

.btn-red {
  background: #C6001D !important;
  border-color: #C6001D !important;
  color: #fff !important;
}
.btn-red:hover {
  background: #C6001D !important;
  opacity: 0.9;
}
.btn-gray {
  background: #CBD6E2 !important;
  border-color: #CBD6E2 !important;
  color: #33475B !important;
}
.btn-gray:hover {
  background: #CBD6E2 !important;
  color: #33475B !important;
  opacity: 0.9;
}
.btn-orange {
  background: #ff8b17 !important;
  border-color: #ff8b17 !important;
  color: #fff !important;
}
.btn-orange:hover {
  background: #ff8b17 !important;
  color: #fff !important;
  opacity: 0.9;
}
.btn-green {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-green:hover {
  background: #3db472 !important;
  color: #fff !important;
  opacity: 0.9;
}
.btn-yellow {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}
.btn-yellow:hover {
  background: #ddc205 !important;
  color: #fff !important;
  opacity: 0.9;
}

.btn-green-hov {
  border-color: #3db472 !important;
  color: #3db472 !important;
}
.btn-green-hov:hover {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-green-hov.active {
  background: #3db472 !important;
  border-color: #3db472 !important;
  color: #fff !important;
}
.btn-red-hov {
  border-color: #C6001D !important;
  color: #C6001D !important;
}
.btn-red-hov:hover {
  background: #C6001D !important;
  border-color: #C6001D !important;
  color: #fff !important;
}
.btn-red-hov.active {
  background: #C6001D !important;
  border-color: #C6001D !important;
  color: #fff !important;
}
.btn-yellow-hov {
  border-color: #ddc205 !important;
  color: #ddc205 !important;
}
.btn-yellow-hov:hover {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}
.btn-yellow-hov.active {
  background: #ddc205 !important;
  border-color: #ddc205 !important;
  color: #fff !important;
}

.draft-tag-red {
  color: #ff0505 !important;
  border-color: #ff0505 !important;
}
.draft-tag-red:before {
  border-color: #ff0505 !important;
}
.draft-tag-red:after {
  border-color: #ff0505 !important;
  background: #ff0505 !important;
}
.draft-tag-green {
  color: #22B112 !important;
  border-color: #22B112 !important;
}
.draft-tag-green:before {
  border-color: #22B112 !important;
}
.draft-tag-green:after {
  border-color: #22B112 !important;
  background: #22B112 !important;
}

.draft-tag-yellow {
  color: #ffdf00 !important;
  border-color: #ffdf00 !important;
}
.draft-tag-yellow:before {
  border-color: #ffdf00 !important;
}
.draft-tag-yellow:after {
  border-color: #ffdf00 !important;
  background: #ffdf00 !important;
}

.draft-tag-orange {
  color: #f7941d !important;
  border-color: #f7941d !important;
}
.draft-tag-orange:before {
  border-color: #f7941d !important;
}
.draft-tag-orange:after {
  border-color: #f7941d !important;
  background: #f7941d !important;
}

.draft-tag-violet {
  color: #df20df !important;
  border-color: #df20df !important;
}
.draft-tag-violet:before {
  border-color: #df20df !important;
}
.draft-tag-violet:after {
  border-color: #df20df !important;
  background: #df20df !important;
}

.draft-tag-blue {
  color: #0000ff !important;
  border-color: #0000ff !important;
}
.draft-tag-blue:before {
  border-color: #0000ff !important;
}
.draft-tag-blue:after {
  border-color: #0000ff !important;
  background: #0000ff !important;
}


/* fixed color end */

