a:hover {
    color: #0073ae;
}

.menu-collape-area ul li a {
    color: #fff;
}

.menu-collape-area .card-link:before {
    color: #fff;
}

.menu-collape-area ul li a:hover:before {
    color: #fff;
}

#sidebar-wrapper-menu .side-bar-header {
    background: #0073ae;
}

#sidebar-wrapper-menu.active .side-bar-header {
    background: #0073ae;
}

.bg-dark {
    background: #025078 !important;
}

.top-bar .notification a i {
    color: #fff;
}

.top-bar .language-btn {
    background: #38383657 !important;
}

.user-box-header .dropdown-menu a:hover span {
    color: #0073ae !important;
}

body {
    background: #f5f6f7;
}

.bg-main {
    background: #fbfbfb !important;
}

.actvitylog-dtl-round {
    border-color: #f5f6f7;
}

.edit-bar .nav-item .nav-link.active {
    background-color: #f5f6f7;
    color: #025078;
}

.edit-bar .nav-item .nav-link:hover {
    color: #025078;
}

.main-menu .submenu .collapse li a.active {
    background: #0073ae;
}

.edit-bar .edit-icons li a:hover {
    color: #025078;
}

.nav-pills.edit-icons li a.active {
    color: #025078;
}

#sidebar-wrapper-menu {
    background-color: rgba(0, 82, 124, 0.9);
}

.left-menu-main .card-link.active,
.main-menu .submenu .collapse li a.active,
.menu-collape-area ul li a.active {
    background: #025078;
}


/*.edit-bar .edit-icons li a {
    color: #025078;
}*/


/*.edit-bar .nav-item .nav-link {
    color: #025078;
}*/

.menu-collape-area ul li a:hover {
    background: #025078;
    color: #fff;
}

.left-menu-main .card-link.active {
    background: #025078;
    color: #fff;
}

.menu-collape-area li:hover .card-link:before {
    color: #fff;
}

.menu-collape-area li:hover .card-link {
    color: #fff;
    background: #025078;
}


/*.menu-collape-area .card-link i {
    color: #fff;
}*/

.menu-collape-area .card-link.active:before {
    color: #fff;
}

.icon-with-text-small-tab .nav-tabs .nav-item .nav-link.active {
    border-color: #0073ae !important;
    background: #0073ae !important;
}


/* btn type style start */

a.btn:not([href]):not([tabindex]) {
    color: #004467;
}

.btn.ordinary-btn {
    color: #004467 !important;
}

.btn {
    color: #004467;
    border: 1px solid #004467;
}

.btn:hover {
    background: #004467 !important;
    border-color: #004467 !important;
}

.btn-small {
    border: 1px solid #004467;
    color: #004467;
}

.btn-small:hover {
    background: #004467;
    border-color: #004467;
}

.btn-active {
    background: #004467 !important;
}

.oc-edit .oc-box-option-icon:hover {
    color: #004467;
}

.new-search-v2 .search-label:hover {
    color: #025078;
}

.filter-fill .filter-save-btn .btn-active {
    border-color: #004467;
}

.upload-btn-wrapper .btn {
    border-bottom-color: #004467;
}

.upload-btn-wrapper .btn:hover {
    color: #004467 !important;
}

.upload-btn-wrapper input[type="file"]:hover+button {
    color: #004467 !important;
}

.oc-upload-image-show .upload-btn-wrapper input[type="file"]:hover+button {
    background: #004467 !important;
    border-color: #004467 !important;
}

.user-img-section .user-pic .edit-btn {
    background: #004467;
}

.user-img-section .user-pic .edit-btn:hover {
    background: #d1ae4e;
}


/* step-form-small theme style start */

.step-form-small #msform .action-button {
    border-color: #004467;
}

.step-form-small #msform .action-button {
    color: #004467;
}

.step-form-small #msform .action-button:hover {
    background: #004467;
    border-color: #004467;
}

.step-form-small #progressbar li.active:before,
.step-form-small #progressbar li.active:after {
    background: #004467;
    color: #004467;
}


/* step-form-small theme style end */

.choose-file-btn .btn {
    border-color: #004467;
    color: #004467 !important;
}

.choose-file-btn:hover .btn {
    background: #004467 !important;
}

.choose-file-btn input[type="file"]:hover+button {
    background: #004467 !important;
}

.my-pagination .ngx-pagination .current {
    background: #d1ae4e;
}

.tab-type-btn-small .outline-tag {
    background: #fff;
    color: #004467 !important;
    border-color: #004467 !important;
}

.tab-type-btn-small .outline-tag.active {
    background: #004467 !important;
    color: #fff !important;
    border-color: #004467 !important;
}

.tab-type-btn-small .outline-tag:hover {
    background: #004467 !important;
    color: #fff !important;
    border-color: #004467 !important;
}

.nbr-box-small:hover {
    border-color: #004467;
    color: #004467;
}

.nbr-box-small.active {
    border-color: #004467;
    background: #004467;
}

.user-box-big-plus {
    background: #004467;
}


/* btn type style end */

.head-details a {
    color: #004467;
}

.head-details a:hover {
    color: #004467;
}

.start-audit-page .assesment-footer {
    background: #0073ae;
}

.container2 input:checked~.checkmark {
    background-color: #004467;
}

.chat-box-header {
    background: #0073ae;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #0073ae;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #0073ae;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #005d53;
}

.edit-option-show a:hover .fas,
.edit-option-show a:hover i {
    color: #004467;
}

.edit-option-show a:hover span {
    color: #004467;
}

.edit-option-show-fix a:hover {
    color: #004467 !important;
}

.edit-small .edit-small-icon a:hover {
    color: #004467;
}

.user-details-page .add-button-outlined:hover {
    color: #0073ae;
    border-color: #0073ae;
}

.user-details-page .add-button-outlined:hover i {
    color: #0073ae;
}

.user-details-page .add-button-outlined i:hover {
    color: #0073ae;
}

.side-menu-toggles-main .left-arow-side-toggle {
    background-color: #0073ae;
}

.user-toggle-cmn {
    background: #025078;
}

#return-to-top {
    background-color: rgba(0, 82, 124, 0.8);
}

#return-to-top:hover {
    background: #0073ae;
}

.question-circle-inp:hover i {
    color: #0073ae;
}

.eye-icon-pswd:hover {
    color: #0073ae !important;
}

.user-list-sm:hover h6,
.user-list-sm:hover span {
    color: #0073ae;
}

@keyframes blinkingTextblue {
    0% {
        color: #0073ae;
    }
    49% {
        color: #0073ae;
    }
    60% {
        color: #33475b;
    }
    99% {
        color: #33475b;
    }
    100% {
        color: #0073ae;
    }
}

.user-highlight .blinking-text-blue {
    animation: blinkingBlue 1s infinite;
}

@keyframes blinkingBlue {
    0% {
        color: #0073ae;
    }
    49% {
        color: #0073ae;
    }
    60% {
        color: #33475b;
    }
    99% {
        color: #33475b;
    }
    100% {
        color: #0073ae;
    }
}

.user-highlight .user-list-sm img {
    -webkit-box-shadow: 0px 0px 10px #0073ae38;
    -moz-box-shadow: 0px 0px 10px #0073ae38;
    box-shadow: 0px 0px 10px #0073ae38;
}

.user-details-page .user-beginer-block .beginner-icon {
    background: #0073ae;
}

.progress-bar {
    background-color: #0073ae;
}

.line-tab .nav-link.active {
    border-color: #0073ae !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #004467 !important;
}

.user-details-page .read-more {
    color: #0073ae;
}

.pagination .page-link.active,
.pagination .page-link:hover {
    color: #0073ae;
}

.selectator_options .selectator_option.active {
    background-color: #0073ae;
}

.nav-tabs--left .nav-link:hover {
    color: #004467 !important;
}

.switch input:checked+.slider:before {
    border: 1px solid #004467;
}

.switch input:checked+.slider {
    background-color: #004467;
}

.card-hov-effect:hover .pointer h3,
.card-hov-effect:hover .pointer .directio-text,
.card-hov-effect:hover .card-link {
    color: #0073ae;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #0073ae;
}

.confirm-star .fas {
    color: #0073ae;
}

.organization-multi-stup-form .step {
    background-color: #f5f6f7;
}

.organization-multi-stup-form .step:hover {
    color: #025078;
    cursor: pointer;
}

.organization-multi-stup-form .step:hover .multi-form-nbr {
    background: #025078;
}

.organization-multi-stup-form .step.active {
    color: #025078;
    border-top-color: #025078 !important;
}

.organization-multi-stup-form .step.active .multi-form-nbr {
    background: #025078;
}

.organization-multi-stup-form .step.finish {
    color: #025078;
    border-top-color: #025078 !important;
}

.organization-multi-stup-form .step.finish.active {
    color: #025078;
}

.organization-multi-stup-form .step.finish .multi-form-nbr {
    background: #025078;
}

.Preview-block .remember-txt:hover {
    color: #0073ae;
}

.filter-fill .filter-page-inner {
    background: rgb(0, 80, 120, 0.9);
}

.filter-fill .filter-btn-active {
    background: #004467;
    border: 1px solid #004467;
}

.filter-fill .filtr-btn:hover {
    background: #004467 !important;
    border: 1px solid #004467 !important;
}

.btn-new-icon.active {
    background: #004467;
}

.help-site-link {
    color: #0073ae;
}

.help-site-link:hover {
    color: #004467;
}

.v2-help-drop-main .panel-default .panel-heading:hover .width96pc {
    color: #004467 !important;
}

.v2-help-drop-main .panel-drop-sections .panel-heading.active .width96pc {
    color: #004467 !important;
}

.accordian-boxed .card-body span.active {
    border: 1px solid #0073ae;
    background: #0073ae;
}

.assesment-form-page input[type="radio"].toggle:checked+label {
    background: #0073ae;
    border-color: #0073ae !important;
}

.assesment-form-page .start-btn {
    background: #0073ae;
    border-color: #0073ae !important;
}

.assesment-form-page .start-btn:hover {
    background: #0073ae !important;
}

.assesment-form-page input[type="radio"].toggle+label:hover {
    background: #0073ae;
    border-color: #0073ae !important;
}

.modal-style-1 .modal-content .modal-header {
    background: #0073ae;
    background: -moz-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: -webkit-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: linear-gradient(to right, #0073ae 0%, #025078 100%);
}

.modal-style-1 .modal-content .modal-header .close {
    background: #0073ae;
}

.dollar-icon-border {
    border: 2px solid #0073ae;
}

.text-light-blue {
    color: #0073ae !important;
}

.view-more-pestel-box {
    color: #0073ae !important;
}

.outline-tag:hover {
    color: #0073ae !important;
    border-color: #0073ae !important;
}

.outline-tag:hover span {
    color: #0073ae !important;
}

.outline-tag.view-more-tag:hover {
    background: #0073ae !important;
}

.view-more-tag {
    color: #0073ae;
}

.menu-drop-tab-top .nav-trash:hover {
    color: #0073ae !important;
}

.login-forget:hover {
    color: #0073ae !important;
}

.forgot-box h3 {
    color: #0073ae;
}

.forgot-link {
    color: #0073ae !important;
}

.btn-reload-otp:hover {
    color: #0073ae !important;
}

.verification-box p a {
    color: #0073ae !important;
}

.active-text {
    color: #0073ae;
}

.accordion-tab .list-group-item.active a {
    color: #0073ae;
}

.star.selected i {
    color: #0073ae;
}

.table-master td a {
    color: #0073ae;
}

.new-search-v2 .form-group.sb-search-open .search-label,
.new-search-v2 .no-js .sb-search .search-label {
    background: #004467;
    border: 1px solid #004467;
}

.filter-select-wrapper>.item {
    color: #0073ae;
    border: 1px solid #0073ae;
}

.filter-select-wrapper>.item>button {
    color: #0073ae;
}

.edit-option-show-inner a:hover .fas {
    color: #0073ae;
}

.md-name {
    color: #0073ae;
}

.edit-bar .module-name-block a:hover {
    color: #004467;
}

.arrow-dropdown a.active {
    color: #0073ae;
}

.edit-bar .arrow-dropdown a:hover::before {
    color: #0073ae;
}

.welcome-screen .modal-dialog .abt-module-description h4 {
    color: #0073ae;
}

.welcome-screen .modal-dialog .modal-content .carousel-indicators li.active {
    background: #0073ae;
}

.radio-btns-new .verygood[type="radio"]:checked+.fa-check-circle:before,
.radio-btns-new .verygood[type="radio"]:checked+label>.fa-check-circle:before {
    color: #0073ae;
}

.radio-btns-new .good[type="radio"]:checked+.fa-check-circle:before,
.radio-btns-new .good[type="radio"]:checked+label>.fa-check-circle:before {
    color: #0073ae;
}

.radio-btns-new .bad[type="radio"]:checked+.fa-check-circle:before,
.radio-btns-new .bad[type="radio"]:checked+label>.fa-check-circle:before {
    color: #0073ae;
}

.vm-box .vm-icon-bx {
    background: -moz-linear-gradient(258deg, #025078 0%, #0073ae 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #025078), color-stop(100%, #0073ae));
    background: -webkit-linear-gradient(258deg, #025078 0%, #0073ae 100%);
    background: -o-linear-gradient(258deg, #025078 0%, #0073ae 100%);
    background: -ms-linear-gradient(258deg, #025078 0%, #0073ae 100%);
    background: linear-gradient(192deg, #025078 0%, #0073ae 100%);
}

.loader-round {
    border-top-color: #0073ae;
}

a.oc-user-box .status {
    background: #0073ae;
}

a.oc-user-box img {
    border-color: #0073ae;
}

.oc-btns-arow {
    color: #0073ae;
    border: 1px solid #0073ae;
}

.oc-btns-arow:hover {
    background: #0073ae;
}

.oc-tab-menu li a.active {
    color: #0073ae;
    border-color: #0073ae;
}

.oc-tab-menu li a.active:hover {
    color: #0073ae;
    border-color: #0073ae;
}

.oc-upload-image-show-pic {
    border-color: #0073ae;
}

.bottom-bordered-blue {
    border-bottom-color: #0073ae;
}

.image-edit-icom-oc:hover {
    background: #0073ae;
}

.issue-list-table-org .container2 input:checked~.checkmark {
    background-color: #0073ae;
    border-color: #0073ae;
}

.issuue-new-style .draft-tag:before {
    border-left-color: #0073ae;
    border-bottom-color: #0073ae;
}

.issuue-new-style .draft-tag:after {
    background: #0073ae;
    border-color: #0073ae;
}

.work-flow-btm-sec-right h3 {
    color: #0073ae;
}

.outline-tag.active {
    background: #fff;
    border-color: #0073ae;
    color: #0073ae;
}

.btn-in-ex-new:hover {
    background: #0073ae !important;
    border-color: #0073ae;
}

.btn-in-ex-new.active {
    background: #0073ae;
    border-color: #0073ae;
}

.outline-tag.active span {
    color: #0073ae !important;
}

.uploaded-files a:hover {
    background: #0073ae;
}

.uploaded-files a.active {
    background: #0073ae;
}

.btn-send-chat {
    border-color: #004467;
}

.chat-btm-icones li a:hover {
    color: #0073ae;
}

.owl-chat-slider .item .btn:hover {
    background: #0073ae !important;
}

.owl-chat-slider .customNavigation .btn {
    color: #0073ae !important;
}

.upload-file-chat span:hover {
    color: #0073ae;
    border-color: #0073ae;
}

.top-bar .notification-menu-hdr .dropdown-list-group li.indication:before {
    background: #0073ae;
    border-color: #ffd0e5;
}

.introjs-helperNumberLayer {
    background: #0073ae;
}

.users-page-list .user-list-lg:hover .user-details h6 {
    color: #0073ae;
}

.users-page-list .user-list-lg:hover .user-details span {
    color: #0073ae;
}

.user-details-show-pop .user-pop-contact li a:hover {
    color: #0073ae;
}

.header-new-popup .popup-link-icon a:hover {
    color: #0073ae;
}

.cantroller-preview a:hover {
    background: #0073ae;
}

.popup-slider-control a:hover {
    color: #0073ae !important;
}

.assessment-user-box h4 {
    background: -webkit-linear-gradient(#0073ae, #025078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.assesment-history-page .result-box-full h3 {
    background: -webkit-linear-gradient(#0073ae, #025078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-divide h3 {
    background: -webkit-linear-gradient(#0073ae, #025078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.assesment-form-page .competency-result-box .progress .progress-bar {
    background: #0073ae;
    background: -moz-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: -webkit-gradient( left top, right top, color-stop(0%, #0073ae), color-stop(100%, #025078));
    background: -webkit-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: -o-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: -ms-linear-gradient(left, #0073ae 0%, #025078 100%);
    background: linear-gradient(to right, #0073ae 0%, #025078 100%);
}

.competency-result-popup .competency-result-box h3 {
    background: -webkit-linear-gradient(#0073ae, #025078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zui-wrapper .zui-table tr.active td:first-child {
    border-left: 5px solid #0073ae;
}

body .main-skill {
    background: rgb(0, 77, 68, 15%) !important;
}

.zui-wrapper .zui-table tr.active td {
    background: rgb(0, 77, 68, 15%) !important;
}

tbody tr:hover {
    background: rgb(0, 77, 68, 8%) !important;
}

.zui-wrapper .zui-table tr:hover td {
    background: rgb(0, 77, 68, 8%) !important;
}

.form-control:focus {
    border-color: #03c8b1;
    box-shadow: 0 0 0 0.2rem rgb(0 77 68 / 25%);
}

.paraia-multi-select>.dropdown>.items>.item:hover {
    background-color: #0073ae;
}

.feedback-icon-main .feedback-icon.active {
    color: #0073ae;
}

.notifications-options .dropdown-toggle:hover {
    background: #0073ae;
}

.notifications-options.show .dropdown-toggle {
    background: #0073ae;
}

.small-close-round {
    color: #0073ae;
}

.paperclip-type-inp [type="file"]+label.btn-1:hover {
    color: #0073ae;
}

.assesment-form-page .assesment-footer {
    background: #004467;
}

.likelihood-risk-table .color-box-risk:hover .count-risk {
    background: #004467;
}

.color-box-risk .count-risk.active {
    background: #004467 !important;
}

.color-box-risk:hover .count-risk {
    background: #004467;
}

.btn-small-green:hover {
    background: #0073ae !important;
    color: #fff !important;
    border-color: #0073ae !important;
}

.my-pagination .ngx-pagination .current {
    background: #004467;
}

.widget .widget-heading h2 span {
    color: #0073ae;
}


/* btn-clr-select starts */

.btn-clr-select .form-control:hover {
    background: #004467;
    color: #fff;
}

.btn-clr-select .form-control option {
    background: #fff;
    color: #33475b;
}

.btn-clr-select .form-control:hover option {
    background: #fff;
    color: #33475b;
}

.btn-clr-select .form-control {
    border-color: #004467;
    color: #004467;
}

.btn-clr-select .plain-select:after {
    color: #004467;
}

.btn-clr-select .plain-select:hover:after {
    color: #fff;
}


/* btn-clr-select end */


/* btn-clr-select-fill starts */

.btn-clr-select-fill .form-control:hover {
    background: #004467;
    color: #fff;
}

.btn-clr-select-fill .form-control option {
    background: #fff;
    color: #33475b;
}

.btn-clr-select-fill .form-control:hover option {
    background: #fff;
    color: #33475b;
}

.btn-clr-select-fill .form-control {
    border-color: #004467;
    background: #004467;
    color: #fff;
}

.btn-clr-select-fill .plain-select:after {
    color: #fff;
}

.btn-clr-select-fill .plain-select:hover:after {
    color: #fff;
}


/* btn-clr-select-fill end */

.activities-nbr {
    background: #004467;
}

.activities-main:before {
    background: #004467;
}

.report-link i.active {
    color: #004467;
}

.report-link a:hover {
    color: #004467 !important;
}

.question-icon {
    color: #004467 !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #004467;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #004467;
}

.custom-control-label::before {
    border-color: #004467;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #f3f8fb, 0 0 0 0.2rem rgb(250 242 218);
}

.round-question h2 {
    background: #004467;
}

.three-dots-dropdown.btn:hover {
    background: transparent !important;
    border-color: transparent !important;
    color: #004467 !important;
}

.three-dots-dropdown.btn:hover i {
    color: #004467 !important;
}

.tmline>li>.tmline-badge {
    border-color: #004467;
    color: #004467;
}

.tmline:before {
    background-color: #004467;
}

.tmline .add-tmlinr .tmline-btn {
    background: #004467;
}

.tmline .add-tmlinr .tmline-btn:hover {
    background: #004467;
}

.btn-tic {
    background: #004467;
}

.organization-multi-stup-form button:hover {
    background: #004467;
}

.progress-round.blue .progress-bar {
    border-color: #004467;
}

.progress-round .progress-value {
    color: #004467;
}

.risk-treatment-btn {
    color: #004467;
}

.indication-label-blue {
    color: #004467 !important;
    border-color: #004467 !important;
}

.divide-style h3 {
    background: -webkit-linear-gradient(#f3f8fb, #004467);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress-circle span {
    color: #004467;
}

.progress-circle.over50 .first50-bar {
    background-color: #004467;
}

.value-bar {
    border-color: #004467;
}

.bg-light-blue {
    background: #025078 !important;
}

.processes-issue {
    background: #eaf8ff;
    border-color: #004467;
}
.tree-btn-loop-workflow .btn:after {
    border-color: #004467;
}
.audit-workflow-user-box:before {
    border-color: #004467;
}
.work-flow-review-approval:after {
    background: #004467;
}
.document-new-tabs .nav-tabs .nav-link.active, .document-new-tabs .nav-tabs .nav-item.show .nav-link {
    color: #004467 !important;
    background: #eaf8ff;
}
.folder-options-main-ul li:hover .folder-menu-link {
    color: #004467;
    background: #eaf8ff;
}

.slider-user-guide-menu .nav .nav-item:first-child .nav-link {
    border-left-color: #004467;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active {
    background: #004467 !important;
    border-color: #004467 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link:before {
    border-left-color: #004467;
}
.slider-user-guide-menu .nav .nav-item .nav-link.active:after {
    border-left-color: #004467 !important;
}
.slider-user-guide-menu .nav .nav-item .nav-link {
    border-color: #004467;
}
.slider-user-guide-menu .nav .nav-item .nav-link:hover {
    color: #004467;
}
.notifications-list li.indication:before {
    background: #004467;
    border-color: #73cfff;
}

.curve-small-tab .nav-tabs .nav-item .nav-link.active {
    border-color: #004467 !important;
    background: #e1f5ff !important;
    color: #004467 !important;
}

.pdf-page-height .pdf-page-section {
    border-color: #004467;
}
.pdf-page-height .maindiv .holder:last-child .pdf-page-section {
    border-color: #004467;
}
.small-tab-icons .nav-tabs .nav-link.active, .small-tab-icons .nav-tabs .nav-item.show .nav-link {
    background: #004467 !important;
}
.form-group .btn-light.bg-primary {
    background: #004467 !important;
}

/* fixed color start */

.btn-red {
    background: #c6001d !important;
    border-color: #c6001d !important;
    color: #fff !important;
}

.btn-red:hover {
    background: #c6001d !important;
    opacity: 0.9;
}

.btn-gray {
    background: #cbd6e2 !important;
    border-color: #cbd6e2 !important;
    color: #33475b !important;
}

.btn-gray:hover {
    background: #cbd6e2 !important;
    border-color: #cbd6e2 !important;
    color: #33475b !important;
    opacity: 0.9;
}

.btn-accept {
    background: #128d4f !important;
    border-color: #128d4f !important;
}

.btn-accept:hover {
    background: #128d4f !important;
    border-color: #128d4f !important;
}

.btn-reject {
    background: #da2002 !important;
    border-color: #da2002 !important;
}

.btn-reject:hover {
    background: #da2002 !important;
    border-color: #da2002 !important;
}

.btn-red {
    background: #c6001d !important;
    border-color: #c6001d !important;
    color: #fff !important;
}

.btn-red:hover {
    background: #c6001d !important;
    opacity: 0.9;
}

.btn-gray {
    background: #cbd6e2 !important;
    border-color: #cbd6e2 !important;
    color: #33475b !important;
}

.btn-gray:hover {
    background: #cbd6e2 !important;
    color: #33475b !important;
    opacity: 0.9;
}

.btn-orange {
    background: #ff8b17 !important;
    border-color: #ff8b17 !important;
    color: #fff !important;
}

.btn-orange:hover {
    background: #ff8b17 !important;
    color: #fff !important;
    opacity: 0.9;
}

.btn-green {
    background: #3db472 !important;
    border-color: #3db472 !important;
    color: #fff !important;
}

.btn-green:hover {
    background: #3db472 !important;
    color: #fff !important;
    opacity: 0.9;
}

.btn-yellow {
    background: #ddc205 !important;
    border-color: #ddc205 !important;
    color: #fff !important;
}

.btn-yellow:hover {
    background: #ddc205 !important;
    color: #fff !important;
    opacity: 0.9;
}

.btn-green-hov {
    border-color: #3db472 !important;
    color: #3db472 !important;
}

.btn-green-hov:hover {
    background: #3db472 !important;
    border-color: #3db472 !important;
    color: #fff !important;
}

.btn-green-hov.active {
    background: #3db472 !important;
    border-color: #3db472 !important;
    color: #fff !important;
}

.btn-red-hov {
    border-color: #c6001d !important;
    color: #c6001d !important;
}

.btn-red-hov:hover {
    background: #c6001d !important;
    border-color: #c6001d !important;
    color: #fff !important;
}

.btn-red-hov.active {
    background: #c6001d !important;
    border-color: #c6001d !important;
    color: #fff !important;
}

.btn-yellow-hov {
    border-color: #ddc205 !important;
    color: #ddc205 !important;
}

.btn-yellow-hov:hover {
    background: #ddc205 !important;
    border-color: #ddc205 !important;
    color: #fff !important;
}

.btn-yellow-hov.active {
    background: #ddc205 !important;
    border-color: #ddc205 !important;
    color: #fff !important;
}

.draft-tag-red {
    color: #ff0505 !important;
    border-color: #ff0505 !important;
}

.draft-tag-red:before {
    border-color: #ff0505 !important;
}

.draft-tag-red:after {
    border-color: #ff0505 !important;
    background: #ff0505 !important;
}

.draft-tag-green {
    color: #22b112 !important;
    border-color: #22b112 !important;
}

.draft-tag-green:before {
    border-color: #22b112 !important;
}

.draft-tag-green:after {
    border-color: #22b112 !important;
    background: #22b112 !important;
}

.draft-tag-yellow {
    color: #ffdf00 !important;
    border-color: #ffdf00 !important;
}

.draft-tag-yellow:before {
    border-color: #ffdf00 !important;
}

.draft-tag-yellow:after {
    border-color: #ffdf00 !important;
    background: #ffdf00 !important;
}

.draft-tag-orange {
    color: #f7941d !important;
    border-color: #f7941d !important;
}

.draft-tag-orange:before {
    border-color: #f7941d !important;
}

.draft-tag-orange:after {
    border-color: #f7941d !important;
    background: #f7941d !important;
}

.draft-tag-violet {
    color: #df20df !important;
    border-color: #df20df !important;
}

.draft-tag-violet:before {
    border-color: #df20df !important;
}

.draft-tag-violet:after {
    border-color: #df20df !important;
    background: #df20df !important;
}

.draft-tag-blue {
    color: #0000ff !important;
    border-color: #0000ff !important;
}

.draft-tag-blue:before {
    border-color: #0000ff !important;
}

.draft-tag-blue:after {
    border-color: #0000ff !important;
    background: #0000ff !important;
}


/* fixed color end */