
<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>


<!------------------- Delete Confirmation Modal End --------------------------->


<div class="widget bg-white" *mobxAutorun>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb cursor-pointer">
            <li class="breadcrumb-item" [routerLink]="['/masters/ms-audit-management']"><a>{{'ms_audit_management' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'ms_audit_statuses' | translate}}</li>
        </ol>
    </nav>
    <!-- Nav tabs -->
    <table class="table-master table"
        *ngIf="MsAuditStatusesMasterStore?.loaded && MsAuditStatusesMasterStore.msAuditStatuses.length > 0">
        <tr>
            <th style="width: 8%; text-align: center;">{{'sl' | translate}}</th>
            <th (click)="sortTitle('title')" class="border-top-0 issue-list-org-tab-three pointer"
                style="width: 84%;"><span>{{'title' | translate}}</span>
                <img _ngcontent-twv-c17=""
                    *ngIf="MsAuditStatusesMasterStore.orderItem=='title'"
                    class="sort-down-pics pl-2" [attr.src]="MsAuditStatusesMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : MsAuditStatusesMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>
            <th style="width: 8%;">{{'status' | translate}}</th>
        </tr>
        <ng-container>
            <tr class="edit-and-delete-main"
                *ngFor="let row of MsAuditStatusesMasterStore?.msAuditStatuses | paginate: {currentPage:MsAuditStatusesMasterStore?.currentPage, itemsPerPage:MsAuditStatusesMasterStore?.itemsPerPage,totalItems:MsAuditStatusesMasterStore?.totalItems};let num = index">
                <td style="text-align: center;">{{(MsAuditStatusesMasterStore?.currentPage - 1) *
                    MsAuditStatusesMasterStore?.itemsPerPage + (num + 1)}}</td>
                <td>{{row.title}} </td>
                <td style="padding:0.75rem">
                    <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                    <!-- <div class="edit-option-show">
                        <a *ngIf="AuthStore.getActivityPermission(1100,'UPDATE_MS_AUDIT_STATUS')"
                            (click)="getMsAuditMode(row.id)" [attr.title]="'edit' | translate"><i
                                class="fas fa-pen pointer"></i></a>
                        <a *ngIf="row.status_id == AppStore.inActiveStatusId && AuthStore.getActivityPermission(1100,'ACTIVATE_MS_AUDIT_STATUS')"
                            [attr.title]="'activate' | translate" (click)="activate(row.id)"><i
                                class="fas fa-check pointer"></i></a>
                        <a *ngIf="row.status_id == AppStore.activeStatusId && AuthStore.getActivityPermission(1100,'DEACTIVATE_MS_AUDIT_STATUS')"
                            [attr.title]="'deactivate' | translate" (click)="deactivate(row.id)"><i
                                class="fas fa-ban pointer"></i></a>
                    </div> -->
                </td>
            </tr>
        </ng-container>
    </table>

    <ng-container *mobxAutorun>
        <div *ngIf="!MsAuditStatusesMasterStore?.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data
            *ngIf="MsAuditStatusesMasterStore.msAuditStatuses.length == 0 && MsAuditStatusesMasterStore.loaded == true">
        </app-no-data>
    </ng-container>

    <div *ngIf="MsAuditStatusesMasterStore.totalItems>MsAuditStatusesMasterStore.itemsPerPage"
        class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate"
                    (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
        </ul>
    </div>
</div>
