<div *ngIf="!StakeholderAnalysisStore.loaded">
  <app-stakeholder-analysis-loader></app-stakeholder-analysis-loader>
</div>


<!-- Stakeholder Analisys -->
<div class="tab-pane" id="stakeholder-analysis"
  *ngIf="StakeholderAnalysisStore.loaded && AuthStore.getActivityPermission(100,'STAKEHOLDER_ANALYSIS_LIST')">


  <div class="row mb-3 in-ex-tab-new-main">
    <div class="col-sm-12">
      <!-- <div class="bg-white p-3 mb-1">
        <h5 class="cmn-head-style mb-0">{{'stakeholders' | translate }}</h5>
     </div> -->



      <div class="in-ex-tab-new">
        <ul class="nav nav-tabs two-tabs-stakeholders">
          <li class="nav-item"
            [ngStyle]="{'width' : StakeholderAnalysisStore.getStakeholderDetails.length == 1 ? '100%' : '50%'}"
            (click)="selectStakeHolderType(stype)" *ngFor="let stype of StakeholderAnalysisStore.getStakeholderDetails">
            <a [ngClass]="stakeholderType?.id == stype.id ? 'nav-link active bg-white' : 'nav-link bg-main'" data-toggle="tab"
              [attr.href]="'#'+stype.id">{{stype?.title}}</a>
          </li>
          <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#internal-new">Internal</a> </li> -->
        </ul>
      </div>

      <div class="tab-content">
        <div [ngClass]="stakeholderType?.id == stypes.id ? 'tab-pane fade active show' : 'tab-pane'"
          *ngFor="let stypes of StakeholderAnalysisStore.getStakeholderDetails" [attr.id]="stypes.id" id="external-new"
          role="tabpanel">

          <!-- common-tab-md starts -->
          <div class="common-tab-md clearfix tab-same-height">
            <div class="tab-common-left-md">
              <div class=" issues-tab"><!-- tab menu start -->
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                  <!-- <li class="nav-item"> <a href="#tab-one101" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false">Customers</a> -->
                  <li class="nav-item" *ngFor="let itemStake of stypes.stakeholders"
                    (click)="selectStakeholder(itemStake)"> <a href="#tab-one101"
                      [ngClass]="stakeholder?.id == itemStake?.id ? 'nav-link active ' : 'nav-link'"
                      data-toggle="tab">{{itemStake.title}}</a> </li>
                  <!-- </li> -->

                </ul>
              </div><!-- tab menu end -->
            </div>


            <div class="tab-common-left-content-m mt-tab-top">
              <div class="tab-content widg-padding-cmn bg-white cmn-bdr min-height-74">
                <div class="tab-pane fade active show" id="tab-one101" role="tabpanel">

                  <div>
                    <h5 class="cmn-head-style">{{"needs_expectations" | translate }} - {{stakeholder?.title}}</h5>
                    <ul class="arrowlist p-0 mt-0">
                      <!-- <li class="nav-item" *ngFor="let itemStake of stypes.stakeholders" (click) = "selectStakeholder(itemStake)"> <a href="tab-one101" [ngClass]="stakeholder?.id == itemStake?.id ? 'nav-link active' : 'nav-link'"
                              data-toggle="tab">{{itemStake.title}}</a> </li> -->
                      <li *ngFor="let needs of StakeholderAnalysisStore.getNeedsExpectations" style="cursor: default">
                        {{needs.need_and_expectation_title}}</li>
                    </ul>
                  </div>

                </div>

                <!-- <div class="tab-pane fade" id="tab-two102" role="tabpanel">
                        222
                      </div>
                      <div class="tab-pane fade" id="tab-three103" role="tabpanel">
                        333
                      </div>
                      <div class="tab-pane fade" id="tab-three104" role="tabpanel">
                        444
                      </div>
                      <div class="tab-pane fade" id="tab-three105" role="tabpanel">
                        555
                      </div> -->
              </div>
            </div>
          </div>
          <!-- common-tab-md end -->

        </div>
        <ng-container *mobxAutorun>
          <app-no-data
            *ngIf="StakeholderAnalysisStore.loaded && StakeholderAnalysisStore.getStakeholderDetails.length == 0"></app-no-data>
        </ng-container>
      </div>







    </div>
  </div>


</div>