

<main *ngIf="strategy_dashboard_loader" class="mt-3 acl-page cpf-space-adjust db-small-space-boxes">
    <div class="container-fluid">





        <div class="widget">

            <div class="row sm-row">
                <div class="col-lg-7 col-sm-12 sm-col">
                    <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow db-md-screen-center strategy-inner-db-box-one">
                        <div class="strategy-inner-map-one text-center" *ngIf="!achivedVsTarget">
                            <div style="width: 100%;" id="gaugechartdiv"></div>
                            <div class="mt-3">
                                <h5 class="cmn-head-style mb-1"><span class="font-normal">{{'achieved' | translate}}</span> {{StrategyDaashboardStore.achivedVsTarget?.strategy_profile_achieved_score ? StrategyDaashboardStore.achivedVsTarget?.strategy_profile_achieved_score : '0' }}%</h5>
                                <!-- <h5 class="cmn-head-style mb-0 font-normal text-red">(12 days remaining)</h5> -->
                            </div>
                        </div>
                          <div class="dpt-pic-ceo db-md-screen-center" *ngIf="achivedVsTarget" style="min-height: 406px;">
                            <app-no-chart-data [source]="budgetvsActualPieChart">
                            </app-no-chart-data>
                         </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 sm-col">
                        <div class="row sm-row">
                            <div class="col-lg-6 col-sm-6 col-6 sm-col">
                                <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow strategy-inner-db-box-two db-md-screen-center">
                                    <div class="text-center">
                                        <h3 class="big-text-three">{{StrategyDaashboardStore.profileCounts?.strategy_profile_focus_area_count}}</h3>
                                        <p class="mb-0">{{'focus_area' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-6 sm-col">
                                <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow strategy-inner-db-box-two db-md-screen-center">
                                    <div class="text-center">
                                        <h3 class="big-text-three">{{StrategyDaashboardStore.profileCounts?.strategy_profile_objective_count}}</h3>
                                        <p class="mb-0">{{'objectives' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row sm-row">
                            <div class="col-sm-12 sm-col">
                                <div class="bg-white widg-padding-cmn-small btm-space-10 db-shadow db-md-screen-center strategy-inner-db-box-three">
                                    <div class="w-100">
                                        <div class="text-center cmn-bdr-bottom mb-3 pb-3">
                                            <h3 class="big-text-three">{{StrategyDaashboardStore.profileCounts?.strategy_intiative_action_plans}}</h3>
                                            <p class="mb-0">{{'action_plans' | translate}}</p>
                                        </div>

                                        <div class="row sm-row">
                                            <div class="col-lg-6 col-sm-6 col-6 sm-col db-md-screen-center cmn-bdr-right">
                                                <div class="text-left">
                                                    <h3 class="big-text-one">{{StrategyDaashboardStore.profileCounts?.strategy_intiative_action_plans_new}}</h3>
                                                    <p class="dot-div-new dot-red mb-0">{{'new' | translate}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-6 sm-col db-md-screen-center cmn-bdr-right">
                                                <div class="text-left">
                                                    <h3 class="big-text-one">{{StrategyDaashboardStore.profileCounts?.strategy_intiative_action_plans_over_due}}</h3>
                                                    <p class="dot-div-new dot-yellow mb-0">{{'overdue' | translate}}</p>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-4 col-sm-6 col-6 sm-col db-md-screen-center ">
                                                <div class="text-left">
                                                    <h3 class="big-text-one">{{StrategyDaashboardStore.profileCounts?.strategy_intiative_action_plans_closed}}</h3>
                                                    <p class="dot-div-new dot-green mb-0">{{'closed' | translate}}</p>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row sm-row">
                <div class="col-sm-12 sm-col">
                    <div class="bg-white widg-padding-cmn db-shadow">
                        <h5 class="cmn-head-style">{{'focus_areas' | translate}}</h5>

                        <!-- common-tab-md starts -->
                          <div class="common-tab-md clearfix db-big-tab-left">
                            <div class="tab-common-left-md">
                              <div class=" issues-tab"><!-- tab menu start -->
                                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                                  <li class="nav-item" (click) = "selectedFocusArea(i,f.id)" *ngFor="let f of StrategyDaashboardStore.induvalProfile?.focus_area;let i = index"> <a  [ngClass]="selectedKpiItem == i ? 'nav-link  active show' : 'nav-link'" data-toggle="tab" role="tab" aria-controls="lorem" aria-selected="false">
                                    <span class="d-flex align-items-center">
                                        <span class="w-100 mr-2">{{f.title}}</span>
                                        <span class="ongoing-sec-left db-md-screen-center bold">
                                            {{f.score ? f.score : '0'}}%
                                        </span>
                                      </span>
                                      </a>
                                  </li>
                                </ul>
                              </div><!-- tab menu end -->
                            </div>
                    
                    
                            <div class="tab-common-left-content-m">
                              <div class="tab-content widg-padding-cmn bg-white cmn-bdr min-height-440">
                                <div *ngFor="let f of StrategyDaashboardStore.induvalProfile?.focus_area;let i = index"  [ngClass]="selectedKpiItem == i ? 'tab-pane fade active show' : 'tab-pane fade'" id="tab-one" role="tabpanel">
                                   <div class="audit-form-table w-100 not-fixed-table">
                                       <!-- <p class="ml-3" >NA</p> -->
                                       <ng-container *mobxAutorun>
                 
                                        <app-no-data-list [source] = "criteriaEmptyList" *ngIf="!f?.objectives || f?.objectives?.length == 0"></app-no-data-list>
                                    </ng-container>
                                        <table *ngIf="f?.objectives?.length > 0" class="table table-bordered ordinary-table audit-page-table table-scroll">
                                            <tbody>
                                                <tr>
                                                    <th class="border-top-0" width="30%">{{'objectives' | translate}}</th>
                                                    <th class="border-top-0" width="70%">{{'initiatives' | translate}}</th>
                                                </tr>
                                                <tr *ngFor="let o of f?.objectives;let item = index">
                                                    <td>

                                                        <div class="number-big">
                                                            {{o.score ? o.score : '0'}}%
                                                        </div>
                                                        <div>{{o.title}}</div>
                                                    </td>
                                                    <td>
                                                        <div *ngFor="let i of objectives(o?.initiatives);let num1 = index" class="d-flex align-items-center cmn-bdr-bottom pb-2 mb-3">
                                                            <div class="ongoing-sec-left db-md-screen-center bold" style="width: 57px;">
                                                                {{i.score ? i.score : '0'}}%
                                                            </div>
                                                            <div class="w-100 ml-2 mr-2">
                                                                {{i.title}}
                                                            </div>
                                                            <div style="width: 480px;">
                                                                <div class="row sm-row">
                                                                    <div class="col-sm-4 col-6 sm-col">
                                                                        <div class="text-left">
                                                                            <h5 class="mb-0">{{i.new_action_plans_count }}</h5>
                                                                            <p class="dot-div-new dot-red mb-0">{{'new' | translate}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-6 sm-col">
                                                                        <div class="text-left">
                                                                            <h5 class="mb-0">{{i.over_due_action_plans_count}}</h5>
                                                                            <p class="dot-div-new dot-yellow mb-0">{{'overdue' | translate}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="col-sm-4 col-6 sm-col">
                                                                        <div class="text-left">
                                                                            <h5 class="mb-0">{{i.closed_action_plans_count}}</h5>
                                                                            <p class="dot-div-new dot-green mb-0">{{'close' | translate}}</p>
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="o?.initiatives?.length > 3" class="text-center">
                                                            <a (click)="openMoreInitiativeData(o.initiatives)" class="view-more-pestel-box d-inline-block">{{'view_more' | translate}}</a>
                                                        </div>
                                                        <div *ngIf="o?.initiatives?.length == 0" class="text-center">
                                                            {{AppStore.noContentText}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                
                                            </tbody>
                                       </table>

                                     </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- common-tab-md end -->

                    </div>
                </div>
            </div>










        </div>

    </div>
</main>

<ng-container *mobxAutorun>
    <div *ngIf="!strategy_dashboard_loader">
      <app-increase-share-of-market></app-increase-share-of-market>
    </div>
</ng-container>

  <!-- more initiative popup -->
  <div class="modal modal-style-1 popup-full-width fade" id="add-milestone-popup" data-keyboard="false"
  data-backdrop="static" #initiativeMore>
 <app-initiative-more-modal [source] = "initiativeObject" *ngIf = "initiativeObject.type"></app-initiative-more-modal>
</div>
