
<div class="small-step-form-popup small-step-form-sm pagination-hide-form">
<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <!-- Modal Header -->
        <!-- <div class="modal-header">
            <h4 class="modal-title" >{{'start_audit' | translate}}</h4>
        </div> -->
        <!-- Modal body -->
        <div class="modal-body form-body">
            <div class="step-form-small">
            <form id="msform" [formGroup]="form">
            
                <!-- fieldsets -->
                <fieldset *ngIf="selctedField==1">
                    

                    <div class="mb-4 step-form-small-ch">

                           <div class="w-100">
                              <div class="issuue-new-style p-0">
                                  <div class="issue-top-sec">
                                      <div class="clearfix">
                                          <h5 class="d-inline-block cmn-head-style label-tag-style text-20 mb-3">{{MsAuditSchedulesStore?.individualMsAuditSchedulesDetails?.title}}</h5>
                                      </div>
                                      <!-- <div class="d-flex align-items-center mb-3">
                                       <div style="width: 150px;">
                                          <div class="progress progress-h-10">
                                             <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
                                         </div>
                                       </div>
                                       <div class="w-50">
                                          <p class="mb-0 text-12 ml-3">01 of 05 Answered</p>
                                       </div>
                                      </div> -->
                                      
                                      <!-- <div class="clearfix">
                                         <p class="label-tag-style mb-2 cmn-bdr widg-padding-cmn-small pt-2 pb-2 text-18"><i class="fas fa-calendar-alt date-pics-two text-18"></i>  Jan 20, 2020 - Jan 30, 2020<a class="ml-3 text-13"><i class="fas fa-pen"></i></a></p>
                                       </div> -->

                                       <div class="row">
                                          <!-- <div class="col-sm-6">
                                               <div class="form-group">
                                                   <label for="name">Start Date/Time</label>
                                                   <div class="input-group date-picker cal-time">
                                                       <div class="input-group date-picker">
                                                           <input class="form-control cal-time3" placeholder="MM/DD/YY" value="17:04 08/17/2022">
                                                       </div>
                                                   </div>
                                               </div>
                                           </div> -->

                                           <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="name">{{'start_date_time' | translate}}<span
                                                        class="form-error">*</span></label>
                                                <div class="input-group">
                                                    <input class="form-control" 
                                                        formControlName="start_date" 
                                                        [owlDateTime]="dt1"
                                                        [owlDateTimeTrigger]="dt1"
                                                        [placeholder]="'open_plan_date_time' | translate" 
                                                        
                                                        style="background-color: white;">
                                                    <owl-date-time [hour12Timer]="true" #dt1></owl-date-time>
                                                    <div class="input-group-append">
                                                        <button [owlDateTimeTrigger]="dt1" class="btn btn-outline-secondary calendar"
                                                            type="button"><i class="fas fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                                <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.start_date">
                                                    {{formErrors.start_date}}
                                                </p>
                    
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="name">{{'end_date_time' | translate}}<span
                                                        class="form-error">*</span></label>
                                                <div class="input-group">
                                                    <input class="form-control" 
                                                        formControlName="end_date" 
                                                        [owlDateTime]="dt2"
                                                        [owlDateTimeTrigger]="dt2"
                                                        [placeholder]="'close_plan_date_time' | translate"  
                                                        [min]="minEndDateTimeValidator()"
                                                        [max]="maxDate"
                                                        style="background-color: white;">
                                                    <owl-date-time [hour12Timer]="true" #dt2></owl-date-time>
                                                    <div class="input-group-append">
                                                        <button [owlDateTimeTrigger]="dt2" class="btn btn-outline-secondary calendar"
                                                            type="button"><i class="fas fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                                <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.end_date">
                                                    {{formErrors.end_date}}
                                                </p>
                    
                                            </div>
                                        </div>
                                       </div>
                                       <div class="w-100 edit-and-delete-main">
                                        <div class="edit-option-show" style="margin: 15px -15px 0 0;">
                                            <a (click)="addModelAuditor()"><i class="fas fa-plus"></i></a>
                                         </div>

                                       <!-- <div class="issuue-new-style p-0">
                                        <div class="issue-top-sec">
                                            <div class="clearfix"> -->
                                                <h5 class="text-14">{{'auditor' | translate}} </h5>
                                            <!-- </div> -->
                                            <!-- <div class="" >
                                             <a (click)="addModelAuditee()"><i class="fas fa-plus"></i></a>
                                            </div> -->
                                          <!-- <div class="d-flex align-items-center mb-3">
                                             <div style="width: 150px;">
                                                <div class="progress progress-h-10">
                                                   <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                               </div>
                                             </div>
                                             <div class="w-50">
                                                <p class="mb-0 text-12 ml-3">03 of 05 Answered</p>
                                             </div>
                                         </div> -->
                                        <!-- </div>
                                    </div> -->

                                       <div class="row">
                                        <div class="col-lg-4 col-sm-6" *ngFor="let item of auditors">
                                           <div class="cmn-bdr border-radius widg-padding-cmn-small mb-3 pt-1 pb-1">
                                              <div class="d-flex flex-row user-list-sm align-items-center user-box-right-togle">
                                                 <div class="rounded-sliders-check text-center">
                                                       <label class="switch-check">
                                                       <input type="checkbox" (change)="onChangeAuditors($event,item)" [checked]="item?.is_present">
                                                       <span class="slider round"></span>
                                                       </label>
                                                    </div>
                                                  <img *ngIf="item?.user?.image_token"
                                                    [attr.src]="item?.user?.image_token?createImageUrl('user-profile-picture',item?.user?.image_token):'/assets/images/user-demo.png'"
                                                    width="30px" height="30px" class="rounded-circle rounde-hov">
                                                  <img *ngIf="!item?.user?.image_token"
                                                    [attr.src]="item?.user?.image?.token?createImageUrl('user-profile-picture',item?.user?.image?.token):'/assets/images/user-demo.png'"
                                                    width="30px" height="30px" class="rounded-circle rounde-hov">
                                                 <div>
                                                    <h6>{{item?.user?.first_name}} {{item?.user?.last_name}}</h6>
                                                    <span>{{item?.user?.designation?.title?item?.user?.designation?.title:AppStore.noContentText}}</span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        
                                       
                                       
                                        
                                        
                                     </div>
                                    </div>

                                     <div class="w-100 edit-and-delete-main">
                                        <div class="edit-option-show" style="margin: 15px -15px 0 0;">
                                            <a (click)="addModelAuditee()"><i class="fas fa-plus"></i></a>
                                         </div>
                                       <!-- <div class="issuue-new-style p-0">
                                           <div class="issue-top-sec">
                                               <div class="clearfix"> -->
                                                   <h5 class="text-14">{{'auditee' | translate}} </h5>
                                               <!-- </div> -->
                                               <!-- <div class="" >
                                                <a (click)="addModelAuditee()"><i class="fas fa-plus"></i></a>
                                               </div> -->
                                             <!-- <div class="d-flex align-items-center mb-3">
                                                <div style="width: 150px;">
                                                   <div class="progress progress-h-10">
                                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                                  </div>
                                                </div>
                                                <div class="w-50">
                                                   <p class="mb-0 text-12 ml-3">03 of 05 Answered</p>
                                                </div>
                                            </div> -->
                                           <!-- </div>
                                       </div> -->
            
                                       
            
                                       <div class="row">
                                        <div class="col-lg-4 col-sm-6" *ngFor="let item of auditees">
                                            <div class="cmn-bdr border-radius widg-padding-cmn-small mb-3 pt-1 pb-1">
                                               <div class="d-flex flex-row user-list-sm align-items-center user-box-right-togle">
                                                  <div class="rounded-sliders-check text-center">
                                                        <label class="switch-check">
                                                        <input type="checkbox" (change)="onChangeAuditees($event,item)" 
                                                         [checked]="item?.is_present">
                                                        <span class="slider round"></span>
                                                        </label>
                                                     </div>
                                                   <img *ngIf="item?.user?.image_token"
                                                     [attr.src]="item?.user?.image_token?createImageUrl('user-profile-picture',item?.user?.image_token):'/assets/images/user-demo.png'"
                                                     width="30px" height="30px" class="rounded-circle rounde-hov">
                                                   <img *ngIf="!item?.user?.image_token"
                                                     [attr.src]="item?.user?.image?.token?createImageUrl('user-profile-picture',item?.user?.image?.token):'/assets/images/user-demo.png'"
                                                     width="30px" height="30px" class="rounded-circle rounde-hov">
                                                  <div>
                                                     <h6>{{item?.user?.first_name}} {{item?.user?.last_name}}</h6>
                                                     <span>{{item?.user?.designation?.title?item?.user?.designation?.title:item?.user?.designation_title}}</span>
                                                  </div>
                                               </div>
                                            </div>
                                         </div>
                                          
                                         
                                          
                                         
                                          
                                       </div>
            
                                    </div>


                                  </div>
                              </div>

                           </div>




                    </div>




                    <!-- <input [disabled]="AppStore.loading" 
                    (click)="cancel()" type="button" name="cancel"  class="cancel action-button" value="Cancel" />
                   
                    <input [disabled]="AppStore.loading" 
                    type="submit" (click)="save()" name="submit" class="submit action-button btn-active" value="Done" /> -->

                    <p class="pt-1" style="color: red;" *ngIf="!compareAuditorAndAuditee">
                        {{'error_auditees_different' | translate}}</p>
                    <button type="submit" class="btn btn-active" (click)="save()"
                    [disabled]="AppStore.loading">{{ AppStore.loading ?
                    getButtonText('loading') : getButtonText('save_close') }}</button>
                <button [disabled]="AppStore.loading" type="button" data-toggle="modal" data-target="#error-message" class="btn"
                    (click)="cancel()">{{ AppStore.loading ? getButtonText('loading') :
                    getButtonText('cancel') }}</button>

                
                </fieldset>
                <fieldset *ngIf="selctedField==2">
                
                    <div class="mb-4 step-form-small-ch">
                        <div class="w-100">
                           <div class="issuue-new-style p-0">
                               <div class="issue-top-sec">
                                   <div class="clearfix">
                                       <h5 class="d-inline-block cmn-head-style label-tag-style text-20 mb-3">{{'choose_present_auditors' | translate}} </h5>
                                   </div>
                                 
                               </div>
                               <!-- <div class="d-flex align-items-center mb-3">
                                 <div style="width: 150px;">
                                    <div class="progress progress-h-10">
                                       <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:25%"></div>
                                   </div>
                                 </div>
                                 <div class="w-50">
                                    <p class="mb-0 text-12 ml-3">02 of 05 Answered</p>
                                 </div>
                                </div> -->
                           </div>

                           

                          

                        </div>

                    </div>



                    <input (click)="cancel()" type="button" name="cancel"  class="cancel action-button" value="Cancel" />
                    <input (click)="previous()" type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" (click)="next()" name="next" class="next action-button btn-active" value="Next" />
                </fieldset>
                <fieldset *ngIf="selctedField==3">
                    

                    <div class="mb-4 step-form-small-ch">
                        
                        <div class="w-100 edit-and-delete-main">
                            <div class="edit-option-show" style="margin: 15px -15px 0 0;">
                                <a (click)="addModelAuditee()"><i class="fas fa-plus"></i></a>
                             </div>
                           <div class="issuue-new-style p-0">
                               <div class="issue-top-sec">
                                   <div class="clearfix">
                                       <h5 class="d-inline-block cmn-head-style label-tag-style text-20 mb-3">{{'choose_present_auditee' | translate}} </h5>
                                   </div>
                                   <!-- <div class="" >
                                    <a (click)="addModelAuditee()"><i class="fas fa-plus"></i></a>
                                   </div> -->
                                 <!-- <div class="d-flex align-items-center mb-3">
                                    <div style="width: 150px;">
                                       <div class="progress progress-h-10">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                      </div>
                                    </div>
                                    <div class="w-50">
                                       <p class="mb-0 text-12 ml-3">03 of 05 Answered</p>
                                    </div>
                                </div> -->
                               </div>
                           </div>

                           

                           <div class="row">
                            <div class="col-lg-4 col-sm-6" *ngFor="let item of auditees">
                                <div class="cmn-bdr border-radius widg-padding-cmn-small mb-3 pt-1 pb-1">
                                   <div class="d-flex flex-row user-list-sm align-items-center user-box-right-togle">
                                      <div class="rounded-sliders-check text-center">
                                            <label class="switch-check">
                                            <input type="checkbox" (change)="onChangeAuditees($event,item)" 
                                             [checked]="item?.is_present">
                                            <span class="slider round"></span>
                                            </label>
                                         </div>
                                       <img *ngIf="item?.user?.image_token"
                                         [attr.src]="item?.user?.image_token?createImageUrl('user-profile-picture',item?.user?.image_token):'/assets/images/user-demo.png'"
                                         width="30px" height="30px" class="rounded-circle rounde-hov">
                                       <img *ngIf="!item?.user?.image_token"
                                         [attr.src]="item?.user?.image?.token?createImageUrl('user-profile-picture',item?.user?.image?.token):'/assets/images/user-demo.png'"
                                         width="30px" height="30px" class="rounded-circle rounde-hov">
                                      <div>
                                         <h6>{{item?.user?.first_name}} {{item?.user?.last_name}}</h6>
                                         <span>{{item?.user?.designation?.title?item?.user?.designation?.title:item?.user?.designation_title}}</span>
                                      </div>
                                   </div>
                                </div>
                             </div>
                              
                             
                              
                             
                              
                           </div>

                        </div>
                    </div>


                    <input (click)="cancel()" type="button" name="cancel"  class="cancel action-button" value="Cancel" />
                    <input (click)="previous()" type="button" name="previous" class="previous action-button" value="Previous" />
                    <input (click)="next()" type="button" name="next" class="next action-button btn-active" value="Next" />
                </fieldset>
        
                
                <fieldset *ngIf="selctedField==4">
                    

                    <div class="mb-4 step-form-small-ch">
                        <div class="w-100">

                           <!-- <div class="line-tab">
                              <div class="row">
                                 <div class="col-md-12">
                                     <ul class="nav nav-tabs float-left">
                                         <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#audit-menu1">Audit Detail </a> </li>
                                         <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#audit-menu2">Check List</a> </li>
                                     </ul>
                                 </div>
                             </div>
                          </div> -->

                          <!-- Tab panes -->
                          <div class="tab-content tab-content-body pt-3">
                              <div class="tab-pane active show" id="audit-menu1">
                                  
                                  <div class="issuue-new-style p-0">
                              
                                     <div class="issue-top-sec">
                                         <div class="clearfix">
                                             <h5 class="d-inline-block cmn-head-style label-tag-style text-20"><span class="issue-smoal-head-text bold text-20">#AL0003</span> <span>Network Department</span></h5>
                                         </div>
                                         <div class="clearfix">
                                            <p class="label-tag-style mb-3"><i class="fas fa-calendar-alt date-pics-two"></i> 
                                                {{form.value.start_date | date:
                                                    OrganizationGeneralSettingsStore?.organizationSettings?.date_time_format}} - 
                                                {{form.value.end_date | date:
                                                OrganizationGeneralSettingsStore?.organizationSettings?.date_time_format}}
                                            </p>
                                          </div>
                                         <!-- <p>Auditor/Lead Auditor with experience in auditing of similar organizations. Facility management, sales and marketing. The signification of “sufficient” may be understood as 10 years of professional experience in the considered technical sector and 5 years of experience in auditing as lead auditor. </p> -->
                                     </div>

                                     <div class="row">
                                       <!-- <div class="col-sm-12">
                                          <h6>Executive Checklist</h6>
                                          <p>Not Avaliable</p>
                                       </div> -->
                                       <div class="col-sm-12">
                                          <h6>{{'auditor'| translate}}</h6>
                                          <div class="row">
                                             <div class="col-lg-4 col-sm-12" *ngFor="let item of auditors">
                                                <div class="label-and-user-pic">
                                                   <div class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg align-items-center">
                                                      <div class="user-available-option">

                                                       <img *ngIf="item?.user?.image_token" 
                                                       [attr.src]="item?.user?.image_token?createImageUrl('user-profile-picture',item?.user?.image_token):'/assets/images/user-demo.png'"
                                                       class="rounded-circle rounde-hov " 
                                                       width="40px" height="40px">

                                                       <img *ngIf="!item?.user?.image_token"
                                                       [attr.src]="item?.user?.image?.token?createImageUrl('user-profile-picture',item?.user?.image?.token):'/assets/images/user-demo.png'"
                                                       width="40px" height="40px" class="rounded-circle rounde-hov " >

                                                       <span class="user-new-active space-adjust " [ngClass]="{'online':item?.is_present, 'offline' : !item?.is_present }">
                                                            <i class="far fa-times-circle"></i>
                                                            <i class="far fa-check-circle"></i>
                                                        </span>
                                                    </div>
                                                       
                                                       <div class=" new-size-text">
                                                           <h6>{{item?.user?.first_name}} {{item?.user?.last_name}}</h6>
                                                           <span>{{item?.user?.designation?.title?item?.user?.designation?.title:AppStore.noContentText}}</span>
                                                       </div>
                                                   </div>
                                               </div>
                                             </div>
                                            
                                            
                                            
                                            
                                             
                                          </div>
                                       </div>
                                       <div class="col-sm-12">
                                          <h6>{{'auditee'| translate}}</h6>
                                          <div class="row">
                                             <div class="col-lg-4 col-sm-12" *ngFor="let item of auditees">
                                                <div class="label-and-user-pic">
                                                   <div class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg align-items-center">
                                                      <div class="user-available-option">

                                                       <img *ngIf="item?.user?.image_token" 
                                                       [attr.src]="item?.user?.image_token?createImageUrl('user-profile-picture',item?.user?.image_token):'/assets/images/user-demo.png'"
                                                       class="rounded-circle  rounde-hov " 
                                                       width="40px" height="40px">

                                                       <img *ngIf="!item?.user?.image_token"
                                                       [attr.src]="item?.user?.image?.token?createImageUrl('user-profile-picture',item?.user?.image?.token):'/assets/images/user-demo.png'"
                                                       width="40px" height="40px" class="rounded-circle  " >

                                                       <span class="user-new-active space-adjust " [ngClass]="{'online':item?.is_present, 'offline' : !item?.is_present }">
                                                            <i class="far fa-times-circle"></i>
                                                            <i class="far fa-check-circle"></i>
                                                        </span>
                                                    </div>
                                                       
                                                       <div class=" new-size-text">
                                                           <h6>{{item?.user?.first_name}} {{item?.user?.last_name}}</h6>
                                                           <span>{{item?.user?.designation?.title?item?.user?.designation?.title:item?.user?.designation_title}}</span>
                                                       </div>
                                                   </div>
                                               </div>
                                             </div>
                                             
                                             
                                             
                                            
                                             
                                          </div>
                                       </div>
                                       
                                     </div>


                                 </div>

                              </div>
                           </div>
                           <!-- Tab panes end -->


                           
                        </div>

                     </div>


                    
                    <input [disabled]="AppStore.loading" (click)="cancel()" type="button" name="cancel"  class="cancel action-button" value="Cancel" />
                    <input [disabled]="AppStore.loading" (click)="previous()" type="button" name="previous" class="previous action-button" value="Previous" />
                    <input [disabled]="AppStore.loading" type="submit" (click)="save()" name="submit" class="submit action-button btn-active" value="Done" />
                </fieldset>
            </form>
        <!-- </div> -->
        </div>
        <!-- Modal footer -->
    </div>
</div>
</div>

<div class="modal modal-style-1 popup-full-width fade" #auditeesAdd>
    <app-add-auditees [source]="auditees" *ngIf="auditees.length">
    </app-add-auditees>
</div>

<div class="modal modal-style-1 popup-full-width fade" #auditorAdd>
    <app-add-auditor [source]="auditors" *ngIf="auditors.length">
    </app-add-auditor>
</div>