<!-- <main class="mt-3"> -->
    <div class="container-fluid">

       <div class="widget">
          <div class="row">
             <div class="col-lg-12 col-sm-12 padding-right-0">
                <div class="bg-white widg-padding-cmn">

                   <div class="row">
                      <div class="col-lg-6 col-sm-12 padding-right-0">
                         <div class="min-height-440">

                            <div class="loder-section mb-1">
                               <!-- loder head&text starts -->
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row">

                                           <div class="ph-col-4 big" style="height: 22px;"></div>
                                           <div class="ph-col-8 big empty" style="height: 22px;"></div>
                                           <div class="ph-col-6 big" style="height: 15px;"></div>
                                           <div class="ph-col-6 big empty" style="height: 15px;"></div>

                                           <div class="ph-col-2 big"></div>
                                           <div class="ph-col-10 empty big"></div>

                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-4"></div>
                                           <div class="ph-col-4 empty"></div>

                                        </div>
                                     </div>
                                  </div>


                               </div>
                            </div>

                            <div class="row">
                               <div class="col-lg-4 col-sm-6">
                                  <div class="loder-section user-profile-sec">
                                     <div class="loder-section-inner">
                                        <div class="ph-item">
                                           <div class="ph-col-12">
                                              <div class="ph-row mb-0">
                                                 <div class="ph-col-6 big"></div>
                                                 <div class="ph-col-6 empty big"></div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>

                                  <div class="loder-section pb-3">
                                     <!-- loder user starts -->
                                     <div class="loder-section-inner">
                                        <div class="ph-item">
                                           <div class="ph-col-1 pr-0 pt-1">

                                              <div class="p-0 mr-2 mb-2 user-pic-round rounded-circle"
                                                 style="width: 40px; height: 40px;"></div>
                                           </div>
                                           <div>
                                              <div class="ph-row pt-2 mb-0">

                                                 <div class="ph-col-10 md"></div>
                                                 <div class="ph-col-2 md empty"></div>
                                                 <div class="ph-col-4 mb-0"></div>
                                                 <div class="ph-col-8 empty mb-0"></div>
                                              </div>
                                           </div>
                                        </div>

                                     </div>
                                  </div><!-- loder user end -->
                               </div>

                            </div>




                         </div>

                         <hr>
                         <div class="row">
                            <div class="col-lg-6 col-sm-6">
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-1 pr-0 pt-1">

                                        <div class="p-0 mr-2 mb-2 user-pic-round rounded-circle"
                                           style="width: 40px; height: 40px;"></div>
                                     </div>
                                     <div>
                                        <div class="ph-row pt-2 mb-3">
                                           <div class="ph-col-6 md"></div>
                                           <div class="ph-col-6 md empty"></div>
                                           <div class="ph-col-10 mb-0"></div>
                                           <div class="ph-col-2 empty mb-0"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>

                      <div class="col-lg-6 col-sm-12">
                         <div class=" p-3 mb-3">








                            <div class="loder-section-inner">
                               <div class="ph-item">
                                  <div class="ph-col-12">
                                     <div class="ph-row">
                                        <div class="ph-col-4 big"></div>
                                        <div class="ph-col-8 empty big"></div>


                                     </div>

                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-4"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-6"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-8"></div>


                                     </div>




                                  </div>
                               </div>
                               <div class="ph-item">
                                  <div class="ph-col-12">
                                     <div class="ph-row">
                                        <div class="ph-col-4 big"></div>
                                        <div class="ph-col-8 empty big"></div>


                                     </div>

                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-4"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-6"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-8"></div>


                                     </div>

                                  </div>
                               </div>

                               <div class="ph-item">
                                  <div class="ph-col-12">
                                     <div class="ph-row">
                                        <div class="ph-col-4 big"></div>
                                        <div class="ph-col-6 empty big"></div>


                                     </div>

                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-4"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-6"></div>


                                     </div>
                                     <div class="ph-row">

                                        <div class="mr-3" style="width: 15px;"></div>
                                        <div class="ph-col-8"></div>


                                     </div>

                                  </div>
                               </div>




                               <div class="loder-section user-profile-sec mt-3">
                                  <!-- loder head&text single starts -->
                                  <div class="loder-section-inner">
                                     <div class="ph-item">
                                        <div class="ph-col-12">
                                           <div class="ph-row">

                                              <div class="ph-col-1 big"></div>
                                              <div class="ph-col-3 big"></div>
                                              <div class="ph-col-6 empty big"></div>
                                              <div class="ph-col-2 empty big"></div>

                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div><!-- loder head&text single end -->

                               <div class="loder-section picher-loader-sec">
                                  <!-- loder pic starts -->
                                  <div class="loder-section-inner">
                                     <div class="ph-item pb-3 pl-0">
                                        <div class="ph-col-4">
                                           <div class="ph-picture-md mb-0"></div>
                                        </div>
                                        <div class="ph-col-4">
                                           <div class="ph-picture-md mb-0"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>


                            </div>

                         </div>
                      </div>
                   </div>


                </div>
             </div>

          </div>
       </div>








    </div>
 <!-- </main> -->
