<div class="row sm-row db-small-space-boxes" *mobxAutorun>
   <ng-container *ngIf="ControlAssessmentDashboardStore.loaded">
    <div class="col-xl-5 col-lg-12 col-sm-12 sm-col">
       <div class="bg-white btm-space-10 ceo-db-first-box-one db-shadow">
          <div class="row align-items-center">
             <div class="col-md-5 border-right">
                <div (click)="goToAssessment();" class="text-center cursor-pointer">
                   <h5 class="mb-0">{{'total_controls'| translate}}</h5>
                   <h3 class="big-text-four">
                     {{ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_count?ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_count:'0'}}</h3>
                </div>
             </div>
             <div class="col-md-7 text-center">
                <div class="clearfix round-type-status-main-bg">
                   <div class="round-type-status-main">
                      <div class="open-close-status-db d-flex align-items-center status-open">
                         <div class="round-type-status-value db-light-light-color">
                            <h6 class="mb-0">{{'assessed'| translate}}</h6>
                         </div>
                         <div class="round-type-status-bg db-light-light-color rounded-circle">
                            <div class="round-type-status rounded-circle d-flex align-items-center justify-content-center  p-0">
                           
                               <h6 class="mb-0">{{ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_assessed?ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_assessed:'0'}}</h6>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="round-type-status-main">
                      <div class="open-close-status-db open-close-status-db-right d-flex align-items-center status-closed">
                         <div class="round-type-status-bg db-light-light-color rounded-circle">
                            <div class="round-type-status rounded-circle  d-flex align-items-center justify-content-center  p-0">
                               
                               <h6 class="mb-0">{{ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_not_assessed?ControlAssessmentDashboardStore?.controlAssessmentCount?.total_control_not_assessed:'0'}}</h6>
                            </div>
                         </div>
                         <div class="round-type-status-value db-light-light-color pt-0 mt-0">
                            <h6 class="mb-0">{{'not_assessed'| translate}}</h6>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-xl-7 col-lg-12 col-sm-12 sm-col">
       <div class="clearfix">
          <div *ngFor="let row of ControlAssessmentDashboardStore?.controlAssessmentCount?.maturity_level_count.slice(0, 5)" class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
             <div class="left-line-type-text">
                <span [style.backgroundColor]="row.color_code?row.color_code:''" class="big-line-bdr-left"></span>
                <h5 class="elips-1" title='{{row?.title}}'>{{row?.title}}</h5>
                <h6>{{row?.count?row?.count:'0'}}</h6>
             </div>
          </div>
          <!-- <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
             <div class="left-line-type-text">
                <span class="big-line-bdr-left bg-orange"></span>
                <h5>Repeatable but informal</h5>
                <h6>20</h6>
             </div>
          </div>
          <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
             <div class="left-line-type-text">
                <span class="big-line-bdr-left bg-yellow"></span>
                <h5>Structured & formalized</h5>
                <h6>30</h6>
             </div>
          </div>
          <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow">
             <div class="left-line-type-text">
                <span class="big-line-bdr-left bg-light-green"></span>
                <h5>Managed & measurable</h5>
                <h6>20</h6>
             </div>
          </div>
          <div class="bg-white btm-space-10 ceo-db-small-box-one db-shadow ceo-db-full-width-box">
             <div class="left-line-type-text">
                <span class="big-line-bdr-left bg-green"></span>
                <h5>Adaptive</h5>
                <h6>30</h6>
             </div>
          </div> -->
       </div>
    </div>
   </ng-container>
 </div>
 <ng-container *mobxAutorun>
    <ng-container *ngIf="!ControlAssessmentDashboardStore.loaded">
        <app-business-assessment-dashboard-loader></app-business-assessment-dashboard-loader>
    </ng-container>
 </ng-container>