<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content">
           
                <div class="tab-pane tab-edit-class smoal-left-tab-page active show" id="project-tab-saven">
                    <div class="audit-program-box audit-page-table-main">
                        <h6 class="mb-2">Up Coming</h6>
                        <div class="row">
                            <div class="col-sm-12 full-width-table">
                                <div class="fix-table">
                                    <table
                                        class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll fixed-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" width="2%">#</th>
                                                <th class="border-top-0" width="8%">Ref. ID</th>
                                                <th class="border-top-0" width="54%">Title</th>
                                                <th class="border-top-0" width="16%">Duration</th>
                                                <th class="border-top-0" width="20%">Responsible User</th>
                                            </tr>
                                        </thead>

                                    </table>
                                    <table
                                        class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" width="2%">#</th>
                                                <th class="border-top-0" width="8%">Ref. ID</th>
                                                <th class="border-top-0" width="54%">Title</th>
                                                <th class="border-top-0" width="16%">Duration</th>
                                                <th class="border-top-0" width="20%">Responsible User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>#0001</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-5.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-5.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Sam Jhon</h6>
                                                                        <span>Super Admin</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Sam Jhon</h6>
                                                            <span>Super Admin</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>#0002</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-7.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-7.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Muhammed Shihab</h6>
                                                                        <span>Project Manager</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Muhammed Shihab</h6>
                                                            <span>Project Manager</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>#0003</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-8.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-8.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Mohammed Farooque</h6>
                                                                        <span>CEO</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Mohammed Farooque</h6>
                                                            <span>CEO</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>#0004</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-16.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-16.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Mohammed Fayas</h6>
                                                                        <span>UI/UX Designer</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Mohammed Fayas</h6>
                                                            <span>UI/UX Designer</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>#0001</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-12.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-12.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Emma Gosa</h6>
                                                                        <span>Super Admin</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Emma Gosa</h6>
                                                            <span>Super Admin</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul class="pagination justify-content-center mt-3">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                                class="fas fa-chevron-left"></i></a></li>
                                    <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                                class="fas fa-chevron-right"></i></a></li>
                                    <li class="page-item"><input type="text" class="pagination-input" placeholder="100">
                                    </li>
                                    <li class="page-item"><a class="page-link per-page">Per Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="audit-program-box audit-page-table-main mt-2">
                        <h6 class="mb-2">Past Meetings</h6>
                        <div class="row">
                            <div class="col-sm-12 full-width-table">
                                <div class="fix-table">
                                    <table
                                        class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll fixed-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" width="2%">#</th>
                                                <th class="border-top-0" width="8%">Ref. ID</th>
                                                <th class="border-top-0" width="54%">Title</th>
                                                <th class="border-top-0" width="16%">Duration</th>
                                                <th class="border-top-0" width="20%">Responsible User</th>
                                            </tr>
                                        </thead>

                                    </table>
                                    <table
                                        class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" width="2%">#</th>
                                                <th class="border-top-0" width="8%">Ref. ID</th>
                                                <th class="border-top-0" width="54%">Title</th>
                                                <th class="border-top-0" width="16%">Duration</th>
                                                <th class="border-top-0" width="20%">Responsible User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>#0001</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-5.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-5.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Sam Jhon</h6>
                                                                        <span>Super Admin</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Sam Jhon</h6>
                                                            <span>Super Admin</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>#0002</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-7.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-7.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Muhammed Shihab</h6>
                                                                        <span>Project Manager</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Muhammed Shihab</h6>
                                                            <span>Project Manager</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>#0003</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-8.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-8.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Mohammed Farooque</h6>
                                                                        <span>CEO</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Mohammed Farooque</h6>
                                                            <span>CEO</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>#0004</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-16.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-16.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Mohammed Fayas</h6>
                                                                        <span>UI/UX Designer</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Mohammed Fayas</h6>
                                                            <span>UI/UX Designer</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>#0001</td>
                                                <td>Lorem Iptsum Lorem Iptsum Lorem Iptsum Lorem Iptsum </td>
                                                <td>1 Jan 2020 - 31 Dec 2022</td>
                                                <td>
                                                    <div
                                                        class="d-flex flex-row user-list-sm user-box-smol-round user-box-smol-round-table-scrol rounde-hov-bg">
                                                        <img src="assets/images/round-12.png" class="rounded-circle rounde-hov"
                                                            width="30px" height="30px">
                                                        <!-- user-dtl-popup start -->
                                                        <div class="user-dtl-popup user-dtl-popup-right box-user-dtl-new"
                                                            style="display: none;">
                                                            <div class="user-dtl-popup-head">
                                                                <a href="users.html" class="close-user-popup"><i
                                                                        class="lni-close"></i></a>
                                                                <div class="user-detail-smol-dtl clearfix">
                                                                    <img src="assets/images/round-12.png"
                                                                        class="rounded-circle user-pic-new">
                                                                    <span class="online-user online"></span>
                                                                    <div class="user-details">
                                                                        <h6>Emma Gosa</h6>
                                                                        <span>Super Admin</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-user"></i> Audit
                                                                        Leader</a></li>
                                                                <li><a href="#"><i class="fas fa-phone"></i> 980 9946
                                                                        365</a></li>
                                                                <li><a href="#"><i class="fas fa-envelope"></i>
                                                                        farooque@excelledia.com</a></li>
                                                            </ul>
                                                            <div class="btn-bg-popup">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3 btn-active">Send
                                                                    Email</button>
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#signal-lost"
                                                                    class="btn ordinary-btn mr-3">View Detail</button>
                                                            </div>
                                                        </div>
                                                        <!-- user-dtl-popup end -->
                                                        <div class="pointer">
                                                            <h6>Emma Gosa</h6>
                                                            <span>Super Admin</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul class="pagination justify-content-center mt-3">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                                class="fas fa-chevron-left"></i></a></li>
                                    <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                                class="fas fa-chevron-right"></i></a></li>
                                    <li class="page-item"><input type="text" class="pagination-input" placeholder="100">
                                    </li>
                                    <li class="page-item"><a class="page-link per-page">Per Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                         </div>

        </div>
    </div>
</div>