
        <div class="container-fluid" *mobxAutorun>
            
            <div class="row" *ngIf="DiscussionMasterStore.individualLoaded">
                <div class="col-sm-12">
                    <div class="tab-content">
                      
                        <div class="tab-pane tab-edit-class smoal-left-tab-page active show" id="project-tab-eleven">
                        <div class="widget">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="project-discussion-box bg-white" *ngFor="let row of DiscussionMasterStore.individualDiscussionId">                                                                                                  
                                        <div class="project-discussion-box bg-white" >
                                            <!-- project-discussion-box start -->
                                            <div class="d-flex widg-padding-cmn pb-3"  >
                                              <img onerror="this.src='/assets/images/user-demo2.png'"
                                              [src]="createImagePreview('user-profile-picture', row?.created_by?.image?.token)"
                                              class="rounded-circle rounde-hov" width="30px"
                                              height="30px">
                                                <div class="text-left discussion-content-sec w-100">
                                                    <div class="clearfix">
                                                        <div class="discussion-content-sec-left">
                                                            <h6 class="mb-0">{{row.title}}</h6>
                                                            <span class="text-light-blue">{{row.created_by.first_name}} {{row.created_by.last_name}}</span>
                                                        </div>
                                                        <div class="discussion-content-sec-right">
                                                            <label class="outline-tag outline-tag-sm outline-tag-blue mb-0">P</label>
                                                            <span class="draft-tag draft-tag-green label-tag-style-tag label-left-arow-tag" style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;"> {{row.project_discussion_status.type}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="paragraph-texts-loop">
                                                        <p>{{row.description}}</p>
                                                    </div>
                                                    <div class="thumb-pics-bg clearfix thumb-pics-fix-text thump-pics-full">
                                                        <div class="thumb-pics"
                                                          *ngFor="let document of row.documents">
                                                          <div class="upload-pics upload-pics-small edit-option">
                                                            <div class="browse-form-pic"
                                                              [ngStyle]="{'background': 'url(' + createImagePreview('discussion-document',document.token) + '), url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover'}"
                                                              (click)="viewDocument(document,row)">
                                                            </div>
                                                            <div class="browse-form-name clearfix">
                                                              <div class="float-left">
                                                                <h6 [attr.title]="document.title.length > 10 ? document.title:''">
                                                                  {{document.title.length > 10 ? document.title.substring(0,10)+' ...': document.title}}
                                                                </h6>
                                                                <span>{{document.size/1048576 | number:'0.2-2'}}MB</span>
                                                              </div>
                                                              <div class="browse-logo">
                                                                <img *ngIf="checkExtension(document.ext,'image') != -1" src="/assets/images/md-jpg.png">
                                                                <img *ngIf="checkExtension(document.ext,'doc') != -1" src="/assets/images/md-doc.png">
                                                                <img *ngIf="checkExtension(document.ext,'pdf') != -1" src="/assets/images/pdf-icone.png">
                                                                <img *ngIf="checkExtension(document.ext,'excel') != -1" src="/assets/images/md-xl.png">
                                                                <img *ngIf="checkExtension(document.ext,'video') != -1" src="/assets/images/md-video.png">
                                                                <img *ngIf="checkExtension(document.ext,'audio') != -1" src="/assets/images/md-audio.png">
                                                                <img *ngIf="checkExtension(document.ext,'ppt') != -1" src="/assets/images/md-ppt.png">
                                  
                                                              </div>
                                                            </div>
                                                            <div class="edit-option-show-inner">
                                                              <a [attr.title]="'download'|translate"
                                                                (click)="downloadDocument(document.project_discussion_id,document.title,document.id,document,row)"><i
                                                                  class="fas fa-download"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>                                                              
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="comment-btns-sec border-none pt-0 pb-4">
                                                <span class="comment-btns-cmn comment-btns-date"><i class="far fa-clock"></i>{{row.created_at | date:OrganizationGeneralSettingsStore.organizationSettings?.date_time_format}}</span>
                                                <span class="comment-btns-cmn comment-btns-msg" routerLink='{{row.id}}'><i class="far fa-comment-dots"></i>{{row.children_discussion.length}}</span>
                                            </div>
                                        </div>

                                       
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
               
            </div>
            <div class="modal modal-style-1 popup-full-width fade" data-keyboard="false"
                                    data-backdrop="static" #formModal *mobxAutorun>

                                    <app-project-discussion-modal [source]="DiscussionObject"
                                        *ngIf="DiscussionObject.type!=null"></app-project-discussion-modal>

                                </div>
                                <!-- preview component for image preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
data-backdrop="static" #filePreviewModal *mobxAutorun>
<button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
    class="lni-close"></i><span>{{'esc'|translate}}</span></button>
<app-project-management-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
</app-project-management-preview>
</div>
<!-- preview modal end -->
                                