 <!-- Witness-popup Start -->
 <!-- <div class="modal modal-style-1 share-popup new-issue-process-popup popup-full-width fade" id="other-involved-popup" style="z-index: 999999;" data-keyboard="false"  data-backdrop="static"> -->
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
       <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
             <h4 class="modal-title">{{'witness' | translate}}</h4>
             <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
             
          </div>
          <!-- Modal body -->
          <form [formGroup]="form"> 
          <div class="modal-body form-body add-profie-org-pup">
             <p class="head-details">{{'witness_person_body_text' | translate}}</p>
             
             <div class="row">
               <div class="col-sm-12 col-lg-6">
                 <div class="form-group">
                   <label for="name">{{'name' | translate}}<span class="form-error">*</span></label>
                   <input formControlName="name" type="text" class="form-control" [placeholder]="'name' | translate">
                </div>
               </div>
               <div class="col-sm-12 col-lg-6">
                 <div class="form-group">
                   <label for="name">{{'designation' | translate}}</label>
                   <input  formControlName="designation" type="text" class="form-control" [placeholder]="'designation' | translate">
                </div>
               </div>
               <div class="col-sm-12 col-lg-6">
                 <div class="form-group">
                   <label for="name">{{'company_name' | translate}}</label>
                   <input formControlName="company" type="text" class="form-control" [placeholder]="'company_name' | translate">
                </div>
               </div>
               <div class="col-sm-12 col-lg-6">
                 <div class="form-group">
                   <label for="name">{{'email' | translate}}</label>
                   <input formControlName="email" type="text" class="form-control" [placeholder]="'email' | translate">
                   <p class="form-error pt-1" *ngIf="form?.get('email').invalid && form.value.email">
                     {{'enter_valid_email'|translate}}</p>
                   <p class="form-error pt-1" *ngIf="formErrors&&formErrors.email">
                     {{formErrors.email[0]}}</p>
                </div>
               
               </div>
               <div class="col-sm-12 col-lg-6">
                 <div class="form-group">
                   <label for="name">{{'mobile_number' | translate}}<span class="form-error">*</span></label>
                   <input formControlName="mobile" type="text" class="form-control" [placeholder]="'mobile'| translate">

                </div>
               </div>
             </div>


   
             
             <div class="d-block justify-content-left border-0 mt-3">
                <button type="button" data-toggle="modal" [disabled]="form.invalid" data-target="#signal-lost" class="btn ordinary-btn mr-3 btn-active" (click)="saveOtherWitnessUserDetails()">{{ AppStore.loading  ? 'Loading...' : 'Save' }}</button>
                 <button type="button" data-toggle="modal" [disabled]="form.invalid" data-target="#signal-lost" class="btn ordinary-btn mr-3" (click)="saveOtherWitnessUserDetails(true)">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                <button type="button" data-toggle="modal" data-target="#error-message" class="btn ordinary-btn mr-2" (click)="cancel()" data-dismiss="modal">{{  AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
             </div>

          </div>
         </form>
          <!-- Modal footer -->
       </div>
    </div>
 <!-- </div> -->
 <!-- Witness-popup End -->