<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{ 'add_auditee' | translate }}</h4>
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">
            <!-- <form [formGroup]="form"> -->
            <p class="head-details">{{ 'add_auditee_message_title' | translate }}</p>
            <form [formGroup]="form" *mobxAutorun>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="title">{{ 'auditee' | translate }}<span class="form-error">*</span></label>
                            <div class="multiple-plain-ngselect w-100">
                                <ng-select
                                [items]="auditeeArray"
                                bindLabel="email"
                                labelForId = "id"
                                [placeholder]="'select_auditees' | translate"
                                multiple="true"
                                formControlName = "ms_audit_auditees"
                                [closeOnSelect]="false"
                                (search) = "searchUsers($event)"
                                (clear) = "getAllUsers()"
                                (open) = "getAllUsers()">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                   <img *ngIf = "item.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                   <img *ngIf = "!item.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage()" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                   <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                   <div class="user-post-department-pic">
                                      <img *ngIf = "item.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                      <img *ngIf = "!item.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage()" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                   </div>
                                   <div class="user-post-department-div">
                                      <b>{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b>
                                      <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],80,',')}}</p>
                                   </div>
                                </ng-template>
                             </ng-select>
                                <p  class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.ms_audit_auditee"> {{formErrors.ms_audit_auditee}}
                                </p>
                            </div>
                       
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="submit" class="btn btn-active" (click)="save()"
                                [disabled]="form.invalid || AppStore.loading">{{AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                            <button type="button" data-toggle="modal" data-target="#signal-lost"
                                class="btn" (click)="save(true)"
                                [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                            <button type="button" data-toggle="modal" data-target="#error-message"
                                class="btn"
                                (click)="cancel()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- </form> -->
        </div>
        <!-- Modal footer -->
    </div>
</div>

