
<ng-container *mobxAutorun>
    <div *ngIf="!MsAuditDocStore.docLoaded">
        <app-ms-audit-doc-loader></app-ms-audit-doc-loader>
    </div>
</ng-container>
<ng-container *mobxAutorun>
<div class=" bg-white line-tab widg-padding-cmn-small pt-2 min-height-83">

    <!-- Nav tabs -->

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs float-left">
                <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#menu1" data-original-title="" title="">{{'document' | translate}}</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu2" data-original-title="" title="">URL</a> </li>
            </ul>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content tab-content-body pt-3">
        <div class="tab-pane active show" id="menu1">
            
            <div class="row" *ngIf="MsAuditDocStore.docLoaded">
                <div class="col-sm-12">
                    <div class="thumb-pics-bg thumb-pics-col-5 clearfix thumb-pics-fix-text">
                       
                        <div class="thumb-pics"
                        *ngFor="let docs of MsAuditDocStore.documentList;let i = index">
                        <!-- <div > -->
                        <!-- System Files Starts Here -->
                        <div [ngClass]="AuthStore.getActivityPermission(100,'PREVIEW_MS_AUDIT_DOCUMENT_FILE') ? 'upload-pics edit-option pointer' : 'upload-pics edit-option'" *ngIf="!docs.document_id && docs.external_link == null">
                            <div class="browse-form-pic"
                            [ngStyle]="{'background': 'url('+createImageUrl('ms-audit-doc',docs?.token)+') no-repeat'}"
                            (click)="AuthStore.getActivityPermission(100,'PREVIEW_MS_AUDIT_DOCUMENT_FILE') ? viewMsDocDocument('ms-audit-doc',docs,docs) : ''">
                            </div>
                            <div class="browse-form-name clearfix">
                                <div class="float-left">
                                    <h6>{{docs.title ? docs.title : docs.name ? docs.name : docs.version_title ? docs.version_title:"NA"}}.{{docs.ext}}
                                    </h6>
                                    <span>{{docs.size/1048576 |
                                        number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">System</span>
                                </div>
                                <div class="browse-logo">
                                    <img *ngIf="checkExtension(docs.ext,'image') != -1" class="folder-picher"
                                        src="/assets/images/jpg-icone.png">
                                    <img *ngIf="checkExtension(docs.ext,'doc') != -1" class="folder-picher"
                                        src="/assets/images/word-icone.png">
                                    <img *ngIf="checkExtension(docs.ext,'pdf') != -1" class="folder-picher"
                                        src="/assets/images/pdf-icone.png">
                                    <img *ngIf="checkExtension(docs.ext,'excel') != -1" class="folder-picher"
                                        src="/assets/images/excel-icone.png">
                                    <img *ngIf="checkExtension(docs.ext,'video') != -1" class="folder-picher"
                                        src="/assets/images/md-video.png">
                                    <img *ngIf="checkExtension(docs.ext,'audio') != -1" class="folder-picher"
                                        src="/assets/images/md-audio.png">
                                    <img *ngIf="checkExtension(docs.ext,'ppt') != -1" class="folder-picher"
                                        src="/assets/images/md-ppt.png">
                                </div>
                            </div>
                            <div class="edit-option-show-inner" style="margin: 0 -9px 0 0;" 
                            *ngIf="AuthStore.getActivityPermission(100,'DOWNLOAD_MS_AUDIT_DOCUMENT_FILE')">
                                <a><i class="fas fa-download" (click)="downloadDocumentFile('ms-audit-doc',docs)"></i></a>
                            </div>
                            <div *ngIf="AuthStore.getActivityPermission(100,'DELETE_MS_AUDIT_DOCUMENT')"
                                class="edit-option-show-inner" style="margin: 0 32px 0 0; ">
                                <!-- edit-and-delete starts -->
                                <a (click)="deleteDoc(docs.id)"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <!-- KnowledgeHub Files Starts Here -->
                        <div [ngClass]="AuthStore.getActivityPermission(100,'PREVIEW_MS_AUDIT_DOCUMENT_FILE') ? 'upload-pics edit-option pointer' : 'upload-pics edit-option'" *ngIf="docs.document_id && docs.external_link == null">
                
                            <div *ngFor="let mainDoc of docs.kh_document.versions">
                                <div *ngIf="mainDoc.is_latest">
                                    <div class="browse-form-pic" 
                                        (click)="AuthStore.getActivityPermission(100,'PREVIEW_DOCUMENT_VERSION_DOCUMENT_FILE') ? viewMsDocDocument('document-version',docs,mainDoc) : ''"
                                        [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                    </div>
                                    <div class="browse-form-name clearfix">
                                        <div class="float-left">
                                            <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                            </h6>
                                            <span>{{mainDoc.size/1048576 |
                                                number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">Knowledge
                                                Hub</span>
                                        </div>
                                        <div class="browse-logo">
                                            <img *ngIf="checkExtension(mainDoc.ext,'image') != -1" class="folder-picher"
                                                src="/assets/images/jpg-icone.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1" class="folder-picher"
                                                src="/assets/images/word-icone.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1" class="folder-picher"
                                                src="/assets/images/pdf-icone.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1" class="folder-picher"
                                                src="/assets/images/excel-icone.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'video') != -1" class="folder-picher"
                                                src="/assets/images/md-video.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1" class="folder-picher"
                                                src="/assets/images/md-audio.png">
                                            <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1" class="folder-picher"
                                                src="/assets/images/md-ppt.png">
                                        </div>
                                    </div>
                                    <div class="edit-option-show-inner" style="margin: 0 -9px 0 0;" 
                                    *ngIf="AuthStore.getActivityPermission(100,'DOWNLOAD_DOCUMENT_VERSION_DOCUMENT_FILE')">
                                        <a><i class="fas fa-download"
                                            (click)="downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                    </div>
                                    <div *ngIf="AuthStore.getActivityPermission(100,'DELETE_MS_AUDIT_DOCUMENT')" class="edit-option-show-inner"
                                        style="margin: 0 32px 0 0; ">
                                        <!-- edit-and-delete starts -->
                                        <a (click)="deleteDoc(docs.id)"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- KnowledgeHub Files Ends Here -->
                    <!-- </div> -->
                    </div> 
                                               
                    </div>

                </div>
            </div>

            <app-no-data *ngIf="MsAuditDocStore.documentList.length == 0" [border]='false'></app-no-data>
            
        </div>

        <div class="tab-pane fade" id="menu2">
            
                <div class="row" *ngIf="MsAuditDocStore.urlList?.length>0">
                    <div class="col-sm-12">
                        <ul class="arrowlist mt-0 mb-0 p-0">
                            <li *ngFor="let list of MsAuditDocStore.urlList"><a (click)="goToLink(list)" >{{list.external_link}}</a></li>
                        </ul>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-sm-6">
                    <ul class="arrowlist mt-0 mb-0 p-0">
                        <li><a href="https://i.ibb.co/rtN0JDd/mba.jpg">https://i.ibb.co/rtN0JDd/mba.jpg</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <ul class="arrowlist mt-0 mb-0 p-0">
                        <li><a href="https://i.ibb.co/rtN0JDd/mba.jpg">https://i.ibb.co/rtN0JDd/mba.jpg</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <ul class="arrowlist mt-0 mb-0 p-0">
                        <li><a href="https://i.ibb.co/rtN0JDd/mba.jpg">https://i.ibb.co/rtN0JDd/mba.jpg</a></li>
                    </ul>
                </div> -->
                
                </div>
            <app-no-data *ngIf="MsAuditDocStore.urlList.length == 0" [border]='false'></app-no-data>
            
        </div>
            

    </div>
</div>
    <!-- <app-no-data *ngIf = "MsAuditDocStore.allItems?.length == 0" [border]='false'></app-no-data> -->
</ng-container>

    <div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #docFormModal>
        <app-add-document *ngIf = "DocObject.type"  [source]="DocObject"></app-add-document> 
    </div>

<!-- preview component for image preview -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <app-ms-audit-management-preview
        *ngIf="previewObject"
        [source]="previewObject" >
    </app-ms-audit-management-preview>
</div>

<!-- Delete Confirmation Modal Start --->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>
