<div class=" popup-full-width small-step-form-popup small-step-form-sm" id="change-request-popup" data-keyboard="false" data-backdrop="static" >
    <button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>esc</span></button>
    <div class="modal-dialog step-popup-modal">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body form-body">


                <!-- multistep form -->
                <div class="step-form-small">
                    <form id="msform">
                        <!-- progressbar -->
                        <div class="small-step-progressbar-main">
                            <ul id="progressbar">
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <!-- fieldsets -->
                        <fieldset >
                            <h2 class="fs-title"></h2>

                            <div class="mb-4">
                                <div class="issue-top-sec">
                                         <div class="clearfix">
                                            <h5 class="d-inline-block cmn-head-style label-tag-style"><span class="issue-smoal-head-text">#{{ProjectMonitoringStore.individualDetails?.reference_code }}</span>  {{ProjectMonitoringStore.individualDetails?.title }} <span [ngClass]="'dot-div '+ProjectMonitoringStore.individualDetails?.project_monitoring_status?.label+'-dot'">{{ProjectMonitoringStore.individualDetails?.project_monitoring_status?.language[0]?.pivot?.title}}</span></h5>
                                         </div>
                                         <div class="clearfix">
                                           <p class="label-tag-style"><i class="fas fa-calendar-alt date-pics-two"></i> {{ProjectMonitoringStore.individualDetails?.start_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}} To {{ProjectMonitoringStore.individualDetails?.target_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}} </p>
                                         </div>
                                         <p style="white-space: pre-wrap;">{{ProjectMonitoringStore.individualDetails?.description ? ProjectMonitoringStore.individualDetails?.description : AppStore.noContentText }} </p>
                                         
                                      </div>

                                      <h6>Please select the item you would like to change.</h6>
                                      <div class="row sm-row">
                                         <div *ngFor="let items of ProjectChangeRequestStore.changeRequestItmes;let num = index" class="col-xl-3 col-lg-4 col-sm-6 sm-col">
                                            <div class="d-flex align-items-center name-and-position name-and-position-bdr cmn-bdr text-left relative">
                                               <div class="w-100 Preview-block pt-0">
                                                   <div class="Preview-checkbox clearfix">
                                                     <label class="container2 remember-txt float-left mb-0 elips-1">
                                                      <input (change)="changeItems($event.target.checked,items)" type="checkbox">
                                                      <span class="checkmark"></span> {{items.project_change_request_item_language_title}}</label>
                                                 </div>
                                                </div>
                                           </div>
                                         </div>
                                      </div>

                      
                            </div>




                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" [disabled]="selectedItems.length == 0"  name="next" (click)="changeFirstStepForm()"  class="next action-button btn-active" value="Next" />
                        </fieldset>
                        <fieldset >
                            <h2 class="fs-title mb-0">Duration </h2>
                            <p class="mb-4">Lorem ipsum is a dummy text of printing and type setting industry </p>

                            <div class="mb-5">
                                
                             <div class="row">
                                <div class="col-lg-5 col-sm-12">
                                   <h6>Existing Date</h6>
                                   <hr class="mt-0">

                                   <div class="row">
                                      <div class="col-sm-6">
                                         <div class="form-group">
                                            <label for="name">Start Date</label>
                                            <p>{{ProjectMonitoringStore.individualDetails?.start_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</p>
                                        </div>
                                      </div>
                                      <div class="col-sm-6">
                                         <div class="form-group">
                                            <label for="name">End Date</label>
                                            <p>{{ProjectMonitoringStore.individualDetails?.target_date | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</p>
                                        </div>
                                      </div>
                                   </div>

                                </div>
                                <div class="col-lg-5 col-sm-12">
                                   <h6>New Date</h6>
                                   <hr class="mt-0">

                                   <div class="row">
                                      <div class="col-sm-6">
                                         <div class="form-group">
                                            <label for="name">Start Date</label>
                                            <div class="input-group">
                                                <input class="form-control" id="establish_date"  [placeholder]="'start_date' | translate"
                                                       name="dp" [(ngModel)]="startDate" ngbDatepicker #c="ngbDatepicker">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary calendar" (click)="c.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                                </div>
              
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                         <div class="form-group">
                                            <label for="name">End Date</label>
                                            <div class="input-group">
                                                <input class="form-control" id="establish_date"  [placeholder]="'end_date' | translate"
                                                       name="dp" [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                                </div>
              
                                              </div>
                                          </div>
                                      </div>
                                   </div>

                                </div>
                             </div>

                             <div class="form-group">
                                 <label for="name">Justification</label>
                                 <textarea class="form-control" [(ngModel)]="durationJustification" rows="3" id="comment" placeholder="Enter Field Name"></textarea>
                              </div>
                                




                            </div>



                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="button" [disabled]="startDate == null && endDate == null" (click)="changeSecondtStepForm()" name="next" class="next action-button btn-active" value="Next" />
                        </fieldset>
                        <fieldset >
                            <h2 class="fs-title mb-0">Team</h2>
                            <p class="mb-4">Lorem ipsum is a dummy text of printing and type setting industry </p>

                            <div class="mb-5">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">{{'project_manager' | translate}}<span class="form-error">*</span></label>
                                            <div class="clearfix">
                                               <div class="multiple-plain-ngselect">
                                                  <ng-select [items]="UsersStore.usersList" bindLabel="email"
                                                  [placeholder]="'select_user' | translate " formControlName="project_manager_id" 
                                                  (clear)="getUsers()" (search)="searchUers($event)" [multiple]="false"
                                                  (open)="getUsers()"  [searchFn]="customSearchFn">
                                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                     <img *ngIf = "item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                     <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage('user-logo')"/>
                                                     <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                                                  </ng-template>
                                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                                     <div class="user-post-department-pic">
                                                        <img *ngIf = "item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                        <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage('user-logo')"/>
                                                     </div>
                                                     <div class="user-post-department-div">
                                                        <b>{{getStringsFormatted([item.first_name,item.last_name],35,' ') | titlecase}}</b>
                                                        <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],35,',')}}</p>
                                                     </div>
                                                  </ng-template>
                                                  </ng-select>
                                               </div>
                                            </div>
                                            <p class="form-error pt-1" *ngIf="formErrors && formErrors.project_manager_id">
                                               {{formErrors.project_manager_id}}
                                            </p>
                                         </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">{{'assitant_project_managers' | translate}}<span class="form-error">*</span></label>
                                            <div class="clearfix">
                                               <div class="multiple-plain-ngselect">
                                                  <ng-select [items]="UsersStore.usersList" bindLabel="email"
                                                  [placeholder]="'select_users' | translate " formControlName="assistant_manager_ids" 
                                                  (clear)="getUsers()" (search)="searchUers($event)" multiple="true"
                                                  (open)="getUsers()"  [searchFn]="customSearchFn">
                                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                     <img *ngIf = "item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                     <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage('user-logo')"/>
                                                     <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                                                  </ng-template>
                                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                                     <div class="user-post-department-pic">
                                                        <img *ngIf = "item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                        <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage('user-logo')"/>
                                                     </div>
                                                     <div class="user-post-department-div">
                                                        <b>{{getStringsFormatted([item.first_name,item.last_name],35,' ') | titlecase}}</b>
                                                        <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],35,',')}}</p>
                                                     </div>
                                                  </ng-template>
                                                  </ng-select>
                                               </div>
                                            </div>
                                            <p class="form-error pt-1" *ngIf="formErrors && formErrors.assistant_manager_ids">
                                               {{formErrors.assistant_manager_ids}}
                                            </p>
                                         </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">{{'project_members' | translate}}<span class="form-error">*</span></label>
                                            <div class="clearfix">
                                               <div class="multiple-plain-ngselect">
                                                  <ng-select [items]="UsersStore.usersList" bindLabel="email"
                                                  [placeholder]="'select_users' | translate " formControlName="member_ids" 
                                                  (clear)="getUsers()" (search)="searchUers($event)" multiple="true"
                                                  (open)="getUsers()"  [searchFn]="customSearchFn">
                                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                     <img *ngIf = "item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                     <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="15" width="15" [attr.src]="getDefaultImage('user-logo')"/>
                                                     <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click) = "clear(item)" style="border:none;" class="ng-value-icon left">×</span>
                                                  </ng-template>
                                                  <ng-template ng-option-tmp let-item="item" let-index="index">
                                                     <div class="user-post-department-pic">
                                                        <img *ngIf = "item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                                                        <img *ngIf = "!item?.image_token" class="ng-select-user-display" height="25" width="25" [attr.src]="getDefaultImage('user-logo')"/>
                                                     </div>
                                                     <div class="user-post-department-div">
                                                        <b>{{getStringsFormatted([item.first_name,item.last_name],35,' ') | titlecase}}</b>
                                                        <p class="user-post-department-multiple">{{getStringsFormatted([item.designation_title,' '+item.department],35,',')}}</p>
                                                     </div>
                                                  </ng-template>
                                                  </ng-select>
                                               </div>
                                            </div>
                                            <p class="form-error pt-1" *ngIf="formErrors && formErrors.member_ids">
                                               {{formErrors.member_ids}}
                                            </p>
                                         </div>
                                    </div> 
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                         <label>External User </label>
                                         <button type="button" class="btn btn-small ml-3" (click)="openExternalUserPopup()" >Add</button>

                                         <div class="audit-form-table w-100 not-fixed-table mt-1">
                                            <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                              <thead>
                                                 <tr>
                                                    <th class="border-top-0" width="4%">#</th>
                                                    <th class="border-top-0" width="20%">Name</th>
                                                    <th class="border-top-0" width="20%">Designation</th>
                                                    <th class="border-top-0" width="21%">Company Name</th>
                                                    <th class="border-top-0" width="15%">Age</th>
                                                    <th class="border-top-0" width="20%">Mobile Number</th>
                                                 </tr>
                                              </thead>
                                              <tbody>
                                               <tr>
                                                  <td class="text-center">1</td>
                                                  <td>Rahul Nath</td>
                                                  <td>UI Developer</td>
                                                  <td>Excelledia</td>
                                                  <td class="text-center">25</td>
                                                  <td>8086552033</td>
                                               </tr>
                                               <tr>
                                                  <td class="text-center">2</td>
                                                  <td>Melvin Thomas</td>
                                                  <td>Manager</td>
                                                  <td>Excelledia</td>
                                                  <td class="text-center">30</td>
                                                  <td>8256554200</td>
                                               </tr>
                                              </tbody>
                                           </table>

                                         </div>

                                      </div>

                                   </div>
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                          <label for="name">Justification</label>
                                          <textarea class="form-control" rows="3" id="comment" placeholder="Enter Field Name"></textarea>
                                       </div>
                                   </div>
                                </div>



                            </div>


                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="button" name="next" class="next action-button btn-active" value="Next" />
                        </fieldset>
                        <fieldset  >
                            <h2 class="fs-title mb-0">Scope of work</h2>
                            <p class="mb-4">Lorem ipsum is a dummy text of printing and type setting industry </p>

                            <div class="mb-5">

                                <div class="row">
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                         <label>In scope</label>
                                         <div class="clearfix d-flex">
                                            <input type="text" class="form-control w-100" placeholder="Enter Field Name">
                                            <button type="button" class="btn multi-add-user ml-2" style="width: 42px;"><i class="fas fa-plus"></i></button> 
                                          </div>
                                          <ul class="arrowlist mt-1 p-0">
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                          </ul>
                                     </div>
                                   </div>
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                         <label>Out of scope</label>
                                         <div class="clearfix d-flex">
                                            <input type="text" class="form-control w-100" placeholder="Enter Field Name">
                                            <button type="button" class="btn multi-add-user ml-2" style="width: 42px;"><i class="fas fa-plus"></i></button> 
                                          </div>
                                          <ul class="arrowlist mt-1 p-0">
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                          </ul>
                                     </div>
                                   </div>
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                         <label>Assumptions</label>
                                         <div class="clearfix d-flex">
                                            <input type="text" class="form-control w-100" placeholder="Enter Field Name">
                                            <button type="button" class="btn multi-add-user ml-2" style="width: 42px;"><i class="fas fa-plus"></i></button> 
                                          </div>
                                          <ul class="arrowlist mt-1 p-0">
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                          </ul>
                                     </div>
                                   </div>
                                   <div class="col-sm-12">
                                      <div class="form-group">
                                          <label for="name">Justification</label>
                                          <textarea class="form-control" rows="3" id="comment" placeholder="Enter Field Name"></textarea>
                                       </div>
                                   </div>
                                </div>




                            </div>


                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="button" name="next" class="next action-button btn-active" value="Next" />
                        </fieldset>
                        <fieldset >
                            <h2 class="fs-title mb-0">Budget <button type="button" class="btn btn-small ml-2" data-toggle="modal" data-target="#add-budget-popup">Add</button></h2>
                            <p class="mb-4">Lorem ipsum is a dummy text of printing and type setting industry ever since 1500.</p>

                            <div class="mb-5">
                                

                                
                             <div class="row">
                                <div class="col-sm-12">
                                   <div class="table-w-70 not-fixed-table mb-3">
                                            <table class="table table-bordered ordinary-table audit-page-table mb-1 text-center">
                                              <thead>
                                                 <tr>
                                                    <th class="border-top-0" width="4%">#</th>
                                                    <th class="border-top-0" width="48%">Year</th>
                                                    <th class="border-top-0" width="48%">Budget</th>
                                                 </tr>
                                              </thead>
                                              <tbody>
                                               <tr>
                                                  <td>1</td>
                                                  <td>2020</td>
                                                  <td>
                                                     <div class="cmn-bdr border-radius d-inline-block pl-3 pr-3 pt-2 pb-2">5000.00</div>
                                                  </td>
                                               </tr>
                                               <tr>
                                                  <td>2</td>
                                                  <td>2021</td>
                                                  <td>
                                                     <div class="cmn-bdr border-radius d-inline-block pl-3 pr-3 pt-2 pb-2">2000.00</div>
                                                  </td>
                                               </tr>
                                               <tr>
                                                  <td colspan="2" class="text-left bold">Total</td>
                                                  <td class="bold">7000.00</td>
                                               </tr>
                                              </tbody>
                                           </table>

                                         </div>
                                </div>





                                <div class="col-sm-12">
                                      <div class="form-group">
                                          <label for="name">Justification</label>
                                          <textarea class="form-control" rows="3" id="comment" placeholder="Enter Field Name"></textarea>
                                       </div>
                                   </div>
                             </div>


                            </div>


                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="button" name="next" class="next action-button btn-active" value="Next" />
                        </fieldset>




                        <fieldset *ngIf="is_delivarables">
                            <h2 class="fs-title mb-0">Project Deliverables </h2>
                            <p class="mb-4">Lorem ipsum is a dummy text of printing and type setting industry </p>

                            <div class="mb-5">
                                

                               <div class="row">
                                <div class="col-sm-12">
                                   <div class="form-group">
                                         <label>Tilte</label>
                                         <div class="clearfix d-flex">
                                            <input type="text" class="form-control w-100" placeholder="Enter Field Name">
                                            <button type="button" class="btn multi-add-user ml-2" style="width: 42px;"><i class="fas fa-plus"></i></button> 
                                          </div>
                                          <ul class="arrowlist mt-1 p-0">
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                            <li>Lorem ipsum is a dummy text of printing and type setting industry </li>
                                          </ul>
                                     </div>
                                </div>
                                <div class="col-sm-12">
                                   <div class="form-group">
                                          <label for="name">Justification</label>
                                          <textarea class="form-control" rows="3" id="comment" placeholder="Enter Field Name"></textarea>
                                       </div>
                                </div>
                               </div>



                            </div>



                            <input type="button" name="cancel" data-dismiss="modal" class="cancel action-button" value="Cancel" />
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="submit" name="submit"  class="submit action-button btn-active" value="Save" />
                        </fieldset>
                    </form>
                </div>





            </div>
            <!-- Modal footer -->
        </div>
    </div>
</div>

<div class="modal modal-style-1 popup-full-width fade" id="add-actionplan-popup" data-keyboard="false"
data-backdrop="static" #externalUsers>
   <app-external-users-modal [source] = "externalUserObject" *ngIf = "externalUserObject.type"></app-external-users-modal>

</div>