<button type="button" class="close" ><i class="lni-close" (click)="cancel()"></i><span>esc</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'active_directory_settings' | translate}}</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">

            <p class="head-details">
            </p>

            <form [formGroup]="form">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'host'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="host" 
                            [placeholder]="'enter_host' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.host">
                                {{formErrors.host[0]}}
                            </p>
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'port'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="port" 
                            [placeholder]="'enter_port' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.port">
                                {{formErrors.port[0]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'username'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="username" 
                            [placeholder]="'enter_username' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.username">
                                {{formErrors.username[0]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">{{'password'|translate}}<sup>*</sup></label>
                            <div class="password-icon-input">
                                <input [attr.type]="togglePassword ? 'text' : 'password'" class="form-control"
                                    formControlName="password" [placeholder]="'password'|translate" autocomplete="new-password"
                                    >
                                <a class="eye-icon-pswd" (click)="toggleFieldTextType()" style="right: 10px !important;">
                                    <i [ngClass]="togglePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></a>
                            </div>
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.password">
                                {{formErrors.password[0]}}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'organization_unit'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="organization_unit" 
                            [placeholder]="'enter_orgnization_unit' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.organization_unit">
                                {{formErrors.organization_unit[0]}}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'domain_controller'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="domain_controller" 
                            [placeholder]="'enter_domain_controller_example' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.domain_controller">
                                {{formErrors.domain_controller[0]}}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'common_name'|translate}}<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="common_name" 
                            [placeholder]="'enter_common_name' | translate">
                            <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.common_name">
                                {{formErrors.common_name[0]}}
                            </p>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- <div class="row"> -->
                        <div class="col-sm-12">
                             <div class="d-block justify-content-left border-0 mt-3">
                                <button type="submit" class="btn btn-active" (click)="save()"
                                    [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? 'loading' : 'Save' }}</button>
                                <button type="button" data-toggle="modal" data-target="#signal-lost"
                                    class="btn" (click)="save(true)"
                                    [disabled]="form.invalid || AppStore.loading">{{  AppStore.loading  ? 'loading' : 'Save & Close' }}</button>
                                <button type="button" data-toggle="modal" data-target="#error-message"
                                    class="btn"
                                    (click)="cancel()">{{  AppStore.loading  ? 'loading' : 'Cancel'}}</button>
                            </div> 
                        </div>
                    <!-- </div> -->
                    
                </div>
            </form>
        </div>
        <!-- Modal footer -->
    </div>
</div>