<!-- Profille -->
<div class="tab-pane active" id="info">
   <div class="widget">

      <div class="row" *ngIf="FindingsStore?.individualLoaded">
         <div class="col-lg-8 col-sm-12 padding-right-0">
            <div class="bg-white widg-padding-cmn">
               <div class="min-height-64">
                  <div class="issue-top-sec">
                     <div class="clearfix">
                        <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                              class="issue-smoal-head-text">#{{FindingsStore?.findingDetails?.reference_code}}</span>
                           {{FindingsStore?.findingDetails?.title}}
                           <span class="draft-tag label-tag-style-tag label-left-arow-tag"
                              [ngClass]="FindingsStore.findingDetails?.findingStatus? StatusColorKey() : ''"
                              style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;">
                              {{FindingsStore?.findingDetails?.findingStatus?.language[0]?.pivot?.title}}</span>
                        </h5>
                     </div>
                     <!-- <div class="clearfix mb-2"> -->
                        <!-- <span class="indication-text color-violet ml-0"><span class="round-dot"></span>
                        {{FindingsStore?.findingDetails?.finding_category?.title}}</span> -->
                        <!-- <span class="indication-text ml-2"
                        [ngClass]="FindingsStore.findingDetails?.risk_rating? getStatusColorKey() : ''"><span
                           class="round-dot"></span>
                        {{FindingsStore?.findingDetails?.risk_rating?.language[0]?.pivot?.title}}</span> -->
                     <!-- </div> -->
                     <p style="white-space: pre-line;">{{FindingsStore?.findingDetails?.description}}</p>
                  </div>
                  <div class="row mt-2">
                     <div class="col-lg-4 col-sm-6">
                        <h6>{{'risk_rating' | translate}}</h6>
                        <p class="dot-div-new font-normal"
                           [ngClass]="FindingsStore.findingDetails?.risk_rating? getStatusColorKey() : ''">
                           {{FindingsStore?.findingDetails?.risk_rating?.language[0]?.pivot?.title}}</p>
                        <!-- <span class="indication-text ml-2"
                        [ngClass]="FindingsStore.findingDetails?.risk_rating? getStatusColorKey() : ''"><span
                           class="round-dot"></span>{{FindingsStore?.findingDetails?.risk_rating?.language[0]?.pivot?.title}}</span> -->
                        <!-- <p>{{FindingsStore?.findingDetails?.risk_rating?.language[0]?.pivot?.title}}</p> -->
                     </div>
                     <div class="col-lg-4 col-sm-6">
                        <h6>{{'findings_category' | translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.finding_category?.title}}</p>
                     </div>
                     <div class="col-lg-4 col-sm-6"
                        *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_subsidiary">
                        <h6>{{'organization'| translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.organizations?.length>0 ?
                           getArrayFormatedString('title',FindingsStore.findingDetails?.organizations):
                           AppStore.noContentText}}</p>
                     </div>
                     <div class="col-lg-4 col-sm-6"
                        *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_division">
                        <h6>{{'division'| translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.divisions?.length>0 ?
                           getArrayFormatedString('title',FindingsStore.findingDetails?.divisions):
                           AppStore.noContentText}}</p>
                     </div>
                     <div class="col-lg-4 col-sm-6"
                        *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_department">
                        <h6>{{'department'| translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.departments?.length>0 ?
                           getArrayFormatedString('title',FindingsStore.findingDetails?.departments):
                           AppStore.noContentText}}</p>
                     </div>
                     <div class="col-lg-4 col-sm-6"
                        *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_section">
                        <h6>{{'section' | translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.sections?.length>0 ?
                           getArrayFormatedString('title',FindingsStore.findingDetails?.sections):
                           AppStore.noContentText}}
                        </p>
                     </div>
                     <div class="col-lg-4 col-sm-6"
                        *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section">
                        <h6>{{'sub_section' | translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.sub_sections?.length>0 ?
                           getArrayFormatedString('title',FindingsStore.findingDetails?.sub_sections):
                           AppStore.noContentText}}</p>
                     </div>
                     <div class="col-lg-4 col-sm-6">
                        <h6>{{'supplier' | translate}}</h6>
                        <p>{{FindingsStore.findingDetails?.supplier?.title ? FindingsStore.findingDetails?.supplier?.title : AppStore.noContentText}}</p>
                     </div>

                     <div class="col-lg-12 col-sm-12">
                        <h6>{{'evidence' | translate}}</h6>
                        <p style="white-space: pre-line;">
                           {{FindingsStore?.findingDetails?.evidence?FindingsStore?.findingDetails?.evidence:AppStore.noContentText}}
                        </p>
                     </div>

                     <div class="col-lg-12 col-sm-12">
                        <h6>{{'recommendation' | translate}}</h6>
                        <p style="white-space: pre-line;">
                           {{FindingsStore?.findingDetails?.recommendation?FindingsStore?.findingDetails?.recommendation:AppStore.noContentText}}
                        </p>

                     </div>
                  </div>

                  <h6 *ngIf="FindingsStore.findingDetails?.documents.length > 0">{{'support_files' | translate}}</h6>
                  <!-- *ngIf="FindingsStore?.findingDetails?.documents.length > 0" class="mt-3" -->
                  <div class="thumb-pics-bg thumb-pics-col-4 thumb-pics-fix-text clearfix"
                     *ngIf="FindingsStore.findingDetails?.documents.length > 0">
                     <div class="thumb-pics" *ngFor="let docs of FindingsStore.findingDetails?.documents;let i = index">

                        <!-- System Files Starts Here -->
                        <div class="upload-pics edit-option" style="margin: 0 -25px 0 0;" *ngIf="!docs.document_id"
                           (click)="viewBrochureItem('findings-document',docs,docs.id)">
                           <div class="browse-form-pic"
                              [ngStyle]="{'background': 'url('+createImageUrl('findings-document',docs?.token)+') no-repeat'}">
                           </div>
                           <div class="browse-form-name clearfix">
                              <div class="float-left">
                                 <h6>
                                    {{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                 </h6>
                                 <span class="mr-2 cmn-clr"><i class="fas fa-laptop"></i></span>
                                 <span>{{docs.size/1048576 | number:'0.2-2'}}MB</span>
                              </div>
                              <div class="browse-logo">
                                 <img *ngIf="checkExtension(docs.ext,'image') != -1" class="folder-picher"
                                    src="/assets/images/jpg-icone.png">
                                 <img *ngIf="checkExtension(docs.ext,'doc') != -1" class="folder-picher"
                                    src="/assets/images/word-icone.png">
                                 <img *ngIf="checkExtension(docs.ext,'pdf') != -1" class="folder-picher"
                                    src="/assets/images/pdf-icone.png">
                                 <img *ngIf="checkExtension(docs.ext,'excel') != -1" class="folder-picher"
                                    src="/assets/images/excel-icone.png">
                                 <img *ngIf="checkExtension(docs.ext,'video') != -1" class="folder-picher"
                                    src="/assets/images/md-video.png">
                                 <img *ngIf="checkExtension(docs.ext,'audio') != -1" class="folder-picher"
                                    src="/assets/images/md-audio.png">
                                 <img *ngIf="checkExtension(docs.ext,'ppt') != -1" class="folder-picher"
                                    src="/assets/images/md-ppt.png">
                              </div>
                           </div>
                           <div class="edit-option-show-inner" style="margin: -2px -8px 0 0;">
                              <a><i class="fas fa-download"
                                    (click)="downloadDocumentFile('findings-document',docs)"></i></a>
                           </div>
                        </div>

                        <!-- KnowledgeHub Files Starts Here -->
                        <div class="upload-pics edit-option" style="margin: 0 -25px 0 0;" *ngIf="docs.document_id">

                           <div *ngFor="let mainDoc of docs.kh_document.versions"
                              (click)="viewBrochureItem('document-version',docs,mainDoc)">
                              <div *ngIf="mainDoc.is_latest">
                                 <div class="browse-form-pic"
                                    [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                 </div>
                                 <div class="browse-form-name clearfix">
                                    <div class="float-left">
                                       <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                       </h6>
                                       <span class="mr-2 cmn-clr"><i class="fas fa-book"></i></span>
                                       <span>{{mainDoc.size/1048576 | number:'0.2-2'}}MB</span>
                                    </div>
                                    <div class="browse-logo">
                                       <img *ngIf="checkExtension(mainDoc.ext,'image') != -1" class="folder-picher"
                                          src="/assets/images/jpg-icone.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1" class="folder-picher"
                                          src="/assets/images/word-icone.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1" class="folder-picher"
                                          src="/assets/images/pdf-icone.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1" class="folder-picher"
                                          src="/assets/images/excel-icone.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'video') != -1" class="folder-picher"
                                          src="/assets/images/md-video.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1" class="folder-picher"
                                          src="/assets/images/md-audio.png">
                                       <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1" class="folder-picher"
                                          src="/assets/images/md-ppt.png">
                                    </div>
                                 </div>
                                 <div class="edit-option-show-inner" style="margin: -2px -8px 0 0;">
                                    <a><i class="fas fa-download"
                                          (click)="downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- KnowledgeHub Files Ends Here -->
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-xl-12">
                     <hr class="mb-2">
                     <div class="d-flex flex-row user-list-sm pb-0">
                        <app-user-popup-box
                           [source]=" getCreatedByPopupDetails(FindingsStore?.findingDetails?.created_by,FindingsStore?.findingDetails?.created_at)">
                        </app-user-popup-box>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Quick Correction  QuickCorrectionDetails -->
         <div class="col-lg-4 col-sm-12">
            <!-- *ngIf="FindingsStore.QuickCorrectionDetails?.title.length > 0"  -->
            <div class="bg-white widg-padding-cmn-small mb-3 edit-and-delete-main">
               <div class="edit-option-show" style="margin: 28px 0 0 0;"
                  *ngIf="FindingsStore.findingDetails?.finding_quick_actions">
                  <!-- *ngIf="AuthStore.getActivityPermission(1100,'UPDATE_QUICK_CORRECTIONS')" -->
                  <a (click)="getQuickCorrections()" [attr.title]="'edit' | translate"><i class="fas fa-pen"></i></a>
                  <!-- *ngIf="AuthStore.getActivityPermission(1100,'DELETE_QUICK_CORRECTIONS')" -->
                  <a (click)="delete()" [attr.title]="'delete' | translate"><i class="fas fa-trash"></i></a>
               </div>
               <h6 class="text-left">{{'quick_correction' | translate}}</h6>
               <hr class="mt-0 mb-3">
               <p style="white-space: pre-line;" *ngIf="!(FindingsStore.findingDetails?.finding_quick_actions)">Take
                  immediate action to reduce the impact on these findings.
                  You can plan corrective action as a permanent solution later.</p>
               <h5>{{FindingsStore?.findingDetails?.finding_quick_actions?.title}}</h5>
               <p style="white-space: pre-line;">{{FindingsStore?.findingDetails?.finding_quick_actions?.description}}
               </p>
               <div class="text-center">
                  <button *ngIf="!(FindingsStore.findingDetails?.finding_quick_actions)" type="button" class="btn mr-0"
                     (click)="addNewQuickCorrection()">Add</button>
               </div>
               <div *ngIf="(FindingsStore.findingDetails?.finding_quick_actions)">
                  <hr class="mt-3 mb-2">
                  <div class="d-flex flex-row user-list-sm text-left">
                     <app-user-popup-box
                        [source]=" getCreatedByPopupDetails(FindingsStore?.findingDetails?.finding_quick_actions?.created_by,FindingsStore?.findingDetails?.finding_quick_actions?.created_at)">
                     </app-user-popup-box>
                  </div>
               </div>
            </div>

            <!-- <div class="risk-rating-box bg-white p-3 mb-3">
               <h6 class="text-left">Finding Resolve Cycle Time</h6>
               <hr class="mt-0 mb-3">
               <div class="text-center">
                  <img src="/assets/images/graph-meter.png" class="img-fluid">
               </div>

            </div> -->

         </div>
      </div>

      <ng-container *mobxAutorun>
         <div *ngIf="!FindingsStore.individualLoaded">
            <app-findings-info-loader></app-findings-info-loader>
         </div>
      </ng-container>
   </div>
</div>

<!-- Edit-form model -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
   <app-findings-add *ngIf="findingsObject.type" [source]="findingsObject"></app-findings-add>
</div>

<!--Preview Modal-->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
   data-backdrop="static" #filePreviewModal *mobxAutorun>
   <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
         class="lni-close"></i><span>esc</span></button>
   <app-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)"></app-preview>
</div>

<!-- QuickCorrections Modal -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static"
   #quickCorrectionsFormModal>
   <app-quick-correction-add *ngIf="quickCorrectionsObject.type" [source]="quickCorrectionsObject">
   </app-quick-correction-add>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
   <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>