
  <div class="modal modal-style-1 popup-full-width full-width-edit fade" id="incidentEvidence" data-keyboard="false"  data-backdrop="static" style="z-index: 999999 !important;"  *mobxAutorun>
    <button type="button" data-dismiss = "modal" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" >{{'evidences_upload' | translate}}</h4>
                
               
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">

                <p class="head-details"></p>

                

                    <div class="row">
                        <div class="col-sm-12">
                           <label class="label-style mb-0">{{'evidences_upload' | translate}}</label>
                           <div class="scroll-documents" #uploadArea>
                            <div class="row m-0 upload-section" style="padding-top: 0">
                                <div class="col-sm-2 col-lg-4 costmz-logo-new mt-2">
              
                                    <div class="question-circle-inp" style="margin-right: 7px;">
                                        <i class="far fa-question-circle"></i>
                                        <div class="message-password-inp">
                                            <p class="mb-0">{{'allowed_file_types' | translate}}
                                                {{OrganizationGeneralSettingsStore.organizationSettings?.support_file_allowed_types.toString()}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-upload">
                                        <div class="darag-dropifile-upload">
                                            <div class="d-flex justify-content-center align-items-center text-center">
                                                <div>
                                                    <img src="assets/images/drag-pic.png" class="drag-pic-files">
                                                    <div class="drag-file-name">{{'drag_drop_file_here' | translate}}</div>
                                                    <div class="upload-btn-wrapper">
                                                        <input id="file" type="file" multiple name="myfile"
                                                            (change)="onFileChange($event,'support-file')"
                                                            [accept]="checkAcceptFileTypes('support-file')" />
                                                        <button class="btn">{{'browse_files' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div [ngClass]="files.success? 'col-sm-2 col-lg-4 up-pic-cf mt-2 hide_loader' : 'col-sm-2 col-lg-4 up-pic-cf mt-2'"
                                    *ngFor="let files of fileUploadsArray">
                                    <div class="upload-pics edit-option file-upload-loader">
                                        <circle-progress class="browse-form-pic" [percent]=files.uploadProgress
                                            [title]=files.uploadProgress>
                                        </circle-progress>
                                    </div>
                                </div>
              
                                <div [ngClass]="doc.is_deleted ? 'col-sm-2 col-lg-4 up-pic-cf mt-2 image_deleted':'col-sm-2 col-lg-4 up-pic-cf mt-2'"
                                    *ngFor="let doc of IncidentInvestigationStore.investigationIncidentObjects?.documents">
                                    <div class="upload-pics edit-option">
                                        <div *ngIf="doc.preview" class="browse-form-pic"
                                       [ngStyle]="{'background': 'url(' + doc.preview + ') no-repeat 0 0 / cover'}">
                                        </div>
                                        <div *ngIf="!doc.preview" class="browse-form-pic"
                                            [ngStyle]="{'background': 'url(' + createImageUrl('investigation-item',doc.token) + '), url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover '}">
                                        </div>
                                        <div class="browse-form-name clearfix">
                                            <div class="float-left">
                                                <h6 *ngIf="!doc.preview" [attr.title]="doc.title">
                                                    {{doc.title.length > 13 ? doc.title.substring(0,13)+'
                                                    ...': doc.title}}
                                                </h6>
                                                <h6 *ngIf="!doc.preview">{{doc?.name?.length>15 ? doc?.name.substring(0,15)+' ...':doc?.name}}</h6>                                                <span>{{doc.size/1048576 | number:'0.2-2'}}MB</span>
                                            </div>
                                            <div class="browse-logo">
                                                <img *ngIf="checkExtension(doc.ext,'excel') != -1"
                                                    src="/assets/images/md-xl.png">
                                                <img *ngIf="checkExtension(doc.ext,'image') != -1"
                                                    src="/assets/images/md-jpg.png">
                                                <img *ngIf="checkExtension(doc.ext,'doc') != -1"
                                                    src="/assets/images/md-doc.png">
                                                <img *ngIf="checkExtension(doc.ext,'pdf') != -1"
                                                    src="/assets/images/md-pdf.png">
                                            </div>
                                        </div>
                                        <div class="edit-option-show">
                                            <a (click)="removeDocument(doc.token)"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
    

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-block justify-content-left border-0 mt-3">
                                <button type="submit" class="btn btn-active" (click)="save()"
                                    >{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                                <button type="button" data-toggle="modal" data-target="#error-message"
                                    class="btn"
                                    (click)="cancel()" data-dismiss = "modal" >{{AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
    </div>
