<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>

    <app-breadcrumb-menu></app-breadcrumb-menu>

    <!-- <app-sub-menu></app-sub-menu> -->
    <app-sub-menu-drop-down></app-sub-menu-drop-down>
    <!-- <ul class="nav nav-pills edit-icons float-right  d-none d-xl-block" *mobxAutorun style="z-index: 999;" role="tablist"> -->
        <!-- <li *ngIf="checkItemPresent('go_to_audit')">
           <a class="dropdown-item pointer" 
           (click)="itemClicked(returnItem('go_to_audit'))">
           <i class="fa fa-paper-plane"></i>&nbsp;{{returnItem('go_to_audit').title ?
           returnItem('go_to_audit').title :
           'go_to_audit' | translate}}</a>
        </li>
        <li *ngIf="checkItemPresent('go_to_findings')">
            <a class="dropdown-item pointer" 
            (click)="itemClicked(returnItem('go_to_findings'))">
            <i class="fa fa-paper-plane"></i>{{returnItem('go_to_findings').title ?
            returnItem('go_to_findings').title :
            'go_to_findings' | translate}}</a>
        </li> -->
        <!-- <ng-container *ngFor="let item of SubMenuItemStore.subMenuItems">
            <li *ngIf="item.type=='go_to_audit'">
                <a (click)="itemClicked(item)">
                    <i class="fa fa-paper-plane"></i> {{!SubMenuItemStore.acceptClicked ? getButtonText('go_to_audit') :
                    getButtonText('loading') }}
                </a>
              
            </li>
            <li *ngIf="item.type=='go_to_findings'">
                <a (click)="itemClicked(item)">
                    <i class="fa fa-paper-plane"></i> {{!SubMenuItemStore.acceptClicked ? getButtonText('go_to_findings') :
                    getButtonText('loading') }}
                </a>
            </li>
        </ng-container> -->
    <!-- </ul> -->
</nav>

<!-- Profille -->
<main class="audit-program-details-page mt-3"
    *ngIf="CAActionPlanStore?.detailsLoaded && CAActionPlanStore?.CAActionPlanDetails">
    <div class="container-fluid widget" *mobxAutorun>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 padding-right-0">
                        <div class="bg-white widg-padding-cmn">
                            <div class=" min-height-64">
                                <div class="widget-body-light issuue-new-style p-0">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="issue-top-sec">
                                                <div class="clearfix">
                                                    <h5 class="d-inline-block cmn-head-style label-tag-style">
                                                        <span class="issue-smoal-head-text">#
                                                            {{CAActionPlanStore?.CAActionPlanDetails?.reference_code}}</span>
                                                        {{CAActionPlanStore?.CAActionPlanDetails?.title}}
                                                        <span [ngClass]="'draft-tag label-tag-style-tag label-left-arow-tag '+CAActionPlanStore?.CAActionPlanDetails?.control_assessment_action_plan_status.label"
                                                            style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;"
                                                            *ngFor="let sts of  CAActionPlanStore?.CAActionPlanDetails?.control_assessment_action_plan_status?.language">
                                                            {{sts?.pivot?.title}}</span>
                                                    </h5>
                                                </div>
                                                <div class="clearfix">
                                                    <p class="label-tag-style mb-2"><i
                                                            class="fas fa-calendar-alt date-pics-two"></i>
                                                        {{CAActionPlanStore?.CAActionPlanDetails?.start_date
                                                        |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        To
                                                        {{CAActionPlanStore?.CAActionPlanDetails?.target_date
                                                        |
                                                        date:
                                                        OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                                        <span
                                                            *ngIf="CAActionPlanStore?.CAActionPlanDetails?.control_assessment_action_plan_status?.type!='resolved' && CAActionPlanStore?.CAActionPlanDetails?.control_assessment_action_plan_status?.type!='closed'"
                                                            class="blinking">( {{getDaysRemaining()}}
                                                            {{'days remaining' | translate}} )
                                                        </span>
                                                        <!-- <span class="ml-2 mr-2"
                                                        *ngIf="FindingCorrectiveActionStore.CAActionPlanDetails?.corrective_action_status?.type!='resolved'&&FindingCorrectiveActionStore.CAActionPlanDetails?.corrective_action_status?.type!='closed'">|</span> -->
                                                        <!-- <span class="small-text pt-1 pl-2"
                                                            *ngIf="CAActionPlanStore?.CAActionPlanDetails?.corrective_action_status?.type!='resolved' && CAActionPlanStore?.CAActionPlanDetails?.corrective_action_status?.type!='closed'">{{CAActionPlanStore?.CAActionPlanDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage?CAActionPlanStore?.CAActionPlanDetails?.finding_corrective_action_status_updates.slice(-1)[0]?.percentage:0}}
                                                            %
                                                            {{'completed' | translate}}
                                                        </span> -->
                                                    </p>
                                                </div>
                                                <p *ngIf="CAActionPlanStore?.CAActionPlanDetails?.description != null"
                                                    style="white-space: pre-line;">
                                                    {{CAActionPlanStore?.CAActionPlanDetails?.description}}
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="label-and-user-pic">
                                                        <h6>{{'responsible_users' | translate}}</h6>
                                                        <ng-container *ngIf="CAActionPlanStore.CAActionPlanDetails?.responsible_users.length<=2">
                                                            <div class="d-inline-block" *ngFor="let users of CAActionPlanStore.CAActionPlanDetails?.responsible_users;let i=index">
                                                                <div style="padding: 3px 9px !important;position: relative;"  class="">
                                                                    <app-user-popup-box [source]="assignUserValues(users)"
                                                                    [showName]="true"></app-user-popup-box>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="CAActionPlanStore.CAActionPlanDetails?.responsible_users.length>2">
                                                            <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix">
                                                                <li class="rounde-hov-bg"
                                                                 *ngFor="let users of CAActionPlanStore.CAActionPlanDetails?.responsible_users">
                                                                    <app-user-popup-box [source]=" assignUserValues(users)" [showName]="false">
                                                                    </app-user-popup-box>                      
                                                                </li>
                                                            </ul>
                                                        </ng-container> 
                                                        
                                                        <!-- <app-user-popup-box
                                                            [source]="assignUserValues(CAActionPlanStore?.CAActionPlanDetails?.responsible_user)">
                                                        </app-user-popup-box> -->
                                                        <div
                                                            *ngIf="!CAActionPlanStore?.CAActionPlanDetails?.responsible_users">
                                                            {{AppStore.noContentText}}</div>
                                                    </div>
                                                </div>
                                                <div *ngIf="CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.document_version_content?.clause_number" class="col-lg-6 col-sm-12">
                                                    <h6>{{'clause' | translate}}</h6>
                                                    <p 
                                                    >
                                                    {{CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.document_version_content?.clause_number}} - {{CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.document_version_content?.title}}
                                                </p>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                 <div class="col-lg-6 col-sm-12">
                                                    <h6>{{'assessment' | translate}}</h6>
                                                    <p 
                                                    >
                                                    {{CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.control_assessment?.title?CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.control_assessment?.title:AppStore.noContentText
                                                    }}
                                                </p>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <h6>{{'control' | translate}}</h6>
                                                    <p 
                                                    >
                                                    {{CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.control?.title?CAActionPlanStore?.CAActionPlanDetails?.control_assessment_document_version_content_control?.control?.title:AppStore.noContentText}}
                                                </p>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <hr class="mb-2">
                                        <app-user-popup-box
                                            [source]=" getCreatedByPopupDetails(CAActionPlanStore?.CAActionPlanDetails?.created_by, CAActionPlanStore?.CAActionPlanDetails?.created_at)">
                                        </app-user-popup-box>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="bg-white widg-padding-cmn-small mb-3">
                            <h6>{{'action_plan'|translate}} {{CAActionPlanStore?.CAActionPlanDetails?.completion}}% {{'completed' | translate}}</h6>
                            <hr class="mt-0 mb-3">

                            <div
                            [ngClass]="CAActionPlanStore?.CAActionPlanDetails?.completion > 50 ?'progress-circle progress-circle-big-one over50 p'+CAActionPlanStore?.CAActionPlanDetails?.completion:'progress-circle progress-circle-big-one p'+CAActionPlanStore?.CAActionPlanDetails?.completion">
                                <span>{{CAActionPlanStore?.CAActionPlanDetails?.completion>0?CAActionPlanStore?.CAActionPlanDetails?.completion:0}}%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white widg-padding-cmn-small mb-3 pb-2">
                            <h6>
                                {{'days_remaining' | translate}}</h6>
                            <hr class="mt-0 mb-3">
                            <div class="clearfix">
                                <div class="dot-and-text mt-4">
                                    <p class="dot-div-new mb-0 dot-green d-block font-normal">
                                        {{'remaining_days'|translate}}
                                        ({{getDaysRemaining()}}{{' days'}})
                                    </p>
                                    <p class="dot-div-new mb-0 dot-red d-block font-normal">{{'total_days'|translate}}
                                        ({{getTotaldays()}}{{' days'}})
                                    </p>
                                </div>
                            </div>
                            <div class="vertical-progress-v2">
                                <div class="progress-bg-sec">
                                    <div class="progress-inner-color" [style.height.%]="(40/100)*100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<ng-container *mobxAutorun>
    <div *ngIf="!CAActionPlanStore?.detailsLoaded">
        <app-corrective-action-loader></app-corrective-action-loader>
    </div>
</ng-container>

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #UpdateCAformModal>
    <app-control-assessment-action-plan-update-status *ngIf="caUpdateObject.type" [source]="caUpdateObject">
    </app-control-assessment-action-plan-update-status>
</div>

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #historyPopup>
    <app-control-assessment-action-plan-history *ngIf="historyObject.type">
    </app-control-assessment-action-plan-history>
</div>



<!-- calling add Corrective Action modal -->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #addCAformModal>
    <app-add-action-plan-control-assessment *ngIf="actionPlanModalObject.type" [source]="actionPlanModalObject">
    </app-add-action-plan-control-assessment>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->
<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>