<div class="tab-pane active">
    <div class="row" *mobxAutorun>
       <div class="col-sm-12">
          <div class="widget bg-white">
             <!-- Nav tabs -->
             <!-- Tab panes -->
            <div class="widget-body-light profile-widg-padding">
               <h5>{{ProfileStore.organizationProfile?.title ? ProfileStore.organizationProfile?.title : AppStore.noContentText}}</h5>
               <p *ngIf = "ProfileStore.organizationProfile?.description && !ProfileStore.description_more" style="white-space: pre-line;">{{ ProfileStore.organizationProfile?.description.length > 2000 ? getDescriptionContent(ProfileStore.organizationProfile) :ProfileStore.organizationProfile?.description}}
                  <a *ngIf = "ProfileStore.organizationProfile?.description.length > 2000" (click) = "viewDescription('more')" class="view-more-pestel-box pointer view-more-doted">... {{'view_more'|translate}}</a>
               </p>
               <p *ngIf = "ProfileStore.organizationProfile?.description && ProfileStore.description_more" style="white-space: pre-line;">
                  {{ProfileStore.organizationProfile?.description}}
                  <a *ngIf = "ProfileStore.organizationProfile?.description.length > 2000" (click) = "viewDescription('less')" class="view-more-pestel-box pointer view-more-doted">{{'view_less'|translate}}</a>
               </p>
               <div *ngIf = "ProfileStore.loaded && !ProfileStore.organizationProfile?.description">
                  <app-context-no-data [sourceData] = "getNoDataSource('center')"></app-context-no-data>
                </div>
            </div>
          </div>
       </div>
       <div class="col-xl-6">
          <div class="widget bg-white vm-box">
             <!-- Nav tabs -->
             <!-- Tab panes -->
             <div class="vm-icon-bx"> <img src="assets/images/ico-vision.png"
                   class="d-block mx-auto img-fluid" alt="logo" /> </div>
             <div class="widget-body-light profile-widg-padding">
                <div class="vm-content-bx">
                  <h5>{{'vision' | translate}}</h5>
                  <div class="paragraph-texts-loop">
                     <p *ngIf = "ProfileStore.organizationProfile?.vision && !ProfileStore.vision_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.vision.length > 101 ? getVisionContent(ProfileStore.organizationProfile): ProfileStore.organizationProfile?.vision }}
                        <a *ngIf = "ProfileStore.organizationProfile?.vision.length > 101" (click) = "viewVision('more')" class="view-more-pestel-box pointer view-more-doted">... {{'view_more'|translate}}</a>
                     </p>
                     <p *ngIf = "ProfileStore.organizationProfile?.vision && ProfileStore.vision_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.vision }}
                        <a *ngIf = "ProfileStore.organizationProfile?.vision.length > 101" (click) = "viewVision('less')" class="view-more-pestel-box pointer view-more-doted">{{'view_less'|translate}}</a>
                     </p>
                  </div>
                  
                  <div *ngIf = "ProfileStore.loaded && !ProfileStore.organizationProfile?.vision">
                     <app-context-no-data [sourceData] = "getNoDataSource('center')"></app-context-no-data>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-6">
          <div class="widget bg-white vm-box">
             <!-- Nav tabs -->
             <!-- Tab panes -->
             <div class="vm-icon-bx"> <img src="assets/images/ico-mission.png" alt="logo"
                   class="d-block mx-auto img-fluid" /> </div>
             <div class="widget-body-light profile-widg-padding">
                <div class="vm-content-bx">
                  <h5>{{'mision' | translate}}</h5>
                  <div class="paragraph-texts-loop">
                     <p *ngIf = "ProfileStore.organizationProfile?.mision && !ProfileStore.mision_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.mision.length > 101 ? getMisionContent(ProfileStore.organizationProfile): ProfileStore.organizationProfile?.mision }}
                        <a  *ngIf = "ProfileStore.organizationProfile?.mision.length > 101" (click) = "viewMision('more')" class="view-more-pestel-box pointer view-more-doted">... {{'view_more'|translate}}</a>
                     </p>
                     <p *ngIf = "ProfileStore.organizationProfile?.mision && ProfileStore.mision_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.mision }}
                        <a  *ngIf = "ProfileStore.organizationProfile?.mision.length > 101" (click) = "viewMision('less')" class="view-more-pestel-box pointer view-more-doted">{{'view_less'|translate}}</a>
                     </p>
                  </div>
                  
                  <div *ngIf = "ProfileStore.loaded && !ProfileStore.organizationProfile?.mision">
                     <app-context-no-data [sourceData] = "getNoDataSource('center')"></app-context-no-data>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-12">
          <div class="widget bg-white">
             <!-- Nav tabs -->
             <!-- Tab panes -->
             <div class="widget-body-light profile-widg-padding ">
                <h5>{{'values' | translate}}</h5>
                <div *ngIf = "ProfileStore.organizationProfile?.values" class="text-editor-content bullet-point-list" [innerHTML] = "ProfileStore.organizationProfile?.values | safeHtml"></div>
                <div *ngIf = "ProfileStore.loaded && !ProfileStore.organizationProfile?.values">
                  <app-context-no-data [sourceData] = "getNoDataSource('center')"></app-context-no-data>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-12" *ngIf="ProfileStore.organizationProfile?.ceo_message || ProfileStore.organizationProfile?.ceo">
          <div class="widget bg-white">
             <!-- Nav tabs -->
             <!-- Tab panes -->
             <div class="widget-body-light profile-widg-padding md-quote-container">
               <h5>{{'ceo_message' | translate}}</h5>
               <div *ngIf = "ProfileStore.loaded && !ProfileStore.organizationProfile?.ceo_message && !ProfileStore.organizationProfile?.ceo">
                  <app-context-no-data [sourceData] = "getNoDataSource('center')"></app-context-no-data>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-2 mt-2"> 
                     <img *ngIf = "ProfileStore.loaded && ProfileStore.organizationProfile?.ceo" 
                     [attr.src] = "ProfileStore.organizationProfile?.ceo.image.token ? createImageUrl('logo',ProfileStore.organizationProfile?.ceo.image.token) : getDefaultImage('user-logo')" 
                     style="width:100%"
                     class="d-block mx-auto img-fluid" 
                     onerror="this.src='/assets/images/user-demo2.png'"/>
                  </div>
                   <div class="col-sm-10">
                     <p class="mt-4" *ngIf = "!ProfileStore.organizationProfile?.ceo_message">No CEO message available</p>
                     <div class="md-quote" *ngIf = "ProfileStore.loaded && ProfileStore.organizationProfile?.ceo_message"></div>
                     <div style="min-height: 115px;" class="relative" *ngIf="ProfileStore.organizationProfile?.ceo_message">
                     <p *ngIf = "ProfileStore.organizationProfile?.ceo_message && !ProfileStore.ceo_message_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.ceo_message.length > 1000 ? getCeoMessageContent(ProfileStore.organizationProfile): ProfileStore.organizationProfile?.ceo_message }}
                        <a  *ngIf = "ProfileStore.organizationProfile?.ceo_message.length > 1000" (click) = "viewCeoMessage('more')" class="view-more-pestel-box pointer view-more-doted">... {{'view_more'|translate}}</a>
                     </p>
                     <p *ngIf = "ProfileStore.organizationProfile?.ceo_message && ProfileStore.ceo_message_more" style="white-space: pre-line;">
                        {{ ProfileStore.organizationProfile?.ceo_message }}
                        <a  *ngIf = "ProfileStore.organizationProfile?.ceo_message.length > 1000" (click) = "viewCeoMessage('less')" class="view-more-pestel-box pointer view-more-doted">{{'view_less'|translate}}</a>
                     </p>
                     <span class="md-bottom-quote" *ngIf = "ProfileStore.loaded && ProfileStore.organizationProfile?.ceo_message"></span>
                    </div>
                    <hr class="mb-0" *ngIf="ProfileStore.organizationProfile?.ceo">
                     <div class="md-name mt-2" *ngIf = "ProfileStore.loaded && ProfileStore.organizationProfile?.ceo">{{ProfileStore.organizationProfile?.ceo.first_name}} {{ProfileStore.organizationProfile?.ceo.last_name}}</div>
                     <p class="mb-0" *ngIf = "ProfileStore.loaded && ProfileStore.organizationProfile?.ceo">{{ProfileStore.organizationProfile?.ceo.designation}}</p>
                     
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
