<!-- risk-update-popup Start -->
<!-- <div class="modal modal-style-1 fade popup-full-width" id="risk-update-popup" data-keyboard="false"
    data-backdrop="static" *mobxAutorun> -->
    <button type="button" class="close" data-dismiss="modal" (click)="closeUpdateModal()"><i
        class="lni-close"></i><span>{{'esc' | translate}}</span></button>
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{'update_risk_treatment_progress'|translate}}</h4>
          </div>
          <div class="modal-body form-body">
              <p class="head-details">{{'treatment_update_form_description'|translate}}</p>
  
              <form *ngIf="updateForm" [formGroup]="updateForm" id="updateForm">
  
                  <div class="row">
                      <div class="col-sm-12" *ngIf="IsmsRisksStore.individual_risk_loaded">
                          <div class="form-group">
                              <div class="cmn-bdr border-radius p-3">
                                  <div class="issue-top-sec">
                                      <div [ngClass]="IsmsRisksStore.individualRiskDetails?.description ? 'clearfix' : 'clearfix mb-2'">
                                          <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                                  class="issue-smoal-head-text">#{{IsmsRisksStore.individualRiskDetails?.reference_code}}</span>
                                              {{IsmsRisksStore.individualRiskDetails?.title}}</h5>
                                      </div>
                                      <!--style="white-space: pre-line;" {{IsmsRisksStore.individualRiskDetails?.description ? IsmsRisksStore.individualRiskDetails?.description : AppStore.noContentText}} -->
                                      <p *ngIf="IsmsRisksStore.individualRiskDetails?.description"
                                          [innerHTML]="IsmsRisksStore.individualRiskDetails?.description | safeHtml"></p>
                                      <!-- <p *ngIf="!IsmsRisksStore.individualRiskDetails?.description">
                                          {{AppStore.noContentText}}</p> -->
  
  
                                  </div>
  
                                  <div class="row">
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_subsidiary ? 'none':'block'}">
                                          <h6>{{'organizations'|translate}}</h6>
                                          <p>{{IsmsRisksStore.individualRiskDetails?.organizations.length>0?getArrayFormatedString('title',IsmsRisksStore.individualRiskDetails?.organizations):AppStore.noContentText}}
                                          </p>
                                          <!-- <p>{{IsmsRisksStore.individualRiskDetails?.organizations ? IsmsRisksStore.individualRiskDetails?.organizations.title : AppStore.noContentText}}</p> -->
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_division ? 'none':'block'}">
                                          <h6>{{'divisions'|translate}}</h6>
                                          <p>{{IsmsRisksStore.individualRiskDetails?.divisions.length>0?getArrayFormatedString('title',IsmsRisksStore.individualRiskDetails?.divisions):AppStore.noContentText}}
                                          </p>
                                          <!-- <p>{{IsmsRisksStore.individualRiskDetails?.divisions ? IsmsRisksStore.individualRiskDetails?.divisions.title : AppStore.noContentText}}</p> -->
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_department ? 'none':'block'}">
                                          <h6>{{'departments'|translate}}</h6>
                                          <p>{{IsmsRisksStore.individualRiskDetails?.departments.length>0?getArrayFormatedString('title',IsmsRisksStore.individualRiskDetails?.departments):AppStore.noContentText}}
                                          </p>
                                          <!-- <p>{{IsmsRisksStore.individualRiskDetails?.departments ? IsmsRisksStore.individualRiskDetails?.departments.title : AppStore.noContentText}}</p> -->
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_section ? 'none':'block'}">
                                          <h6>{{'sections'|translate}}</h6>
                                          <p>{{IsmsRisksStore.individualRiskDetails?.sections.length>0?getArrayFormatedString('title',IsmsRisksStore.individualRiskDetails?.sections):AppStore.noContentText}}
                                          </p>
                                          <!-- <p>{{IsmsRisksStore.individualRiskDetails?.sections ? IsmsRisksStore.individualRiskDetails?.sections.title : AppStore.noContentText}}</p> -->
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section ? 'none':'block'}">
                                          <h6>{{'sub_sections'|translate}}</h6>
                                          <p>{{IsmsRisksStore.individualRiskDetails?.sub_sections.length>0?getArrayFormatedString('title',IsmsRisksStore.individualRiskDetails?.sub_sections):AppStore.noContentText}}
                                          </p>
                                          <!-- <p>{{IsmsRisksStore.individualRiskDetails?.sub_sections ? IsmsRisksStore.individualRiskDetails?.sub_sections.title : AppStore.noContentText}}</p> -->
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6"
                                          *ngIf="IsmsRisksStore?.contextChartLoaded">
                                          <h6>{{'risk_rating'|translate}}</h6>
                                          <p>{{IsmsRisksStore.contextChartDetails.risk_analysis.risk_rating.language[0].pivot.title}}
                                          </p>
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6">
                                          <h6>{{'frequency_of_report'|translate}}</h6>
                                          <p>{{IsmsRisksStore?.individualRiskDetails.risk_review_frequency?IsmsRisksStore?.individualRiskDetails.risk_review_frequency.language[0]?.pivot?.title:AppStore.noContentText}}
                                          </p>
                                      </div>
                                      <div class="col-sm-12">
                                          <div class="label-and-user-pic mb-0">
                                              <h6>{{'risk_owner'|translate}}</h6>
                                              <app-user-popup-box id="jd"
                                                  *ngIf="IsmsRisksStore.individualRiskDetails?.risk_owner"
                                                  [source]="getRiskPopupDetails(IsmsRisksStore.individualRiskDetails?.risk_owner)">
                                              </app-user-popup-box>
                                              <div *ngIf="!IsmsRisksStore.individualRiskDetails?.risk_owner">
                                                  {{AppStore.noContentText}}</div>
                                          </div>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="issue-top-sec">
                                      <div class="clearfix">
                                          <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                                  class="issue-smoal-head-text">#{{IsmsRiskTreatmentStore.riskTreatmentDetails?.reference_code}}</span>
                                              {{IsmsRiskTreatmentStore.riskTreatmentDetails?.title}}</h5>
                                      </div>
                                      <!--style="white-space: pre-line;" {{IsmsRisksStore.individualRiskDetails?.description ? IsmsRisksStore.individualRiskDetails?.description : AppStore.noContentText}} -->
                                      <!-- <p *ngIf="IsmsRisksStore.individualRiskDetails?.description"
                                      [innerHTML]="IsmsRisksStore.individualRiskDetails?.description"></p>
                                  <p *ngIf="!IsmsRisksStore.individualRiskDetails?.description">
                                      {{AppStore.noContentText}}</p> -->
  
  
  
                                      <label>{{'risk_treatment_action_plan'|translate}}</label>
                                      <p style="white-space: pre-line;">{{IsmsRiskTreatmentStore.riskTreatmentDetails?.description?IsmsRiskTreatmentStore.riskTreatmentDetails?.description:AppStore.noContentText}}
                                      </p>
                                  </div>
                                  <div class="row">
                                      <div class="col-xl-3 col-lg-4 col-sm-6">
                                          <h6>{{'start_date'|translate}}</h6>
                                          <p>{{IsmsRiskTreatmentStore?.riskTreatmentDetails?.start_date}}
                                          </p>
                                      </div>
                                      <div class="col-xl-3 col-lg-4 col-sm-6">
                                          <h6>{{'target_date'|translate}}</h6>
                                          <p>{{IsmsRiskTreatmentStore?.riskTreatmentDetails?.target_date}}
                                          </p>
                                      </div>
                                      <div class="col-xl-6 col-lg-12 col-sm-12">
                                          <div class="label-and-user-pic mb-0">
                                              <!-- <div class="label-and-user-pic user-big-pic"> -->
                                              <h6>{{'risk_treatment_owner'|translate}}</h6>
                                              <app-user-popup-box id="jd"
                                                  *ngIf="IsmsRiskTreatmentStore.riskTreatmentDetails?.responsible_user"
                                                  [source]="getPopupDetails(IsmsRiskTreatmentStore.riskTreatmentDetails?.responsible_user)">
                                              </app-user-popup-box>
                                              <!-- </div> -->
                                              <div
                                                  *ngIf="!IsmsRiskTreatmentStore.riskTreatmentDetails?.responsible_user">
                                                  {{AppStore.noContentText}}</div>
                                          </div>
                                      </div>
  
  
  
  
                                  </div>
  
  
  
                              </div>
                          </div>
  
                      </div>
                      <div class="col-sm-12">
  
                          <div class="audit-form-table w-100 table-align-top not-fixed-table mb-3"
                              *ngIf="IsmsRiskTreatmentStore.treatmentUpdateDataLoaded && IsmsRiskTreatmentStore.historyData.length>0">
                              <table
                                  class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                                  <thead>
                                      <tr>
                                          <th class="border-top-0" style="width: 4%;">#</th>
                                          <th class="border-top-0" style="width: 34%;">{{'actions'|translate}}</th>
  
                                          <!-- <th class="border-top-0" style="width: 8%;">Responsibility</th> -->
                                          <th class="border-top-0" style="width: 10%;">%{{'completed'|translate}}</th>
                                          <!-- <th class="border-top-0" style="width: 13%;">Proposed Start Date</th> -->
                                          <th class="border-top-0" style="width: 12%;">{{'actual_start_date'|translate}}</th>
                                          <!-- <th class="border-top-0" style="width: 8%;">Baseline Due Date</th> -->
                                          <th class="border-top-0" style="width: 12%;">{{'revised_due_date'|translate}}</th>
                                          <th class="border-top-0" style="width: 10%;" colspan="2">{{'status'|translate}}</th>
  
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr
                                          *ngFor="let history of IsmsRiskTreatmentStore.historyData| paginate: {id:'historyUpdate',currentPage:IsmsRiskTreatmentStore?.historyCurrentPage, itemsPerPage:IsmsRiskTreatmentStore?.historyItemsPerPage,totalItems:IsmsRiskTreatmentStore?.historyTotalItems};let num = index">
                                          <td>{{num+1}}</td>
                                          <td>{{history.comment?history.comment:AppStore.noContentText}}</td>
                                          <!-- <td></td> -->
                                          <td>{{history.percentage?history.percentage:AppStore.noContentText}}
                                          </td>
                                          <td>{{history.actual_start_date?history.actual_start_date:AppStore.noContentText}}
                                          </td>
                                          <!-- <td></td> -->
                                          <td>{{history.revised_target_date?history.revised_target_date:AppStore.noContentText}}
                                          </td>
                                          <!-- <td></td> -->
  
                                          <td class="text-center">
                                            <div [ngClass]="'dot-div '+history.label+'-dot'">{{history.risk_treatment_status_title}}</div> 
                                            <!-- <span
                                                  [ngClass]="'dot-div '+history.label+'-dot'"></span>{{history.risk_treatment_status_title}} -->
                                          </td>
                                          <!-- <td></td> -->
  
                                      </tr>
  
                                  </tbody>
                              </table>
                              <ul class="pagination justify-content-center mt-3"
                                  *ngIf="IsmsRiskTreatmentStore?.historyTotalItems>IsmsRiskTreatmentStore?.historyItemsPerPage">
                                  <pagination-controls (pageChange)="historyPageChange($event)"
                                      class="my-pagination" id="historyUpdate"></pagination-controls>
                              </ul>
  
                          </div>
                      </div>
                  </div>
  
  
  
  
                  <div class="row">
  
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="name">{{'status' | translate}}<sup>*</sup></label>
                              <!-- <div class="plain-select">
                              
                              <select class="form-control" name="test" formControlName="risk_treatment_status_id">
                   <option *ngFor="let status of RiskTreatmentStatusStore.allItems" [value]="status.id">{{status.risk_treatment_status_language_title}}</option>
                
                 </select>
                          </div> -->
                              <div class="clearfix">
                                  <div class="multiple-plain-ngselect">
  
                                      <ng-select [multiple]="false" [placeholder]="'select_status' | translate"
                                          searchable="false" formControlName="risk_treatment_status_id"
                                          (search)="searchStatus($event)" (clear)="getStatus()"
                                          (open)="getStatus()" (change)="checkForStatus($event)">
                                          <ng-option [value]="status.id" *ngFor="let status of statuses">
                                              {{status.risk_treatment_status_language_title}}
                                          </ng-option>
                                      </ng-select>
                                      <!-- setValuesToShow('subsidiary',type) -->
                                      <!-- <ng-select [placeholder]="'subsidiaries'|translate" [multiple]="false"
                                              searchable="true" (search)="searchCountry($event)"
                                              formControlName="country_id" (clear)="getCountry()"
                                              (open)="getCountry()">
                                              <ng-option [value]="type.id"
                                                  *ngFor="let type of SubsidiaryStore.subsidiaryList">
                                                  {{type.title}}
                                              </ng-option>
                                          </ng-select> -->
                                  </div>
                                  <p class="form-error pt-1"
                                      *ngIf="formErrors&&formErrors.risk_treatment_status_id">
                                      {{formErrors.risk_treatment_status_id[0]}}</p>
  
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label for="name">{{'completion_percentage' | translate}}<sup>*</sup></label>
                              <div class="plain-select">
                                  <select class="form-control" name="test" formControlName="percentage">
                                      <option placeholder="Enter completion percentage"
                                          [disabled]="(updateForm.value.risk_treatment_status_id==1 || updateForm.value.risk_treatment_status_id==3 || (updateForm.value.risk_treatment_status_id==2 && (i==0 || i==100)))?true:false"
                                          *ngFor="let i of percentage" (change)="checkForPercentage(i)"
                                          [value]="i">{{i}}</option>
                                  </select>
                                  <p class="form-error pt-1" *ngIf="formErrors&&formErrors.percentage">
                                      {{formErrors.percentage[0]}}</p>
  
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4"
                      *ngIf="IsmsRiskSettingStore.loaded && IsmsRiskSettingStore.ismsRiskSettings.is_budget">
                      <div class="form-group">
                          <label for="name">{{'amount_used' | translate}}
                              ({{OrganizationGeneralSettingsStore?.organizationSettings?.currency}})</label>
                          <div class="plain-select input-add-report">
                              <input type="text" formControlName="amount_used" class="form-control"
                                  [placeholder]="'enter_amount_used'|translate"/>
                          </div>
                          <p class="form-error pt-1"
                              *ngIf="updateForm?.get('amount_used').invalid && updateForm.value.amount_used">
                              {{'permit_number_decimals_only'|translate}}</p>
                          <p class="form-error pt-1" *ngIf="formErrors&&formErrors.amount_used">
                              {{formErrors.amount_used[0]}}</p>
                         
                      </div>
                  </div>
                     
                      <!-- <div class="col-sm-12"
                          *ngIf="IsmsRiskSettingStore.loaded && IsmsRiskSettingStore.ismsRiskSettings.is_budget">
                          <div class="form-group">
                              <label for="name">{{'budget_used' | translate}}</label>
                              <div class="bg-main p-3">
  
  
                                  <div class="slider-new-type-input" *ngIf="updateForm.value.amount_used">
                                      <div class="range-slider">
                                          <div class="d-flex">
                                              <div class="w-50 text-right">
                                                  <span
                                                      class="range-slider__value d-block">{{OrganizationGeneralSettingsStore?.organizationSettings?.currency}}
                                                      {{updateForm.value.amount_used?updateForm.value.amount_used:0}}</span>
                                              </div>
                                              <div class="w-50 text-right">
                                                  <small style="font-size: 13px;">Allocated Budget:
                                                      {{IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget?IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget:0}}
                                                  </small>
                                              </div>
                                          </div>
  
                                          <input class="range-slider__range" type="range"
                                              value="updateForm.value.amount_used" (change)="getValue($event)"
                                              formControlName="amount_used" min="0"
                                              [attr.max]="IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget && IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget>0?convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget) + (convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget)*25/100):0">
  
                                      </div>
  
                                  </div>
  
                                  <div class="slider-new-type-input" *ngIf="!updateForm.value.amount_used">
                                      <div class="range-slider">
                                          <span
                                              class="range-slider__value d-block">{{OrganizationGeneralSettingsStore?.organizationSettings?.currency}}
                                              {{updateForm.value.amount_used?updateForm.value.amount_used:0}}</span>
                                          <input class="range-slider__range" type="range" value="0"
                                              (change)="getValue($event)" min="0"
                                              max="(convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget))*25/100">
  
                                      </div>
  
                                  </div>
  
  
  
  
                                  <div class="slider-progress-value-main relative">
                                      <span
                                          class="slider-progress-value slider-left-text">{{OrganizationGeneralSettingsStore?.organizationSettings?.currency}}
                                          0</span>
                                      <span
                                          class="slider-progress-value slider-center-text text-light-blue">{{OrganizationGeneralSettingsStore?.organizationSettings?.currency}}
                                          {{IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget?((convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget))+(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget*25/100))/2:50000.00}}</span>
                                      <span
                                          class="slider-progress-value slider-right-text">{{OrganizationGeneralSettingsStore?.organizationSettings?.currency}}
                                          {{IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget?(convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget))+((convertToNumber(IsmsRiskTreatmentStore?.riskTreatmentDetails?.budget))*25/100):100000.00}}</span>
                                  </div>
  
                             
                                  <p class="form-error pt-1" *ngIf="formErrors&&formErrors.amount_used">
                                      {{formErrors.amount_used[0]}}</p>
                              </div>
                          </div>
                      </div> -->
                      <div class="col-sm-12" *ngIf="OrganizationModulesStore.checkIndividualSubModule(900,33101)">
                          <div class="form-group">
                              <label for="name">{{'actions'|translate}}</label>
                              <textarea class="form-control " rows="3" id="comment" formControlName="comment"
                                  placeholder="Enter Actions"></textarea>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.comment">
                                  {{formErrors.comment[0]}}</p>
                          </div>
  
                      </div>
  
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="name">{{'actual_start_date'|translate}}</label>
                              <div class="input-group date-picker input-clear-btn-main">
                                  <input formControlName="actual_start_date" class="form-control bg-white"
                                      placeholder="yyyy-mm-dd" id="start_date" [readonly]="true"
                                      [maxDate]="{year: updateForm.value.revised_target_date?.year?this.updateForm.value.revised_target_date?.year:null, month: updateForm.value.revised_target_date?.month?this.updateForm.value.revised_target_date?.month:null, day: updateForm.value.revised_target_date?.day?this.updateForm.value.revised_target_date?.day-1:null}"
                                      ngbDatepicker #startInput="ngbDatepicker"><span
                                      *ngIf="updateForm.value.actual_start_date" aria-hidden="true"
                                      (click)="clear('start_date')" style="border:none;"
                                      class="input-clear-btn">×</span>
  
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar"
                                          (click)="startInput.toggle()" type="button"><i
                                              class="fas fa-calendar-alt"></i></button>
                                  </div>
                                  <!-- <input formControlName="start_date" class="form-control cal3" placeholder="Enter Field Name"> -->
                              </div>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.actual_start_date">
                                  {{formErrors.actual_start_date[0]}}</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="name">{{'revised_due_date'|translate}}</label>
                              <div class="input-group date-picker input-clear-btn-main">
                                  <!-- <input formControlName="target_date" class="form-control cal4"
                                  placeholder="Enter Field Name"> -->
                                  <input formControlName="revised_target_date" class="form-control bg-white"
                                      placeholder="yyyy-mm-dd" id="target_date" ngbDatepicker [readonly]="true"
                                      [minDate]="{year: this.updateForm.value.actual_start_date?.year, month: this.updateForm.value.actual_start_date?.month, day: this.updateForm.value.actual_start_date?.day+1}"
                                      #endInput="ngbDatepicker"><span aria-hidden="true"
                                      *ngIf="updateForm.value.revised_target_date" (click)="clear('target_date')"
                                      style="border:none;" class="input-clear-btn">×</span>
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar"
                                          (click)="endInput.toggle()" type="button"><i
                                              class="fas fa-calendar-alt"></i></button>
                                  </div>
                              </div>
                              <p class="form-error pt-1" *ngIf="formErrors&&formErrors.revised_target_date">
                                  {{formErrors.revised_target_date[0]}}</p>
                          </div>
                      </div>
  
                  </div>
  
                  <label class="label-style mb-0">{{'evidences'|translate}}</label>
                  <div class="" #uploadArea>
                      <div class="row m-0 upload-section" style="padding-top: 0">
                          <div class="col-sm-4 costmz-logo-new mt-2">
                              <div class="question-circle-inp"
                                  *ngIf="OrganizationGeneralSettingsStore.organizationSettings?.support_file_allowed_types.length > 0"
                                  style="margin-right: 7px;">
                                  <i class="far fa-question-circle"></i>
                                  <div class="message-password-inp">
                                      <p class="mb-0">{{'allowed_file_types' | translate}}
                                          {{OrganizationGeneralSettingsStore.organizationSettings?.support_file_allowed_types.toString()}}
                                      </p>
                                  </div>
                              </div>
                              <div class="form-group form-group-upload">
                                  <div class="darag-dropifile-upload">
                                      <div class="d-flex justify-content-center align-items-center text-center">
                                          <div>
                                              <img src="assets/images/drag-pic.png" alt="image"
                                                  class="drag-pic-files">
                                              <div class="drag-file-name"> {{'drag_drop_file_here'|translate}}
                                              </div>
                                              <div class="upload-btn-wrapper">
                                                  <input type="file" multiple name="myfile"
                                                      (change)="onFileChange($event,'support-file')"
                                                      accept="application/msword, application/pdf, image/* " />
                                                  <button class="btn">{{'browse_files'|translate}}</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div [ngClass]="files.success? 'col-sm-4 up-pic-cf mt-2 hide_loader' : 'col-sm-4 up-pic-cf mt-2'"
                              *ngFor="let files of fileUploadsArray">
                              <div class="upload-pics edit-option file-upload-loader">
                                  <circle-progress class="browse-form-pic" [percent]=fileUploadProgress
                                      [title]=fileUploadProgress>
                                  </circle-progress>
                              </div>
                          </div>
  
  
                          <div [ngClass]="doc.is_deleted ? 'col-sm-4 up-pic-cf mt-2 image_deleted':'col-sm-4 up-pic-cf mt-2'"
                              *ngFor="let doc of IsmsRiskTreatmentStore.getDocumentDetails">
                              <div class="upload-pics edit-option">
                                  <div *ngIf="doc.preview" class="browse-form-pic"
                                      [ngStyle]="{'background': 'url(' + doc.preview + ') no-repeat 0 0 / cover'}">
                                  </div>
                                  <div class="browse-form-name clearfix">
                                      <div class="float-left">
                                          <h6 [attr.title]="doc.name.length>15?doc.name:''">
                                              {{doc.name.length>15?doc.name.substring(0,15)+' ...':doc.name}}
                                          </h6>
                                          <span>{{doc.size/1048576 | number:'0.2-2'}}MB</span>
                                      </div>
                                      <div class="browse-logo">
                                          <img *ngIf="checkExtension(doc.ext,'excel') != -1"
                                              src="/assets/images/md-xl.png">
                                          <img *ngIf="checkExtension(doc.ext,'image') != -1"
                                              src="/assets/images/md-jpg.png">
                                          <img *ngIf="checkExtension(doc.ext,'doc') != -1"
                                              src="/assets/images/md-doc.png">
                                          <img *ngIf="checkExtension(doc.ext,'pdf') != -1"
                                              src="/assets/images/md-pdf.png">
                                          <img *ngIf="checkExtension(doc.ext,'video') != -1"
                                              src="/assets/images/md-video.png">
                                          <img *ngIf="checkExtension(doc.ext,'audio') != -1"
                                              src="/assets/images/md-audio.png">
                                          <img *ngIf="checkExtension(doc.ext,'ppt') != -1"
                                              src="/assets/images/md-ppt.png">
  
                                      </div>
                                  </div>
                                  <div class="edit-option-show">
                                      <a (click)="removeDocument(doc.token)"><i class="fas fa-trash"></i></a>
                                  </div>
  
                              </div>
  
                          </div>
  
                      </div>
                  </div>
                  <p style="color: red;" *ngIf="formErrors&&formErrors.documents">
                      {{formErrors.documents[0]}}</p>
  
  
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="d-block justify-content-left border-0 mt-3">
                              <button type="button" data-toggle="modal" (click)="updateTreatment()"
                                  class="btn ordinary-btn mr-3 btn-active">{{AppStore.loading?getButtonText('loading'):getButtonText('save')}}</button>
                              <button type="button" data-toggle="modal" (click)="updateTreatment(true)"
                                  class="btn ordinary-btn mr-3">{{AppStore.loading?getButtonText('loading'):getButtonText('save_close')}}</button>
                              <button type="button" data-toggle="modal" (click)="closeUpdateModal()"
                                  class="btn ordinary-btn mr-2">{{AppStore.loading?getButtonText('loading'):getButtonText('cancel')}}</button>
                          </div>
                      </div>
                  </div>
  
              </form>
  
          </div>
  
      </div>
  </div>
    <!-- </div> -->
    <!-- risk-update-popup End -->