

<div class="tab-pane fade show" id="training" role="tabpanel" *mobxAutorun>
    <div class="p-30" *ngIf="ProfileTrainingStore.loaded">
        <div class="panel-group panel-drop-sections panel-drop-white" id="jd" role="tablist" aria-multiselectable="true">
           <div class="panel panel-default">
             <div [ngClass]="up_coming == 'active' ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne"
                   >

                <div class="panel-title">
                   <a role="button" data-toggle="collapse" href="#training-one" aria-expanded="false" aria-controls="collapse-one" class="collapsed" 
                   (click)="setTrainingType('up-coming')">
                      <h5 class="width96pc mt-0">{{ 'upcoming' | translate}}<span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                   </a>
                </div>
             </div>
             <div id="training-one"  class="panel-collapse collapse show" role="tabpanel"
              aria-labelledby="headingOne" data-parent="#training-one" #upcoming>
                <div class="panel-body bg-white pb-1"
                *ngIf="ProfileTrainingStore.profileTraining?.up_coming?.length > 0">

                  <div class="cmn-bdr widg-padding-cmn pt-3 pb-3 mb-3 left-bold-border left-blue-border"
                  *ngFor="let row of ProfileTrainingStore.profileTraining.up_coming; let num=index">
                    <div class="row align-items-center">
                      <div class="col-lg-5 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.title | titlecase}}</h6>
                          <p *ngIf="row.venue!=null || row.web_url != null" class="mb-0"><span class="mr-1"><i [ngClass]="row.venue == null ? 'fas fa-globe ml-2' :'fas fa-map-marker-alt'"></i></span>{{row.venue== null ? row.web_url : row.venue}}</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.start_date | date:
                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}} - {{row.end_date | date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</h6>
                          <p class="mb-0"><span class="mr-1"><i class="fas fa-clock"></i></span>{{row.start_date | date: 'h:mm a'}} - {{row.end_date | date: 'h:mm a'}}</p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="pt-2 pb-2 training-btns-sec"
                         *ngIf="row.is_accepted == null && row.is_rejected == null">
                          <button type="button" class="btn btn-green" (click)="acceptConfirm(row.training_id)">{{ AppStore.loading ? getButtonText('loading') : getButtonText('on_accept')}}</button>
                          <button type="button" class="btn btn-red" (click)="rejectConfirm(row.training_id)">{{ AppStore.loading ? getButtonText('loading') : getButtonText('on_reject')}}</button>
                        </div>
                        <div class="pt-2 pb-2 training-btns-sec training-ac-re-sec"
                        *ngIf="row.is_accepted != null || row.is_rejected != null">
                            <h5 class="font-normal mb-0 text-green" *ngIf="row.is_accepted == 1"
                            ><span class="mr-2"><i class="fas fa-check-circle"></i></span>{{'accepted' | translate}}</h5>
                            <h5 class="font-normal mb-0 text-red" *ngIf="row.is_rejected == 1"
                            ><span class="mr-2"><i class="fas fa-check-circle"></i></span>{{'rejected' | translate}}</h5>
                            <!-- <h5 class="font-normal mb-0 text-red"><span class="mr-2"><i class="fas fa-times-circle"></i></span>Rejected</h5> -->
                          </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="p-3" *ngIf="ProfileTrainingStore.profileTraining?.up_coming?.length == 0">
                  {{AppStore.noContentText}}
                </div>
             </div>
             
          </div>
           <div class="panel panel-default">
              <div [ngClass]="miss == 'active' ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne">
                 <div class="panel-title">
                    <a role="button" data-toggle="collapse" href="#training-two" aria-expanded="false" aria-controls="collapseOne"
                     class="collapsed" (click)="setTrainingType('missed')">
                       <h5 class="width96pc mt-0">{{ 'missed' | translate}}<span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                    </a>
                 </div>
              </div>
              <div id="training-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#training-two" #missed>
                 <div class="panel-body bg-white pb-1"
                 *ngIf="ProfileTrainingStore.profileTraining?.missed?.length > 0">

                  <div class="cmn-bdr widg-padding-cmn pt-3 pb-3 mb-3 left-bold-border left-orange-border"
                  *ngFor="let row of ProfileTrainingStore.profileTraining.missed; let num=index">
                    <div class="row align-items-center">
                      <div class="col-lg-5 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.title | titlecase}}</h6>
                          <p *ngIf="row.venue!=null || row.web_url != null" class="mb-0"><span class="mr-1"><i [ngClass]="row.venue == null ? 'fas fa-globe ml-2' :'fas fa-map-marker-alt'"></i></span>{{row.venue== null ? row.web_url : row.venue}}</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.start_date | date:
                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}}-{{row.end_date | date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</h6>
                          <p class="mb-0"><span class="mr-1"><i class="fas fa-clock"></i></span>{{row.start_date | date: 'h:mm a'}} - {{row.end_date | date: 'h:mm a'}}</p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="pt-2 pb-2 training-btns-sec">
                          <h5 class="font-normal mb-0 text-orange">{{getDaysDiffer(row.created_at)}} {{'overdue' | translate}}</h5>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="p-3" *ngIf="ProfileTrainingStore.profileTraining?.missed?.length == 0">
                  {{AppStore.noContentText}}
                </div>
              </div>
           </div>
           <div class="panel panel-default">
              <div [ngClass]="trainingType == 'completed' ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne"
              >
                 <div class="panel-title">
                    <a role="button" data-toggle="collapse" href="#training-three" aria-expanded="false" aria-controls="collapseOne"
                    (click)="setTrainingType('completed')" class="collapsed">
                       <h5 class="width96pc mt-0">{{ 'completed' | translate}}<span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                    </a>
                 </div>
              </div>
              <div id="training-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#training-three" #completed>
                 <div class="panel-body bg-white pb-1"
                 *ngIf="ProfileTrainingStore.profileTraining?.completed?.length > 0">

                  <div class="cmn-bdr widg-padding-cmn pt-3 pb-3 mb-3 left-bold-border left-green-border"
                  *ngFor="let row of ProfileTrainingStore.profileTraining.completed; let num=index">
                    <div class="row align-items-center">
                      <div class="col-lg-5 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.title | titlecase}}</h6>
                          <p *ngIf="row.venue!=null || row.web_url != null" class="mb-0"><span class="mr-1"><i [ngClass]="row.venue == null ? 'fas fa-globe ml-2' :'fas fa-map-marker-alt'"></i></span>{{row.venue== null ? row.web_url : row.venue}}</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.start_date | date:
                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}}-{{row.end_date | date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</h6>
                          <p class="mb-0"><span class="mr-1"><i class="fas fa-clock"></i></span>{{row.start_date | date: 'h:mm a'}} - {{row.end_date | date: 'h:mm a'}}</p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="pt-2 pb-2 training-btns-sec">
                          <h5 class="font-normal mb-0 text-green">{{'completed' | translate}} {{getDaysDiffer(row.created_at)}} ago</h5>
                          <!-- {{getDaysDiffer(row.status?.updated_at)}} ago -->
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="p-3" *ngIf="ProfileTrainingStore.profileTraining?.completed?.length == 0">
                  {{AppStore.noContentText}}
                </div>
              </div>
           </div>
           <div class="panel panel-default">
              <div  [ngClass]="trainingType == 'rejected' ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne"
              >
                 <div class="panel-title">
                    <a role="button" data-toggle="collapse" href="#training-four" aria-expanded="false" aria-controls="collapseOne" 
                    (click)="setTrainingType('rejected')" class="collapsed">
                       <h5 class="width96pc mt-0">{{ 'rejected' | translate}}<span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> </h5>
                    </a>
                 </div>
              </div>
              <div id="training-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#training-four" #rejected>
                 <div class="panel-body bg-white pb-1"
                 *ngIf="ProfileTrainingStore.profileTraining?.rejected?.length > 0">

                  <div class="cmn-bdr widg-padding-cmn pt-3 pb-3 mb-3 left-bold-border left-red-border"
                  *ngFor="let row of ProfileTrainingStore.profileTraining.rejected; let num=index">
                    <div class="row align-items-center">
                      <div class="col-lg-5 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.title | titlecase}}</h6>
                          <p *ngIf="row.venue!=null || row.web_url != null" class="mb-0"><span class="mr-1"><i [ngClass]="row.venue == null ? 'fas fa-globe ml-2' :'fas fa-map-marker-alt'"></i></span>{{row.venue== null ? row.web_url : row.venue}}</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="pt-2 pb-2">
                          <h6>{{row.start_date | date:
                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}}-{{row.end_date | date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}</h6>
                          <p class="mb-0"><span class="mr-1"><i class="fas fa-clock"></i></span>{{row.start_date | date: 'h:mm a'}} - {{row.end_date | date: 'h:mm a'}}</p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="pt-2 pb-2 training-btns-sec">
                          <h5 class="font-normal mb-0 text-red">{{'rejected' | translate}} {{getDaysDiffer(row.created_at)}} ago</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="p-3" *ngIf="ProfileTrainingStore.profileTraining?.rejected?.length == 0">
                  {{AppStore.noContentText}}
                </div>
              </div>
           </div>
           
           
        </div>
    </div>
</div>

<!-- <ng-container *ngIf="ProfileTrainingStore.loaded">
  <app-acl-list></app-acl-list>
</ng-container> -->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
  <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>