<div class="tab-pane" id="processes">
   <div class="row">
       <div class="col-sm-12">
          <div class="widget bg-white">
             <!-- Nav tabs -->
             <!-- Tab panes -->
             <div class="widget-body-light right-block bg-body">
                <!-- panel-drop-sections starts -->
                <div class="row">
                   <div class="col-sm-12">
                      <div class="widget-body-light right-block">
                         <div class="row">
                            <div class="col-sm-12">
                              <table *ngIf = "IssueListStore.selectedIssueData?.processes.length > 0" class="table table-bordered ordinary-table audit-page-table mb-2 table-scroll">
                                 <tr>
                                    <th class="border-top-0 text-center" width="5%">{{'sl' | translate}}</th>
                                    <th class="border-top-0" width="10%">{{'ref_id' | translate}}</th>
                                    <th class="border-top-0" width="40%">{{'process' | translate}}</th>
                                    <th class="border-top-0" width="20%">{{'process_category' | translate}}</th>
                                    <th class="border-top-0" width="23%">{{'process_group' | translate}}</th>
                                 </tr>
                                 <tr *ngFor = "let process of IssueListStore.selectedIssueData?.processes; let p = index">
                                    <td class="text-center">{{p+1}}</td>
                                    <td>{{process.reference_code}}</td>
                                    <td>{{process.title}}</td>
                                    <td>{{process.process_category ? process.process_category.title : AppStore.noContentText}}</td>
                                    <td>{{process.process_group ? process.process_group.title : AppStore.noContentText}}</td>
                                 </tr>
                              </table>
                               <!-- <div class="panel-group panel-drop-sections" id="jd" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-default" *ngFor = "let process of IssueListStore.selectedIssueData?.processes; let p = index">
                                     <div [ngClass]="selectedIndex == p ? 'panel-heading active' : 'panel-heading'" role="tab" id="headingOne">
                                        <div class="panel-title pointer">
                                           <a role="button" data-toggle="collapse" (click) = "selectedIndexChanged(p)" [attr.aria-expanded]="selectedIndex == p ? 'true' : 'false'" aria-controls="collapseOne" [ngClass]="selectedIndex == p ? '' : 'collapsed'">
                                             
                                                <h5 class="width96pc mt-0"> #{{process.reference_code}}-{{process.process_group.title}} 
                                                <span class="drop-down-icone"><i class="fas fa-chevron-down"></i></span> 
                                             </h5>
                                           </a>
                                        </div>
                                     </div>
                                     <div [attr.id]="'ceo'+p" [ngClass]="selectedIndex == p ? 'panel-collapse collapse show' : 'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingOne" [attr.data-parent]="'#ceo'+p" >
                                       <div class="panel-body bg-white">
                                          <div class="drop-detail-sec">
                                             <ul class="banking-issue">
                                                <li class="clearfix"><a>{{process.title}}</a></li>
                                             </ul>
                                             <table class="table table-bordered ordinary-table audit-page-table mb-2 table-scroll">
                                                <tr>
                                                   <th class="border-top-0" width="8%">
                                                         #</th>
                                                   <th class="border-top-0" width="10%">{{'ref_id' | translate}}</th>
                                                   <th class="border-top-0" width="40%">{{'process' | translate}}</th>
                                                   <th class="border-top-0" width="20%">{{'process_category' | translate}}</th>
                                                </tr>
                                                <tr>
                                                   <td>{{p+1}}</td>
                                                   <td>{{process.reference_code}}</td>
                                                   <td>{{process.title}}</td>
                                                   <td>{{process.process_category ? process.process_category.title : AppStore.noContentText}}</td>
                                                </tr>
                                             </table>
                                          </div>
                                        </div>
                                     </div>
                                  </div>
                                 
                               </div> -->
                            
                              <ng-container *mobxAutorun>
                                 <app-no-data *ngIf = "IssueListStore.selectedIssueData?.processes.length == 0"></app-no-data>
                             </ng-container>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- panel-drop-sections end -->
             </div>
          </div>
       </div>
    </div>
 </div>