<ng-container *mobxAutorun>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' |
            translate}}</span></button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'strategy_mapping' | translate}}</h4>
            </div>
            <!-- <div class="modal-body form-body">
                <p class="head-details">{{'sm_profile_modal_brief' | translate}}</p>
            </div> -->


            <div class="common-tab-md clearfix">
                <div class="tab-common-left-md">
                    <div class=" issues-tab">
                        <!-- tab menu start -->
                        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                            <li class="nav-item"> <a (click)="gotoSection('process')" class="nav-link active" data-toggle="tab"
                                    role="tab" aria-controls="lorem" aria-selected="false">{{'processes' | translate}}</a>
                            </li>
                            <li class="nav-item"> <a (click)="gotoSection('issue')"  class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="ipsum" aria-selected="false"> {{'issues' |
                                    translate}}</a>
                            </li>
                            <li class="nav-item"> <a (click)="gotoSection('service')" class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="lorem" aria-selected="false">{{'services' | translate}}</a>
                            </li>
                            <li class="nav-item" *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100,2901)"> <a
                                    (click)="gotoSection('product')" class="nav-link" data-toggle="tab" role="tab" aria-controls="lorem"
                                    aria-selected="false">{{'products' | translate}}</a>
                            </li>
                            <li class="nav-item"> <a (click)="gotoSection('risk')" class="nav-link"
                                    data-toggle="tab" role="tab" aria-controls="ipsum" aria-selected="false"> {{'risks' |
                                    translate}}</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(1100,49301)"> <a
                                    (click)="gotoSection('audit_finding')" class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="lorem" aria-selected="false">{{'audit_findings' | translate}}</a>
                            </li>
                            <!-- <li class="nav-item"
                                *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100,2901)"> <a
                                    (click)="gotoSection('document')" class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="lorem" aria-selected="false">{{'documents' | translate}}</a>
                            </li> -->
                            <li class="nav-item"
                                *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(100,2901)"> <a
                                    (click)="gotoSection('asset')" class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="lorem" aria-selected="false">{{'assets' | translate}}</a>
                            </li>
        
                            
                            
                            <li class="nav-item" *ngIf="OrganizationModulesStore.checkOrganizationSubModulesPermission(1100,49301)"> <a
                                    (click)="gotoSection('training')" class="nav-link" data-toggle="tab" role="tab"
                                    aria-controls="lorem" aria-selected="false">{{'training' | translate}}</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- tab menu end -->
                </div>
        
        
                <div class="tab-common-left-content-m bg-white cmn-bdr p-3" style="min-height: 550px;">
                    <div class="tab-content border-none">
        
                        <div *ngIf="selectedSection=='process'" class="tab-pane fade active show" id="tab-two" role="tabpanel">
                            
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && processes?.length>0 && AuthStore.getActivityPermission(900,'PROCESS_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'processes' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button
                                        *ngIf="StrategyProfileMappingStore.loaded && processes?.length>0 && AuthStore.getActivityPermission(900,'PROCESS_ASSET_MAPPING_CREATE')"
                                        type="button" (click)="selectProcesses()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && processes?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && processes?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
        
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && processes?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="2%">#</th>
                                        <th class="border-top-0" width="9%">{{'ref_id' | translate}}</th>
                                        <th class="border-top-0" width="20%">{{'process_group' | translate}}</th>
                                        <th class="border-top-0" width="30%">{{'process' | translate}}</th>
                                        <th class="border-top-0" width="20%">{{'process_category' | translate}}</th>
                                        <th class="border-top-0" width="19%">{{'departments' | translate}}</th>
        
                                    </tr>
                                    <tr class="edit-option" *ngFor="let selected of processes; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>#{{selected.reference_code}}</td>
                                        <td>{{selected.process_group?.title ? selected.process_group?.title :
                                            AppStore.noContentText}}</td>
                                        <td> {{selected?.title ? selected?.title : AppStore.noContentText}}
                                        </td>
                                        <td>{{selected.process_category?.title ? selected.process_category?.title :
                                            AppStore.noContentText}}</td>
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer">
        
                                                <a [attr.title]="'delete'|translate"
                                                    (click)="deleteProcessMapping(selected.id)"><i class="fas fa-trash"></i></a>
                                            </div> -->
                                            {{selected.department?.title ? selected.department?.title : AppStore.noContentText}}
                                        </td>
                                    </tr>
        
                                </table>
        
                                
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && processes?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>
        
                        <div *ngIf="selectedSection=='issue'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
        
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && issues?.length>0 && AuthStore.getActivityPermission(900,'ISSUE_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'issues' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && issues?.length>0" type="button"
                                        (click)="selectIssues()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && issues?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && issues?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && issues?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="2%">#</th>
                                        <th class="border-top-0" width="9%">{{'ref_id' | translate}}</th>
                                        <th class="border-top-0" width="30%">{{'issue' | translate}}</th>
                                        <th class="border-top-0" width="11%">{{'issue_types' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'issue_categories' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'issue_domains' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'departments' | translate}}</th>
                                    </tr>
                                    <tr class="edit-option" *ngFor="let selected of issues; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>#{{selected.reference_code}}</td>
                                        <td>{{selected.issues_title?selected.issues_title:selected.title}}</td>
                                        <td> <span *ngFor="let types of selected.organization_issue_types"
                                                class="risk-type-bx risk-type-bx-drop">
                                                <i><img [attr.src]="types.title == 'Internal' ? 'assets/images/internal.svg' : 'assets/images/external.svg'"
                                                        style="width: 15px;"></i>&nbsp;{{types.title}}
                                            </span>
                                        </td>
                                        <td>
                                            <span *ngFor="let types of selected.organization_issue_categories"
                                                class="risk-type-bx risk-type-bx-drop">{{types.title}}</span>
                                        </td>
                                        <td>
                                            <span *ngFor="let types of selected.organization_issue_domains"
                                                class="risk-type-bx risk-type-bx-drop">{{types.title}}</span>
                                        </td>
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate"
                                                    (click)="deleteIssueMapping(selected.id)"><i class="fas fa-trash"></i></a>
                                            </div> -->
                                            <span *ngFor="let types of selected.organization_issue_departments"
                                                class="risk-type-bx risk-type-bx-drop">{{types.title}}</span>
        
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && issues?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>                                                                                                                        
        
                        <div *ngIf="selectedSection=='service'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && services?.length>0 && AuthStore.getActivityPermission(900,'BUSINESS_APPLICATION_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'services' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && services?.length>0" type="button"
                                        (click)="selectServices()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && services?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && services?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && services?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="2%">#</th>
                                        <th class="border-top-0" width="32%">{{'title' | translate}}</th>
                                        <th class="border-top-0" width="20%">{{'service_category' | translate}}</th>
                                        <th class="border-top-0" width="46%">{{'description' | translate}}</th>
                                    </tr>
        
                                    <tr class="edit-option" *ngFor="let selected of services; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>{{selected.title}}</td>
                                        <td>{{selected.service_category?.title}}</td>
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate"
                                                    (click)="deleteServiceMapping(selected.id)"><i class="fas fa-trash"></i></a>
                                            </div> -->
                                            {{selected?.description ? selected?.description : AppStore.noContentText}}
        
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && services?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>
        
                        <div *ngIf="selectedSection=='risk'" class="tab-pane fade active show" id="tab-two" role="tabpanel">
                            
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && risks?.length>0 && AuthStore.getActivityPermission(900,'PROCESS_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'risks' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button
                                        *ngIf="StrategyProfileMappingStore.loaded && risks?.length>0 && AuthStore.getActivityPermission(900,'PROCESS_ASSET_MAPPING_CREATE')"
                                        type="button" (click)="selectRisks()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && risks?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && risks?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
        
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && risks?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="2%">#</th>
                                        <th class="border-top-0" width="8%">{{'ref_id' | translate}}</th>
                                        <th class="border-top-0" width="22%">{{'risk' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'department' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'risk_category' | translate}}</th>
                                        <th class="border-top-0" width="17%">{{'risk_type' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'risk_status' | translate}}</th>
        
                                    </tr>
                                    <tr class="edit-option" *ngFor="let selected of risks; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>{{selected.reference_code}}</td>
                                        <td>{{selected.title}}</td>
                                        <td> {{getArrayProcessed(selected.departments)}}</td>
                                        <td>{{ getArrayProcessed(selected.risk_category?.title?selected.risk_category?.title:selected.risk_category_title)}}
                                        </td>
                                        <td>{{checkRiskType(selected.risk_types)}}</td>
                                        <td>
                                            <div [ngClass]="selected.risk_status ? 'dot-div draft-tag-'+selected.risk_status.label : 'dot-div'">
                                                {{selected.risk_status ? selected.risk_status?.language[0]?.pivot?.title : AppStore.noContentText}}
                                            </div>
                                            <!-- <div class="edit-option-show-inner pointer">
                                                <a *ngIf="AuthStore.getActivityPermission(1600,'DELETE_RISK_MEETING_PLAN_MAPPING')"
                                                    (click)="deleteRiskMapping(selected.id)" [attr.title]="'delete' | translate"><i
                                                        class="fas fa-trash pointer"></i></a>
                                            </div> -->
                                        </td>
                                    </tr>
        
                                </table>
        
                                
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && risks?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>
        
                        <div *ngIf="selectedSection=='audit_finding'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
        
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && audit_findings?.length>0 && AuthStore.getActivityPermission(900,'ISSUE_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'audit_findings' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && audit_findings?.length>0" type="button"
                                        (click)="selectAuditFinding()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && audit_findings?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && audit_findings?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && audit_findings?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="10%">{{'sl' | translate}}</th>
                                        <th class="border-top-0" width="50%">{{'title' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'audit_category' | translate}}</th>
                                        <th class="border-top-0" width="15%">{{'risk' | translate}}</th>
                                        <th class="border-top-0" width="10%">{{'status' | translate}}</th>
                                    </tr>
                                    <tr class="edit-option" *ngFor="let selected of audit_findings; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>{{selected?.title }}</td>
                                        <td>{{selected?.finding_category ? selected?.finding_category?.title : AppStore.noContentText}}</td>
                                        <td class="text-center">
                                            <div class="dot-div {{selected?.risk_rating?.label}}-dot">
                                               {{selected?.risk_rating?.language[0]?.pivot?.title}} </div>
                                         </td>
                                        
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate"
                                                    (click)="deleteAuditFindingMapping(selected.id)"><i class="fas fa-trash"></i></a>
                                            </div> -->
                                            <div class="dot-div {{selected?.finding_status?.label}}">
                                                {{selected?.finding_status?.language[0]?.pivot?.title}}</div>
        
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && audit_findings?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>                                                                                                                        
        
                        <div *ngIf="selectedSection=='document'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && documents?.length>0 && AuthStore.getActivityPermission(900,'BUSINESS_APPLICATION_ASSET_MAPPING_CREATE')">
                                <h6 class="mb-0 w-100">{{'documents' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && documents?.length>0" type="button"
                                        (click)="selectServices()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && documents?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && documents?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && documents?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="2%">#</th>
                                        <th class="border-top-0" width="32%">{{'title' | translate}}</th>
                                        <th class="border-top-0" width="20%">{{'issue_date' | translate}}</th>
                                        <th class="border-top-0" width="46%">{{'description' | translate}}</th>
                                    </tr>
        
                                    <tr class="edit-and-delete-main" *ngFor="let selected of documents; let list=index">
                                        <td>{{list+1}}</td>
                                        <td>{{selected.title}}</td>
                                        <td>{{selected.issue_date ? selected.issue_date : AppStore.noContentText}}</td>
                                        <td>
                                            <!-- <div class="edit-option-show pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate"
                                                    (click)="deleteServiceMapping(selected.id)"><i class="fas fa-trash"></i></a>
                                            </div> -->
                                            {{selected?.expiry_date ? selected?.expiry_date : AppStore.noContentText}}
        
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && documents?.length == 0" [border]=false>
                                </app-no-data>
                            </ng-container>
                        </div>

                        <div *ngIf="selectedSection=='asset'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length>0">
                                <h6 class="mb-0 w-100">{{'assets' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length>0"
                                        type="button" (click)="selectAssets()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length>0">
                                    <tr> 
                                        <th class="border-top-0" width="10%">#
                                        </th>
                                        <th class="border-top-0" width="90%">{{'title' |
                                            translate}}</th>
                                    </tr>
                                    <tr class="edit-option"
                                        *ngFor="let proj of StrategyProfileMappingStore?.assets; let list=index">
                                        <td>{{list+1}}</td>                                   
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate" (click)="deleteAssetMapping(proj.id)"><i
                                                        class="fas fa-trash"></i></a>
                                            </div> -->
                                            {{proj.title ? proj.title : AppStore.noContentText}}
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.assets?.length == 0"
                                    [border]=false></app-no-data>
                            </ng-container>
                        </div>
        
                        <div *ngIf="selectedSection=='training'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length>0">
                                <h6 class="mb-0 w-100">{{'trainings' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length>0"
                                        type="button" (click)="selectTraining()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length>0">
                                    <tr>
                                        <th class="border-top-0" width="7%">#</th>
                                        <th class="border-top-0" width="29%">{{'title' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'category' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'trainer' | translate}}</th>
                                        <th class="border-top-0" width="18%">{{'start_date' | translate}}</th>
                                        <th class="border-top-0" width="10%">{{'status' | translate}}</th>                                                  
                                    </tr>
                                    <tr class="edit-option"
                                        *ngFor="let proj of StrategyProfileMappingStore?.trainings; let list=index">
                                        <td>{{list+1}}</td>
                                        <td> {{proj.title ? proj.title : AppStore.noContentText}}
                                        </td>
                                        <td>{{proj.training_category.title ? proj.training_category.title : AppStore.noContentText}}</td>
                                        <td>{{proj.trainer ? proj.trainer : AppStore.noContentText}}</td>
                                        <td>{{proj.start_date | date:
                                            OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                                            <p *ngIf="!proj.start_date"> {{AppStore.noContentText}}</p>
                                        </td>
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate" (click)="deleteTrainingMapping(proj.id)"><i
                                                        class="fas fa-trash"></i></a>
                                            </div> -->
                                            <div *ngIf="proj.training_status.label" [attr.class]="'dot-div '+proj?.training_status.label+'-dot'">
                                                {{proj.training_status.language[0].pivot.title}}</div>
                                        </td>
        
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.trainings?.length == 0"
                                    [border]=false></app-no-data>
                            </ng-container>
                        </div>

                        <div *ngIf="selectedSection=='product'" class="tab-pane fade active show" id="tab-one" role="tabpanel">
                            <div class="cmn-bdr p-3 d-flex mb-3 align-items-center"
                                *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length>0">
                                <h6 class="mb-0 w-100">{{'products' | translate}}</h6>
                                <!-- <div class="text-right ml-2" style="min-width: 220px;">
                                    <button *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length>0"
                                        type="button" (click)="selectProducts()" class="btn btn-small" data-toggle="modal"
                                        data-target="#choose-process-popup"
                                        style="margin: 0 !important;">{{chooseButtonTitle}}</button>
                                </div> -->
                            </div>
                            
                            <div *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length>0"
                                [ngClass]="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length == 0?'audit-form-table w-100 risk-form-mapping-table form-table-scroll':'audit-form-table w-100 risk-form-mapping-table form-table-scroll table-scroll-small-device'">
                                <table class="table table-bordered ordinary-table cmn-table-style mb-1"
                                    *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length>0">
                                    <tr>
        
                                        <th class="border-top-0" width="3%">#
                                        </th>
                                        <th class="border-top-0" width="22%">{{'title' |
                                            translate}}</th>
                                        <th style="width: 22%;">{{'product_category' | translate}}</th>
                                        <th class="border-top-0" width="53%">{{'description' |
                                            translate}}
                                        </th>
                                       
        
                                    </tr>
                                    <tr class="edit-option"
                                        *ngFor="let prod of StrategyProfileMappingStore?.products; let list=index">
                                        <td>{{list+1}}</td>
                                        <td> {{prod?.title}}
                                        </td>
                                        <td>{{prod?.product_category?.title}}</td>
                                        <td>
                                            <!-- <div class="edit-option-show-inner pointer" style="margin:6px 0 0 0">
        
                                                <a [attr.title]="'delete'|translate" (click)="deleteProductMapping(prod.id)"><i
                                                        class="fas fa-trash"></i></a>
                                            </div> -->
                                            {{prod?.description ? prod?.description : AppStore.noContentText}}
                                        </td>
                                    </tr>
        
                                </table>
        
                            </div>
                            <ng-container *mobxAutorun>
                                <app-no-data *ngIf="StrategyProfileMappingStore.loaded && StrategyProfileMappingStore.products?.length == 0"
                                    [border]=false></app-no-data>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>
