<!-- <div class="modal modal-style-1 fade" id="login-popup"> -->
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content delete-popup-content">
        <div class="small-pop-head-white text-center d-block">
          <h4 class="bold"><i class="fas fa-user-lock mr-2"></i>Locked</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">

          <div class="login-block small-popup-login" *mobxAutorun>
              <form [formGroup]="form">
                <div class="text-center mb-3">
                   <img [attr.src]="IdleTimeoutStore.getUser?.image_token ? createImageUrl(IdleTimeoutStore.getUser?.image_token) : getDefaultImage()"  onerror = "this.src='/assets/images/user-demo2.png'" width="60px" height="60px" class="rounded-circle">
                   <h6>{{IdleTimeoutStore.getUser?.email}}</h6>
                </div>

                 <!-- <div class="field-login username">
                   <input type="text" name="fullname" id="fullname" placeholder="User Name">
                 </div> -->
                 
                <div class="field-login password clearfix login-password-new">
                  <input type="password" name="pop-email" [attr.type]="togglePassword ? 'text' : 'password'" id="pop-email" placeholder="Password" formControlName="password">
                  <a class="eye-icon-pswd" (click)="toggleFieldTextType()">
                    <i [ngClass]="togglePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </a>
                </div>
                <div class="mt-4 clearfix">
                  <button class="btn btn-active mt-1 login-btn float-left" [disabled]="!form.get('password').value || submitted" type="submit" style="margin-right: 0px !important; width: 48%;" (click)="login()">{{!submitted ? 'Login' : 'Loading...'}}</button>
                  <button class="btn mt-1 login-btn float-right" type="submit" style="margin-right: 0px !important; width: 48%;" (click) = "logout()">Logout</button>
                </div>
                
                <div class="signing-page mt-4 clearfix">
                  <button type="button" *ngIf = "ThemeLoginSettingStore.themeLoginDetailsById?.is_google_login" class="btn-signing btn-g-plus mr-0 float-left" (click) = "loginWithGoogle()" style="width: 48%;"><span class="login-g-in"></span> Sign in with</button>
                  <button type="button" *ngIf = "ThemeLoginSettingStore.themeLoginDetailsById?.is_linked_login" class="btn-signing btn-in mr-0 float-right" (click) = "loginWithLinkedIn()" style="width: 48%;"><span class="login-g-in"></span> Sign in with</button>
                </div>
                <p class="pt-2 mb-0">Locked while you were away
                  The system was locked automatically after inactivity detected for {{ AppStore.idleTimeOut/60 }} minutes
                </p>
              </form>
         </div>


        </div>
        <!-- Modal footer --> 
      </div>
    </div>
<!-- </div> -->