.theme-white-right-bg .widget-body-light {
    background: #fff !important;
    }
    .theme1-bdr {
    border-color: #D01849 !important;
    }
    .theme2-bdr {
    border-color: #42AEB7 !important;
    }
    .theme3-bdr {
    border-color: #074D67 !important;
    }
    table.word-break tr td, table.word-break tr th {
    word-break: break-word;
    }
.cmn-bdr-set{border: 1px solid #cbd6e2;}