<div class="tab-pane active" id="top-tab-left-one" *mobxAutorun>
    <ng-container *mobxAutorun>
        <app-am-audit-plan-info-loader *ngIf="!AmAuditPlansStore?.individual_auditPlan_loaded">
        </app-am-audit-plan-info-loader>
    </ng-container>

    <div class="row" *ngIf="AmAuditPlansStore?.individual_auditPlan_loaded">

        <div class="col-sm-12">
            <div class="widg-padding-cmn bg-white">
                <div class="min-height-64">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="issue-top-sec">
                                <div class="clearfix ">
                                    <h5 class="d-inline-block cmn-head-style label-tag-style mr-2 mb-3"><span
                                            class="issue-smoal-head-text">#{{AmAuditPlansStore.individualAuditPlanDetails?.reference_code}}</span>
                                        <span>
                                            {{AmAuditPlansStore.individualAuditPlanDetails?.am_audit_category?.title}}</span>
                                    </h5>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <h6>{{'am_audit_category'|translate}}</h6>
                            <p>{{AmAuditPlansStore.individualAuditPlanDetails?.am_audit_category?.title}}
                            </p>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <h6>{{'am_frequency'|translate}}</h6>
                            <p>{{AmAuditPlansStore.individualAuditPlanDetails?.am_annual_plan_frequency?.language[0]?.pivot?.title}}
                            </p>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <h6>{{'start_date'|translate}}</h6>
                            <p>{{AmAuditPlansStore.individualAuditPlanDetails?.start_date|date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                            </p>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <h6>{{'end_date'|translate}}</h6>
                            <p>
                                {{AmAuditPlansStore.individualAuditPlanDetails?.end_date|date:
                                OrganizationGeneralSettingsStore.organizationSettings?.date_format}}
                            </p>
                        </div>



                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <hr class="mb-2">
                        <div class="d-flex flex-row user-list-sm p-0">
                            <app-user-popup-box
                                [source]=" getCreatedByPopupDetails(AmAuditPlansStore?.individualAuditPlanDetails?.created_by)">
                            </app-user-popup-box>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>



<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
    <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>

<!------------------- Delete Confirmation Modal End --------------------------->

<!-- add-business-framework-popup Start -->
<div class="modal modal-style-1 popup-full-width fade" id="new-audit-programme-popup" data-keyboard="false"
    data-backdrop="static" #formModal>


    <app-am-audit-plan-modal *ngIf="auditPlanObject.type" [source]="auditPlanObject">

    </app-am-audit-plan-modal>

</div>