<button type="button" class="close" data-dismiss="modal" (click)="closeFormModal()"><i
    class="lni-close"></i><span>{{'esc'|translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">{{'action_plan'|translate}}</h4>
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
    </div>
    <!-- Modal body -->
    <div class="modal-body form-body">
        <form [formGroup]="form">


            <!-- <hr class="mt-0"> -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">{{'title'|translate}}<sup>*</sup></label>
                        <div class="plain-select input-add-report">
                            <input type="text" class="form-control" formControlName="title"
                            [placeholder]="'title'|translate">
                            <p style="color: red;" class="pt-1" *ngIf="formErrors && formErrors.title">
                                {{formErrors.title}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    
                        
                        <div class="form-group">
                           
                            <label for="description">{{'description' | translate}}</label>
                            <textarea class="form-control " rows="3" id="comment" formControlName="description"
                            placeholder="Description"></textarea>
                            
                        </div>
                        <!-- <label for="name">Description</label>
                        <textarea class="form-control " rows="3" id="comment" formControlName="description"
                            placeholder="Description"></textarea>-->
                        <p style="color: red;" class="pt-1" *ngIf="formErrors && formErrors.description">
                            {{formErrors.description}}
                        </p> 
                    
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                       <label>{{'responsible_user' | translate}}<span class="form-error">*</span></label>
                       <div class="clearfix">
                          <div class="multiple-plain-ngselect">
                             <ng-select [items]="UsersStore.usersList" 
                                [placeholder]="'select_responsible_user' | translate" [multiple]="true"
                                formControlName="responsible_user_ids" (search)="searchUsers($event)"
                                (open)="getResponsibleUsers()" [searchFn]="customSearchFn">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                   <img *ngIf="item.image_token" height="15" width="15"
                                      [attr.src]="createImagePreview('user-profile-picture',item.image_token)"
                                      onerror = "this.src='/assets/images/user-demo2.png'" />
                                   <img *ngIf="!item.image_token" height="15" width="15"
                                      [attr.src]="getDefaultImage('user-logo')" 
                                      onerror = "this.src='/assets/images/user-demo2.png'"/>
                                   <b style="padding-left: 3px;">{{getStringsFormatted([item.first_name,item.last_name],50,'
                                      ') | titlecase}}</b><span aria-hidden="true" (click)="clear(item)"
                                      style="border:none;" class="ng-value-icon left">×</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                   <div class="user-post-department-pic">
                                      <img *ngIf="item.image_token" height="25" width="25"
                                         [attr.src]="createImagePreview('user-profile-picture',item.image_token)" 
                                         onerror = "this.src='/assets/images/user-demo2.png'"/>
                                      <img *ngIf="!item.image_token" height="25" width="25"
                                         [attr.src]="getDefaultImage('user-logo')" 
                                         onerror = "this.src='/assets/images/user-demo2.png'"/>
                                   </div>
                                   <div class="user-post-department-div">
                                      <b>{{getStringsFormatted([item.first_name,item.last_name],50,' ') |
                                         titlecase}}</b>
                                      <p class="user-post-department-multiple">
                                         {{getStringsFormatted([item.designation_title,'
                                         '+item.department],50,',')}}</p>
                                   </div>
                                </ng-template>
                             </ng-select>
                             <p style="color: red;" *ngIf="formErrors">
                                {{formErrors.responsible_user_id}}</p>
                          </div>
                       </div>
                    </div>
                 </div>

                 <div class="col-sm-6">
                    <div class="form-group">
                       <label for="name">{{'start_date' | translate}}<span class="form-error">*</span></label>
                       <div class="input-group date-picker">
                          <input class="form-control cal4" formControlName="start_date" [placeholder]="'ea_ca_add_start_date_placeholder' | translate"
                             (click)="startDateInput.toggle()" id="start_date" ngbDatepicker
                             #startDateInput="ngbDatepicker">
  
                          <div class="input-group-append">
                             <button class="btn btn-outline-secondary calendar" (click)="startDateInput.toggle()"
                                type="button"><i class="fas fa-calendar-alt"></i></button>
                          </div>
                       </div>
                       <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.start_date">
                          {{formErrors.start_date}}</p>
                    </div>
                 </div>
                 
                 <div class="col-sm-6">
                    <div class="form-group">
                       <label for="name">{{'target_date' | translate}}<span class="form-error">*</span></label>
                       <div class="input-group date-picker">
                          <input class="form-control cal4" formControlName="target_date"
                             [placeholder]="'ea_ca_add_target_date_placeholder' | translate"
                             (click)="targetDateInput.toggle()" id="target_date" ngbDatepicker
                             #targetDateInput="ngbDatepicker"
                             [minDate]="form.value.start_date?{year: this.form.value.start_date.year, month: this.form.value.start_date.month, day: this.form.value.start_date.day}:''">
  
                          <div class="input-group-append">
                             <button class="btn btn-outline-secondary calendar" (click)="targetDateInput.toggle()"
                                type="button"><i class="fas fa-calendar-alt"></i></button>
                          </div>
                       </div>
                       <p class="pt-1" style="color: red;" *ngIf="formErrors && formErrors.target_date">
                          {{formErrors.target_date}}</p>
                    </div>
                 </div>
                
               
            </div>

            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="d-block justify-content-left border-0 mt-3">
                        <button type="button" data-toggle="modal"
                            class="btn btn-active" (click)="save()"
                            [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                        <button  [disabled]="form.invalid || AppStore.loading" type="button" data-toggle="modal" data-target="#signal-lost"
                            class="btn" (click)="save(true)"
                            >{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                        <button type="button" data-toggle="modal"
                            class="btn" (click)="closeFormModal()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal footer -->
</div>
</div>