<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" scrollPoint #navBar>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    
    <app-sub-menu></app-sub-menu>
 </nav>
 <main class="audit-program-details-page mt-20 pl-0" *mobxAutorun>
    <div class="container-fluid">
       <div class="widget" *ngIf="ComplainceChecklistStore.individualLoaded">
          <div class="bg-white widg-padding-cmn">
             <div class="row issuue-new-style p-0" style="min-height: 450px;">
                <div class="col-md-12">
                   <div class="issue-top-sec">
                      <div class="clearfix">
                         <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                               class="issue-smoal-head-text">#{{ComplainceChecklistStore._individualChecklist.reference_code}}</span>
                            {{ComplainceChecklistStore._individualChecklist.title}}
                            <span class="dot-div {{ComplainceChecklistStore._individualChecklist?.status?.label}}"> 
                                {{ComplainceChecklistStore._individualChecklist?.status?.title[0]?.pivot?.title}}
                            </span>
                        </h5>
                      </div>
                      
 
                     <!-- <div *ngIf="ComplainceChecklistStore._individualChecklist?.description==null">
                        {{AppStore.noContentText}}
                     </div> -->
                    
                    
                   </div>
      
                  
                </div>
             </div>
             <div class="row">
                <div class="col-xl-12">
                   <hr>
                   <app-user-popup-box [source]="getPopupDetails(ComplainceChecklistStore._individualChecklist.created_by)"></app-user-popup-box>
                 
                </div>
             </div>
          </div>
 
       </div>
       <ng-container>
          <app-complaince-checklist-details-loader *ngIf="!ComplainceChecklistStore.individualLoaded"></app-complaince-checklist-details-loader>
       </ng-container>
    </div>
 </main>
 
 <!------------------- Delete Confirmation Modal Start --------------------------->
 
 <div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
    <app-delete-popup [source]="deleteObject"></app-delete-popup>
  </div>
  
  <!------------------- Delete Confirmation Modal End --------------------------->
 
  <div class="modal modal-style-1 fade popup-full-width" id="add-business-framework-popup" data-keyboard="false"
    data-backdrop="static" #formModal>
   
    <app-add-checklist-modal *ngIf="checklistObject.type" [source]="checklistObject">
 
    </app-add-checklist-modal>
 
    </div>
 
    
 