<!-- <div class="modal modal-style-1 help-popup-iso popup-full-width fade" id="add-payment" data-keyboard="false" data-backdrop="static"> -->
    <button type="button" class="close" (click)='cancel()' data-dismiss="modal"><i class="lni-close"></i><span>esc</span></button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title mb-2">{{'pm_add_payment'|translate}}</h4>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">
                <p>{{'payment_brief'| translate}}</p>
                <form [formGroup]="form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label for="title">{{'Milestone'| translate}}<span class="form-error">*</span></label>
                        <div class="clearfix d-flex">
                            <div class="multiple-plain-ngselect select-width-plus w-100">
                                <ng-select 
                                [placeholder]="'Select milestone' | translate" 
                                [multiple]="false"
                                searchable="true"
                                (open)="getMileStone()"
                                (change)="clearMilestone()"
                                (clear)="clearMilestone()"
                                formControlName="project_milestone_id">
                                    <ng-option [value]="type.id"
                                        *ngFor="let type of ProjectMilestoneStore.milesstones">
                                        {{type.title}}({{type.due | date: OrganizationGeneralSettingsStore.organizationSettings?.date_format}})
                                    </ng-option>
                                </ng-select>
                                <p class="form-error pt-1" *ngIf="formErrors && formErrors.project_milestone_id">{{formErrors.project_milestone_id}}
                                </p>
                            </div>
                         </div>
                     </div>    
                  </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">{{'year'| translate}}<span class="form-error">*</span></label>
                            <div class="clearfix d-flex">
                                <div class="multiple-plain-ngselect select-width-plus w-100">
                                    <ng-select 
                                    [placeholder]="'Select year' | translate" 
                                    [multiple]="false"
                                    searchable="true"
                                    (change)="changeYear($event)"
                                    (open)="getBudget()"
                                    (clear)="clearYear()"
                                    formControlName="year">
                                        <ng-option [value]="yr.year"
                                            *ngFor="let yr of BudgetStore.allItems">
                                            {{yr.year}}
                                        </ng-option>
                                    </ng-select>
                                    <p class="form-error pt-1" *ngIf="formErrors && formErrors.year">{{formErrors.year}}
                                    </p>
                                </div>
                             </div>
                         </div>   
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                <label>Approved Budget ({{OrganizationGeneralSettingsStore?.organizationSettings?.currency}})<span class="form-error">*</span></label>
                <input formControlName="total" type="text" class="form-control" placeholder="Enter the approved budget amount" readonly>
                <p class="form-error pt-1" *ngIf="formErrors && formErrors.total">{{formErrors.total}}
                </p>
                <p class="form-error pt-1" *ngIf="form?.get('total').invalid && form.value.total">
                    {{'numeric_value' | translate}}</p>
             </div>  
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                      <div class="col-md-6">
                         <div class="form-group">
                <label>Q1<span class="form-error">*</span></label>
                <input formControlName="q1" (input)="changeAmountsValue($event)" type="text" class="form-control" placeholder="Enter amount of first quarter">
                <p class="form-error pt-1" *ngIf="formErrors && formErrors.q1">{{formErrors.q1}}
                </p>
                <p class="form-error pt-1" *ngIf="form?.get('q1').invalid && form.value.q1">
                    {{'numeric_value' | translate}}</p>
                
             </div>  
                      </div>
                      <div class="col-md-6">
                         <div class="form-group">
                <label>Q2<span class="form-error">*</span></label>
                <input formControlName="q2" (input)="changeAmountsValue($event)" type="text" class="form-control" placeholder="Enter amount of second quarter">
                <p class="form-error pt-1" *ngIf="formErrors && formErrors.q2">{{formErrors.q2}}
                </p>
                <p class="form-error pt-1" *ngIf="form?.get('q2').invalid && form.value.q2">
                    {{'numeric_value' | translate}}</p>
                
             </div>  
                      </div>
                      </div>  
                  </div>
                 <div class="col-md-6">
                     <div class="row">
                      <div class="col-md-6">
                         <div class="form-group">
                <label>Q3<span class="form-error">*</span></label>
                <input formControlName="q3" (input)="changeAmountsValue($event)" type="text" class="form-control" placeholder="Enter amount of third quarter">
                <p class="form-error pt-1" *ngIf="formErrors && formErrors.q3">{{formErrors.q3}}
                </p>
                <p class="form-error pt-1" *ngIf="form?.get('q3').invalid && form.value.q3">
                    {{'numeric_value' | translate}}</p>

             </div>  
                      </div>
                      <div class="col-md-6">
                         <div class="form-group">
                <label>Q4<span class="form-error">*</span></label>
                <input formControlName="q4" (input)="changeAmountsValue($event)" type="text" class="form-control" placeholder="Enter amount of fourth quarter">
                <p class="form-error pt-1" *ngIf="formErrors && formErrors.q4">{{formErrors.q4}}
                </p>
                <p class="form-error pt-1" *ngIf="form?.get('q4').invalid && form.value.q4">
                    {{'numeric_value' | translate}}</p>
                
             </div>  
                      </div>
                      </div>  
                  </div>
                  <div class="col-md-12">
                    <p *ngIf="!is_budgetExceed" class="text-danger">Remaining budget amount in the selected year is {{balanceAmount}}</p> 
                    <p *ngIf="is_budgetExceed" class="text-danger">Selected year budget amount is exceeded</p>  
 
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="button" data-toggle="modal" 
                               class="btn btn-active" [disabled]="form.invalid || AppStore.loading || is_budgetExceed" (click) = "save()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                            <button type="button" data-toggle="modal" 
                               class="btn" [disabled]="form.invalid || AppStore.loading || is_budgetExceed" (click) = "save(true)">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save_close') }}</button>
                            <button type="button" data-toggle="modal" (click) = "cancel()"
                               class="btn">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                         </div>
                    </div>
                </div>
            </form>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
<!-- </div> -->
