
        
        <div class="audit-program-box audit-page-table-main min-height-83">
                 
                <div class="row" *mobxAutorun>
                   <div class="col-sm-12">
                        <div class="full-width-table mb-3">
                          <div class="fix-table">                           
                        <table *ngIf="EventsSpecificationStore.loaded && EventsSpecificationStore.specificationList.length > 0" class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                             <thead>
                                <tr>
                                   <th class="border-top-0" width="2%">#</th>
                                   <th class="border-top-0" width="30%">{{'equipments_required' | translate}}</th>
                                   <th class="border-top-0" width="12%">{{'availability_status' | translate}}</th>
                                   <th class="border-top-0" width="50%">{{'comment' | translate}}</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr class="edit-and-delete-main" *ngFor="let row of EventsSpecificationStore?.specificationList;let i = index;" >
                                   <td class="text-center">{{i+1}}</td>
                                   <td>{{row?.equipment_required}}</td>
                                   <td>{{row.availability_status === 1 ? 'yes' : 'no'}}</td>
                                   <td><p style="white-space: pre-wrap;">{{row?.comments ? row?.comments: AppStore.noContentText }}</p>
                                    <div  *ngIf="EventsStore?.eventDetails?.event_status?.type=='draft' || EventsStore?.eventDetails?.event_status?.type=='send-back'"  class="edit-option-show">
                                       <a *ngIf="AuthStore.getActivityPermission(1600,'UPDATE_EVENT_MONITORING_SPECIFICATION')" (click)="editSpecification(row)"><i class="fas fa-pen"></i></a>
                                       <a *ngIf="AuthStore.getActivityPermission(1600,'DELETE_EVENT_MONITORING_SPECIFICATION')" (click)="delete(row.id)"><i class="fas fa-trash"></i></a>
                                     </div>
                                 </td>
                                </tr>                               
                            </tbody>
                        </table>
                        <ng-container *mobxAutorun>
                           <div *ngIf="!EventsSpecificationStore.loaded">
                              <app-four-column-loader></app-four-column-loader>
                         </div>
                           <app-no-data *ngIf = "EventsSpecificationStore.specificationList.length == 0 && EventsSpecificationStore.loaded == true"></app-no-data>
                       </ng-container>
                     </div>
                    </div>
                </div>
            </div>
        </div>

        


        <div class="modal modal-style-1 popup-full-width fade"  data-keyboard="false"
        data-backdrop="static" #newSpecific>
           <app-event-specification-modal [source] ="newSpecification" *ngIf="newSpecification.type">
               
           </app-event-specification-modal>
        </div>
        <div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
         <app-delete-popup [source]="popupObject"></app-delete-popup>
        </div>
    