<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>
  
        <div  class="module-name-block float-left drop-menu-left-head">
            <a [routerLink]="['/event-monitoring/maturity-matrix/maturity-matrix-plan']" class="nav-link current-page border-right-0 page-name-header" >
            <i class="fas fa-chevron-left"></i> {{'plan' | translate}} </a>
       </div>
    
   
    <ul class="nav nav-pills float-left  d-none d-lg-block" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/event-monitoring/maturity-matrix/maturity-matrix-plan/'+MaturityMatrixPlanStore.selectedPlanId]" [routerLinkActiveOptions]="{exact: true}" data-toggle="pill" routerLinkActive="active"
                
               >{{'matrix_plan_details_menu' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/event-monitoring/maturity-matrix/maturity-matrix-plan/'+MaturityMatrixPlanStore.selectedPlanId+'/assesment']"  
            data-toggle="pill" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
               >{{'assessment' | translate}}</a>
        </li>
    </ul>
    <app-sub-menu></app-sub-menu>
</nav>
<main class="audit-program-details-page mt-3">
    <router-outlet></router-outlet>
</main>