<div #plainDev></div>
<nav class="edit-bar" data-toggle="affix" #navBar>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    <app-sub-menu-drop-down></app-sub-menu-drop-down>
</nav>

<ng-container *mobxAutorun>
    <div *ngIf="!BAActionPlanStore?.details_loaded">
        <app-action-plan-loader></app-action-plan-loader>
    </div>
</ng-container>

<main class="audit-program-details-page mt-20 pl-0">
    <div class="container-fluid">
        <div class="widget" *mobxAutorun>
            <div class="row"
                *ngIf="BAActionPlanStore?.details_loaded && AuthStore.getActivityPermission(1600,'BUSINESS_ASSESSMENT_ACTION_PLAN_DETAILS')">
                <div class="col-lg-8 col-sm-12 padding-right-0">
                    <div class="bg-white widg-padding-cmn">
                        <div class="min-height-64 edit-and-delete-main">

                            <div class="edit-option-show" style="margin: 0px -40px 0 0;" wfd-id="222">
                                <a *ngIf="BAActionPlanStore?.BAActionPlanDetails?.business_assessment_action_plan_status?.id!=5"
                                    [attr.title]="'update'|translate" (click)="openActionPlanStatusUpdateModal()"><i
                                        class="fas fa-pen-alt"></i></a>
                                <a [attr.title]="'history'|translate" (click)="openHistoryModal()"><i
                                        class="fas fa-history"></i><span>{{'history'|translate}}</span></a>
                            </div>

                            <div class="issue-top-sec">
                                <div class="clearfix">
                                    <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                                            class="issue-smoal-head-text">#{{BAActionPlanStore.BAActionPlanDetails?.reference_code
                                            ? BAActionPlanStore.BAActionPlanDetails?.reference_code :
                                            AppStore.noContentText}}</span> {{
                                        BAActionPlanStore.BAActionPlanDetails?.title ?
                                        BAActionPlanStore.BAActionPlanDetails?.title : AppStore.noContentText}}
                                        <span class="draft-tag label-tag-style-tag label-left-arow-tag"
                                            [ngClass]=" BAActionPlanStore.BAActionPlanDetails?.business_assessment_action_plan_status.label ? getColorKey() : ''"
                                            style="line-height: 16px; vertical-align: middle; margin-top: -4px; display: inline-block;">
                                            {{BAActionPlanStore.BAActionPlanDetails?.business_assessment_action_plan_status.type
                                            | titlecase }}</span>
                                    </h5>

                                </div>
                                <div class="clearfix">
                                    <p class="label-tag-style mb-2 "><i class="fas fa-calendar-alt date-pics-two"></i>
                                        {{ BAActionPlanStore.BAActionPlanDetails?.start_date | date:
                                        OrganizationGeneralSettingsStore?.organizationSettings?.date_format}} -
                                        {{ BAActionPlanStore.BAActionPlanDetails?.target_date | date:
                                        OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}
                                        <span class="blinking" *ngIf="remainingDate>1">{{'('}} {{remainingDate}}
                                            {{'days_remaining' | translate}} {{')'}}</span>
                                        <span class="blinking" *ngIf="remainingDate!=0 && remainingDate<2">{{'('}}
                                            {{remainingDate}} {{'day_remaining' | translate}} {{')'}}</span>
                                        <span class="blinking" *ngIf="daysDue>1">{{'('}} {{daysDue}} {{'days_due' |
                                            translate}} {{')'}}</span>
                                        <span class="blinking" *ngIf="daysDue!=0 && daysDue<2">{{'('}} {{daysDue}}
                                            {{'day_due' | translate}} {{')'}}</span>
                                        <span class="small-text pt-1 pl-2"
                                            *ngIf=" BAActionPlanStore.BAActionPlanDetails?.business_assessment_action_plan_status?.type!='resolved' && BAActionPlanStore.BAActionPlanDetails?.business_assessment_action_plan_status?.type!='closed'">
                                            {{BAActionPlanStore.BAActionPlanDetails?.completion?
                                            BAActionPlanStore.BAActionPlanDetails?.completion: 0}} %
                                            {{'completed' | translate}}
                                        </span>
                                    </p>
                                </div>

                                <p style="white-space: pre-wrap;"> {{
                                    BAActionPlanStore.BAActionPlanDetails?.description ?
                                    BAActionPlanStore.BAActionPlanDetails?.description :
                                    AppStore.noContentText}}
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h6>{{'responsible_user' | translate}}</h6>
                                    <div>
                                        <app-user-popup-box
                                            [source]=" getPopupDetails(BAActionPlanStore.BAActionPlanDetails?.responsible_users[0])">
                                        </app-user-popup-box>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">

                                <div class="col-sm-12">
                                    <h6 class="mt-3">{{'support_files' | translate}}</h6>
                                    <p *ngIf="ActionPlansStore?.individualActionPlansDetails?.documents?.length == 0">
                                        {{AppStore.noContentText}}</p>
                                    <div class="thumb-pics-bg thumb-pics-col-4 thumb-pics-fix-text clearfix"
                                        style="padding-top: 0">
                                        <div class="thumb-pics pointer"
                                            *ngFor="let docs of ActionPlansStore?.individualActionPlansDetails?.documents;let i = index">

                                            System Files Starts Here
                                            <div class="upload-pics edit-option" *ngIf="!docs.document_id">
                                                <div class="browse-form-pic"
                                                    [ngStyle]="{'background': 'url('+createImageUrl('action-plan',docs.token)+') no-repeat'}"
                                                    (click)="viewDocument('action-plan',docs, docs)">
                                                </div>
                                                <div class="browse-form-name clearfix">
                                                    <div class="float-left">
                                                        <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                                        </h6>
                                                        <span>{{docs.size/1048576 |
                                                            number:'0.2-2'}}MB</span><span
                                                            class="text-blue bold pl-2">System</span>
                                                    </div>
                                                    <div class="browse-logo">
                                                        <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                                            class="folder-picher" src="/assets/images/jpg-icone.png">
                                                        <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                                            class="folder-picher" src="/assets/images/word-icone.png">
                                                        <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                                            class="folder-picher" src="/assets/images/pdf-icone.png">
                                                        <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                                            class="folder-picher" src="/assets/images/excel-icone.png">
                                                        <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                                            class="folder-picher" src="/assets/images/md-video.png">
                                                        <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                                            class="folder-picher" src="/assets/images/md-audio.png">
                                                        <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                                            class="folder-picher" src="/assets/images/md-ppt.png">
                                                    </div>
                                                </div>
                                                <div class="edit-option-show-inner">
                                                    <a><i class="fas fa-download"
                                                            (click)="downloadDocumentFile('action-plan',docs)"></i></a>
                                                </div>
                                            </div>
                                            KnowledgeHub Files Starts Here
                                            <div class="upload-pics edit-option" *ngIf="docs.document_id">

                                                <div *ngFor="let mainDoc of docs.kh_document.versions">
                                                    <div *ngIf="mainDoc.is_latest">
                                                        <div class="browse-form-pic"
                                                            (click)="viewDocument('document-version',docs,mainDoc)"
                                                            [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                                        </div>
                                                        <div class="browse-form-name clearfix">
                                                            <div class="float-left">
                                                                <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                                                </h6>
                                                                <span>{{mainDoc.size/1048576 |
                                                                    number:'0.2-2'}}MB</span><span
                                                                    class="text-blue bold pl-2">Knowledge
                                                                    Hub</span>
                                                            </div>
                                                            <div class="browse-logo">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'image') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/jpg-icone.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/word-icone.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/pdf-icone.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/excel-icone.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'video') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-video.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-audio.png">
                                                                <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1"
                                                                    class="folder-picher"
                                                                    src="/assets/images/md-ppt.png">
                                                            </div>
                                                        </div>
                                                        <div class="edit-option-show-inner">
                                                            <a><i class="fas fa-download"
                                                                    (click)="downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            KnowledgeHub Files Ends Here
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <hr class="mb-2">
                                <div *ngIf="BAActionPlanStore.BAActionPlanDetails?.created_by.first_name">
                                    <app-user-popup-box
                                        [source]=" getPopupDetails( BAActionPlanStore.BAActionPlanDetails?.created_by, BAActionPlanStore.BAActionPlanDetails?.created_at )">
                                    </app-user-popup-box>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-12">

                    <div class="bg-white mb-3 widg-padding-cmn-small">
                        <h6>{{ BAActionPlanStore.BAActionPlanDetails?.completion?
                            BAActionPlanStore.BAActionPlanDetails?.completion: 0 }}% {{'completed' |
                            translate}}</h6>
                        <hr class="mt-0 mb-3">

                        <div
                            [ngClass]="BAActionPlanStore.BAActionPlanDetails?.completion>50?'progress-circle over50 p progress-circle-big-one':'progress-circle p progress-circle-big-one'+BAActionPlanStore.BAActionPlanDetails?.completion">
                            <span>{{ BAActionPlanStore.BAActionPlanDetails?.completion?
                                BAActionPlanStore.BAActionPlanDetails?.completion: 0 }}%</span>
                            <div class="left-half-clipper">
                                <div class="first50-bar"></div>
                                <div class="value-bar"></div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white mb-3 widg-padding-cmn-small">
                        <h6>{{'days_remaining' | translate}}</h6>
                        <hr class="mt-0 mb-3">
                        <div class="clearfix">
                            <div class="mb-3">
                                <p *ngIf="remainingDateGraph>1" class="dot-div-new mb-0 dot-green d-block font-normal">
                                    {{'remaining_days'|translate}}
                                    ( {{ remainingDateGraph }} {{'days' | translate}} )
                                </p>
                                <p *ngIf="Totaldays>1" class="dot-div-new dot-red d-block font-normal">
                                    {{'total_days'|translate}}
                                    ( {{ Totaldays }} {{'days' | translate}} )
                                </p>
                                <p *ngIf="remainingDateGraph<2" class="dot-div-new mb-0 dot-green d-block font-normal">
                                    {{'remaining_days'|translate}}
                                    ( {{ remainingDateGraph }} {{'day' | translate}} )
                                </p>
                                <p *ngIf="Totaldays<2" class="dot-div-new dot-red d-block font-normal">
                                    {{'total_days'|translate}}
                                    ( {{ Totaldays }} {{'day' | translate}} )
                                </p>
                            </div>
                        </div>

                        <div class="vertical-progress-v2">
                            <div class="progress-bg-sec">
                                <div class="progress-inner-color" [style.height.%]="(remainingDateGraph/Totaldays)*100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

<!-- Action plan form starts here -->

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #actionPlanModal>
    <app-assessment-action-plan-add [source]="actionPlanData"
        *ngIf="openActionPlanPopup"></app-assessment-action-plan-add>
</div>
<!-- Action plan form ends here -->

<!-- Delete Confirmation Modal Start -->
<!-- <div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div> -->

<!-- add participants model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #actionPlanUpdate>
    <app-action-plan-status-update-modal *ngIf="BAActionPlanStore.actionPlanStatusUpdateModal"
        [completion]="BAActionPlanStore.BAActionPlanDetails?.completion"
        [source]="BAActionPlanStore.BAActionPlanDetails"></app-action-plan-status-update-modal>
</div>

<!-- History model -->
<div class="modal modal-style-1 popup-full-width fade" *mobxAutorun #actionPlanHistory>
    <app-action-plan-status-history-modal *ngIf="BAActionPlanStore.actionPlanStatusHistoryModal">
    </app-action-plan-status-history-modal>
</div>

<!-- File Preview -->
<!-- <div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
            class="lni-close"></i><span>{{'esc' | translate}}</span></button>
    <app-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)"></app-preview>
</div> -->