<button type="button" class="close" (click) = "cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>

<div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <!-- <h4 class="modal-title">{{strategyAreaSource?.value?.title}}</h4> -->
      </div>
      <!-- Modal body -->
      <div class="modal-body form-body">
         <!-- {{strategyAreaSource?.value?.description}} -->
         <p class="head-details"></p>
         <div class="row">
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6">
               <h6>{{'start_date' | translate }}</h6>
               <p *ngIf="strategyAreaSource?.value?.start_date">{{strategyAreaSource?.value?.start_date | date:
                  OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}</p>
               <p *ngIf="!strategyAreaSource?.value?.start_date">{{AppStore.noContentText}}</p>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
               <h6>{{'end_date' | translate }}</h6>
               <p *ngIf="strategyAreaSource?.end_date">{{strategyAreaSource?.value?.end_date | date:
                  OrganizationGeneralSettingsStore?.organizationSettings?.date_format}}</p>
               <p *ngIf="!strategyAreaSource?.end_date">{{AppStore.noContentText}}</p>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6"
               *ngIf="StrategyManagementSettingStore?.strategyManagementSettings?.is_weightage">
               <h6>{{'weightage' | translate }}</h6>
               <p>{{strategyAreaSource?.value?.weightage ? strategyAreaSource?.value?.weightage : AppStore.noContentText }}</p>
            </div> -->

            <h6>{{'kpi_measures' | translate }}</h6>
            <div class="table-align-top audit-form-table w-100 not-fixed-table">
               <table *ngIf="strategyAreaSource?.value?.length != 0" class="table table-bordered ordinary-table audit-page-table mb-3 table-scroll">
                  <thead>
                     <tr>
                        <th class="border-top-0 text-center" width="2%">#</th>
                        <th class="border-top-0" width="32%">{{'title' | translate }}</th>
                        <th class="border-top-0 text-center" width="15%">{{'minimum_value' | translate }}
                        </th>
                        <th class="border-top-0 text-center" width="15%">{{'maximum_value' | translate }}
                        </th>
                        <th class="border-top-0 text-center" width="20%">{{'target' | translate }}</th> 
                        <!-- <th class="border-top-0" width="15%">{{'action' | translate}}</th> -->
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let kpi of strategyAreaSource?.value; let num=index">
                        <td class="text-center">{{num+1}}</td>
                        <td [title]="kpi?.kpi?.title">{{kpi?.kpi?.title?.length > 70 ?
                           kpi?.kpi?.title.substring(0,70)+' ...' : kpi?.kpi?.title}}</td>
                        <td class="text-center">{{kpi?.minimum ? kpi?.minimum : AppStore.noContentText}}{{kpi?.minimum ? '%' : ''}}</td>
                        <td class="text-center">{{kpi?.maximum ? kpi?.maximum : AppStore.noContentText}}{{kpi?.maximum ? '%' : ''}}</td>
                        <td class="text-center">{{kpi?.target ? kpi?.target : AppStore.noContentText}} {{kpi?.target ? kpi?.target_unit?.title : ''}}</td>
                        <!-- <td><button type="button" (click)="openStrategyKpiDetailsModal(kpi.id)" class="btn btn-small" data-toggle="modal">{{'view' | translate}}</button> -->
                        <!-- </td> -->
                     </tr>
                  </tbody>
               </table>
               <ng-container *mobxAutorun>
                  <app-no-data-list [source]="kpiEmptyList" [height]="false" [border]=true *ngIf="strategyAreaSource?.value?.length == 0">
                  </app-no-data-list>
               </ng-container>
            </div>
         </div>
      </div>
      <!-- Modal footer -->
   </div>
</div>
<!-- style="z-index: 999999; overflow-x: hidden; overflow-y: auto;" -->
<div class="modal modal-style-1 popup-full-width fade" id="view-kpi-measures-popup" data-keyboard="false"
    data-backdrop="static" #strategyKpiDetailsModal>
    <app-strategy-kpi-details *ngIf="kpiDetailsObject.type" [source]="kpiDetailsObject"></app-strategy-kpi-details>
</div>