<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar *mobxAutorun>


    <app-breadcrumb-menu></app-breadcrumb-menu>

    <app-sub-menu></app-sub-menu>
    <!-- <app-sub-menu-drop-down></app-sub-menu-drop-down> -->
</nav>

<div *ngIf="!AuditableItemMasterStore.individualLoaded">
    <app-auditable-item-details-loader *ngIf="!AuditableItemMasterStore.individualLoaded">
    </app-auditable-item-details-loader>
</div>


<main class="organization-page mt-3">
    <div class="container-fluid">
        <div class="row" *ngIf="AuditableItemMasterStore.individualLoaded">
            <div class="col-sm-12">
                <div class="widget bg-white">
                    <div class="widget-body-light issuue-new-style">
                        <div class="row" *mobxAutorun>
                            <div class="col-sm-12 col-lg-6 audit-program-details-page-cnt">
                                <div class="left-box-issue-details height-100">
                                    <div style="min-height: 550px;">
                                        <div class="issue-top-sec">
                                            <div class="clearfix">
                                                <h5 class="d-inline-block cmn-head-style label-tag-style mr-2"><span
                                                        class="issue-smoal-head-text">#{{AuditableItemMasterStore?.auditableItemDetails?.reference_code}}</span>
                                                    {{AuditableItemMasterStore?.auditableItemDetails?.title}} <span
                                                        class="draft-tag label-tag-style-tag label-left-arow-tag"
                                                        style="line-height: 16px; vertical-align: middle; margin-top: -5px; display: inline-block;">
                                                        {{AuditableItemMasterStore?.auditableItemDetails?.status.title[0].pivot.title}}</span>
                                                </h5>
                                            </div>
                                            <p style="white-space: pre-wrap;">
                                                {{ AuditableItemMasterStore?.auditableItemDetails?.description }}
                                            </p>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div>
                                                    <h6>{{'audit_categories' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngIf="AuditableItemMasterStore?.auditableItemDetails?.auditable_item_category==null">
                                                            {{AppStore.noContentText}}</p>
                                                        <p>{{AuditableItemMasterStore?.auditableItemDetails?.auditable_item_category?.title}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div>
                                                    <h6>{{'auditable_item_types' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p>{{AuditableItemMasterStore?.auditableItemDetails?.auditable_item_type?.title}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" *ngIf = "OrganizationLevelSettingsStore.organizationLevelSettings?.is_subsidiary">
                                                <div>
                                                    <h6>{{ 'subsidiaries' | translate }}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngFor=" let sub of AuditableItemMasterStore?.auditableItemDetails?.organizations ; let isLast=last">
                                                            {{sub.title}}{{isLast ? '' : ',' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"
                                                [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_division ? 'none':'block'}">
                                                <div>
                                                    <h6>{{'divisions' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngFor=" let div of AuditableItemMasterStore?.auditableItemDetails?.divisions ; let isLast=last">
                                                            {{div.title}}{{isLast ? '' : ',' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"
                                                [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_department ? 'none':'block'}">
                                                <div>
                                                    <h6>{{'departments' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngFor=" let dept of AuditableItemMasterStore?.auditableItemDetails?.departments ; let isLast=last">
                                                            {{dept.title}}{{isLast ? '' : ',' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"
                                                [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_section ? 'none':'block'}">
                                                <div>
                                                    <h6>{{'sections' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngFor=" let section of AuditableItemMasterStore?.auditableItemDetails?.sections ; let isLast=last">
                                                            {{section.title}}{{isLast ? '' : ',' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"
                                                [ngStyle]="{display: !OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section ? 'none':'block'}">
                                                <div>
                                                    <h6>{{'sub_sections' | translate}}</h6>
                                                    <div class="loop-cmn-p">
                                                        <p
                                                            *ngFor=" let sub_section of AuditableItemMasterStore?.auditableItemDetails?.sub_sections ; let isLast=last">
                                                            {{sub_section.title}}{{isLast ? '' : ',' }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div
                                                    *ngIf="AuditableItemMasterStore?.auditableItemDetails?.risk_rating!=null">
                                                    <h6>{{'risk_rating' | translate}}</h6>
                                                    <p [ngClass]="'dot-div pt-0 '+ AuditableItemMasterStore?.auditableItemDetails?.risk_rating?.label+'-dot'">{{AuditableItemMasterStore?.auditableItemDetails?.risk_rating?.language[0]?.pivot?.title}}</p>

                                                    <!-- <ng-container
                                                        *ngFor="let risk of AuditableItemMasterStore?.auditableItemDetails?.risk_rating?.language">

                                                        <div *ngIf="risk.pivot?.title=='High'"
                                                            class="dot-div orange-dot pt-0">{{risk?.pivot?.title}}
                                                        </div>
                                                        <div *ngIf="risk.pivot?.title=='Medium'"
                                                            class="dot-div yellow-dot pt-0">{{risk?.pivot?.title}}
                                                        </div>
                                                        <div *ngIf="risk.pivot?.title=='Low'"
                                                            class="dot-div green-dot pt-0">{{risk?.pivot?.title}} </div>
                                                        <div *ngIf="risk.pivot?.title=='Very High'"
                                                            class="dot-div red-dot pt-0">{{risk?.pivot?.title}} </div>

                                                    </ng-container> -->
                                                </div>
                                            </div>
                                        </div>



                                        <h6 class="mb-2">
                                            {{'documents' | translate}}</h6>
                                            <p *ngIf="AuditableItemMasterStore?.auditableItemDetails?.documents.length == 0">{{AppStore.noContentText}}</p>
                                            
                                        <!-- <div class="thumb-pics-bg thumb-pics-col-3 clearfix" *ngIf="AuditableItemMasterStore?.auditableItemDetails?.documents.length > 0">


                                            <div class="thumb-pics"
                                                *ngFor="let doc of AuditableItemMasterStore?.auditableItemDetails?.documents">
                                                <div class="upload-pics edit-option"
                                                (click) =  "AuthStore.getActivityPermission(1200,'PREVIEW_AUDITABLE_ITEM_DOCUMENT_FILE') ? viewAuditDocument('viewDocument',AuditableItemMasterStore?.auditableItemDetails,doc) : ''"
                                                    >
                                                    <div class="browse-form-pic"
                                                        [ngStyle]="{'background': 'url(' + createImageUrl('auditable-item',doc.token) + '), url(' + getDefaultImage('no-preview') + ') no-repeat 0 0 / cover '}">
                                                    </div>
                                                    <div class="browse-form-name clearfix">
                                                        <div class="float-left">
                                                            <h6 [attr.title]="doc.title">
                                                                {{doc.title.length > 13 ? doc.title.substring(0,13)+'
                                                                ...': doc.title}}
                                                            </h6>
                                                            <span>{{doc.size/1048576 | number:'0.2-2'}}MB</span>
                                                        </div>
                                                        <div class="browse-logo">
                                                            <img *ngIf="checkExtension(doc.ext,'image') != -1"
                                                                src="/assets/images/md-jpg.png">
                                                            <img *ngIf="checkExtension(doc.ext,'doc') != -1"
                                                                src="/assets/images/word-icone.png">
                                                            <img *ngIf="checkExtension(doc.ext,'pdf') != -1"
                                                                src="/assets/images/pdf-icone.png">
                                                            <img *ngIf="checkExtension(doc.ext,'excel') != -1"
                                                                src="/assets/images/excel-icone.png">
                                                            <img *ngIf="checkExtension(doc.ext,'video') != -1"
                                                                src="/assets/images/md-video.png">
                                                            <img *ngIf="checkExtension(doc.ext,'audio') != -1"
                                                                src="/assets/images/md-audio.png">
                                                            <img *ngIf="checkExtension(doc.ext,'ppt') != -1"
                                                                src="/assets/images/md-ppt.png">
                                                        </div>
                                                    </div>
                                                    <div class="edit-option-show-inner" title="Download Document">
                                                        <a><i class="fas fa-download"
                                                            (click) =  "AuthStore.getActivityPermission(1200,'DOWNLOAD_AUDITABLE_ITEM_DOCUMENT_FILE') ? downloadAuditableItemDocument('downloadAuditableItemDocument',AuditableItemMasterStore?.auditableItemDetails,doc) : ''"
                                                                ></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="thumb-pics-bg thumb-pics-col-3 thumb-pics-fix-text clearfix" style="padding-top: 0">
                                            <div class="thumb-pics" *ngFor="let docs of AuditableItemMasterStore?.auditableItemDetails?.documents;let i = index">
                    
                                               <!-- System Files Starts Here -->
                                                <div class="upload-pics edit-option pointer" *ngIf="!docs.document_id"  (click) =  "viewDocument('auditable-item',docs,docs)">
                                                  <div class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImageUrl('auditable-item',docs?.token)+') no-repeat'}">
                                                  </div>
                                                   <div class="browse-form-name clearfix">
                                                    <div class="float-left">
                                                     <h6>{{docs.title?docs.title:docs.name?docs.name:docs.version_title?docs.version_title:"NA"}}.{{docs.ext}}
                                                     </h6>
                                                     <span>{{docs.size/1048576 | number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">System</span>
                                                    </div>
                                                    <div class="browse-logo">
                                                     <img *ngIf="checkExtension(docs.ext,'image') != -1"
                                                         class="folder-picher" src="/assets/images/jpg-icone.png">
                                                     <img *ngIf="checkExtension(docs.ext,'doc') != -1"
                                                         class="folder-picher" src="/assets/images/word-icone.png">
                                                     <img *ngIf="checkExtension(docs.ext,'pdf') != -1"
                                                         class="folder-picher" src="/assets/images/pdf-icone.png">
                                                     <img *ngIf="checkExtension(docs.ext,'excel') != -1"
                                                         class="folder-picher" src="/assets/images/excel-icone.png">
                                                     <img *ngIf="checkExtension(docs.ext,'video') != -1"
                                                         class="folder-picher" src="/assets/images/md-video.png">
                                                     <img *ngIf="checkExtension(docs.ext,'audio') != -1"
                                                         class="folder-picher" src="/assets/images/md-audio.png">
                                                     <img *ngIf="checkExtension(docs.ext,'ppt') != -1"
                                                         class="folder-picher" src="/assets/images/md-ppt.png">
                                                 </div>
                                                   </div>
                                                   <div class="edit-option-show">
                                                     <a><i class="fas fa-download" (click) = "downloadDocumentFile('auditable-item',docs)"></i></a>
                                                  </div>
                                                </div> 
                    
                     <!-- System Files Starts Here -->
                        <!-- KnowledgeHub Files Starts Here -->
                                                <div class="upload-pics edit-option pointer" *ngIf="docs.document_id">
                    
                                                  <div *ngFor="let mainDoc of docs.kh_document.versions" (click) =  "viewDocument('document-version',docs,mainDoc)">
                                                     <div *ngIf="mainDoc.is_latest">
                                                        <div  class="browse-form-pic"  [ngStyle]="{'background': 'url('+createImageUrl('document-version',mainDoc?.token)+') no-repeat'}">
                                                        </div>
                                                         <div class="browse-form-name clearfix">
                                                          <div class="float-left">
                                                           <h6>{{mainDoc.title}}.{{mainDoc.ext}}
                                                           </h6>
                                                           <span>{{mainDoc.size/1048576 | number:'0.2-2'}}MB</span><span class="text-blue bold pl-2">Knowledge Hub</span>
                                                          </div>
                                                          <div class="browse-logo">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'image') != -1"
                                                               class="folder-picher" src="/assets/images/jpg-icone.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'doc') != -1"
                                                               class="folder-picher" src="/assets/images/word-icone.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'pdf') != -1"
                                                               class="folder-picher" src="/assets/images/pdf-icone.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'excel') != -1"
                                                               class="folder-picher" src="/assets/images/excel-icone.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'video') != -1"
                                                               class="folder-picher" src="/assets/images/md-video.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'audio') != -1"
                                                               class="folder-picher" src="/assets/images/md-audio.png">
                                                           <img *ngIf="checkExtension(mainDoc.ext,'ppt') != -1"
                                                               class="folder-picher" src="/assets/images/md-ppt.png">
                                                       </div>
                                                         </div>
                                                         <div class="edit-option-show">
                                                           <a><i class="fas fa-download" (click) = "downloadDocumentFile('document-version',docs,mainDoc)"></i></a>
                                                        </div>
                                                     </div>
                                                  </div>
                    
                                                
                                                </div>
                    <!-- KnowledgeHub Files Ends Here -->
                    
                                             </div>
                                         </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <hr class="mb-2">
                                            
                                                <app-user-popup-box
                                                    [source]=" getCreatedByPopupDetails(AuditableItemMasterStore?.auditableItemDetails?.created_by,AuditableItemMasterStore?.auditableItemDetails?.created_at)">
                                                </app-user-popup-box>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 audit-program-details-page-cnt">
                                <div class="right-box-issue-details edit-and-delete-main">
                                    <!-- <div class="edit-option-show">
                                       
                                        <a title="Edit" class="cursor-pointer"><i class="fas fa-pen"></i></a>
                                        <a title="Delete" class="cursor-pointer" (click)="delete()"><i class="fas fa-trash"></i></a>
                                    </div> -->
                                    <h6 class="pb-2 mb-0">{{'controls' | translate}}</h6>
                                    <div class="panel-group panel-drop-sections pt-0" id="jd" role="tablist"
                                        aria-multiselectable="true">
                                        <div
                                            *ngIf="!(AuditableItemMasterStore?.auditableItemDetails?.controls?.length > 0)">
                                            <p>{{AppStore.noContentText}}</p>
                                        </div>
                                        <div class="panel-group panel-drop-sections pt-0" id="cc" role="tablist"
                                            aria-multiselectable="true">
                                            <div class="panel panel-default"
                                                *ngFor="let row of AuditableItemMasterStore?.auditableItemDetails?.controls;let num = index">
                                                <div class="pointer"
                                                    [ngClass]="selectedIndex==num ? 'panel-heading active' : 'panel-heading'"
                                                    role="tab" id="activityHeader">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" aria-expanded="true"
                                                            aria-controls="collapseOne"
                                                            (click)="getControlDetails(row.id, num)">

                                                            <h5 class="width96pc mt-0">
                                                                <span>#{{row?.reference_code}}</span> -
                                                                <span [title]="row?.title">{{(row?.title.length>40)? (row?.title | slice:0:40)+'..':(row?.title)}}</span> -
                                                                <span>{{(row?.control_category?.title.length >23) ? (row?.control_category?.title | slice:0:23)+'..':(row?.control_category?.title)}}</span> <span
                                                                    class="drop-down-icone"><i
                                                                        class="fas fa-chevron-down"></i></span>
                                                            </h5>

                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="drop-detail-sec"
                                                    [ngClass]="selectedIndex==num ? 'panel-collapse collapse show' : 'panel-collapse collapse'"
                                                    role="tabpanel" aria-labelledby="activityHeader">
                                                    <div class="panel-body bg-white">
                                                        <div class="drop-detail-sec">
                                                            <ul class="banking-issue"
                                                                *ngFor="let list of ControlStore.controlDetails?.control_objectives">
                                                                <li class="clearfix"><a
                                                                        style="cursor: default !important;">
                                                                        {{list.title}} </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div style="cursor: default !important;"
                                                            *ngIf="ControlStore.controlDetails?.control_objectives.length== 0 && ControlStore.control_details_loaded">
                                                            {{AppStore.noContentText}}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <h6 class="pb-2 mb-0">{{'checklist' | translate}}</h6>
                                    <div class="text-editor-content bullet-point-list"
                                        *ngIf="AuditableItemMasterStore?.auditableItemDetails?.checklists">
                                        <ul>
                                            <li class="clearfix"
                                                *ngFor="let checklists of  AuditableItemMasterStore?.auditableItemDetails?.checklists">
                                                {{checklists.title}}</li>

                                        </ul>




                                    </div>


                                    <div class="drop-detail-sec"
                                        *ngIf="AuditableItemMasterStore?.auditableItemDetails?.checklists==0">
                                        <p> {{AppStore.noContentText}}</p>




                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





<!-- ---------File Preview-------------- -->
<!-- <div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
            class="lni-close"></i><span>esc</span></button>
    <app-auditable-item-preview *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
    </app-auditable-item-preview>
</div> -->
<div class="modal modal-style-1 popup-full-width fade popup-new-type" id="add-three-popup" data-keyboard="false"
    data-backdrop="static" #filePreviewModal *mobxAutorun>
    <button type="button" class="close" data-dismiss="modal" (click)="closePreviewModal($event)"><i
            class="lni-close"></i><span>esc</span></button>
    <app-audit-plan-preview-modal *ngIf="previewObject" [source]="previewObject" (close)="closePreviewModal($event)">
    </app-audit-plan-preview-modal>
</div>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>