<!--  new-audit-popup Start -->

<button type="button" class="close" (click)="closeFormModal()"><i class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered" *mobxAutorun>
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'am_report_update'|translate}}</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body">
            <p class="head-details">{{'am_report_update_description'|translate}}</p>
            <form [formGroup]="form">
                <div class="row">

                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>{{'description'|translate}}<sup>*</sup></label>
                            <ckeditor id="description" class="image-width-texteditor table table-bordered border-none text-editor-content bullet-point-list ordinary-table" (change)="descriptionValueChange($event)" [config]="config"
                                [editor]="Editor" formControlName="description">
                            </ckeditor>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block justify-content-left border-0 mt-3">
                            <button type="button" class="btn btn-active" [disabled]="AppStore.loading || form.invalid"
                                (click)="saveRequest()">{{AppStore.loading?getButtonText('loading'):getButtonText('save')}}</button>
                            <button type="button" class="btn" (click)="saveRequest(true)"
                                [disabled]="AppStore.loading || form.invalid">{{AppStore.loading?getButtonText('loading'):getButtonText('save_close')}}</button>

                            <button type="button" (click)="closeFormModal()" class="btn"
                                [disabled]="AppStore.loading">{{AppStore.loading?getButtonText('loading'):getButtonText('cancel')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
    </div>
</div>