
      <button type="button" class="close" data-dismiss="modal"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
      <div class="modal-dialog modal-lg modal-dialog-centered" *ngIf="DocumentsStore.folderDetailsLoaded">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title mb-3">{{'folder_details' | translate}} </h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">          
              <div class="row">
                  <div class="col-sm-12">
                     <div class="d-flex">
                        <img src="/assets/images/folder-icone.png" style="width: 50px; height: 40px;">
                        <div class="ml-3">
                           <h5 class="mb-1">{{DocumentsStore.folderDetails.title}}</h5>
                           <span class="small-text">{{DocumentsStore.folderDetails.created_at | date :'MMM d, y'}}</span>
                        </div>
                     </div>

                     <div class="mt-2 mb-3 tab-type-btn-small"> 
                         <label  *ngIf="DocumentsStore.folderDetails.document_access_type.is_shared" class="outline-tag"><i class="fas fa-lock"></i>Private</label>
                         <label  *ngIf="DocumentsStore.folderDetails.document_access_type.is_shared" class="outline-tag active"><i class="fas fa-share"></i>Share</label>
                         <label  *ngIf="DocumentsStore.folderDetails.document_access_type.is_shared" class="outline-tag"><i class="fas fa-globe-americas"></i>Public</label>
                     </div>

                     <div class="row" *ngIf="DocumentsStore.folderDetails.document_access_type.is_shared" >
                        <div class="col-md-4">
                           <h6 class="bold">{{'organizations' | translate}}</h6>
                           <P *ngIf="DocumentsStore.folderDetailsLoaded">{{getArrayFormatedString(DocumentsStore.folderDetails?.organizations)}}</P>
                        </div>
                        <div class="col-md-4">
                           <h6 class="bold">{{'divisions' | translate}}</h6>
                           <P *ngIf="DocumentsStore.folderDetailsLoaded">{{getArrayFormatedString(DocumentsStore.folderDetails?.divisions)}}</P>
                        </div>
                        <div class="col-md-4">
                           <h6 class="bold">{{'departments' | translate}}</h6>
                           <P *ngIf="DocumentsStore.folderDetailsLoaded">{{getArrayFormatedString(DocumentsStore.folderDetails?.departments)}}</P>
                        </div>
                        <div class="col-md-4">
                           <h6 class="bold">{{'sections' | translate}}</h6>
                           <P *ngIf="DocumentsStore.folderDetailsLoaded">{{getArrayFormatedString(DocumentsStore.folderDetails?.sections)}}</P>
                        </div>
                        <div class="col-md-4">
                           <h6 class="bold">{{'sub_sections' | translate}}</h6>
                           <P *ngIf="DocumentsStore.folderDetailsLoaded">{{getArrayFormatedString(DocumentsStore.folderDetails?.sub_sections)}}</P>
                        </div>
                        <div class="col-md-12">
                        <h6 class="bold text-left">{{'users' | translate}}</h6>
                        <ul class="arci-user-tab-dtl workflow-lst-pics-loop clearfix">
                           <li class="rounde-hov-bg" *ngFor="let userData of DocumentsStore.folderDetails?.users ; let i = index">
                            <app-user-popup-box [source]="assignUserValues(userData)" [showName] = "false" ></app-user-popup-box>
                           </li>
                       </ul>
                     </div>                  
                     </div>
                  </div>
               </div>
            </div>
            <!-- Modal footer -->
         </div>
      </div>
   <!-- </div> -->
