<button type="button" class="close" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' |
    translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">{{'sla_contract' | translate}}</h4>
        <!-- <h4 class="modal-title">{{'sla_contract' | translate}}</h4> -->


        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
    </div>
    <!-- Modal body -->
    <div class="modal-body form-body">

        <p class="head-details"></p>


        <form [formGroup]="form">

            <div class="row">
                <div class="col-sm-12" >
                    <div class="form-group">
                        <label for="name">{{'sla_contract'|translate}}<sup>*</sup></label>
                        <div class="clearfix d-flex">
                            <div class="multiple-plain-ngselect w-100">

                                <ng-select 
                                    [placeholder]="'select_assessment'|translate" [multiple]="false" searchable="true"
                                    bindLabel="title" formControlName="contract"
                                    [closeOnSelect]="true" >
                                    <ng-option [value]="type"
                                        *ngFor="let type of SLAContractStore?.slaContractsList">
                                        {{type.title}}
                                    </ng-option>
                                </ng-select>
                            </div>
                           
                          

                        </div>
                        <p class="form-error pt-1"
                        *ngIf="formErrors&&formErrors.business_assessment_framework_id">
                        {{formErrors.business_assessment_framework_id}}</p>
                    </div>
                </div>
            </div>



            <div class="clearfix"></div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="d-block justify-content-left border-0 mt-3">
                        <button type="submit" class="btn btn-active" (click)="save()"
                            [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ?
                            getButtonText('loading') : getButtonText('save') }}</button>
                        <button type="button" data-toggle="modal" data-target="#signal-lost" class="btn"
                            (click)="save(true)" [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading ?
                            getButtonText('loading') : getButtonText('save_close') }}</button>
                        <button type="button" data-toggle="modal" data-target="#error-message" class="btn"
                            (click)="cancel()">{{ AppStore.loading ? getButtonText('loading') :
                            getButtonText('cancel') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal footer -->
</div>
</div>