<ng-container *mobxAutorun>
    <div class="tab-pane tab-edit-class" id="risk"
        *ngIf="BcmRiskAssessmentStore.assessmentLoaded && BcmResidualRiskStore.loaded && BcmResidualRiskStore.chartLoaded && BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis && AuthStore.getActivityPermission(2800,'RISK_RESIDUAL_ANALYSIS_LIST')">
        <div>
            <!-- <div class="processes-issue audit-processes-issue clearfix cmn-bdr mb-3">
                <h5><img src="/assets/images/search-info.png">Perform Residual Risk</h5>
                <div class="float-right">
                    <a data-toggle="modal" (click)="openPerformPopup()" class="btn">Perform Now</a>
                </div>
            </div> -->
    

            <div class="bg-white widg-padding-cmn-small btm-space-10">
                <div class="row">
                    <div class="col-lg-3 col-sm-5">
                        <h4 class="head-three relative pr-4">
                            {{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.impact?.language[0].pivot.title}}
                            (<span
                                [ngClass]="'big-text-current-value text-'+BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_rating?.label">{{BcmRiskAssessmentStore?.bcmRiskAnalysis?.risk_analysis?.impact?.score}}
                            </span>
                            <span [ngClass]="'big-text-current-value text-'+BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_rating?.label">
                                <i class="fas fa-long-arrow-alt-right mr-2 ml-2"></i>{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis.impact.score}}</span>)
                                 <a
                                class="close-text-box">x</a>
                        </h4>
                        <h5 class="font-normal">{{'impact' | translate}}</h5>
                        <p class="text-editor-content bullet-point-list pt-1 small-text"
                        [innerHTML]="BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis.impact.language[0].pivot.description | safeHtml">
                    </p>
                    <h5 style="font-size: 14px;" class="mt-2" *ngIf="BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.impact_justification!=null">
                        {{'justification'|translate}}:<span class="font-normal small-text ml-2" style="white-space: pre-line;">{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.impact_justification}} </span>
                    </h5>
                        <!-- <p class="small-text">
                            {{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis.impact.language[0].pivot.description}}
                        </p> -->
    
                    </div>
                    <div class="col-lg-5 col-sm-7">
                        <h4 class="head-three relative pr-4">
                            {{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis.likelihood?.language[0]?.pivot?.title}}
                            (<span
                                [ngClass]="'big-text-current-value text-'+BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_rating?.label">{{BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.likelihood?.score}}
                            </span> <span [ngClass]="'big-text-current-value text-'+BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_rating?.label"><i 
                                    class="fas fa-long-arrow-alt-right mr-2 ml-2"></i>{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.likelihood?.score}}</span>)
                        </h4>
                        <h5 class="font-normal"> {{'likelihood' | translate}}</h5>
                        <p class="small-text">
                            {{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.likelihood?.language[0]?.pivot?.timeframe}}
                        </p>
                        <h5 style="font-size: 14px;" class="mt-2" *ngIf="BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.likelihood_justification!=null">
                            {{'justification'|translate}}:<span class="font-normal small-text ml-2" style="white-space: pre-line;">{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.likelihood_justification}} </span>
                        </h5>


    
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="small-rate-box d-flex w-100">
                            <!-- [ngClass]="getAnalysisScoreClass(BcmRiskAssessmentStore.bcmRiskAnalysis.risk_analysis.risk_score)==4?'risk-rating-box risk-rating-box-small bg-light-green':getAnalysisScoreClass(BcmRiskAssessmentStore.bcmRiskAnalysis.risk_analysis.risk_score)==3?'risk-rating-box risk-rating-box-small bg-dark-yellow ':getAnalysisScoreClass(BcmRiskAssessmentStore.bcmRiskAnalysis.risk_analysis.risk_score)==2?'risk-rating-box risk-rating-box-small bg-dark-orange':'risk-rating-box risk-rating-box-small bg-dark-red'"> -->
    
                            <div
                                [ngClass]="'risk-rating-box risk-rating-box-small risk-rating-box-color bg-'+getAnalysisScoreClass(BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_score)+' w-100'">
                                <h3 class="text-white">
                                    &nbsp;{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_rating?.language[0]?.pivot?.title}}
                                    ({{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_score}})&nbsp;
                                </h3>
                                <p class="text-white mb-0">&nbsp; {{'residual_risk_rating' | translate}}&nbsp;</p>
                            </div>
                            <div class="risk-rating-box-white bg-white text-center risk-rating-box-color border-left-none" style="width: 200px;">
                                <p [ngClass]="'text-'+BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_rating?.label+' mb-0'">
                                    &nbsp;{{BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_rating?.language[0]?.pivot?.title}}
                                    {{BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_score}}</p>
                                <span [ngClass]="(BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_score>BcmRiskAssessmentStore.bcmRiskAnalysis?.risk_analysis?.risk_score) || (BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_score==BcmRiskAssessmentStore.bcmRiskAnalysis.risk_analysis?.risk_score)?'down-icon-risk-rating text-red':'down-icon-risk-rating text-green'"><i
                                        class="fas fa-long-arrow-alt-down"></i></span>
                                <p [ngClass]="'text-'+BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_rating?.label+' mb-0'">
                                    &nbsp;{{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_rating?.language[0]?.pivot?.title}}
                                    {{BcmResidualRiskStore.residualRiskDetails?.risk_residual_analysis?.risk_score}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row sm-row" *ngIf="AuthStore.getActivityPermission(900,'RISK_RESIDUAL_ANALYSIS_CHART')">
                <div class="col-lg-3 col-sm-6 sm-col resudal-common-box-main">
                    <div class="bg-white p-3 resudal-common-box btm-space-10">
                        <h6>{{'risk_cycle_time'|translate}}</h6>
                        <hr class="mt-0 mb-3">
                        <div class="risk-mitigation-cycle-time-graph text-center">
                            <!-- <img src="/assets/images/graph-meter.png" class="img-fluid"> -->
                            <div class="attendance-chart-pic text-center">
                                <div id="gaugechartdiv"></div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-col resudal-common-box-main">
                    <div class="bg-white p-3 resudal-common-box btm-space-10">
                        <h6>{{'risk' | translate}} vs {{'residual_risk' | translate}}</h6>
                        <hr class="mt-0 mb-3">
                        <!-- <div class="residual-risk-graph text-center"> -->
                        <div class="attendance-chart-pic text-center">
                            <div id="chartdiv"></div>
                        </div>
                        <!-- <img src="/assets/images/graph-residual-risk.png" class="img-fluid"> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-col resudal-common-box-main"
                    *ngIf="RiskManagementSettingStore.loaded && RiskManagementSettingStore.riskManagementSettings.is_budget">
                    <div class="bg-white p-3 resudal-common-box btm-space-10">
                        <h6>{{'budget_allocation_vs_used' | translate}}</h6>
                        <hr class="mt-0 mb-3 pt-2">
                        <div class="progress-round-small btm-top-pdg w-100">
    
                            <div
                                [ngClass]="BcmResidualRiskStore?.chartDetails.budget_used.used_percentage>50?'progress-circle over50 p'+BcmResidualRiskStore?.chartDetails.budget_used.used_percentage:'progress-circle p'+BcmResidualRiskStore?.chartDetails.budget_used.used_percentage">
                                <span>{{(BcmResidualRiskStore?.chartDetails?.budget_used?.used_percentage) &&
                                    (BcmResidualRiskStore?.chartDetails.budget_used.used_percentage>100)?100:BcmResidualRiskStore?.chartDetails.budget_used.used_percentage}}%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                            <!-- <p class="mb-0">{{document.assessment_count}} {{'assessments'|translate}}</p> -->
                        </div>
                        <h5 class="text-light-blue text-center pt-2">
                            {{OrganizationGeneralSettingsStore?.organizationSettings?.currency}} {{BcmResidualRiskStore?.chartDetails.budget_used.total_amount_used}}/
                            {{OrganizationGeneralSettingsStore?.organizationSettings?.currency}} {{BcmResidualRiskStore?.chartDetails.budget_used.total_budget}}</h5>
                    </div>
                </div>
            </div>
    
        </div>
    
    
    </div>
    
    <!-- Residual Perform-now-popup End -->
    <ng-container *mobxAutorun>
        <div *ngIf="!BcmResidualRiskStore.loaded">
            <app-residual-risk-loader></app-residual-risk-loader>
        </div>
    </ng-container>
    
    <div class="modal modal-style-1 fade popup-full-width small-step-form-popup" id="new-bcp" data-keyboard="false" data-backdrop="static" #performPopup>
        <app-bcm-risk-assessment-modal *ngIf = "riskAssessmentObject.type" [source] = "riskAssessmentObject"></app-bcm-risk-assessment-modal>
      </div>
    
    <ng-container *mobxAutorun>
        <app-no-data *ngIf="BcmResidualRiskStore.loaded && !BcmResidualRiskStore?.residualRiskDetails?.risk_residual_analysis"
            [border]=false></app-no-data>
    </ng-container>
    
    
    <!-- Residual Perform-now-popup Start -->
    <div class="modal modal-style-1 fade popup-full-width small-step-form-popup" id="residual-perform-now-popup"
        data-keyboard="false" data-backdrop="static" #performPopup *mobxAutorun>
        














    </div>
    </ng-container>
    
    
    <!------------------- Cancel Confirmation Modal Start --------------------------->
    
    <div class="modal modal-style-1 fade" id="delete-popup" #cancelPopup>
        <app-delete-popup [source]="cancelObject"></app-delete-popup>
    </div>
    
    <!------------------- Cancel Confirmation Modal End --------------------------->
    
    <div class="modal modal-style-1 image-download-popup-new fade" id="loadMe" aria-labelledby="loadMeLabel" tabindex="-1" role="dialog" #loaderPopUp>
        <app-loader [source] = "downloadMessage"></app-loader>
     </div>
    