
<div role="tabpanel" class="tab-pane show" id="category204">
    <div class="widget mb-0">
                
        <div class="row widget-heading">
            <div class="col-sm-12">
                <h2 class="m-0 pb-2">{{'strategy_settings' | translate}}</h2>
            </div>
        </div>
        <div class="bg-white widget-body p-0 pt-3" [ngStyle] = "{ 'pointer-events' : AuthStore.getActivityPermission(1300,'UPDATE_RISK_SETTING') ? '' : 'none'}" *mobxAutorun>
            <div class="min-height-64">
                <div class="row mt-3">
                    <div class="col-sm-12">                                            
                            
                        <div class="setting-item">
                            <div class="row ">
                                <div class="col-sm-8 d-flex align-items-center">
                                    <!-- <h4>{{'activate'|translate}}</h4> -->
                                    <h4>{{'activation_status'|translate}}</h4>
                                </div>
                                <div class="col-sm-4 d-flex align-items-center justify-content-end">
                                    <label class="switch">
                                        <input type="checkbox"
                                            [checked]="strategySettingsObject?.is_activate == true"
                                            (change)='updateData($event,"is_activate")'>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>        

                        <div class="setting-item">
                            <div class="row ">
                                <div class="col-sm-8 d-flex align-items-center">
                                    <h4>{{'weightage_decimals'|translate}}</h4>
                                </div>
                                <div class="col-sm-4 d-flex align-items-center justify-content-end">
                                    <label class="switch">
                                        <input type="checkbox"
                                            [checked]="strategySettingsObject.is_weightage == true"
                                            (change)='updateData($event,"is_weightage")'>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card access-main-card mb-3">
                            <!-- access-main-card starts -->
                            <div class="card-header card-hov-effect bg-white">
                                <a class="card-link font-weight-bold full-line-click collapsed" data-toggle="collapse"
                                    href="#collapseFiveOne" aria-expanded="false">
                                    {{'decimal_view'|translate}}
                                </a>
                                <div class="custom-control white-cbox  custom-checkbox check-align-2" style="top: 0px;">
                                    <input type="checkbox" class="custom-control-input" id="1001" name="1001"
                                    [checked]="strategySettingsObject?.is_fractional_part ==true" (change)='updateData($event,"is_fractional_part")'>
                                    <label class="custom-control-label" for="1001"></label>
                                </div>
                            </div>
                            <div id="collapseFiveOne" class="collapse" data-parent="#collapseFiveOne">
                                <div class="card-body">
                                    <div>
                                        <div class="custom-control white-cbox custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="201" name="201"
                                            [checked]="strategySettingsObject?.is_weightage_fraction ==true" (change)='updateData($event,"is_weightage_fraction")'>
                                            <label class="custom-control-label align-label-check smoothe-slide"
                                                for="201">{{'weightage_decimals'|translate}}</label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control white-cbox custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="202" name="202"
                                            [checked]="strategySettingsObject?.is_target_fraction ==true" (change)='updateData($event,"is_target_fraction")'>
                                            <label class="custom-control-label align-label-check smoothe-slide"
                                                for="202">{{'target_decimals'|translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-block justify-content-left border-0 mt-3">
                        <button type="submit" class="btn ordinary-btn mr-3 btn-active" (click)="save()"
                            [disabled]="AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

