<!-- common-tab-md starts -->
<div class="common-tab-md clearfix tab-same-height mb-3">
        <div class="tab-common-left-md">
          <div class=" issues-tab"><!-- tab menu start -->
            <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" role="navigation">
                <li (click)="checkSettingsEnable(items);" class="nav-item"
                *ngFor="let items of OrganizationModulesStore.getOrganizationSubModules(200,6101);let num=index">
                <a class ="nav-link" data-toggle="tab"
                        data-original-title="Customer" [routerLinkActive]="['linkActive']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="[items.client_side_url=='human-capital/users' ? '/my-account/profile' : items.client_side_url == '/my-account/settings' ? 'settings' : '/my-account/profile/'+items.client_side_url]">{{items.title}}</a>
               
                </li>

                <li class="nav-item"> <a
                        [routerLink]="['/my-account/profile/integration']"
                        [routerLinkActive]="['linkActive']" 
                        class="nav-link" data-toggle="tab" role="tab"
                        aria-controls="ipsum" data-original-title=""
                        title="">{{'integration' | translate}}</a>
                </li>

                <li class="nav-item"> <a
                        [routerLink]="['/my-account/profile/notification']"
                        [routerLinkActive]="['linkActive']" 
                        class="nav-link" data-toggle="tab" role="tab"
                        aria-controls="ipsum" data-original-title=""
                        title="">{{'notifications' | translate}}</a>
                </li>
            </ul>
          </div><!-- tab menu end -->
        </div>


        <div class="tab-common-left-content-m pt-1">
          <div class="tab-content widg-padding-cmn bg-white cmn-bdr">

                
                <router-outlet></router-outlet>
                

          

          </div>
        </div>
      </div>
    <!-- common-tab-md end -->

<!-- <div class="tab-content"> -->
        <!-- profile -->
        <!-- <div class="tab-pane user-settings active show">
                <div class="row">

                        <div class="col-xl-2 col-lg-3 active-right-border-none">
                                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left vertical-tab" 
                                        role="navigation">
                                        <li (click)="checkSettingsEnable(items);" class="nav-item"
                                        *ngFor="let items of OrganizationModulesStore.getOrganizationSubModules(200,6101);let num=index">
                                        <a class ="nav-link" data-toggle="tab"
                                                data-original-title="Customer" [routerLinkActive]="['linkActive']" [routerLinkActiveOptions]="{exact: true}"
                                                [routerLink]="[items.client_side_url=='human-capital/users' ? '/my-account/profile' : items.client_side_url == '/my-account/settings' ? 'settings' : '/my-account/profile/'+items.client_side_url]">{{items.title}}</a>
                                       
                                        </li>

                                        <li class="nav-item"> <a
                                                [routerLink]="['/my-account/profile/integration']"
                                                [routerLinkActive]="['linkActive']" 
                                                class="nav-link" data-toggle="tab" role="tab"
                                                aria-controls="ipsum" data-original-title=""
                                                title="">{{'integration' | translate}}</a>
                                        </li>

                                        <li class="nav-item"> <a
                                                [routerLink]="['/my-account/profile/notification']"
                                                [routerLinkActive]="['linkActive']" 
                                                class="nav-link" data-toggle="tab" role="tab"
                                                aria-controls="ipsum" data-original-title=""
                                                title="">{{'notifications' | translate}}</a>
                                        </li>
                                </ul>
                        </div>
                        <div class="col-xl-10 col-lg-9 pl-0">
                                <div class="tab-content user-settings cmn-bdr bg-white" style="min-height: 600px;">                                        
                                         <router-outlet></router-outlet>
                                </div>
                        </div>
                </div>
        </div> -->
        <!-- profile end -->

<!-- </div> -->