<!-- outline-tag-more-popup Start -->
<button type="button" class="close" (click)="cancel()" data-dismiss="modal"><i class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Document Type </h4>
    </div>
    <!-- Modal body -->
    <div class="modal-body form-body">
      <p class="head-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident.
         </p>
      <div class="row">
        <div class="col-sm-12">
            <label *ngFor="let docType of source" class="outline-tag mb-1">{{docType?.title}}</label>        
        </div>
     </div>              
      <div class="row">
        <div class="col-sm-12">
          <div class="d-block justify-content-left border-0 mt-3">            
            <button type="button" (click)="cancel()" data-dismiss="modal" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal footer --> 
  </div>
</div>  
<!-- outline-tag-more-popup End -->