<app-audit-program-auditable-item-loader *ngIf="AuditProgramMasterStore.individualLoaded==false"

></app-audit-program-auditable-item-loader>
<div class="tab-pane tab-edit-class assessment-tab-user" id="assessment">
    <div class="widget">
        <div class="widg-padding-cmn bg-white">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="mb-4 by-risk-rating-top-sec">
                                <h5 class="cmn-head-style bold mr-3">{{'by_risk_rating' | translate}}</h5><button
                                    *ngIf="AuditSettingStore.auditSettingsItems?.is_process_auditable==1" type="button"
                                    data-toggle="modal" data-target="#choose-risk-popup" class="btn btn-small"
                                    (click)="openRiskModal()">{{'choose_risk' |
                                    translate}}</button>
                                <button type="button" data-toggle="modal" data-target="#choose-items-popup"
                                    (click)="openAuditableItemModal()" class="btn btn-small">{{'choose_items' |
                                    translate}}</button>
                                <button type="button" data-toggle="modal" data-target="#choose-process-popup"
                                    *ngIf="AuditSettingStore.auditSettingsItems?.is_risk_auditable==1"
                                    (click)="openProcessModal()" class="btn btn-small">{{'choose_process' | translate}}
                                </button>
                            </div>

                            <div
                                class="big-text-box-main-two clearfix auditable-item-risk-rating-section big-text-box-seven">
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-three">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.auditable_items_count}}</h3>
                                    <p class="mb-0">{{'items' | translate}}</p>
                                </div>
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.extreme}}
                                    </h3>
                                    <p class="dot-div-new dot-red mb-0 font-normal">
                                        <!-- <span class="dot-div red-dot"></span> -->
                                        {{'extreme' |
                                        translate}}</p>
                                </div>
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.very_high}}
                                    </h3>
                                    <p class="dot-div-new dot-orange mb-0 font-normal">
                                        <!-- <span class="dot-div orange-dot"></span> -->
                                            {{'risk_very_high'
                                        | translate}}</p>
                                </div>
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.high}}
                                    </h3>
                                    <p class="dot-div-new dot-yellow mb-0 font-normal">
                                        <!-- <span class="dot-div yellow-dot"></span> -->
                                        {{'risk_high' |
                                        translate}}</p>
                                </div>
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.medium}}
                                    </h3>
                                    <p class="dot-div-new dot-green mb-0 font-normal">
                                        <!-- <span class="dot-div light-green-dot"></span> -->
                                        {{'risk_medium'
                                        | translate}}</p>
                                </div>
                                <div class="big-text-box-two border-right">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.low}}
                                    </h3>
                                    <p class="dot-div-new dot-green mb-0 font-normal">
                                        <!-- <span class="dot-div green-dot"></span> -->
                                        {{'risk_low' |
                                        translate}}</p>
                                </div>

                                <div class="big-text-box-two">
                                    <h3 class="big-text-two">
                                        {{AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_analysis.no_risk_rating_items}}
                                    </h3>
                                    <p class="dot-color-p mb-0"><span></span>{{'no_risk_rating_items' | translate}}</p>
                                </div>
                            </div>
                            <hr class="mt-2">
                            <div class="row">
                                <div class="col-lg-9 col-sm-12">
                                    <div class="right-graph-auditable-item pl-0"
                                        *ngIf="AuditProgramMasterStore.individualAuditPrograms?.department_wise_diagram?.length > 0">
                                        <h5 class="cmn-head-style bold mb-3">{{'by_department' | translate}}</h5>
                                        <div class="auditable-item-chart-one text-center w-100">
                                            <div id="clusteredbarchartdiv" style="width: 100%; height: 300px"></div>
                                        </div>

                                    </div>

                                    <div class="right-graph-auditable-item pl-0"
                                        *ngIf="AuditProgramMasterStore.individualAuditPrograms?.department_wise_diagram?.length == 0">
                                        <h5 class="cmn-head-style bold mb-3">{{'by_department' | translate}}</h5>
                                        <div class="auditable-item-chart-one text-center w-100">
                                            <app-no-chart-data [source]="auditableItemCountInfo"
                                                *ngIf="AuditProgramMasterStore.individualAuditPrograms?.department_wise_diagram?.length == 0">
                                            </app-no-chart-data>
                                        </div>

                                    </div>

                                </div>


                                <div class="col-lg-3 col-sm-12"
                                    *ngIf="AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_chart_data.length>0">
                                    <div class="auditable-item-chart-two text-center">
                                        <div id="piechartdiv" style="width: 100%; height: 300px"></div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-sm-12"
                                    *ngIf="AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_chart_data.length==0">
                                    <div class="auditable-item-chart-two text-center">
                                        <app-no-chart-data [source]="riskRatingInfo"
                                            *ngIf="AuditProgramMasterStore?.individualAuditPrograms?.risk_rating_chart_data.length==0">
                                        </app-no-chart-data>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-12">

                <div class="mb-2">
                    <div class="row">

                        <div class="col-lg-8 col-sm-12">
                            <h5 class="cmn-head-style bold pt-2 float-left">{{'selected_auditable_item' | translate}}</h5>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="d-flex">
                                <button type="button" style="min-width:117px; height: 37px;"
                                    *ngIf="auditableItemArray.length>0" class="btn mr-2" [disabled]="AppStore.loading"
                                    (click)="delete()">{{ AppStore.loading ? 'Loading...' : 'Remove' }}</button>

                                <div class="form-group w-100 mb-0">

                                    <form class="form-control issue-select-process-search bg-white search-popup-new"
                                        autocomplete="off" [formGroup]="form" (submit)="searchAuditableItems()">
                                        <input type="text" placeholder="Search In Auditable Items.." name="search"
                                            class="search-process" [(ngModel)]="searchTerm"
                                            (ngModelChange)="searchAuditableItems()"
                                            [ngModelOptions]="{standalone: true}">
                                        <a class="search-clear-btn" (click)="clearSearchBar()" *ngIf="searchTerm">X</a>
                                        <button type="submit" style="width: 40px;"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- *ngIf="auditableItemArray.length>0" -->
                <div class="audit-program-box audit-page-table-main">

                    <div class="row">
                        <div class="col-sm-12 full-width-table">
                            <table class="table table-bordered ordinary-table audit-page-table mb-4 table-scroll"
                                *ngIf="AuditableItemMasterStore?.loaded">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" width="6%">
                                            <label class="container2 float-left"
                                                style="margin-top: 2px; padding-left: 22px;">
                                                <input type="checkbox" [checked]="allAuditableItems"
                                                    (change)="checkAll($event)">
                                                <span class="checkmark"></span>
                                            </label>
                                            #
                                        </th>
                                        <th class="border-top-0" width="10%">{{'reference_code' | translate}}</th>
                                        <th class="border-top-0" width="54%">{{'title' | translate}}</th>
                                        <th class="border-top-0" width="10%">{{'auditable_item_types' | translate}}</th>
                                        <th class="border-top-0" width="10%">{{'auditable_item_categories' | translate}}
                                        </th>
                                        <th class="border-top-0" width="10%">{{'risk_rating' | translate}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *mobxAutorun>
                                        <tr
                                            *ngFor="let item of AuditableItemMasterStore.allItems| paginate: {currentPage:AuditableItemMasterStore.currentPage, itemsPerPage:AuditableItemMasterStore.itemsPerPage,totalItems:AuditableItemMasterStore.totalItems};let num=index">
                                            <td>
                                                <label class="container2 float-left"
                                                    style="margin-top: 2px; padding-left: 22px;">
                                                    <input type="checkbox" [id]="item?.id" [name]="item?.name"
                                                        [checked]="item?.is_enabled"
                                                        (change)="selectAuditableItemPresent($event,item, num)">
                                                    <span class="checkmark"></span>
                                                </label>
                                                {{(AuditableItemMasterStore.currentPage - 1) *
                                                AuditableItemMasterStore.itemsPerPage + (num + 1)}}
                                            </td>
                                            <td>#{{item?.reference_code}}</td>
                                            <td>{{item?.title}}</td>
                                            <td>{{item?.auditable_item_type ? item?.auditable_item_type :
                                                AppStore.noContentText}}</td>
                                            <td> {{item?.auditable_item_category ? item?.auditable_item_category :
                                                AppStore.noContentText}}
                                            </td>
                                            <!-- <td *ngIf="item?.risk_rating!=null">
                                                <div [ngClass]="'dot-div '+ item?.status_label">
                                                    {{item?.risk_rating}} </div>
                                            </td> -->

                                            <ng-container *ngIf="item?.risk_rating!=null">
                                                <td>
                                                    <div *ngIf="item?.risk_rating=='High'" class="dot-div yellow-dot">
                                                        {{item?.risk_rating}} </div>
                                                    <div *ngIf="item?.risk_rating=='Medium'" class="dot-div light-green-dot">
                                                        {{item?.risk_rating}} </div>
                                                    <div *ngIf="item?.risk_rating=='Low'" class="dot-div green-dot">
                                                        {{item?.risk_rating}} </div>
                                                    <div *ngIf="item?.risk_rating=='Very High'" class="dot-div orange-dot">
                                                        {{item?.risk_rating}} </div>
                                                    <div *ngIf="item?.risk_rating=='Extreme'" class="dot-div orange-dot">
                                                        {{item?.risk_rating}} </div>
                                                </td>
                                            </ng-container>
                                            <td *ngIf="item?.risk_rating==null">
                                                {{ AppStore.noContentText}}
                                            </td>


                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>

                            <ng-container *mobxAutorun>
                                <div *ngIf="!AuditableItemMasterStore.loaded">
                                    <app-auditable-item-loader></app-auditable-item-loader>
                                </div>


                                <app-no-data-list [source]="auditableItemEmptyList"
                                    *ngIf="AuditableItemMasterStore.totalItems == 0 && AuditableItemMasterStore.loaded == true">
                                </app-no-data-list>
                            </ng-container>



                            <div *ngIf="AuditableItemMasterStore.totalItems>AuditableItemMasterStore.itemsPerPage"
                                class="col-sm-12">
                                <ul class="pagination justify-content-center mt-3">
                                    <div class="list">
                                        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
                                        </pagination-controls>
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <!-- <div *ngIf="AuditProgramMasterStore?.individualAuditPrograms?.auditable_items.length > 15"
                            class="col-sm-12">
                            <ul class="pagination justify-content-center mt-3">
                                <div class="list">
                                    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
                                    </pagination-controls>
                                </div>
                            </ul>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<!-- Modal part  import auditable Items-->

<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #formModal>
    <app-auditable-item-add-modal *ngIf="auditableItemObject.type" [source]="auditableItemObject">
    </app-auditable-item-add-modal>
</div>

<!-- Modal part  import risks-->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #riskModal>

    <app-import-risk-modal *ngIf="importRiskObject.type" [source]="importRiskObject">

    </app-import-risk-modal>

</div>


<!-- Modal part  import process-->
<div class="modal modal-style-1 popup-full-width fade" data-keyboard="false" data-backdrop="static" #processModal>

    <app-import-process-modal *ngIf="importProcessObject.type" [source]="importProcessObject">

    </app-import-process-modal>

</div>


<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>