<nav class="edit-bar" data-toggle="affix" scrollPoint #navigationBar>
   <app-breadcrumb-menu></app-breadcrumb-menu>

   <app-sub-menu></app-sub-menu>
</nav>
<main class="audit-program-details-page mt-20 pl-0" *mobxAutorun>
   <div class="container-fluid">
      <div class="widget" *ngIf="FrameworksStore.individual_framework_loaded">
         <div class="bg-white widg-padding-cmn">
            <div class="row issuue-new-style p-0 min-height-64">
               <div class="col-md-12">
                  <div class="issue-top-sec">
                     <div class="clearfix">
                        <h5 class="d-inline-block cmn-head-style label-tag-style"><span
                              class="issue-smoal-head-text">#{{FrameworksStore.individualFrameworkDetails.reference_code}}</span>
                           {{FrameworksStore.individualFrameworkDetails.title}}
                           <span class="dot-div {{FrameworksStore.individualFrameworkDetails?.status?.label}}">
                              {{FrameworksStore.individualFrameworkDetails?.status?.title[0]?.pivot?.title}}
                           </span>
                        </h5>
                     </div>
                     <div
                        *ngIf="!FrameworksStore.view_more &&FrameworksStore.individualFrameworkDetails?.description?.length > 0 ">

                        <div
                           *ngIf="!FrameworksStore.view_more &&FrameworksStore.individualFrameworkDetails?.description?.length > 0"
                           class="text-editor-content bullet-point-list mb-3"
                           [innerHTML]="FrameworksStore.individualFrameworkDetails.description?.length > 2000?FrameworksStore.individualFrameworkDetails.description?.substring(0,2000)+'...':FrameworksStore.individualFrameworkDetails.description">
                        </div>

                        <a *ngIf="FrameworksStore.individualFrameworkDetails.description?.length > 2000"
                           (click)="viewMore('more')"
                           class="view-more-pestel-box pointer view-more-doted">...{{'view_more'|translate}}
                        </a>
                     </div>

                     <div class="row">
                        <div class="col-xl-4 col-lg-6 col-sm-6">
                           <h6> {{'maturity_model' | translate}} </h6>
                           <p>{{FrameworksStore?.individualFrameworkDetails?.maturity_models?.length?getArrayFormatedString('title',FrameworksStore?.individualFrameworkDetails?.maturity_models)
                              : AppStore.noContentText }}</p>
                        </div>
                        <!-- <div class="col-xl-4 col-lg-6 col-sm-6">
                        <h6> {{'cyber_is_control_assessment' | translate}} </h6>
                        <p>{{FrameworksStore.individualFrameworkDetails.is_control_assessment?'yes':'No' }}</p>
                    </div> -->
                     </div>
                     <div *ngIf="FrameworksStore.view_more">

                        <div class="text-editor-content bullet-point-list mb-3"
                           [innerHTML]="FrameworksStore.individualFrameworkDetails.description | safeHtml"></div>

                        <a *ngIf="FrameworksStore.individualFrameworkDetails.description.length > 2000"
                           (click)="viewMore('less')"
                           class="view-more-pestel-box pointer view-more-doted">{{'view_less'|translate}}
                        </a>
                     </div>

                  </div>

                  <div class="audit-page-table-main frame-work-table">
                     <table class="table table-bordered ordinary-table audit-page-table mb-1 no-scroll-table">
                        <thead>
                           <tr>
                              <th class="border-top-0 text-center" width="4%">#</th>
                              <th class="border-top-0" width="32%">{{'options'|translate}}</th>
                              <th class="border-top-0 text-center" width="32%">{{'score'|translate}}</th>
                              <th class="border-top-0" width="32%">{{'applicable'|translate}}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr
                              *ngFor="let option of FrameworksStore.individualFrameworkDetails.business_assessment_framework_options;let num = index">
                              <td class="text-center">{{num+1}}</td>
                              <td>{{option.title}}</td>
                              <td class="text-center">{{option.score}}</td>
                              <td>{{option.is_applicable?'True':'False'}}</td>

                           </tr>
                        </tbody>
                     </table>
                  </div>

                  <!-- <div class="row mt-3">
                     <div class="col-lg-2 col-sm-4 col-6">
                        <h6>{{'options'|translate}}</h6>
                        <span
                           *ngFor="let option of FrameworksStore.individualFrameworkDetails.business_assessment_framework_options"
                           class='options-box-score mb-0 pt-1 pb-1'>{{option.title}} </span>
                      
                     </div>
                     <div class="col-lg-2 col-sm-4 col-3" style="border-left: 1px solid #ccc;">
                        <h6>{{'score'|translate}}</h6>
                        <span
                           *ngFor="let option of FrameworksStore.individualFrameworkDetails.business_assessment_framework_options"
                           class="options-box-score mb-0 pt-1 pb-1">{{option.score}}</span>

                     </div>
                     <div class="col-lg-2 col-sm-4 col-3" style="border-left: 1px solid #ccc;">
                        <h6>{{'applicable'|translate}}</h6>
                        <span
                           *ngFor="let option of FrameworksStore.individualFrameworkDetails.business_assessment_framework_options"
                           class="options-box-score mb-0 pt-1 pb-1">{{option.is_applicable?'True':'False'}}</span>

                     </div>
                  </div> -->
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                  <hr class="mb-2">
                  <app-user-popup-box
                     [source]="getPopupDetails(FrameworksStore.individualFrameworkDetails.created_by)"></app-user-popup-box>
               </div>
            </div>
         </div>

      </div>
      <ng-container>
         <app-framework-detail-loader
            *ngIf="!FrameworksStore.individual_framework_loaded"></app-framework-detail-loader>
      </ng-container>
   </div>
</main>

<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" data-backdrop="static" data-keyboard="false" #deletePopup>
   <app-delete-popup [source]="deleteObject"></app-delete-popup>
</div>

<!------------------- Delete Confirmation Modal End --------------------------->

<div class="modal modal-style-1 fade popup-full-width" id="add-business-framework-popup" data-keyboard="false"
   data-backdrop="static" #formModal>
   <app-framework-modal *ngIf="frameworkObject.type" [source]="frameworkObject">
   </app-framework-modal>

</div>