<div class="tab-pane tab-edit-class" id="asset-maintenance" *mobxAutorun>
    <div *ngIf="AssetMaintenanceStore?.loaded && AssetMaintenanceStore.assetMaintenance?.length>0">
       <div class="audit-program-box audit-page-table-main">
          <div class="row">
             <div class="col-sm-12 ">
                <div class="full-width-table mb-3">
                   <table class="table table-bordered ordinary-table audit-page-table mb-1 table-scroll">
                      <thead>
                         <tr class="pointer">
                            <th class="border-top-0 text-center" width="4%">#</th>
                            <th class="border-top-0" width="10%" (click)="setMaintenanceSort('asset_maintenances.reference_code')">{{'ref_id' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenances.reference_code'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="18%" (click)="setMaintenanceSort('asset_maintenances.title')">{{'title' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenances.title'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="12%" (click)="setMaintenanceSort('asset_maintenance_categories.title')">{{'category' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenance_categories.title'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="11%" (click)="setMaintenanceSort('asset_maintenance_type_language.title')">{{'type' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenance_type_language.title'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="12%" (click)="setMaintenanceSort('asset_maintenances.is_guarantee')">{{'guarantee-or_warranty' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenances.is_guarantee'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="12%" (click)="setMaintenanceSort('asset_maintenance_schedule_frequency_language.title')">{{'frequency' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenance_schedule_frequency_language.title'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0" width="12%" (click)="setMaintenanceSort('asset_maintenances.total_cost')">{{'maintenance_cost' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenances.total_cost'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                            <th class="border-top-0 text-center" width="9%" (click)="setMaintenanceSort('asset_maintenance_status_language.title')">{{'status' | translate}}
                              <img *ngIf="AssetMaintenanceStore.orderItem == 'asset_maintenance_status_language.title'"
										[attr.src]="AssetMaintenanceStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
										class="sort-down-pics">
                            </th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr class="pointer edit-and-delete-main"
                            *ngFor="let maintenance of AssetMaintenanceStore.assetMaintenance;let num=index">
                            <td class="text-center" (click)="gotoDetails(maintenance.id)">{{(AssetMaintenanceStore?.currentPage -1) *
                               AssetMaintenanceStore?.itemsPerPage + (num + 1)}}</td>
                            <td (click)="gotoDetails(maintenance.id)">#{{maintenance.reference_code}}</td>
                            <td (click)="gotoDetails(maintenance.id)">
                               {{maintenance.title?maintenance.title:AppStore.noContentText}}</td>
                            <td (click)="gotoDetails(maintenance.id)">
                               {{maintenance.asset_maintenance_category?maintenance.asset_maintenance_category:AppStore.noContentText}}
                            </td>
                            <td (click)="gotoDetails(maintenance.id)">
                               {{maintenance.asset_maintenance_type?maintenance.asset_maintenance_type:AppStore.noContentText}}
                            </td>
                            <td (click)="gotoDetails(maintenance.id)">{{maintenance.is_warranty?'Warranty':'Guarantee'}}
                            </td>
                            <td (click)="gotoDetails(maintenance.id)">
                               {{maintenance.asset_maintenance_schedule_frequency?maintenance.asset_maintenance_schedule_frequency:AppStore.noContentText}}
                            </td>
                            <td (click)="gotoDetails(maintenance.id)">
                               {{maintenance.total_cost?maintenance.total_cost:AppStore.noContentText}}</td>
                            <td class="text-center">
                               <div [ngClass]="'dot-div '+maintenance.label">
                                  {{maintenance.asset_maintenance_status?maintenance.asset_maintenance_status:AppStore.noContentText}}
                               </div>
                               <div class="edit-option-show" style="margin: 30px 0 0 0; ">
                                  <a (click)="editMaintenance(maintenance.id)"><i class="fas fa-pen"></i></a>
                                  <a (click)="delete(maintenance.id)"><i class="fas fa-trash"></i></a>
                               </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                  
                </div>
                <p class="float-right bold mb-0" *ngIf="AssetMaintenanceStore?.loaded && AssetMaintenanceStore.totalItems > 0">{{'total_Items' | translate}}:{{AssetMaintenanceStore?.totalItems}}</p>
             
             <div *ngIf="AssetMaintenanceStore?.totalItems>AssetMaintenanceStore.itemsPerPage" class="col-sm-12">
                <ul class="pagination justify-content-center mt-3">
                   <div class="list">
                      <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate"
                         (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                   </div>
                </ul>
             </div>
            </div>
          </div>
       </div>
 
    </div>
 
    <ng-container>
       <app-no-data *ngIf="AssetMaintenanceStore?.loaded && AssetMaintenanceStore.assetMaintenance?.length==0" [border]=false></app-no-data>
    </ng-container>
    <ng-container *ngIf="!AssetMaintenanceStore?.loaded">
       <app-nine-column-loader></app-nine-column-loader>
    </ng-container>
 </div>
 
 
 <!------------------- Delete Confirmation Modal Start --------------------------->
 <div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
 </div>
 <!------------------- Delete Confirmation Modal End --------------------------->