<!-- <div class="modal modal-style-1 popup-full-width fade 128" id="detail" data-keyboard="false" data-backdrop="static"
    #detailModal> -->
<button type="button" class="close" (click)="closeDetailModal()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered"  *mobxAutorun>
    <div class="modal-content" *ngIf="DesignationMasterStore._competencyLoaded">
        <div class="modal-header mb-3" style="padding: 0 !important;">
            <h4 class="modal-title"><b>{{'competencies' | translate}}</b></h4>
            <button class="btn btn-small mt-2 mr-0"
                (click)="addCompetency()">{{addCompetencyButtonName()}}</button>
        </div>
        <div class="audit-form-table w-100">
            <table class="table table-bordered ordinary-table table-hover issue-list-table-org mb-4">
                <thead>
                    <tr>
                        <th class="border-top-0 issue-list-org-tab-one" width="5%">
                            #
                        </th>
                        <th class="border-top-0 issue-list-org-tab-one" width="30%">
                            {{'competency_group' | translate}}
                        </th>
                        <th class="border-top-0 issue-list-org-tab-one" width="50%">
                            {{'competencies' | translate}}
                        </th>
                        <th class="border-top-0 issue-list-org-tab-one" width="15%">
                            {{'required' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let group of DesignationMasterStore.competencies;let i=index">
                    <tr *ngFor="let competency of group.competencies;let j=index">
                        <td>
                            <!-- {{getIndex()}} -->
                            {{getIndexValue(i, j)}}
                        </td>
                        <td>{{group.competency_group}}</td>
                        <td>

                            {{competency.title}}
                        </td>
                        <td style="text-align: center;">
                            {{competency.required}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-container>
            <app-no-data-list [source]="noCompetencyMessage" *ngIf="DesignationMasterStore.competencies.length == 0">
            </app-no-data-list>
        </ng-container>
        <!-- Modal footer -->
    </div>
</div>

<div *ngIf="addCompetencyFlag" class="modal modal-style-1 popup-full-width fade 125" id="competency-list"
    data-keyboard="false" data-backdrop="static" #competencyModal>
    <app-designation-competency-add-modal *ngIf="addCompetencyObject.type" [source]="addCompetencyObject"></app-designation-competency-add-modal>
</div>
<!-- </div> -->