<button type="button" class="close" data-dismiss="modal" (click)="clearForm()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">{{ShareItemStore.title | translate}}</h4>
      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
    </div>
    <!-- Modal body -->
    <div class="modal-body shre-assessment-popup-cnt">
      <p class="head-details">{{'share_popup_message' | translate }}</p>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">{{'users' | translate}}</label>
            <div class="clearfix">
              <div class="multiple-plain-ngselect">
                <ng-select [items]="UsersStore.usersList" bindLabel="email" placeholder="{{'select_users' | translate}}"
                   searchable="true" 
                   [multiple] = "true"
                  (search)="searchUsers($event)" [(ngModel)] = "ShareItemStore.selectedUsers" (clear)="getAllUsers()" (open)="getAllUsers()"
                  [searchFn]="customSearchFn">
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <img *ngIf="item.image_token" height="15" width="15"
                      [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'" />
                    <img *ngIf="!item.image_token" height="15" width="15"
                      [attr.src]="getDefaultImage()" />
                    <b style="padding-left: 3px;">{{getStringsFormatted([item?.first_name,item?.last_name],50,' ') | titlecase}}</b><span aria-hidden="true" (click)="clear(item)"
                      style="border:none;" class="ng-value-icon left">×</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div class="user-post-department-pic">
                      <img *ngIf="item.image_token" height="25" width="25"
                        [attr.src]="createImagePreview('user-profile-picture',item.image_token)" onerror = "this.src='/assets/images/user-demo2.png'"/>
                      <img *ngIf="!item.image_token" height="25" width="25"
                        [attr.src]="getDefaultImage()" />
                    </div>
                    <div class="user-post-department-div">
                      <b>{{getStringsFormatted([item?.first_name,item?.last_name],50,' ') | titlecase}}</b>
                      <p class="user-post-department-multiple">{{getStringsFormatted([item?.designation_title,' '+item?.department],50,',')}}</p>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
              <label>{{'emails' | translate}}</label>
              <div class="password-icon-input">
                <textarea class="form-control pr-4" [attr.placeholder] = "'share_popup_emails' | translate" rows="2" id="comment" [(ngModel)] = "ShareItemStore.selectedEmails"></textarea>
                <div class="question-circle-inp">
                  <i class="fas fa-question-circle"></i>
                  <div class="message-password-inp bottom-show">
                     <p class="mb-0">{{'share_by_email_info_message' | translate}}</p>
                  </div>
               </div>
              </div>
              <div class="row mt-2" *ngIf = "ShareItemStore.emaiErrors">
                <div>
                   <ul class="arrowlist red-arrowlist pl-4 m-0">
                      <li *ngFor = "let e of ShareItemStore.emaiErrors">
                         {{e}}
                      </li>
                   </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">{{'description' | translate}}</label>
              <textarea class="form-control" rows="3" id="comment" [attr.placeholder] = "'share_popup_description' | translate" [(ngModel)] = "ShareItemStore.description"></textarea>
              <p *ngIf = "ShareItemStore.formErrors && ShareItemStore.formErrors.description" class="form-error">{{ShareItemStore.formErrors.description}}</p>
            </div>
          </div>
          <div class="col-sm-12">
            <h5 class="confirm-star"><i class="fas fa-star"></i>{{'user_will_receive_document_through_email' | translate}} </h5>
          </div>
          <div class="col-sm-12 mt-2"> 
            <!-- <a class="btn btn-active" [attr.disabled] = "(!formValid() && !ShareItemStore.shareData) || ShareItemStore.shareData" (click) = "shareData()">{{ShareItemStore.shareData ? getButtonText('sharing') : getButtonText('share')}}</a>
            <a data-dismiss="modal" class="btn" (click) = "clearForm()">{{'cancel' | translate}}</a>  -->
            <button type="button" data-toggle="modal" data-target="#signal-lost"
                class="btn" (click) = "shareData()"
                [disabled]="!formValid() || ShareItemStore.shareData">{{ShareItemStore.shareData ? getButtonText('sharing') : getButtonText('share')}}</button>
            <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#error-message"
                class="btn"
                (click)="clearForm()">{{'cancel' | translate}}</button>
          </div>
      </div>




      
    </div>
  </div>
</div>