<div class="tab-pane fade active show" id="security" role="tabpanel">




    <div class="panel-group panel-drop-sections panel-drop-white" id="jd" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div [ngClass]="changePassword?'panel-heading active':'panel-heading'" role="tab" id="headingOne">
                <div class="panel-title">
                    <a role="button" data-toggle="collapse" (click)="openChangePassword()" aria-expanded="false"
                        aria-controls="collapseOne" class="collapsed">
                        <h5 class="width96pc mt-0">{{'change_password' | translate}}<span class="drop-down-icone"><i
                                    class="fas fa-chevron-down"></i></span> </h5>
                    </a>
                </div>
            </div>
            <div id="security01" [ngClass]="changePassword?'drop-detail-sec panel-collapse collapse show':'drop-detail-sec panel-collapse collapse'" 
                role="tabpanel" aria-labelledby="headingOne" data-parent="#security01" >
                <div class="panel-body bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <form [formGroup]="form" *mobxAutorun> 
                                <div class="form-group row">
                                    <div class="col-lg-6 col-xl-4">
                                        <div class="form-group mb-0">
                                            <label>{{'myprofile_old_password' | translate}} <sup>*</sup></label>
                                            <input formControlName="old_password" type="password" class="form-control" [attr.placeholder]="'myprofile_form_enter_old_password_placeholder'|translate">
                                            <p class="form-error pt-1" *ngIf="formErrors&&formErrors.old_password">
                                                {{formErrors.old_password[0]}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <div class="form-group mb-0">
                                            <label>{{'myprofile_new_password' | translate}}<sup>*</sup> </label>
                                            <div class="password-icon-input">
                                                <input [attr.placeholder]="'myprofile_form_enter_new_password_placeholder'|translate" formControlName="new_password"
                                                    [attr.type]="togglePassword ? 'text' : 'password'"
                                                    class="form-control" class="form-control">
                                                <a class="eye-icon-pswd" (click)="toggleFieldTextType()">                                                   
                                                    <i [ngClass]="togglePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></a>
                                                <div class="question-circle-inp">
                                                    <i class="fas fa-question-circle"></i>
                                                    <div class="message-password-inp bottom-show">
                                                        <p class="mb-0">Passwords must require small letter , capital
                                                            letter, number and special character.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="form-error pt-1" *ngIf="formErrors&&formErrors.new_password">
                                                {{formErrors.new_password[0]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6 col-xl-4">
                                        <div class="form-group mb-0">
                                            <label>{{'myprofile_new_password_confirmation' | translate}}</label>
                                            <input [attr.placeholder]="'myprofile_form_enter_new_password_confirmation_placeholder'|translate" formControlName="new_password_confirmation" type="password"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-active" (click)="save()"
                                            [disabled]="form.invalid || AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('save') }}</button>
                                            <!-- <button type="button" class="btn btn-active">Save</button>
                                            <button type="button" class="btn">Save & Close</button>
                                            <button type="button" class="btn">Cancel</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-with-switch">
            <div [ngClass]="authentication?'panel-heading active':'panel-heading'" role="tab" id="headingOne">
                <div class="panel-title">
                    <a role="button" data-toggle="collapse" (click)="openAuthentication()" aria-expanded="false"
                        aria-controls="collapseOne" class="collapsed">
                        <h5 class="width96pc mt-0">{{'two_step_verification' | translate}}<span class="drop-down-icone"><i
                                    class="fas fa-chevron-down"></i></span> </h5>
                    </a>
                    <div class="small-switch-checkbox">
                        <label class="switch mt-2">
                            <input type="checkbox" [checked]="ProfileSecuritySettingStore.verificationStatus=='active'"
                            (change)="setVerification()">
                            <span class="slider"></span> </label>
                    </div>
                </div>
            </div>
            <div id="security02" 
                [ngClass]="authentication?'drop-detail-sec panel-collapse collapse show':'drop-detail-sec panel-collapse collapse'" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#security02">
                <div class="panel-body bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{'two_step_verification_msg_p' | translate}}
                            </p>
                            <p>{{'two_step_verification_success_msg' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>