
<!-- work-flow-popup Start -->
<!-- <div class="modal modal-style-1 popup-full-width fade" id="new-assessments-popup" data-keyboard="false"
    data-backdrop="static" #formModal> -->
    <button type="button" class="close" data-dismiss="modal" (click)="closeFormModal()"><i
            class="lni-close"></i><span>{{'esc'|translate}}</span></button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{'assessment'|translate}}</h4>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <!-- Modal body -->
            <div class="modal-body form-body">
                <form [formGroup]="form" *mobxAutorun>


                    <!-- <hr class="mt-0"> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">{{'title'|translate}}<sup>*</sup></label>
                                <div class="plain-select input-add-report">
                                    <input type="text" class="form-control" formControlName="title"
                                    [placeholder]="'title'|translate">
                                    <p style="color: red;" class="pt-1" *ngIf="formErrors && formErrors.title">
                                        {{formErrors.title}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            
                                
                                <div class="form-group add-kpi-textarea pb-2">
                                    <span style="float: right;" class="text-grey">{{form?.value.description != null ? getDescriptionLength() : 0}} {{'characters'|translate}}</span>
                                    <label for="description">{{'description' | translate}}</label>
                                    <ckeditor id="description" (change)="descriptionValueChange($event)" [editor]="Editor" formControlName="description" style="max-height: 300px;"></ckeditor>
                                </div>
                                <!-- <label for="name">Description</label>
                                <textarea class="form-control " rows="3" id="comment" formControlName="description"
                                    placeholder="Description"></textarea>-->
                                <p style="color: red;" class="pt-1" *ngIf="formErrors && formErrors.description">
                                    {{formErrors.description}}
                                </p> 
                            
                        </div>
                        <div class="col-sm-6" *ngIf="!form.value.id">
                            <div class="form-group">
                                <label for="name">{{'framework'|translate}}<sup>*</sup></label>
                                <div class="clearfix d-flex">
                                    <div class="multiple-plain-ngselect w-100">

                                        <ng-select [items]="FrameworksStore.frameworkDetails"
                                            [placeholder]="'select_framework'|translate" [multiple]="false" searchable="true"
                                            bindLabel="title" formControlName="business_assessment_framework_id"
                                            (search)="searchFramework($event)" (clear)="getFramework()"
                                            (open)="getFramework()" [closeOnSelect]="false" autocomplete="new-password">
                                            <!-- <ng-option [value]="type.id"
                                                *ngFor="let type of SubsidiaryStore.subsidiaryList">
                                                {{type.title}}
                                            </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <button style="width: 42px;" class="btn multi-add-user ml-2" (click)="addNewFramework()"><i class="fas fa-plus"></i></button>
                                  

                                </div>
                                <p class="form-error pt-1"
                                *ngIf="formErrors&&formErrors.business_assessment_framework_id">
                                {{formErrors.business_assessment_framework_id}}</p>
                            </div>
                        </div>
                        <div class="col-sm-6"
                        [ngStyle] = "{display: !OrganizationGeneralSettingsStore.organizationSettings?.is_ms_type ? 'none':'block'}">
                            <div class="form-group">
                                <label for="name">{{'ms_types'|translate}}</label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">
                                        <ng-select [placeholder]="'select_ms_type'|translate" bindLabel="ms_type_title"
                                            multiple="true" searchable="true" formControlName="ms_type_organization_ids"
                                            (search)="searchMsType($event)" (clear)="getMsType()" (open)="getMsType()"
                                            [closeOnSelect]="false" autocomplete="new-password">
                                            <ng-option [value]="type.id"
                                                *ngFor="let type of MsTypeOrganizationStore.msTypeDetails">
                                                {{type.ms_type_title}} <span class="small-text">V
                                                    {{type.ms_type_version_title}}</span>
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <p class="form-error pt-1" *ngIf="formErrors && formErrors.ms_type_organization_ids">
                                    {{formErrors.ms_type_organization_ids}}</p>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf = "OrganizationLevelSettingsStore.organizationLevelSettings?.is_subsidiary">
                            <div class="form-group">
                                <label for="name">{{'subsidiaries'|translate}}<sup>*</sup></label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">

                                        <ng-select [items]="SubsidiaryStore.subsidiaryList"
                                            [placeholder]="'select_organization'|translate" multiple="true" searchable="true"
                                            bindLabel="title" formControlName="organization_ids"
                                            (search)="searchSubsidiary($event)" (clear)="getSubsidiary()"
                                            (open)="getSubsidiary()" [closeOnSelect]="false" (change)="setNull('organization')"
                                            autocomplete="new-password">
                                            <!-- <ng-option [value]="type.id"
                                                *ngFor="let type of SubsidiaryStore.subsidiaryList">
                                                {{type.title}}
                                            </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <p class="form-error pt-1" *ngIf="formErrors&&formErrors.organization_ids">
                                        {{formErrors.organization_ids}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_division">
                            <div class="form-group">
                                <label for="name">{{'divisions'|translate}}<sup>*</sup></label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">
                                        <ng-select [items]="DivisionStore.allItems" [placeholder]="'select_division'|translate"
                                            multiple="true" searchable="true" bindLabel="title"
                                            (search)="searchDivision($event)" formControlName="division_ids"
                                            [closeOnSelect]="false" (clear)="getDivision()" (open)="getDivision()"
                                            autocomplete="new-password" (change)="setNull('division')">
                                            <!-- <ng-option [value]="type.id" *ngFor="let type of DivisionStore.allItems">
                                            {{type.title}}
                                        </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <p class="form-error pt-1" *ngIf="formErrors&&formErrors.division_ids">
                                        {{formErrors.division_ids}}</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6" *ngIf = "OrganizationLevelSettingsStore.organizationLevelSettings?.is_department">
                            <div class="form-group">
                                <label for="name">{{'departments'|translate}}<sup>*</sup></label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">
                                        <ng-select [items]="DepartmentStore.allItems" [placeholder]="'select_department'|translate"
                                            multiple="true" searchable="true" bindLabel="title"
                                            (search)="searchDepartment($event)" formControlName="department_ids"
                                            (clear)="getDepartment()" [closeOnSelect]="false" (open)="getDepartment()" (change)="setNull('department')">
                                            <!-- <ng-option [value]="type.id" *ngFor="let type of DepartmentStore.allItems"
                                            autocomplete="new-password">
                                            {{type.title}}
                                        </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <p class="form-error pt-1" *ngIf="formErrors&&formErrors.department_ids">
                                        {{formErrors.department_ids}}</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_section">
                            <div class="form-group">
                                <label for="name">{{'sections'|translate}}<sup>*</sup></label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">
                                        <ng-select [items]="SectionStore.allItems" [placeholder]="'select_section'|translate"
                                            multiple="true" searchable="true" bindLabel="title"
                                            (search)="searchSection($event)" formControlName="section_ids"
                                            (clear)="getSection()" [closeOnSelect]="false" (open)="getSection()"
                                            autocomplete="new-password" (change)="setNull('section')">
                                            <!-- <ng-option [value]="type.id" *ngFor="let type of SectionStore.allItems">
                                            {{type.title}}
                                        </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <p class="form-error pt-1" *ngIf="formErrors&&formErrors.section_ids">
                                        {{formErrors.section_ids}}</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf="OrganizationLevelSettingsStore.organizationLevelSettings?.is_sub_section">
                            <div class="form-group">
                                <label for="name">{{'sub_sections'|translate}}<sup>*</sup></label>
                                <div class="clearfix">
                                    <div class="multiple-plain-ngselect">
                                        <ng-select [items]="SubSectionStore.allItems" [placeholder]="'select_sub_section'|translate"
                                            multiple="true" searchable="true" bindLabel="title"
                                            formControlName="sub_section_ids" (clear)="getSubSection()"
                                            (search)="searchSubSection($event)" (open)="getSubSection()"
                                            [closeOnSelect]="false" autocomplete="new-password">
                                            <!-- <ng-option [value]="type.id" *ngFor="let type of SubSectionStore.allItems">
                                            {{type.title}}
                                        </ng-option> -->
                                        </ng-select>
                                    </div>
                                    <p class="form-error pt-1" *ngIf="formErrors&&formErrors.sub_section_ids">
                                        {{formErrors.sub_section_ids}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="name" class="label-style mb-0" *ngIf="!form.value.id">{{'documents'|translate}}<sup>*</sup></label>
                    <p style="color: red;" *ngIf="formErrors && formErrors.document_version_id">
                        {{formErrors?.document_version_id? 'Document is required' : ''}}</p>
                    <div class="scroll-documents" *ngIf="!form.value.id" #browseArea>
                        <div class="row m-0 upload-section">
                            <div class="col-sm-4 costmz-logo-new mt-2">
                                <div class="form-group form-group-upload">
                                   <div class="darag-dropifile-upload">
                                      <div class="d-flex justify-content-center align-items-center text-center">
                                         <div>
                                            <img src="/assets/images/drag-pic.png" alt="image" class="drag-pic-files">
                                            <div class="drag-file-name"> {{'drag_drop_file_here'|translate}} </div>
                                            <div class="upload-btn-wrapper">
                                               
                                               <button class="btn" data-toggle="modal" (click)="selectFiles()">{{'browse_files'|translate}}</button>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>

                            <div class="col-sm-4 up-pic-cf mt-2" *ngIf="AssessmentsStore?.activeFile!=null">
                                <div class="upload-pics edit-option">
                                    <div class="browse-form-pic"
                                        [ngStyle]="{'background': 'url('+createImageUrl('document-version',AssessmentsStore?.activeFile?.token)+') no-repeat'}">
                                    </div>
                                    <div class="browse-form-name clearfix">
                                        <div class="float-left">
                                            <h6>{{AssessmentsStore?.activeFile.title}}.{{AssessmentsStore?.activeFile.ext}}
                                            </h6>
                                            <span>{{AssessmentsStore?.activeFile.size/1048576 | number:'0.2-2'}}MB</span>
                                        </div>
                                        <div class="browse-logo">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'image') != -1"
                                                class="folder-picher" src="/assets/images/jpg-icone.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'doc') != -1"
                                                class="folder-picher" src="/assets/images/word-icone.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'pdf') != -1"
                                                class="folder-picher" src="/assets/images/pdf-icone.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'excel') != -1"
                                                class="folder-picher" src="/assets/images/excel-icone.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'video') != -1"
                                                class="folder-picher" src="/assets/images/md-video.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'audio') != -1"
                                                class="folder-picher" src="/assets/images/md-audio.png">
                                            <img *ngIf="checkExtension(AssessmentsStore?.activeFile.ext,'ppt') != -1"
                                                class="folder-picher" src="/assets/images/md-ppt.png">
                                        </div>
                                    </div>
                                    <div class="edit-option-show">
                                        <a (click)="removeDocument()"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <div class="d-block justify-content-left border-0 mt-3">
                                <button type="button" data-toggle="modal"
                                    class="btn btn-active" (click)="save()"
                                    [disabled]="!form.valid && AppStore.loading">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('start') }}</button>
                                <!-- <button type="button" data-toggle="modal" data-target="#signal-lost"
                                    class="btn" (click)="save(true)"
                                    [disabled]="AppStore.loading">{{ AppStore.loading  ? 'Loading...' : 'Save & Close' }}</button> -->
                                <button type="button" data-toggle="modal"
                                    class="btn" (click)="closeFormModal()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
<!-- </div> -->
<!-- work-flow-popup End -->


<div [ngClass]="selectFile ? 'modal modal-style-1 popup-full-width fade show': 'modal modal-style-1 popup-full-width fade'"
    #khDoc>
    <app-kh-documents></app-kh-documents>
</div>

<div class="modal modal-style-1 fade popup-full-width" id="add-business-framework-popup" data-keyboard="false"
   data-backdrop="static" #formModal>
  
   <app-framework-modal *ngIf="frameworkObject.type" [source]="frameworkObject">

   </app-framework-modal>

   </div>