<button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i
    class="lni-close"></i><span>esc</span></button>
<div class="modal-dialog modal-xl modal-dialog-centered" *mobxAutorun>
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'customer_modal_title' | translate}} {{customerModalTitle?.component | translate}}</h4>

        </div>
        <!-- Modal body -->
        <div class="modal-body form-body add-profie-org-pup">
            <!-- <p class="head-details">Review and select customer to link them with management review meeting plans.</p> -->
            <p class="head-details">{{'customers_modal_message' | translate}} {{customerModalTitle?.component | translate}}.</p>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <label for="name">{{'search' | translate}}</label>
                        <!-- <form class="form-control issue-select-process-search bg-white">
                            <input type="text" placeholder="Search.." (change)="searchIssue($event,'text')"
                                name="search" class="search-process">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form> -->
                        <form class="form-control issue-select-process-search bg-white search-popup-new" (submit) = "searchCustomer($event)">
                            <input type="text" [(ngModel)] = "searchText" [placeholder]="'search_here' | translate" name="search" (keyup) = "searchCustomer($event)" class="search-process" autocomplete="off">                           
                            <a class="search-clear-btn" (click) = "clear()" *ngIf = "searchText">X</a>
                            <button type="submit" (click) = "searchCustomer($event)" style="width: 40px;"><i class="fa fa-search"></i></button>
                          </form>
                    </div>
                </div>
            </div>

                
                
              
                

            <div class="audit-form-table w-100">
                <table class="table table-bordered ordinary-table table-hover issue-list-table-org mb-1">
                    <thead>
                        <tr>
                            <th class="border-top-0 issue-list-org-tab-one" width="4%">
                                <div class="container2">
                                    <label><input type="checkbox" id="selectall"
                                        (change)="selectAllCustomers($event)"/>
                                        <span class="checkmark"></span>#</label>
                                 
                                </div>
                            </th>
                            <!-- <th class="border-top-0 issue-list-org-tab-two pointer"
                            (click)="sortTitle('location_title')" width="15%">{{'sl' | translate}}
                                <img [attr.src]="LocationMasterStore.orderBy=='desc' ? 
                                'assets/images/sort-up.png' : LocationMasterStore.orderBy=='asc' ? 
                                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
                            </th> -->
                            <th class="border-top-0 issue-list-org-tab-three pointer" width="25%"
                                >{{'customer' | translate}} 
                                <!-- <img
                                    *ngIf="IssueListStore.orderItem == 'organization_issues.title'"
                                    [attr.src]="IssueListStore.orderBy == 'asc'?'assets/images/sort-down.png':'assets/images/sort-up.png'"
                                    class="sort-down-pics"> -->
                                </th>
                            <th style="width: 10%;" >{{'contact_address' | translate}}</th>
                            <th class="border-top-0 issue-list-org-tab-three pointer" width="25%">{{'address' | translate}}</th>
                           
                        </tr>
                    </thead>

                    <ng-container *mobxAutorun>

                        <tr class="edit-and-delete-main"
                        *ngFor = "let c of BusinessCustomersStore.customerDetails | paginate: {id: 'customer-modal', currentPage:BusinessCustomersStore?.currentPage, itemsPerPage:BusinessCustomersStore?.itemsPerPage,totalItems:BusinessCustomersStore?.totalItems};let num = index">
                            <td style="text-align: center;">
                                <div class="container2">
                                    <label><input class="pointer" type="checkbox" [checked]="customerPresent(c.id)"
                                            (change)="customerSelected(c)" class="case" name="case" />
                                        <span
                                            class="checkmark"></span>{{(BusinessCustomersStore.currentPage - 1) * BusinessCustomersStore.itemsPerPage + (num + 1)}}</label>
                                </div>
                                <!-- {{(LocationMasterStore.currentPage - 1) * LocationMasterStore.itemsPerPage + (num + 1)}} -->
                            </td>
                            <td><a class="cursor-pointer">{{c.title}}</a></td>
                            <td><a class="cursor-pointer">{{c.contact_person_number?c.contact_person_number:AppStore.noContentText}}</a></td>
                            <td style="padding:0.75rem;" >
                                <div class="cursor-pointer">{{c.address?c.address:AppStore.noContentText}}</div>
                            </td>
                            <!-- <td><a class="cursor-pointer">X</a></td> -->
                            
            
                        </tr>

                        
                    </ng-container>
                    
                   

                </table>
                <app-no-data-list *ngIf="BusinessCustomersStore.loaded && BusinessCustomersStore.customerDetails.length == 0"  [source]="emptyCustomer"></app-no-data-list>
             

            </div>
               
            <div class="col-sm-12" *ngIf="BusinessCustomersStore?.totalItems > BusinessCustomersStore?.itemsPerPage">
                <ul class="pagination justify-content-center mt-3">
                    <div class="list">
                        <pagination-controls (pageChange)="pageChange($event)" id="customer-modal" class="my-pagination">
                        </pagination-controls>
                    </div>
                </ul>
            </div>

            <div class="d-block justify-content-left border-0 mt-5">
                <button type="button" data-toggle="modal"
                    class="btn mr-3 btn-active" (click)="save()" [disabled]="selectCustomer.length==0">{{AppStore.loading?getButtonText('loading'):getButtonText('add')}}</button>
                <button type="button" data-toggle="modal" class="btn mr-3"
                    (click)="save(true)" [disabled]="selectCustomer.length==0">{{AppStore.loading?getButtonText('loading'):getButtonText('add_close')}}</button>
                <button type="button" data-toggle="modal" class="btn mr-2"
                (click)="cancel()">{{AppStore.loading?getButtonText('loading'):getButtonText('cancel')}}</button>
            </div>

        
        <!-- Modal footer -->
    </div>
</div>