<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" [routerLink]="['/masters/ms-audit-management']"><a>{{'ms_audit_management' |translate}}</a></li>
            <li class="breadcrumb-item active">{{'ms-audit-finding-statuses' | translate}}</li>
        </ol>
    </nav>
    <!-- Nav tabs -->
    <table class="table-master table" *ngIf="MsAditFindingStatusMasterStore?.loaded && MsAditFindingStatusMasterStore.allItems.length > 0">
        <tr>
            <th style="width: 8%; text-align: center;">{{'sl' | translate}}</th>
            <th (click)="sortTitle('ms_audit_finding_statuses.ms_audit_finding_status_language_title')" class="border-top-0 issue-list-org-tab-three pointer" style="width: 82%;"><span>{{'title' | translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="MsAditFindingStatusMasterStore.orderItem=='ms_audit_finding_statuses.ms_audit_finding_status_language_title'" class="sort-down-pics pl-2" 
                [attr.src]="MsAditFindingStatusMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : MsAditFindingStatusMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">
            </th>
            <th style="width: 10%">{{'status' | translate}}</th>
        </tr>
        <ng-container *mobxAutorun>
            <tr class="edit-and-delete-main"
                *ngFor="let row of MsAditFindingStatusMasterStore.allItems | paginate: {currentPage:MsAditFindingStatusMasterStore?.currentPage, itemsPerPage:MsAditFindingStatusMasterStore?.itemsPerPage,totalItems:MsAditFindingStatusMasterStore?.totalItems}; let num = index">
                <td style="text-align: center;">
                    {{(MsAditFindingStatusMasterStore?.currentPage - 1) * MsAditFindingStatusMasterStore?.itemsPerPage + (num + 1)}}
                </td>
                <td> <div [attr.class]="'dot-div '+row.label"> {{row.ms_audit_finding_status_language_title}} </div></td>
                <td style="padding:0.75rem;" >
                    <div [attr.class]="'dot-div '+row.status_label">{{row.status}}</div>
                </td>         
            </tr>
        </ng-container>
    </table>
    <p class="float-right" *ngIf="MsAditFindingStatusMasterStore?.loaded && MsAditFindingStatusMasterStore.totalItems > 0"><b>{{'total_Items' | translate}}:{{MsAditFindingStatusMasterStore?.totalItems}}</b></p>

    <ng-container *mobxAutorun>
        <div *ngIf="!MsAditFindingStatusMasterStore.loaded">
            <app-table-loader></app-table-loader>

        </div>
        <app-no-data *ngIf = "MsAditFindingStatusMasterStore.allItems.length == 0 && MsAditFindingStatusMasterStore.loaded == true"></app-no-data>
   
    </ng-container>

    <div class="col-sm-12" *ngIf="MsAditFindingStatusMasterStore.totalItems>MsAditFindingStatusMasterStore.itemsPerPage">
        <ul class="pagination justify-content-center mt-3" >
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate"  [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
        </ul>
    </div>
</div>
