/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
// @import url("https://unpkg.com/treeflex/dist/css/treeflex.css");

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff !important;
}

.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  color: #0088ff !important;
}

.snack-bar.tr div.snackbars {
  right: 30px !important;
  top: 30px !important;
  align-items: flex-end !important;
}

.snack-bar.tc div.snackbars {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  top: 30px !important;
  align-items: center !important;
  right: unset;
}

.snack-bar.tl div.snackbars {
  left: 30px !important;
  top: 30px !important;
  align-items: flex-start !important;
  top: unset;
}

.snack-bar.bl div.snackbars {
  left: 30px !important;
  bottom: 20px !important;
  align-items: flex-start !important;
  right: unset;
  top: unset;
}

.snack-bar.bc div.snackbars {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  bottom: 20px !important;
  align-items: center !important;
  right: unset;
  top: unset;
}

.snack-bar.br div.snackbars {
  right: 30px !important;
  bottom: 20px !important;
  align-items: flex-end !important;
  top: unset;
}

.disable-div {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
}

/****************  RTL Style  ************************/
