<main class="mt-3">
    <div class="container-fluid">
  
       <div class="widget">
  
  
          <div class="row">
             <div class="col-sm-12">
  
                <div class="pdf-menu-accodion-main clearfix">
                   <div class="pdf-menu-accodion cmn-bdr-right">
                      
                       <div class="loder-section mb-3">
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row mb-0">
  
                                           <div class="ph-col-6 mb-3"></div>
                                           <div class="ph-col-6 mb-3 empty"></div>
                                           <div class="ph-col-4 mb-3"></div>
                                           <div class="ph-col-8 mb-3 empty"></div>
                                           <div class="ph-col-8 mb-3"></div>
                                           <div class="ph-col-4 mb-3 empty"></div>
                                           <div class="ph-col-10 mb-3"></div>
                                           <div class="ph-col-2 mb-3 empty"></div>
                                           <div class="ph-col-6 mb-3"></div>
                                           <div class="ph-col-6 mb-3 empty"></div>
                                           <div class="ph-col-8 mb-3"></div>
                                           <div class="ph-col-4 mb-3 empty"></div>
                                           <div class="ph-col-10 mb-3"></div>
                                           <div class="ph-col-2 mb-3 empty"></div>
                                           <div class="ph-col-6 mb-3"></div>
                                           <div class="ph-col-6 mb-3 empty"></div>
                                           <div class="ph-col-10 mb-3"></div>
                                           <div class="ph-col-2 mb-3 empty"></div>
  
                                        </div>
                                     </div>
                                  </div>
  
  
                               </div>
                            </div>
  
                   </div>
                   <div class="pdf-v2-report-html pdf-v2-report-list-view-html clearfix pdf-new-style-pagination">
                      <div class="maindiv p-3 border-bottom-none">
                         
                         <div class="loder-section cmn-bdr border-radius p-3">
                               <!-- loder head&text starts -->
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row mb-0">
  
                                           <div class="ph-col-3 big mb-0" style="height: 20px;"></div>
                                           <div class="ph-col-8 big empty mb-0" style="height: 20px;"></div>
                                           <div class="ph-col-1 big mb-0" style="height: 20px;"></div>
  
                                        </div>
                                     </div>
                                  </div>
  
  
                               </div>
                            </div>
  
                      </div>
                      <div class="maindiv">
                         
                         <div class="loder-section mb-3">
                               <!-- loder head&text starts -->
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row">
  
                                           <div class="ph-col-2 big"></div>
                                           <div class="ph-col-10 empty big"></div>
  
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-4"></div>
                                           <div class="ph-col-4 empty"></div>
  
                                        </div>
                                     </div>
                                  </div>
  
  
                               </div>
                            </div>
 
                            <div class="loder-section mb-3">
                               <!-- loder head&text starts -->
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row">
  
                                           <div class="ph-col-2 big"></div>
                                           <div class="ph-col-10 empty big"></div>
  
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-4 mb-3"></div>
                                           <div class="ph-col-8 empty mb-3"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-8 mb-3"></div>
                                           <div class="ph-col-4 empty mb-3"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-6"></div>
                                           <div class="ph-col-6 empty"></div>
  
                                        </div>
                                     </div>
                                  </div>
  
  
                               </div>
                            </div>
                            <div class="loder-section mb-0">
                               <!-- loder head&text starts -->
                               <div class="loder-section-inner">
                                  <div class="ph-item pl-0">
                                     <div class="ph-col-12 pr-0">
                                        <div class="ph-row mb-0">
  
                                           <div class="ph-col-2 big"></div>
                                           <div class="ph-col-10 empty big"></div>
  
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-8 mb-3"></div>
                                           <div class="ph-col-4 empty mb-3"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-12"></div>
                                           <div class="ph-col-6 mb-0"></div>
                                           <div class="ph-col-6 mb-0 empty"></div>
  
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </main>