<button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' |
        translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'mock_drill_user' | translate}}</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body form-body add-profie-org-pup">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for="name">{{'name' | translate}}<span class="form-error">*</span></label>
                            <input formControlName="name" type="text" class="form-control"
                                [placeholder]="'enter_name'| translate">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for="name">{{'designation' | translate}}<span class="form-error">*</span></label>
                            <input formControlName="designation" type="text" class="form-control"
                                [placeholder]="'enter_designation'| translate">
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for="name">{{'time_taken_for_evacuation' | translate}}</label>
                            <input formControlName="evacuation_time" type="text" class="form-control"
                                [placeholder]="'time_taken_for_evacuation'| translate">
                        </div>
                    </div> -->
                </div>
            </form>
            <div class="d-block justify-content-left border-0 mt-3">
                <button type="button" data-toggle="modal" [disabled]="form.invalid"
                    (click)="saveOtherUserDetails('false')" class="btn ordinary-btn mr-3 btn-active">{{'save' |
                    translate}}</button>
                <button type="button" [disabled]="form.invalid" (click)="saveOtherUserDetails(true);"
                    data-dismiss="modal" class="btn ordinary-btn mr-3 btn-active">{{'save_close' |
                    translate}}</button>
                <button type="button" data-toggle="modal" data-target="#error-message" class="btn ordinary-btn mr-2"
                    (click)="cancel()" data-dismiss="modal">{{'cancel' | translate}}</button>
            </div>
        </div>
        <!-- Modal footer -->
    </div>
</div>