<div #plainDev></div>
<nav style="z-index:999" class="edit-bar" data-toggle="affix" #navBar *mobxAutorun>
    <app-breadcrumb-menu></app-breadcrumb-menu>
    
    <div class="dropdown edit-dropdown d-lg-none drop-menu-left-head">
        <a class="btn btn-primary float-left three-dots-dropdown dropdown-toggle" data-toggle="dropdown">{{AppStore.pageTitle}}<i
                class="fas fa-chevron-circle-down ml-2"></i></a>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId]">Event Profile</a>
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/team']">Event Team</a>
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/strategic-themes']">Event Objective</a>
            <a class="dropdown-item" data-toggle="pill" [routerLink]="['scope']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Scope</a>
            <a class="dropdown-item" data-toggle="pill" [routerLink]="['milestones']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Milestone</a>
            <a  *ngIf="EventsStore.eventDetails?.is_budgeted" class="dropdown-item" data-toggle="pill" [routerLink]="['budgets']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Budget</a>
            <a class="dropdown-item" data-toggle="pill"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/mapping']">Mapping</a>
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/task']">Task</a>
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/checklist']">Event Checklist</a>
            <a class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/takeholder']">Stakeholder Analysis</a>
            
            <a class="dropdown-item" data-toggle="pill"  [routerLink]="['specifications']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Event Specification</a>
            <!-- <a class="dropdown-item" data-toggle="pill" href="#project-tab-six">Event Checklist</a> -->
            <a *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed'" class="dropdown-item" data-toggle="pill" [routerLink]="['documents']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Event Documents</a>
            <!-- <a class="dropdown-item" data-toggle="pill" href="#project-tab-eight">Budgets</a> -->
            <a *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed'" class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/change-request']">Change Request</a>   
           
            <a *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed'" class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/lesson-learned']">Lesson Learned</a>
            <a *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed'" class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/closure']">Closure Checklist</a>                              
            <a *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed'" class="dropdown-item" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/closure-report']">Event Report</a>
            
                <!--<a class="dropdown-item" data-toggle="pill" href="#project-tab-fourteen"> </a>
            <a class="dropdown-item" data-toggle="pill" href="#project-tab-fifteen"></a>
            <a class="dropdown-item" data-toggle="pill" href="#project-tab-sixteen"> </a>
            <a class="dropdown-item" data-toggle="pill" href="#project-tab-seventeen"> </a> -->

        </div>
        
    </div>

    <ul class="nav nav-pills float-left  d-none d-lg-block" role="tablist">
        <li class="nav-item"> <a class="nav-link full-screen-click" role="tab" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId]">Event Profile</a> </li>
        <li class="nav-item"> <a class="nav-link full-screen-click"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/team']">Event Team</a> </li>
        <li class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/strategic-themes']">Event Objective</a> </li>
        <li class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['scope']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Scope</a></li>
        <li class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['milestones']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Milestone</a> </li>  
        <li *ngIf="EventsStore.eventDetails?.is_budgeted" class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['budgets']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Budget</a> </li>
        <li class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/mapping']">Mapping</a> </li>


        <!-- <li class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['deliverables']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Deliverables</a> </li> -->
        
        <!-- <li class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['milestones']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Milestone</a> </li> -->
               
        <li  class="nav-item drop-tab-menu-list-hdr"><a class="nav-link full-screen-click">More <i class="fas fa-chevron-down"></i></a>
            <ul class="nav nav-pills" role="tablist" style="z-index: 9999;">  
                <li class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/task']">Task</a> </li>
                <li class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/checklist']">Event Checklist</a></li>
                <li class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/stakeholder']">Stakeholder Analysis</a> </li>
                <li class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['specifications']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Specification</a></li>         
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"> <a class="nav-link full-screen-click" [routerLink]="['documents']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Documents</a> </li>
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/change-request']">Change Request</a> </li>
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/lesson-learned']">Lesson Learned</a> </li>
                 
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" [routerLink]="['closure-checklist']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Closure Checklist</a> </li> 
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" [routerLink]="['closure']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Event Closure</a> </li>                               
                <li *ngIf="EventsStore.eventDetails?.event_status?.type=='approved' || EventsStore.eventDetails?.event_status?.type=='closed' || EventsStore.eventDetails?.event_status?.type=='cancelled' || EventsStore.eventDetails?.event_status?.type=='postponed'" class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/event-monitoring/events/'+EventsStore.selectedEventId+'/closure-report']">Event Report</a></li>
                
                <!-- <li class="nav-item"> <a class="nav-link full-screen-click" data-toggle="tab" href="#project-tab-eleven">Change Request</a> </li> -->
                
                
                <!-- <li class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab" href="#project-tab-fourteen">123</a></li> -->
               <!-- <li class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab" href="#project-tab-fifteen"></a></li>
                <li class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab" href="#project-tab-sixteen"> </a></li>
                <li class="nav-item"><a class="nav-link full-screen-click" data-toggle="tab" href="#project-tab-seventeen"></a></li> -->
            </ul>
        </li>
    </ul>

    <app-sub-menu>-</app-sub-menu>
</nav>
<main *mobxAutorun
 class="audit-program-details-page mt-3">
    <!-- <div class="container-fluid widget">
        <div class="row"> -->
            <router-outlet></router-outlet>
        <!-- </div>
    </div> -->
</main>
