<main class="mt-3">
    <div class="container-fluid widget">


      <div class="row">
         <div class="col-sm-12">
            
            <div class="bg-white widg-padding-cmn-small">
               
               <div class="loder-section"><!-- loder head starts -->
                  <div class="loder-section-inner">
                    <div class="ph-item">
                      <div class="ph-col-12">
                        <div class="ph-row mb-0">
                          
                          <div class="ph-col-2 big mr-3"></div>
                          <div class="ph-col-1 big mr-3"></div>

                        </div>
                      </div>
                    </div>
                  </div>
               </div>

               <hr class="mt-2">

               
               <div class="row  pt-2">
                      
                  <div class="col-lg-2 pr-0 col-sm-2 col-3">      
                      <div class="loder-section"><!-- loder head&text starts -->
                         <div class="loder-section-inner pt-5">
                           <div class="ph-item pt-2 pb-3">
                             <div class="ph-col-12 pr-0">
                               <div class="ph-row mb-0">
     
                                 <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1 mb-4" style="height: 18px;"></div>
                               <div class="ph-col-2 mb-4" style="height: 18px;"></div>
                                 
     
                               <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1 mb-4" style="height: 18px;"></div>
                               <div class="ph-col-2 mb-4" style="height: 18px;"></div>
     
                               <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1 mb-4" style="height: 18px;"></div>
                               <div class="ph-col-2 mb-4" style="height: 18px;"></div>

                               <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1 mb-4" style="height: 18px;"></div>
                               <div class="ph-col-2 mb-4" style="height: 18px;"></div>
                                
                               <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1 mb-4 " style="height: 18px;"></div>
                               <div class="ph-col-2 mb-4" style="height: 18px;"></div>

                               <div class="ph-col-8 empty"></div>
                               <div class="ph-col-1 empty"></div>
                               <div class="ph-col-1" style="height: 18px;"></div>
                               <div class="ph-col-2" style="height: 18px;"></div>

                               
                                                                            
                               </div>
                             </div>
                           </div>
                         </div>
                      </div><!--loader ends-->          
               </div><!--col-lg-1 ends-->

               <div class="col-lg-10 col-sm-10  pr-5 col-9">


               <div class="loder-section mb-2 pt-4 pr-4" style="border-bottom: 2px solid #cbd6e2 !important; border-left: 2px solid #cbd6e2 !important;"><!-- loder accodion header starts -->
                  <div class="loder-section-inner pt-1">
                     <div class="ph-item pl-0">
                        <div class="ph-col-12 pr-0">
                           <div class="ph-row mb-0" style="align-items: baseline;">
                           
                              <div class="mb-0 big " style="height: 148px; width: 50%; background: #dee4ea;"></div>
                              <div class="mb-0  big" style="width: 50%; height: 148px;"></div>

                             <div class="mb-0 big " style="height: 148px; width: 50%;"></div>
                             <div class="mb-0  big" style="width: 50%; height: 148px; background: #dee4ea;"></div>
                            
                           </div>
                        </div>
                     </div>
                  </div>
                </div><!-- loder accodion header end -->

                <div class="loder-section pr-5"><!-- loder accodion header starts -->
                  <div class="loder-section-inner">
                     <div class="ph-item pl-0">
                        <div class="ph-col-12 pr-0">
                           <div class="ph-row mb-0" style="align-items: baseline;">
                           
                              <div class="mb-0 empty big" style="width: 13%;"></div>

                             <div class="mb-0 md " style="width: 9%; margin-right: 22%;"></div>
                             <div class="mb-0  md big" style="width: 9%; margin-right: 22%;"></div>
                             <div class="mb-0  md big" style="width: 9%;"></div>
                                                                   
                           </div>
                        </div>
                     </div>
                  </div>
                </div><!-- loder accodion header end -->


            
               </div>

              
               </div>


               <div class="mt-4"><!-- loder head&list starts -->
                  <div class="loder-section"><!-- loder head starts -->
                     <div class="loder-section-inner">
                       <div class="ph-item">
                         <div class="ph-col-12">
                           <div class="ph-row mb-0">

                              <div class="ph-col-4 empty big"></div>
                              <div class="ph-col-1 empty big"></div>
                             <div class="ph-col-2 big"></div>
                              <div class="ph-col-1 empty big"></div>
                              <div class="ph-col-4 empty big"></div>

                           </div>
                         </div>
                       </div>
                     </div>
                  </div><!-- loder head end -->
                  <div class="loder-section user-profile-sec mb-0"><!-- loder head&text starts -->
                        
                     <div class="loder-section-inner mt-2">
                       <div class="ph-item pr-0">
                         <div class="ph-col-12">
                           <div class="ph-row mb-0">

                             <div class="mr-2 md" style="width: 25px;"></div>
                             <div class="ph-col-2 md mr-5"></div> 
                             <div class="ph-col-6 md"></div>
                             
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="loder-section-inner mt-2">
                       <div class="ph-item pr-0">
                         <div class="ph-col-12">
                           <div class="ph-row mb-0">

                              <div class="mr-2 md" style="width: 25px;"></div>
                              <div class="ph-col-2 md mr-5"></div> 
                              <div class="ph-col-8 md"></div>
                             
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="loder-section-inner mt-2">
                       <div class="ph-item pr-0">
                         <div class="ph-col-12">
                           <div class="ph-row mb-0">

                              <div class="mr-2 md" style="width: 25px;"></div>
                             <div class="ph-col-2 md mr-5"></div> 
                             <div class="ph-col-4 md"></div>
                             
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="loder-section-inner mt-2">
                        <div class="ph-item pr-0">
                          <div class="ph-col-12">
                            <div class="ph-row mb-0">
 
                               <div class="mr-2 md" style="width: 25px;"></div>
                              <div class="ph-col-2 md mr-5"></div> 
                              <div class="ph-col-6 md"></div>
                              <div class="ph-col-1 md"></div>
                              
                            </div>
                          </div>
                        </div>
                      </div>

                   </div>
                </div>

                 




            </div>

               
         



             </div>
         </div>
      </div>
      
  </main>
