
<button type="button" class="close" data-dismiss="modal" (click)="cancel()"><i class="lni-close"></i><span>{{'esc' | translate}}</span></button>
<div class="modal-dialog modal-lg modal-dialog-centered" *mobxAutorun>
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">{{title | translate | titlecase}}</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body form-body">
         <p>{{body}}</p>
          <!-- <div class="row" *ngIf="EventWorkflowStore.type=='revert'">
              <div class="col-sm-12">
                <div class="form-group">
                 
                    <label for="name">{{'revert_to_level' | translate}}<sup>*</sup></label>
                    <div class="clearfix">
                      <div class="multiple-plain-ngselect">
                        <ng-select [placeholder]="'select_level' | translate" name="test"  [(ngModel)]="level">
                          <ng-option [value]="i" *ngFor="let i of levelArray">
                            L{{i}}
                          </ng-option>
                        </ng-select>
                        <p class="form-error pt-1" *ngIf="formErrors&&formErrors.revert_to_level">
                          {{formErrors.revert_to_level[0]}}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div> -->
        <div class="row" *ngIf="EventWorkflowStore.type=='approve' || EventWorkflowStore.type =='submit'">
         <div class="col-sm-12">
            <div class="form-group add-kpi-textarea">
               <label>{{'comments' | translate}}</label>
               <textarea class="form-control" rows="11" id="comment6" [placeholder]="'Please write down your comments here' | translate" [(ngModel)]="comments"></textarea>
            </div>
            <p class="form-error" *ngIf="formErrors">{{formErrors.message}}</p>
         </div>
        </div>
        <form #myForm="ngForm">
        <div class="row" *ngIf="EventWorkflowStore.type =='revert' || EventWorkflowStore.type=='reject'">
         <div class="col-sm-12">
            <div class="form-group add-kpi-textarea">
               <label>{{'comments' | translate}}<sup>*</sup></label>
               <textarea class="form-control" rows="11" id="comment6" [placeholder]="'Please write down your comments here' | translate" [(ngModel)]="comments" name="description" required></textarea>
            </div>
            <p class="form-error" *ngIf="formErrors">{{formErrors.message}}</p>
         </div>
        </div>
                
         <div class="row">
            <div class="col-sm-12">
               <div class="d-block justify-content-left border-0 mt-3">
                  <button type="button" data-toggle="modal" data-target="#signal-lost"
                  class="btn ordinary-btn mr-3"  (click)="save(true)"
                  [disabled]="!myForm.form.valid || AppStore.loading || (EventWorkflowStore.type=='revert'&&!comments)">{{ AppStore.loading  ? getButtonText('loading') : getButtonText(title) }}</button> 
                
                  <button type="button" data-toggle="modal" data-target="#error-message"
                  class="btn ordinary-btn mr-2"
                  (click)="cancel()">{{ AppStore.loading  ? getButtonText('loading') : getButtonText('cancel') }}</button>
               </div>
            </div>
         </div>
         </form>
      </div>
      <!-- Modal footer -->
   </div>
</div>

