.input-upload{
    overflow: hidden;
    position: absolute;
    opacity: 0;
    left: -1px;
    cursor: pointer;
    width: 15%;
}

.send{
    width: 130px;
    display: flex;
}
.sending{
    width: 165px;
    display: flex;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #506e91; 
    border-radius: 10px ;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }