<div class="widget bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" [routerLink]="['/masters/jso']"><a>{{'jso' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'unsafe_action_statuses' | translate}}</li>
        </ol>
    </nav>
    <table class="table-master table" *ngIf="UnsafeActionStatusMasterStore?.loaded && UnsafeActionStatusMasterStore.allItems.length > 0">
        <tr>
            <th style="width: 5%; text-align: center;">{{'sl' | translate}}</th> 
            <th (click)="sortTitle('unsafe_action_status_language.title')" class="border-top-0 issue-list-org-tab-three pointer" style="width: 15%;"><span>{{'status' | translate}}</span>
                <img _ngcontent-twv-c17="" *ngIf="UnsafeActionStatusMasterStore.orderItem=='unsafe_action_status_language.title'" class="sort-down-pics pl-2" 
                [attr.src]="UnsafeActionStatusMasterStore.orderBy=='desc' ? 
                'assets/images/sort-up.png' : UnsafeActionStatusMasterStore.orderBy=='asc' ? 
                'assets/images/sort-down.png' : 'assets/images/sort-empty.png'">


            </th>           
            <!-- <th style="width: 15%;">{{'status' | translate}}</th> -->
        </tr>
        <ng-container *mobxAutorun>
            <tr class="edit-and-delete-main" *ngFor="let row of UnsafeActionStatusMasterStore?.allItems | paginate: {currentPage:UnsafeActionStatusMasterStore?.currentPage, itemsPerPage:UnsafeActionStatusMasterStore?.itemsPerPage,totalItems:UnsafeActionStatusMasterStore?.totalItems}; let num = index">
                <td style="text-align: center;">{{(UnsafeActionStatusMasterStore?.currentPage - 1) * UnsafeActionStatusMasterStore?.itemsPerPage + (num + 1)}}</td>
                <td><a>{{row.unsafe_action_status_language}}</a></td>
            </tr>
        </ng-container>
    </table>
    <ng-container *mobxAutorun>
        <div *ngIf="!UnsafeActionStatusMasterStore.loaded">
            <app-table-loader></app-table-loader>
        </div>
        <app-no-data *ngIf = "UnsafeActionStatusMasterStore.allItems.length == 0 && UnsafeActionStatusMasterStore.loaded == true"></app-no-data>
   
    </ng-container>

    <div *ngIf="UnsafeActionStatusMasterStore.totalItems>UnsafeActionStatusMasterStore.itemsPerPage" class="col-sm-12">
        <ul class="pagination justify-content-center mt-3">
            <div class="list">
                <pagination-controls [previousLabel]="'previous' | translate" [nextLabel]="'next' | translate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> 
            </div>
        </ul>
    </div>
</div>


<!------------------- Delete Confirmation Modal Start --------------------------->

<div class="modal modal-style-1 fade" id="delete-popup" #confirmationPopUp data-backdrop="static" data-keyboard="false">
    <app-delete-popup [source]="popupObject"></app-delete-popup>
</div>

<div class="modal modal-style-1 email-popup-new fade" data-backdrop="static" data-keyboard="false"
  id="email-notification-popup" #mailConfirmationPopup>
  <app-mail-send-popup [source] = "mailConfirmationData"></app-mail-send-popup>
</div>
